Repository tensorflow/tensorflow, pull requests merged in 2020-08, with the labels that each got.

#41479 Add auto_mixed_precision_mkl to run-once optimizer list
  tensorflow/core/grappler/optimizers/meta_optimizer.cc
Labels: cla: yes, comp:grappler, ready to pull, size:XS

#41911 [INTEL MKL] pooling ops build fix.
  tensorflow/core/kernels/mkl_pooling_ops_common.cc
Labels: cla: yes, comp:mkl, ready to pull, size:XS

#40693 Update to have a better error message for tf.math.segment_[*]
  tensorflow/core/kernels/segment_reduction_ops_impl_1.cc
  tensorflow/python/kernel_tests/segment_reduction_ops_test.py
Labels: cla: yes, prtype:bugfix, ready to pull, size:S

#41944 Hadoop filesystem Part 1
  tensorflow/c/experimental/filesystem/plugins/hadoop/BUILD
  tensorflow/c/experimental/filesystem/plugins/hadoop/hadoop_filesystem.cc
Labels: cla: yes, ready to pull, size:M

#41579 Enable eager test for gradient descent optimizer
  tensorflow/python/keras/optimizer_v2/gradient_descent_test.py
Labels: awaiting review, cla: yes, comp:keras, ready to pull, size:L

#42011 changed OnesLike to ZerosLike
  tensorflow/c/eager/gradients.cc
Labels: cla: yes, ready to pull, size:XS

#41923 [Wsign-compare] warning resolutions, by directory, 16
  tensorflow/compiler/xla/service/service.cc
Labels: cla: yes, ready to pull, size:S

#41970 [DOC] Fix tf.math.conj doc
  tensorflow/python/ops/math_ops.py
Labels: cla: yes, ready to pull, size:S

#41928 Introduce the aarch64 ARM release CI
  README.md
Labels: cla: yes, ready to pull, size:XS

#41088 Update output_handler.cc
  tensorflow/lite/micro/examples/hello_world/sparkfun_edge/output_handler.cc
Labels: cla: yes, comp:lite, comp:micro, ready to pull, size:XS

#41969 [TF:MLIR] Verify TransposeOp
  tensorflow/compiler/mlir/tensorflow/ir/tf_ops_n_z.cc
  tensorflow/compiler/mlir/tensorflow/tests/tf-ops.mlir
Labels: cla: yes, ready to pull, size:M

#41961 Add c interface for `core/platform:logging`
  tensorflow/c/BUILD
  tensorflow/c/logging.cc
  tensorflow/c/logging.h
Labels: cla: yes, ready to pull, size:M

#42013 Add macro for name hiding in FileSystem derived classes
  tensorflow/core/platform/file_system.h
Labels: cla: yes, comp:core, ready to pull, size:S

#41788 [XLA] Make LLVM code easier to read.
  tensorflow/compiler/xla/service/gpu/elemental_ir_emitter.cc
Labels: cla: yes, comp:xla, ready to pull, size:XS

#41747 Replaced the batch sizes with 'None' instead '?'
  tensorflow/python/keras/utils/vis_utils.py
Labels: cla: yes, comp:keras, ready to pull, size:XS

#41645 [INTEL MKL] Changes to oneDNN build to remove binary blob when building with opensource components only.
  .bazelrc
  tensorflow/core/kernels/mkl_batch_matmul_op.cc
  tensorflow/core/kernels/mkl_matmul_ops_common.h
  tensorflow/tensorflow.bzl
  third_party/mkl/BUILD
  third_party/mkl/build_defs.bzl
  third_party/mkl_dnn/BUILD
  third_party/mkl_dnn/build_defs.bzl
  third_party/mkl_dnn/mkldnn.BUILD
  third_party/mkl_dnn/mkldnn_v1.BUILD
Labels: cla: yes, comp:mkl, ready to pull, size:M

#41927 [Docs] Updated docs for tf.custom_gradient with examples
  tensorflow/python/ops/custom_gradient.py
Labels: cla: yes, comp:ops, ready to pull, size:S

#42028 Hadoop filesystem Part 2
  tensorflow/c/experimental/filesystem/plugins/hadoop/hadoop_filesystem.cc
Labels: cla: yes, ready to pull, size:M

#42029 Bump google-cloud-cpp to 1.16.0
  tensorflow/workspace.bzl
Labels: cla: yes, ready to pull, size:XS

#40201 TF-TRT reduction op converter tests
  tensorflow/compiler/tf2tensorrt/convert/convert_nodes.cc
  tensorflow/compiler/tf2tensorrt/convert/convert_nodes_test.cc
Labels: cla: yes, comp:gpu:tensorrt, ready to pull, size:L

#41680 Added missing docstrings in dataset_utils.py module
  tensorflow/python/keras/preprocessing/dataset_utils.py
Labels: cla: yes, comp:keras, ready to pull, size:S

#41047 [INTEL MKL] Comparison and cast op fusion
  tensorflow/core/framework/tensor_testutil.cc
  tensorflow/core/grappler/op_types.cc
  tensorflow/core/grappler/op_types.h
  tensorflow/core/grappler/optimizers/remapper.cc
  tensorflow/core/grappler/optimizers/remapper_test.cc
  tensorflow/core/grappler/utils/grappler_test.h
  tensorflow/core/kernels/cwise_op_equal_to_1.cc
  tensorflow/core/kernels/cwise_op_greater.cc
  tensorflow/core/kernels/cwise_op_greater_equal.cc
  tensorflow/core/kernels/cwise_op_less.cc
  tensorflow/core/kernels/cwise_op_less_equal.cc
  tensorflow/core/kernels/cwise_op_not_equal_to_1.cc
  tensorflow/core/kernels/cwise_ops.h
  tensorflow/core/kernels/cwise_ops_test.cc
  tensorflow/core/ops/math_ops.cc
Labels: cla: yes, ready to pull, size:L

#39990 Add TF-TRT converter for Shape op
  tensorflow/compiler/tf2tensorrt/convert/convert_nodes.cc
  tensorflow/compiler/tf2tensorrt/convert/convert_nodes_test.cc
  tensorflow/compiler/tf2tensorrt/utils/trt_shape_optimization_profiles.cc
Labels: cla: yes, comp:gpu:tensorrt, ready to pull, size:L

#42040 [DOC] Fix math_ops.py doc
  tensorflow/python/ops/math_ops.py
Labels: cla: yes, comp:ops, ready to pull, size:S

#41946 Moving some filesystems to Transactional API part 1
  tensorflow/c/experimental/filesystem/modular_filesystem.cc
  tensorflow/c/experimental/filesystem/modular_filesystem.h
  tensorflow/core/common_runtime/constant_folding_test.cc
  tensorflow/core/kernels/immutable_constant_op_test.cc
  tensorflow/core/platform/cloud/gcs_file_system.cc
  tensorflow/core/platform/cloud/gcs_file_system.h
  tensorflow/core/platform/cloud/gcs_file_system_test.cc
  tensorflow/core/platform/env_test.cc
  tensorflow/core/platform/file_system.h
  tensorflow/core/platform/file_system_test.cc
  tensorflow/core/platform/null_file_system.h
  tensorflow/core/platform/ram_file_system.h
  tensorflow/core/platform/retrying_file_system.h
  tensorflow/core/platform/retrying_file_system_test.cc
  tensorflow/core/platform/s3/s3_file_system.cc
  tensorflow/core/platform/s3/s3_file_system.h
  tensorflow/python/framework/test_file_system.cc
Labels: cla: yes, ready to pull, size:L

#40961 Layout grappler optimization for NDHWC Conv3D
  tensorflow/core/grappler/op_types.cc
  tensorflow/core/grappler/op_types.h
  tensorflow/core/grappler/optimizers/generic_layout_optimizer.cc
  tensorflow/core/grappler/optimizers/generic_layout_optimizer_transposer.cc
  tensorflow/core/grappler/optimizers/generic_layout_optimizer_transposer.h
  tensorflow/core/grappler/optimizers/generic_layout_optimizer_transposer_factory.cc
  tensorflow/core/kernels/data_format_ops.cc
  tensorflow/python/grappler/layout_optimizer_test.py
Labels: cla: yes, comp:grappler, ready to pull, size:L

#42095 add /hip suffix to find hip path
  third_party/gpus/rocm_configure.bzl
Labels: cla: yes, ready to pull, size:XS

#42097 BUG: log_cosh alias missing results in round-trip serialization failure
  tensorflow/python/keras/metrics.py
Labels: cla: yes, comp:keras, ready to pull, size:XS

#41407 TFLM: To add Himax WE1 EVB examples
  tensorflow/lite/micro/examples/magic_wand/README.md
  tensorflow/lite/micro/examples/magic_wand/himax_we1_evb/accelerometer_handler.cc
  tensorflow/lite/micro/examples/micro_speech/README.md
  tensorflow/lite/micro/examples/micro_speech/himax_we1_evb/audio_provider.cc
  tensorflow/lite/micro/examples/micro_speech/himax_we1_evb/command_responder.cc
  tensorflow/lite/micro/himax_we1_evb/debug_log.cc
  tensorflow/lite/micro/tools/make/third_party_downloads.inc
Labels: cla: yes, comp:lite, comp:micro, ready to pull, size:L

#42102 Utilize TensorFormat
  tensorflow/compiler/mlir/tensorflow/ir/tf_ops_a_m.cc
Labels: cla: yes, ready to pull, size:S

#42067 Fix issue in tf.string.format wheree unicode is not rendered correctly
  tensorflow/core/framework/tensor.cc
  tensorflow/python/kernel_tests/string_format_op_test.py
Labels: cla: yes, prtype:bugfix, ready to pull, size:M

#41064 fix docker envs
  tensorflow/tools/dockerfiles/dockerfiles/devel-gpu-jupyter.Dockerfile
  tensorflow/tools/dockerfiles/dockerfiles/devel-gpu.Dockerfile
  tensorflow/tools/dockerfiles/dockerfiles/ppc64le/devel-gpu-ppc64le-jupyter.Dockerfile
  tensorflow/tools/dockerfiles/dockerfiles/ppc64le/devel-gpu-ppc64le.Dockerfile
  tensorflow/tools/dockerfiles/partials/ubuntu/devel-nvidia.partial.Dockerfile
Labels: cla: yes, ready to pull, size:XS

#40317 Make http://metadata.google.internal configurable
  tensorflow/python/tpu/client/client.py
Labels: cla: yes, ready to pull, size:S

#41013 Fix the function name in debugging.md
  tensorflow/python/autograph/g3doc/reference/debugging.md
Labels: cla: yes, comp:autograph, ready to pull, size:XS

#41345 TensorMap: Add TensorMap data structure, operations, and gradients
  tensorflow/cc/BUILD
  tensorflow/core/BUILD
  tensorflow/core/api_def/base_api/api_def_EmptyTensorMap.pbtxt
  tensorflow/core/api_def/base_api/api_def_TensorMapErase.pbtxt
  tensorflow/core/api_def/base_api/api_def_TensorMapHasKey.pbtxt
  tensorflow/core/api_def/base_api/api_def_TensorMapInsert.pbtxt
  tensorflow/core/api_def/base_api/api_def_TensorMapLookup.pbtxt
  tensorflow/core/api_def/base_api/api_def_TensorMapSize.pbtxt
  tensorflow/core/framework/BUILD
  tensorflow/core/framework/tensor_key.h
  tensorflow/core/kernels/BUILD
  tensorflow/core/kernels/map_kernels.cc
  tensorflow/core/kernels/map_kernels.h
  tensorflow/core/kernels/tensor_map.cc
  tensorflow/core/kernels/tensor_map.h
  tensorflow/core/kernels/tensor_map_test.cc
  tensorflow/core/ops/map_ops.cc
  tensorflow/python/BUILD
  tensorflow/python/kernel_tests/BUILD
  tensorflow/python/kernel_tests/map_ops_test.py
  tensorflow/python/ops/map_ops.py
Labels: cla: yes, ready to pull, size:XL

#42104 Fixed the Windows build for TF Scala.
  tensorflow/BUILD
  tensorflow/core/util/tensor_bundle/tensor_bundle.cc
  tensorflow/core/util/tensor_bundle/tensor_bundle.h
  tensorflow/tools/def_file_filter/def_file_filter.py.tpl
Labels: cla: yes, ready to pull, size:M

#41832 Fix #41630: include max_seq_length in cudnn descriptor cache key
  tensorflow/core/kernels/cudnn_rnn_ops.cc
Labels: cla: yes, comp:core, ready to pull, size:XS

#41782 [ROCm][XLA] Fixing no_alias_test
  tensorflow/compiler/xla/service/gpu/tests/gpu_noalias_test.cc
Labels: cla: yes, comp:xla, ready to pull, size:S

#42137 Fix a logic issue of layout optimizer
  tensorflow/core/grappler/optimizers/generic_layout_optimizer.cc
Labels: cla: yes, comp:grappler, ready to pull, size:XS

#42109 Check input and axis param in quantize and dequantize
  tensorflow/python/ops/array_ops.py
Labels: cla: yes, comp:ops, prtype:bugfix, ready to pull, size:XS

#42136 Gcs Filesystem refactor part 1
  tensorflow/c/experimental/filesystem/plugins/gcs/gcs_filesystem.cc
Labels: cla: yes, comp:cloud, ready to pull, size:M

#41556 Fix setting out_mtypes in MemoryTypesForNode
  tensorflow/core/framework/memory_types.cc
  tensorflow/core/framework/memory_types_test.cc
Labels: cla: yes, comp:core, ready to pull, size:XS

#42158 C++17 build without linking libc++
  .bazelrc
Labels: cla: yes, ready to pull, size:XS

#42042 Add README.md for keras_examples_benchmarks folder
  tensorflow/python/keras/benchmarks/keras_examples_benchmarks/README.md
Labels: cla: yes, comp:keras, ready to pull, size:M

#42191 Gcs refactor part 2
  tensorflow/c/experimental/filesystem/plugins/gcs/gcs_filesystem.cc
Labels: cla: yes, comp:cloud, ready to pull, size:M

#42031 Enable depthwise convs in auto_mixed_precision
  tensorflow/core/grappler/optimizers/auto_mixed_precision_lists.h
  tensorflow/python/grappler/auto_mixed_precision_test.py
Labels: cla: yes, comp:grappler, ready to pull, size:S

#42179 [EXT-SYSLIB] Add runtime_py for external flatbuffer.
  third_party/flatbuffers/BUILD.system
Labels: cla: yes, ready to pull, size:XS

#42135 [TF:MLIR] Improve parallelism of tf.AddN
  tensorflow/compiler/mlir/tensorflow/tests/lower_tf.mlir
  tensorflow/compiler/mlir/tensorflow/transforms/lower_tf.cc
Labels: cla: yes, ready to pull, size:M

#41942 Eliminate nest.flatten() call in _filtered_call
  tensorflow/python/eager/def_function.py
  tensorflow/python/eager/function.py
Labels: cla: yes, comp:eager, ready to pull, size:M

#40913 Support float32->int16 and int16->int16 quantization in TFLu
  tensorflow/lite/micro/kernels/quantize.cc
  tensorflow/lite/micro/kernels/quantize_test.cc
Labels: cla: yes, comp:lite, comp:micro, ready to pull, size:M

#42148 [ROCm] Enabling XLA specific subtests (for ROCm) within the test `def_function_xla_jit_test`
  tensorflow/python/eager/def_function_xla_jit_test.py
Labels: cla: yes, comp:gpu, ready to pull, size:S

#37411 Fix a go binding install error on windows platform
  tensorflow/go/genop/generate.go
  tensorflow/go/genop/generate.sh
  tensorflow/go/genop/generate.win.go
  tensorflow/go/genop/main.go
Labels: cla: yes, ready to pull, size:S

#41214 Resubmit: Fix distributed autocast variable assignment
  tensorflow/python/keras/mixed_precision/experimental/autocast_variable.py
  tensorflow/python/keras/mixed_precision/experimental/autocast_variable_test.py
Labels: cla: yes, comp:keras, ready to pull, size:M

#42195 [TF:MLIR] Canonicalize ShapeNOp with partial static input shape
  tensorflow/compiler/mlir/tensorflow/ir/tf_generated_ops.td
  tensorflow/compiler/mlir/tensorflow/ir/tf_ops_n_z.cc
  tensorflow/compiler/mlir/tensorflow/tests/constant-fold.mlir
Labels: cla: yes, ready to pull, size:M

#42225 Resolved an execution error when the path contains space
  configure.cmd
Labels: cla: yes, ready to pull, size:XS

#42034 Add clustering to TF Model Optimization overview
  tensorflow/lite/g3doc/performance/model_optimization.md
Labels: awaiting review, cla: yes, comp:lite, ready to pull, size:S

#42240 [Intel MKL] Enable eager mode support for MKL Conv2D BF16 type
  tensorflow/core/common_runtime/eager/mkl_eager_op_rewrite.cc
  tensorflow/core/common_runtime/eager/mkl_eager_op_rewrite_test.cc
Labels: cla: yes, ready to pull, size:M

#42074 Create directory if not exist when saving keras model in h5
  tensorflow/python/keras/callbacks.py
  tensorflow/python/keras/saving/hdf5_format.py
  tensorflow/python/keras/saving/hdf5_format_test.py
Labels: cla: yes, comp:keras, prtype:bugfix, ready to pull, size:M

#41336 Adding log_warning option in tf.data.experimental.ignore_errors
  tensorflow/core/kernels/data/experimental/BUILD
  tensorflow/core/kernels/data/experimental/ignore_errors_dataset_op.cc
  tensorflow/core/ops/experimental_dataset_ops.cc
  tensorflow/python/data/experimental/kernel_tests/ignore_errors_test.py
  tensorflow/python/data/experimental/ops/error_ops.py
  tensorflow/tools/api/golden/v1/tensorflow.data.experimental.pbtxt
  tensorflow/tools/api/golden/v1/tensorflow.raw_ops.pbtxt
  tensorflow/tools/api/golden/v2/tensorflow.data.experimental.pbtxt
  tensorflow/tools/api/golden/v2/tensorflow.raw_ops.pbtxt
Labels: cla: yes, comp:data, ready to pull, size:M

#41916 [TF2XLA] Add EuclideanNorm kernel
  tensorflow/compiler/jit/mark_for_compilation_pass.cc
  tensorflow/compiler/tests/reduce_ops_test.py
  tensorflow/compiler/tf2xla/kernels/reduction_ops.cc
  tensorflow/compiler/tf2xla/kernels/reduction_ops.h
  tensorflow/compiler/tf2xla/kernels/reduction_ops_common.cc
Labels: cla: yes, prtype:bugfix, ready to pull, size:M

#41834 Histogram summary
  tensorflow/c/kernels/BUILD
  tensorflow/c/kernels/histogram_summary_op.cc
  tensorflow/c/kernels/ops/histogram_summary.cc
  tensorflow/core/BUILD
  tensorflow/core/kernels/BUILD
  tensorflow/core/kernels/summary_op.cc
  tensorflow/core/ops/logging_ops.cc
  tensorflow/python/BUILD
Labels: cla: yes, ready to pull, size:L

#41713 Allocate temp
  tensorflow/c/BUILD
  tensorflow/c/c_api_macros.h
  tensorflow/c/kernels.cc
  tensorflow/c/kernels.h
  tensorflow/c/kernels_test.cc
  tensorflow/c/tf_tensor.h
Labels: API review, cla: yes, ready to pull, size:M

#42141 TensorMap: Add Erase Gradient and Gradient Tests
  tensorflow/core/kernels/map_kernels.cc
  tensorflow/core/kernels/map_kernels.h
  tensorflow/core/kernels/tensor_map.cc
  tensorflow/core/kernels/tensor_map.h
  tensorflow/core/kernels/tensor_map_test.cc
  tensorflow/python/kernel_tests/map_ops_test.py
  tensorflow/python/ops/map_ops.py
Labels: cla: yes, ready to pull, size:L

#42269 Fix eager tensor concat
  tensorflow/python/ops/signal/shape_ops.py
Labels: cla: yes, comp:ops, ready to pull, size:XS

#42317 Enable depthwise convs in auto_mixed_precision (resubmit)
  tensorflow/core/grappler/optimizers/auto_mixed_precision_lists.h
  tensorflow/python/grappler/auto_mixed_precision_test.py
Labels: cla: yes, comp:grappler, ready to pull, size:M

#42292 fix path of hipcc to match rocm packaging
  third_party/gpus/rocm_configure.bzl
Labels: cla: yes, comp:gpu, ready to pull, size:XS

#42274 Add log to s3 filesystem
  tensorflow/c/BUILD
  tensorflow/c/experimental/filesystem/plugins/s3/BUILD
  tensorflow/c/experimental/filesystem/plugins/s3/s3_filesystem.cc
Labels: cla: yes, comp:cloud, ready to pull, size:S

#41719 [MLIR:LITE] Fix PackOp verify
  tensorflow/compiler/mlir/lite/ir/tfl_ops.cc
  tensorflow/compiler/mlir/lite/tests/ops.mlir
Labels: cla: yes, ready to pull, size:S

#41762 [doc] Enrich doc for jit_scope for clarification
  tensorflow/python/compiler/xla/jit.py
Labels: cla: yes, comp:xla, ready to pull, size:S

#42073 [INTEL MKL]Changed the DNNL version to 1.5.1
  tensorflow/workspace.bzl
  third_party/mkl_dnn/mkldnn_v1.BUILD
Labels: cla: yes, comp:mkl, ready to pull, size:S

#42048 Add test for nested batch accumulator
  tensorflow/python/eager/forwardprop_test.py
Labels: cla: yes, comp:eager, ready to pull, size:S

#42334 Fix floating point exception when zero shape tensor passed to tf.reverse
  tensorflow/core/kernels/reverse_op.cc
  tensorflow/python/kernel_tests/array_ops_test.py
Labels: cla: yes, comp:core, prtype:bugfix, ready to pull, size:XS

#42161 [INTEL MKL] Adding MPICH partials and Dockerfiles for OneDNN
  tensorflow/tools/dockerfiles/dockerfiles/onednn/ubuntu-16.04-devel-onednn-mpich-horovod-jupyter.Dockerfile
  tensorflow/tools/dockerfiles/dockerfiles/onednn/ubuntu-16.04-devel-onednn-mpich-horovod.Dockerfile
  tensorflow/tools/dockerfiles/dockerfiles/onednn/ubuntu-16.04-onednn-mpich-horovod-jupyter.Dockerfile
  tensorflow/tools/dockerfiles/dockerfiles/onednn/ubuntu-16.04-onednn-mpich-horovod.Dockerfile
  tensorflow/tools/dockerfiles/dockerfiles/onednn/ubuntu-18.04-devel-onednn-mpich-horovod-jupyter.Dockerfile
  tensorflow/tools/dockerfiles/dockerfiles/onednn/ubuntu-18.04-devel-onednn-mpich-horovod.Dockerfile
  tensorflow/tools/dockerfiles/dockerfiles/onednn/ubuntu-18.04-onednn-mpich-horovod-jupyter.Dockerfile
  tensorflow/tools/dockerfiles/dockerfiles/onednn/ubuntu-18.04-onednn-mpich-horovod.Dockerfile
  tensorflow/tools/dockerfiles/dockerfiles/onednn/ubuntu-20.04-devel-onednn-mpich-horovod-jupyter.Dockerfile
  tensorflow/tools/dockerfiles/dockerfiles/onednn/ubuntu-20.04-devel-onednn-mpich-horovod.Dockerfile
  tensorflow/tools/dockerfiles/dockerfiles/onednn/ubuntu-20.04-onednn-mpich-horovod-jupyter.Dockerfile
  tensorflow/tools/dockerfiles/dockerfiles/onednn/ubuntu-20.04-onednn-mpich-horovod.Dockerfile
  tensorflow/tools/dockerfiles/partials/onednn/ubuntu/1604-mpich.partial.Dockerfile
  tensorflow/tools/dockerfiles/partials/onednn/ubuntu/mpich.partial.Dockerfile
  tensorflow/tools/dockerfiles/spec.yml
Labels: cla: yes, ready to pull, size:XL

#42307 Enabling a debug dll build under Windows (without CUDA, at least)
  tensorflow/core/kernels/depthtospace_op.cc
  tensorflow/core/kernels/spacetodepth_op.cc
Labels: cla: yes, comp:core, ready to pull, size:M, type:build/install

#42036 [TF:MLIR] Legalize tf.diag with tf2xla
  tensorflow/compiler/mlir/tensorflow/ir/tf_generated_ops.td
  tensorflow/compiler/mlir/xla/tests/legalize-tf-with-tf2xla.mlir
  tensorflow/compiler/mlir/xla/transforms/legalize_tf_with_tf2xla.cc
  tensorflow/compiler/tests/unary_ops_test.py
Labels: cla: yes, ready to pull, size:S

#41386 Add complex data type support for tf.math.acos in XLA
  tensorflow/compiler/xla/client/lib/math.cc
  tensorflow/compiler/xla/client/lib/math_test.cc
Labels: cla: yes, comp:xla, prtype:bugfix, ready to pull, size:S

#42032 Fix the usage of uninitialized variable in adaptive_shared_batch_scheduler and windows build error.
  tensorflow/core/kernels/batching_util/adaptive_shared_batch_scheduler.h
Labels: cla: yes, comp:core, ready to pull, size:XS

#41735 [MLIR:LITE] Verify unpack op
  tensorflow/compiler/mlir/lite/BUILD
  tensorflow/compiler/mlir/lite/ir/tfl_ops.cc
  tensorflow/compiler/mlir/lite/ir/tfl_ops.h
  tensorflow/compiler/mlir/lite/ir/tfl_ops.td
  tensorflow/compiler/mlir/lite/tests/ops.mlir
Labels: cla: yes, ready to pull, size:M

#42400 [tflite] Make --nnapi_accelerator_name work in kernel tests
  tensorflow/lite/kernels/test_main.cc
Labels: cla: yes, comp:lite, ready to pull, size:S

#42433 Remove unnecessary assignment in BaseResourceVariable
  tensorflow/python/ops/resource_variable_ops.py
Labels: cla: yes, comp:ops, ready to pull, size:XS

#42108 [ROCm] Updates to dynamically load the ROCm "hipsparse" library
  tensorflow/core/kernels/sparse/mat_mul_op.cc
  tensorflow/core/util/BUILD
  tensorflow/core/util/cuda_sparse.h
  tensorflow/core/util/rocm_sparse.cc
  tensorflow/stream_executor/platform/default/dso_loader.cc
  tensorflow/stream_executor/platform/default/dso_loader.h
  tensorflow/stream_executor/rocm/BUILD
  tensorflow/stream_executor/rocm/hipsparse_wrapper.h
  third_party/gpus/rocm/BUILD.tpl
Labels: cla: yes, comp:gpu, ready to pull, size:M

#42415 Add aws_logging
  tensorflow/c/experimental/filesystem/plugins/s3/BUILD
  tensorflow/c/experimental/filesystem/plugins/s3/aws_logging.cc
  tensorflow/c/experimental/filesystem/plugins/s3/aws_logging.h
  tensorflow/c/experimental/filesystem/plugins/s3/s3_filesystem.cc
Labels: cla: yes, comp:cloud, ready to pull, size:M

#42406 Add None check to restorer
  tensorflow/python/tools/saved_model_aot_compile.py
Labels: cla: yes, ready to pull, size:XS

#42333 Fix deprecation warning of keras.backend.random_bernoulli
  tensorflow/python/keras/backend.py
Labels: cla: yes, comp:keras, ready to pull, size:S

#42241 Pare down canonicalize_function_inputs logic
  tensorflow/python/eager/function.py
Labels: cla: yes, comp:eager, ready to pull, size:M

#42220 Typing mistake in the documentation of momentum optimization
  tensorflow/python/keras/optimizer_v2/gradient_descent.py
Labels: awaiting review, cla: yes, comp:keras, ready to pull, size:XS

#42472 Hash first in _make_input_signature_hashable
  tensorflow/python/eager/function.py
Labels: cla: yes, ready to pull, size:S

#42448 [INTEL MKL] Enable NCHW to NHWC conversion for CPU - part1
  tensorflow/core/grappler/optimizers/generic_layout_optimizer.cc
  tensorflow/core/grappler/optimizers/generic_layout_optimizer.h
  tensorflow/core/grappler/optimizers/generic_layout_optimizer_test.cc
  tensorflow/core/grappler/optimizers/generic_layout_optimizer_transposer.h
  tensorflow/core/grappler/optimizers/meta_optimizer.cc
  tensorflow/core/protobuf/rewriter_config.proto
Labels: cla: yes, comp:grappler, ready to pull, size:L

#41560 [TFLite] Added coverage test for 16x8 quantizaion post-training mode.
  tensorflow/lite/testing/model_coverage/model_coverage_lib.py
  tensorflow/lite/testing/model_coverage/model_coverage_lib_test.py
Labels: cla: yes, comp:lite, ready to pull, size:M

#37348 Improve ETA estimate for model.fit
  tensorflow/python/keras/utils/generic_utils.py
Labels: cla: yes, comp:keras, ready to pull, size:S

#42494 [DOC] Minor fix on AutoGraph limitation doc
  tensorflow/python/autograph/g3doc/reference/limitations.md
Labels: cla: yes, comp:autograph, ready to pull, size:XS

#42473 Check libraries linked into mlir-hlo-opt
  tensorflow/compiler/mlir/hlo/tools/mlir-hlo-opt/CMakeLists.txt
Labels: cla: yes, ready to pull, size:XS

#42299 TensorMap: Modify Erase Op to Not Return Erased Element
  tensorflow/core/api_def/base_api/api_def_TensorMapErase.pbtxt
  tensorflow/core/kernels/map_kernels.h
  tensorflow/core/ops/compat/ops_history_v2/TensorMapErase.pbtxt
  tensorflow/core/ops/map_ops.cc
  tensorflow/python/kernel_tests/map_ops_test.py
  tensorflow/python/ops/map_ops.py
Labels: cla: yes, ready to pull, size:M

#41936 [XLA] When LLVM doesn't know a CC that is more recent, warn only to developers.
  tensorflow/compiler/xla/service/gpu/llvm_gpu_backend/gpu_backend_lib.cc
Labels: cla: yes, comp:xla, ready to pull, size:S

#41775 Added a "note" in tf.where as workaround for issue #38349
  tensorflow/python/ops/array_ops.py
Labels: cla: yes, comp:ops, ready to pull, size:S

#42071 [Intel MKL] Supporting native format in Convolution Fwd
  tensorflow/core/common_runtime/eager/mkl_eager_op_rewrite.cc
  tensorflow/core/common_runtime/eager/mkl_eager_op_rewrite_test.cc
  tensorflow/core/graph/mkl_graph_util.h
  tensorflow/core/kernels/mkl/mkl_conv_grad_filter_ops.cc
  tensorflow/core/kernels/mkl/mkl_conv_grad_input_ops.cc
  tensorflow/core/kernels/mkl/mkl_conv_ops.cc
  tensorflow/core/ops/nn_ops.cc
Labels: cla: yes, comp:mkl, ready to pull, size:M

#42397 Prevent Aborted (core dumped) in tf.nest.assert_same_structure for type mismatch in passed args
  tensorflow/python/util/nest.py
  tensorflow/python/util/nest_test.py
Labels: cla: yes, comp:core, prtype:bugfix, ready to pull, size:S

#42497 Fix table for README.md
  tensorflow/python/keras/benchmarks/keras_examples_benchmarks/README.md
Labels: cla: yes, comp:keras, ready to pull, size:M

#42489 Enable Conv + Biasadd + LeakyRelu Fusion with Eigen implementation in CPU
  tensorflow/core/grappler/op_types.cc
  tensorflow/core/grappler/op_types.h
  tensorflow/core/grappler/optimizers/BUILD
  tensorflow/core/grappler/optimizers/remapper.cc
  tensorflow/core/grappler/optimizers/remapper_test.cc
  tensorflow/core/kernels/BUILD
  tensorflow/core/kernels/conv_ops_fused_impl.h
  tensorflow/core/kernels/conv_ops_test.cc
  tensorflow/core/kernels/fused_eigen_output_kernels.cc
  tensorflow/core/kernels/fused_eigen_output_kernels.h
  tensorflow/core/ops/nn_ops.cc
Labels: cla: yes, comp:core, ready to pull, size:L

#42072 [Intel MKL] Supporting native format in Convolution Bwd
  tensorflow/core/kernels/mkl/mkl_conv_grad_filter_ops.cc
  tensorflow/core/kernels/mkl/mkl_conv_grad_input_ops.cc
Labels: cla: yes, comp:mkl, ready to pull, size:M

#42404 [tflite] allow gpu delegate to run quant model in tflite demo
  tensorflow/lite/java/demo/app/src/main/java/com/example/android/tflitecamerademo/Camera2BasicFragment.java
  tensorflow/lite/java/demo/app/src/main/java/com/example/android/tflitecamerademo/ImageClassifier.java
Labels: cla: yes, comp:lite, ready to pull, size:XS

#42460 Add va_end to TF_Log
  tensorflow/c/logging.cc
Labels: cla: yes, ready to pull, size:XS

#42501 Update CONTRIBUTING.md
  CONTRIBUTING.md
Labels: cla: yes, ready to pull, size:XS

#42196 [ROCm] Explicitly specifying dtype=np.float32 for *ExpandedBatch subtests in conv_ops_3d_test
  tensorflow/python/kernel_tests/conv_ops_3d_test.py
Labels: cla: yes, comp:gpu, ready to pull, size:XS

#42110 Fix a conv3d dgrad type issue
  tensorflow/core/kernels/conv_grad_ops_3d.cc
Labels: cla: yes, comp:core, ready to pull, size:XS

#42194 Added TF_ForwardInputOrAllocateOutput to Kernel C API
  tensorflow/c/kernels.cc
  tensorflow/c/kernels.h
  tensorflow/c/kernels_test.cc
Labels: API review, cla: yes, ready to pull, size:M

#42533 Pin numpy version to 1.19
  tensorflow/tools/pip_package/setup.py
Labels: cla: yes

#42536 Pin numpy version to 1.19
  tensorflow/tools/pip_package/setup.py
Labels: cla: yes

#42537 Pin numpy version to 1.19
  tensorflow/tools/pip_package/setup.py
Labels: cla: yes

#42538 Pin numpy version to 1.19
  tensorflow/tools/pip_package/setup.py
Labels: cla: yes

#42330 TFLite: reduced duplicated calculation of exp in softmax.h (float)
  tensorflow/lite/kernels/internal/reference/softmax.h
Labels: cla: yes, comp:lite, ready to pull, size:S

#42532 [TF:MLIR] Add complex type reciprocal pattern to TF to TF lowerings
  tensorflow/compiler/mlir/tensorflow/tests/lower_tf.mlir
  tensorflow/compiler/mlir/tensorflow/transforms/lower_tf.cc
  tensorflow/compiler/mlir/tensorflow/transforms/lower_tf.td
  tensorflow/compiler/mlir/xla/transforms/legalize_tf_with_tf2xla.cc
Labels: cla: yes, ready to pull, size:M

#42477 TFLite: reduced redundant calculation in uint8/float conv.h
  tensorflow/lite/kernels/internal/reference/conv.h
Labels: cla: yes, comp:lite, comp:micro, ready to pull, size:M

#41522 remove unused loss var in momentum_test.py
  tensorflow/python/training/momentum_test.py
Labels: cla: yes, ready to pull, size:XS

#41841 Merge summary kernel with C API
  tensorflow/c/kernels/BUILD
  tensorflow/c/kernels/merge_summary_op.cc
  tensorflow/c/kernels/ops/merge_summary.cc
  tensorflow/core/BUILD
  tensorflow/core/kernels/BUILD
  tensorflow/core/kernels/summary_op.cc
  tensorflow/core/ops/logging_ops.cc
  tensorflow/python/BUILD
Labels: cla: yes, ready to pull, size:L

#42555 Make Grappler also ignore functions transitively called by XlaLaunch ops
  tensorflow/core/grappler/optimizers/meta_optimizer.cc
Labels: cla: yes, comp:grappler, ready to pull, size:S

#42509 [MLIR] Add folder for mhlo get_dimension_size
  tensorflow/compiler/mlir/hlo/include/mlir-hlo/Dialect/mhlo/IR/hlo_ops.td
  tensorflow/compiler/mlir/hlo/lib/Dialect/mhlo/IR/hlo_ops.cc
  tensorflow/compiler/mlir/hlo/tests/canonicalize.mlir
Labels: cla: yes, ready to pull, size:S

#42583 Fix typo in mnist/input_data.py
  tensorflow/examples/tutorials/mnist/input_data.py
Labels: cla: yes, ready to pull, size:XS

#42591 Fix compiling against system protobuf
  third_party/systemlibs/protobuf.BUILD
Labels: cla: yes, ready to pull, size:M

#42526 Fix README.md
  tensorflow/python/keras/benchmarks/keras_examples_benchmarks/README.md
Labels: cla: yes, comp:keras, ready to pull, size:M

#42266 Use nasmlink genrule
  third_party/nasm/BUILD.system
Labels: cla: yes, ready to pull, size:XS

#42300 TensorMap: Add List Keys Op to TensorMap
  tensorflow/core/api_def/base_api/api_def_TensorMapStackKeys.pbtxt
  tensorflow/core/kernels/map_kernels.cc
  tensorflow/core/kernels/map_kernels.h
  tensorflow/core/kernels/tensor_map.h
  tensorflow/core/kernels/tensor_map_test.cc
  tensorflow/core/ops/compat/ops_history_v2/TensorMapHasKey.pbtxt
  tensorflow/core/ops/map_ops.cc
  tensorflow/python/kernel_tests/map_ops_test.py
  tensorflow/python/ops/map_ops.py
Labels: cla: yes, ready to pull, size:M

#42273 Add Init test hadoop
  tensorflow/c/experimental/filesystem/plugins/hadoop/BUILD
  tensorflow/c/experimental/filesystem/plugins/hadoop/hadoop_filesystem.cc
  tensorflow/c/experimental/filesystem/plugins/hadoop/hadoop_filesystem.h
  tensorflow/c/experimental/filesystem/plugins/hadoop/hadoop_filesystem_test.cc
Labels: cla: yes, ready to pull, size:M

#42516 Include jsonCPP headers via #include "json/json.h"
  tensorflow/core/platform/cloud/gcs_file_system.cc
  tensorflow/core/platform/cloud/google_auth_provider.cc
  tensorflow/core/platform/cloud/oauth_client.h
  tensorflow/core/profiler/convert/trace_events_to_json.cc
  tensorflow/core/profiler/convert/trace_events_to_json_test.cc
  tensorflow/core/profiler/internal/tfprof_timeline.h
  tensorflow/lite/tools/list_flex_ops.cc
  tensorflow/lite/tools/list_flex_ops_no_kernel.cc
  third_party/systemlibs/jsoncpp.BUILD
Labels: cla: yes, ready to pull, size:S

#42665 Update bot_config.yml
  .github/bot_config.yml
Labels: cla: yes, ready to pull, size:S

#42496 [T.F 2.0 API Docs] Adding to the documentation of tf.math.acos and tf.math.add functions
  tensorflow/core/api_def/base_api/api_def_Acos.pbtxt
  tensorflow/core/api_def/base_api/api_def_Add.pbtxt
Labels: cla: yes, ready to pull, size:S

#42350 Fix tests when TensorFloat-32 is enabled
  tensorflow/compiler/tests/cholesky_op_test.py
  tensorflow/compiler/tests/matrix_triangular_solve_op_test.py
  tensorflow/compiler/tests/qr_op_test.py
  tensorflow/compiler/tests/xla_test.py
  tensorflow/compiler/xla/client/lib/BUILD
  tensorflow/compiler/xla/client/lib/qr_test.cc
  tensorflow/compiler/xla/tests/BUILD
  tensorflow/compiler/xla/tests/cholesky_test.cc
  tensorflow/core/kernels/BUILD
  tensorflow/core/kernels/conv_ops_test.cc
  tensorflow/python/framework/function_test.py
  tensorflow/python/framework/test_util.py
  tensorflow/python/keras/BUILD
  tensorflow/python/keras/distribute/distribute_strategy_test.py
  tensorflow/python/keras/distribute/keras_dnn_correctness_test.py
  tensorflow/python/keras/distribute/keras_image_model_correctness_test.py
  tensorflow/python/keras/distribute/keras_rnn_model_correctness_test.py
  tensorflow/python/keras/distribute/keras_save_load_test.py
  tensorflow/python/keras/distribute/saved_model_mixed_api_test.py
  tensorflow/python/keras/distribute/saved_model_save_load_test.py
  tensorflow/python/keras/testing_utils.py
  tensorflow/python/kernel_tests/batch_matmul_op_test.py
  tensorflow/python/kernel_tests/cholesky_op_test.py
  tensorflow/python/kernel_tests/conv_ops_3d_test.py
  tensorflow/python/kernel_tests/distributions/dirichlet_multinomial_test.py
  tensorflow/python/kernel_tests/distributions/dirichlet_test.py
  tensorflow/python/kernel_tests/einsum_op_test.py
  tensorflow/python/kernel_tests/init_ops_test.py
  tensorflow/python/kernel_tests/linalg/sparse/csr_sparse_matrix_ops_test.py
  tensorflow/python/kernel_tests/linalg/sparse/csr_sparse_matrix_test.py
  tensorflow/python/kernel_tests/linalg_grad_test.py
  tensorflow/python/kernel_tests/lu_op_test.py
  tensorflow/python/kernel_tests/matmul_op_test.py
  tensorflow/python/kernel_tests/matrix_inverse_op_test.py
  tensorflow/python/kernel_tests/matrix_square_root_op_test.py
  tensorflow/python/kernel_tests/qr_op_test.py
  tensorflow/python/kernel_tests/rnn_cell_test.py
  tensorflow/python/kernel_tests/self_adjoint_eig_op_test.py
  tensorflow/python/kernel_tests/tensordot_op_test.py
  tensorflow/python/ops/image_ops_test.py
  tensorflow/python/ops/nn_test.py
  tensorflow/python/ops/parallel_for/math_test.py
  tensorflow/python/ops/special_math_ops_test.py
Labels: cla: yes, ready to pull, size:L

#42541 Split _cache_key
  tensorflow/python/eager/function.py
Labels: cla: yes, comp:eager, ready to pull, size:S

#39901 Fix make `overriding recipe` warnings
  tensorflow/lite/micro/benchmarks/Makefile.inc
  tensorflow/lite/micro/examples/person_detection/Makefile.inc
  tensorflow/lite/micro/tools/make/Makefile
Labels: cla: yes, comp:lite, comp:micro, ready to pull, size:XS

#42431 Remove unreachable codes of Bincount GPU kernels
  tensorflow/core/kernels/bincount_op_gpu.cu.cc
Labels: awaiting review, cla: yes, comp:core, ready to pull, size:S

#42571 Add some information on testing to the contribution guidelines.
  tensorflow/lite/micro/CONTRIBUTING.md
Labels: cla: yes, comp:micro, ready to pull, size:XS

#42635 Fix implicit conversion for hello_world on Sparkfun Edge
  tensorflow/lite/micro/examples/hello_world/sparkfun_edge/output_handler.cc
Labels: cla: yes, comp:micro, ready to pull, size:S

#42628 [INTEL MKL] oneDNN build fix
  third_party/mkl_dnn/mkldnn_v1.BUILD
Labels: cla: yes, comp:mkl, ready to pull, size:XS

#41947 TFLite: reduced redundant calculation in integer_ops conv.h
  tensorflow/lite/kernels/internal/reference/integer_ops/conv.h
Labels: cla: yes, comp:lite, ready to pull, size:M

#42674 Add more alternative path to find cuda library
  third_party/gpus/find_cuda_config.py
Labels: cla: yes, comp:gpu, ready to pull, size:XS

#42044 TF-TRT op converter test variable naming
  tensorflow/compiler/tf2tensorrt/convert/convert_nodes_test.cc
Labels: cla: yes, comp:gpu:tensorrt, ready to pull, size:M

#41586 Support TF logs in TerminateOnNaN callback
  tensorflow/python/keras/callbacks.py
Labels: cla: yes, comp:keras, ready to pull, size:XS

#42261 Update docker_test.sh: s/ci_bukld/ci_build/
  tensorflow/tools/ci_build/builds/docker_test.sh
Labels: cla: yes, ready to pull, size:XS

#41297 Summary op bm
  tensorflow/c/kernels/BUILD
  tensorflow/c/kernels/summary_op_benchmark_test.cc
Labels: cla: yes, ready to pull, size:M

#41342 [TFLite] Added op tests for leaky_relu
  tensorflow/lite/testing/op_tests/leaky_relu.py
Labels: cla: yes, comp:lite, ready to pull, size:S

#42685 TFLM: added optimized kernel directory for vexriscv
  tensorflow/lite/micro/kernels/vexriscv/README.md
Labels: cla: yes, comp:micro, ready to pull, size:S

#42702 TFLu: Update Ethos-U kernel
  tensorflow/lite/micro/kernels/ethos-u/ethosu.cc
Labels: cla: yes, comp:lite, comp:micro, ready to pull, size:M

#42633 Fix the documentation of unique_indices in EmitScatter.
  tensorflow/compiler/xla/service/gpu/ir_emitter_unnested.h
Labels: cla: yes, comp:xla, ready to pull, size:S

#42624 - added missing momentum in ApplyCenteredRMSProp and ResourceApplyCenteredRMSProp doc
  tensorflow/core/api_def/base_api/api_def_ApplyCenteredRMSProp.pbtxt
  tensorflow/core/api_def/base_api/api_def_ResourceApplyCenteredRMSProp.pbtxt
Labels: cla: yes, ready to pull, size:XS

#42642 Add preliminary methods to env class
  tensorflow/core/platform/env.h
Labels: awaiting review, cla: yes, comp:core, ready to pull, size:M

#42663 Add TF_Log for gcs
  tensorflow/c/experimental/filesystem/plugins/gcs/BUILD
  tensorflow/c/experimental/filesystem/plugins/gcs/gcs_filesystem.cc
Labels: cla: yes, comp:cloud, ready to pull, size:S

#42551 [INTEL MKL] Enable Conv + (Bias+BN) + LeakyRelu Fusion with Eigen implementation in CPU (Resubmit)
  tensorflow/core/grappler/op_types.cc
  tensorflow/core/grappler/op_types.h
  tensorflow/core/grappler/optimizers/BUILD
  tensorflow/core/grappler/optimizers/remapper.cc
  tensorflow/core/grappler/optimizers/remapper_test.cc
  tensorflow/core/kernels/BUILD
  tensorflow/core/kernels/conv_ops_fused_impl.h
  tensorflow/core/kernels/conv_ops_test.cc
  tensorflow/core/kernels/fused_eigen_output_kernels.cc
  tensorflow/core/kernels/fused_eigen_output_kernels.h
  tensorflow/core/ops/nn_ops.cc
Labels: cla: yes, comp:core, ready to pull, size:L

#42326 [TF:MLIR] Verify and fold tf.Tile
  tensorflow/compiler/mlir/tensorflow/ir/tf_generated_ops.td
  tensorflow/compiler/mlir/tensorflow/ir/tf_ops_n_z.cc
  tensorflow/compiler/mlir/tensorflow/tests/canonicalize.mlir
  tensorflow/compiler/mlir/tensorflow/tests/tf-ops.mlir
Labels: cla: yes, ready to pull, size:M

#42712 mis-indent in conv_ops_test python scripts
  tensorflow/python/kernel_tests/conv_ops_test.py
Labels: cla: yes, ready to pull, size:S

#42615 Fix DynamicPartitionOpGPU when running on multiple GPUs
  tensorflow/core/kernels/dynamic_partition_op_gpu.cu.cc
  tensorflow/python/kernel_tests/BUILD
  tensorflow/python/kernel_tests/dynamic_partition_op_test.py
Labels: cla: yes, prtype:bugfix, ready to pull, size:S
