Repository tensorflow/tensorflow, pull requests merged in 2020-10, with the labels that each got.

#43216 [Intel MKL] Adding support for convolution fusions with native format
  tensorflow/core/grappler/costs/graph_properties_test.cc
  tensorflow/core/grappler/optimizers/mkl_remapper_test.cc
  tensorflow/core/kernels/mkl/mkl_conv_ops.cc
  tensorflow/core/kernels/mkl/mkl_fused_ops_test.cc
  tensorflow/core/ops/mkl_nn_ops.cc
Labels: cla: yes, comp:mkl, ready to pull, size:L

#43647 In case hdfsBuilderConnect returns nullptr
  tensorflow/c/experimental/filesystem/plugins/hadoop/hadoop_filesystem.cc
  tensorflow/core/platform/hadoop/hadoop_file_system.cc
  tensorflow/core/platform/hadoop/hadoop_file_system.h
Labels: cla: yes, ready to pull, size:S

#43571 Added option to use MicroMutableOpResolver with the benchmarks.
  tensorflow/lite/micro/all_ops_resolver.h
  tensorflow/lite/micro/benchmarks/keyword_benchmark.cc
  tensorflow/lite/micro/benchmarks/micro_benchmark.h
  tensorflow/lite/micro/benchmarks/person_detection_benchmark.cc
  tensorflow/lite/micro/benchmarks/person_detection_experimental_benchmark.cc
  tensorflow/lite/micro/micro_mutable_op_resolver.h
Labels: cla: yes, comp:lite, comp:micro, ready to pull, size:S

#43613 [Intel Mkl] Fixed auto mixed precision bug ,Ops have more than one attr_type(like FusedBatchNorm )
  tensorflow/core/grappler/optimizers/auto_mixed_precision.cc
Labels: cla: yes, comp:grappler, ready to pull, size:S

#43673 [XLA] Make generated LLVM code more readable.
  tensorflow/compiler/xla/service/gpu/ir_emitter_unnested.cc
Labels: cla: yes, comp:xla, ready to pull, size:S

#43632 [ROCm] Adding bsdmainutils to the install list for ROCm docker containers.
  tensorflow/tools/ci_build/Dockerfile.rocm
Labels: cla: yes, comp:gpu, ready to pull, size:XS

#43635 update graph.h
  tensorflow/core/graph/graph.h
Labels: cla: yes, comp:core, ready to pull, size:XS

#43669 add cuda compute capability 8 to profiler hardware type utils
  tensorflow/core/profiler/utils/hardware_type_utils.cc
Labels: cla: yes, comp:core, ready to pull, size:S

#43691 [tf.data service] extend data service ops tests and sanitise api calls
  tensorflow/python/data/experimental/kernel_tests/data_service_ops_ft_test.py
  tensorflow/python/data/experimental/kernel_tests/data_service_ops_test.py
  tensorflow/python/data/experimental/kernel_tests/data_service_test_base.py
Labels: cla: yes, comp:data, ready to pull, size:M

#43678 add file_paths attr to image dataset
  tensorflow/python/keras/preprocessing/image_dataset.py
Labels: cla: yes, comp:keras, ready to pull, size:XS

#42770 CMSIS-NN conv, depthwise conv kernels: allocate per channel memory dynamically (#42748)
  tensorflow/lite/micro/kernels/cmsis-nn/depthwise_conv.cc
Labels: cla: yes, comp:lite, comp:micro, ready to pull, size:S

#42970 Enable FusedBatchNormV3 ops to support 5D tensors
  tensorflow/core/framework/common_shape_fns.cc
  tensorflow/core/grappler/optimizers/generic_layout_optimizer_transposer.cc
  tensorflow/core/grappler/optimizers/remapper.cc
  tensorflow/core/kernels/fused_batch_norm_op.cc
  tensorflow/core/ops/nn_ops.cc
  tensorflow/python/grappler/layout_optimizer_test.py
  tensorflow/python/keras/layers/normalization.py
  tensorflow/python/keras/layers/normalization_test.py
  tensorflow/python/ops/nn_fused_batchnorm_test.py
  tensorflow/python/ops/nn_grad.py
  tensorflow/python/ops/nn_impl.py
Labels: cla: yes, ready to pull, size:L

#43711 [CherryPick:r2.3]Add cuda compute configs to the variable list for libtensorflow GPU builds.
  tensorflow/tools/ci_build/linux/libtensorflow_docker.sh
  tensorflow/tools/ci_build/linux/libtensorflow_gpu.sh
Labels: cla: yes

#43713 [Cherrypick:r2.3] Fix libtensorflow CUDA compute capabilities.
  tensorflow/tools/ci_build/builds/libtensorflow.sh
  tensorflow/tools/ci_build/linux/libtensorflow_gpu.sh
Labels: cla: yes

#43630 Improve documentation for tf.linalg.qr
  tensorflow/core/api_def/base_api/api_def_Qr.pbtxt
  tensorflow/python/ops/linalg_grad.py
Labels: cla: yes, ready to pull, size:XS

#43742 Remove Unsupported gpu architecture compute_80
  tensorflow/tools/ci_build/builds/libtensorflow.sh
Labels: cla: yes

#41860 Make target for generic cortex M4F device
  tensorflow/lite/micro/cortex_m_gcc_generic/README.md
  tensorflow/lite/micro/cortex_m_gcc_generic/debug_log.cc
  tensorflow/lite/micro/cortex_m_gcc_generic/debug_log_callback.h
  tensorflow/lite/micro/debug_log.h
  tensorflow/lite/micro/tools/ci_build/test_all.sh
  tensorflow/lite/micro/tools/ci_build/test_cortex_m_gcc_generic.sh
  tensorflow/lite/micro/tools/make/ext_libs/cmsis.inc
  tensorflow/lite/micro/tools/make/targets/cortex_m4_generic_makefile.inc
  tensorflow/lite/micro/tools/make/targets/cortex_m_gcc_generic_makefile.inc
Labels: cla: yes, comp:lite, comp:micro, ready to pull, size:M

#31047 moved slice by class id before shape matching
  tensorflow/python/keras/utils/metrics_utils.py
  tensorflow/python/keras/utils/metrics_utils_test.py
Labels: cla: yes, comp:keras, prtype:bugfix, ready to pull, size:S, stalled, stat:awaiting response

#43735 Finalize hadoop filesystem plugins
  tensorflow/c/experimental/filesystem/plugins/hadoop/BUILD
  tensorflow/c/experimental/filesystem/plugins/hadoop/hadoop_filesystem.cc
  tensorflow/c/experimental/filesystem/plugins/hadoop/hadoop_filesystem.h
Labels: cla: yes, ready to pull, size:M

#42651 Add CMSIS-NN SVDF kernel.
  tensorflow/lite/micro/kernels/cmsis-nn/svdf.cc
  tensorflow/lite/micro/tools/make/ext_libs/cmsis.inc
Labels: cla: yes, comp:lite, comp:micro, ready to pull, size:L

#43714 [tf.data server] prevent restart of the dispatcher server w/o fault-tolerance, in the test bed
  tensorflow/python/data/experimental/kernel_tests/data_service_test_base.py
Labels: cla: yes, comp:data, ready to pull, size:S

#43590 [INTEL MKL] Fix a Conv2D unit test failure
  tensorflow/core/kernels/mkl/mkl_conv_ops.cc
Labels: cla: yes, comp:mkl, ready to pull, size:XS

#42625 Add training call argument for MultiHeadAttention
  tensorflow/python/keras/layers/multi_head_attention.py
  tensorflow/python/keras/layers/multi_head_attention_test.py
  tensorflow/tools/api/golden/v1/tensorflow.keras.layers.-multi-head-attention.pbtxt
  tensorflow/tools/api/golden/v2/tensorflow.keras.layers.-multi-head-attention.pbtxt
Labels: cla: yes, comp:keras, ready to pull, size:S

#43715 Eager loading of CUDNN sub-libraries.
  tensorflow/stream_executor/cuda/cuda_dnn.cc
  tensorflow/stream_executor/cuda/cudnn_8_0.inc
Labels: cla: yes, ready to pull, size:S

#43779 Update mobilenet_v3 performance table to correct markdown format
  tensorflow/python/keras/applications/mobilenet_v3.py
Labels: cla: yes, comp:keras, ready to pull, size:S

#43748 Some cleanup of the Makefile
  tensorflow/lite/experimental/microfrontend/lib/fft.cc
  tensorflow/lite/micro/tools/make/Makefile
  tensorflow/lite/micro/tools/make/targets/bluepill_makefile.inc
  tensorflow/lite/micro/tools/make/targets/cortex_m_gcc_generic_makefile.inc
  tensorflow/lite/micro/tools/make/targets/xtensa_hifimini_makefile.inc
Labels: cla: yes, comp:lite, comp:micro, ready to pull, size:M

#43682 Add ability to register particular kernel variants for fully_connected.
  tensorflow/lite/micro/BUILD
  tensorflow/lite/micro/benchmarks/BUILD
  tensorflow/lite/micro/benchmarks/keyword_benchmark.cc
  tensorflow/lite/micro/kernels/BUILD
  tensorflow/lite/micro/kernels/cmsis-nn/fully_connected.cc
  tensorflow/lite/micro/kernels/fully_connected.cc
  tensorflow/lite/micro/kernels/fully_connected.h
  tensorflow/lite/micro/kernels/fully_connected_test.cc
  tensorflow/lite/micro/kernels/micro_ops.h
  tensorflow/lite/micro/micro_mutable_op_resolver.h
Labels: cla: yes, comp:lite, comp:micro, ready to pull, size:XL

#43683 [ROCm] Fix for ROCM CSB breakage - 200930
  tensorflow/python/framework/function_test.py
Labels: cla: yes, comp:gpu, ready to pull, size:XS

#42683 [XLA] Upstream master grid size
  tensorflow/compiler/xla/service/cpu/parallel_loop_emitter.cc
  tensorflow/compiler/xla/service/cpu/parallel_loop_emitter.h
  tensorflow/compiler/xla/service/gpu/BUILD
  tensorflow/compiler/xla/service/gpu/buffer_comparator.cc
  tensorflow/compiler/xla/service/gpu/gpu_compiler.cc
  tensorflow/compiler/xla/service/gpu/gpu_device_info.h
  tensorflow/compiler/xla/service/gpu/ir_emitter_unnested.cc
  tensorflow/compiler/xla/service/gpu/ir_emitter_unnested.h
  tensorflow/compiler/xla/service/gpu/launch_dimensions.cc
  tensorflow/compiler/xla/service/gpu/launch_dimensions.h
  tensorflow/compiler/xla/service/gpu/parallel_loop_emitter.cc
  tensorflow/compiler/xla/service/gpu/parallel_loop_emitter.h
  tensorflow/compiler/xla/service/gpu/tests/gpu_unrolling_test.cc
  tensorflow/compiler/xla/service/llvm_ir/loop_emitter.cc
  tensorflow/compiler/xla/service/llvm_ir/loop_emitter.h
Labels: cla: yes, comp:xla, ready to pull, size:M

#43758 [T.F 2.0 API Docs] Adds usage example for log_sigmoid
  tensorflow/python/ops/math_ops.py
Labels: cla: yes, comp:ops, ready to pull, size:S

#43786 adding CMSIS DSP and NN include path into cmsis.inc.
  tensorflow/lite/micro/tools/make/ext_libs/cmsis.inc
Labels: cla: yes, comp:lite, comp:micro, ready to pull, size:XS

#43381 Add shape op and tests to TFLM
  tensorflow/lite/micro/all_ops_resolver.cc
  tensorflow/lite/micro/kernels/BUILD
  tensorflow/lite/micro/kernels/micro_ops.h
  tensorflow/lite/micro/kernels/shape.cc
  tensorflow/lite/micro/kernels/shape_test.cc
  tensorflow/lite/micro/micro_mutable_op_resolver.h
Labels: cla: yes, comp:lite, comp:micro, ready to pull, size:M

#43819 Fix operator check
  tensorflow/python/ops/linalg/registrations_util.py
Labels: cla: yes, comp:ops, prtype:bugfix, ready to pull, size:XS

#43826 [XLA] Better warning.
  tensorflow/compiler/xla/service/hlo_pass_fix.h
Labels: cla: yes, comp:xla, ready to pull, size:XS

#43820 Fix missing raise
  tensorflow/python/keras/losses.py
  tensorflow/python/tpu/tpu_embedding.py
Labels: cla: yes, prtype:bugfix, ready to pull, size:XS

#43759 - added missing argument docstrings for genbbox.
  tensorflow/python/ops/image_ops_impl.py
Labels: cla: yes, comp:ops, prtype:bugfix, ready to pull, size:S

#42901 [WIP] Disable TFTRT conversion of ResizeBilinear Nodes when align_corners=false
  tensorflow/compiler/tf2tensorrt/convert/convert_nodes.cc
  tensorflow/compiler/tf2tensorrt/convert/convert_nodes_test.cc
Labels: cla: yes, comp:gpu:tensorrt, ready to pull, size:S

#43716 Cuda 11.1 cudart SO name fix
  tensorflow/stream_executor/platform/default/dso_loader.cc
  third_party/gpus/cuda/cuda_config.h.tpl
  third_party/gpus/cuda_configure.bzl
Labels: cla: yes, ready to pull, size:S

#43803 Set the "nightly" branch to master HEAD every day
  .github/workflows/update-nightly.yml
Labels: cla: yes, ready to pull, size:S

#43746 [XLA/GPU] clear operands for removed HLOs.
  tensorflow/compiler/xla/service/hlo_computation.cc
  tensorflow/compiler/xla/service/hlo_instruction.h
Labels: cla: yes, comp:xla, ready to pull, size:XS

#43505 [Intel MKL] Adding support for AvgPool with native format
  tensorflow/core/framework/common_shape_fns.cc
  tensorflow/core/framework/common_shape_fns.h
  tensorflow/core/kernels/mkl/mkl_avgpooling_op.cc
  tensorflow/core/kernels/mkl/mkl_maxpooling_op.cc
  tensorflow/core/kernels/mkl/mkl_pooling_ops_common.cc
  tensorflow/core/kernels/mkl/mkl_pooling_ops_common.h
  tensorflow/core/ops/mkl_nn_ops.cc
  tensorflow/core/ops/nn_ops.cc
Labels: cla: yes, comp:mkl, ready to pull, size:M

#42324 Update nn_ops.py
  tensorflow/python/ops/nn_ops.py
Labels: cla: yes, comp:ops, prtype:bugfix, ready to pull, size:XS

#43859 Autotune Dataset.map when transforming builtin map with autograph
  tensorflow/python/autograph/operators/py_builtins.py
Labels: cla: yes, comp:autograph, ready to pull, size:XS

#43856 Update flatbuffers dependency
  tensorflow/lite/micro/tools/make/third_party_downloads.inc
Labels: cla: yes, comp:lite, comp:micro, ready to pull, size:XS

#43754 Fix TFLite quantization example
  tensorflow/lite/g3doc/guide/get_started.md
Labels: cla: yes, comp:lite, ready to pull, size:XS

#43858 Alternate approach (to PR #43240) to fixing ethos-u build errors.
  tensorflow/lite/micro/kernels/conv_test.cc
Labels: cla: yes, comp:lite, comp:micro, ready to pull, size:M

#43814 Add GPU kernel for ApplyProximalAdagrad
  tensorflow/core/kernels/training_ops.cc
  tensorflow/core/kernels/training_ops_gpu.cu.cc
Labels: cla: yes, comp:core, ready to pull, size:M

#43504 [Intel MKL] Adding support for FusedBatchNorm op with native format
  tensorflow/core/grappler/optimizers/remapper.cc
  tensorflow/core/kernels/mkl/mkl_fused_batch_norm_op.cc
  tensorflow/core/kernels/mkl/mkl_fused_batch_norm_op_test.cc
  tensorflow/core/ops/mkl_nn_ops.cc
  tensorflow/core/ops/nn_ops.cc
Labels: cla: yes, comp:mkl, ready to pull, size:L

#43873 fix keras progbar output collision (2)
  tensorflow/python/keras/callbacks.py
Labels: cla: yes, comp:keras, ready to pull, size:XS

#42466 _compute_causal_padding() missing 1 required positional argument: 'inputs'
  tensorflow/python/keras/layers/convolutional.py
Labels: cla: yes, comp:keras, prtype:bugfix, ready to pull, size:XS

#43889 Add oneDNN-aarch64 reference build option
  .bazelrc
  configure.py
  third_party/mkl/BUILD
  third_party/mkl/build_defs.bzl
  third_party/mkl_dnn/mkldnn_v1.BUILD
  third_party/ngraph/ngraph.BUILD
Labels: cla: yes, ready to pull, size:M

#43867 Patch kissfft to remove sys/types.h include from kiss_fft.h.
  tensorflow/lite/micro/tools/make/download_and_extract.sh
Labels: cla: yes, comp:lite, comp:micro, ready to pull, size:XS

#43658 [Intel MKL] Enabling FusedMatMul op with native format
  tensorflow/core/common_runtime/mkl_layout_pass.cc
  tensorflow/core/kernels/mkl/mkl_fused_ops_test.cc
  tensorflow/core/kernels/mkl/mkl_matmul_op_fused.cc
  tensorflow/core/ops/mkl_nn_ops.cc
Labels: cla: yes, comp:mkl, ready to pull, size:M

#43577 [INTEL MKL] Bug-fix to in-place computation with tensor forwarding.
  tensorflow/core/kernels/mkl/mkl_conv_ops.cc
  tensorflow/core/util/mkl_util.h
  tensorflow/python/kernel_tests/conv_ops_test.py
Labels: cla: yes, comp:mkl, ready to pull, size:M

#43573 Fix for concat v2 unit test failure in [INTEL MKL] enabled Tensorflow
  tensorflow/core/common_runtime/mkl_layout_pass.cc
  tensorflow/core/common_runtime/mkl_layout_pass_test.cc
Labels: cla: yes, comp:mkl, ready to pull, size:S

#43506 [Intel MKL] Adding support for MaxPool with native format
  tensorflow/core/common_runtime/mkl_layout_pass.cc
  tensorflow/core/framework/common_shape_fns.cc
  tensorflow/core/framework/common_shape_fns.h
  tensorflow/core/kernels/mkl/mkl_maxpooling_op.cc
  tensorflow/core/ops/mkl_nn_ops.cc
  tensorflow/core/ops/nn_ops.cc
Labels: cla: yes, comp:mkl, ready to pull, size:M

#43741 [INTEL MKL] Enable DNNL BatchMatMul support with broadcast and update oneDNN to v1.6.4.
  tensorflow/core/kernels/mkl/mkl_batch_matmul_op.cc
  tensorflow/core/kernels/mkl/mkl_matmul_ops_common.h
  tensorflow/workspace.bzl
  third_party/mkl_dnn/mkldnn_v1.BUILD
Labels: cla: yes, comp:mkl, ready to pull, size:L

#42525 [TF:MLIR] Add TF to TF lowering patterns to legalize_tf pass for TFLite
  tensorflow/compiler/mlir/lite/BUILD
  tensorflow/compiler/mlir/lite/transforms/legalize_tf.cc
Labels: cla: yes, ready to pull, size:S

#43907 Cleanup Selectv2 broadcasting
  tensorflow/core/kernels/cwise_op_select.cc
Labels: cla: yes, comp:core, ready to pull, size:S

#43896 Enforce that the target makefile must be called TARGET_makefile.
  tensorflow/lite/micro/tools/make/Makefile
  tensorflow/lite/micro/tools/make/targets/apollo3evb_makefile.inc
  tensorflow/lite/micro/tools/make/targets/bluepill_makefile.inc
  tensorflow/lite/micro/tools/make/targets/linux_x86_makefile.inc
  tensorflow/lite/micro/tools/make/targets/osx_makefile.inc
  tensorflow/lite/micro/tools/make/targets/osx_x86_64_makefile.inc
  tensorflow/lite/micro/tools/make/targets/sparkfun_edge_makefile.inc
Labels: awaiting review, cla: yes, comp:lite, comp:micro, ready to pull, size:L

#43981 [Intel MKL] Fixing mkl_eager_op_rewrite_test error
  tensorflow/core/common_runtime/eager/mkl_eager_op_rewrite_test.cc
Labels: cla: yes, ready to pull, size:S

#43980 Official libtensorflow links
  README.md
Labels: cla: yes, comp:cloud, ready to pull, size:S

#43935 Add Neg gradient
  tensorflow/c/eager/gradients_test.cc
  tensorflow/c/experimental/gradients/math_grad.cc
  tensorflow/c/experimental/gradients/math_grad.h
  tensorflow/python/framework/experimental/math_ops.cc
  tensorflow/python/framework/experimental/math_ops.py
  tensorflow/python/framework/experimental/tape.cc
  tensorflow/python/framework/experimental/unified_api_test.py
Labels: cla: yes, ready to pull, size:M

#43852 [ROCm] Fix for ROCM CSB breakage - 201007
  tensorflow/core/nccl/nccl_manager_test.cc
Labels: cla: yes, comp:gpu, ready to pull, size:S

#43482 Add transform to fuse activations into TFL pooling ops
  tensorflow/compiler/mlir/lite/tests/optimize.mlir
  tensorflow/compiler/mlir/lite/transforms/optimize_patterns.td
Labels: cla: yes, ready to pull, size:S

#44015 Add correct scatter file values for STM32F4 target
  tensorflow/lite/micro/benchmarks/Makefile.inc
  tensorflow/lite/micro/tools/make/targets/stm32f4/stm32f4.lds
Labels: cla: yes, comp:lite, comp:micro, prtype:bugfix, ready to pull, size:S

#43964 Horizontal input fusion again
  tensorflow/compiler/xla/service/gpu/BUILD
  tensorflow/compiler/xla/service/gpu/gpu_compiler.cc
  tensorflow/compiler/xla/service/gpu/gpu_fusible.cc
  tensorflow/compiler/xla/service/gpu/gpu_fusible.h
  tensorflow/compiler/xla/service/gpu/horizontal_input_fusion.cc
  tensorflow/compiler/xla/service/gpu/horizontal_input_fusion.h
  tensorflow/compiler/xla/service/gpu/horizontal_input_fusion_test.cc
  tensorflow/compiler/xla/service/gpu/horizontal_loop_fusion.cc
Labels: cla: yes, comp:xla, ready to pull, size:L

#41599 Fix markdown bullet list in keras.models.save_model docstring
  tensorflow/python/keras/saving/save.py
Labels: cla: yes, comp:keras, ready to pull, size:XS

#42823 TFLu: Fix Ethos-U build issue
  tensorflow/lite/micro/tools/make/download_and_extract.sh
  tensorflow/lite/micro/tools/make/ext_libs/ethosu.inc
Labels: cla: yes, comp:lite, comp:micro, ready to pull, size:S

#44029 [Intel MKL] Disable _MklFusedBatchNorm op when input is 5D tensor
  tensorflow/core/common_runtime/eager/mkl_eager_op_rewrite.cc
  tensorflow/core/common_runtime/eager/mkl_eager_op_rewrite_test.cc
  tensorflow/core/common_runtime/mkl_layout_pass.cc
  tensorflow/core/common_runtime/mkl_layout_pass_test.cc
  tensorflow/core/graph/mkl_graph_util.h
Labels: cla: yes, comp:mkl, ready to pull, size:M

#44019 Update README.md
  README.md
Labels: cla: yes, ready to pull, size:XS

#44054 Add Sub gradients
  tensorflow/c/eager/gradients_test.cc
  tensorflow/c/experimental/gradients/math_grad.cc
  tensorflow/c/experimental/gradients/math_grad.h
  tensorflow/python/framework/experimental/math_ops.cc
  tensorflow/python/framework/experimental/math_ops.py
  tensorflow/python/framework/experimental/tape.cc
  tensorflow/python/framework/experimental/unified_api_test.py
Labels: cla: yes, ready to pull, size:M

#43798 [INTEL MKL] Fix control_flow_ops_test unit test failure
  tensorflow/core/common_runtime/mkl_layout_pass.cc
Labels: cla: yes, comp:mkl, ready to pull, size:S

#43888 [XLA] When ptxas do not know about an SM, fallback to the driver.
  tensorflow/compiler/xla/service/gpu/nvptx_compiler.cc
  tensorflow/compiler/xla/service/gpu/nvptx_compiler.h
  tensorflow/compiler/xla/service/mlir_gpu/mlir_compiler_impl.cc
  tensorflow/stream_executor/gpu/asm_compiler.cc
Labels: cla: yes, comp:xla, ready to pull, size:M

#43868 Refactor SparseApplyFtrl CPU kernel into class
  tensorflow/core/kernels/training_ops.cc
  tensorflow/core/kernels/training_ops.h
Labels: cla: yes, comp:core, ready to pull, size:L

#44014 Update download_and_extract script for faster CMSIS patching
  tensorflow/lite/micro/tools/make/download_and_extract.sh
  tensorflow/lite/micro/tools/make/ext_libs/cmsis.inc
Labels: cla: yes, comp:lite, comp:micro, ready to pull, size:M

#43726 TFlu: Add Cortex-M generic target makefile
  tensorflow/lite/micro/cortex_m_gcc_generic/README.md
  tensorflow/lite/micro/cortex_m_generic/README.md
  tensorflow/lite/micro/cortex_m_generic/debug_log.cc
  tensorflow/lite/micro/cortex_m_generic/debug_log_callback.h
  tensorflow/lite/micro/tools/ci_build/test_all.sh
  tensorflow/lite/micro/tools/ci_build/test_cortex_m_generic.sh
  tensorflow/lite/micro/tools/make/Makefile
  tensorflow/lite/micro/tools/make/ext_libs/cmsis_nn.inc
  tensorflow/lite/micro/tools/make/targets/cortex_m_gcc_generic_makefile.inc
  tensorflow/lite/micro/tools/make/targets/cortex_m_generic_makefile.inc
Labels: cla: yes, comp:lite, comp:micro, ready to pull, size:M

#44066 Fix expensive decompression in JPEG GetImageInfo
  tensorflow/core/lib/jpeg/jpeg_mem.cc
Labels: cla: yes, ready to pull, size:XS

#44077 Fix zephyr_riscv build process
  tensorflow/lite/micro/tools/make/templates/zephyr_cmake_project.cmake.tpl
Labels: cla: yes, comp:lite, comp:micro, ready to pull, size:XS

#44076 Fix zephyr_riscv hello_world demo
  tensorflow/lite/micro/examples/hello_world/zephyr_riscv/prj.conf
Labels: cla: yes, comp:lite, comp:micro, ready to pull, size:XS

#40811 Fix docs for model_from_config
  tensorflow/python/keras/saving/model_config.py
Labels: cla: yes, comp:keras, prtype:bugfix, ready to pull, size:XS

#44064 [Intel MKL] Fixing a bug in Convolution+Add fusion
  tensorflow/core/kernels/mkl/mkl_conv_ops.cc
Labels: cla: yes, comp:mkl, ready to pull, size:S

#43415 add support for mips64 platform
  tensorflow/BUILD
  third_party/cpuinfo/BUILD.bazel
  third_party/remote_config/remote_platform_configure.bzl
Labels: cla: yes, ready to pull, size:S

#43159 [ROCm] Disabling failing unit tests
  tensorflow/python/keras/distribute/BUILD
  tensorflow/python/keras/integration_test/gradient_checkpoint_test.py
  tensorflow/python/keras/mixed_precision/experimental/BUILD
  tensorflow/python/keras/mixed_precision/experimental/layer_correctness_test.py
Labels: cla: yes, comp:gpu, size:S

#43797 Updated documentation of TimeDistributed
  tensorflow/python/keras/layers/wrappers.py
Labels: cla: yes, comp:keras, ready to pull, size:XS

#42143 Fix segmentation fault in tf.image.crop_and_resize when boxes is inf or nan
  tensorflow/core/kernels/image/crop_and_resize_op.cc
  tensorflow/python/ops/image_ops_test.py
Labels: cla: yes, prtype:bugfix, ready to pull, size:S, stat:awaiting response

#44094 Use movi NEON instruction to zero out registers
  tensorflow/lite/kernels/internal/optimized/integer_ops/depthwise_conv_hybrid_3x3_filter.h
  tensorflow/lite/kernels/internal/optimized/neon_tensor_utils.cc
Labels: cla: yes, comp:lite, ready to pull, size:M

#44132 [INTEL MKL] Fix DCHECK problem in mkl_layout_pass.cc
  tensorflow/core/common_runtime/mkl_layout_pass.cc
Labels: cla: yes, comp:mkl, ready to pull, size:S

#43855 Use sysctl for maximum CPU frequency on MacOS
  tensorflow/core/platform/profile_utils/cpu_utils.cc
Labels: cla: yes, comp:core, ready to pull, size:S

#44140 TFLu: Update Stm32f4 target
  tensorflow/lite/micro/examples/person_detection/person_detection_test.cc
  tensorflow/lite/micro/testing/stm32f4.robot
  tensorflow/lite/micro/tools/make/targets/stm32f4_makefile.inc
Labels: cla: yes, comp:lite, comp:micro, ready to pull, size:M

#44117 [ROCm] Fix for ROCm CSB Breakage - 201017
  tensorflow/python/ops/math_ops_test.py
Labels: cla: yes, comp:gpu, ready to pull, size:XS

#44175 Workaround for blasLt batch size limitation
  tensorflow/stream_executor/cuda/cuda_blas.cc
  tensorflow/stream_executor/cuda/cuda_blas.h
Labels: cla: yes, ready to pull, size:L

#44027 Change description of drop_remainder argument of Dataset method window
  tensorflow/python/data/ops/dataset_ops.py
Labels: cla: yes, comp:data, ready to pull, size:XS

#44171 Specify -mfpu for TARGET_ARCH=cortex-m4+fpu
  tensorflow/lite/micro/tools/make/targets/cortex_m_generic_makefile.inc
Labels: cla: yes, comp:lite, comp:micro, ready to pull, size:XS

#44188 Fixing the markdown and disabling internal auto-formatting.
  tensorflow/lite/micro/cortex_m_generic/README.md
  tensorflow/lite/micro/docs/memory_management.md
Labels: cla: yes, comp:lite, comp:micro, ready to pull, size:M

#44180 [DOC] Removed extraneous period in TFLite code example
  tensorflow/lite/g3doc/convert/index.md
Labels: cla: yes, comp:lite, ready to pull, size:XS

#44089 Small style changes and fixes
  tensorflow/lite/g3doc/tutorials/model_maker_text_classification.ipynb
Labels: cla: yes, comp:lite, ready to pull, size:S

#44136 Update main.cc
  tensorflow/lite/micro/examples/image_recognition_experimental/main.cc
Labels: cla: yes, comp:lite, comp:micro, ready to pull, size:XS

#44183 Switch conv, depthwise_conv and fully_connected kernels to flat namespace and build fixes.
  tensorflow/lite/micro/kernels/arc_mli/conv.cc
  tensorflow/lite/micro/kernels/arc_mli/depthwise_conv.cc
  tensorflow/lite/micro/kernels/arc_mli/fully_connected.cc
  tensorflow/lite/micro/kernels/arc_mli/mli_slicers.cc
  tensorflow/lite/micro/tools/make/targets/arc/arc_common.inc
  tensorflow/lite/micro/tools/make/targets/himax_we1_evb_makefile.inc
Labels: cla: yes, comp:lite, comp:micro, ready to pull, size:M

#44145 Add flagsaver to system absl_py
  third_party/systemlibs/absl_py.absl.testing.BUILD
Labels: cla: yes, ready to pull, size:XS

#44211 Fix tests that fail with tf32
  tensorflow/c/eager/gradient_checker_test.cc
  tensorflow/c/eager/mnist_gradients_test.cc
  tensorflow/python/framework/function_test.py
  tensorflow/python/framework/test_util.py
  tensorflow/python/kernel_tests/qr_op_test.py
Labels: cla: yes, ready to pull, size:S

#44196 Add gcc specific linker flag only when building with gcc.
  tensorflow/lite/micro/cortex_m_generic/README.md
  tensorflow/lite/micro/tools/ci_build/test_cortex_m_generic.sh
  tensorflow/lite/micro/tools/make/Makefile
  tensorflow/lite/micro/tools/make/targets/cortex_m_generic_makefile.inc
Labels: cla: yes, comp:lite, comp:micro, ready to pull, size:S

#44221 Update version numbers for TensorFlow 2.4.0-rc0
  tensorflow/core/public/version.h
  tensorflow/tools/pip_package/setup.py
Labels: cla: yes

#44097 Fix transpose op legalization patterns
  tensorflow/compiler/mlir/lite/tests/legalize-tf.mlir
  tensorflow/compiler/mlir/lite/transforms/legalize_patterns.td
  tensorflow/compiler/mlir/lite/transforms/legalize_tf.cc
Labels: cla: yes, ready to pull, size:XS

#44144 Fix and improve system protobuf
  .bazelrc
  configure.py
  third_party/systemlibs/protobuf.BUILD
Labels: cla: yes, ready to pull, size:M

#44148 Fix hdfsNewBuilder memory leak
  tensorflow/c/experimental/filesystem/plugins/hadoop/hadoop_filesystem.cc
  tensorflow/core/platform/hadoop/hadoop_file_system.cc
Labels: cla: yes, ready to pull, size:S

#44115 Fix nasnet.py default weights
  tensorflow/python/keras/applications/nasnet.py
Labels: cla: yes, comp:keras, ready to pull, size:XS

#44244 Hardcode paths to `release_pip_rename.sh` (win/gpu)
  tensorflow/tools/ci_build/rel/windows/gpu_py36.bat
  tensorflow/tools/ci_build/rel/windows/gpu_py37.bat
  tensorflow/tools/ci_build/rel/windows/gpu_py38.bat
Labels: cla: yes

#44233 [ROCm] Fix for ROCm CSB Breakage - 201022
  tensorflow/python/kernel_tests/linalg_grad_test.py
Labels: cla: yes, comp:gpu, ready to pull, size:S

#44187 Use collections.deque for double-ended queues
  tensorflow/python/keras/utils/tf_utils.py
  tensorflow/python/ops/parallel_for/pfor.py
Labels: cla: yes, comp:keras, ready to pull, size:S

#44109 Support LeakyReluGrad for 5D tensors in Layout optimizer
  tensorflow/core/grappler/optimizers/generic_layout_optimizer_transposer.cc
  tensorflow/python/grappler/layout_optimizer_test.py
Labels: cla: yes, comp:grappler, ready to pull, size:M

#44102 Rename Raspbian to Raspberry Pi OS
  tensorflow/lite/g3doc/guide/build_rpi.md
  tensorflow/lite/g3doc/guide/python.md
Labels: cla: yes, comp:lite, ready to pull, size:S

#44190 Fix that when hdfsBuilderConnect returns NULL, HadoopFileSystem::FileExists returns errors::NotFound exception
  tensorflow/c/experimental/filesystem/plugins/hadoop/hadoop_filesystem.cc
  tensorflow/core/platform/hadoop/hadoop_file_system.cc
Labels: cla: yes, ready to pull, size:XS

#39252 Fixed loading saved keras model (h5 files) when using advanced activation functions
  tensorflow/python/keras/BUILD
  tensorflow/python/keras/activations.py
  tensorflow/python/keras/activations_test.py
  tensorflow/python/keras/layers/advanced_activations.py
Labels: cla: yes, comp:keras, prtype:bugfix, ready to pull, size:S

#43428 [MLIR] Add involution based folding to TF
  tensorflow/compiler/mlir/tensorflow/ir/tf_generated_ops.td
  tensorflow/compiler/mlir/tensorflow/ir/tf_ops_a_m.cc
  tensorflow/compiler/mlir/tensorflow/ir/tf_ops_n_z.cc
  tensorflow/compiler/mlir/tensorflow/tests/tf_trait_folds.mlir
  tensorflow/compiler/mlir/tensorflow/transforms/canonicalize.td
Labels: cla: yes, ready to pull, size:M

#44267 Disable mwms_peer_failure test on Python 3.8
  tensorflow/python/distribute/integration_test/BUILD
Labels: cla: yes

#43538 TFLu: Allocate scratch tensors even though they are not in subgraph
  tensorflow/lite/micro/micro_allocator.cc
  tensorflow/lite/micro/micro_allocator_test.cc
  tensorflow/lite/micro/test_helpers.cc
Labels: cla: yes, comp:lite, comp:micro, ready to pull, size:M

#44271 Attempt to fix the pip wheel rename on Windows.
  tensorflow/tools/ci_build/release/common.sh
  tensorflow/tools/ci_build/release/windows/gpu_py36_full/release_pip_rename.sh
  tensorflow/tools/ci_build/release/windows/gpu_py37_full/release_pip_rename.sh
  tensorflow/tools/ci_build/release/windows/gpu_py38_full/release_pip_rename.sh
Labels: cla: yes

#44273 More CI fixes on r2.4
  tensorflow/tools/ci_build/builds/pip_new.sh
  tensorflow/tools/ci_build/rel/ubuntu/gpu_py36_nonpip.sh
  tensorflow/tools/ci_build/rel/ubuntu/gpu_py36_pip.sh
  tensorflow/tools/ci_build/rel/ubuntu/gpu_py37_nonpip.sh
  tensorflow/tools/ci_build/rel/ubuntu/gpu_py37_pip.sh
  tensorflow/tools/ci_build/rel/ubuntu/gpu_py38_nonpip.sh
  tensorflow/tools/ci_build/rel/ubuntu/gpu_py38_pip.sh
Labels: cla: yes

#43812 replace PFLR DeviceGetContext hardcode with Device::IsRemoteCallAllowed
  tensorflow/core/common_runtime/composite_device.h
  tensorflow/core/common_runtime/process_function_library_runtime.cc
  tensorflow/core/common_runtime/renamed_device.h
  tensorflow/core/distributed_runtime/remote_device.cc
  tensorflow/core/framework/device.cc
  tensorflow/core/framework/device.h
Labels: cla: yes, ready to pull, size:S

#42870 [INTEL MKL] Remove nGraph build support
  .bazelrc
  configure.py
  tensorflow/BUILD
  tensorflow/opensource_only.files
  tensorflow/python/BUILD
  tensorflow/tensorflow.bzl
  tensorflow/tools/pip_package/BUILD
  tensorflow/workspace.bzl
  third_party/ngraph/BUILD
  third_party/ngraph/LICENSE
  third_party/ngraph/NGRAPH_LICENSE
  third_party/ngraph/build_defs.bzl
  third_party/ngraph/ngraph.BUILD
  third_party/ngraph/ngraph_tf.BUILD
  third_party/ngraph/tbb.BUILD
  third_party/nlohmann_json.BUILD
Labels: cla: yes, comp:mkl, ready to pull, size:L

#43067 TFLu: Don't construct PoolParams if not needed in CMSIS int8 kernel
  tensorflow/lite/micro/kernels/cmsis-nn/pooling.cc
Labels: cla: yes, comp:lite, comp:micro, ready to pull, size:S

#44239 Reintroduce TF to TF lowering patterns to legalize_tf pass for TFLite
  tensorflow/compiler/mlir/lite/BUILD
  tensorflow/compiler/mlir/lite/transforms/legalize_tf.cc
Labels: cla: yes, ready to pull, size:XS

#36444 Removed non-existant `arm_cmplx_mag_squared_q10p6.c` from `micro_spee…
  tensorflow/lite/micro/examples/micro_speech/CMSIS/Makefile.inc
Labels: cla: yes, comp:lite, comp:micro, prtype:bugfix, ready to pull, size:XS

#44275 Reverting xcode to 10.3 and adding MACOSX_DEPLOYMENT_TARGET to just n…
  tensorflow/tools/ci_build/rel/macos/cpu_libtensorflow.sh
  tensorflow/tools/ci_build/rel/macos/cpu_py36_nonpip.sh
  tensorflow/tools/ci_build/rel/macos/cpu_py36_pip.sh
  tensorflow/tools/ci_build/rel/macos/cpu_py37_pip.sh
  tensorflow/tools/ci_build/rel/macos/cpu_py38_nonpip.sh
  tensorflow/tools/ci_build/rel/macos/cpu_py38_pip.sh
Labels: cla: yes

#44096 Add mul gradients
  tensorflow/c/eager/gradients_test.cc
  tensorflow/c/experimental/gradients/math_grad.cc
  tensorflow/c/experimental/gradients/math_grad.h
  tensorflow/python/framework/experimental/math_ops.cc
  tensorflow/python/framework/experimental/math_ops.py
  tensorflow/python/framework/experimental/tape.cc
  tensorflow/python/framework/experimental/unified_api_test.py
Labels: cla: yes, ready to pull, size:M

#44335 [CherryPick 2.4] Add -no_cuda11 tag to the ubuntu pip build scripts.
  tensorflow/tools/ci_build/rel/ubuntu/gpu_py36_pip.sh
  tensorflow/tools/ci_build/rel/ubuntu/gpu_py37_pip.sh
  tensorflow/tools/ci_build/rel/ubuntu/gpu_py38_pip.sh
Labels: cla: yes

#44334 Fix CI on Windows
  tensorflow/tools/ci_build/release/common.sh
  tensorflow/tools/ci_build/release/windows/gpu_py36_full/release_pip_rename.sh
  tensorflow/tools/ci_build/release/windows/gpu_py38_full/release_pip_rename.sh
Labels: cla: yes

#44080 Replace dockerized Renode with portable one
  tensorflow/lite/micro/README.md
  tensorflow/lite/micro/docs/renode.md
  tensorflow/lite/micro/testing/Dockerfile.bluepill
  tensorflow/lite/micro/testing/bluepill.resc
  tensorflow/lite/micro/testing/bluepill.robot
  tensorflow/lite/micro/testing/download_renode.sh
  tensorflow/lite/micro/testing/test_bluepill_binary.sh
  tensorflow/tools/ci_build/Dockerfile.micro
Labels: cla: yes, comp:lite, comp:micro, ready to pull, size:M

#44227 Removed the no longer necessary if statements in ARC makefiles. Minor fixes in generation flow.
  tensorflow/lite/micro/tools/make/targets/arc/README.md
  tensorflow/lite/micro/tools/make/targets/arc/arc_common.inc
  tensorflow/lite/micro/tools/make/targets/arc_custom_makefile.inc
  tensorflow/lite/micro/tools/make/targets/arc_emsdp_makefile.inc
  tensorflow/lite/micro/tools/make/targets/himax_we1_evb_makefile.inc
Labels: cla: yes, comp:lite, comp:micro, prtype:bugfix, ready to pull, size:L

#44298 Fix _CumprodGrad for 0. inputs
  tensorflow/python/ops/math_grad.py
Labels: cla: yes, comp:ops, ready to pull, size:XS

#44276 NFC - minor spelling tweaks of documents under lite directory
  tensorflow/lite/g3doc/convert/metadata.md
  tensorflow/lite/g3doc/inference_with_metadata/task_library/bert_nl_classifier.md
  tensorflow/lite/g3doc/inference_with_metadata/task_library/bert_question_answerer.md
  tensorflow/lite/g3doc/inference_with_metadata/task_library/customized_task_api.md
  tensorflow/lite/g3doc/performance/best_practices.md
  tensorflow/lite/g3doc/performance/measurement.md
  tensorflow/lite/kernels/hashtable/README.md
  tensorflow/lite/micro/CONTRIBUTING.md
  tensorflow/lite/micro/docs/memory_management.md
  tensorflow/lite/micro/examples/hello_world/README.md
  tensorflow/lite/micro/examples/magic_wand/README.md
  tensorflow/lite/micro/examples/micro_speech/README.md
  tensorflow/lite/micro/examples/person_detection/README.md
  tensorflow/lite/micro/examples/person_detection/training_a_model.md
  tensorflow/lite/micro/examples/person_detection_experimental/README.md
  tensorflow/lite/micro/examples/person_detection_experimental/training_a_model.md
  tensorflow/lite/micro/kernels/vexriscv/utils/README.md
  tensorflow/lite/micro/tools/make/targets/arc/README.md
  tensorflow/lite/tools/cmake/README.md
  tensorflow/lite/tools/evaluation/tasks/inference_diff/README.md
Labels: cla: yes, comp:lite, ready to pull, size:M

#43975 DOC Add None as possible in input_shape
  tensorflow/python/keras/layers/convolutional.py
Labels: cla: yes, comp:keras, ready to pull, size:S

#42237 Add SegmentProdGrad
  tensorflow/python/ops/math_grad.py
  tensorflow/python/ops/math_grad_test.py
Labels: cla: yes, comp:ops, prtype:bugfix, ready to pull, size:M

#43269 Mutablehashtable lookup support full size dynamic default values.
  tensorflow/core/framework/lookup_interface.cc
  tensorflow/core/framework/lookup_interface.h
  tensorflow/core/kernels/lookup_table_op.cc
  tensorflow/core/ops/lookup_ops.cc
  tensorflow/core/ops/lookup_ops_test.cc
  tensorflow/python/kernel_tests/lookup_ops_test.py
  tensorflow/python/ops/lookup_ops.py
Labels: cla: yes, ready to pull, size:S

#44203 Minor fixes for numpy api docs
  tensorflow/python/ops/numpy_ops/__init__.py
Labels: cla: yes, comp:ops, ready to pull, size:XS

#44277 NFC - minor spelling tweaks of documents under compiler directory
  tensorflow/compiler/mlir/hlo/README.md
  tensorflow/compiler/mlir/hlo/include/mlir-hlo/Dialect/mhlo/IR/hlo_ops_base.td
  tensorflow/compiler/mlir/lite/ir/tfl_ops.td
  tensorflow/compiler/mlir/lite/transforms/optimize_patterns.td
  tensorflow/compiler/mlir/tensorflow/g3doc/space_to_depth.md
  tensorflow/compiler/mlir/tfr/ir/tfr_ops.td
  tensorflow/compiler/xla/service/mlir_gpu/experimental/conv_emitter/g3doc/conv_emitter.md
Labels: cla: yes, ready to pull, size:S

#44355 Yet another attempt at fixing Windows CI
  tensorflow/tools/ci_build/release/common.sh
Labels: cla: yes

#44367 [CherryPick r2.4] Add back the `--copt=-DGRPC_BAZEL_BUILD` build option to MacOS nonpip builds.
  tensorflow/tools/ci_build/rel/macos/cpu_py36_nonpip.sh
  tensorflow/tools/ci_build/rel/macos/cpu_py37_nonpip.sh
  tensorflow/tools/ci_build/rel/macos/cpu_py38_nonpip.sh
Labels: cla: yes

#44084 Add SelectV2 to list of format agnostic ops
  tensorflow/core/grappler/optimizers/layout_optimizer.cc
Labels: cla: yes, comp:grappler, ready to pull, size:XS

#43850 [XLA/GPU] Size-constrained buffer allocation.
  tensorflow/compiler/xla/debug_options_flags.cc
  tensorflow/compiler/xla/service/buffer_assignment.cc
  tensorflow/compiler/xla/service/buffer_assignment.h
  tensorflow/compiler/xla/service/gpu/ir_emitter_unnested.cc
  tensorflow/compiler/xla/service/heap_simulator.cc
  tensorflow/compiler/xla/service/heap_simulator.h
  tensorflow/compiler/xla/service/heap_simulator_test.cc
  tensorflow/compiler/xla/service/memory_space_assignment.cc
  tensorflow/compiler/xla/xla.proto
Labels: cla: yes, ready to pull, size:L

#44316 Fix ESP32 build
  tensorflow/lite/micro/examples/hello_world/README.md
  tensorflow/lite/micro/examples/micro_speech/README.md
  tensorflow/lite/micro/examples/person_detection/README.md
  tensorflow/lite/micro/examples/person_detection/esp/README_ESP.md
  tensorflow/lite/micro/tools/make/targets/esp32_makefile.inc
  tensorflow/lite/micro/tools/make/targets/esp_makefile.inc
Labels: cla: yes, comp:lite, comp:micro, ready to pull, size:M

#44392 One more attempt to fix wheel rename issues
  tensorflow/tools/ci_build/release/common.sh
Labels: cla: yes

#44236 [Cherrypick] Force document private methods/functions
  tensorflow/tools/docs/doc_controls.py
Labels: cla: yes

#44088 Add Linaro Aarch64 builds to community
  README.md
Labels: cla: yes, ready to pull, size:S

#44398 [CherryPick r2.4]Disable test for macos.
  tensorflow/core/distributed_runtime/rpc/BUILD
Labels: cla: yes

#44401 [CherryPick r2.4] [tf.data] Preserving accurate cardinality information for `group_by_window` transformation.
  tensorflow/core/kernels/data/experimental/group_by_window_dataset_op.cc
  tensorflow/python/data/experimental/kernel_tests/bucket_by_sequence_length_test.py
  tensorflow/python/data/experimental/kernel_tests/group_by_window_test.py
Labels: cla: yes

#44402 [Cherrypick r2.4] Fixed the markdown formatting of client.monitor and client.trace API documentation
  tensorflow/python/profiler/profiler_client.py
Labels: cla: yes

#43951 Avoid empty linker_bin_path breaking the build
  third_party/gpus/crosstool/cc_toolchain_config.bzl.tpl
Labels: awaiting review, cla: yes, ready to pull, size:XS

#44388 targets: Rename litex_vexriscv_makefile
  tensorflow/lite/micro/tools/make/targets/zephyr_vexriscv_makefile.inc
Labels: cla: yes, comp:lite, comp:micro, ready to pull, size:XS
