Repository tensorflow/tensorflow, pull requests merged in 2020-11, with the labels that each got.

#44514 Fix project name for GPU ubuntu builds
  tensorflow/tools/ci_build/rel/ubuntu/gpu_py36_pip.sh
  tensorflow/tools/ci_build/rel/ubuntu/gpu_py37_pip.sh
  tensorflow/tools/ci_build/rel/ubuntu/gpu_py38_pip.sh
Labels: cla: yes

#43148 [TFLite] Ensure that all int16x8 operators check that the zero-point is null
  tensorflow/lite/kernels/activations.cc
  tensorflow/lite/kernels/activations_test.cc
  tensorflow/lite/kernels/concatenation.cc
  tensorflow/lite/kernels/concatenation_test.cc
  tensorflow/lite/kernels/conv.cc
  tensorflow/lite/kernels/depthwise_conv.cc
  tensorflow/lite/kernels/dequantize.cc
  tensorflow/lite/kernels/dequantize_test.cc
  tensorflow/lite/kernels/quantize.cc
  tensorflow/lite/kernels/quantize_test.cc
  tensorflow/lite/kernels/reduce.cc
  tensorflow/lite/kernels/reduce_test.cc
Labels: cla: yes, comp:lite, ready to pull, size:M

#44456 TFLu: Fix Renode test of CMSIS-NN conv kernel
  tensorflow/lite/micro/kernels/cmsis-nn/conv.cc
Labels: cla: yes, comp:lite, comp:micro, prtype:bugfix, ready to pull, size:XS

#44488 systemlibs: protobuf: fix merge conflict
  third_party/systemlibs/protobuf.BUILD
Labels: cla: yes, kokoro:force-run, ready to pull, size:XS

#44527 Revert "systemlibs: protobuf: fix merge conflict"
  third_party/systemlibs/protobuf.BUILD
Labels: cla: yes, size:XS

#44469 Add a build badge for TFLM.
  tensorflow/lite/micro/README.md
Labels: cla: yes, comp:lite, comp:micro, ready to pull, size:XS

#44458 Fix linking error of Flex delegate for iOS
  tensorflow/core/kernels/BUILD
  tensorflow/lite/delegates/flex/build_def.bzl
  tensorflow/lite/experimental/ios/BUILD.apple
  tensorflow/lite/interpreter_builder.cc
  tensorflow/lite/special_rules.bzl
Labels: cla: yes, size:M

#44496 Minor Update: Sample Code on Convert Section
  tensorflow/lite/g3doc/convert/index.md
Labels: cla: yes, comp:lite, ready to pull, size:XS

#44395 Fix typos in c directory
  tensorflow/c/c_api.h
  tensorflow/c/c_api_experimental.h
  tensorflow/c/eager/c_api_experimental.h
  tensorflow/c/eager/c_api_remote_test_util.h
  tensorflow/c/eager/c_api_test.cc
  tensorflow/c/kernels/summary_op_test.cc
Labels: cla: yes, ready to pull, size:S

#44310 Parallelize each level of BFS in `GetMatchingPaths`
  tensorflow/core/platform/file_system_helper.cc
Labels: cla: yes, comp:core, ready to pull, size:M

#44397 Fix typos in cc directory
  tensorflow/cc/experimental/base/public/tensor.h
  tensorflow/cc/gradients/nn_grad.cc
  tensorflow/cc/saved_model/experimental/public/saved_model_api.h
  tensorflow/cc/tools/freeze_saved_model_test.cc
Labels: cla: yes, ready to pull, size:S

#44499 Add missing dep on MLIRMhloPassIncGen target
  tensorflow/compiler/mlir/hlo/lib/Dialect/mhlo/transforms/CMakeLists.txt
Labels: cla: yes, ready to pull, size:XS

#43617 [TFLite] Add int16x8 support for non-fused RELU and RELU6 operators
  tensorflow/lite/delegates/nnapi/acceleration_test_list.cc
  tensorflow/lite/kernels/activations.cc
  tensorflow/lite/kernels/activations_test.cc
  tensorflow/lite/kernels/register.cc
  tensorflow/lite/kernels/register_ref.cc
  tensorflow/lite/tools/optimize/operator_property.cc
  tensorflow/lite/tools/versioning/op_version.cc
  tensorflow/lite/tools/versioning/op_version_test.cc
  tensorflow/lite/tools/versioning/runtime_version.cc
Labels: cla: yes, comp:lite, ready to pull, size:M

#44537 Update PendingReleaseVersion to 2.4.0
  tensorflow/lite/tools/versioning/runtime_version.cc
Labels: cla: yes, size:S

#44562 Remove unnecessary check for TARGET in the xtensa_hifimini makefile.
  tensorflow/lite/micro/tools/make/targets/xtensa_hifimini_makefile.inc
Labels: cla: yes, comp:lite, comp:micro, ready to pull, size:M

#44262 TFLu: Update builds with CMSIS-NN
  tensorflow/lite/micro/tools/make/download_and_extract.sh
  tensorflow/lite/micro/tools/make/ext_libs/cmsis_nn.inc
  tensorflow/lite/micro/tools/make/ext_libs/ethosu.inc
  tensorflow/lite/micro/tools/make/helper_functions.inc
Labels: cla: yes, comp:lite, comp:micro, ready to pull, size:M

#43545 Update the CMSIS-NN glue code to support int16 for softmax.
  tensorflow/lite/micro/kernels/cmsis-nn/softmax.cc
Labels: cla: yes, comp:lite, comp:micro, prtype:bugfix, ready to pull, size:M

#44522 Revert "systemlibs: protobuf: Add missing headers"
  third_party/systemlibs/protobuf.BUILD
Labels: cla: yes, ready to pull, size:S

#44542 systemlibs: unbundle typing_extensions
  third_party/systemlibs/syslibs_configure.bzl
  third_party/systemlibs/typing_extensions.BUILD
Labels: cla: yes, ready to pull, size:S

#42699 [TFLite 16x8, documentation] Added section on 16x8 quantization scheme to model-optimization.
  tensorflow/lite/g3doc/performance/model_optimization.md
Labels: cla: yes, comp:lite, ready to pull, size:S

#43156 Revert renaming of tools to exec_tools
  tensorflow/tensorflow.bzl
Labels: cla: yes, ready to pull, size:XS

#44593 Specialize sources for target and optimized kernels independently.
  tensorflow/lite/micro/tools/make/Makefile
  tensorflow/lite/micro/tools/make/ext_libs/xtensa_hifimini.inc
  tensorflow/lite/micro/tools/make/helper_functions.inc
Labels: cla: yes, comp:micro, ready to pull, size:M

#44489 systemlib cherrypicks for r2.4
  .bazelrc
  WORKSPACE
  configure.py
  tensorflow/workspace.bzl
  third_party/systemlibs/dill.BUILD
  third_party/systemlibs/grpc.BUILD
  third_party/systemlibs/grpc.bazel.cc_grpc_library.bzl
  third_party/systemlibs/grpc.bazel.generate_cc.bzl
  third_party/systemlibs/grpc.bazel.grpc_extra_deps.bzl
  third_party/systemlibs/grpc.bazel.protobuf.bzl
  third_party/systemlibs/protobuf.BUILD
  third_party/systemlibs/syslibs_configure.bzl
  third_party/systemlibs/tblib.BUILD
  third_party/systemlibs/typing_extensions.BUILD
Labels: cla: yes, size:L

#44629 [INTEL MKL] Prevent unnecessary copies of oneDNN in .so files.
  tensorflow/core/BUILD
  tensorflow/core/grappler/optimizers/BUILD
  tensorflow/core/util/BUILD
  tensorflow/tensorflow.bzl
Labels: cla: yes, ready to pull, size:S

#43675 Adding README.md to TFLite evaluation/tasks
  tensorflow/lite/tools/evaluation/tasks/README.md
Labels: cla: yes, comp:lite, ready to pull, size:S

#44374 [TFLite] Fix PRELU and MIRROR_PAD operators wrongly marked as int16 quantizable
  tensorflow/lite/tools/optimize/operator_property.cc
Labels: cla: yes, comp:lite, ready to pull, size:XS

#44523 [tf.data] Add more precise processing accounting
  tensorflow/core/kernels/data/captured_function.cc
  tensorflow/core/kernels/data/captured_function.h
  tensorflow/core/kernels/data/experimental/choose_fastest_branch_dataset_op.cc
  tensorflow/core/kernels/data/experimental/group_by_reducer_dataset_op.cc
  tensorflow/core/kernels/data/experimental/group_by_window_dataset_op.cc
  tensorflow/core/kernels/data/experimental/io_ops.cc
  tensorflow/core/kernels/data/experimental/parallel_interleave_dataset_op.cc
  tensorflow/core/kernels/data/experimental/scan_dataset_op.cc
  tensorflow/core/kernels/data/experimental/snapshot_dataset_op.cc
  tensorflow/core/kernels/data/experimental/take_while_dataset_op.cc
  tensorflow/core/kernels/data/filter_dataset_op.cc
  tensorflow/core/kernels/data/flat_map_dataset_op.cc
  tensorflow/core/kernels/data/generator_dataset_op.cc
  tensorflow/core/kernels/data/interleave_dataset_op.cc
  tensorflow/core/kernels/data/iterator_ops.cc
  tensorflow/core/kernels/data/map_dataset_op.cc
  tensorflow/core/kernels/data/parallel_interleave_dataset_op.cc
  tensorflow/core/kernels/data/parallel_map_dataset_op.cc
Labels: cla: yes, comp:data, ready to pull, size:M

#41790 Fix invalid fusion of Matmul and Mul
  tensorflow/compiler/mlir/lite/tests/optimize.mlir
  tensorflow/compiler/mlir/lite/transforms/optimize.cc
  tensorflow/compiler/mlir/lite/utils/validators.cc
  tensorflow/compiler/mlir/lite/utils/validators.h
  tensorflow/compiler/mlir/tensorflow/transforms/optimize.td
  tensorflow/lite/python/lite_v2_test.py
Labels: cla: yes, ready to pull, size:M

#44589 Introduce MHLO_BUILD_EMBEDDED build option
  tensorflow/compiler/mlir/hlo/CMakeLists.txt
Labels: cla: yes, ready to pull, size:S

#44594 2.4-rc1 cherry-pick request: Improve mixed precision docstrings
  tensorflow/python/keras/engine/base_layer.py
  tensorflow/python/keras/mixed_precision/loss_scale_optimizer.py
  tensorflow/python/keras/mixed_precision/policy.py
Labels: cla: yes, size:L

#44534 Call dataset cardinality op on the dataset device.
  tensorflow/python/distribute/input_lib.py
Labels: cla: yes, size:XS

#44474 [TF-numpy] Implementation `np.random.standard_normal`
  tensorflow/python/ops/numpy_ops/np_random.py
  tensorflow/python/ops/numpy_ops/np_random_test.py
  third_party/py/numpy/tf_numpy_api/tensorflow.experimental.numpy.random.pbtxt
Labels: cla: yes, comp:ops, ready to pull, size:S

#44636 [CherryPick r2.4] Re-apply cublasLt changes that were rolled-back
  tensorflow/core/kernels/BUILD
  tensorflow/core/kernels/batch_matmul_op_impl.h
  tensorflow/core/kernels/conv_ops.cc
  tensorflow/core/kernels/conv_ops_gpu.h
  tensorflow/core/kernels/fft_ops.cc
  tensorflow/core/kernels/gpu_utils.cc
  tensorflow/core/kernels/gpu_utils.h
  tensorflow/core/kernels/linalg/einsum_op_impl.h
  tensorflow/core/util/matmul_autotune.cc
  tensorflow/core/util/matmul_autotune.h
Labels: cla: yes, size:L

#44660 PSv2: Only instantiate monitoring.ExponentialBuckets if enable_metric…
  tensorflow/python/distribute/coordinator/metric_utils.py
Labels: cla: yes

#44475 [TF-numpy] Implementation `np.random.poisson`
  tensorflow/python/ops/numpy_ops/np_random.py
  tensorflow/python/ops/numpy_ops/np_random_test.py
  third_party/py/numpy/tf_numpy_api/tensorflow.experimental.numpy.random.pbtxt
Labels: cla: yes, comp:ops, ready to pull, size:S

#44408 Fix typos in core directory
  tensorflow/core/api_def/base_api/api_def_ExtractGlimpse.pbtxt
  tensorflow/core/api_def/base_api/api_def_ExtractGlimpseV2.pbtxt
  tensorflow/core/api_def/base_api/api_def_RaggedTensorToTensor.pbtxt
  tensorflow/core/api_def/base_api/api_def_TensorArrayV3.pbtxt
  tensorflow/core/common_runtime/buf_rendezvous.h
  tensorflow/core/common_runtime/eager/context.cc
  tensorflow/core/common_runtime/eager/mkl_eager_op_rewrite.cc
  tensorflow/core/common_runtime/gpu/gpu_device.cc
  tensorflow/core/common_runtime/inline_function_utils.cc
  tensorflow/core/common_runtime/mkl_layout_pass.cc
  tensorflow/core/common_runtime/process_function_library_runtime.h
  tensorflow/core/common_runtime/scoped_allocator_mgr.cc
  tensorflow/core/distributed_runtime/master_session.cc
  tensorflow/core/framework/model.h
  tensorflow/core/framework/rendezvous_test.cc
  tensorflow/core/framework/tensor_testutil.h
  tensorflow/core/grappler/costs/graph_properties_test.cc
  tensorflow/core/kernels/conv_ops_fused_image_transform.cc
  tensorflow/core/kernels/maxpooling_op.cc
  tensorflow/core/kernels/maxpooling_op_gpu.cu.cc
  tensorflow/core/kernels/quantize_and_dequantize_op_test.cc
  tensorflow/core/kernels/where_op.cc
  tensorflow/core/lib/db/sqlite.h
  tensorflow/core/lib/io/snappy/snappy_inputbuffer.h
  tensorflow/core/lib/io/zlib_outputbuffer.cc
  tensorflow/core/lib/jpeg/jpeg_mem.cc
  tensorflow/core/nccl/nccl_manager_test.cc
  tensorflow/core/platform/cloud/gcs_file_system_test.cc
  tensorflow/core/platform/cpu_info.h
  tensorflow/core/platform/platform_strings_test.cc
  tensorflow/core/util/mkl_util.h
Labels: cla: yes, ready to pull, size:M

#44639 r2.4-rc1 cherry-pick request: [Intel MKL] Prevent unnecessary copies of oneDNN in .so files.
  tensorflow/core/BUILD
  tensorflow/core/grappler/optimizers/BUILD
  tensorflow/core/util/BUILD
  tensorflow/tensorflow.bzl
Labels: cla: yes, size:S

#44663 Updated Estimator Version to 2.4.0-rc0
  tensorflow/tools/pip_package/setup.py
Labels: cla: yes

#44648 [CherryPick 2.4] Fix invalid fusion of Matmul and Mul
  tensorflow/compiler/mlir/lite/tests/optimize.mlir
  tensorflow/compiler/mlir/lite/transforms/optimize.cc
  tensorflow/compiler/mlir/lite/utils/validators.cc
  tensorflow/compiler/mlir/lite/utils/validators.h
  tensorflow/compiler/mlir/tensorflow/transforms/optimize.td
  tensorflow/lite/python/lite_v2_test.py
Labels: cla: yes

#44662 Update version numbers for TensorFlow 2.4.0-rc1
  tensorflow/core/public/version.h
  tensorflow/tools/pip_package/setup.py
Labels: cla: yes

#44667 2.4.0rc1 cherry-pick request: Reduce frequency of logging for untraced functions while loading and saving from SavedModel
  tensorflow/python/saved_model/function_deserialization.py
  tensorflow/python/saved_model/load_test.py
  tensorflow/python/saved_model/save.py
  tensorflow/python/saved_model/save_test.py
Labels: cla: yes

#43837 [coreml delegate] fix usage of coremltools header
  tensorflow/lite/experimental/delegates/coreml/builders/convolution_op_builder.cc
  tensorflow/lite/experimental/delegates/coreml/builders/op_builder.cc
  tensorflow/lite/experimental/delegates/coreml/coreml_delegate_kernel.h
Labels: cla: yes, comp:lite, ready to pull, size:S

#43636 [ROCm] Adding #defines for ROCm / MIOpen / HIP Runtime version numbers
  third_party/gpus/compress_find_rocm_config.py
  third_party/gpus/find_rocm_config.py
  third_party/gpus/find_rocm_config.py.gz.base64
  third_party/gpus/rocm/rocm_config.h.tpl
  third_party/gpus/rocm_configure.bzl
Labels: cla: yes, comp:gpu, ready to pull, size:L

#43823 fix grappler/costs:op_performance_data dependency
  tensorflow/core/grappler/costs/BUILD
Labels: cla: yes, comp:grappler, ready to pull, size:XS

#44665 [INTEL MKL] Bug fix to duplicate kernel registration of BatchMatMulV2.
  tensorflow/core/kernels/mkl/mkl_tmp_bf16_ops.cc
Labels: cla: yes, comp:mkl, ready to pull, size:XS

#43659 [INTEL MKL] Adding CentOS 8 oneDNN partials and dockerfiles
  tensorflow/tools/dockerfiles/dockerfiles/onednn/centos-8-devel-jupyter.Dockerfile
  tensorflow/tools/dockerfiles/dockerfiles/onednn/centos-8-devel-mpi-horovod-jupyter.Dockerfile
  tensorflow/tools/dockerfiles/dockerfiles/onednn/centos-8-devel-mpi-horovod.Dockerfile
  tensorflow/tools/dockerfiles/dockerfiles/onednn/centos-8-devel-mpich-horovod-jupyter.Dockerfile
  tensorflow/tools/dockerfiles/dockerfiles/onednn/centos-8-devel-mpich-horovod.Dockerfile
  tensorflow/tools/dockerfiles/dockerfiles/onednn/centos-8-devel.Dockerfile
  tensorflow/tools/dockerfiles/dockerfiles/onednn/centos-8-jupyter.Dockerfile
  tensorflow/tools/dockerfiles/dockerfiles/onednn/centos-8-mpi-horovod-jupyter.Dockerfile
  tensorflow/tools/dockerfiles/dockerfiles/onednn/centos-8-mpi-horovod.Dockerfile
  tensorflow/tools/dockerfiles/dockerfiles/onednn/centos-8-mpich-horovod-jupyter.Dockerfile
  tensorflow/tools/dockerfiles/dockerfiles/onednn/centos-8-mpich-horovod.Dockerfile
  tensorflow/tools/dockerfiles/dockerfiles/onednn/centos-8.Dockerfile
  tensorflow/tools/dockerfiles/partials/onednn/centos/bazel.partial.Dockerfile
  tensorflow/tools/dockerfiles/partials/onednn/centos/cpu.partial.Dockerfile
  tensorflow/tools/dockerfiles/partials/onednn/centos/devel-horovod.partial.Dockerfile
  tensorflow/tools/dockerfiles/partials/onednn/centos/devel.partial.Dockerfile
  tensorflow/tools/dockerfiles/partials/onednn/centos/horovod.partial.Dockerfile
  tensorflow/tools/dockerfiles/partials/onednn/centos/mpi.partial.Dockerfile
  tensorflow/tools/dockerfiles/partials/onednn/centos/mpich.partial.Dockerfile
  tensorflow/tools/dockerfiles/partials/onednn/centos/python.partial.Dockerfile
  tensorflow/tools/dockerfiles/partials/onednn/centos/version.partial.Dockerfile
  tensorflow/tools/dockerfiles/partials/onednn/jupyter.partial.Dockerfile
  tensorflow/tools/dockerfiles/spec.yml
Labels: cla: yes, ready to pull, size:XL, stat:awaiting tensorflower

#44457 Speedup the TFLu Renode tests
  tensorflow/lite/micro/testing/bluepill.robot
  tensorflow/lite/micro/testing/test_bluepill_binary.sh
Labels: cla: yes, comp:lite, comp:micro, ready to pull, size:M

#43932 Use TensorShape.assert_is_compatible_with instead of merge_with
  tensorflow/python/framework/sparse_tensor.py
  tensorflow/python/ops/clip_ops.py
  tensorflow/python/ops/functional_ops.py
  tensorflow/python/ops/map_fn.py
  tensorflow/python/ops/nn_impl.py
  tensorflow/python/ops/rnn.py
  tensorflow/python/ops/sparse_ops.py
Labels: cla: yes, ready to pull, size:S

#44661 [INTEL MKL] Fixed unit test failures of matmul_op_test, c_api_test an…
  tensorflow/core/kernels/mkl/mkl_matmul_op.cc
Labels: cla: yes, comp:mkl, ready to pull, size:S

#44738 Fix and clean up how we run the bluepill renode tests.
  tensorflow/lite/micro/docs/renode.md
  tensorflow/lite/micro/testing/bluepill.robot
  tensorflow/lite/micro/testing/test_bluepill_binary.sh
Labels: cla: yes, ready to pull, size:M

#44690 Expose Logging C API in pip package
  tensorflow/c/BUILD
Labels: cla: yes, ready to pull, size:XS

#43513 Use std::endl to force flush of output
  tensorflow/lite/examples/label_image/BUILD
  tensorflow/lite/examples/label_image/bitmap_helpers.cc
  tensorflow/lite/examples/label_image/label_image.cc
  tensorflow/lite/examples/label_image/log.h
Labels: cla: yes, comp:lite, ready to pull, size:XS

#44627 [TFLite] Fix reference register using the default register functions instead of the reference one for some ops
  tensorflow/lite/kernels/register_ref.cc
Labels: cla: yes, comp:lite, ready to pull, size:S

#37455 Add and populate leaf_id in boosted_trees.DebugOutput
  tensorflow/core/kernels/boosted_trees/boosted_trees.proto
  tensorflow/core/kernels/boosted_trees/prediction_ops.cc
  tensorflow/python/kernel_tests/boosted_trees/prediction_ops_test.py
Labels: cla: yes, comp:core, ready to pull, size:S

#44634 enable use of <ctime> with micro_time with -DTF_LITE_USE_CTIME
  tensorflow/lite/micro/BUILD
  tensorflow/lite/micro/hexagon/micro_time.cc
  tensorflow/lite/micro/micro_time.cc
  tensorflow/lite/micro/posix/micro_time.cc
  tensorflow/lite/micro/tools/make/Makefile
  tensorflow/lite/micro/tools/make/targets/hexagon_makefile.inc
  tensorflow/lite/micro/tools/make/targets/xtensa_hifimini_makefile.inc
  tensorflow/lite/micro/xtensa_hifimini/micro_time.cc
Labels: cla: yes, comp:lite, comp:micro, ready to pull, size:M

#44415 Fix typos in lite directory
  tensorflow/lite/c/common.h
  tensorflow/lite/core/subgraph.cc
  tensorflow/lite/delegates/delegate_test.cc
  tensorflow/lite/delegates/gpu/api.h
  tensorflow/lite/delegates/gpu/cl/kernels/conv_constants.cc
  tensorflow/lite/delegates/gpu/gl/node_shader.h
  tensorflow/lite/delegates/nnapi/nnapi_delegate.cc
  tensorflow/lite/delegates/utils/dummy_delegate/README.md
  tensorflow/lite/experimental/writer/option_writer_generator.cc
  tensorflow/lite/g3doc/guide/build_arm64.md
  tensorflow/lite/g3doc/guide/build_rpi.md
  tensorflow/lite/g3doc/guide/ops_select.md
  tensorflow/lite/g3doc/inference_with_metadata/task_library/customized_task_api.md
  tensorflow/lite/g3doc/performance/gpu.md
  tensorflow/lite/g3doc/tutorials/model_maker_image_classification.ipynb
  tensorflow/lite/g3doc/tutorials/model_maker_question_answer.ipynb
  tensorflow/lite/g3doc/tutorials/model_maker_text_classification.ipynb
  tensorflow/lite/java/BUILD
  tensorflow/lite/kernels/transpose_conv.cc
  tensorflow/lite/kernels/variable_ops_test.cc
  tensorflow/lite/micro/examples/magic_wand/train/README.md
  tensorflow/lite/micro/examples/micro_speech/README.md
  tensorflow/lite/micro/examples/micro_speech/esp/ringbuf.c
  tensorflow/lite/micro/examples/micro_speech/micro_features/no_feature_data_slice.h
  tensorflow/lite/micro/examples/micro_speech/micro_features/yes_feature_data_slice.h
  tensorflow/lite/micro/examples/micro_speech/simple_features/no_power_spectrum_data.h
  tensorflow/lite/micro/examples/micro_speech/simple_features/simple_features_generator.cc
  tensorflow/lite/micro/examples/micro_speech/simple_features/yes_power_spectrum_data.h
  tensorflow/lite/micro/examples/person_detection/README.md
  tensorflow/lite/micro/kernels/arc_mli/conv.cc
  tensorflow/lite/micro/kernels/arc_mli/depthwise_conv.cc
  tensorflow/lite/micro/kernels/arc_mli/fully_connected.cc
  tensorflow/lite/micro/kernels/arc_mli/pooling.cc
  tensorflow/lite/micro/kernels/arc_mli/scratch_buf_mgr.cc
  tensorflow/lite/micro/kernels/conv.cc
  tensorflow/lite/micro/kernels/depthwise_conv.cc
  tensorflow/lite/micro/kernels/kernel_runner.h
  tensorflow/lite/micro/kernels/vexriscv/depthwise_conv.cc
  tensorflow/lite/micro/kernels/xtensa_hifi/conv.cc
  tensorflow/lite/micro/kernels/xtensa_hifi/depthwise_conv.cc
  tensorflow/lite/micro/kernels/xtensa_hifimini/conv.cc
  tensorflow/lite/micro/kernels/xtensa_hifimini/depthwise_conv.cc
  tensorflow/lite/micro/kernels/xtensa_hifimini/softmax.cc
  tensorflow/lite/micro/tools/make/Makefile
  tensorflow/lite/micro/tools/make/templates/arc/README_ARC_EMSDP.md.tpl
  tensorflow/lite/profiling/profile_summary_formatter.h
  tensorflow/lite/python/optimize/calibrator.py
  tensorflow/lite/tools/benchmark/experimental/c/c_api_types.h
  tensorflow/lite/tools/optimize/operator_property.cc
  tensorflow/lite/tools/versioning/op_version.cc
Labels: cla: yes, comp:lite, ready to pull, size:M

#44731 Fix tpu_executor_dlsym_initializer windows build error
  tensorflow/core/tpu/BUILD
  tensorflow/core/tpu/tpu_executor_dlsym_initializer_windows.cc
Labels: cla: yes, comp:core, ready to pull, size:S

#44652 Go: make ReadTensor return error for shapes with negative dimention
  tensorflow/go/tensor.go
  tensorflow/go/tensor_test.go
Labels: cla: yes, ready to pull, size:S

#44633 use the flatbuffers:runtime_cc bazel target instead of flatbuffers.
  tensorflow/lite/micro/BUILD
Labels: cla: yes, comp:lite, comp:micro, ready to pull, size:XS

#44780 Fix constructor of CommunicationOptions
  tensorflow/python/distribute/collective_util.py
  tensorflow/python/distribute/collective_util_test.py
Labels: cla: yes

#43548 [INTEL MKL] MKL DNN 0.x code cleanup - FusedBatchNorm op
  tensorflow/core/kernels/mkl/mkl_fused_batch_norm_op.cc
Labels: cla: yes, comp:mkl, ready to pull, size:L

#44742 Remove link to inactive chat room on StackOverflow
  README.md
Labels: cla: yes, ready to pull, size:XS

#44712 [ROCm] MLIR-unranked kernels with ROCm
  tensorflow/compiler/mlir/tools/kernel_gen/BUILD
  tensorflow/compiler/mlir/tools/kernel_gen/tf_rocm_runtime_wrappers.cc
  tensorflow/compiler/mlir/tools/kernel_gen/transforms/BUILD
  tensorflow/compiler/mlir/tools/kernel_gen/transforms/gpu_kernel_to_blob_pass.cc
  tensorflow/core/kernels/mlir_generated/BUILD
  tensorflow/core/kernels/mlir_generated/build_defs.bzl
  tensorflow/core/kernels/mlir_generated/unranked_op_gpu_base.h
  tensorflow/stream_executor/gpu/asm_compiler.cc
  tensorflow/stream_executor/gpu/asm_compiler.h
Labels: cla: yes, comp:gpu, ready to pull, size:L

#44746 Enable unit testing with Renode for the Bluepill target as part of CI.
  tensorflow/lite/micro/tools/ci_build/test_all.sh
  tensorflow/lite/micro/tools/ci_build/test_bluepill.sh
Labels: cla: yes, comp:lite, comp:micro, ready to pull, size:S

#44782 Starting to consolidate the xtensa kernels.
  tensorflow/lite/micro/kernels/xtensa/conv.cc
  tensorflow/lite/micro/kernels/xtensa/depthwise_conv.cc
  tensorflow/lite/micro/kernels/xtensa/fixedpoint_utils.h
  tensorflow/lite/micro/kernels/xtensa/fully_connected.cc
  tensorflow/lite/micro/kernels/xtensa/quantize.cc
  tensorflow/lite/micro/kernels/xtensa/softmax.cc
  tensorflow/lite/micro/kernels/xtensa/svdf.cc
  tensorflow/lite/micro/testing/test_xtensa_binary.sh
  tensorflow/lite/micro/tools/make/ext_libs/xtensa.inc
  tensorflow/lite/micro/tools/make/targets/xtensa_makefile.inc
Labels: cla: yes, comp:lite, comp:micro, ready to pull, size:XL

#44764 Replaced np_utils with utils in image.py
  tensorflow/python/keras/preprocessing/image.py
Labels: cla: yes, comp:keras, ready to pull, size:XS

#44432 Add Log1p and DivNoNan gradients
  tensorflow/c/eager/gradients_test.cc
  tensorflow/c/experimental/gradients/math_grad.cc
  tensorflow/c/experimental/gradients/math_grad.h
  tensorflow/c/experimental/ops/array_ops.cc
  tensorflow/c/experimental/ops/array_ops.h
  tensorflow/c/experimental/ops/math_ops.cc
  tensorflow/c/experimental/ops/math_ops.h
  tensorflow/python/framework/experimental/math_ops.cc
  tensorflow/python/framework/experimental/math_ops.py
  tensorflow/python/framework/experimental/tape.cc
  tensorflow/python/framework/experimental/unified_api_test.py
Labels: cla: yes, ready to pull, size:L

#44632 add per_replica support for keras
  tensorflow/python/distribute/input_lib.py
  tensorflow/python/distribute/input_lib_type_spec_test.py
Labels: cla: yes, ready to pull, size:M

#44524 Update list of systemlibs and add script to verify
  tensorflow/tools/ci_build/builds/check_system_libs.py
  third_party/systemlibs/syslibs_configure.bzl
Labels: cla: yes, ready to pull, size:M

#44781 Bump libjpeg-turbo from 2.0.4 to 2.0.5
  third_party/jpeg/workspace.bzl
Labels: cla: yes, ready to pull, size:XS

#44618 Updated ARC optimized depthwise_conv kernel to use the new TfLiteEvalTensor API.
  tensorflow/lite/micro/kernels/arc_mli/depthwise_conv.cc
Labels: cla: yes, comp:lite, comp:micro, ready to pull, size:L

#44617 Updated ARC optimized convolution kernel to use the new TfLiteEvalTensor API.
  tensorflow/lite/micro/kernels/arc_mli/conv.cc
Labels: cla: yes, comp:lite, comp:micro, ready to pull, size:L

#44498 Module of the same name was imported twice.
  tensorflow/python/keras/engine/training_dataset_test.py
  tensorflow/python/util/module_wrapper_test.py
Labels: cla: yes, comp:keras, ready to pull, size:XS

#44558 Fix link text with updated guide title
  tensorflow/python/keras/engine/base_layer.py
  tensorflow/python/keras/type/types.py
Labels: cla: yes, comp:keras, ready to pull, size:XS

#39728 Fix #39462
  tensorflow/python/keras/callbacks.py
Labels: cla: yes, comp:keras, ready to pull, size:XS

#44620 Updated ARC optimized pooling kernel to use the new TfLiteEvalTensor API.
  tensorflow/lite/micro/kernels/arc_mli/pooling.cc
Labels: cla: yes, comp:lite, comp:micro, ready to pull, size:L

#44484 Fix the absl module not found error
  tensorflow/lite/CMakeLists.txt
Labels: cla: yes, comp:lite, ready to pull, size:XS

#44717 Add to release notes: deterministic tf.image.resize (bilinear)
  RELEASE.md
Labels: cla: yes, size:XS

#44771 [CherryPick:r2.4] Expose Logging C API in pip package
  tensorflow/c/BUILD
Labels: cla: yes, size:XS

#44816 2.4.0 cherry-pick request: update tensorboard dependency to 2.4.x
  tensorflow/tools/pip_package/setup.py
Labels: cla: yes, size:XS

#44817 [CherryPick:r2.4] Bump libjpeg-turbo from 2.0.4 to 2.0.5
  third_party/jpeg/workspace.bzl
Labels: cla: yes, size:XS

#44828 Don't enable get_next_as_optional if the dataset is finite.
  tensorflow/python/distribute/input_lib.py
  tensorflow/python/distribute/input_lib_test.py
Labels: cla: yes, size:S

#44853 [CherryPick:r2.4]Fix single pip package renaming bug
  tensorflow/tools/ci_build/release/common.sh
Labels: cla: yes

#44619 Updated ARC optimized fully_connected kernel to use the new TfLiteEvalTensor API.
  tensorflow/lite/micro/kernels/arc_mli/fully_connected.cc
Labels: cla: yes, comp:lite, comp:micro, ready to pull, size:M

#44855 [CherryPick:r2.4]Suppress warnings when listing functions for serialization.
  tensorflow/python/training/tracking/tracking.py
Labels: cla: yes

#44859 Update version numbers for TensorFlow 2.4.0-rc2
  tensorflow/core/public/version.h
  tensorflow/tools/pip_package/setup.py
Labels: cla: yes

#44860 Move flatbuffers downloading into its own stand-alone script.
  tensorflow/lite/micro/tools/make/Makefile
  tensorflow/lite/micro/tools/make/flatbuffers_download.sh
  tensorflow/lite/micro/tools/make/third_party_downloads.inc
Labels: cla: yes, comp:micro, ready to pull, size:M

#44778 Fix TFRecord uncompressed test cases
  tensorflow/core/kernels/data/tf_record_dataset_op_test.cc
Labels: cla: yes, comp:core, ready to pull, size:XS

#44803 correctly handle nccl for nvidia_gpu_device
  tensorflow/compiler/xla/pjrt/BUILD
Labels: cla: yes, ready to pull, size:XS

#44845 Add script to download xa_nn_lib for hifi4 and call from the makefile.
  tensorflow/lite/micro/tools/make/ext_libs/xtensa.inc
  tensorflow/lite/micro/tools/make/ext_libs/xtensa_download.sh
  tensorflow/lite/micro/tools/make/targets/xtensa_hifi_makefile.inc
  tensorflow/lite/micro/tools/make/third_party_downloads.inc
Labels: cla: yes, comp:lite, comp:micro, ready to pull, size:M

#44621 Updated mli_tf_utils.h as part of porting to the new TfLiteEvalTensor API.
  tensorflow/lite/micro/kernels/arc_mli/mli_tf_utils.h
  tensorflow/lite/micro/tools/make/third_party_downloads.inc
Labels: cla: yes, comp:lite, comp:micro, ready to pull, size:S

#44679 [keras/optimizer_v2/ftrl.py] Reflect defaults in docstring
  tensorflow/python/keras/optimizer_v2/ftrl.py
Labels: cla: yes, comp:keras, ready to pull, size:XS

#43685 [INTEL MKL] MKL DNN 0.x code cleanup - AddN op
  tensorflow/core/kernels/mkl/mkl_aggregate_ops.cc
Labels: cla: yes, comp:mkl, ready to pull, size:S

#44812 Markdown typo
  tensorflow/python/keras/layers/dense_attention.py
Labels: cla: yes, comp:keras, ready to pull, size:XS

#44925 Requantize: Return when we have traced opt path
  tensorflow/lite/kernels/internal/reference/requantize.h
Labels: cla: yes, comp:lite, comp:micro, ready to pull, size:XS

#44956 [Cherrypick:r2.4]Disables //tensorflow/python/kernel_tests/boosted_trees:[training_ops_test,prediction_ops_test,resource_ops_test] on Mac OS because of segfaults
  tensorflow/python/kernel_tests/boosted_trees/BUILD
Labels: cla: yes

#44922 [CherryPick:2.4]Do not use fused batch norm in the 5D case.
  tensorflow/python/keras/layers/normalization.py
  tensorflow/python/keras/layers/normalization_test.py
Labels: cla: yes, size:S

#44915 Patch the downloaded flatbuffer code to make compatible with TFLM.
  tensorflow/lite/micro/tools/make/flatbuffers_download.sh
Labels: cla: yes, comp:lite, comp:micro, ready to pull, size:S

#44901 Rename exec_tools to tools
  tensorflow/compiler/aot/tests/BUILD
  tensorflow/compiler/aot/tfcompile.bzl
  tensorflow/compiler/mlir/tfr/build_defs.bzl
  tensorflow/lite/build_def.bzl
  tensorflow/lite/delegates/flex/build_def.bzl
  tensorflow/lite/experimental/acceleration/compatibility/BUILD
  tensorflow/python/tools/BUILD
  tensorflow/python/tools/api/generator/api_gen.bzl
  tensorflow/tools/compatibility/BUILD
Labels: cla: yes, ready to pull, size:S

#44809 Move cudnn library preloading into Get*Algorithms
  tensorflow/stream_executor/cuda/cuda_dnn.cc
Labels: cla: yes, ready to pull, size:S

#44924 ESP32 build: Fix function prototype warning
  tensorflow/lite/micro/examples/micro_speech/esp/main.cc
  tensorflow/lite/micro/examples/person_detection/esp/main.cc
Labels: cla: yes, comp:lite, comp:micro, ready to pull, size:XS

#44202 Allow unit-length Concatenate-layer input
  tensorflow/python/keras/layers/merge.py
  tensorflow/python/keras/layers/merge_test.py
Labels: cla: yes, comp:keras, ready to pull, size:XS

#43880 Fix channel first support for effieicentnet
  tensorflow/python/keras/applications/efficientnet.py
Labels: cla: yes, comp:keras, ready to pull, size:XS

#44880 Change tf_upgrade_v2 to be compatible with tf1 and tf2 for tf.nn.dropout
  tensorflow/tools/compatibility/tf_upgrade_v2.py
  tensorflow/tools/compatibility/tf_upgrade_v2_test.py
Labels: cla: yes, ready to pull, size:S

#44949 Fix small typos
  tensorflow/python/keras/regularizers.py
  tensorflow/python/ops/numpy_ops/__init__.py
  tensorflow/tools/pip_package/setup.py
Labels: cla: yes, ready to pull, size:S

#44939 TFlu: Add unit test for multiple inputs
  tensorflow/lite/micro/micro_interpreter_test.cc
  tensorflow/lite/micro/test_helpers.cc
  tensorflow/lite/micro/test_helpers.h
Labels: cla: yes, comp:lite, comp:micro, ready to pull, size:M

#44588 Add ESP32 examples build test
  tensorflow/lite/micro/tools/ci_build/test_esp32.sh
Labels: cla: yes, comp:lite, comp:micro, comp:micro:espressif, ready to pull, size:M

#44793 Fix a typo
  tensorflow/compiler/jit/flags.h
Labels: cla: yes, ready to pull, size:XS

#41733 Implemented TFLogSinks
  tensorflow/BUILD
  tensorflow/core/platform/default/BUILD
  tensorflow/core/platform/default/logging.cc
  tensorflow/core/platform/default/logging.h
  tensorflow/core/platform/logging_test.cc
  tensorflow/tensorflow.bzl
Labels: cla: yes, ready to pull, size:L

#45018 Make open source CI closer to the internal tests.
  tensorflow/lite/micro/tools/ci_build/test_x86.sh
Labels: cla: yes, comp:micro, ready to pull, size:XS

#44993 Include C logging API into part of the libtensorflow_framework.so
  tensorflow/BUILD
Labels: cla: yes, ready to pull, size:XS

#40993 Add support for layers with multiple inputs and outputs
  tensorflow/python/keras/layers/wrappers.py
  tensorflow/python/keras/layers/wrappers_test.py
Labels: cla: yes, comp:keras, prtype:bugfix, ready to pull, size:M

#45027 Fixed typo in documentation
  tensorflow/lite/micro/README.md
Labels: cla: yes, comp:lite, comp:micro, ready to pull, size:XS

#44436 Add GPU implementation for tf.segment_* (prod&max&min)
  tensorflow/core/kernels/segment_reduction_ops.h
  tensorflow/core/kernels/segment_reduction_ops_gpu.cu.cc
  tensorflow/core/kernels/segment_reduction_ops_impl.h
  tensorflow/core/kernels/segment_reduction_ops_impl_1.cc
  tensorflow/core/kernels/segment_reduction_ops_impl_2.cc
  tensorflow/core/kernels/segment_reduction_ops_impl_3.cc
  tensorflow/core/kernels/segment_reduction_ops_impl_4.cc
  tensorflow/python/kernel_tests/BUILD
Labels: cla: yes, comp:core, ready to pull, size:L

#40841 Update pooling.py
  tensorflow/python/keras/layers/pooling.py
Labels: cla: yes, comp:keras, ready to pull, size:XS

#44530 [ROCm] Fix for ROCm CSB breakage - 201102
  tensorflow/python/kernel_tests/while_v2_test.py
Labels: cla: yes, comp:gpu, ready to pull, size:XS

#44504 Replace the COMPUTE_FTRL macro with a templated function; NFC
  tensorflow/core/kernels/training_ops.cc
Labels: cla: yes, comp:core, ready to pull, size:M

#44994 Doc py_function unknown shape
  tensorflow/python/ops/script_ops.py
Labels: cla: yes, comp:ops, ready to pull, size:S

#44807 [curl_http_request] fix wrong option for starttransfer_time_status
  tensorflow/core/platform/cloud/curl_http_request.cc
Labels: cla: yes, comp:core, ready to pull, size:XS

#44962 Add missing closing quotes for example in docstring
  tensorflow/python/ops/image_ops_impl.py
Labels: cla: yes, comp:ops, ready to pull, size:XS

#44521 Formatting fix
  tensorflow/python/keras/backend.py
Labels: cla: yes, comp:keras, ready to pull, size:XS

#45012 Add s390x support for compiler related TCs
  tensorflow/compiler/xla/service/cpu/test_target_triple_helper.h
  tensorflow/compiler/xla/tests/local_client_aot_test_helper.cc
Labels: cla: yes, comp:xla, ready to pull, size:XS

#43836 Use enueration for policy items
  ISSUES.md
Labels: cla: yes, ready to pull, size:XS

#44998 [CherryPick:r2.4] add per_replica support for keras
  tensorflow/python/distribute/input_lib.py
  tensorflow/python/distribute/input_lib_type_spec_test.py
Labels: cla: yes

#44735 [TFLite] Disable the unfolding of the BatchMatMulOp for 16-bit inference
  tensorflow/compiler/mlir/lite/python/graphdef_to_tfl_flatbuffer.cc
  tensorflow/compiler/mlir/lite/python/saved_model_to_tfl_flatbuffer.cc
Labels: cla: yes, ready to pull, size:S

#45116 [CherryPick:r2.4][tf.data] Making sure setting tf.data threading options does not prevent auto-sharding from using file-level sharding.
  tensorflow/core/grappler/optimizers/data/auto_shard.cc
  tensorflow/python/data/experimental/kernel_tests/auto_shard_dataset_test.py
Labels: cla: yes

#45111 [r2.4 cherry-pick] Include C logging API into part of the libtensorflow_framework.so
  tensorflow/BUILD
Labels: cla: yes

#45080 Fix typo in gradients.cc
  tensorflow/c/eager/gradients.cc
Labels: cla: yes, comp:eager, ready to pull, size:XS

#45125 [CherryPick:r2.4]Change NCCL_PATCH to 6
  third_party/nccl/archive.patch
Labels: cla: yes

#45128 [CherryPick:r2.4] Rename exec_tools to tools
  tensorflow/compiler/aot/tests/BUILD
  tensorflow/compiler/aot/tfcompile.bzl
  tensorflow/compiler/mlir/tfr/build_defs.bzl
  tensorflow/lite/build_def.bzl
  tensorflow/lite/delegates/flex/build_def.bzl
  tensorflow/lite/experimental/acceleration/compatibility/BUILD
  tensorflow/python/tools/BUILD
  tensorflow/python/tools/api/generator/api_gen.bzl
  tensorflow/tools/compatibility/BUILD
Labels: cla: yes

#45126 Update version numbers for TensorFlow 2.4.0-rc3
  tensorflow/core/public/version.h
  tensorflow/tools/pip_package/setup.py
Labels: cla: yes

#43957 [TFLite] Add int16x8 support for RESIZE_BILINEAR operator
  tensorflow/lite/kernels/internal/reference/reference_ops.h
  tensorflow/lite/kernels/internal/resize_bilinear_test.cc
  tensorflow/lite/kernels/register.cc
  tensorflow/lite/kernels/register_ref.cc
  tensorflow/lite/kernels/resize_bilinear.cc
  tensorflow/lite/kernels/resize_bilinear_test.cc
  tensorflow/lite/tools/optimize/operator_property.cc
  tensorflow/lite/tools/versioning/op_version.cc
  tensorflow/lite/tools/versioning/op_version_test.cc
  tensorflow/lite/tools/versioning/runtime_version.cc
Labels: cla: yes, comp:lite, ready to pull, size:M

#45029 Update PCRE library from 8.42 to 8.44
  tensorflow/workspace.bzl
Labels: cla: yes, ready to pull, size:XS

#41072 ValueError raised when weights is a None object
  tensorflow/python/keras/engine/base_layer.py
Labels: cla: yes, comp:keras, ready to pull, size:XS

#45040 TFLu: Suppress compiler error for generated segfault
  tensorflow/lite/micro/tools/make/flatbuffers_download.sh
Labels: cla: yes, comp:lite, comp:micro, ready to pull, size:XS

#45057 Improve grappler layout optimizer to support 5D tensors [Resubmit]
  tensorflow/compiler/tf2xla/kernels/data_format_ops.cc
  tensorflow/core/grappler/op_types.cc
  tensorflow/core/grappler/op_types.h
  tensorflow/core/grappler/optimizers/generic_layout_optimizer_transposer.cc
  tensorflow/core/grappler/optimizers/generic_layout_optimizer_transposer.h
  tensorflow/core/grappler/optimizers/generic_layout_optimizer_transposer_factory.cc
  tensorflow/python/grappler/layout_optimizer_test.py
Labels: cla: yes, ready to pull, size:L

#45127 Add build badge for community supported continuous build for Xtensa.
  tensorflow/lite/micro/README.md
Labels: cla: yes, comp:lite, comp:micro, ready to pull, size:S

#45122 [TF-TRT] Added an environment variable to user specified TRT Algorithm ID
  tensorflow/compiler/tf2tensorrt/convert/convert_nodes.cc
Labels: cla: yes, ready to pull, size:M

#45154 [ROCm] Updating find_rocm_config.py to …
  third_party/gpus/find_rocm_config.py
  third_party/gpus/find_rocm_config.py.gz.base64
Labels: cla: yes, comp:gpu, ready to pull, size:S

#45145 TFLu: Pass the correct size of buffers to the driver
  tensorflow/lite/micro/kernels/ethos-u/ethosu.cc
Labels: cla: yes, comp:micro, ready to pull, size:S

#45050 ifdef out known failing test cases for xtensa for depthwise_conv
  tensorflow/lite/micro/kernels/depthwise_conv_test.cc
Labels: cla: yes, comp:micro, ready to pull, size:M

#45051 ifdef out the known failing test cases for FullyConnected for hifimini.
  tensorflow/lite/micro/kernels/fully_connected_test.cc
Labels: cla: yes, comp:micro, ready to pull, size:M

#45052 ifdef out known failing test cases for xtensa for svdf.
  tensorflow/lite/micro/kernels/svdf_test.cc
Labels: cla: yes, comp:lite, comp:micro, ready to pull, size:S

#35984 Add Usage Example to Keras Nadam Optimizer
  tensorflow/python/keras/optimizer_v2/nadam.py
Labels: awaiting review, cla: yes, comp:keras, ready to pull, size:S

#43895 [INTEL MKL] MKL DNN 0.x code cleanup - Quantized Matmul op
  tensorflow/core/kernels/mkl/mkl_qmatmul_op.cc
Labels: cla: yes, comp:mkl, ready to pull, size:M

#43780 [INTEL MKL] MKL DNN 0.x code cleanup - Relu ops
  tensorflow/core/kernels/mkl/mkl_relu_op.cc
  tensorflow/core/kernels/mkl/mkl_relu_op_test.cc
Labels: cla: yes, comp:mkl, ready to pull, size:L

#43804 [INTEL MKL] MKL DNN 0.x code cleanup - Matmul op
  tensorflow/core/kernels/mkl/mkl_matmul_op.cc
  tensorflow/core/kernels/mkl/mkl_matmul_ops_common.h
Labels: cla: yes, comp:mkl, ready to pull, size:M

#44862 [INTEL MKL] DNN 0.x code cleanup - backward conv ops
  tensorflow/core/kernels/mkl/mkl_conv_grad_filter_ops.cc
  tensorflow/core/kernels/mkl/mkl_conv_grad_input_ops.cc
Labels: cla: yes, comp:mkl, ready to pull, size:L

#45183 Added useful C++ symbols missing from the tensorflow DLL on windows
  tensorflow/tools/def_file_filter/def_file_filter.py.tpl
Labels: cla: yes, ready to pull, size:XS

#44425 Remove hardcoded int32 conversion
  tensorflow/python/ops/array_grad.py
Labels: cla: yes, comp:ops, ready to pull, size:XS
