Repository tensorflow/tensorflow, pull requests merged in 2020-02, with the labels that each got.

#36386 [ROCm][XLA] Fixing gpu_unrolling_test filecheck string
  tensorflow/compiler/xla/service/gpu/tests/gpu_unrolling_test.cc
Labels: cla: yes, comp:gpu, ready to pull, size:S

#35429 Add usage example for tf.math.sigmoid
  tensorflow/python/ops/math_ops.py
Labels: cla: yes, ready to pull, size:XS

#35972 [ROCm] Enabling several cwise op kernels
  tensorflow/core/kernels/cwise_op_div.cc
  tensorflow/core/kernels/cwise_op_gpu_arg.cu.cc
  tensorflow/core/kernels/cwise_op_gpu_div.cu.cc
  tensorflow/core/kernels/cwise_op_mul_1.cc
  tensorflow/core/kernels/cwise_op_xlogy.cc
  tensorflow/core/kernels/cwise_ops_test.cc
Labels: cla: yes, comp:gpu, ready to pull, size:S

#36124 TFLu: Updated CMSIS URL
  tensorflow/lite/micro/tools/make/third_party_downloads.inc
Labels: cla: yes, comp:lite, comp:micro, ready to pull, size:XS

#35123 lite/micro: Fix bug in tensor lifetime calculation.
  tensorflow/lite/micro/micro_allocator.cc
  tensorflow/lite/micro/micro_allocator_test.cc
  tensorflow/lite/micro/micro_interpreter_test.cc
  tensorflow/lite/micro/test_helpers.cc
Labels: cla: yes, comp:lite, comp:micro, prtype:bugfix, ready to pull, size:XS

#36157 Repair broken links
  tensorflow/lite/toco/README.md
Labels: cla: yes, ready to pull, size:XS, type:docs

#36403 [core] Avoid HashNode lookup of a null nodedef
  tensorflow/core/kernels/data/rewrite_utils.cc
Labels: cla: yes, ready to pull, size:XS

#36387 Fix go proto handling
  tensorflow/core/protobuf/autotuning.proto
  tensorflow/core/protobuf/bfc_memory_map.proto
  tensorflow/core/protobuf/conv_autotuning.proto
  tensorflow/core/protobuf/debug_event.proto
  tensorflow/core/protobuf/device_filters.proto
  tensorflow/core/protobuf/eager_service.proto
  tensorflow/core/protobuf/graph_debug_info.proto
  tensorflow/core/protobuf/remote_tensor_handle.proto
  tensorflow/core/protobuf/replay_log.proto
  tensorflow/core/protobuf/saved_object_graph.proto
  tensorflow/core/protobuf/struct.proto
  tensorflow/core/protobuf/trace_events.proto
  tensorflow/core/protobuf/trackable_object_graph.proto
  tensorflow/core/protobuf/transport_options.proto
  tensorflow/go/genop/generate.sh
  tensorflow/go/saved_model.go
  tensorflow/go/signature.go
  tensorflow/go/signature_test.go
  tensorflow/stream_executor/dnn.proto
Labels: cla: yes, ready to pull, size:M

#36035 Include casting to desired type to prevent dtype mismatch error.
  tensorflow/python/keras/losses.py
Labels: cla: yes, comp:keras, ready to pull, size:XS

#35125 lite/micro: Add feature buffer to micro_speech example.
  tensorflow/lite/micro/examples/micro_speech/main_functions.cc
Labels: cla: yes, comp:lite, comp:micro, prtype:bugfix, ready to pull, size:S

#35964 [ROCm] Enabling //tensorflow/core/framework:variant_op_registry_test
  tensorflow/core/framework/variant_op_registry_test.cc
Labels: cla: yes, comp:gpu, ready to pull, size:S

#36263 [ROCm] Adding ROCm support for CTC Loss
  tensorflow/core/kernels/BUILD
  tensorflow/core/kernels/ctc_loss_op.cc
  tensorflow/stream_executor/rocm/rocm_dnn.cc
  tensorflow/stream_executor/rocm/rocm_dnn.h
Labels: cla: yes, comp:gpu, ready to pull, size:M

#36324 [compiler] Simplify the expression for check batch size modified
  tensorflow/compiler/tf2tensorrt/convert/convert_nodes.cc
Labels: cla: yes, comp:gpu:tensorrt, ready to pull, size:XS

#36440 Dockerfile: Don't commit pip cache to Docker image
  tensorflow/tools/dockerfiles/dockerfiles/cpu-jupyter.Dockerfile
  tensorflow/tools/dockerfiles/dockerfiles/cpu.Dockerfile
  tensorflow/tools/dockerfiles/dockerfiles/gpu-jupyter.Dockerfile
  tensorflow/tools/dockerfiles/dockerfiles/gpu.Dockerfile
  tensorflow/tools/dockerfiles/dockerfiles/mkl_horovod/horovod-jupyter.Dockerfile
  tensorflow/tools/dockerfiles/dockerfiles/mkl_horovod/horovod.Dockerfile
  tensorflow/tools/dockerfiles/partials/tensorflow.partial.Dockerfile
Labels: cla: yes, ready to pull, size:XS

#36220 Contributing: fix typos
  tensorflow/c/eager/c_api_experimental.h
  tensorflow/c/experimental/filesystem/modular_filesystem_test.cc
  tensorflow/compiler/mlir/xla/transforms/legalize_tf.cc
  tensorflow/core/grappler/optimizers/data/auto_shard.cc
  tensorflow/core/protobuf/eager_service.proto
  tensorflow/lite/experimental/ruy/prepacked_cache_test.cc
  tensorflow/lite/micro/tools/make/transform_arduino_source.py
  tensorflow/lite/micro/tools/make/transform_source.py
  tensorflow/lite/toco/logging/conversion_log_util.h
  tensorflow/python/data/experimental/kernel_tests/bucket_by_sequence_length_test.py
  tensorflow/python/keras/layers/preprocessing/categorical_encoding.py
  tensorflow/python/keras/layers/preprocessing/text_vectorization.py
  tensorflow/python/ops/image_grad.py
  tensorflow/python/tpu/client/pip_package/README
  tensorflow/python/training/tracking/data_structures.py
Labels: cla: yes, ready to pull, size:S

#36017 [ROCm] Fixing a bug in the previous commit to nccl_manager_test.cc file.
  tensorflow/core/nccl/nccl_manager_test.cc
  tensorflow/tools/ci_build/linux/rocm/run_cc_core.sh
Labels: cla: yes, comp:gpu, ready to pull, size:XS

#36325 [core] scatter_op: Remove duplicate check for IsScalar()
  tensorflow/core/kernels/scatter_op.cc
Labels: cla: yes, ready to pull, size:XS

#36434 Improve TensorRT binding index query
  tensorflow/compiler/tf2tensorrt/kernels/trt_engine_op.cc
Labels: cla: yes, comp:gpu:tensorrt, ready to pull, size:L

#36512 Micro: Fix error in README for network_tester example
  tensorflow/lite/micro/examples/network_tester/README.md
Labels: cla: yes, comp:micro, ready to pull, size:XS

#36481 Move and update CMSIS-NN readme file
  tensorflow/lite/micro/kernels/cmsis-nn/README.md
Labels: awaiting review, cla: yes, comp:micro, ready to pull, size:S

#36608 Update eigen archive download path of TFLite r2.1 branch
  tensorflow/lite/tools/make/download_dependencies.sh
Labels: cla: yes, comp:lite

#36191 [ROCm][XLA] Adding three passes to amdgpu compiler
  tensorflow/compiler/xla/service/gpu/BUILD
  tensorflow/compiler/xla/service/gpu/amdgpu_compiler.cc
Labels: cla: yes, comp:gpu, ready to pull, size:S

#35425 Add usage example to math.poly_val
  tensorflow/python/ops/math_ops.py
Labels: cla: yes, ready to pull, size:XS

#36351 [ROCm][XLA] Disable ResizeBilinearTest in image_ops_test
  tensorflow/compiler/tests/image_ops_test.py
Labels: cla: yes, ready to pull, size:XS

#36586 Updating the template of "others" type of issues
  .github/ISSUE_TEMPLATE/50-other-issues.md
Labels: cla: yes, ready to pull, size:XS

#36584 Updating the template of tflite component
  .github/ISSUE_TEMPLATE/40-tflite-op-request.md
Labels: cla: yes, ready to pull, size:XS

#36638 Update and rename 00-bug-performance-issue.md to 00-bug-issue.md
  .github/ISSUE_TEMPLATE/00-bug-issue.md
Labels: cla: yes

#36285 update error checking on TensorFlow 2.0
  tensorflow/examples/speech_commands/train.py
Labels: cla: yes, ready to pull, size:XS

#36582 Updating the template of Build/Install
  .github/ISSUE_TEMPLATE/10-build-installation-issue.md
Labels: cla: yes, ready to pull, size:XS

#36604 Small docstring fix. This make the example work.
  tensorflow/compiler/jit/flags.cc
Labels: cla: yes, ready to pull, size:XS

#36443 [TFLite int16] Requantize node for the case: 16-bit activations and 8-bit weights
  tensorflow/lite/kernels/quantize.cc
  tensorflow/lite/kernels/quantize_test.cc
Labels: cla: yes, comp:lite, ready to pull, size:S

#36335 [MLIR][XLA] Remove redundant LHLO CopyOp
  tensorflow/compiler/mlir/xla/tests/hlo-legalize-to-lhlo.mlir
  tensorflow/compiler/mlir/xla/transforms/hlo_legalize_to_lhlo.cc
  tensorflow/compiler/mlir/xla/transforms/passes.h
  tensorflow/compiler/xla/service/mlir_gpu/kernel_lowering.cc
Labels: cla: yes, comp:xla, ready to pull, size:M

#36472 Allow listing an bucket for S3 Filesystem backend.
  tensorflow/core/platform/s3/s3_file_system.cc
Labels: cla: yes, ready to pull, size:XS

#35971 [ROCm] GpuManagedAllocator and common_runtime unit tests
  tensorflow/core/common_runtime/gpu/gpu_device_test.cc
  tensorflow/core/common_runtime/gpu/gpu_event_mgr_test.cc
  tensorflow/core/common_runtime/gpu/gpu_managed_allocator.cc
  tensorflow/core/common_runtime/gpu/pool_allocator_test.cc
  tensorflow/core/common_runtime/hierarchical_tree_broadcaster_test.cc
  tensorflow/core/common_runtime/memory_types_test.cc
  tensorflow/core/common_runtime/placer_test.cc
  tensorflow/core/common_runtime/process_function_library_runtime_test.cc
  tensorflow/core/common_runtime/ring_gatherer_test.cc
  tensorflow/core/common_runtime/ring_reducer_test.cc
Labels: cla: yes, comp:gpu, ready to pull, size:M

#36570 Small docstring fix in description of keras predict
  tensorflow/python/keras/engine/training.py
Labels: cla: yes, comp:keras, ready to pull, size:XS

#36408 [lite] pass array_names by const ref
  tensorflow/lite/toco/graph_transformations/hardcode_min_max.cc
Labels: cla: yes, comp:lite, ready to pull, size:XS

#36670 Updated an example for reduce_euclidean_norm
  tensorflow/python/ops/math_ops.py
Labels: cla: yes, comp:ops, ready to pull, size:S

#34625 Fixing test that fails on AVX512
  tensorflow/python/keras/backend.py
Labels: awaiting review, cla: yes, comp:keras, ready to pull, size:S

#36671 [ROCm] Fix for a test failure on the ROCm platform - 200211 - 1
  tensorflow/compiler/xla/service/gpu/tests/gpu_kernel_tiling_test.cc
Labels: cla: yes, comp:xla, ready to pull, size:S

#36617 Remove Meaningless Reversed()
  tensorflow/python/ops/distributions/special_math.py
Labels: cla: yes, comp:ops, ready to pull, size:M

#36701 Fix: fixed LSTMBlockCell cuda kernel
  tensorflow/core/kernels/rnn/lstm_ops_gpu.cu.cc
  tensorflow/python/BUILD
  tensorflow/python/ops/rnn_grad_test.py
Labels: cla: yes, ready to pull, size:M

#36583 Updating the template of Feature type
  .github/ISSUE_TEMPLATE/30-feature-request.md
Labels: cla: yes, ready to pull, size:XS

#36713 Remove unnecessary "T" before "tf.Tensor" in all_reduce.py
  tensorflow/python/distribute/all_reduce.py
Labels: cla: yes, ready to pull, size:M

#36732 Fix issue templates
  .github/ISSUE_TEMPLATE/00-bug-issue.md
  .github/ISSUE_TEMPLATE/10-build-installation-issue.md
  .github/ISSUE_TEMPLATE/20-documentation-issue.md
  .github/ISSUE_TEMPLATE/40-tflite-op-request.md
  .github/ISSUE_TEMPLATE/50-other-issues.md
  .github/ISSUE_TEMPLATE/60-tflite-converter-issue.md
  .github/ISSUE_TEMPLATE/80-performance-issue.md
Labels: cla: yes, ready to pull, size:S

#36571 Change “jobs” to “roles” to avoid confusion
  tensorflow/python/distribute/parameter_server_strategy.py
Labels: cla: yes, ready to pull, size:XS

#36689 libtensorfow-lite.a linking issue
  tensorflow/lite/tools/make/Makefile
Labels: cla: yes, comp:lite, ready to pull, size:XS

#33497 Handle indexed slice empty shapes in IndexedSlices gradients correctly.
  tensorflow/python/eager/backprop.py
Labels: cla: yes, prtype:bugfix, ready to pull, size:S

#28876 Make vscode's pylint integration work on TensorFlow source
  .pylintrc
Labels: cla: yes, ready to pull, size:XS

#27347 Contradicting comments removed
  tensorflow/lite/allocation.cc
Labels: awaiting review, cla: yes, comp:lite, ready to pull, size:XS

#34869 [tflite] bump SPLIT op ver from 1 to 3 in NNAPI delegate
  tensorflow/lite/delegates/nnapi/nnapi_delegate.cc
Labels: cla: yes, comp:lite, ready to pull, size:XS

#36760 [INTEL MKL] Upgrading RequantizePerChannel Op with API changes in MKLDNN 1.0
  tensorflow/core/kernels/mkl_requantize_per_channel_op.cc
Labels: cla: yes, comp:mkl, ready to pull, size:M

#35905 Fix the comparison of integer expressions of different signedness
  tensorflow/compiler/jit/xla_kernel_creator_util.cc
  tensorflow/core/platform/numbers.cc
  tensorflow/python/client/tf_session_wrapper.cc
  tensorflow/python/grappler/cluster_wrapper.cc
Labels: cla: yes, ready to pull, size:XS

#36698 [ROCm] Fix for a bug in the ROCm implementation for matrix_triangular_solve op
  tensorflow/core/kernels/matrix_triangular_solve_op_impl.h
Labels: cla: yes, ready to pull, size:XS

#35714 fixed static sized arrays with variable length
  tensorflow/lite/micro/micro_utils_test.cc
  tensorflow/lite/micro/testing_helpers_test.cc
Labels: cla: yes, comp:lite, ready to pull, size:S

#36761 [INTEL MKL] Updating QuantizeV2 and Dequantize Ops with API changes in MKLDNN 1.0
  tensorflow/core/kernels/mkl_dequantize_op.cc
  tensorflow/core/kernels/mkl_quantize_op.cc
  tensorflow/core/util/mkl_types.h
  tensorflow/core/util/mkl_util.h
Labels: cla: yes, comp:mkl, ready to pull, size:L

#36406 [lite] check index channel before accessing center_frequencies_
  tensorflow/lite/kernels/internal/mfcc_mel_filterbank.cc
Labels: cla: yes, comp:lite, ready to pull, size:XS

#36534 Tflite micro: Fix #36533 (segfault after failing to allocate tensors in MicroAllocator)
  tensorflow/lite/micro/micro_allocator.cc
Labels: cla: yes, comp:lite, comp:micro, prtype:bugfix, ready to pull, size:XS

#36741 Fix a typo in imagenet run_eval readme
  tensorflow/lite/tools/evaluation/tasks/imagenet_image_classification/README.md
Labels: cla: yes, comp:lite, ready to pull, size:XS

#36578 Go: NewTensor & Value performance improvement
  tensorflow/go/tensor.go
  tensorflow/go/tensor_test.go
Labels: cla: yes, ready to pull, size:M

#34870 Use _get_distribution_strategy only when it is available.
  tensorflow/python/keras/callbacks.py
Labels: cla: yes, comp:keras, ready to pull, size:S

#36743 Fix example speech_command: v2 compatibility
  tensorflow/examples/speech_commands/accuracy_utils.py
  tensorflow/examples/speech_commands/test_streaming_accuracy.py
Labels: cla: yes, ready to pull, size:S

#36186 Update the docstring of @tf.exports methods in tf.nest.
  tensorflow/python/util/nest.py
  tensorflow/python/util/util.cc
  tensorflow/python/util/util.h
  tensorflow/python/util/util_wrapper.cc
  tensorflow/tools/def_file_filter/symbols_pybind.txt
Labels: cla: yes, ready to pull, size:S

#36333 Fixed inconsistencies between int and int32_t type uses
  tensorflow/lite/c/c_api.cc
  tensorflow/lite/c/c_api.h
  tensorflow/lite/c/c_api_experimental.cc
  tensorflow/lite/c/c_api_experimental.h
Labels: cla: yes, comp:lite, ready to pull, size:XS

#36908 Update Session.py
  tensorflow/python/client/session.py
Labels: cla: yes, ready to pull, size:XS

#36738 [Intel MKL] Updating MatMul kernels with MKLDNN 1.x API changes
  tensorflow/core/kernels/BUILD
  tensorflow/core/kernels/mkl_batch_matmul_op.cc
  tensorflow/core/kernels/mkl_matmul_op.cc
  tensorflow/core/kernels/mkl_matmul_op_fused.cc
  tensorflow/core/kernels/mkl_matmul_ops_common.h
  tensorflow/core/kernels/mkl_qmatmul_op.cc
  tensorflow/core/util/mkl_types.h
Labels: cla: yes, comp:mkl, ready to pull, size:L

#36744 [INTEL MKL] DNN1.0 integration - concat op
  tensorflow/core/kernels/mkl_concat_op.cc
  tensorflow/core/util/mkl_types.h
Labels: cla: yes, comp:mkl, ready to pull, size:M

#36742 [Intel MKL] Fix dequantize accuracy issue and re-enable this OP
  tensorflow/core/graph/mkl_layout_pass.cc
  tensorflow/core/kernels/BUILD
  tensorflow/core/kernels/mkl_dequantize_op.cc
  tensorflow/core/kernels/mkl_dequantize_op_test.cc
  tensorflow/core/kernels/mkl_reshape_op.cc
  tensorflow/core/ops/mkl_array_ops.cc
  tensorflow/core/util/mkl_util.h
Labels: cla: yes, comp:mkl, ready to pull, size:M

#36904 TFLite: static library: fix benchmark build issue
  tensorflow/lite/tools/make/Makefile
Labels: cla: yes, comp:lite, ready to pull, size:XS

#36356 [S3] Allow configuration of certificate files when accessing S3
  tensorflow/core/platform/s3/s3_file_system.cc
Labels: cla: yes, ready to pull, size:XS

#36210 Add converter for SparseSoftmaxCrossEntropyWithLogits
  tensorflow/python/ops/parallel_for/control_flow_ops_test.py
  tensorflow/python/ops/parallel_for/pfor.py
Labels: cla: yes, comp:ops, ready to pull, size:S

#36891 Fix typo in tf.data.Dataset.list_files example code
  tensorflow/python/data/ops/dataset_ops.py
Labels: cla: yes, ready to pull, size:XS

#36886 [Docs] update mathjax for lbeta
  tensorflow/python/ops/special_math_ops.py
Labels: cla: yes, comp:ops, ready to pull, size:S

#36502 Update nn_impl.py
  tensorflow/python/ops/nn_impl.py
Labels: cla: yes, comp:ops, ready to pull, size:XS

#36876 Add leaky_relu operator property
  tensorflow/lite/tools/optimize/operator_property.cc
Labels: cla: yes, comp:lite, prtype:bugfix, ready to pull, size:XS

#36856 [TFLite] Fix for the segmentation fault. when quantize CONV_2D with dilation != 1.
  tensorflow/lite/toco/graph_transformations/identify_dilated_conv.cc
Labels: cla: yes, comp:lite, ready to pull, size:XS

#36913 Fix Bazel not building anymore with the commit 09fe958f
  configure.py
Labels: cla: yes, ready to pull, size:XS

#34388 Update save.py
  tensorflow/python/keras/engine/network.py
  tensorflow/python/keras/engine/network_test.py
  tensorflow/python/keras/saving/save.py
Labels: cla: yes, comp:keras, prtype:bugfix, ready to pull, size:S

#36944 [Intel MKL] Fixing Device() API usage in mkl_eager_op_rewrite.cc
  tensorflow/core/common_runtime/eager/mkl_eager_op_rewrite.cc
Labels: cla: yes, ready to pull, size:XS

#36726 tfconfig_cluster_resolver: Fix task index override
  tensorflow/python/distribute/cluster_resolver/tfconfig_cluster_resolver.py
  tensorflow/python/distribute/cluster_resolver/tfconfig_cluster_resolver_test.py
Labels: cla: yes, ready to pull, size:S

#36664 Execution context management for TensorRT profiles
  tensorflow/compiler/tf2tensorrt/convert/utils.cc
  tensorflow/compiler/tf2tensorrt/convert/utils.h
  tensorflow/compiler/tf2tensorrt/kernels/trt_engine_op.cc
  tensorflow/compiler/tf2tensorrt/kernels/trt_engine_resource_ops.cc
  tensorflow/compiler/tf2tensorrt/utils/trt_lru_cache.cc
  tensorflow/compiler/tf2tensorrt/utils/trt_lru_cache.h
  tensorflow/compiler/tf2tensorrt/utils/trt_shape_optimization_profiles.cc
Labels: cla: yes, comp:gpu:tensorrt, ready to pull, size:XL, stat:awaiting response

#36961 [Intel Mkl] Fixing MKL test script to accept parameters
  tensorflow/tools/ci_build/linux/cpu/run_mkl.sh
Labels: cla: yes, ready to pull, size:M

#36951 Added doc corresponding to decode_prediction() and preprocess_input()
  tensorflow/python/keras/applications/mobilenet_v2.py
Labels: cla: yes, prtype:bugfix, ready to pull, size:S

#36902 [TFLite 16x8] Small tidy up for FULLY_CONNECTED operator.
  tensorflow/lite/kernels/fully_connected.cc
  tensorflow/lite/kernels/fully_connected_test.cc
  tensorflow/lite/kernels/internal/reference/integer_ops/fully_connected.h
Labels: cla: yes, comp:lite, ready to pull, size:S

#36869 Fixes typo (missing space) in padded_batch error
  tensorflow/python/data/ops/dataset_ops.py
Labels: cla: yes, ready to pull, size:XS

#35752 [ROCm] Fix the ROCm CSB breakage - 200110
  tensorflow/core/kernels/conv_grad_filter_ops.cc
  tensorflow/core/kernels/conv_grad_input_ops.cc
  tensorflow/core/kernels/conv_grad_ops_3d.cc
  tensorflow/core/kernels/conv_ops.cc
  tensorflow/core/kernels/conv_ops_3d.cc
Labels: cla: yes, comp:gpu, ready to pull, size:S, stat:awaiting tensorflower

#36939 [XLA:GPU][ROCm]Fixing address space cast in reduction epilog
  tensorflow/compiler/xla/service/gpu/ir_emitter_unnested.cc
Labels: cla: yes, comp:gpu, ready to pull, size:XS

#36955 optimizer_v2: Improve error when called in cross-replica context
  tensorflow/python/keras/distribute/distribute_strategy_test.py
  tensorflow/python/keras/optimizer_v2/optimizer_v2.py
Labels: cla: yes, comp:keras, ready to pull, size:S

#36352 [S3] Improving transfer to S3 for checkpoints, saved models, etc
  tensorflow/core/platform/s3/aws_crypto.cc
  tensorflow/core/platform/s3/aws_crypto.h
  tensorflow/core/platform/s3/s3_file_system.cc
  tensorflow/core/platform/s3/s3_file_system.h
  third_party/aws/BUILD.bazel
Labels: cla: yes, ready to pull, size:L

#30462 Update ops_version.md
  tensorflow/lite/g3doc/guide/ops_version.md
Labels: cla: yes, comp:lite, ready to pull, size:XS

#36159 Enhance SlurmClusterResolver
  tensorflow/python/distribute/cluster_resolver/slurm_cluster_resolver.py
  tensorflow/python/distribute/cluster_resolver/slurm_cluster_resolver_test.py
  tensorflow/tools/api/golden/v1/tensorflow.distribute.cluster_resolver.-slurm-cluster-resolver.pbtxt
  tensorflow/tools/api/golden/v2/tensorflow.distribute.cluster_resolver.-slurm-cluster-resolver.pbtxt
Labels: cla: yes, ready to pull, size:M

#37001 [Intel MKL] Fix memory leak in dnnl 0.21.2
  tensorflow/compiler/xla/service/cpu/runtime_conv2d_mkl.cc
  tensorflow/core/kernels/mkl_fused_batch_norm_op.cc
  tensorflow/core/util/mkl_types.h
  tensorflow/core/util/mkl_util.h
  tensorflow/workspace.bzl
  third_party/mkl_dnn/mkldnn.BUILD
Labels: cla: yes, ready to pull, size:M

#35869 TensorFlow Lite: Makefile fix
  .gitignore
  tensorflow/lite/tools/make/Makefile
Labels: cla: yes, comp:lite, ready to pull, size:XS

#37005 fix the range arg explanation and improve readability
  tensorflow/python/data/ops/dataset_ops.py
Labels: cla: yes, comp:data, ready to pull, size:XS

#37030 [Intel MKL] Change the test that will only run in mkl version
  tensorflow/core/kernels/mkl_dequantize_op_test.cc
Labels: cla: yes, comp:mkl, ready to pull, size:XS

#36777 [Intel MKL] Optimize combinedNMS performance
  tensorflow/core/kernels/BUILD
  tensorflow/core/kernels/non_max_suppression_op.cc
  tensorflow/core/kernels/non_max_suppression_op_benchmark_test.cc
Labels: cla: yes, comp:mkl, ready to pull, size:L

#36050 [lite] fix ConvBuffer1x1 check
  tensorflow/lite/delegates/gpu/cl/kernels/conv_buffer_1x1.cc
Labels: cla: yes, comp:lite, ready to pull, size:XS

#36830 Removed six dependency in tools/git since it breaks hermetic builds
  tensorflow/tools/git/BUILD
  tensorflow/tools/git/gen_git_source.py
  tensorflow/tools/lib_package/BUILD
Labels: cla: yes, ready to pull, size:XS

#36982 Update code example to Python 3
  README.md
Labels: cla: yes, ready to pull, size:XS

#36992 Added doc in MobileNet for decode_predictions() and preprocess_input()
  tensorflow/python/keras/applications/mobilenet.py
Labels: cla: yes, comp:keras, ready to pull, size:S

#36952 update ragged_string_ops.py comment
  tensorflow/python/ops/ragged/ragged_string_ops.py
Labels: cla: yes, comp:ops, ready to pull, size:XS

#37033 [tflite] make gpu delegate build
  tensorflow/lite/delegates/gpu/cl/selectors/BUILD
Labels: cla: yes, comp:lite, prtype:bugfix, ready to pull, size:XS

#36960 [Intel Mkl] Upgrade Sqlite3 to fix CVE-2019-19880 CVE-2019-19244 and …
  tensorflow/workspace.bzl
Labels: cla: yes, ready to pull, size:XS

#36353 [S3] Adding retries for S3 file system operations, and fix read bug
  tensorflow/core/platform/BUILD
  tensorflow/core/platform/cloud/BUILD
  tensorflow/core/platform/cloud/compute_engine_metadata_client.h
  tensorflow/core/platform/cloud/gcs_file_system.cc
  tensorflow/core/platform/cloud/gcs_file_system.h
  tensorflow/core/platform/cloud/google_auth_provider.cc
  tensorflow/core/platform/retrying_file_system.h
  tensorflow/core/platform/retrying_file_system_test.cc
  tensorflow/core/platform/retrying_utils.cc
  tensorflow/core/platform/retrying_utils.h
  tensorflow/core/platform/retrying_utils_test.cc
  tensorflow/core/platform/s3/BUILD
  tensorflow/core/platform/s3/s3_file_system.cc
  tensorflow/core/platform/s3/s3_file_system.h
Labels: cla: yes, kokoro:force-run, ready to pull, size:L

#36836 [ROCm][XLA:GPU] Merging xla postlayout assignment optimization pass
  tensorflow/compiler/xla/service/gpu/BUILD
  tensorflow/compiler/xla/service/gpu/amdgpu_compiler.cc
  tensorflow/compiler/xla/service/gpu/amdgpu_compiler.h
  tensorflow/compiler/xla/service/gpu/gpu_compiler.cc
  tensorflow/compiler/xla/service/gpu/gpu_compiler.h
  tensorflow/compiler/xla/service/gpu/nvptx_compiler.cc
Labels: cla: yes, comp:xla, ready to pull, size:M

#36994 Added doc in inception_resnet_v2 for decode_prediction() and preprocess_input()
  tensorflow/python/keras/applications/inception_resnet_v2.py
Labels: cla: yes, comp:keras, ready to pull, size:S

#36405 [core] check index channel before accessing center_frequencies_
  tensorflow/core/kernels/mfcc_mel_filterbank.cc
Labels: cla: yes, ready to pull, size:XS

#36767 Changes for DNNL1.x fused_batch_norm and Pooling Ops(Max and Avg).
  tensorflow/core/graph/mkl_layout_pass.cc
  tensorflow/core/kernels/mkl_avgpooling_op.cc
  tensorflow/core/kernels/mkl_fused_batch_norm_op.cc
  tensorflow/core/kernels/mkl_maxpooling_op.cc
  tensorflow/core/kernels/mkl_pooling_ops_common.cc
  tensorflow/core/util/mkl_types.h
  tensorflow/core/util/mkl_util.h
Labels: cla: yes, comp:mkl, ready to pull, size:L

#37070 [Intel Mkl] minor fix to MKL test script
  tensorflow/tools/ci_build/linux/cpu/run_mkl.sh
Labels: cla: yes, comp:mkl, ready to pull, size:XS

#35544 check if boxes have logical coordinates (different than a line or a p…
  tensorflow/core/kernels/non_max_suppression_op.cc
  tensorflow/core/kernels/non_max_suppression_op_test.cc
  tensorflow/python/ops/image_ops_test.py
Labels: cla: yes, comp:gpu, ready to pull, size:S

#36526 Removed NDIMS template arg from BinaryElementWiseOp::Operate
  tensorflow/core/framework/numeric_op.h
  tensorflow/core/kernels/fake_quant_ops.cc
  tensorflow/core/kernels/relu_op.h
  tensorflow/core/kernels/softplus_op.cc
  tensorflow/core/kernels/softsign_op.cc
Labels: cla: yes, prtype:bugfix, ready to pull, size:M

#35581 Make debug of if else statement in class Interpreter
  tensorflow/lite/python/interpreter.py
Labels: cla: yes, ready to pull, size:XS

#37031 [Intel MKL] support MKL Quantized Matmul With Bias and Dequantize Op and DNNL 1.0
  tensorflow/core/api_def/base_api/api_def_QuantizedMatMulWithBiasAndDequantize.pbtxt
  tensorflow/core/graph/mkl_layout_pass.cc
  tensorflow/core/kernels/mkl_qmatmul_op.cc
  tensorflow/core/kernels/mkl_qmatmul_op_test.cc
  tensorflow/core/ops/mkl_nn_ops.cc
  tensorflow/core/ops/nn_ops.cc
  tensorflow/tools/api/golden/v1/tensorflow.raw_ops.pbtxt
  tensorflow/tools/api/golden/v2/tensorflow.raw_ops.pbtxt
Labels: API review, cla: yes, ready to pull, size:L

#37081 [Intel MKL] Compilation fixes for DNNL 1.0
  tensorflow/core/kernels/mkl_avgpooling_op.cc
  tensorflow/core/kernels/mkl_concat_op.cc
  tensorflow/core/kernels/mkl_conv_grad_filter_ops.cc
  tensorflow/core/kernels/mkl_conv_grad_input_ops.cc
  tensorflow/core/kernels/mkl_conv_ops.cc
  tensorflow/core/kernels/mkl_dequantize_op.cc
  tensorflow/core/kernels/mkl_fused_batch_norm_op.cc
  tensorflow/core/kernels/mkl_matmul_op_fused.cc
  tensorflow/core/kernels/mkl_matmul_ops_common.h
  tensorflow/core/kernels/mkl_maxpooling_op.cc
  tensorflow/core/kernels/mkl_pooling_ops_common.cc
  tensorflow/core/kernels/mkl_pooling_ops_common.h
  tensorflow/core/kernels/mkl_qmatmul_op.cc
  tensorflow/core/kernels/mkl_relu_op.cc
  tensorflow/core/kernels/mkl_softmax_op.cc
  tensorflow/core/ops/mkl_nn_ops.cc
  tensorflow/core/ops/nn_ops.cc
  tensorflow/core/util/mkl_types.h
  tensorflow/core/util/mkl_util_test.cc
  tensorflow/workspace.bzl
  third_party/mkl_dnn/mkldnn_v1.BUILD
Labels: cla: yes, comp:mkl, ready to pull, size:XL

#37071 [Intel MKL] Adding support for DNNL1 builds to public CI.
  tensorflow/tools/ci_build/linux/mkl/Dockerfile.devel-mkl
  tensorflow/tools/ci_build/linux/mkl/build-dev-container.sh
  tensorflow/tools/ci_build/linux/mkl/set-build-env.py
Labels: cla: yes, comp:mkl, ready to pull, size:S

#36989 Added example of from_tensors and from_tensor_slices
  tensorflow/python/data/ops/dataset_ops.py
Labels: cla: yes, comp:data, ready to pull, size:S

#37073 Update README to add new resources and fix grammar
  README.md
Labels: cla: yes, ready to pull, size:S

#37121 Added see also in array_ops
  tensorflow/python/ops/array_ops.py
Labels: cla: yes, comp:ops, ready to pull, size:S

#36993 Added doc in DenseNet for decode_prediction() and preprocess_input()
  tensorflow/python/keras/applications/densenet.py
Labels: cla: yes, comp:keras, ready to pull, size:S

#36812 Add sorted builtin support for autograph
  tensorflow/python/autograph/operators/BUILD
  tensorflow/python/autograph/operators/py_builtins.py
  tensorflow/python/autograph/operators/py_builtins_test.py
Labels: cla: yes, comp:autograph, ready to pull, size:M

#36354 [S3] Allow configuring AWS SDK's logging level
  tensorflow/core/platform/s3/aws_logging.cc
  tensorflow/core/platform/s3/s3_file_system.cc
Labels: cla: yes, ready to pull, size:M

#36218 [core] Added null check for output buffer
  tensorflow/core/lib/jpeg/jpeg_mem.cc
Labels: cla: yes, ready to pull, size:XS

#37107 updating dead web link
  tensorflow/python/profiler/model_analyzer.py
Labels: cla: yes, prtype:bugfix, ready to pull, size:XS

#36729 TensorRT profile generation mode
  tensorflow/compiler/tf2tensorrt/kernels/trt_engine_op.cc
  tensorflow/compiler/tf2tensorrt/kernels/trt_engine_op_test.cc
  tensorflow/python/compiler/tensorrt/test/tf_trt_integration_test_base.py
  tensorflow/python/compiler/tensorrt/test/trt_mode_test.py
  tensorflow/python/compiler/tensorrt/trt_convert.py
Labels: cla: yes, comp:gpu:tensorrt, ready to pull, size:XL

#37090 Update docstring for consine_similarity
  tensorflow/python/keras/losses.py
Labels: cla: yes, comp:keras, ready to pull, size:XS

#37106 Make DNNL1.2 default lib for MKL backend
  .bazelrc
Labels: cla: yes, ready to pull, size:XS

#36753 [XLA] Fix a latent bug.
  tensorflow/compiler/xla/service/gpu/ir_emission_utils.cc
Labels: cla: yes, comp:gpu, ready to pull, size:XS

#36450 git is required by several tutorial examples
  tensorflow/tools/dockerfiles/dockerfiles/cpu-jupyter.Dockerfile
  tensorflow/tools/dockerfiles/dockerfiles/devel-cpu-jupyter.Dockerfile
  tensorflow/tools/dockerfiles/dockerfiles/devel-gpu-jupyter.Dockerfile
  tensorflow/tools/dockerfiles/dockerfiles/gpu-jupyter.Dockerfile
  tensorflow/tools/dockerfiles/dockerfiles/mkl_horovod/devel-horovod-jupyter.Dockerfile
  tensorflow/tools/dockerfiles/dockerfiles/mkl_horovod/horovod-jupyter.Dockerfile
  tensorflow/tools/dockerfiles/dockerfiles/ppc64le/cpu-ppc64le-jupyter.Dockerfile
  tensorflow/tools/dockerfiles/dockerfiles/ppc64le/devel-cpu-ppc64le-jupyter.Dockerfile
  tensorflow/tools/dockerfiles/dockerfiles/ppc64le/devel-gpu-ppc64le-jupyter.Dockerfile
  tensorflow/tools/dockerfiles/dockerfiles/ppc64le/gpu-ppc64le-jupyter.Dockerfile
  tensorflow/tools/dockerfiles/partials/jupyter.partial.Dockerfile
Labels: cla: yes, ready to pull, size:XS

#37101 [Grappler] Rewrite handling of list ops in auto_mixed_precision
  tensorflow/core/grappler/optimizers/auto_mixed_precision.cc
  tensorflow/core/grappler/optimizers/auto_mixed_precision_lists.h
  tensorflow/core/grappler/optimizers/auto_mixed_precision_test.cc
  tensorflow/python/grappler/auto_mixed_precision_test.py
Labels: cla: yes, comp:grappler, ready to pull, size:L
