Repository tensorflow/tensorflow, pull requests merged in 2020-09, with the labels that each got.

#42743 fix DEBUG_BUILD option on linux not getting passed into third_party/aws-checksums
  third_party/aws/aws-checksums.bazel
Labels: cla: yes, comp:cloud, ready to pull, size:S

#42822 Gcs filesystem test
  tensorflow/c/experimental/filesystem/plugins/gcs/BUILD
  tensorflow/c/experimental/filesystem/plugins/gcs/gcs_filesystem.cc
  tensorflow/c/experimental/filesystem/plugins/gcs/gcs_filesystem.h
  tensorflow/c/experimental/filesystem/plugins/gcs/gcs_filesystem_test.cc
  tensorflow/c/experimental/filesystem/plugins/gcs/ram_file_block_cache.h
Labels: cla: yes, comp:cloud, ready to pull, size:L

#42774 Add test for hadoop
  tensorflow/c/experimental/filesystem/plugins/hadoop/BUILD
  tensorflow/c/experimental/filesystem/plugins/hadoop/hadoop_filesystem.cc
  tensorflow/c/experimental/filesystem/plugins/hadoop/hadoop_filesystem.h
  tensorflow/c/experimental/filesystem/plugins/hadoop/hadoop_filesystem_test.cc
Labels: cla: yes, ready to pull, size:L

#42718 Use a ternary if for checking main_op is None in Saved Model Builder
  tensorflow/python/saved_model/builder_impl.py
Labels: cla: yes, ready to pull, size:XS

#42775 Update README.md resources roadmap link
  README.md
Labels: cla: yes, ready to pull, size:XS

#42461 Update the right logic like previous
  tensorflow/core/platform/platform.h
Labels: cla: yes, comp:core, ready to pull, size:S

#42715 TFLM: Added VexRISCV optimized DepthwiseConv2d kernel (int8/uint8)
  tensorflow/lite/micro/kernels/vexriscv/depthwise_conv.cc
  tensorflow/lite/micro/kernels/vexriscv/doc/DepthwiseConv2D_int8.md
Labels: cla: yes, comp:lite, comp:micro, ready to pull, size:L

#42828 Make effective scale in quantize kernel consistent b/w Lite and Micro
  tensorflow/lite/micro/kernels/quantize.cc
Labels: cla: yes, comp:lite, comp:micro, ready to pull, size:XS

#42727 TFlu: Update third party downloads with Ethos-U
  tensorflow/lite/micro/tools/make/third_party_downloads.inc
Labels: cla: yes, comp:lite, comp:micro, ready to pull, size:XS

#42821 TFLu: update cmsis kernels
  tensorflow/lite/micro/kernels/cmsis-nn/conv.cc
  tensorflow/lite/micro/kernels/cmsis-nn/mul.cc
Labels: cla: yes, comp:lite, comp:micro, ready to pull, size:S

#42837 TFLite (tools) added reverse_xxd_dump_from_cc.py
  tensorflow/lite/tools/BUILD
  tensorflow/lite/tools/flatbuffer_utils.py
  tensorflow/lite/tools/flatbuffer_utils_test.py
  tensorflow/lite/tools/reverse_xxd_dump_from_cc.py
Labels: cla: yes, comp:lite, comp:micro, ready to pull, size:M

#42746 small fix for the autoclustering_xla.ipynb
  tensorflow/compiler/xla/g3doc/tutorials/autoclustering_xla.ipynb
Labels: cla: yes, comp:xla, ready to pull, size:XS

#42747 fix the wrong link
  tensorflow/compiler/xla/g3doc/index.md
Labels: cla: yes, comp:xla, ready to pull, size:XS

#42646 Fix dlpack device for int32
  tensorflow/c/eager/dlpack.cc
  tensorflow/python/dlpack/dlpack_test.py
Labels: cla: yes, prtype:bugfix, ready to pull, size:XS

#42322 [ROCm] Enable GenerateBoundingBoxProposals
  tensorflow/core/kernels/image/BUILD
  tensorflow/core/kernels/image/generate_box_proposals_op.cu.cc
Labels: cla: yes, comp:gpu, ready to pull, size:M

#42462 Initialize external_command_encoder_ to nil
  tensorflow/lite/delegates/gpu/metal_delegate.mm
Labels: cla: yes, comp:lite, ready to pull, size:XS

#42779 Fix Defeaults typo in RMSprop doc
  tensorflow/python/keras/optimizer_v2/rmsprop.py
Labels: cla: yes, comp:keras, ready to pull, size:XS

#42710 [Intel MKL] Changes to graph rewrite to support native format
  tensorflow/core/common_runtime/eager/mkl_eager_op_rewrite.cc
  tensorflow/core/common_runtime/mkl_layout_pass.cc
  tensorflow/core/common_runtime/mkl_tfconversion_pass.cc
  tensorflow/core/graph/mkl_graph_util.h
  tensorflow/core/grappler/optimizers/remapper.cc
  tensorflow/core/ops/nn_ops.cc
Labels: cla: yes, comp:mkl, ready to pull, size:L

#42907 Update contribution guidlines with developer workflow.
  tensorflow/lite/micro/CONTRIBUTING.md
Labels: cla: yes, comp:micro, ready to pull, size:M

#42842 TFLM: added log_parser to vexriscv/utils
  tensorflow/lite/micro/kernels/vexriscv/README.md
  tensorflow/lite/micro/kernels/vexriscv/utils/README.md
  tensorflow/lite/micro/kernels/vexriscv/utils/gdb_regex.json
  tensorflow/lite/micro/kernels/vexriscv/utils/log_parser.py
Labels: cla: yes, comp:lite, comp:micro, ready to pull, size:L

#42717 XLA Parallel reduce
  tensorflow/compiler/jit/BUILD
  tensorflow/compiler/jit/compilability_check_util.cc
  tensorflow/compiler/jit/compilability_check_util.h
  tensorflow/compiler/jit/mark_for_compilation_pass.cc
  tensorflow/compiler/tf2xla/BUILD
  tensorflow/compiler/tf2xla/functionalize_cond.cc
  tensorflow/compiler/tf2xla/functionalize_control_flow.cc
  tensorflow/compiler/tf2xla/functionalize_while.cc
  tensorflow/compiler/xla/BUILD
  tensorflow/compiler/xla/service/gpu/BUILD
  tensorflow/compiler/xla/service/gpu/buffer_comparator.cc
  tensorflow/compiler/xla/service/gpu/ir_emitter_unnested.cc
  tensorflow/compiler/xla/service/gpu/ir_emitter_unnested.h
  tensorflow/compiler/xla/service/gpu/kernel_thunk.cc
  tensorflow/compiler/xla/service/gpu/launch_dimensions.cc
  tensorflow/compiler/xla/service/gpu/launch_dimensions.h
  tensorflow/compiler/xla/service/gpu/parallel_loop_emitter.cc
  tensorflow/compiler/xla/service/gpu/stream_executor_util.cc
  tensorflow/compiler/xla/service/gpu/stream_executor_util.h
  tensorflow/compiler/xla/service/gpu/tests/BUILD
  tensorflow/compiler/xla/service/gpu/tests/parallel_reduction_test.cc
  tensorflow/compiler/xla/union_find.h
Labels: cla: yes, comp:xla, ready to pull, size:L

#42860 Fix a bug that the file copied by TF from HDFS to local may be wrong,…
  tensorflow/core/platform/hadoop/hadoop_file_system.cc
Labels: cla: yes, comp:core, prtype:bugfix, ready to pull, size:XS

#42868 Delete ADOPTERS.md
  ADOPTERS.md
Labels: cla: yes, ready to pull, size:S

#42908 [TFLM] Fix resize_nearest_neighbor test for debug build.
  tensorflow/lite/micro/kernels/resize_nearest_neighbor_test.cc
  tensorflow/lite/micro/tools/ci_build/test_x86.sh
Labels: cla: yes, comp:micro, ready to pull, size:XS

#42739 Extended the http response codes to be handled
  tensorflow/core/platform/cloud/curl_http_request.cc
Labels: cla: yes, comp:core, ready to pull, size:XS

#42529 Reform the benchmark rules.
  tensorflow/python/keras/benchmarks/keras_examples_benchmarks/antirectifier_benchmark_test.py
  tensorflow/python/keras/benchmarks/keras_examples_benchmarks/bidirectional_lstm_benchmark_test.py
  tensorflow/python/keras/benchmarks/keras_examples_benchmarks/cifar10_cnn_benchmark_test.py
  tensorflow/python/keras/benchmarks/keras_examples_benchmarks/mnist_conv_benchmark_test.py
  tensorflow/python/keras/benchmarks/keras_examples_benchmarks/mnist_hierarchical_rnn_benchmark_test.py
  tensorflow/python/keras/benchmarks/keras_examples_benchmarks/mnist_irnn_benchmark_test.py
  tensorflow/python/keras/benchmarks/keras_examples_benchmarks/reuters_mlp_benchmark_test.py
  tensorflow/python/keras/benchmarks/keras_examples_benchmarks/text_classification_transformer_benchmark_test.py
Labels: cla: yes, comp:keras, ready to pull, size:M

#42904 [MLIR] Add generatedNames argument to LowerAddNOp
  tensorflow/compiler/mlir/tensorflow/transforms/lower_tf.cc
Labels: cla: yes, ready to pull, size:S

#42874 Allow grappler layout optimizer to support LeakyRelu ops
  tensorflow/core/grappler/op_types.cc
  tensorflow/core/grappler/op_types.h
  tensorflow/core/grappler/optimizers/generic_layout_optimizer_transposer.cc
  tensorflow/python/grappler/layout_optimizer_test.py
Labels: cla: yes, comp:grappler, ready to pull, size:M

#42910 [INTEL MKL] Remove 'onednn' from Dockerfile names and image tags
  tensorflow/tools/dockerfiles/dockerfiles/onednn/ubuntu-16.04-devel-jupyter.Dockerfile
  tensorflow/tools/dockerfiles/dockerfiles/onednn/ubuntu-16.04-devel-mpi-horovod-jupyter.Dockerfile
  tensorflow/tools/dockerfiles/dockerfiles/onednn/ubuntu-16.04-devel-mpi-horovod.Dockerfile
  tensorflow/tools/dockerfiles/dockerfiles/onednn/ubuntu-16.04-devel-mpich-horovod-jupyter.Dockerfile
  tensorflow/tools/dockerfiles/dockerfiles/onednn/ubuntu-16.04-devel-mpich-horovod.Dockerfile
  tensorflow/tools/dockerfiles/dockerfiles/onednn/ubuntu-16.04-devel.Dockerfile
  tensorflow/tools/dockerfiles/dockerfiles/onednn/ubuntu-16.04-jupyter.Dockerfile
  tensorflow/tools/dockerfiles/dockerfiles/onednn/ubuntu-16.04-mpi-horovod-jupyter.Dockerfile
  tensorflow/tools/dockerfiles/dockerfiles/onednn/ubuntu-16.04-mpi-horovod.Dockerfile
  tensorflow/tools/dockerfiles/dockerfiles/onednn/ubuntu-16.04-mpich-horovod-jupyter.Dockerfile
  tensorflow/tools/dockerfiles/dockerfiles/onednn/ubuntu-16.04-mpich-horovod.Dockerfile
  tensorflow/tools/dockerfiles/dockerfiles/onednn/ubuntu-16.04.Dockerfile
  tensorflow/tools/dockerfiles/dockerfiles/onednn/ubuntu-18.04-devel-jupyter.Dockerfile
  tensorflow/tools/dockerfiles/dockerfiles/onednn/ubuntu-18.04-devel-mpi-horovod-jupyter.Dockerfile
  tensorflow/tools/dockerfiles/dockerfiles/onednn/ubuntu-18.04-devel-mpi-horovod.Dockerfile
  tensorflow/tools/dockerfiles/dockerfiles/onednn/ubuntu-18.04-devel-mpich-horovod-jupyter.Dockerfile
  tensorflow/tools/dockerfiles/dockerfiles/onednn/ubuntu-18.04-devel-mpich-horovod.Dockerfile
  tensorflow/tools/dockerfiles/dockerfiles/onednn/ubuntu-18.04-devel.Dockerfile
  tensorflow/tools/dockerfiles/dockerfiles/onednn/ubuntu-18.04-jupyter.Dockerfile
  tensorflow/tools/dockerfiles/dockerfiles/onednn/ubuntu-18.04-mpi-horovod-jupyter.Dockerfile
  tensorflow/tools/dockerfiles/dockerfiles/onednn/ubuntu-18.04-mpi-horovod.Dockerfile
  tensorflow/tools/dockerfiles/dockerfiles/onednn/ubuntu-18.04-mpich-horovod-jupyter.Dockerfile
  tensorflow/tools/dockerfiles/dockerfiles/onednn/ubuntu-18.04-mpich-horovod.Dockerfile
  tensorflow/tools/dockerfiles/dockerfiles/onednn/ubuntu-18.04.Dockerfile
  tensorflow/tools/dockerfiles/dockerfiles/onednn/ubuntu-20.04-devel-jupyter.Dockerfile
  tensorflow/tools/dockerfiles/dockerfiles/onednn/ubuntu-20.04-devel-mpi-horovod-jupyter.Dockerfile
  tensorflow/tools/dockerfiles/dockerfiles/onednn/ubuntu-20.04-devel-mpi-horovod.Dockerfile
  tensorflow/tools/dockerfiles/dockerfiles/onednn/ubuntu-20.04-devel-mpich-horovod-jupyter.Dockerfile
  tensorflow/tools/dockerfiles/dockerfiles/onednn/ubuntu-20.04-devel-mpich-horovod.Dockerfile
  tensorflow/tools/dockerfiles/dockerfiles/onednn/ubuntu-20.04-devel.Dockerfile
  tensorflow/tools/dockerfiles/dockerfiles/onednn/ubuntu-20.04-jupyter.Dockerfile
  tensorflow/tools/dockerfiles/dockerfiles/onednn/ubuntu-20.04-mpi-horovod-jupyter.Dockerfile
  tensorflow/tools/dockerfiles/dockerfiles/onednn/ubuntu-20.04-mpi-horovod.Dockerfile
  tensorflow/tools/dockerfiles/dockerfiles/onednn/ubuntu-20.04-mpich-horovod-jupyter.Dockerfile
  tensorflow/tools/dockerfiles/dockerfiles/onednn/ubuntu-20.04-mpich-horovod.Dockerfile
  tensorflow/tools/dockerfiles/dockerfiles/onednn/ubuntu-20.04.Dockerfile
  tensorflow/tools/dockerfiles/spec.yml
Labels: cla: yes, ready to pull, size:M

#42942 [SE] Include absl/memory/memory.h
  tensorflow/stream_executor/host/BUILD
  tensorflow/stream_executor/host/host_platform.cc
Labels: cla: yes, ready to pull, size:XS

#42971 [Intel MKL] Fix UT failures due to explicit padding for MKL-DNN
  tensorflow/core/common_runtime/mkl_layout_pass.cc
  tensorflow/core/ops/nn_ops.cc
Labels: cla: yes, comp:mkl, ready to pull, size:S

#43017 TFLu: Support Ethos-U fast memory scratch
  tensorflow/lite/micro/kernels/ethos-u/ethosu.cc
  tensorflow/lite/micro/tools/make/third_party_downloads.inc
Labels: cla: yes, comp:lite, comp:micro, ready to pull, size:S

#42962 Specify the optimization level in a variable.
  tensorflow/lite/micro/tools/make/Makefile
Labels: cla: yes, comp:lite, comp:micro, ready to pull, size:S

#42630 Fix messy rendering of docs for tf.image.extract_patches
  tensorflow/python/ops/array_ops.py
Labels: awaiting review, cla: yes, comp:ops, ready to pull, size:XS

#43009 Fix cmake build on mingw compiler
  tensorflow/lite/CMakeLists.txt
  tensorflow/lite/shared_library.h
Labels: cla: yes, comp:lite, ready to pull, size:S

#42938 fix the pylint hang issue while performing sanity checks
  tensorflow/tools/ci_build/ci_build.sh
  tensorflow/tools/ci_build/ci_sanity.sh
  tensorflow/tools/ci_build/install/install_pip_packages.sh
Labels: cla: yes, ready to pull, size:S

#42705 Clarify that negative values are valid for adjust_brightness.
  tensorflow/python/ops/image_ops_impl.py
Labels: cla: yes, comp:ops, prtype:bugfix, ready to pull, size:XS

#42952 Remove redundant lines to make dockerfiles
  tensorflow/tools/dockerfiles/spec.yml
Labels: cla: yes, ready to pull, size:M

#42676 make debug build on Windows MSVC compile
  tensorflow/core/distributed_runtime/remote_device.cc
  tensorflow/core/framework/device_base.cc
  tensorflow/core/kernels/depthtospace_op.cc
  tensorflow/core/kernels/spacetodepth_op.cc
  tensorflow/core/platform/path.cc
Labels: cla: yes, comp:core, ready to pull, size:S

#43058 Update CONTRIBUTING.md
  tensorflow/lite/micro/CONTRIBUTING.md
Labels: cla: yes, comp:lite, comp:micro, ready to pull, size:M

#43078 Resolved type confusion on CreateQuantizedTensor test utility API
  tensorflow/lite/micro/testing/test_utils.cc
  tensorflow/lite/micro/testing/test_utils.h
Labels: cla: yes, comp:lite, comp:micro, ready to pull, size:S

#42653 (esp32) fixes invalid use of struct TfLiteTensor from common.h header
  tensorflow/lite/micro/tools/make/templates/esp/components/tfmicro/CMakeLists.txt.tpl
Labels: awaiting review, cla: yes, comp:lite, comp:micro, ready to pull, size:XS

#43066 TFLM: update for supporting new ARC MLI backend
  tensorflow/lite/micro/examples/hello_world/README.md
  tensorflow/lite/micro/examples/magic_wand/README.md
  tensorflow/lite/micro/examples/micro_speech/README.md
  tensorflow/lite/micro/examples/person_detection_experimental/README.md
  tensorflow/lite/micro/tools/make/targets/himax_we1_evb_makefile.inc
  tensorflow/lite/micro/tools/make/third_party_downloads.inc
Labels: cla: yes, comp:lite, comp:micro, ready to pull, size:S

#42767 TFLITE_USE_DELEGATE has been changed to use GpuDelegateOptions instead of TFLGpuDelegateOptions.
  tensorflow/lite/examples/ios/camera/CameraExampleViewController.mm
Labels: cla: yes, comp:lite, ready to pull, size:XS

#42539 Add the `size` API for TensorFlow NumPy operations.
  tensorflow/python/ops/numpy_ops/np_array_ops.py
  tensorflow/python/ops/numpy_ops/np_array_ops_test.py
  third_party/py/numpy/tf_numpy_api/tensorflow.experimental.numpy.pbtxt
Labels: cla: yes, comp:ops, ready to pull, size:S

#41939 [TFLite 16x8] Notebook for 16x8 post-training quantization.
  tensorflow/lite/g3doc/_book.yaml
  tensorflow/lite/g3doc/performance/post_training_integer_quant_16x8.ipynb
  tensorflow/lite/g3doc/performance/post_training_quantization.md
Labels: cla: yes, comp:lite, ready to pull, size:L

#43069 [hlo] Unbreak hlo-legalize-to-lhlo test
  tensorflow/compiler/mlir/hlo/lib/Dialect/mhlo/transforms/hlo_legalize_to_lhlo.cc
  tensorflow/compiler/mlir/hlo/tests/hlo-legalize-to-lhlo.mlir
Labels: cla: yes, ready to pull, size:S

#43109 Add test to ensure that MicroInterpreter.tensors_size() works.
  tensorflow/lite/micro/micro_interpreter.cc
  tensorflow/lite/micro/micro_interpreter_test.cc
Labels: cla: yes, comp:lite, comp:micro, prtype:bugfix, ready to pull, size:XS

#42452 Added SPLIT_V op and test to micro
  tensorflow/lite/core/api/flatbuffer_conversions.cc
  tensorflow/lite/core/api/flatbuffer_conversions.h
  tensorflow/lite/micro/all_ops_resolver.cc
  tensorflow/lite/micro/kernels/BUILD
  tensorflow/lite/micro/kernels/micro_ops.h
  tensorflow/lite/micro/kernels/split_v.cc
  tensorflow/lite/micro/kernels/split_v_test.cc
  tensorflow/lite/micro/micro_mutable_op_resolver.h
Labels: cla: yes, comp:lite, comp:micro, ready to pull, size:L

#43123 Make the internal and external builds more similar.
  tensorflow/lite/micro/tools/make/Makefile
Labels: cla: yes, comp:micro, ready to pull, size:XS

#39946 Support reduce_max for float32 and int8 in TFL micro
  tensorflow/lite/micro/all_ops_resolver.cc
  tensorflow/lite/micro/kernels/micro_ops.h
  tensorflow/lite/micro/kernels/reduce.cc
  tensorflow/lite/micro/kernels/reduce_test.cc
  tensorflow/lite/micro/micro_mutable_op_resolver.h
Labels: cla: yes, comp:micro, ready to pull, size:L

#43005 Set static shape information for TimeDistributed layer
  tensorflow/python/keras/layers/wrappers.py
  tensorflow/python/keras/layers/wrappers_test.py
Labels: cla: yes, comp:keras, prtype:bugfix, ready to pull, size:S

#42833 [INTEL MKL] DNN 0.x code cleanup - mkl_util.h
  tensorflow/core/util/mkl_util.h
Labels: cla: yes, comp:mkl, ready to pull, size:L

#43113 Bump google-cloud-cpp to 1.17.1
  tensorflow/workspace.bzl
  third_party/ngraph/nlohmann_json.BUILD
Labels: cla: yes, comp:cloud, ready to pull, size:S

#43127 Revert "Add symmetric int16 support to tflu softmax reference kernel"
  tensorflow/lite/c/common.h
  tensorflow/lite/kernels/internal/common.h
  tensorflow/lite/kernels/internal/types.h
  tensorflow/lite/micro/kernels/softmax.cc
  tensorflow/lite/micro/kernels/softmax_test.cc
  tensorflow/lite/tools/benchmark/experimental/c/c_api_types.h
Labels: cla: yes, comp:lite, comp:micro, ready to pull, size:M

#42928 Added an example to Arguments in function on_epoch_end.
  tensorflow/python/keras/callbacks.py
Labels: cla: yes, comp:keras, ready to pull, size:XS

#42812 Fix tf.keras.optimizers.SGD Nesterov momentum doc
  tensorflow/python/keras/optimizer_v2/gradient_descent.py
Labels: cla: yes, comp:keras, ready to pull, size:XS

#42849 [INTEL MKL] DNN 0.x cleanup - MKL quantize/dequantize ops
  tensorflow/core/kernels/mkl/mkl_dequantize_op.cc
  tensorflow/core/kernels/mkl/mkl_quantize_op.cc
Labels: cla: yes, comp:mkl, ready to pull, size:M

#42414 port TF Lite micro speech example to CEVA-DSP BX1
  tensorflow/lite/micro/examples/micro_speech/README.md
  tensorflow/lite/micro/examples/micro_speech/ceva/audio_provider.cc
  tensorflow/lite/micro/examples/micro_speech/ceva/main_functions.cc
  tensorflow/lite/micro/tools/make/helper_functions.inc
  tensorflow/lite/micro/tools/make/targets/ceva/CEVA_BX1_TFLM.ld
  tensorflow/lite/micro/tools/make/targets/ceva/CEVA_BX1_TFLM_18.0.2.ld
  tensorflow/lite/micro/tools/make/targets/ceva/CEVA_BX1_TFLM_18.0.3.ld
  tensorflow/lite/micro/tools/make/targets/ceva_bx1_makefile.inc
  tensorflow/lite/micro/tools/make/templates/ceva_bx1/ceva_app_makefile.tpl
  tensorflow/lite/micro/tools/make/templates/ceva_bx1/ceva_app_makefile_v18.0.3.tpl
Labels: cla: yes, comp:lite, comp:micro, ready to pull, size:XL

#43118 Add bazel to the test_x86 script.
  tensorflow/lite/micro/tools/ci_build/test_all.sh
  tensorflow/lite/micro/tools/ci_build/test_x86.sh
Labels: cla: yes, comp:lite, comp:micro, ready to pull, size:XS

#42543 [tflite] enable passing int32 elementray arith to NNAPI
  tensorflow/lite/delegates/nnapi/nnapi_delegate.cc
Labels: cla: yes, comp:lite, ready to pull, size:M

#41487 [TFLite] Add int16x8 support for RESIZE_NEAREST_NEIGHBOR operator
  tensorflow/lite/delegates/nnapi/acceleration_test_list.cc
  tensorflow/lite/kernels/internal/resize_nearest_neighbor_test.cc
  tensorflow/lite/kernels/register.cc
  tensorflow/lite/kernels/resize_nearest_neighbor.cc
  tensorflow/lite/kernels/resize_nearest_neighbor_test.cc
  tensorflow/lite/toco/tflite/op_version.cc
  tensorflow/lite/tools/optimize/operator_property.cc
  tensorflow/lite/tools/versioning/op_version.cc
  tensorflow/lite/tools/versioning/op_version_test.cc
  tensorflow/lite/tools/versioning/runtime_version.cc
Labels: cla: yes, comp:lite, ready to pull, size:M

#42836 [INTEL MKL] DNN 0.x cleanup - lrn op
  tensorflow/core/kernels/mkl/mkl_lrn_op.cc
Labels: cla: yes, comp:mkl, ready to pull, size:M

#42843 [INTEL MKL] DNN 0.x cleanup - softmax op
  tensorflow/core/kernels/mkl/mkl_softmax_op.cc
Labels: cla: yes, comp:mkl, ready to pull, size:M

#43155 [INTEL MKL] MKL DNN 0.x code cleanup - slice op and mkl_util_test
  tensorflow/core/kernels/mkl/mkl_slice_op.cc
  tensorflow/core/util/mkl_util_test.cc
Labels: cla: yes, comp:mkl, ready to pull, size:M

#43139 Add maintainers list for arc_mli optimized kernels and ARC platform
  tensorflow/lite/micro/kernels/arc_mli/README.md
  tensorflow/lite/micro/tools/make/targets/arc/README.md
Labels: cla: yes, comp:lite, comp:micro, ready to pull, size:S

#41819 [TFLite] 16x8 quantization: fixes for SLICE, TRANSPOSE operators
  tensorflow/lite/delegates/nnapi/acceleration_test_list.cc
  tensorflow/lite/kernels/register.cc
  tensorflow/lite/kernels/slice.cc
  tensorflow/lite/kernels/slice_test.cc
  tensorflow/lite/kernels/transpose.cc
  tensorflow/lite/kernels/transpose_test.cc
  tensorflow/lite/toco/tflite/op_version.cc
  tensorflow/lite/tools/versioning/op_version.cc
  tensorflow/lite/tools/versioning/op_version_test.cc
  tensorflow/lite/tools/versioning/runtime_version.cc
Labels: cla: yes, comp:lite, ready to pull, size:S

#43050 Added config based tests for tf.data dispatcher and worker servers
  tensorflow/python/data/experimental/service/server_lib.py
  tensorflow/python/data/experimental/service/server_lib_test.py
Labels: cla: yes, comp:data, ready to pull, size:S

#43160 Increase the number of targets that are built for Bluepill.
  tensorflow/lite/micro/tools/ci_build/test_all.sh
  tensorflow/lite/micro/tools/ci_build/test_bluepill.sh
  tensorflow/lite/micro/tools/make/targets/bluepill/bluepill.lds
  tensorflow/lite/micro/tools/make/targets/bluepill_makefile.inc
Labels: cla: yes, comp:lite, comp:micro, prtype:bugfix, ready to pull, size:S

#41872 [Intel MKL] BF16 enabling for MklLayoutPass test - v5
  tensorflow/core/common_runtime/mkl_layout_pass_test.cc
Labels: cla: yes, comp:mkl, ready to pull, size:XL

#43158 [SE] Include absl/memory/memory.h
  tensorflow/stream_executor/cuda/BUILD
  tensorflow/stream_executor/cuda/cuda_dnn.cc
Labels: cla: yes, ready to pull, size:XS

#43209 Expose modular file system header in pip install package
  tensorflow/tools/pip_package/BUILD
Labels: cla: yes, ready to pull, size:XS

#43191 Use gcs partial reponse and absl strcat
  tensorflow/c/experimental/filesystem/plugins/gcs/gcs_filesystem.cc
Labels: cla: yes, ready to pull, size:M

#43167 [INTEL MKL] Added missed bfloat16 CPU support for op math.rsqrt
  tensorflow/core/kernels/cwise_op_rsqrt.cc
  tensorflow/python/kernel_tests/cwise_ops_unary_test.py
Labels: cla: yes, comp:mkl, ready to pull, size:S

#43197 Move read env from hdfsRead to the constructor of HDFSRandomAccessFile
  tensorflow/core/platform/hadoop/hadoop_file_system.cc
Labels: cla: yes, ready to pull, size:S

#43215 [Intel MKL] Enable Conv3D and Depthwise Conv in eager mode
  tensorflow/core/common_runtime/eager/mkl_eager_op_rewrite.cc
  tensorflow/core/common_runtime/eager/mkl_eager_op_rewrite_test.cc
Labels: cla: yes, ready to pull, size:M

#43163 Small cleanup to the stm32f4 makefile and CI scripts.
  tensorflow/lite/micro/tools/ci_build/test_all.sh
  tensorflow/lite/micro/tools/ci_build/test_stm32f4.sh
  tensorflow/lite/micro/tools/make/targets/stm32f4_makefile.inc
Labels: cla: yes, comp:lite, comp:micro, ready to pull, size:S

#42270 RGB to YUV: Conflicting information between example and description
  tensorflow/python/ops/image_ops_impl.py
Labels: cla: yes, comp:ops, ready to pull, size:XS

#43079 Added Tensor RuntimeShape check for Tanh kernel
  tensorflow/lite/kernels/activations.cc
  tensorflow/lite/kernels/internal/reference/integer_ops/tanh.h
  tensorflow/lite/micro/kernels/tanh.cc
Labels: cla: yes, comp:lite, ready to pull, size:S

#43214 [XLA] Fix a test on Maxwell GPUs.
  tensorflow/compiler/xla/service/gpu/tests/reduction_vectorization_test.cc
Labels: cla: yes, comp:xla, ready to pull, size:S

#43246 Disable `control_flow_ops_test` test
  tensorflow/python/BUILD
Labels: cla: yes

#42965 [TFLite] Fix uint8 MUL operator with broadcast when the scaling factor is >= 1
  tensorflow/lite/kernels/internal/optimized/optimized_ops.h
  tensorflow/lite/kernels/mul_test.cc
Labels: cla: yes, comp:lite, ready to pull, size:S

#43249 Fix sanity build
  tensorflow/python/BUILD
Labels: cla: yes

#43225 [INTEL MKL] MKL DNN 0.x code cleanup - Transpose Op
  tensorflow/core/kernels/mkl/mkl_transpose_op.cc
Labels: cla: yes, comp:mkl, ready to pull, size:S

#43153 Do not symlink system protobuf headers but only the required .proto files
  third_party/systemlibs/protobuf.BUILD
Labels: cla: yes, ready to pull, size:S

#43220 Add test ReadWhileOverwriting
  tensorflow/core/platform/hadoop/hadoop_file_system_test.cc
Labels: cla: yes, comp:core, ready to pull, size:S

#43241 updated documentation for tensorflow lite micro-speech example on NXP…
  tensorflow/lite/micro/examples/micro_speech/README.md
Labels: cla: yes, comp:lite, comp:micro, ready to pull, size:S

#43110 Add missing initialization of filter_offset in fully connected CMSIS-NN kernel
  tensorflow/lite/micro/kernels/cmsis-nn/fully_connected.cc
Labels: cla: yes, comp:lite, comp:micro, ready to pull, size:XS

#42697 TFLu: Support operator only input tensors.
  tensorflow/lite/micro/micro_allocator.cc
  tensorflow/lite/micro/micro_allocator_test.cc
  tensorflow/lite/micro/test_helpers.cc
  tensorflow/lite/micro/test_helpers.h
Labels: cla: yes, comp:lite, comp:micro, ready to pull, size:M

#43051 Implement horizontal input fusion.
  tensorflow/compiler/xla/service/gpu/BUILD
  tensorflow/compiler/xla/service/gpu/gpu_compiler.cc
  tensorflow/compiler/xla/service/gpu/gpu_fusible.cc
  tensorflow/compiler/xla/service/gpu/gpu_fusible.h
  tensorflow/compiler/xla/service/gpu/horizontal_fusion.cc
  tensorflow/compiler/xla/service/gpu/horizontal_input_fusion.cc
  tensorflow/compiler/xla/service/gpu/horizontal_input_fusion.h
  tensorflow/compiler/xla/service/gpu/horizontal_input_fusion_test.cc
Labels: cla: yes, comp:xla, ready to pull, size:L

#43221 Fix the compilation problem of HDFS test cases
  tensorflow/core/platform/hadoop/hadoop_file_system_test.cc
Labels: cla: yes, comp:core, ready to pull, size:XS

#43217 [Grappler] Fold broadcast select
  tensorflow/core/grappler/optimizers/constant_folding.cc
  tensorflow/core/grappler/optimizers/constant_folding.h
  tensorflow/core/grappler/optimizers/constant_folding_test.cc
Labels: cla: yes, comp:grappler, ready to pull, size:M

#43281 Fixing build files for broken test/builds
  tensorflow/python/BUILD
  tensorflow/tools/ci_build/rel/ubuntu/sanity.sh
  tensorflow/tools/ci_build/release/common_win.bat
Labels: cla: yes

#43283 Fix missing comma
  tensorflow/python/BUILD
Labels: cla: yes

#43284 Fix build on r2.1 branch
  tensorflow/python/BUILD
Labels: cla: yes

#43285 Update common_win.bat
  tensorflow/tools/ci_build/release/common_win.bat
Labels: cla: yes

#43286 Disable test that fails due to breaking change in absl_py
  tensorflow/python/BUILD
Labels: cla: yes

#43287 Fix sanity build
  tensorflow/python/BUILD
Labels: cla: yes

#43180 Removed softmax Int16 dependency on std::vector
  tensorflow/lite/kernels/internal/reference/softmax.h
Labels: cla: yes, comp:lite, ready to pull, size:S

#42549 Fix GatherV2 shape inference
  tensorflow/core/ops/array_ops.cc
  tensorflow/python/kernel_tests/array_ops/gather_op_test.py
Labels: cla: yes, prtype:bugfix, ready to pull, size:S

#42667 Extend documentation for the minimal tflite example.
  .bazelrc
  tensorflow/lite/examples/minimal/minimal.cc
Labels: cla: yes, comp:lite, ready to pull, size:S

#43222 Fix the compilation problem of S3 test cases
  tensorflow/core/platform/s3/s3_file_system_test.cc
Labels: cla: yes, comp:cloud, ready to pull, size:XS

#43305 Disable test which fails on mac pip
  tensorflow/python/kernel_tests/BUILD
Labels: cla: yes

#43306 Pin estimator nightly to the latest 2.1 version
  tensorflow/tools/ci_build/release/common.sh
  tensorflow/tools/ci_build/release/common_win.bat
Labels: cla: yes

#43308 Pin Estimator-nightly to latest version used for 2.2 release
  tensorflow/tools/ci_build/release/common.sh
  tensorflow/tools/ci_build/release/common_win.bat
Labels: cla: yes

#43310 Pin Estimator nightly to latest version used during release
  tensorflow/tools/ci_build/release/common.sh
  tensorflow/tools/ci_build/release/common_win.bat
Labels: cla: yes

#43265 Fix XNNPack delegate type-check for Conv2D bias.
  tensorflow/lite/delegates/xnnpack/xnnpack_delegate.cc
Labels: cla: yes, comp:lite, ready to pull, size:XS

#43136 Remove stray backticks in `tf.keras.initializers.Initializer` docstring.
  tensorflow/python/keras/initializers/initializers_v2.py
Labels: cla: yes, comp:keras, ready to pull, size:XS

#42856 [INTEL MKL] Add MKL Conv + Bias + LeakyRelu Fusion
  tensorflow/core/common_runtime/mkl_layout_pass.cc
  tensorflow/core/common_runtime/mkl_layout_pass_test.cc
  tensorflow/core/grappler/optimizers/BUILD
  tensorflow/core/grappler/optimizers/mkl_remapper_test.cc
  tensorflow/core/grappler/optimizers/remapper.cc
  tensorflow/core/grappler/optimizers/remapper_test.cc
  tensorflow/core/kernels/mkl/BUILD
  tensorflow/core/kernels/mkl/mkl_conv_ops.cc
  tensorflow/core/kernels/mkl/mkl_fused_ops_test.cc
  tensorflow/core/ops/mkl_nn_ops.cc
Labels: cla: yes, comp:mkl, ready to pull, size:L

#43313 Add rel/ pool
  tensorflow/tools/ci_build/rel/macos/cpu_libtensorflow.sh
  tensorflow/tools/ci_build/rel/macos/cpu_py35_nonpip.sh
  tensorflow/tools/ci_build/rel/macos/cpu_py35_pip.sh
  tensorflow/tools/ci_build/rel/macos/cpu_py36_nonpip.sh
  tensorflow/tools/ci_build/rel/macos/cpu_py36_pip.sh
  tensorflow/tools/ci_build/rel/macos/cpu_py37_nonpip.sh
  tensorflow/tools/ci_build/rel/macos/cpu_py37_pip.sh
  tensorflow/tools/ci_build/rel/macos/cpu_py38_nonpip.sh
  tensorflow/tools/ci_build/rel/macos/cpu_py38_pip.sh
  tensorflow/tools/ci_build/rel/ubuntu/cpu_libtensorflow.sh
  tensorflow/tools/ci_build/rel/ubuntu/cpu_py35_nonpip.sh
  tensorflow/tools/ci_build/rel/ubuntu/cpu_py35_pip.sh
  tensorflow/tools/ci_build/rel/ubuntu/cpu_py36_nonpip.sh
  tensorflow/tools/ci_build/rel/ubuntu/cpu_py36_pip.sh
  tensorflow/tools/ci_build/rel/ubuntu/cpu_py37_nonpip.sh
  tensorflow/tools/ci_build/rel/ubuntu/cpu_py37_pip.sh
  tensorflow/tools/ci_build/rel/ubuntu/cpu_py38_nonpip.sh
  tensorflow/tools/ci_build/rel/ubuntu/cpu_py38_pip.sh
  tensorflow/tools/ci_build/rel/ubuntu/gpu_libtensorflow.sh
  tensorflow/tools/ci_build/rel/ubuntu/gpu_pip_on_cpu.sh
  tensorflow/tools/ci_build/rel/ubuntu/gpu_py35_nonpip.sh
  tensorflow/tools/ci_build/rel/ubuntu/gpu_py35_pip.sh
  tensorflow/tools/ci_build/rel/ubuntu/gpu_py36_nonpip.sh
  tensorflow/tools/ci_build/rel/ubuntu/gpu_py36_pip.sh
  tensorflow/tools/ci_build/rel/ubuntu/gpu_py37_nonpip.sh
  tensorflow/tools/ci_build/rel/ubuntu/gpu_py37_pip.sh
  tensorflow/tools/ci_build/rel/ubuntu/gpu_py38_nonpip.sh
  tensorflow/tools/ci_build/rel/ubuntu/gpu_py38_pip.sh
  tensorflow/tools/ci_build/rel/ubuntu/sanity.sh
  tensorflow/tools/ci_build/rel/windows/cpu_libtensorflow.bat
  tensorflow/tools/ci_build/rel/windows/cpu_py35.bat
  tensorflow/tools/ci_build/rel/windows/cpu_py36.bat
  tensorflow/tools/ci_build/rel/windows/cpu_py37.bat
  tensorflow/tools/ci_build/rel/windows/cpu_py38.bat
  tensorflow/tools/ci_build/rel/windows/gpu_libtensorflow.bat
  tensorflow/tools/ci_build/rel/windows/gpu_pip_on_cpu.bat
  tensorflow/tools/ci_build/rel/windows/gpu_py35.bat
  tensorflow/tools/ci_build/rel/windows/gpu_py36.bat
  tensorflow/tools/ci_build/rel/windows/gpu_py37.bat
  tensorflow/tools/ci_build/rel/windows/gpu_py38.bat
Labels: cla: yes

#43315 Pin estimator to the right version
  tensorflow/tools/ci_build/release/common.sh
  tensorflow/tools/ci_build/release/common_win.bat
Labels: cla: yes

#43317 Disable more tests on mac
  tensorflow/python/BUILD
  tensorflow/python/debug/BUILD
  tensorflow/python/kernel_tests/BUILD
  tensorflow/tools/api/tests/BUILD
  tensorflow/tools/docs/BUILD
Labels: cla: yes

#43318 Pin numpy on windows too
  tensorflow/tools/ci_build/release/common_win.bat
Labels: cla: yes

#43279 [TFLite] Update the operators versions supported by the reference kernels in BuiltinRefOpResolver and add some missing operators
  tensorflow/lite/kernels/register_ref.cc
Labels: cla: yes, comp:lite, ready to pull, size:L

#42344 Grad check v1
  tensorflow/c/eager/BUILD
  tensorflow/c/eager/gradient_checker.cc
  tensorflow/c/eager/gradient_checker.h
  tensorflow/c/eager/gradient_checker_test.cc
  tensorflow/c/eager/gradients_util.cc
  tensorflow/c/eager/gradients_util.h
  tensorflow/c/eager/mnist_gradients_test.cc
  tensorflow/c/eager/mnist_gradients_testutil.cc
  tensorflow/c/eager/mnist_gradients_testutil.h
  tensorflow/c/experimental/ops/array_ops.cc
  tensorflow/c/experimental/ops/array_ops.h
  tensorflow/c/experimental/ops/math_ops.cc
  tensorflow/c/experimental/ops/math_ops.h
Labels: cla: yes, ready to pull, size:XL

#43321 Disable a flaky test on mac py38
  tensorflow/python/kernel_tests/BUILD
Labels: cla: yes

#43314 Add -D<tag> for every tag specified with TAGS=<tag_list>
  tensorflow/lite/micro/tools/make/Makefile
Labels: cla: yes, ready to pull, size:S

#42902 Fix 1.15 build and run issues on iOS
  tensorflow/contrib/makefile/download_dependencies.sh
  tensorflow/core/platform/profile_utils/cpu_utils.h
Labels: cla: yes, size:XS, waiting for patch release

#42634 Fix #41630: include max_seq_length in cudnn descriptor cache key
  tensorflow/core/kernels/cudnn_rnn_ops.cc
Labels: cla: yes, waiting for patch release

#43325 Fix rename of gpu pips for single pip package on Windows GPU
  tensorflow/tools/ci_build/rel/windows/gpu_py35.bat
  tensorflow/tools/ci_build/rel/windows/gpu_py36.bat
  tensorflow/tools/ci_build/rel/windows/gpu_py37.bat
Labels: cla: yes

#43326 Fix rename of gpu pips for single pip package on Windows GPU
  tensorflow/tools/ci_build/rel/windows/gpu_py35.bat
  tensorflow/tools/ci_build/rel/windows/gpu_py36.bat
  tensorflow/tools/ci_build/rel/windows/gpu_py37.bat
Labels: cla: yes

#43327 Fix rename of gpu pips for single pip package on Windows GPU
  tensorflow/tools/ci_build/rel/windows/gpu_py35.bat
  tensorflow/tools/ci_build/rel/windows/gpu_py36.bat
  tensorflow/tools/ci_build/rel/windows/gpu_py37.bat
Labels: cla: yes

#43328 Also fix single pip Windows GPU renaming on python 3.8
  tensorflow/tools/ci_build/rel/windows/gpu_py38.bat
Labels: cla: yes

#43329 Also fix single pip Windows GPU renaming on python 3.8
  tensorflow/tools/ci_build/rel/windows/gpu_py38.bat
Labels: cla: yes

#43266 Update delegates.md with buildin_ops.h header
  tensorflow/lite/g3doc/performance/delegates.md
Labels: cla: yes, comp:lite, ready to pull, size:XS

#43251 Sagemaker resolver
  tensorflow/python/distribute/cluster_resolver/BUILD
  tensorflow/python/distribute/cluster_resolver/sagemaker_cluster_resolver.py
  tensorflow/python/distribute/cluster_resolver/sagemaker_cluster_resolver_test.py
Labels: cla: yes, comp:cloud, ready to pull, size:L

#43267 Grammar fix
  tensorflow/lite/g3doc/guide/inference.md
Labels: cla: yes, comp:lite, ready to pull, size:XS

#39773 TFLite library fix for r2.1 branch
  tensorflow/lite/tools/make/Makefile
Labels: TF 2.1, cla: yes, comp:lite, type:build/install, waiting for patch release

#40060 [ROCm] Switch r2.1 to use ROCm 3.7
  configure.py
  tensorflow/cc/gradients/nn_grad_test.cc
  tensorflow/compiler/xla/service/gpu/llvm_gpu_backend/gpu_backend_lib.cc
  tensorflow/core/distributed_runtime/collective_param_resolver_distributed_test.cc
  tensorflow/core/grappler/optimizers/constant_folding_test.cc
  tensorflow/core/kernels/reduction_gpu_kernels.cu.h
  tensorflow/core/kernels/scan_ops_gpu.h
  tensorflow/core/platform/default/rocm_rocdl_path.cc
  tensorflow/python/BUILD
  tensorflow/python/data/experimental/kernel_tests/serialization/BUILD
  tensorflow/python/debug/BUILD
  tensorflow/python/eager/BUILD
  tensorflow/python/feature_column/BUILD
  tensorflow/python/keras/BUILD
  tensorflow/python/kernel_tests/BUILD
  tensorflow/python/ops/parallel_for/BUILD
  tensorflow/python/ops/ragged/BUILD
  tensorflow/python/tpu/BUILD
  tensorflow/stream_executor/platform/default/dso_loader.cc
  tensorflow/stream_executor/rocm/rocm_gpu_executor.cc
  tensorflow/tools/ci_build/Dockerfile.rocm
  tensorflow/tools/ci_build/install/install_deb_packages.sh
  tensorflow/tools/ci_build/install/install_pip_packages.sh
  tensorflow/tools/ci_build/linux/rocm/run_cc_core.sh
  tensorflow/tools/ci_build/linux/rocm/run_csb_tests.sh
  tensorflow/tools/ci_build/linux/rocm/run_py3_core.sh
  tensorflow/tools/ci_build/xla/linux/rocm/run_py3.sh
  tensorflow/tools/compatibility/BUILD
  tensorflow/tools/docs/BUILD
  third_party/gpus/crosstool/clang/bin/crosstool_wrapper_driver_rocm.tpl
  third_party/gpus/cuda_configure.bzl
  third_party/gpus/rocm/rocm_config.h.tpl
  third_party/gpus/rocm_configure.bzl
Labels: cla: yes, size:L, waiting for patch release

#42362 Run SWIG in the default environment
  tensorflow/tensorflow.bzl
Labels: cla: yes, prtype:bugfix, size:XS, type:build/install, waiting for patch release

#43134 Implementation of a missing hook in XlaDeviceContext
  tensorflow/compiler/jit/xla_device_context.cc
  tensorflow/compiler/jit/xla_device_context.h
Labels: cla: yes, ready to pull, size:S

#41669 2.3.0-rc2 cherry-pick request: Cherry pick library threadsafestatus
  tensorflow/core/kernels/BUILD
  tensorflow/core/kernels/batch_kernels.cc
  tensorflow/core/kernels/batching_util/BUILD
  tensorflow/core/kernels/batching_util/threadsafe_status.cc
  tensorflow/core/kernels/batching_util/threadsafe_status.h
  tensorflow/core/kernels/batching_util/threadsafe_status_test.cc
Labels: cla: yes, size:M

#41355 [CherryPick:r2.3] Fix deprecated usage of collections ABC
  tensorflow/python/compiler/xla/xla.py
  tensorflow/python/data/ops/dataset_ops.py
  tensorflow/python/data/ops/iterator_ops.py
  tensorflow/python/data/util/structure.py
  tensorflow/python/debug/wrappers/framework.py
  tensorflow/python/distribute/input_lib.py
  tensorflow/python/framework/indexed_slices.py
  tensorflow/python/keras/engine/training_utils.py
  tensorflow/python/keras/layers/preprocessing/preprocessing_test_utils.py
  tensorflow/python/keras/layers/recurrent.py
  tensorflow/python/ops/math_ops.py
  tensorflow/python/ops/nn_ops.py
  tensorflow/python/ops/variable_scope.py
  tensorflow/python/tools/saved_model_cli.py
Labels: cla: yes, size:M, waiting for patch release

#43338 Revert "2.3.0-rc2 cherry-pick request: Cherry pick library threadsafestatus "
  tensorflow/core/kernels/BUILD
  tensorflow/core/kernels/batch_kernels.cc
  tensorflow/core/kernels/batching_util/BUILD
  tensorflow/core/kernels/batching_util/threadsafe_status.cc
  tensorflow/core/kernels/batching_util/threadsafe_status.h
  tensorflow/core/kernels/batching_util/threadsafe_status_test.cc
Labels: cla: yes

#41865 Remove scipy dependency.
  tensorflow/tools/pip_package/setup.py
Labels: cla: yes, waiting for patch release

#41866 Remove scipy dependency.
  tensorflow/tools/pip_package/setup.py
Labels: cla: yes, waiting for patch release

#41867 Remove scipy dependency.
  tensorflow/tools/pip_package/setup.py
Labels: cla: yes, waiting for patch release

#40730 Cherry-pick sqlite version bump
  tensorflow/workspace.bzl
Labels: cla: yes, waiting for patch release

#40732 Cherry-pick sqlite version bump
  tensorflow/workspace.bzl
Labels: cla: yes, waiting for patch release

#40733 Cherry-pick sqlite version bump
  tensorflow/workspace.bzl
Labels: cla: yes, waiting for patch release

#43346 Bump sqlite to 3.33.0
  tensorflow/workspace.bzl
Labels: cla: yes

#43354 Patch for TF 1.15.4
  tensorflow/cc/saved_model/loader.cc
  tensorflow/core/common_runtime/eager/kernel_and_device.cc
  tensorflow/core/kernels/BUILD
  tensorflow/core/kernels/as_string_op.cc
  tensorflow/core/kernels/as_string_op_test.cc
  tensorflow/core/kernels/boosted_trees/prediction_ops.cc
  tensorflow/core/kernels/nth_element_op.cc
  tensorflow/core/kernels/parameterized_truncated_normal_op.cc
  tensorflow/core/kernels/random_binomial_op.cc
  tensorflow/core/kernels/random_op.cc
  tensorflow/core/kernels/random_poisson_op.cc
  tensorflow/core/kernels/session_ops.cc
  tensorflow/core/kernels/sparse_fill_empty_rows_op.cc
  tensorflow/core/kernels/string_ngrams_op.cc
  tensorflow/core/kernels/topk_op.cc
  tensorflow/lite/core/subgraph.cc
  tensorflow/lite/core/subgraph.h
  tensorflow/lite/kernels/internal/reference/reference_ops.h
  tensorflow/lite/kernels/internal/types.h
  tensorflow/lite/kernels/kernel_util.h
  tensorflow/lite/model.cc
  tensorflow/python/kernel_tests/control_flow_ops_py_test.py
  tensorflow/python/ops/raw_ops_test.py
  tensorflow/python/ops/sparse_ops_test.py
Labels: cla: yes

#43355 Patch for TF 2.0.3
  tensorflow/cc/saved_model/loader.cc
  tensorflow/core/common_runtime/eager/kernel_and_device.cc
  tensorflow/core/kernels/BUILD
  tensorflow/core/kernels/as_string_op.cc
  tensorflow/core/kernels/as_string_op_test.cc
  tensorflow/core/kernels/boosted_trees/prediction_ops.cc
  tensorflow/core/kernels/nth_element_op.cc
  tensorflow/core/kernels/parameterized_truncated_normal_op.cc
  tensorflow/core/kernels/random_binomial_op.cc
  tensorflow/core/kernels/random_op.cc
  tensorflow/core/kernels/random_poisson_op.cc
  tensorflow/core/kernels/session_ops.cc
  tensorflow/core/kernels/sparse_fill_empty_rows_op.cc
  tensorflow/core/kernels/string_ngrams_op.cc
  tensorflow/core/kernels/topk_op.cc
  tensorflow/lite/core/subgraph.cc
  tensorflow/lite/core/subgraph.h
  tensorflow/lite/kernels/internal/reference/reference_ops.h
  tensorflow/lite/kernels/internal/types.h
  tensorflow/lite/kernels/kernel_util.h
  tensorflow/lite/model.cc
  tensorflow/python/kernel_tests/control_flow_ops_py_test.py
  tensorflow/python/ops/raw_ops_test.py
  tensorflow/python/ops/sparse_ops_test.py
Labels: cla: yes

#43356 Patch for TF 2.1.2
  tensorflow/cc/saved_model/loader.cc
  tensorflow/core/common_runtime/eager/kernel_and_device.cc
  tensorflow/core/kernels/BUILD
  tensorflow/core/kernels/as_string_op.cc
  tensorflow/core/kernels/as_string_op_test.cc
  tensorflow/core/kernels/boosted_trees/prediction_ops.cc
  tensorflow/core/kernels/nth_element_op.cc
  tensorflow/core/kernels/parameterized_truncated_normal_op.cc
  tensorflow/core/kernels/random_binomial_op.cc
  tensorflow/core/kernels/random_op.cc
  tensorflow/core/kernels/random_poisson_op.cc
  tensorflow/core/kernels/session_ops.cc
  tensorflow/core/kernels/sparse_fill_empty_rows_op.cc
  tensorflow/core/kernels/string_ngrams_op.cc
  tensorflow/core/kernels/topk_op.cc
  tensorflow/lite/core/subgraph.cc
  tensorflow/lite/core/subgraph.h
  tensorflow/lite/kernels/internal/reference/reference_ops.h
  tensorflow/lite/kernels/internal/types.h
  tensorflow/lite/kernels/kernel_util.h
  tensorflow/lite/model.cc
  tensorflow/python/kernel_tests/control_flow_ops_py_test.py
  tensorflow/python/ops/raw_ops_test.py
  tensorflow/python/ops/sparse_ops_test.py
Labels: cla: yes

#43357 Patch for TF 2.2.1
  tensorflow/c/eager/dlpack.cc
  tensorflow/cc/saved_model/loader.cc
  tensorflow/core/common_runtime/eager/kernel_and_device.cc
  tensorflow/core/kernels/BUILD
  tensorflow/core/kernels/as_string_op.cc
  tensorflow/core/kernels/as_string_op_test.cc
  tensorflow/core/kernels/boosted_trees/prediction_ops.cc
  tensorflow/core/kernels/nth_element_op.cc
  tensorflow/core/kernels/parameterized_truncated_normal_op.cc
  tensorflow/core/kernels/random_binomial_op.cc
  tensorflow/core/kernels/random_op.cc
  tensorflow/core/kernels/random_poisson_op.cc
  tensorflow/core/kernels/session_ops.cc
  tensorflow/core/kernels/sparse_fill_empty_rows_op.cc
  tensorflow/core/kernels/stateless_random_ops.cc
  tensorflow/core/kernels/string_ngrams_op.cc
  tensorflow/core/kernels/topk_op.cc
  tensorflow/lite/core/subgraph.cc
  tensorflow/lite/core/subgraph.h
  tensorflow/lite/kernels/internal/reference/reduce.h
  tensorflow/lite/kernels/internal/types.h
  tensorflow/lite/kernels/kernel_util.h
  tensorflow/lite/kernels/segment_sum.cc
  tensorflow/lite/kernels/segment_sum_test.cc
  tensorflow/lite/model.cc
  tensorflow/python/dlpack/dlpack_test.py
  tensorflow/python/kernel_tests/control_flow_ops_py_test.py
  tensorflow/python/ops/raw_ops_test.py
  tensorflow/python/ops/sparse_ops_test.py
  tensorflow/python/tfe_wrapper.cc
Labels: cla: yes

#43358 Patch for TF 2.3.1
  tensorflow/c/eager/dlpack.cc
  tensorflow/cc/saved_model/loader.cc
  tensorflow/core/common_runtime/eager/kernel_and_device.cc
  tensorflow/core/kernels/BUILD
  tensorflow/core/kernels/as_string_op.cc
  tensorflow/core/kernels/as_string_op_test.cc
  tensorflow/core/kernels/banded_triangular_solve_op.cc
  tensorflow/core/kernels/boosted_trees/prediction_ops.cc
  tensorflow/core/kernels/count_ops.cc
  tensorflow/core/kernels/crop_and_resize_op.cc
  tensorflow/core/kernels/nth_element_op.cc
  tensorflow/core/kernels/parameterized_truncated_normal_op.cc
  tensorflow/core/kernels/random_binomial_op.cc
  tensorflow/core/kernels/random_op.cc
  tensorflow/core/kernels/random_poisson_op.cc
  tensorflow/core/kernels/session_ops.cc
  tensorflow/core/kernels/sparse_fill_empty_rows_op.cc
  tensorflow/core/kernels/stateless_random_ops.cc
  tensorflow/core/kernels/string_ngrams_op.cc
  tensorflow/core/kernels/topk_op.cc
  tensorflow/lite/core/subgraph.cc
  tensorflow/lite/core/subgraph.h
  tensorflow/lite/interpreter_builder.cc
  tensorflow/lite/kernels/internal/reference/reduce.h
  tensorflow/lite/kernels/internal/types.h
  tensorflow/lite/kernels/kernel_util.h
  tensorflow/lite/kernels/segment_sum.cc
  tensorflow/lite/kernels/segment_sum_test.cc
  tensorflow/python/dlpack/dlpack_test.py
  tensorflow/python/kernel_tests/control_flow_ops_py_test.py
  tensorflow/python/ops/bincount_ops_test.py
  tensorflow/python/ops/raw_ops_test.py
  tensorflow/python/ops/sparse_ops_test.py
  tensorflow/python/tfe_wrapper.cc
Labels: cla: yes

#43388 Solve leftover from merge conflict
  tensorflow/cc/saved_model/loader.cc
Labels: cla: yes

#43389 Solve leftover from merge conflict
  tensorflow/cc/saved_model/loader.cc
Labels: cla: yes

#43390 Solve leftover from merge conflict
  tensorflow/cc/saved_model/loader.cc
Labels: cla: yes

#43392 Solve leftover from merge conflict
  tensorflow/cc/saved_model/loader.cc
Labels: cla: yes
