Repository tensorflow/tensorflow, pull requests merged in 2021-02, with the labels that each got.

#46761 [tf.data] eager mode support for experimental benchmarks part1
  tensorflow/python/data/benchmarks/benchmark_base.py
  tensorflow/python/data/experimental/benchmarks/csv_dataset_benchmark.py
  tensorflow/python/data/experimental/benchmarks/map_vectorization_benchmark.py
  tensorflow/python/data/experimental/benchmarks/matching_files_benchmark.py
  tensorflow/python/data/experimental/benchmarks/optimize_benchmark.py
  tensorflow/python/data/experimental/benchmarks/snapshot_dataset_benchmark.py
  tensorflow/python/data/experimental/benchmarks/unbatch_benchmark.py
Labels: cla: yes, comp:data, ready to pull, size:M

#46741 Fix crash when invalid keepdims value is being passed to tf.math.reduce_prod
  tensorflow/python/kernel_tests/reduction_ops_test.py
  tensorflow/python/ops/math_ops.py
Labels: cla: yes, prtype:bugfix, ready to pull, size:S

#46742 Fix crash when tf.sequence_mask takes a non-integer lengths
  tensorflow/python/kernel_tests/array_ops_test.py
  tensorflow/python/ops/array_ops.py
Labels: cla: yes, prtype:bugfix, ready to pull, size:S

#46671 Fix in resource var AssignVariableOp Compute
  tensorflow/core/kernels/resource_variable_ops.cc
Labels: cla: yes, comp:core, ready to pull, size:XS

#46714 Port int8 and float versions of space_to_batch to TFLM
  tensorflow/lite/kernels/internal/reference/space_to_batch_nd.h
  tensorflow/lite/kernels/internal/types.h
  tensorflow/lite/micro/kernels/BUILD
  tensorflow/lite/micro/kernels/micro_ops.h
  tensorflow/lite/micro/kernels/space_to_batch_nd.cc
  tensorflow/lite/micro/kernels/space_to_batch_nd_test.cc
  tensorflow/lite/micro/micro_mutable_op_resolver.h
  tensorflow/lite/micro/tools/ci_build/test_bluepill.sh
  tensorflow/lite/micro/tools/make/Makefile
Labels: cla: yes, comp:micro, prtype:bugfix, ready to pull, size:L

#46796 Change 'must a Tensor' to 'must be a Tensor' in TypeError message
  tensorflow/python/ops/control_flow_ops.py
Labels: cla: yes, comp:ops, ready to pull, size:XS

#45276 [XLA] Relaxing requirements for CloneWithNewOperands to preserve sharding info
  tensorflow/compiler/xla/service/hlo_instruction.cc
  tensorflow/compiler/xla/service/hlo_instruction_test.cc
  tensorflow/compiler/xla/shape.cc
  tensorflow/compiler/xla/shape.h
  tensorflow/compiler/xla/shape_util.cc
  tensorflow/compiler/xla/shape_util.h
Labels: cla: yes, comp:xla, ready to pull, size:M

#46710 micro: prepare to port operator FLOOR_DIV kernel from lite with test
  tensorflow/lite/micro/kernels/floor_div.cc
  tensorflow/lite/micro/kernels/floor_div_test.cc
Labels: cla: yes, comp:lite, comp:micro, prtype:bugfix, ready to pull, size:M

#46283 Implement support for ragged tensors in mean_squared_error loss function.
  tensorflow/python/keras/engine/compile_utils_test.py
  tensorflow/python/keras/losses.py
  tensorflow/python/keras/losses_test.py
  tensorflow/python/keras/utils/losses_utils.py
Labels: cla: yes, comp:keras, ready to pull, size:M

#46358 [tf.data] Implement SkipInternal for TFRecordDataset
  tensorflow/core/kernels/data/dataset_test_base.cc
  tensorflow/core/kernels/data/dataset_test_base.h
  tensorflow/core/kernels/data/tf_record_dataset_op.cc
  tensorflow/core/kernels/data/tf_record_dataset_op_test.cc
Labels: cla: yes, comp:data, ready to pull, size:M

#46856 TFLite: tools: make: remove test_delegate_providers.cc from the build resources for libtensorflow-lite.a
  tensorflow/lite/tools/make/Makefile
Labels: cla: yes, comp:lite, ready to pull, size:XS

#46841 [TFLM] CEVA-DSP platform - Update makefiles for CEVA-ToolBox 18.05
  tensorflow/lite/micro/tools/make/helper_functions.inc
  tensorflow/lite/micro/tools/make/targets/ceva/CEVA_BX1_TFLM_18.0.5.ld
  tensorflow/lite/micro/tools/make/targets/ceva_bx1_makefile.inc
  tensorflow/lite/micro/tools/make/targets/ceva_makefile.inc
  tensorflow/lite/micro/tools/make/templates/ceva/ceva_app_makefile_v18.0.5.tpl
  tensorflow/lite/micro/tools/make/templates/ceva_bx1/ceva_app_makefile.tpl
Labels: cla: yes, comp:micro, comp:micro:ceva, ready to pull, size:L

#46886 [ROCm] Workaround for a LLVM crash when doing codegen for MLIR generated Cast kernel
  tensorflow/compiler/mlir/tools/kernel_gen/kernel_creator.cc
Labels: cla: yes, comp:gpu, ready to pull, size:M

#46892 [ROCm] Update to use ROCm 4.0.1 (when building TF with --config=rocm)
  tensorflow/tools/ci_build/Dockerfile.rocm
  tensorflow/tools/ci_build/linux/rocm/run_cc_core.sh
  tensorflow/tools/ci_build/linux/rocm/run_csb_tests.sh
  tensorflow/tools/ci_build/linux/rocm/run_gpu_multi.sh
  tensorflow/tools/ci_build/linux/rocm/run_gpu_single.sh
  tensorflow/tools/ci_build/linux/rocm/run_py3_core.sh
  tensorflow/tools/ci_build/xla/linux/rocm/run_py3.sh
Labels: cla: yes, comp:gpu, ready to pull, size:L

#46225 Add int8 and int16x8 support for WHERE operator
  tensorflow/lite/tools/optimize/BUILD
  tensorflow/lite/tools/optimize/operator_property.cc
  tensorflow/lite/tools/optimize/quantize_model_test.cc
  tensorflow/lite/tools/optimize/test_util.cc
  tensorflow/lite/tools/optimize/test_util.h
  tensorflow/lite/tools/optimize/testdata/where.bin
Labels: cla: yes, comp:lite, ready to pull, size:M

#46704 Consider `FakeQuantWithMinMaxArgs` to be a train-time quant op in the TFLite Converter
  tensorflow/lite/python/lite.py
Labels: ModelOptimizationToolkit, TFLiteConverter, cla: yes, comp:lite, ready to pull, size:XS

#46895 Finish porting micro op zeros_like and its testing code
  tensorflow/lite/micro/kernels/BUILD
  tensorflow/lite/micro/kernels/micro_ops.h
  tensorflow/lite/micro/kernels/zeros_like.cc
  tensorflow/lite/micro/kernels/zeros_like_test.cc
  tensorflow/lite/micro/micro_mutable_op_resolver.h
  tensorflow/lite/micro/tools/make/Makefile
Labels: cla: yes, comp:micro, ready to pull, size:M

#46675 [TFTRT - Dynamic Shape Phase 3] Add Dynamic Shape Testing for ConvertAddN and DebugString templated for nested numerical vectors
  tensorflow/compiler/tf2tensorrt/convert/convert_nodes.cc
  tensorflow/compiler/tf2tensorrt/convert/convert_nodes_test.cc
  tensorflow/compiler/tf2tensorrt/convert/utils.cc
  tensorflow/compiler/tf2tensorrt/convert/utils.h
Labels: cla: yes, comp:gpu:tensorrt, ready to pull, size:M

#46903 Use the right input_dims[] in lite/micro/kernels/exp_test.cc
  tensorflow/lite/micro/kernels/exp_test.cc
Labels: cla: yes, comp:micro, prtype:bugfix, ready to pull, size:XS

#46906 Use the right input_dims[] in lite/micro/kernels/cast_test.cc
  tensorflow/lite/micro/kernels/cast_test.cc
Labels: cla: yes, comp:micro, ready to pull, size:XS

#46893 Add missing exception to Model.fit() docstring
  tensorflow/python/keras/engine/training.py
Labels: cla: yes, comp:keras, ready to pull, size:XS, type:docs-bug

#46798 Fix region control flow to functional pass with incompatible cast.
  tensorflow/compiler/mlir/tensorflow/tests/region-control-flow-to-functional.mlir
  tensorflow/compiler/mlir/tensorflow/transforms/region_control_flow_to_functional.cc
Labels: cla: yes, prtype:bugfix, ready to pull, size:M

#44794 [CostModel] Generating CostGraphDef with Global Index
  tensorflow/core/BUILD
  tensorflow/core/graph/BUILD
  tensorflow/core/graph/costmodel.cc
  tensorflow/core/graph/costmodel.h
  tensorflow/core/graph/costmodel_test.cc
  tensorflow/core/util/dump_graph.cc
  tensorflow/core/util/dump_graph.h
Labels: cla: yes, comp:core, ready to pull, size:S

#46962 Fix kernel_exp_test with the Xtensa toolchain.
  tensorflow/lite/micro/kernels/BUILD
  tensorflow/lite/micro/kernels/exp_test.cc
  tensorflow/lite/micro/testing/micro_test.h
Labels: cla: yes, comp:micro, ready to pull, size:S

#45076 Fixed multiple mistakes in XNNPACK delegate tensor type checking code
  tensorflow/lite/delegates/xnnpack/xnnpack_delegate.cc
Labels: awaiting review, cla: yes, comp:lite, ready to pull, size:XS

#46328 micro: copy operator ELU kernel from lite
  tensorflow/lite/micro/kernels/elu.cc
  tensorflow/lite/micro/kernels/elu_test.cc
Labels: cla: yes, comp:lite, comp:micro, prtype:bugfix, ready to pull, size:L

#46312 micro: prepare to port operator FLOOR_MOD kernel from lite with test
  tensorflow/lite/micro/kernels/floor_mod.cc
  tensorflow/lite/micro/kernels/floor_mod_test.cc
Labels: cla: yes, comp:lite, comp:micro, prtype:bugfix, ready to pull, size:L

#46670 Extract reference for operator BATCH_MATMUL to standalone header
  tensorflow/lite/kernels/internal/BUILD
  tensorflow/lite/kernels/internal/reference/batch_matmul.h
  tensorflow/lite/kernels/internal/reference/reference_ops.h
  tensorflow/lite/kernels/internal/tensor_utils.h
  tensorflow/lite/kernels/internal/tensor_utils_common.h
Labels: cla: yes, comp:lite, comp:micro, prtype:bugfix, ready to pull, size:XL

#46213 micro: prepare to port operator LEAKY_RELU kernel from lite with test
  tensorflow/lite/kernels/internal/reference/leaky_relu.h
  tensorflow/lite/micro/kernels/leaky_relu.cc
  tensorflow/lite/micro/kernels/leaky_relu_test.cc
Labels: cla: yes, comp:lite, comp:micro, prtype:bugfix, ready to pull, size:L

#45610 Fix convert_variables_to_constants_v2 for scalar valued captures
  tensorflow/python/framework/convert_to_constants.py
Labels: cla: yes, ready to pull, size:XS

#47005 Don't run nightly update job in forks.
  .github/workflows/update-nightly.yml
Labels: cla: yes, ready to pull, size:XS

#46060 Propagate optional argv to benchmarks_main
  tensorflow/python/platform/googletest.py
Labels: awaiting review, cla: yes, ready to pull, size:XS

#46955 Deprecate legacy hdfs file system
  tensorflow/core/platform/env.h
  tensorflow/core/platform/hadoop/hadoop_file_system.cc
Labels: cla: yes, comp:core, ready to pull, size:S

#46901 Fold StridedSliceOp when input is defined by ShapeOp.
  tensorflow/compiler/mlir/tensorflow/ir/tf_generated_ops.td
  tensorflow/compiler/mlir/tensorflow/ir/tf_ops_n_z.cc
  tensorflow/compiler/mlir/tensorflow/tests/canonicalize.mlir
Labels: cla: yes, ready to pull, size:M

#46942 Update array_ops.py
  tensorflow/python/ops/array_ops.py
Labels: cla: yes, comp:ops, ready to pull, size:XS

#46974 Fix crash of tf.strings.substr when pos and len have different shapes
  tensorflow/core/kernels/substr_op.cc
  tensorflow/python/kernel_tests/substr_op_test.py
Labels: cla: yes, prtype:bugfix, ready to pull, size:S

#46966 Add CAST and ZEROS_LIKE tests in lite/micro/kernels/BUILD
  tensorflow/lite/micro/kernels/BUILD
Labels: cla: yes, comp:micro, ready to pull, size:S

#46747 Improve rendering for tf.distribute.cluster_resolver.TPUClusterResolver in tpu_strategy API docs
  tensorflow/python/distribute/tpu_strategy.py
Labels: cla: yes, ready to pull, size:XS

#46875 Add ragged tensor support to mean_absolute_error.
  tensorflow/python/keras/losses.py
  tensorflow/python/keras/losses_test.py
Labels: cla: yes, comp:keras, ready to pull, size:S

#47014 Remove duplicated implementation of keras.backend.ndim
  tensorflow/python/keras/backend.py
Labels: cla: yes, comp:keras, ready to pull, size:XS

#45588 Add TF-TRT optimization profiles for testing
  tensorflow/compiler/tf2tensorrt/convert/convert_nodes_test.cc
  tensorflow/compiler/tf2tensorrt/convert/utils.cc
  tensorflow/compiler/tf2tensorrt/convert/utils.h
  tensorflow/compiler/tf2tensorrt/kernels/trt_engine_op.cc
  tensorflow/compiler/tf2tensorrt/kernels/trt_engine_op_test.cc
  tensorflow/compiler/tf2tensorrt/utils/trt_engine_utils.cc
  tensorflow/compiler/tf2tensorrt/utils/trt_lru_cache.cc
  tensorflow/compiler/tf2tensorrt/utils/trt_shape_optimization_profiles.cc
  tensorflow/compiler/tf2tensorrt/utils/trt_shape_optimization_profiles.h
  tensorflow/compiler/tf2tensorrt/utils/trt_shape_optimization_profiles_test.cc
Labels: cla: yes, comp:gpu:tensorrt, ready to pull, size:M

#47017 Thrown out ValueError when alpha=None is passed for tf.keras.layers.LeakyReLU
  tensorflow/python/keras/layers/advanced_activations.py
  tensorflow/python/keras/layers/advanced_activations_test.py
Labels: cla: yes, comp:keras, prtype:bugfix, ready to pull, size:S

#47018 Remove the sources containing the models from the TFLM static lib.
  tensorflow/lite/micro/benchmarks/Makefile.inc
  tensorflow/lite/micro/tools/make/Makefile
Labels: cla: yes, comp:micro, prtype:bugfix, ready to pull, size:S

#46864 Improve MicroProfiler and make per-op profiling the default in the benchmarks.
  tensorflow/lite/micro/BUILD
  tensorflow/lite/micro/benchmarks/keyword_benchmark.cc
  tensorflow/lite/micro/benchmarks/micro_benchmark.h
  tensorflow/lite/micro/benchmarks/person_detection_benchmark.cc
  tensorflow/lite/micro/micro_interpreter.cc
  tensorflow/lite/micro/micro_interpreter.h
  tensorflow/lite/micro/micro_interpreter_test.cc
  tensorflow/lite/micro/micro_profiler.cc
  tensorflow/lite/micro/micro_profiler.h
  tensorflow/lite/micro/micro_time.h
  tensorflow/lite/micro/tools/make/Makefile
Labels: cla: yes, comp:micro, ready to pull, size:L

#46881 TFLite C API: add cmake support
  tensorflow/lite/c/CMakeLists.txt
Labels: cla: yes, comp:lite, ready to pull, size:M

#46884 Update nn_impl.py
  tensorflow/python/ops/nn_impl.py
Labels: cla: yes, comp:ops, ready to pull, size:XS, type:docs-bug

#47006 Remove unnecessary set_model overwrite in BackupAndRestore calllback
  tensorflow/python/keras/callbacks.py
Labels: cla: yes, comp:keras, ready to pull, size:XS

#47073 Reorder lite/micro/kernels/BUILD alphabetically
  tensorflow/lite/micro/kernels/BUILD
Labels: cla: yes, comp:micro, ready to pull, size:L

#47015 [tf.data] eager mode support for experimental benchmarks part2
  tensorflow/python/data/benchmarks/benchmark_base.py
  tensorflow/python/data/experimental/benchmarks/autotune_benchmark.py
  tensorflow/python/data/experimental/benchmarks/choose_fastest_benchmark.py
  tensorflow/python/data/experimental/benchmarks/map_and_batch_benchmark.py
  tensorflow/python/data/experimental/benchmarks/map_defun_benchmark.py
  tensorflow/python/data/experimental/benchmarks/parallel_interleave_benchmark.py
  tensorflow/python/data/experimental/benchmarks/rejection_resample_benchmark.py
Labels: cla: yes, comp:data, ready to pull, size:L

#47045 Support RaggedTensors in categorical_crossentropy.
  tensorflow/python/keras/losses.py
  tensorflow/python/keras/losses_test.py
Labels: cla: yes, comp:keras, ready to pull, size:S

#47025 Update sqlite to the latest sqlite-amalgamation-3340100
  tensorflow/workspace.bzl
Labels: cla: yes, ready to pull, size:XS

#47009 [TFLite] Fix resize bilinear tests by raising a too low error_threshold when align_corners is true
  tensorflow/lite/kernels/internal/resize_bilinear_test.cc
Labels: cla: yes, comp:lite, ready to pull, size:XS

#46838 Update nn_ops.py
  tensorflow/core/kernels/avgpooling_op.cc
Labels: cla: yes, comp:ops, prtype:bugfix, ready to pull, size:XS

#47088 Switching to Cadence HiFi 4 NN Library v2.4.0
  tensorflow/lite/micro/tools/make/ext_libs/xtensa_download.sh
Labels: cla: yes, comp:micro, ready to pull, size:XS

#47003 Update pooling.py
  tensorflow/python/keras/layers/pooling.py
Labels: cla: yes, comp:keras, ready to pull, size:XS, type:docs-bug

#46275 Refactor ReshapeSparseTensor into a template+class
  tensorflow/core/kernels/deserialize_sparse_string_op.cc
  tensorflow/core/kernels/reshape_util.cc
  tensorflow/core/kernels/reshape_util.h
  tensorflow/core/kernels/sparse_reshape_op.cc
Labels: cla: yes, comp:core, ready to pull, size:M

#47055 Added a run_ makefile target for non-test binaries.
  tensorflow/lite/experimental/microfrontend/lib/BUILD
  tensorflow/lite/micro/BUILD
  tensorflow/lite/micro/benchmarks/README.md
  tensorflow/lite/micro/examples/hello_world/BUILD
  tensorflow/lite/micro/examples/image_recognition_experimental/BUILD
  tensorflow/lite/micro/examples/image_recognition_experimental/Makefile.inc
  tensorflow/lite/micro/examples/magic_wand/BUILD
  tensorflow/lite/micro/examples/micro_speech/BUILD
  tensorflow/lite/micro/examples/micro_speech/micro_features/BUILD
  tensorflow/lite/micro/examples/person_detection/BUILD
  tensorflow/lite/micro/kernels/BUILD
  tensorflow/lite/micro/memory_planner/BUILD
  tensorflow/lite/micro/testing/BUILD
  tensorflow/lite/micro/testing/micro_test.bzl
  tensorflow/lite/micro/testing/test_hexagon_binary.sh
  tensorflow/lite/micro/testing/test_linux_binary.sh
  tensorflow/lite/micro/testing/test_xtensa_binary.sh
  tensorflow/lite/micro/tools/ci_build/test_bazel.sh
  tensorflow/lite/micro/tools/make/Makefile
  tensorflow/lite/micro/tools/make/helper_functions.inc
Labels: cla: yes, comp:micro, size:L

#46746 Add in optimizations for softmax for Fusion F1.
  tensorflow/lite/micro/kernels/xtensa/softmax.cc
  tensorflow/lite/micro/kernels/xtensa/xtensa.h
Labels: cla: yes, comp:micro, ready to pull, size:M

#46206 micro: copy operator ADD_N kernel from lite
  tensorflow/lite/micro/kernels/add_n.cc
  tensorflow/lite/micro/kernels/add_n_test.cc
Labels: cla: yes, comp:lite, comp:micro, prtype:bugfix, ready to pull, size:L

#47102 Fix the bazel build as part of the github continuous integration.
  tensorflow/lite/micro/tools/ci_build/tflm_bazel/workspace.bzl
Labels: cla: yes, comp:micro, ready to pull, size:S

#47046 Deprecate s3 file system
  tensorflow/core/platform/s3/s3_file_system.cc
Labels: cla: yes, comp:core, ready to pull, size:XS

#47094 Add an individual kernel test with Renode to the CI.
  tensorflow/lite/micro/tools/ci_build/test_bluepill.sh
Labels: cla: yes, comp:micro, prtype:bugfix, ready to pull, size:XS

#46614 Make H-loop-fusion share operands with users.
  tensorflow/compiler/xla/service/copy_insertion_test.cc
  tensorflow/compiler/xla/service/gpu/horizontal_loop_fusion.cc
  tensorflow/compiler/xla/service/gpu/horizontal_loop_fusion_test.cc
  tensorflow/compiler/xla/service/hlo_dataflow_analysis.cc
  tensorflow/compiler/xla/service/hlo_dataflow_analysis_test.cc
Labels: cla: yes, comp:xla, ready to pull, size:M

#46839 Update tf.keras.layers.convolutional.py with extended docstring information.
  tensorflow/python/keras/layers/convolutional.py
Labels: cla: yes, comp:keras, ready to pull, size:M

#45613 Fix the issue of tf.image.central_crop when central_fraction is a tensor
  tensorflow/python/ops/image_ops_impl.py
  tensorflow/python/ops/image_ops_test.py
Labels: cla: yes, comp:ops, prtype:bugfix, ready to pull, size:S

#47154 [TFL] Optimize add/sub
  tensorflow/lite/kernels/internal/optimized/optimized_ops.h
Labels: cla: yes, comp:lite, ready to pull, size:M

#47060 Partially infer conv return types
  tensorflow/compiler/mlir/tensorflow/ir/tf_ops_a_m.cc
  tensorflow/compiler/mlir/tensorflow/tests/shape_inference.mlir
Labels: cla: yes, prtype:bugfix, ready to pull, size:M

#46691 [ROCm] Update script install_pip_packages.sh for Python 2.7
  tensorflow/tools/ci_build/install/install_pip_packages.sh
Labels: cla: yes, comp:gpu, ready to pull, size:XS

#45439 Flatbuffer_conversion changes for Transpose
  tensorflow/lite/core/api/flatbuffer_conversions.cc
  tensorflow/lite/core/api/flatbuffer_conversions.h
Labels: awaiting review, cla: yes, comp:lite, comp:micro, comp:micro:arm, ready to pull, size:S

#47098 Use xa_nnlib for svdf for Fusion F1.
  tensorflow/lite/micro/kernels/xtensa/svdf.cc
Labels: cla: yes, comp:micro, ready to pull, size:M

#47078 micro: prepare to port operator ELU kernel from lite with test
  tensorflow/lite/micro/kernels/elu.cc
  tensorflow/lite/micro/kernels/elu_test.cc
Labels: cla: yes, comp:micro, prtype:bugfix, ready to pull, size:L

#47112 Refactor conv to share code between reference and optimized kernels
  tensorflow/lite/micro/BUILD
  tensorflow/lite/micro/kernels/BUILD
  tensorflow/lite/micro/kernels/cmsis_nn/conv.cc
  tensorflow/lite/micro/kernels/conv.cc
  tensorflow/lite/micro/kernels/conv.h
  tensorflow/lite/micro/kernels/conv_common.cc
  tensorflow/lite/micro/kernels/kernel_util.cc
  tensorflow/lite/micro/kernels/kernel_util.h
  tensorflow/lite/micro/kernels/xtensa/conv.cc
  tensorflow/lite/micro/tools/make/Makefile
Labels: cla: yes, comp:micro, ready to pull, size:L

#46571 constant learning rate logging added to TensorBoard callback
  tensorflow/python/keras/callbacks.py
Labels: cla: yes, comp:keras, ready to pull, size:XS

#47096 Remove code and scripts related to xtensa_hifi
  tensorflow/lite/micro/kernels/xtensa_hifi/activations.cc
  tensorflow/lite/micro/kernels/xtensa_hifi/add.cc
  tensorflow/lite/micro/kernels/xtensa_hifi/conv.cc
  tensorflow/lite/micro/kernels/xtensa_hifi/depthwise_conv.cc
  tensorflow/lite/micro/kernels/xtensa_hifi/floor.cc
  tensorflow/lite/micro/kernels/xtensa_hifi/fully_connected.cc
  tensorflow/lite/micro/kernels/xtensa_hifi/logistic.cc
  tensorflow/lite/micro/kernels/xtensa_hifi/mul.cc
  tensorflow/lite/micro/kernels/xtensa_hifi/pooling.cc
  tensorflow/lite/micro/kernels/xtensa_hifi/softmax.cc
  tensorflow/lite/micro/kernels/xtensa_hifi/svdf.cc
  tensorflow/lite/micro/kernels/xtensa_hifi/xtensa_tf_micro_common.h
  tensorflow/lite/micro/testing/test_xtensa_hifi_binary.sh
  tensorflow/lite/micro/testing/test_xtensa_hifimini_binary.sh
  tensorflow/lite/micro/testing/test_xtensa_hifimini_staging_binary.sh
  tensorflow/lite/micro/tools/make/ext_libs/xtensa_hifi_nn_library.inc
  tensorflow/lite/micro/tools/make/targets/xtensa_hifi/README.md
  tensorflow/lite/micro/tools/make/targets/xtensa_hifi_makefile.inc
Labels: cla: yes, comp:micro, ready to pull, size:XL

#47199 Use xa_nnlib for quantize for Fusion F1.
  tensorflow/lite/micro/kernels/quantize_test.cc
  tensorflow/lite/micro/kernels/xtensa/quantize.cc
Labels: cla: yes, comp:micro, ready to pull, size:M

#47153 Add reminder on MacOS Catalina
  tensorflow/lite/micro/examples/hello_world/README.md
Labels: cla: yes, comp:micro, ready to pull, size:XS

#47180 [TFL] Remove (log-)softmax before arg-minmax as (log-)softmax is monotonic
  tensorflow/compiler/mlir/lite/tests/optimize.mlir
  tensorflow/compiler/mlir/lite/transforms/optimize_patterns.td
Labels: cla: yes, comp:lite, ready to pull, size:M

#46877 Update README.md :Added TensorFlow: Advanced Techniques Specialization to resources tab
  README.md
Labels: cla: yes, ready to pull, size:XS

#47190 Removed deprecated TAGS option and fixed few READMEs for ARC.
  tensorflow/lite/micro/examples/hello_world/README.md
  tensorflow/lite/micro/examples/micro_speech/README.md
  tensorflow/lite/micro/examples/micro_speech/arc_emsdp/Makefile.inc
  tensorflow/lite/micro/examples/person_detection/README.md
  tensorflow/lite/micro/examples/person_detection/arc_emsdp/Makefile.inc
  tensorflow/lite/micro/kernels/arc_mli/README.md
  tensorflow/lite/micro/tools/make/ext_libs/arc_mli.inc
  tensorflow/lite/micro/tools/make/targets/arc/README.md
  tensorflow/lite/micro/tools/make/targets/arc_emsdp_makefile.inc
Labels: cla: yes, comp:micro, prtype:bugfix, ready to pull, size:S

#47231 Fix the Xtensa Vision P6 build.
  tensorflow/lite/micro/kernels/xtensa/quantize.cc
Labels: cla: yes, comp:micro, ready to pull, size:XS

#47075 Implement support for RaggedTensors in binary_crossentropy loss.
  tensorflow/python/keras/losses.py
  tensorflow/python/keras/losses_test.py
Labels: awaiting review, cla: yes, comp:keras, ready to pull, size:M

#47076 Fix and rename TRANSPOSE_CONV_2D, BATCH_TO_SPACE_ND and SPACE_TO_BATCH_ND
  tensorflow/lite/micro/kernels/batch_to_space_nd.cc
  tensorflow/lite/micro/kernels/conv_test_common.cc
  tensorflow/lite/micro/kernels/micro_ops.h
  tensorflow/lite/micro/kernels/space_to_batch_nd.cc
  tensorflow/lite/micro/kernels/transpose_conv.cc
  tensorflow/lite/micro/kernels/transpose_conv_test.cc
Labels: cla: yes, comp:micro, ready to pull, size:M

#47159 TFL: Update detection_postprocess kernel
  tensorflow/lite/kernels/detection_postprocess.cc
Labels: cla: yes, comp:micro, comp:micro:arm, ready to pull, size:S

#47227 Documentation for how to add new optimized kernels to TFLM.
  tensorflow/lite/micro/README.md
  tensorflow/lite/micro/docs/optimized_kernel_implementations.md
Labels: cla: yes, comp:micro, ready to pull, size:XS

#47228 Update bazel command to `bazel run` instead of `bazel test`.
  tensorflow/lite/micro/CONTRIBUTING.md
Labels: cla: yes, comp:micro, ready to pull, size:XS

#46551 Add cudaMallocAsync as an option
  tensorflow/core/common_runtime/bfc_allocator.cc
  tensorflow/core/common_runtime/gpu/BUILD
  tensorflow/core/common_runtime/gpu/gpu_cudamalloc_allocator.cc
  tensorflow/core/common_runtime/gpu/gpu_cudamallocasync_allocator.cc
  tensorflow/core/common_runtime/gpu/gpu_cudamallocasync_allocator.h
  tensorflow/core/common_runtime/gpu/gpu_process_state.cc
Labels: awaiting review, cla: yes, size:L

#41548 Enable reciprocal GPU kernel on complex number
  tensorflow/core/kernels/cwise_op_gpu_inverse.cu.cc
  tensorflow/core/kernels/cwise_op_reciprocal.cc
  tensorflow/python/kernel_tests/cwise_ops_unary_test.py
Labels: cla: yes, comp:core, ready to pull, size:S

#47258 [TFL] Remove unnecessary Reshape before FullyConnected.
  tensorflow/compiler/mlir/lite/tests/end2end/unroll_batch_matmul.pbtxt
  tensorflow/compiler/mlir/lite/tests/optimize.mlir
  tensorflow/compiler/mlir/lite/transforms/optimize.cc
Labels: cla: yes, ready to pull, size:M

#47298 [TFLM] CEVA-BX1: Changed compiler to use O4 and fixed a typo in the Makefile
  tensorflow/lite/micro/tools/make/targets/ceva_makefile.inc
  tensorflow/lite/micro/tools/make/templates/ceva/ceva_app_makefile_v18.0.5.tpl
Labels: cla: yes, comp:micro, comp:micro:ceva, ready to pull, size:XS

#47302 Hide subprocess windows for windows os
  tensorflow/core/platform/windows/subprocess.cc
Labels: cla: yes, comp:core, ready to pull, size:XS

#47310 Update audio recognition tutorial link
  tensorflow/examples/speech_commands/train.py
Labels: cla: yes, ready to pull, size:XS, type:docs-bug

#47226 [Grappler] Add support for QuantizeAndDequantizeV4
  tensorflow/core/grappler/costs/op_level_cost_estimator.cc
  tensorflow/core/grappler/optimizers/generic_layout_optimizer_transposer.cc
  tensorflow/core/grappler/optimizers/layout_optimizer.cc
Labels: cla: yes, comp:grappler, ready to pull, size:XS

#47238 TFLM: Support null pointer bias in CMSIS-NN fully_connected
  tensorflow/lite/micro/kernels/cmsis_nn/fully_connected.cc
Labels: cla: yes, comp:micro, ready to pull, size:M

#46932 [INTEL MKL] Supporting 2 inputs for Mkl dequantize op
  tensorflow/core/kernels/mkl/mkl_dequantize_op.cc
Labels: cla: yes, comp:mkl, ready to pull, size:XS

#46476 [INTEL_MKL] Add `is_weight_const` Attr for QMatMulDequantize Op
  tensorflow/core/common_runtime/mkl_layout_pass.cc
  tensorflow/core/ops/mkl_nn_ops.cc
Labels: cla: yes, comp:mkl, ready to pull, size:S

#47135 Fix for keras applications preprocess_input with data_format="channels_first" symbolic tensors
  tensorflow/python/keras/applications/imagenet_utils.py
  tensorflow/python/keras/applications/imagenet_utils_test.py
Labels: cla: yes, comp:keras, prtype:bugfix, ready to pull, size:S

#47284 micro: port operator ELU kernel from lite with test
  tensorflow/lite/micro/kernels/BUILD
  tensorflow/lite/micro/kernels/elu.cc
  tensorflow/lite/micro/kernels/elu_test.cc
  tensorflow/lite/micro/kernels/micro_ops.h
  tensorflow/lite/micro/tools/make/Makefile
Labels: cla: yes, comp:lite, comp:micro, prtype:bugfix, ready to pull, size:L

#47181 Updated the equation for FTLP as per the paper
  tensorflow/python/keras/optimizer_v2/ftrl.py
Labels: cla: yes, comp:keras, ready to pull, size:XS

#47266 Sort variables by name in custom gradient for determinism
  tensorflow/python/ops/custom_gradient.py
Labels: cla: yes, comp:ops, prtype:bugfix, ready to pull, size:XS

#47221 Update avgpooling_op.cc for GPU kernel
  tensorflow/core/kernels/avgpooling_op.cc
Labels: cla: yes, comp:core, ready to pull, size:XS

#46716 Add uint32 and uint64 support for PopulationCount
  tensorflow/core/kernels/population_count_op.cc
  tensorflow/python/ops/bitwise_ops_test.py
Labels: cla: yes, comp:core, prtype:bugfix, ready to pull, size:S

#47118 [tf.data] Switch to TF combinations instead of test_util
  tensorflow/python/data/util/BUILD
  tensorflow/python/data/util/convert_test.py
  tensorflow/python/data/util/nest_test.py
  tensorflow/python/data/util/options_test.py
  tensorflow/python/data/util/random_seed_test.py
  tensorflow/python/data/util/sparse_test.py
  tensorflow/python/data/util/structure_test.py
  tensorflow/python/data/util/traverse_test.py
Labels: cla: yes, comp:data, ready to pull, size:M

#47209 [XLA] Add Nx to XLA documentation frontends
  tensorflow/compiler/xla/g3doc/index.md
Labels: cla: yes, comp:xla, ready to pull, size:XS

#47327 Add some more notes for running a binary with renode.
  tensorflow/lite/micro/docs/renode.md
  tensorflow/lite/micro/testing/bluepill_nontest.resc
Labels: cla: yes, comp:micro, ready to pull, size:S

#46370 [INTEL MKL] DNN 0.x final code cleanup
  tensorflow/core/kernels/mkl/mkl_dequantize_op_test.cc
  tensorflow/core/kernels/mkl/mkl_matmul_ops_common.h
  tensorflow/core/util/BUILD
  tensorflow/core/util/mkl_types.h
  tensorflow/core/util/mkl_util.h
  tensorflow/core/util/mkl_util_test.cc
Labels: cla: yes, comp:mkl, ready to pull, size:M

#46963 [INTEL MKL] Adding padding_list in mkl quantized conv2d per channel op
  tensorflow/core/ops/mkl_nn_ops.cc
Labels: cla: yes, comp:mkl, ready to pull, size:XS

#47189 test ExtractVolumePatches with float types that GPU supports
  tensorflow/python/kernel_tests/extract_volume_patches_op_test.py
Labels: cla: yes, ready to pull, size:S

#46940 [TFTRT] Add Dynamic Shape Testing for ConvertConv3D
  tensorflow/compiler/tf2tensorrt/convert/convert_nodes.cc
  tensorflow/compiler/tf2tensorrt/convert/convert_nodes_test.cc
Labels: cla: yes, comp:gpu:tensorrt, ready to pull, size:L

#47377 Fix TFLM github CI bazel build
  tensorflow/lite/micro/tools/ci_build/tflm_bazel/workspace.bzl
Labels: cla: yes, comp:micro, ready to pull, size:S

#46878 RaggedTensor support for mean_squared_logarithmic_error.
  tensorflow/python/keras/losses.py
  tensorflow/python/keras/losses_test.py
Labels: awaiting review, cla: yes, comp:keras, ready to pull, size:S

#47382 Update STM32 Bare Lib for zero initialization of the bss section
  tensorflow/lite/micro/micro_error_reporter.cc
  tensorflow/lite/micro/tools/make/ext_libs/stm32_bare_lib_download.sh
  tensorflow/lite/micro/tools/make/targets/bluepill_makefile.inc
  tensorflow/lite/micro/tools/make/targets/stm32f4_makefile.inc
  tensorflow/lite/micro/tools/make/third_party_downloads.inc
Labels: cla: yes, comp:micro, ready to pull, size:S

#47378 Use xa_nnlib for conv for Fusion F1
  tensorflow/lite/micro/kernels/BUILD
  tensorflow/lite/micro/kernels/xtensa/conv.cc
  tensorflow/lite/micro/kernels/xtensa/xtensa.h
Labels: cla: yes, ready to pull, size:L

#47320 Prefer generator expressions over list comprehensions
  tensorflow/python/data/ops/dataset_ops.py
  tensorflow/python/distribute/multi_worker_util.py
  tensorflow/python/keras/callbacks.py
  tensorflow/python/keras/layers/preprocessing/preprocessing_stage.py
  tensorflow/python/ops/parallel_for/control_flow_ops.py
Labels: cla: yes, comp:data, ready to pull, size:S

#47148 [MLIR] Add conversion of `tf.leakyRelu` and `tf.leakyReluGrad` from t…
  tensorflow/compiler/mlir/xla/tests/legalize-tf.mlir
  tensorflow/compiler/mlir/xla/transforms/legalize_tf.cc
Labels: cla: yes, ready to pull, size:M

#47206 Prevent BackupAndRestore cleanup from throwing if dir doesn't exist
  tensorflow/python/keras/callbacks_test.py
  tensorflow/python/keras/distribute/worker_training_state.py
Labels: cla: yes, comp:keras, ready to pull, size:S

#46731 cleanup `c/experimental/gradients/` part 4
  tensorflow/c/eager/BUILD
  tensorflow/c/eager/c_api_test_util.h
  tensorflow/c/eager/gradient_checker.cc
  tensorflow/c/eager/gradient_checker_test.cc
  tensorflow/c/eager/gradients_test.cc
  tensorflow/c/eager/gradients_util.cc
  tensorflow/c/eager/gradients_util.h
  tensorflow/c/eager/mnist_gradients_test.cc
  tensorflow/c/eager/mnist_gradients_testutil.cc
  tensorflow/c/eager/mnist_gradients_testutil.h
  tensorflow/c/eager/unified_api_test.cc
  tensorflow/c/eager/unified_api_testutil.cc
  tensorflow/c/eager/unified_api_testutil.h
  tensorflow/c/experimental/gradients/BUILD
  tensorflow/c/experimental/gradients/array_grad_test.cc
  tensorflow/c/experimental/gradients/custom_gradient_test.cc
  tensorflow/c/experimental/gradients/math_grad_test.cc
  tensorflow/c/experimental/gradients/nn_grad_test.cc
  tensorflow/python/BUILD
Labels: cla: yes, ready to pull, size:XL

#47338 TFLM: Add FVP script to CI script
  tensorflow/lite/micro/tools/ci_build/test_all.sh
Labels: cla: yes, comp:micro, comp:micro:arm, prtype:bugfix, ready to pull, size:XS

#47355 Properly support complex in SparseTensorDenseMatMul
  tensorflow/core/kernels/sparse_tensor_dense_matmul_op.h
  tensorflow/python/kernel_tests/sparse_tensor_dense_matmul_grad_test.py
  tensorflow/python/kernel_tests/sparse_tensor_dense_matmul_op_test.py
  tensorflow/python/ops/sparse_grad.py
Labels: cla: yes, comp:ops, ready to pull, size:M

#46876 Add support for RaggedTensors to mean_absolute_percentage_error.
  tensorflow/python/keras/losses.py
  tensorflow/python/keras/losses_test.py
Labels: cla: yes, comp:keras, ready to pull, size:S

#47380 Use xa_nnlib for depthwise_conv for Fusion F1
  tensorflow/lite/micro/kernels/xtensa/conv.cc
  tensorflow/lite/micro/kernels/xtensa/depthwise_conv.cc
Labels: cla: yes, comp:micro, ready to pull, size:L

#47384 H fusion sharing opnd with user upstream again
  tensorflow/compiler/xla/service/copy_insertion_test.cc
  tensorflow/compiler/xla/service/gpu/horizontal_loop_fusion.cc
  tensorflow/compiler/xla/service/gpu/horizontal_loop_fusion_test.cc
  tensorflow/compiler/xla/service/hlo_dataflow_analysis.cc
  tensorflow/compiler/xla/service/hlo_dataflow_analysis_test.cc
Labels: cla: yes, comp:xla, ready to pull, size:L

#47408 lite: nnapi: Fix fd leak in NNMemory's destructor
  tensorflow/lite/delegates/nnapi/nnapi_delegate.cc
Labels: cla: yes, ready to pull, size:XS

#47011 Simplify shape inference in Keras resize_images
  tensorflow/python/keras/backend.py
  tensorflow/python/keras/backend_test.py
Labels: cla: yes, comp:keras, prtype:bugfix, ready to pull, size:S

#46500 [TFLM] Added support for optimized fully connected op for CEVA-DSP BX1 and SP500
  tensorflow/lite/micro/examples/micro_speech/README.md
  tensorflow/lite/micro/kernels/ceva/ceva_common.cc
  tensorflow/lite/micro/kernels/ceva/fully_connected.cc
  tensorflow/lite/micro/kernels/fully_connected_test.cc
  tensorflow/lite/micro/tools/make/helper_functions.inc
  tensorflow/lite/micro/tools/make/targets/ceva/CEVA_SP500_TFLM.ld
  tensorflow/lite/micro/tools/make/templates/ceva_SP500/ceva_app_makefile.tpl
Labels: cla: yes, comp:micro, comp:micro:ceva, ready to pull, size:XL, stat:awaiting response, type:feature

#47215 TF-TRT Improve matrix multiplication conversion and enable dynamic shape mode
  tensorflow/compiler/tf2tensorrt/convert/convert_nodes.cc
  tensorflow/compiler/tf2tensorrt/convert/convert_nodes.h
  tensorflow/compiler/tf2tensorrt/convert/convert_nodes_test.cc
  tensorflow/compiler/tf2tensorrt/utils/trt_engine_utils.cc
Labels: cla: yes, comp:gpu:tensorrt, ready to pull, size:L

#47379 Update callbacks.py
  tensorflow/python/keras/callbacks.py
Labels: cla: yes, comp:keras, ready to pull, size:XS

#47121 [XLA:GPU] Allow to pass an llvm file to use
  tensorflow/compiler/xla/debug_options_flags.cc
  tensorflow/compiler/xla/service/gpu/BUILD
  tensorflow/compiler/xla/service/gpu/nvptx_compiler.cc
  tensorflow/compiler/xla/xla.proto
Labels: cla: yes, ready to pull, size:L

#47416 Use zeros_like(x) in favour of zeros(shape(x)) when computing gradients
  tensorflow/python/ops/math_grad.py
  tensorflow/python/ops/nn_grad.py
Labels: cla: yes, ready to pull, size:S

#47351 fix Windows debug build
  tensorflow/BUILD
Labels: cla: yes, ready to pull, size:S

#47332 [TFL] Support I32 for OptimizeSlice pattern
  tensorflow/compiler/mlir/lite/tests/optimize.mlir
  tensorflow/compiler/mlir/lite/transforms/optimize.cc
  tensorflow/compiler/mlir/lite/transforms/optimize_patterns.td
Labels: cla: yes, comp:lite, ready to pull, size:S

#47409 Add int8_t support for micro op zeros_like
  tensorflow/lite/micro/kernels/zeros_like.cc
  tensorflow/lite/micro/kernels/zeros_like_test.cc
Labels: cla: yes, comp:micro, ready to pull, size:M

#47389 Fix describe error in keil readme template
  tensorflow/lite/micro/tools/make/templates/README_KEIL.md.tpl
Labels: cla: yes, comp:micro, ready to pull, size:XS

#47372 TFLM: Enable pooling tests for FVP build
  tensorflow/lite/micro/tools/make/ext_libs/cmsis_download.sh
  tensorflow/lite/micro/tools/make/targets/cortex_m_corstone_300_makefile.inc
Labels: cla: yes, comp:micro, comp:micro:arm, prtype:bugfix, ready to pull, size:XS

#47418 [INTEL MKL] Fixed mkl unit test build error due to benchmark test api change
  tensorflow/core/kernels/mkl/mkl_conv_ops_test.cc
  tensorflow/core/kernels/mkl/mkl_relu_op_test.cc
Labels: cla: yes, comp:core, ready to pull, size:M

#47251 Add GPU implementation of SparseReshape
  tensorflow/core/kernels/BUILD
  tensorflow/core/kernels/reshape_util.cc
  tensorflow/core/kernels/reshape_util.h
  tensorflow/core/kernels/reshape_util_gpu.cu.cc
  tensorflow/core/kernels/sparse_reshape_op.cc
  tensorflow/python/kernel_tests/sparse_reshape_op_test.py
Labels: cla: yes, comp:core, ready to pull, size:M
