Repository tensorflow/tensorflow, pull requests merged in 2021-12, with the labels that each got.

#53103 [TF-TRT] Detailed Non-Conversion Report Added
  tensorflow/compiler/tf2tensorrt/segment/segment.cc
Labels: cla: yes, ready to pull, size:L, comp:gpu:tensorrt

#53092 Remove unused header
  tensorflow/core/framework/tensor_shape.cc
  tensorflow/core/framework/tensor_shape.h
Labels: cla: yes, ready to pull, size:XS, comp:core

#53084 [ROCm] Mark a few GPU tests as CUDA only
  tensorflow/core/common_runtime/gpu/gpu_device_test.cc
  tensorflow/core/platform/test.h
Labels: cla: yes, awaiting review, ready to pull, comp:gpu, size:S

#52942 [TF-TRT] Add DataFormatVecPermute converter
  tensorflow/compiler/tf2tensorrt/BUILD
  tensorflow/compiler/tf2tensorrt/convert/convert_nodes_test.cc
  tensorflow/compiler/tf2tensorrt/convert/ops/data_format_vec_permute.cc
  tensorflow/python/compiler/tensorrt/trt_convert_test.py
Labels: cla: yes, awaiting review, ready to pull, size:L, comp:gpu:tensorrt

#53257 [ROCm] Fix for a regression in the unit test `//tensorflow/python/kernel_tests/nn_ops:pooling_ops_test_gpu`
  tensorflow/core/kernels/eigen_pooling.h
Labels: cla: yes, ready to pull, comp:gpu, size:XS

#53213 TF-TRT Enable native segment fallback test with TRT 8
  tensorflow/compiler/tf2tensorrt/convert/convert_nodes.cc
  tensorflow/compiler/tf2tensorrt/convert/utils.cc
  tensorflow/python/compiler/tensorrt/trt_convert_test.py
Labels: cla: yes, ready to pull, size:S, comp:gpu:tensorrt

#52367 [ROCM] enable QR_op on ROCM
  tensorflow/core/kernels/linalg/BUILD
  tensorflow/core/kernels/linalg/qr_op_complex128.cc
  tensorflow/core/kernels/linalg/qr_op_complex64.cc
  tensorflow/core/kernels/linalg/qr_op_double.cc
  tensorflow/core/kernels/linalg/qr_op_float.cc
  tensorflow/core/kernels/linalg/qr_op_impl.h
  tensorflow/core/util/gpu_solvers.h
  tensorflow/core/util/rocm_solvers.cc
  tensorflow/stream_executor/rocm/rocsolver_wrapper.h
Labels: cla: yes, ready to pull, comp:gpu, size:M

#53290 fix: GIT_REPOSITORY for eigen
  tensorflow/lite/tools/cmake/modules/eigen.cmake
Labels: cla: yes, awaiting review, comp:lite, ready to pull, size:XS

#52967 Add NVIDIA/TensorRT repo to third_party/tensorrt
  tensorflow/compiler/tf2tensorrt/BUILD
  tensorflow/compiler/tf2tensorrt/tensorrt_test.cc
  tensorflow/opensource_only.files
  tensorflow/workspace2.bzl
  third_party/tensorrt/BUILD.tpl
  third_party/tensorrt/plugin/BUILD
  third_party/tensorrt/plugin/tensorrt_oss.patch
  third_party/tensorrt/tensorrt_configure.bzl
  third_party/tensorrt/workspace.bzl
Labels: cla: yes, stat:awaiting response, ready to pull, size:L, comp:gpu:tensorrt

#52248 [TF:TRT] Enable TensorRT explicit precision (QDQ/QAT) support
  tensorflow/compiler/tf2tensorrt/BUILD
  tensorflow/compiler/tf2tensorrt/convert/convert_graph.cc
  tensorflow/compiler/tf2tensorrt/convert/convert_graph.h
  tensorflow/compiler/tf2tensorrt/convert/convert_nodes.cc
  tensorflow/compiler/tf2tensorrt/convert/convert_nodes.h
  tensorflow/compiler/tf2tensorrt/convert/convert_nodes_test.cc
  tensorflow/compiler/tf2tensorrt/convert/op_converter.h
  tensorflow/compiler/tf2tensorrt/convert/ops/layer_utils.h
  tensorflow/compiler/tf2tensorrt/convert/ops/quantization_ops.cc
  tensorflow/compiler/tf2tensorrt/convert/ops/quantization_ops.h
  tensorflow/compiler/tf2tensorrt/convert/ops/quantization_ops_test.cc
  tensorflow/compiler/tf2tensorrt/convert/trt_optimization_pass.cc
  tensorflow/compiler/tf2tensorrt/kernels/trt_engine_op.cc
  tensorflow/compiler/tf2tensorrt/ops/trt_engine_op.cc
  tensorflow/compiler/tf2tensorrt/trt_convert_api.cc
  tensorflow/python/compiler/tensorrt/trt_convert.py
Labels: cla: yes, awaiting review, ready to pull, size:XL, comp:gpu:tensorrt

#53173 cmake: Use real source path for flatbuffers-flatc
  tensorflow/lite/tools/cmake/modules/flatbuffers.cmake
Labels: cla: yes, comp:lite, ready to pull, size:XS

#53208 cmake: NNAPI delegate uses fp16_headers
  tensorflow/lite/CMakeLists.txt
Labels: cla: yes, comp:lite, ready to pull, size:XS

#53201 Refactor SparseSplit kernel into a device-specific functor
  tensorflow/core/kernels/sparse_split_op.cc
  tensorflow/core/kernels/sparse_split_op.h
  tensorflow/python/kernel_tests/sparse_ops/sparse_split_op_test.py
Labels: cla: yes, awaiting review, ready to pull, size:M, comp:core

#53327 [TF-TRT] Fix TRTEngineOP Inference Shape
  tensorflow/compiler/tf2tensorrt/convert/convert_graph.cc
  tensorflow/compiler/tf2tensorrt/ops/trt_engine_op.cc
  tensorflow/python/compiler/tensorrt/test/BUILD
  tensorflow/python/compiler/tensorrt/test/tf_trt_integration_test_base.py
  tensorflow/python/compiler/tensorrt/test/trt_engine_op_shape_test.py
Labels: cla: yes, awaiting review, ready to pull, size:M, comp:gpu:tensorrt

#53125 update TensorShape::CheckDimsAtLeast
  tensorflow/core/framework/tensor_shape.cc
  tensorflow/core/framework/tensor_shape.h
Labels: cla: yes, awaiting review, ready to pull, size:XS, comp:core

#53311 Extract a function for parsing operator MIRROR_PAD
  tensorflow/lite/core/api/flatbuffer_conversions.cc
  tensorflow/lite/core/api/flatbuffer_conversions.h
Labels: cla: yes, awaiting review, comp:lite, ready to pull, size:M

#53274 Add tag to tests to allow exclusion on AARCH64
  tensorflow/compiler/xla/tests/BUILD
Labels: cla: yes, ready to pull, comp:xla, size:XS, prtype:bugfix

#53308 Remove wheel requirement as it is not needed for the pip package
  tensorflow/tools/pip_package/setup.py
Labels: cla: yes, ready to pull, size:XS

#53329 [.clang-format] Init @ root
  .clang-format
Labels: awaiting review, ready to pull, size:XS, comp:micro

#53340 Update array_ops.py
  tensorflow/python/ops/array_ops.py
Labels: ready to pull, comp:ops, size:XS

#53346 Update grouping.py
  tensorflow/python/data/experimental/ops/grouping.py
Labels: ready to pull, comp:ops, size:S

#52463 [tensorflow/compiler/jit/extract_outside_compilation_pass.cc] Fold two loops into one; add calls to `reserve()` before populating vectors
  tensorflow/compiler/jit/extract_outside_compilation_pass.cc
Labels: cla: yes, stat:awaiting response, awaiting review, ready to pull, size:S

#53036 Facilitation of the cross-compiled unit test run on target
  tensorflow/lite/g3doc/guide/build_cmake.md
  tensorflow/lite/kernels/CMakeLists.txt
  tensorflow/lite/tools/cmake/test_utils/run-tests.cmake
Labels: cla: yes, awaiting review, comp:lite, ready to pull, size:M

#50290 [TFLite] Update MultiplyByQuantizedMultiplier to use single-rounding instead of double-rounding
  tensorflow/lite/kernels/internal/BUILD
  tensorflow/lite/kernels/internal/common.h
  tensorflow/lite/kernels/internal/optimized/neon_tensor_utils.cc
  tensorflow/lite/kernels/internal/optimized/optimized_ops.h
  tensorflow/lite/kernels/internal/quantization_util.cc
  tensorflow/lite/kernels/internal/quantization_util_test.cc
  tensorflow/lite/kernels/internal/reference/depthwiseconv_uint8.h
Labels: cla: yes, comp:lite, ready to pull, size:L

#53288 [INTEL oneDNN] Disable oneDNN blocked format support
  tensorflow/core/graph/mkl_graph_util.h
Labels: cla: yes, ready to pull, comp:mkl, size:S

#53178 TF:TRT Fix shape value collection
  tensorflow/compiler/tf2tensorrt/utils/trt_shape_optimization_profiles.cc
  tensorflow/python/compiler/tensorrt/test/shape_output_test.py
Labels: cla: yes, stat:awaiting response, ready to pull, size:S, comp:gpu:tensorrt

#53359 Update go documenting comment
  tensorflow/go/session_test.go
Labels: awaiting review, ready to pull, size:XS

#53151 [MLIR][TF][SCF] {tf.WhileRegion -> scf.while} + optimize region moving
  tensorflow/compiler/mlir/tensorflow/tests/convert-tf-control-flow-to-scf.mlir
  tensorflow/compiler/mlir/tensorflow/transforms/convert_tf_control_flow_to_scf.cc
Labels: cla: yes, ready to pull, size:M

#53328 Update nn_ops.py
  tensorflow/python/ops/nn_ops.py
Labels: ready to pull, comp:ops, size:XS

#51761 [PluggableDevice] add int32 DEVICE_DEFAULT register for Unpack/Sum ops
  tensorflow/core/kernels/reduction_ops_sum.cc
  tensorflow/core/kernels/unpack_op.cc
Labels: cla: yes, ready to pull, size:S, comp:core

#52902 [oneDNN] Avoid converting memory layout for second matrix in the MatMul op.
  tensorflow/core/grappler/optimizers/remapper.cc
  tensorflow/core/kernels/mkl/mkl_matmul_op_fused.cc
Labels: cla: yes, ready to pull, size:S, comp:core

#51777 [PluggableDevice] add int32 DEVICE_DEFAULT for BroadcastTo/Pack/StridedSlice
  tensorflow/core/kernels/broadcast_to_op.cc
  tensorflow/core/kernels/pack_op.cc
  tensorflow/core/kernels/strided_slice_op.cc
Labels: cla: yes, ready to pull, size:S, comp:core

#52918 [INTEL oneDNN] Refactor TF Framework and oneDNN integration
  tensorflow/compiler/xla/service/cpu/runtime_conv2d_mkl.cc
  tensorflow/core/graph/mkl_graph_util.h
  tensorflow/core/kernels/mkl/mkl_aggregate_ops.cc
  tensorflow/core/kernels/mkl/mkl_avgpooling_op.cc
  tensorflow/core/kernels/mkl/mkl_batch_matmul_helper.h
  tensorflow/core/kernels/mkl/mkl_batch_matmul_op.cc
  tensorflow/core/kernels/mkl/mkl_concat_op.cc
  tensorflow/core/kernels/mkl/mkl_conv_grad_filter_ops.cc
  tensorflow/core/kernels/mkl/mkl_conv_grad_input_ops.cc
  tensorflow/core/kernels/mkl/mkl_conv_ops.cc
  tensorflow/core/kernels/mkl/mkl_conv_ops.h
  tensorflow/core/kernels/mkl/mkl_conv_ops_test.cc
  tensorflow/core/kernels/mkl/mkl_cwise_ops_common.cc
  tensorflow/core/kernels/mkl/mkl_dequantize_op.cc
  tensorflow/core/kernels/mkl/mkl_einsum_op.cc
  tensorflow/core/kernels/mkl/mkl_fused_batch_norm_op.cc
  tensorflow/core/kernels/mkl/mkl_fused_ops_test.cc
  tensorflow/core/kernels/mkl/mkl_identity_op.cc
  tensorflow/core/kernels/mkl/mkl_input_conversion_op.cc
  tensorflow/core/kernels/mkl/mkl_lrn_op.cc
  tensorflow/core/kernels/mkl/mkl_matmul_op.cc
  tensorflow/core/kernels/mkl/mkl_matmul_op_fused.cc
  tensorflow/core/kernels/mkl/mkl_matmul_ops_common.h
  tensorflow/core/kernels/mkl/mkl_maxpooling_op.cc
  tensorflow/core/kernels/mkl/mkl_pooling_ops_common.cc
  tensorflow/core/kernels/mkl/mkl_pooling_ops_common.h
  tensorflow/core/kernels/mkl/mkl_qmatmul_op.cc
  tensorflow/core/kernels/mkl/mkl_qmatmul_op_test.cc
  tensorflow/core/kernels/mkl/mkl_quantize_op.cc
  tensorflow/core/kernels/mkl/mkl_quantized_conv_ops.h
  tensorflow/core/kernels/mkl/mkl_relu_op.cc
  tensorflow/core/kernels/mkl/mkl_requantization_range_per_channel_op.cc
  tensorflow/core/kernels/mkl/mkl_requantize_per_channel_op.cc
  tensorflow/core/kernels/mkl/mkl_reshape_op.cc
  tensorflow/core/kernels/mkl/mkl_slice_op.cc
  tensorflow/core/kernels/mkl/mkl_softmax_op.cc
  tensorflow/core/kernels/mkl/mkl_tfconv_op.h
  tensorflow/core/kernels/mkl/mkl_transpose_op.cc
  tensorflow/core/util/mkl_threadpool.h
  tensorflow/core/util/mkl_util.h
Labels: cla: yes, ready to pull, size:XL

#53376 Explicitly reset interpreter to prevent memory leaks when using delegate
  tensorflow/lite/examples/label_image/label_image.cc
Labels: comp:lite, ready to pull, size:XS

#52625 [TFTRT] Debug Feature - Converter summary added
  RELEASE.md
  tensorflow/python/compiler/tensorrt/trt_convert.py
  tensorflow/tools/api/golden/v2/tensorflow.experimental.tensorrt.-converter.pbtxt
Labels: cla: yes, awaiting review, ready to pull, size:M, comp:gpu:tensorrt

#53232 [MHLO]: variadic length input and different types of reduce op lower …
  tensorflow/compiler/mlir/hlo/lib/Dialect/mhlo/transforms/legalize_to_linalg.cc
  tensorflow/compiler/mlir/hlo/tests/hlo-legalize-to-linalg.mlir
Labels: cla: yes, awaiting review, ready to pull, size:M

#52899 [oneDNN] Remove transpose elimination for NHWC/NDHWC conv/maxpool3d ops
  tensorflow/core/common_runtime/mkl_layout_pass.cc
Labels: cla: yes, awaiting review, ready to pull, size:M, comp:core

#50604 [PluggableDevice] add DEVICE_DEFAULT for map_stage ops
  tensorflow/core/kernels/map_stage_op.cc
Labels: cla: yes, ready to pull, size:M, comp:core

#50608 [PluggableDevice] add DEVICE_DEFAULT for ScopedAllocator/AddN ops
  tensorflow/core/kernels/aggregate_ops.cc
  tensorflow/core/kernels/scoped_allocator_ops.cc
Labels: cla: yes, ready to pull, size:S, comp:core

#53415 Added lowerings for mhlo.sine and mhlo.cosine to mhlo preprocessing
  tensorflow/compiler/mlir/hlo/lib/Dialect/mhlo/transforms/lower_complex_patterns.td
  tensorflow/compiler/mlir/hlo/tests/Dialect/mhlo/lower-complex.mlir
Labels: kokoro:force-run, ready to pull, size:M

#50603 [PluggableDevice] add DEVICE_DEFAULT for batch_kernel/concat/fact/partioned_function ops
  tensorflow/core/kernels/batch_kernels.cc
  tensorflow/core/kernels/concat_op.cc
  tensorflow/core/kernels/fact_op.cc
  tensorflow/core/kernels/partitioned_function_ops.cc
Labels: cla: yes, ready to pull, size:S, comp:core

#53386 [oneDNN] Upgrade oneDNN version to 2.5-rc
  tensorflow/workspace2.bzl
  third_party/mkl_dnn/mkldnn_v1.BUILD
Labels: awaiting review, ready to pull, size:S

#53412 [Go] Stabilize generated wrappers
  tensorflow/go/genop/internal/api_def_map.go
  tensorflow/go/genop/internal/genop.go
  tensorflow/go/genop/internal/genop_test.go
Labels: ready to pull, size:M

#53371 [MHLO] eliminate redundant transpose
  tensorflow/compiler/mlir/hlo/include/mlir-hlo/Dialect/mhlo/IR/hlo_ops.td
  tensorflow/compiler/mlir/hlo/lib/Dialect/mhlo/IR/hlo_ops.cc
  tensorflow/compiler/mlir/hlo/tests/Dialect/mhlo/canonicalize/transpose.mlir
Labels: awaiting review, ready to pull, size:S

#53369 Update Compute Library to 21.11 release
  .bazelrc
  tensorflow/tensorflow.bzl
  tensorflow/workspace2.bzl
  third_party/compute_library/BUILD
  third_party/mkl_dnn/onednn-acl-bf16.patch
Labels: awaiting review, ready to pull, size:M

#53442 Update tensorflow-io-gcs-filesystem to 0.23.1
  tensorflow/tools/pip_package/setup.py
Labels: awaiting review, ready to pull, size:XS

#51982 [oneDNN] BatchMatMulV2+Mul+AddV2 fusion with oneDNN CPU backend
  tensorflow/core/grappler/optimizers/mkl_remapper_test.cc
  tensorflow/core/grappler/optimizers/remapper.cc
  tensorflow/core/kernels/mkl/mkl_batch_matmul_op.cc
  tensorflow/core/kernels/mkl/mkl_einsum_op.cc
  tensorflow/core/kernels/mkl/mkl_matmul_ops_common.h
  tensorflow/core/ops/mkl_nn_ops.cc
Labels: cla: yes, ready to pull, size:L

#53022 Fix build of XLA unit tests on AARCH64
  tensorflow/compiler/xla/tests/local_client_aot_test_helper.cc
Labels: cla: yes, ready to pull, comp:xla, size:XS

#53068 Tag vectorized_reduce_with_no_vector_registers to allow exclusion
  tensorflow/compiler/xla/service/cpu/BUILD
Labels: cla: yes, ready to pull, comp:xla, size:XS, prtype:bugfix

#53035 Fix definition of triplet for AARCH64
  tensorflow/compiler/xla/service/cpu/test_target_triple_helper.h
Labels: cla: yes, ready to pull, comp:xla, size:XS

#53428 Addressed case where quantized tfl.fully_connected output shape mismatches
  tensorflow/compiler/mlir/tosa/transforms/legalize_tfl.cc
Labels: awaiting review, size:XS

#52707 Test for case of undefined behaviour and throw error if found
  tensorflow/core/kernels/sequence_ops.cc
  tensorflow/core/ops/math_ops.cc
  tensorflow/python/kernel_tests/array_ops/init_ops_test.py
Labels: cla: yes, ready to pull, size:S, prtype:bugfix, comp:core

#53436 Use actual number of classes for output layer
  tensorflow/lite/g3doc/tutorials/pose_classification.ipynb
Labels: comp:lite, ready to pull, size:XS

#53481 [oneDNN] Keras LayerNormalization fusion with oneDNN CPU backend
  tensorflow/core/BUILD
  tensorflow/core/grappler/optimizers/remapper.cc
  tensorflow/core/kernels/mkl/BUILD
  tensorflow/core/kernels/mkl/mkl_layer_norm_op.cc
  tensorflow/core/ops/mkl_nn_ops.cc
Labels: awaiting review, ready to pull, size:S

#53473 Update oneDNN version for AArch64 builds
  tensorflow/workspace2.bzl
  third_party/mkl_dnn/mkldnn_acl.BUILD
Labels: ready to pull, comp:mkl, size:S

#51762 [PluggableDevice] add DEVICE_DEFAULT for ParallelDynamicStitch
  tensorflow/core/kernels/dynamic_stitch_op.cc
Labels: cla: yes, ready to pull, size:M, comp:core

#53460 [Go] Return correct backing device name for TensorHandle
  tensorflow/go/tensor_handle.go
Labels: ready to pull, size:S

#53363 build: bump bazel to 4.2.2
  .bazelversion
  configure.py
  tensorflow/tools/ci_build/install/install_bazel.sh
  tensorflow/tools/ci_build/install/install_bazel_from_source.sh
  tensorflow/tools/ci_build/release/common.sh
  tensorflow/tools/ci_build/release/common_win.bat
  tensorflow/tools/dockerfiles/dockerfiles/arm64v8/devel-cpu-arm64v8-jupyter.Dockerfile
  tensorflow/tools/dockerfiles/dockerfiles/arm64v8/devel-cpu-arm64v8.Dockerfile
  tensorflow/tools/dockerfiles/dockerfiles/devel-cpu-jupyter.Dockerfile
  tensorflow/tools/dockerfiles/dockerfiles/devel-cpu.Dockerfile
  tensorflow/tools/dockerfiles/dockerfiles/devel-gpu-jupyter.Dockerfile
  tensorflow/tools/dockerfiles/dockerfiles/devel-gpu.Dockerfile
  tensorflow/tools/dockerfiles/dockerfiles/onednn/centos-7-devel-jupyter.Dockerfile
  tensorflow/tools/dockerfiles/dockerfiles/onednn/centos-7-devel-mpi-horovod-jupyter.Dockerfile
  tensorflow/tools/dockerfiles/dockerfiles/onednn/centos-7-devel-mpi-horovod.Dockerfile
  tensorflow/tools/dockerfiles/dockerfiles/onednn/centos-7-devel-mpich-horovod-jupyter.Dockerfile
  tensorflow/tools/dockerfiles/dockerfiles/onednn/centos-7-devel-mpich-horovod.Dockerfile
  tensorflow/tools/dockerfiles/dockerfiles/onednn/centos-7-devel.Dockerfile
  tensorflow/tools/dockerfiles/dockerfiles/onednn/centos-8-devel-jupyter.Dockerfile
  tensorflow/tools/dockerfiles/dockerfiles/onednn/centos-8-devel-mpi-horovod-jupyter.Dockerfile
  tensorflow/tools/dockerfiles/dockerfiles/onednn/centos-8-devel-mpi-horovod.Dockerfile
  tensorflow/tools/dockerfiles/dockerfiles/onednn/centos-8-devel-mpich-horovod-jupyter.Dockerfile
  tensorflow/tools/dockerfiles/dockerfiles/onednn/centos-8-devel-mpich-horovod.Dockerfile
  tensorflow/tools/dockerfiles/dockerfiles/onednn/centos-8-devel.Dockerfile
  tensorflow/tools/dockerfiles/dockerfiles/onednn/ubuntu-16.04-devel-jupyter.Dockerfile
  tensorflow/tools/dockerfiles/dockerfiles/onednn/ubuntu-16.04-devel-mpi-horovod-jupyter.Dockerfile
  tensorflow/tools/dockerfiles/dockerfiles/onednn/ubuntu-16.04-devel-mpi-horovod.Dockerfile
  tensorflow/tools/dockerfiles/dockerfiles/onednn/ubuntu-16.04-devel-mpich-horovod-jupyter.Dockerfile
  tensorflow/tools/dockerfiles/dockerfiles/onednn/ubuntu-16.04-devel-mpich-horovod.Dockerfile
  tensorflow/tools/dockerfiles/dockerfiles/onednn/ubuntu-16.04-devel.Dockerfile
  tensorflow/tools/dockerfiles/dockerfiles/onednn/ubuntu-18.04-devel-jupyter.Dockerfile
  tensorflow/tools/dockerfiles/dockerfiles/onednn/ubuntu-18.04-devel-mpi-horovod-jupyter.Dockerfile
  tensorflow/tools/dockerfiles/dockerfiles/onednn/ubuntu-18.04-devel-mpi-horovod.Dockerfile
  tensorflow/tools/dockerfiles/dockerfiles/onednn/ubuntu-18.04-devel-mpich-horovod-jupyter.Dockerfile
  tensorflow/tools/dockerfiles/dockerfiles/onednn/ubuntu-18.04-devel-mpich-horovod.Dockerfile
  tensorflow/tools/dockerfiles/dockerfiles/onednn/ubuntu-18.04-devel.Dockerfile
  tensorflow/tools/dockerfiles/dockerfiles/onednn/ubuntu-20.04-devel-jupyter.Dockerfile
  tensorflow/tools/dockerfiles/dockerfiles/onednn/ubuntu-20.04-devel-mpi-horovod-jupyter.Dockerfile
  tensorflow/tools/dockerfiles/dockerfiles/onednn/ubuntu-20.04-devel-mpi-horovod.Dockerfile
  tensorflow/tools/dockerfiles/dockerfiles/onednn/ubuntu-20.04-devel-mpich-horovod-jupyter.Dockerfile
  tensorflow/tools/dockerfiles/dockerfiles/onednn/ubuntu-20.04-devel-mpich-horovod.Dockerfile
  tensorflow/tools/dockerfiles/dockerfiles/onednn/ubuntu-20.04-devel.Dockerfile
  tensorflow/tools/dockerfiles/dockerfiles/ppc64le/devel-cpu-ppc64le-jupyter.Dockerfile
  tensorflow/tools/dockerfiles/dockerfiles/ppc64le/devel-cpu-ppc64le.Dockerfile
  tensorflow/tools/dockerfiles/dockerfiles/ppc64le/devel-gpu-ppc64le-jupyter.Dockerfile
  tensorflow/tools/dockerfiles/dockerfiles/ppc64le/devel-gpu-ppc64le.Dockerfile
  tensorflow/tools/dockerfiles/partials/onednn/centos/bazel.partial.Dockerfile
  tensorflow/tools/dockerfiles/partials/onednn/ubuntu/bazel.partial.Dockerfile
  tensorflow/tools/dockerfiles/partials/ubuntu/bazel.partial.Dockerfile
  tensorflow/tools/dockerfiles/partials/ubuntu/bazelbuild-arm64v8.partial.Dockerfile
  tensorflow/tools/dockerfiles/partials/ubuntu/bazelbuild.partial.Dockerfile
Labels: ready to pull, size:M

#53167 Correct use of StringRef and ArrayRef
  tensorflow/core/ir/ops.cc
Labels: cla: yes, ready to pull, size:S, prtype:bugfix

#53465 [determinism] Add v2.8 release notes
  RELEASE.md
Labels: awaiting review, ready to pull, size:S

#53425 Hide JPEG symbols on Darwin (to align with Linux)
  tensorflow/tf_private_symbols.lds
Labels: awaiting review, ready to pull, size:S

#53502 Add missing dialect dependency on xla-legalize-tf-control-flow
  tensorflow/compiler/mlir/xla/tests/legalize-tf-control-flow.mlir
  tensorflow/compiler/mlir/xla/transforms/xla_legalize_tf_passes.td
Labels: awaiting review, ready to pull, size:XS

#53516 [jax] Minor C++ jit path cleanup
  tensorflow/compiler/xla/python/jax_jit.cc
Labels: awaiting review, ready to pull, comp:xla, size:S

#53515 [jax] Combine GlobalJitState and ThreadLocalJitState into single JitState
  tensorflow/compiler/xla/python/jax_jit.cc
  tensorflow/compiler/xla/python/jax_jit.h
  tensorflow/compiler/xla/python/pmap_lib.cc
  tensorflow/compiler/xla/python/xla_extension/jax_jit.pyi
Labels: awaiting review, ready to pull, comp:xla, size:M

#53490 [MHLO] add BroadcastOp constant folding and identity folding
  tensorflow/compiler/mlir/hlo/include/mlir-hlo/Dialect/mhlo/IR/hlo_ops.td
  tensorflow/compiler/mlir/hlo/lib/Dialect/mhlo/IR/hlo_ops.cc
  tensorflow/compiler/mlir/hlo/tests/Dialect/mhlo/canonicalize/canonicalize.mlir
Labels: awaiting review, ready to pull, size:S

#53493 Fix floating point issue on RequantizeManyInNewRange
  tensorflow/core/kernels/quantization_utils.h
  tensorflow/core/kernels/quantize_down_and_shrink_range_op_test.cc
Labels: awaiting review, ready to pull, size:XS, comp:core

#53511 [ROCm] Disabling MKLDNN based Eigen contraction kernels for ROCm build
  .bazelrc
Labels: awaiting review, ready to pull, comp:gpu, size:XS

#53528 Disable caching for ACL softmax primitives
  tensorflow/core/kernels/mkl/mkl_softmax_op.cc
Labels: ready to pull, size:S, comp:core

#52962 Add external delegate support to the cmake build of benchmark app
  tensorflow/lite/CMakeLists.txt
  tensorflow/lite/tools/benchmark/CMakeLists.txt
Labels: cla: yes, comp:lite, ready to pull, size:S

#52004 Add GPU implementation of SparseSlice
  tensorflow/core/kernels/BUILD
  tensorflow/core/kernels/sparse_slice_op.cc
  tensorflow/core/kernels/sparse_slice_op_gpu.cu.cc
  tensorflow/python/kernel_tests/sparse_ops/sparse_slice_op_test.py
Labels: cla: yes, ready to pull, size:L, comp:core

#53450 Support for external delegate in label_image.py python example
  tensorflow/lite/examples/python/label_image.py
Labels: comp:lite, ready to pull, size:S

#53095 Declare Go import path in coordination service proto
  tensorflow/core/protobuf/coordination_service.proto
Labels: cla: yes, ready to pull, size:XS, comp:core

#53509 [ROCm] Dropping support for older ROCm releases
  tensorflow/compiler/xla/service/gpu/llvm_gpu_backend/gpu_backend_lib.cc
  tensorflow/core/platform/default/rocm_rocdl_path.cc
  tensorflow/core/platform/rocm_rocdl_path_test.cc
  tensorflow/stream_executor/platform/default/dso_loader.cc
  tensorflow/stream_executor/rocm/rocm_fft.h
Labels: ready to pull, comp:gpu, size:M

#53524 [MHLO-Linalg] Lower mhlo.convolution to linalg when padding is non zero.
  tensorflow/compiler/mlir/hlo/lib/Dialect/mhlo/transforms/legalize_to_linalg.cc
  tensorflow/compiler/mlir/hlo/tests/Dialect/mhlo/hlo-legalize-to-linalg.mlir
Labels: ready to pull, size:M

#53551 [MHLO]: improve BroadcastInDim canonicalize
  tensorflow/compiler/mlir/hlo/include/mlir-hlo/Dialect/mhlo/IR/hlo_ops.td
  tensorflow/compiler/mlir/hlo/lib/Dialect/mhlo/IR/hlo_ops.cc
  tensorflow/compiler/mlir/hlo/tests/Dialect/mhlo/canonicalize/canonicalize.mlir
Labels: awaiting review, ready to pull, size:M

#53535 Update gemmlowp
  third_party/gemmlowp/workspace.bzl
Labels: awaiting review, ready to pull, size:XS

#53496 Update `image_ops_impl.py`
  tensorflow/python/ops/image_ops_impl.py
Labels: ready to pull, comp:ops, size:XS

#53573 fixed some typos in the security markdown
  CONTRIBUTING.md
  tensorflow/security/README.md
Labels: awaiting review, ready to pull, size:XS

#53553 Add folder pattern for AddOp and MulOp
  tensorflow/compiler/mlir/hlo/lib/Dialect/mhlo/IR/hlo_ops.cc
  tensorflow/compiler/mlir/hlo/tests/Dialect/mhlo/canonicalize/canonicalize.mlir
Labels: awaiting review, ready to pull, size:M
