Repository tensorflow/tensorflow, pull requests merged in 2021-11, with the labels that each got.

#52891 Add security updates to relnotes
  RELEASE.md
Labels: cla: yes

#52271 [TF:TRT] Add structured op converter
  tensorflow/compiler/tf2tensorrt/BUILD
  tensorflow/compiler/tf2tensorrt/convert/convert_nodes.cc
  tensorflow/compiler/tf2tensorrt/convert/convert_nodes.h
  tensorflow/compiler/tf2tensorrt/convert/op_converter.h
  tensorflow/compiler/tf2tensorrt/convert/op_converter_registry_test.cc
  tensorflow/compiler/tf2tensorrt/convert/op_converter_test.cc
  tensorflow/compiler/tf2tensorrt/utils/trt_tensor_proxy.h
Labels: cla: yes, ready to pull, size:M, comp:gpu:tensorrt

#52813 Update dtypes.py
  tensorflow/python/framework/dtypes.py
Labels: cla: yes, ready to pull, size:XS

#52611 Lowering for tfl.sparse_to_dense to tosa
  tensorflow/compiler/mlir/tosa/tests/tfl-to-tosa-pipeline.mlir
  tensorflow/compiler/mlir/tosa/transforms/legalize_tfl.cc
Labels: cla: yes, awaiting review, size:M

#52211 [TF:TRT] Fix profile handling for pruned inputs
  tensorflow/compiler/tf2tensorrt/BUILD
  tensorflow/compiler/tf2tensorrt/common/utils.cc
  tensorflow/compiler/tf2tensorrt/common/utils.h
  tensorflow/compiler/tf2tensorrt/convert/utils.h
  tensorflow/compiler/tf2tensorrt/kernels/trt_engine_op.cc
  tensorflow/compiler/tf2tensorrt/kernels/trt_engine_resource_ops.cc
  tensorflow/compiler/tf2tensorrt/kernels/trt_engine_resource_ops_test.cc
  tensorflow/compiler/tf2tensorrt/utils/trt_engine_utils.cc
  tensorflow/compiler/tf2tensorrt/utils/trt_engine_utils.h
  tensorflow/compiler/tf2tensorrt/utils/trt_shape_optimization_profiles.cc
  tensorflow/compiler/tf2tensorrt/utils/trt_shape_optimization_profiles.h
  tensorflow/python/compiler/tensorrt/test/shape_output_test.py
Labels: cla: yes, awaiting review, ready to pull, size:L, comp:gpu:tensorrt

#52614 [tensorflow/{compiler,core}/**/*.cc] Use `int` for `tuple_shapes_size` to match implementation in "shape.h"
  tensorflow/compiler/xla/client/value_inference.cc
  tensorflow/compiler/xla/client/xla_builder.cc
  tensorflow/compiler/xla/pjrt/utils.cc
  tensorflow/compiler/xla/service/conditional_code_motion.cc
  tensorflow/compiler/xla/service/dynamic_dimension_inference.cc
  tensorflow/compiler/xla/service/sharding_propagation.cc
  tensorflow/core/tpu/tpu_execute.cc
Labels: cla: yes, ready to pull, comp:xla, size:S

#52847 [ROCm] fix for //tensorflow/compiler/tests:cast_ops_test_gpu
  tensorflow/compiler/xla/service/gpu/BUILD
  tensorflow/compiler/xla/service/gpu/amdgpu_compiler.cc
Labels: cla: yes, ready to pull, comp:gpu, size:XS

#52903 Fix 16-bit Softmax legalization
  tensorflow/compiler/mlir/tosa/tests/tfl-to-tosa-pipeline.mlir
  tensorflow/compiler/mlir/tosa/transforms/legalize_common.cc
Labels: cla: yes, ready to pull, size:M

#52084 fix a document typo in registration.h
  tensorflow/core/framework/registration/registration.h
Labels: cla: yes, ready to pull, size:XS, comp:core

#52927 Update the keras version used by tf 2.6 release
  tensorflow/tools/pip_package/setup.py
Labels: cla: yes

#52928 Update release notes for TensorFlow 2.6.2
  RELEASE.md
Labels: cla: yes

#52929 Add an upper bound to estimator and tensorboard
  tensorflow/tools/pip_package/setup.py
Labels: cla: yes

#52930 Update version numbers for TensorFlow 2.6.2
  tensorflow/core/public/version.h
  tensorflow/tensorflow.bzl
  tensorflow/tools/pip_package/setup.py
Labels: cla: yes

#52901 [ROCm] skip testCategoricalIsInRange
  tensorflow/compiler/tests/BUILD
  tensorflow/compiler/tests/categorical_op_test.py
Labels: cla: yes, ready to pull, comp:gpu, size:XS

#52909 Re-enable building as a standalone submodule
  tensorflow/compiler/mlir/hlo/CMakeLists.txt
Labels: cla: yes, ready to pull, size:XS

#52946 Update version bounds for TF ecosystem packages
  tensorflow/tools/pip_package/setup.py
Labels: cla: yes, ready to pull, size:XS

#52926 [TF-TRT] trt_utils.versionTupleToString didn't exist, changing to trt_utils.version_tuple_to_string
  tensorflow/python/compiler/tensorrt/trt_convert.py
  tensorflow/python/compiler/tensorrt/utils.py
Labels: cla: yes, awaiting review, ready to pull, size:S, comp:gpu:tensorrt

#52948 CI: Use Python 3.9 for PyLint presubmit action
  .github/workflows/pylint-presubmit.yml
Labels: cla: yes, ready to pull, size:XS

#52890 Remove six.PY2
  tensorflow/api_template.__init__.py
  tensorflow/api_template_v1.__init__.py
  tensorflow/compat_template.__init__.py
  tensorflow/compat_template_v1.__init__.py
  tensorflow/compiler/tests/special_math_test.py
  tensorflow/lite/python/lite_test.py
  tensorflow/python/autograph/impl/api.py
  tensorflow/python/autograph/impl/api_test.py
  tensorflow/python/autograph/operators/py_builtins.py
  tensorflow/python/autograph/pyct/cfg.py
  tensorflow/python/autograph/pyct/inspect_utils.py
  tensorflow/python/autograph/pyct/static_analysis/activity.py
  tensorflow/python/autograph/pyct/static_analysis/activity_test.py
  tensorflow/python/autograph/pyct/static_analysis/reaching_definitions_test.py
  tensorflow/python/autograph/utils/compat_util.py
  tensorflow/python/compiler/tensorrt/test/tf_trt_integration_test_base.py
  tensorflow/python/eager/remote_test.py
  tensorflow/python/eager/tensor_test.py
  tensorflow/python/framework/BUILD
  tensorflow/python/framework/tensor_shape_div_test.py
  tensorflow/python/framework/test_util.py
  tensorflow/python/module/module_test.py
  tensorflow/python/ops/math_ops.py
  tensorflow/python/ops/special_math_ops.py
  tensorflow/python/ops/special_math_ops_test.py
  tensorflow/python/platform/benchmark.py
  tensorflow/python/tools/module_util.py
  tensorflow/python/tools/saved_model_aot_compile.py
  tensorflow/python/util/compat.py
  tensorflow/python/util/tf_stack.py
  tensorflow/tools/compatibility/ast_edits.py
Labels: cla: yes, ready to pull, size:S

#52931 [ROCm] skip gpu_binary_ops_test
  tensorflow/core/kernels/mlir_generated/BUILD
Labels: cla: yes, ready to pull, comp:gpu, size:XS

#52997 Remove xrange from tensorflow/python/kernel_tests
  tensorflow/python/autograph/operators/py_builtins.py
  tensorflow/python/kernel_tests/array_ops/init_ops_test.py
  tensorflow/python/kernel_tests/array_ops/inplace_ops_test.py
  tensorflow/python/kernel_tests/array_ops/slice_op_test.py
  tensorflow/python/kernel_tests/array_ops/unstack_op_test.py
  tensorflow/python/kernel_tests/control_flow/control_flow_ops_py_test.py
  tensorflow/python/kernel_tests/control_flow/py_func_test.py
  tensorflow/python/kernel_tests/data_structures/dynamic_partition_op_test.py
  tensorflow/python/kernel_tests/data_structures/fifo_queue_test.py
  tensorflow/python/kernel_tests/data_structures/listdiff_op_test.py
  tensorflow/python/kernel_tests/data_structures/padding_fifo_queue_test.py
  tensorflow/python/kernel_tests/image_ops/decode_jpeg_op_test.py
  tensorflow/python/kernel_tests/linalg/cholesky_op_test.py
  tensorflow/python/kernel_tests/math_ops/basic_gpu_test.py
  tensorflow/python/kernel_tests/math_ops/confusion_matrix_test.py
  tensorflow/python/kernel_tests/metrics_test.py
  tensorflow/python/kernel_tests/nn_ops/conv1d_test.py
  tensorflow/python/kernel_tests/nn_ops/conv1d_transpose_test.py
  tensorflow/python/kernel_tests/nn_ops/conv2d_transpose_test.py
  tensorflow/python/kernel_tests/nn_ops/conv3d_transpose_test.py
  tensorflow/python/kernel_tests/nn_ops/conv_ops_test.py
  tensorflow/python/kernel_tests/nn_ops/embedding_ops_test.py
  tensorflow/python/kernel_tests/nn_ops/rnn_test.py
  tensorflow/python/kernel_tests/random/random_gamma_test.py
  tensorflow/python/kernel_tests/random/random_ops_test.py
  tensorflow/python/kernel_tests/random/random_poisson_test.py
  tensorflow/python/kernel_tests/random/random_shuffle_queue_test.py
  tensorflow/python/kernel_tests/signal/fft_ops_test.py
  tensorflow/python/kernel_tests/strings_ops/reduce_join_op_test.py
  tensorflow/python/kernel_tests/summary_ops/summary_v1_audio_op_test.py
  tensorflow/python/kernel_tests/summary_ops/summary_v1_image_op_test.py
  tensorflow/python/kernel_tests/variables/partitioned_variables_test.py
Labels: cla: yes, ready to pull, size:L

#52966 Allow doctest compare to work by removing unneeded white space
  tensorflow/core/api_def/base_api/api_def_Tanh.pbtxt
  tensorflow/python/ops/math_ops.py
Labels: cla: yes, ready to pull, size:XS, prtype:bugfix

#52925 Generate bias with correct type when tfl.fully_connected bias isn't provided
  tensorflow/compiler/mlir/tosa/tests/tfl-to-tosa-pipeline.mlir
  tensorflow/compiler/mlir/tosa/transforms/legalize_tfl.cc
Labels: cla: yes, awaiting review, size:S

#52302 change efficientdet-lite0 --> efficientdet_lite0
  tensorflow/lite/g3doc/tutorials/model_maker_object_detection.ipynb
Labels: cla: yes, comp:lite, ready to pull, size:XS

#52971 Add op-determinism info to version 2.7 release notes
  RELEASE.md
Labels: cla: yes, size:S

#52990 Fix TF 2.7 release notes
  RELEASE.md
Labels: cla: yes, awaiting review, size:XL

#52996 Remove six from examples
  tensorflow/examples/speech_commands/BUILD
  tensorflow/examples/speech_commands/input_data.py
  tensorflow/examples/speech_commands/train.py
Labels: cla: yes, ready to pull, size:S

#52995 Remove xrange from tensorflow/compiler
  tensorflow/compiler/tests/BUILD
  tensorflow/compiler/tests/cholesky_op_test.py
  tensorflow/compiler/tests/clustering_test.py
  tensorflow/compiler/tests/conv3d_test.py
  tensorflow/compiler/tests/depthwise_conv_op_test.py
  tensorflow/compiler/tests/fifo_queue_test.py
  tensorflow/compiler/tests/image_ops_test.py
  tensorflow/compiler/tests/listdiff_op_test.py
  tensorflow/compiler/tests/unary_ops_test.py
  tensorflow/compiler/xla/python_api/xla_shape.py
Labels: cla: yes, ready to pull, size:M

#52439 [tensorflow/compiler/xla/service/gpu/ir_emission_utils.cc] Add calls to `reserve()` before populating vectors
  tensorflow/compiler/xla/service/gpu/ir_emission_utils.cc
Labels: cla: yes, ready to pull, comp:xla, size:S

#52932 [TF:TRT] Enable support for TensorRT 8.2
  tensorflow/compiler/tf2tensorrt/convert/convert_nodes_test.cc
  tensorflow/compiler/tf2tensorrt/stub/NvInferPlugin_8_2.inc
  tensorflow/compiler/tf2tensorrt/stub/NvInfer_8_2.inc
  tensorflow/compiler/tf2tensorrt/stub/nvinfer_plugin_stub.cc
  tensorflow/compiler/tf2tensorrt/stub/nvinfer_stub.cc
Labels: cla: yes, ready to pull, size:M, comp:gpu:tensorrt

#52991 [LHLO-Affine] Fix bug in the conversion of lmhlo.gather to affine
  tensorflow/compiler/mlir/hlo/lib/Dialect/mhlo/transforms/lhlo_legalize_to_affine.cc
  tensorflow/compiler/mlir/hlo/tests/lhlo-legalize-to-affine.mlir
Labels: cla: yes, ready to pull, size:M

#52993 [ROCm] Added Matrix Inverse Op on ROCm
  tensorflow/core/kernels/linalg/BUILD
  tensorflow/core/kernels/linalg/matrix_inverse_op.cc
  tensorflow/core/util/gpu_solvers.h
  tensorflow/core/util/rocm_solvers.cc
  tensorflow/stream_executor/rocm/rocsolver_wrapper.h
Labels: cla: yes, ready to pull, comp:gpu, size:M

#52970 [oneDNN] Update MKL auto-mixed precision algorithm
  tensorflow/core/grappler/optimizers/auto_mixed_precision.cc
  tensorflow/core/grappler/optimizers/auto_mixed_precision_test.cc
Labels: cla: yes, ready to pull, comp:grappler, size:M

#52797 [ROCm] Fix for invalid llvm ir on AMDGPU in reduction
  tensorflow/compiler/xla/service/gpu/ir_emitter_unnested.cc
  tensorflow/compiler/xla/service/gpu/ir_emitter_unnested.h
Labels: cla: yes, ready to pull, comp:gpu, size:S

#53014 Use `int64_t` instead of `tensorflow::int64`
  tensorflow/core/framework/tensor_shape.h
  tensorflow/core/platform/default/notification.h
Labels: cla: yes, ready to pull, size:XS, comp:core

#53004 Declare Go import path in distributed runtime payloads proto
  tensorflow/core/protobuf/distributed_runtime_payloads.proto
Labels: cla: yes, ready to pull, size:XS, comp:core

#52560 [TF-TRT] TrtGraphConverterV2 - Deprecating `conversion_params` in favor of direct arguments
  RELEASE.md
  tensorflow/python/compiler/tensorrt/model_tests/model_handler.py
  tensorflow/python/compiler/tensorrt/test/quantization_mnist_test.py
  tensorflow/python/compiler/tensorrt/test/tf_trt_integration_test_base.py
  tensorflow/python/compiler/tensorrt/trt_convert.py
  tensorflow/python/compiler/tensorrt/trt_convert_test.py
  tensorflow/python/tools/saved_model_cli.py
  tensorflow/tools/api/golden/v2/tensorflow.experimental.tensorrt.-converter.pbtxt
Labels: cla: yes, ready to pull, size:M, comp:gpu:tensorrt

#52671 [TF-TRT] Adding a detailled unconversion report capability on demand
  tensorflow/compiler/tf2tensorrt/BUILD
  tensorflow/compiler/tf2tensorrt/convert/convert_graph.cc
  tensorflow/compiler/tf2tensorrt/convert/convert_graph.h
  tensorflow/compiler/tf2tensorrt/convert/convert_graph_test.cc
  tensorflow/compiler/tf2tensorrt/convert/convert_nodes.cc
  tensorflow/compiler/tf2tensorrt/convert/convert_nodes_test.cc
  tensorflow/compiler/tf2tensorrt/convert/ops/slice_ops.cc
  tensorflow/compiler/tf2tensorrt/convert/trt_optimization_pass.cc
  tensorflow/compiler/tf2tensorrt/segment/segment.cc
Labels: cla: yes, ready to pull, size:L, comp:gpu:tensorrt

#53028 Remove xrange from rest of files
  tensorflow/python/client/session_benchmark.py
  tensorflow/python/client/session_partial_run_test.py
  tensorflow/python/client/session_test.py
  tensorflow/python/compiler/xla/xla.py
  tensorflow/python/data/ops/dataset_ops.py
  tensorflow/python/debug/cli/analyzer_cli.py
  tensorflow/python/debug/cli/analyzer_cli_test.py
  tensorflow/python/debug/cli/curses_ui.py
  tensorflow/python/debug/cli/tensor_format.py
  tensorflow/python/debug/examples/v1/debug_fibonacci.py
  tensorflow/python/debug/examples/v2/debug_fibonacci_v2.py
  tensorflow/python/debug/lib/debug_utils.py
  tensorflow/python/debug/lib/dumping_callback.py
  tensorflow/python/debug/lib/session_debug_testlib.py
  tensorflow/python/eager/benchmarks/resnet50/hvp_test.py
  tensorflow/python/eager/benchmarks/resnet50/resnet50_test.py
  tensorflow/python/eager/benchmarks_test.py
  tensorflow/python/eager/remote_benchmarks_test.py
  tensorflow/python/framework/ops.py
  tensorflow/python/ops/accumulate_n_benchmark.py
  tensorflow/python/ops/control_flow_grad.py
  tensorflow/python/ops/data_flow_grad.py
  tensorflow/python/ops/embedding_ops.py
  tensorflow/python/ops/gradients_util.py
  tensorflow/python/ops/image_ops_test.py
  tensorflow/python/ops/math_ops.py
  tensorflow/python/ops/nn_batchnorm_test.py
  tensorflow/python/ops/nn_test.py
  tensorflow/python/ops/special_math_ops.py
  tensorflow/python/ops/variable_scope.py
  tensorflow/python/profiler/model_analyzer.py
  tensorflow/python/summary/summary_test.py
  tensorflow/python/tpu/device_assignment.py
  tensorflow/python/tpu/topology.py
  tensorflow/python/tpu/tpu.py
  tensorflow/python/tpu/tpu_feed.py
  tensorflow/python/tpu/tpu_sharding.py
  tensorflow/python/training/input.py
  tensorflow/python/training/input_test.py
  tensorflow/python/training/momentum_test.py
  tensorflow/python/training/saver.py
  tensorflow/python/training/supervisor.py
  tensorflow/python/training/supervisor_test.py
  tensorflow/python/util/nest_test.py
Labels: cla: yes, ready to pull, size:L

#53016 Disabling autotune_serialize_test
  tensorflow/core/util/autotune_maps/BUILD
Labels: cla: yes, ready to pull, size:XS, comp:core

#52924 [ROCm] Skip xla_ops_tests
  tensorflow/compiler/tests/xla_ops_test.py
  tensorflow/compiler/xla/service/gpu/tests/gpu_index_test.cc
Labels: cla: yes, kokoro:force-run, ready to pull, comp:gpu, size:XS

#53023 Disabling wrong regex test.
  tensorflow/python/kernel_tests/linalg/tridiagonal_matmul_op_test.py
Labels: cla: yes, ready to pull, size:XS

#52334 Fixes for various tests on Ampere GPUs
  tensorflow/compiler/tests/lstm_test.py
  tensorflow/core/platform/default/net.cc
  tensorflow/python/compiler/tensorrt/test/biasadd_matmul_test.py
  tensorflow/python/compiler/tensorrt/test/identity_output_test.py
  tensorflow/python/kernel_tests/linalg/linear_operator_adjoint_test.py
  tensorflow/python/kernel_tests/linalg/linear_operator_block_diag_test.py
  tensorflow/python/kernel_tests/linalg/linear_operator_block_lower_triangular_test.py
  tensorflow/python/kernel_tests/linalg/linear_operator_circulant_test.py
  tensorflow/python/kernel_tests/linalg/linear_operator_composition_test.py
  tensorflow/python/kernel_tests/linalg/linear_operator_diag_test.py
  tensorflow/python/kernel_tests/linalg/linear_operator_householder_test.py
  tensorflow/python/kernel_tests/linalg/linear_operator_identity_test.py
  tensorflow/python/kernel_tests/linalg/linear_operator_inversion_test.py
  tensorflow/python/kernel_tests/linalg/linear_operator_kronecker_test.py
  tensorflow/python/kernel_tests/linalg/linear_operator_low_rank_update_test.py
  tensorflow/python/kernel_tests/linalg/linear_operator_permutation_test.py
  tensorflow/python/kernel_tests/linalg/linear_operator_tridiag_test.py
  tensorflow/python/kernel_tests/math_ops/matmul_op_test.py
  tensorflow/python/kernel_tests/nn_ops/conv2d_backprop_filter_grad_test.py
  tensorflow/python/kernel_tests/nn_ops/conv_ops_test.py
  tensorflow/python/profiler/model_analyzer_test.py
  tensorflow/python/profiler/profiler_v2_test.py
Labels: cla: yes, ready to pull, size:M

#53048 Fix some ROCm related typos.
  tensorflow/core/kernels/linalg/matrix_inverse_op.cc
  tensorflow/core/util/gpu_solvers.h
Labels: cla: yes, ready to pull, size:XS, comp:core

#52595 [TF:TRT] Move definition of TrtPrecisionMode and ProfileStrategy to a separate header
  tensorflow/compiler/tf2tensorrt/BUILD
  tensorflow/compiler/tf2tensorrt/convert/op_converter.h
  tensorflow/compiler/tf2tensorrt/convert/trt_optimization_pass.h
  tensorflow/compiler/tf2tensorrt/convert/trt_parameters.cc
  tensorflow/compiler/tf2tensorrt/convert/trt_parameters.h
  tensorflow/compiler/tf2tensorrt/convert/utils.cc
  tensorflow/compiler/tf2tensorrt/convert/utils.h
  tensorflow/compiler/tf2tensorrt/trt_convert_api.h
  tensorflow/compiler/tf2tensorrt/utils/trt_shape_optimization_profiles.h
Labels: cla: yes, awaiting review, ready to pull, size:L, comp:gpu:tensorrt

#51650 Update Delegate.swift
  tensorflow/lite/swift/Sources/Delegate.swift
Labels: cla: yes, comp:lite, ready to pull, size:XS

#52943 [TF-TRT] Allow saving calibration cache without the engine pre-built
  RELEASE.md
  tensorflow/compiler/tf2tensorrt/kernels/trt_engine_resource_ops.cc
  tensorflow/compiler/tf2tensorrt/ops/trt_engine_resource_ops.cc
  tensorflow/python/compiler/tensorrt/trt_convert.py
  tensorflow/python/compiler/tensorrt/trt_convert_test.py
  tensorflow/tools/api/golden/v2/tensorflow.experimental.tensorrt.-converter.pbtxt
Labels: cla: yes, ready to pull, size:M, comp:gpu:tensorrt

#53085 ROCm specific fix to enable GPU unit tests to pass.
  tensorflow/core/kernels/conv_ops_gpu.cc
  tensorflow/core/kernels/gpu_utils.cc
Labels: cla: yes, awaiting review, ready to pull, comp:gpu, size:S

#52683 [TF:TRT] Better CombinedNMS Support through EfficientNMS TRT Plugin
  tensorflow/compiler/tf2tensorrt/convert/convert_nodes.cc
  tensorflow/compiler/tf2tensorrt/convert/convert_nodes_test.cc
Labels: cla: yes, ready to pull, size:L, comp:gpu:tensorrt

#53108 Add missing `clean_dep` for `tf_cc_shared_object`
  tensorflow/tensorflow.bzl
Labels: cla: yes, kokoro:force-run, ready to pull, size:XS

#52940 ppc: remove the special condition for ppc on convolutions
  tensorflow/core/kernels/eigen_cuboid_convolution.h
  tensorflow/core/kernels/eigen_spatial_convolutions-inl.h
Labels: cla: yes, ready to pull, size:S, comp:core

#53131 Fix fail to build on AARCH64 for mkl_matmul_op_benchmark
  tensorflow/core/kernels/mkl/BUILD
Labels: cla: yes, ready to pull, comp:mkl, size:XS

#53122 Give a more actionable error message when libtpu is already in use.
  tensorflow/core/tpu/tpu_initializer_helper.cc
Labels: cla: yes, ready to pull, size:XS, comp:core

#53117 [TF:TRT] Fix TrtUniquePtr warnings/error for TRT 8.2
  tensorflow/compiler/tf2tensorrt/convert/convert_nodes_test.cc
  tensorflow/compiler/tf2tensorrt/convert/utils.h
Labels: cla: yes, awaiting review, ready to pull, size:S, comp:gpu:tensorrt

#50875 Support per-channel quantized INT8 weights unpacking in XNNPACK delegate
  tensorflow/lite/delegates/xnnpack/BUILD
  tensorflow/lite/delegates/xnnpack/add_test.cc
  tensorflow/lite/delegates/xnnpack/binary_elementwise_tester.cc
  tensorflow/lite/delegates/xnnpack/binary_elementwise_tester.h
  tensorflow/lite/delegates/xnnpack/conv_2d_test.cc
  tensorflow/lite/delegates/xnnpack/conv_2d_tester.cc
  tensorflow/lite/delegates/xnnpack/conv_2d_tester.h
  tensorflow/lite/delegates/xnnpack/depthwise_conv_2d_test.cc
  tensorflow/lite/delegates/xnnpack/depthwise_conv_2d_tester.cc
  tensorflow/lite/delegates/xnnpack/depthwise_conv_2d_tester.h
  tensorflow/lite/delegates/xnnpack/div_test.cc
  tensorflow/lite/delegates/xnnpack/fully_connected_test.cc
  tensorflow/lite/delegates/xnnpack/fully_connected_tester.cc
  tensorflow/lite/delegates/xnnpack/fully_connected_tester.h
  tensorflow/lite/delegates/xnnpack/maximum_test.cc
  tensorflow/lite/delegates/xnnpack/minimum_test.cc
  tensorflow/lite/delegates/xnnpack/mul_test.cc
  tensorflow/lite/delegates/xnnpack/prelu_test.cc
  tensorflow/lite/delegates/xnnpack/prelu_tester.cc
  tensorflow/lite/delegates/xnnpack/prelu_tester.h
  tensorflow/lite/delegates/xnnpack/quantization_util.cc
  tensorflow/lite/delegates/xnnpack/quantization_util.h
  tensorflow/lite/delegates/xnnpack/quantization_util_test.cc
  tensorflow/lite/delegates/xnnpack/squared_difference_test.cc
  tensorflow/lite/delegates/xnnpack/sub_test.cc
  tensorflow/lite/delegates/xnnpack/test_util.cc
  tensorflow/lite/delegates/xnnpack/test_util.h
  tensorflow/lite/delegates/xnnpack/transpose_conv_test.cc
  tensorflow/lite/delegates/xnnpack/transpose_conv_tester.cc
  tensorflow/lite/delegates/xnnpack/transpose_conv_tester.h
  tensorflow/lite/delegates/xnnpack/xnnpack_delegate.cc
Labels: cla: yes, comp:lite, ready to pull, size:M

#51854 Bugfix/label image fixes
  tensorflow/lite/examples/label_image/label_image.cc
  tensorflow/lite/kernels/test_delegate_providers.cc
  tensorflow/lite/tools/benchmark/benchmark_tflite_model.cc
  tensorflow/lite/tools/command_line_flags.h
  tensorflow/lite/tools/delegates/delegate_provider.cc
  tensorflow/lite/tools/delegates/delegate_provider.h
  tensorflow/lite/tools/delegates/delegate_provider_test.cc
  tensorflow/lite/tools/evaluation/evaluation_delegate_provider.cc
  tensorflow/lite/tools/tool_params.h
Labels: cla: yes, awaiting review, comp:lite, ready to pull, size:M

#53177 Should use CMAKE_CURRENT_*_DIR
  tensorflow/compiler/mlir/hlo/runtime/CMakeLists.txt
Labels: cla: yes, awaiting review, ready to pull, size:XS

#51455 Extend cmake-based build of tf lite to support metal delegates and related libraries for iOs target
  tensorflow/lite/CMakeLists.txt
  tensorflow/lite/tools/cmake/modules/ruy/CMakeLists.txt
Labels: cla: yes, comp:lite, ready to pull, size:M

#52646 Improve overall readblity of code
  tensorflow/c/eager/abstract_context.h
  tensorflow/c/eager/c_api.h
  tensorflow/c/eager/c_api_distributed_test.cc
  tensorflow/c/eager/c_api_experimental.h
  tensorflow/c/eager/c_api_test_util.h
  tensorflow/c/eager/c_api_unified_experimental.h
  tensorflow/c/eager/gradients_internal.h
  tensorflow/c/eager/immediate_execution_tensor_handle.h
  tensorflow/cc/gradients/README.md
Labels: cla: yes, ready to pull, size:S

#50581 [PluggableDevice] register default devices for functional ops
  tensorflow/core/kernels/functional_ops.cc
  tensorflow/core/kernels/while_op_test.cc
Labels: cla: yes, ready to pull, size:S, comp:core

#52949 Add support for GEMMs with complex element types
  tensorflow/compiler/mlir/tfrt/transforms/lmhlo_to_gpu/gemm_pattern.cc
  tensorflow/compiler/mlir/tfrt/transforms/lmhlo_to_gpu/pattern_utils.cc
Labels: cla: yes, ready to pull, size:S

#53219 fix msvc build break on non en-US codepage
  tensorflow/lite/python/analyzer_wrapper/model_analyzer.cc
Labels: cla: yes, awaiting review, comp:lite, ready to pull, size:XS
