Repository tensorflow/tensorflow, pull requests merged in 2021-09, with the labels that each got.

#50610 [PluggableDevice] add DEVICE_DEFAULT for debug/stage ops
  tensorflow/core/kernels/debug_ops.cc
  tensorflow/core/kernels/stage_op.cc
Labels: cla: yes, ready to pull, size:M, comp:core

#50756 [XLA] Enable pointwise row vectorization for small row.
  tensorflow/compiler/xla/service/gpu/ir_emitter_unnested.cc
  tensorflow/compiler/xla/service/gpu/launch_dimensions.cc
  tensorflow/compiler/xla/service/gpu/launch_dimensions.h
  tensorflow/compiler/xla/service/gpu/parallel_loop_emitter.cc
  tensorflow/compiler/xla/service/gpu/parallel_loop_emitter.h
  tensorflow/compiler/xla/service/gpu/tests/BUILD
  tensorflow/compiler/xla/service/gpu/tests/element_wise_row_vectorization.hlo
  tensorflow/compiler/xla/service/gpu/tests/element_wise_row_vectorization_test.cc
Labels: cla: yes, ready to pull, comp:xla, size:M

#50609 [PluggableDevice] add DEVICE_DEFAULT for collective/bcast ops
  tensorflow/core/kernels/bcast_ops.cc
  tensorflow/core/kernels/collective_ops.cc
Labels: cla: yes, ready to pull, size:M, comp:core

#48125 Custom os.path.join that is aware of TF filesystems
  tensorflow/python/lib/io/file_io.py
  tensorflow/python/lib/io/file_io_test.py
  tensorflow/python/saved_model/BUILD
  tensorflow/python/saved_model/builder_impl.py
  tensorflow/python/saved_model/load.py
  tensorflow/python/saved_model/loader_impl.py
  tensorflow/python/saved_model/method_name_updater.py
  tensorflow/python/saved_model/model_utils/BUILD
  tensorflow/python/saved_model/model_utils/export_utils.py
  tensorflow/python/saved_model/save.py
  tensorflow/python/saved_model/utils_impl.py
  tensorflow/tools/api/golden/v1/tensorflow.io.gfile.pbtxt
  tensorflow/tools/api/golden/v2/tensorflow.io.gfile.pbtxt
Labels: cla: yes, ready to pull, size:M, prtype:bugfix

#50855 Fix numerical stability issue in binary search
  tensorflow/core/lib/io/block.cc
Labels: cla: yes, ready to pull, size:XS, comp:core

#51498 [TF:TRT] Replace c asserts with CHECK macro
  tensorflow/compiler/tf2tensorrt/convert/convert_nodes_test.cc
  tensorflow/compiler/tf2tensorrt/utils/trt_tensor_proxy.h
Labels: cla: yes, ready to pull, comp:gpu:tensorrt

#50754 dockerfiles: pin jedi to allow ipython tab completion
  tensorflow/tools/dockerfiles/dockerfiles/arm64v8/devel-cpu-arm64v8-jupyter.Dockerfile
  tensorflow/tools/dockerfiles/dockerfiles/cpu-jupyter.Dockerfile
  tensorflow/tools/dockerfiles/dockerfiles/devel-cpu-jupyter.Dockerfile
  tensorflow/tools/dockerfiles/dockerfiles/devel-gpu-jupyter.Dockerfile
  tensorflow/tools/dockerfiles/dockerfiles/gpu-jupyter.Dockerfile
  tensorflow/tools/dockerfiles/dockerfiles/gpu.Dockerfile
  tensorflow/tools/dockerfiles/dockerfiles/ppc64le/cpu-ppc64le-jupyter.Dockerfile
  tensorflow/tools/dockerfiles/dockerfiles/ppc64le/devel-cpu-ppc64le-jupyter.Dockerfile
  tensorflow/tools/dockerfiles/dockerfiles/ppc64le/devel-gpu-ppc64le-jupyter.Dockerfile
  tensorflow/tools/dockerfiles/dockerfiles/ppc64le/devel-gpu-ppc64le.Dockerfile
  tensorflow/tools/dockerfiles/dockerfiles/ppc64le/gpu-ppc64le-jupyter.Dockerfile
  tensorflow/tools/dockerfiles/partials/jupyter.partial.Dockerfile
Labels: cla: yes, ready to pull, size:S

#50818 C API methods to get attribute names
  tensorflow/c/c_api.cc
  tensorflow/c/c_api.h
  tensorflow/c/c_api_test.cc
Labels: cla: yes, ready to pull, size:M

#51788 fix op does not dominate this use after mhlo-fusion pass
  tensorflow/compiler/mlir/hlo/lib/Dialect/mhlo/transforms/mhlo_fusion.cc
  tensorflow/compiler/mlir/hlo/tests/mhlo-fusion.mlir
Labels: cla: yes, ready to pull, size:M

#51808 [Intel MKL] Bug fix for Pattern Matcher
  tensorflow/core/grappler/utils/pattern_utils.cc
  tensorflow/core/grappler/utils/pattern_utils.h
  tensorflow/core/grappler/utils/pattern_utils_test.cc
Labels: cla: yes, ready to pull, size:M, comp:core

#51851 [TFLite] Force the MLIR quantizer to assign the same scale for the quantized operand and result of the FILL op
  tensorflow/compiler/mlir/lite/ir/tfl_ops.td
Labels: cla: yes, awaiting review, ready to pull, size:XS

#51782 `distutils` is deprecated in Python 3.10 #51776
  third_party/py/python_configure.bzl
Labels: cla: yes, ready to pull, size:XS

#51861 Replacement for #51392
  tensorflow/core/kernels/segment_reduction_ops.h
  tensorflow/core/kernels/segment_reduction_ops_gpu.cu.h
  tensorflow/core/kernels/segment_reduction_ops_gpu_0.cu.cc
  tensorflow/core/kernels/segment_reduction_ops_gpu_1.cu.cc
  tensorflow/core/kernels/segment_reduction_ops_gpu_2.cu.cc
  tensorflow/core/kernels/segment_reduction_ops_impl.h
  tensorflow/core/kernels/segment_reduction_ops_impl_1.cc
  tensorflow/core/kernels/segment_reduction_ops_impl_2.cc
  tensorflow/core/kernels/segment_reduction_ops_impl_3.cc
  tensorflow/core/kernels/segment_reduction_ops_impl_4.cc
  tensorflow/core/util/gpu_kernel_helper.h
  tensorflow/python/kernel_tests/segment_reduction_ops_deterministic_test.py
  tensorflow/python/kernel_tests/segment_reduction_ops_test.py
Labels: cla: yes, awaiting review, ready to pull, size:L

#51855 Add CITATION.cff for GitHub software citation support
  CITATION.cff
Labels: cla: yes, awaiting review, ready to pull, size:M

#51852 UserangeAnalysis clean up and fixes.
  tensorflow/compiler/mlir/hlo/include/mlir-hlo/Analysis/userange_analysis.h
  tensorflow/compiler/mlir/hlo/lib/Analysis/userange_analysis.cc
  tensorflow/compiler/mlir/hlo/tests/test_userange.mlir
Labels: cla: yes, ready to pull, size:L

#51806 Fix abseil compile error using proper HWAES flag on aarch64.
  third_party/absl/com_google_absl_fix_mac_and_nvcc_build.patch
Labels: cla: yes, ready to pull, size:S

#51867 [oneDNN] Fixing tensorflow/python/framework/node_file_writer_test
  tensorflow/python/framework/node_file_writer_test.py
Labels: cla: yes, ready to pull, size:S

#51481 [tflite] add same scale constraint for mirror pad
  tensorflow/compiler/mlir/lite/ir/tfl_ops.td
Labels: cla: yes, awaiting review, ready to pull, size:XS

#51830 Add support for fp16 GEMM BEF thunks
  tensorflow/compiler/mlir/tfrt/transforms/lhlo_gpu_to_tfrt_gpu/gemm_pattern.cc
  tensorflow/compiler/xla/service/gpu/gemm_algorithm_picker.cc
Labels: cla: yes, ready to pull, size:M

#51866 [XLA, GPU] Make kExp not expensive
  tensorflow/compiler/xla/service/gpu/instruction_fusion.cc
  tensorflow/compiler/xla/service/gpu/instruction_fusion_test.cc
Labels: cla: yes, ready to pull, comp:xla, size:S

#50962 Crash fix cudaMallocAsync usage of TF_CUDA_MALLOC_ASYNC_SUPPORTED_PREALLOC.
  tensorflow/core/common_runtime/gpu/gpu_cudamallocasync_allocator.cc
  tensorflow/core/common_runtime/gpu/gpu_cudamallocasync_allocator.h
  tensorflow/core/common_runtime/gpu/gpu_device.cc
  tensorflow/core/common_runtime/gpu/gpu_device_test.cc
  tensorflow/core/framework/allocator.h
Labels: cla: yes, ready to pull, size:M, comp:core

#51924 Remove nanopb's remaining files
  tensorflow/opensource_only.files
  third_party/nanopb.BUILD
Labels: cla: yes, ready to pull, size:S

#51558 [XLA] Make replay_computation accept input HLO file with multiple module.
  tensorflow/compiler/xla/tools/replay_computation.cc
Labels: cla: yes, ready to pull, comp:xla, size:S

#50813 FIx random gamma and space to depth tests.
  tensorflow/python/kernel_tests/random/random_gamma_test.py
  tensorflow/python/kernel_tests/spacetodepth_op_test.py
Labels: cla: yes, ready to pull, size:S

#51912 [XLA:GPU] Use arg_num instead of kernel parameter to check resource_updates
  tensorflow/compiler/jit/xla_launch_util.cc
  tensorflow/python/eager/def_function_xla_jit_test.py
Labels: cla: yes, ready to pull, size:S

#51972 Added a check
  tensorflow/python/util/deprecation.py
Labels: cla: yes, awaiting review, ready to pull, size:XS, prtype:bugfix

#51411 Add TF-TRT Python integration tests in dynamic shape mode
  tensorflow/python/compiler/tensorrt/test/biasadd_matmul_test.py
  tensorflow/python/compiler/tensorrt/test/binary_tensor_weight_broadcast_test.py
  tensorflow/python/compiler/tensorrt/test/combined_nms_test.py
  tensorflow/python/compiler/tensorrt/test/rank_two_test.py
  tensorflow/python/compiler/tensorrt/test/tf_function_test.py
  tensorflow/python/compiler/tensorrt/test/tf_trt_integration_test_base.py
  tensorflow/python/compiler/tensorrt/test/trt_mode_test.py
  tensorflow/python/compiler/tensorrt/test/unary_test.py
  tensorflow/python/compiler/tensorrt/trt_convert.py
Labels: cla: yes, ready to pull, size:M, comp:gpu:tensorrt

#51695 Refactor SparseSliceOp to use a functor
  tensorflow/core/kernels/BUILD
  tensorflow/core/kernels/sparse_slice_op.cc
  tensorflow/core/kernels/sparse_slice_op.h
  tensorflow/python/kernel_tests/sparse_slice_op_test.py
Labels: cla: yes, ready to pull, size:M, comp:core

#51949 include abseil/base/attributes.h instead of macos.h
  tensorflow/lite/delegates/gpu/gl_delegate.h
Labels: cla: yes, comp:lite, ready to pull, size:XS

#51781 Tflite GPU OpenGL Delegate Allow HWC Const Add
  tensorflow/lite/delegates/gpu/gl/kernels/BUILD
  tensorflow/lite/delegates/gpu/gl/kernels/add.cc
Labels: cla: yes, comp:lite, ready to pull, size:S

#51914 Update Dockerfiles to Ubuntu 20.04
  tensorflow/tools/dockerfiles/dockerfiles/arm64v8/devel-cpu-arm64v8-jupyter.Dockerfile
  tensorflow/tools/dockerfiles/dockerfiles/arm64v8/devel-cpu-arm64v8.Dockerfile
  tensorflow/tools/dockerfiles/dockerfiles/cpu-jupyter.Dockerfile
  tensorflow/tools/dockerfiles/dockerfiles/cpu.Dockerfile
  tensorflow/tools/dockerfiles/dockerfiles/devel-cpu-jupyter.Dockerfile
  tensorflow/tools/dockerfiles/dockerfiles/devel-cpu.Dockerfile
  tensorflow/tools/dockerfiles/dockerfiles/devel-gpu-jupyter.Dockerfile
  tensorflow/tools/dockerfiles/dockerfiles/devel-gpu.Dockerfile
  tensorflow/tools/dockerfiles/dockerfiles/gpu-jupyter.Dockerfile
  tensorflow/tools/dockerfiles/dockerfiles/gpu.Dockerfile
  tensorflow/tools/dockerfiles/dockerfiles/ppc64le/cpu-ppc64le-jupyter.Dockerfile
  tensorflow/tools/dockerfiles/dockerfiles/ppc64le/cpu-ppc64le.Dockerfile
  tensorflow/tools/dockerfiles/dockerfiles/ppc64le/devel-cpu-ppc64le-jupyter.Dockerfile
  tensorflow/tools/dockerfiles/dockerfiles/ppc64le/devel-cpu-ppc64le.Dockerfile
  tensorflow/tools/dockerfiles/dockerfiles/ppc64le/devel-gpu-ppc64le-jupyter.Dockerfile
  tensorflow/tools/dockerfiles/dockerfiles/ppc64le/devel-gpu-ppc64le.Dockerfile
  tensorflow/tools/dockerfiles/dockerfiles/ppc64le/gpu-ppc64le-jupyter.Dockerfile
  tensorflow/tools/dockerfiles/dockerfiles/ppc64le/gpu-ppc64le.Dockerfile
  tensorflow/tools/dockerfiles/partials/ubuntu/cpu.partial.Dockerfile
  tensorflow/tools/dockerfiles/partials/ubuntu/devel-cpu.partial.Dockerfile
  tensorflow/tools/dockerfiles/partials/ubuntu/devel-nvidia.partial.Dockerfile
  tensorflow/tools/dockerfiles/partials/ubuntu/nvidia.partial.Dockerfile
  tensorflow/tools/dockerfiles/partials/ubuntu/version.partial.Dockerfile
  tensorflow/tools/dockerfiles/tests/import-gpu.sh
Labels: cla: yes, ready to pull, size:M

#51919 [ROCm] Update to use ROCm 4.3.1 (when building TF with --config=rocm)
  tensorflow/compiler/xla/tests/vector_ops_simple_test.cc
  tensorflow/tools/ci_build/Dockerfile.rocm
  tensorflow/tools/ci_build/linux/rocm/run_gpu_multi.sh
  tensorflow/tools/ci_build/linux/rocm/run_gpu_single.sh
Labels: cla: yes, ready to pull, comp:gpu, size:S

#51920 [determinism] Add d9m-unimplemented exception for tf.nn.depthwise_conv2d
  tensorflow/core/kernels/BUILD
  tensorflow/core/kernels/depthwise_conv_op_gpu.h
  tensorflow/python/kernel_tests/BUILD
  tensorflow/python/kernel_tests/depthwise_conv_op_test.py
  tensorflow/python/ops/image_ops_test.py
Labels: cla: yes, ready to pull, size:M, comp:core

#51754 [INTEL MKL] Skip CUDA specific remapper tests
  tensorflow/core/grappler/optimizers/remapper_test.cc
Labels: cla: yes, ready to pull, comp:grappler, size:XS

#51672 Refactor Slice reference op for port to TFLM
  tensorflow/lite/kernels/internal/BUILD
  tensorflow/lite/kernels/internal/reference/reference_ops.h
  tensorflow/lite/kernels/internal/reference/slice.h
Labels: cla: yes, comp:lite, ready to pull, size:M

#51882 Add TFL_CAPI_EXPORT to TfLiteXNNPACK*() functions
  tensorflow/lite/delegates/xnnpack/xnnpack_delegate.h
Labels: cla: yes, comp:lite, ready to pull, size:XS

#51423 [ROCm]: Updating Matrix Solve Op to use rocSolver
  tensorflow/core/kernels/BUILD
  tensorflow/core/kernels/linalg/BUILD
  tensorflow/core/kernels/linalg/cholesky_op_gpu.cu.cc
  tensorflow/core/kernels/linalg/determinant_op.cc
  tensorflow/core/kernels/linalg/determinant_op_gpu.cu.cc
  tensorflow/core/kernels/linalg/lu_op_gpu.cu.cc
  tensorflow/core/kernels/linalg/matrix_inverse_op.cc
  tensorflow/core/kernels/linalg/matrix_solve_op.cc
  tensorflow/core/kernels/linalg/matrix_triangular_solve_op_impl.h
  tensorflow/core/kernels/linalg/qr_op_impl.h
  tensorflow/core/kernels/linalg/self_adjoint_eig_v2_op_gpu.cc
  tensorflow/core/kernels/linalg/svd_op_gpu.cu.cc
  tensorflow/core/kernels/linalg/tridiagonal_matmul_op_gpu.cu.cc
  tensorflow/core/kernels/linalg/tridiagonal_solve_op_gpu.cu.cc
  tensorflow/core/kernels/segment_reduction_ops_impl.h
  tensorflow/core/kernels/sparse/BUILD
  tensorflow/core/kernels/sparse/add_op.cc
  tensorflow/core/kernels/sparse/conj_op.cc
  tensorflow/core/kernels/sparse/csr_sparse_matrix_to_dense_op.cc
  tensorflow/core/kernels/sparse/csr_sparse_matrix_to_sparse_tensor_op.cc
  tensorflow/core/kernels/sparse/dense_to_csr_sparse_matrix_op.cc
  tensorflow/core/kernels/sparse/mat_mul_op.cc
  tensorflow/core/kernels/sparse/nnz_op.cc
  tensorflow/core/kernels/sparse/sparse_mat_mul_op.cc
  tensorflow/core/kernels/sparse/sparse_matrix_components_op.cc
  tensorflow/core/kernels/sparse/sparse_tensor_to_csr_sparse_matrix_op.cc
  tensorflow/core/kernels/sparse_fill_empty_rows_op_gpu.cu.cc
  tensorflow/core/kernels/unique_op_gpu.cu.h
  tensorflow/core/kernels/where_op.cc
  tensorflow/core/util/BUILD
  tensorflow/core/util/cuda_solvers.cc
  tensorflow/core/util/cuda_sparse.cc
  tensorflow/core/util/gpu_solvers.h
  tensorflow/core/util/rocm_solvers.cc
  tensorflow/core/util/rocm_solvers.h
  tensorflow/core/util/rocm_sparse.cc
  tensorflow/stream_executor/rocm/rocsolver_wrapper.h
Labels: cla: yes, ready to pull, comp:gpu, size:L

#51235 [TF:TRT] Reorganize testing utilities.
  tensorflow/compiler/tf2tensorrt/BUILD
  tensorflow/compiler/tf2tensorrt/common/utils.h
  tensorflow/compiler/tf2tensorrt/convert/convert_graph_test.cc
  tensorflow/compiler/tf2tensorrt/convert/convert_nodes_test.cc
  tensorflow/compiler/tf2tensorrt/utils/trt_shape_optimization_profiles.cc
  tensorflow/compiler/tf2tensorrt/utils/trt_testutils.cc
  tensorflow/compiler/tf2tensorrt/utils/trt_testutils.h
  tensorflow/compiler/tf2tensorrt/utils/trt_testutils_test.cc
Labels: cla: yes, ready to pull, size:XL, comp:gpu:tensorrt

#51985 [ROCm] Fix ROCm logger for kernel name
  tensorflow/stream_executor/rocm/rocm_driver.cc
Labels: cla: yes, ready to pull, comp:gpu, size:XS

#51513 Fix endianness issue of internal data views in LiteralUtilTest (F16) on BE machines
  tensorflow/compiler/xla/literal_test.cc
Labels: cla: yes, ready to pull, comp:xla, size:XS

#51905 fix Windows MSVC debug build
  tensorflow/core/kernels/depthtospace_op.cc
  tensorflow/core/kernels/spacetodepth_op.cc
Labels: cla: yes, ready to pull, size:S, comp:core

#52009 Update MklDnnMatMulFwdPrimitiveFactory to support Arm Compute Library
  tensorflow/core/kernels/mkl/mkl_matmul_op_fused.cc
  tensorflow/core/kernels/mkl/mkl_matmul_ops_common.h
  tensorflow/workspace2.bzl
  third_party/mkl_dnn/onednn_acl_primitives.patch
Labels: cla: yes, ready to pull, size:XL, comp:core

#50932 [oneDNN] Improving Graph Rewrite Performance
  tensorflow/core/common_runtime/eager/mkl_eager_op_rewrite.cc
  tensorflow/core/common_runtime/mkl_layout_pass.cc
  tensorflow/core/common_runtime/mkl_tfconversion_pass.cc
  tensorflow/core/graph/BUILD
  tensorflow/core/graph/mkl_graph_util.h
Labels: cla: yes, ready to pull, size:M, comp:core

#49868 Made rounding in convert_image_dtype for numbers close to zero
  tensorflow/compiler/tests/image_ops_test.py
  tensorflow/python/ops/image_ops_impl.py
  tensorflow/python/ops/image_ops_test.py
Labels: cla: yes, ready to pull, comp:ops, size:S, prtype:bugfix

#51138 Fix tf.tile crash when n is large
  tensorflow/core/kernels/tile_ops.cc
  tensorflow/python/kernel_tests/shape_ops_test.py
Labels: cla: yes, ready to pull, size:S, prtype:bugfix, comp:core

#52040 [TF-TRT] Improve logging message for the unconverted/unsupported OPs
  tensorflow/compiler/tf2tensorrt/segment/segment.cc
Labels: cla: yes, ready to pull, size:S, comp:gpu:tensorrt

#51687 [INTEL MKL] Fix MKL related conv_ops_3d_test unit test failure
  tensorflow/core/kernels/mkl/mkl_conv_ops.cc
Labels: cla: yes, ready to pull, size:XS, comp:core

#51868 [INTEL MKL] Not rewrite conv_grad ops to MKL with explicit padding
  tensorflow/core/common_runtime/mkl_layout_pass.cc
Labels: cla: yes, kokoro:force-run, ready to pull, size:XS, comp:core

#52016 [INTEL MKL] Enabling simple heuristic based tuning for innerproduct primitive
  tensorflow/core/kernels/mkl/mkl_matmul_op.cc
  tensorflow/core/kernels/mkl/mkl_matmul_op_fused.cc
  tensorflow/core/kernels/mkl/mkl_matmul_ops_common.h
  tensorflow/core/util/mkl_threadpool.h
Labels: cla: yes, ready to pull, size:S, comp:core

#52047 Load and select optimization profiles for static TRT engine
  tensorflow/compiler/tf2tensorrt/convert/convert_graph.cc
  tensorflow/compiler/tf2tensorrt/convert/convert_graph.h
  tensorflow/compiler/tf2tensorrt/kernels/trt_engine_op.cc
  tensorflow/compiler/tf2tensorrt/kernels/trt_engine_op_test.cc
Labels: cla: yes, ready to pull, size:S, comp:gpu:tensorrt

#52050 [TF-TRT] ConvertReduce with added INT32 support
  tensorflow/compiler/tf2tensorrt/convert/convert_nodes.cc
  tensorflow/compiler/tf2tensorrt/convert/convert_nodes_test.cc
Labels: cla: yes, ready to pull, size:S, comp:gpu:tensorrt

#50916 [PluggableDevice] fix While segment fault on PluggableDevice
  tensorflow/core/kernels/BUILD
  tensorflow/core/kernels/functional_ops.cc
  tensorflow/core/kernels/while_op_test.cc
Labels: cla: yes, ready to pull, size:S, comp:core

#51717 Fix crash of tf.image.pad_to_bounding_box with large input value.
  tensorflow/core/kernels/pad_op.cc
  tensorflow/python/ops/image_ops_test.py
Labels: cla: yes, ready to pull, comp:ops, size:S, prtype:bugfix

#51910 Add support for lowering variadic mhlo.reduce op to lmhlo to LinAlg.
  tensorflow/compiler/mlir/hlo/lib/Dialect/mhlo/transforms/hlo_legalize_to_lhlo.cc
  tensorflow/compiler/mlir/hlo/lib/Dialect/mhlo/transforms/legalize_to_linalg.cc
  tensorflow/compiler/mlir/hlo/lib/Dialect/mhlo/transforms/legalize_to_standard_patterns.td
  tensorflow/compiler/mlir/hlo/lib/Dialect/mhlo/transforms/lhlo_legalize_to_affine.cc
  tensorflow/compiler/mlir/hlo/tests/hlo-legalize-to-lhlo.mlir
  tensorflow/compiler/mlir/hlo/tests/legalize-to-std.mlir
  tensorflow/compiler/mlir/hlo/tests/lhlo-legalize-to-linalg.mlir
Labels: cla: yes, awaiting review, kokoro:force-run, ready to pull, size:M

#51822 [PluggableDevice] TensorList support with DEVICE_DEFAULT
  tensorflow/c/experimental/stream_executor/stream_executor.cc
  tensorflow/c/experimental/stream_executor/stream_executor.h
  tensorflow/c/experimental/stream_executor/stream_executor_test.cc
  tensorflow/c/experimental/stream_executor/stream_executor_test_util.cc
  tensorflow/core/kernels/BUILD
  tensorflow/core/kernels/list_kernels.cc
  tensorflow/core/kernels/list_kernels.h
Labels: cla: yes, size:L

#52081 Removed README.md
  tensorflow/python/profiler/model_analyzer.py
Labels: cla: yes, ready to pull, size:XS

#50602 [PluggableDevice] add DEVICE_DEFAULT for python ops
  tensorflow/python/framework/test_ops.cc
  tensorflow/python/lib/core/py_func.cc
Labels: cla: yes, ready to pull, size:S

#50152 Fix swapping of tensor_content when loading a SavedModel on s390x
  tensorflow/cc/saved_model/bundle_v2.cc
  tensorflow/cc/saved_model/reader.cc
  tensorflow/core/util/tensor_bundle/byte_swap.cc
  tensorflow/core/util/tensor_bundle/byte_swap.h
  tensorflow/python/saved_model/loader_impl.py
Labels: cla: yes, ready to pull, size:XS

#50601 [PluggableDevice] add DEVICE_DEFAULT for Mutex/DestroyResource/Sequence ops
  tensorflow/core/kernels/mutex_ops.cc
  tensorflow/core/kernels/resource_variable_ops.cc
  tensorflow/core/kernels/sequence_ops.cc
Labels: cla: yes, ready to pull, size:S, comp:core

#52021 [oneDNN] Fixing couple of unit tests that were failing due to missing device setting
  tensorflow/core/common_runtime/eager/execute.cc
  tensorflow/python/framework/node_file_writer_test.py
Labels: cla: yes, ready to pull, size:S

#52082 [XLA] Make EmitFullWarpShuffleDownLoopForReduce test the required condition.
  tensorflow/compiler/xla/service/gpu/ir_emitter_unnested.cc
  tensorflow/compiler/xla/service/gpu/ir_emitter_unnested.h
Labels: cla: yes, stat:awaiting response, ready to pull, comp:xla, size:S

#52080 Migrate fuzzing to new atheris version
  tensorflow/security/fuzzing/constant_fuzz.py
  tensorflow/security/fuzzing/dataFormatVecPermute_fuzz.py
  tensorflow/security/fuzzing/immutableConst_fuzz.py
  tensorflow/security/fuzzing/raggedCountSparseOutput_fuzz.py
  tensorflow/security/fuzzing/sparseCountSparseOutput_fuzz.py
  tensorflow/security/fuzzing/tf2migration_fuzz.py
Labels: cla: yes, ready to pull, size:M

#52095 Update device_setter guide for v1 compatibility
  tensorflow/python/training/device_setter.py
Labels: cla: yes, ready to pull, size:XS, prtype:bugfix

#52126 Update version numbers for TensorFlow 2.7.0-rc0
  tensorflow/core/public/version.h
  tensorflow/tools/pip_package/setup.py
Labels: cla: yes

#52093 [MHLO]: refine delete redundant specialization function
  tensorflow/compiler/mlir/hlo/include/mlir-hlo/Dialect/mhlo/transforms/map_lmhlo_to_scalar_op.h
Labels: cla: yes, ready to pull, size:L

#52100 enable cholesky_op (#1449)
  tensorflow/core/kernels/linalg/BUILD
  tensorflow/core/kernels/linalg/cholesky_op_gpu.cu.cc
  tensorflow/core/util/gpu_solvers.h
  tensorflow/core/util/rocm_solvers.cc
  tensorflow/stream_executor/rocm/rocsolver_wrapper.h
Labels: cla: yes, ready to pull, size:M, comp:core

#52111 Fix: indentation of block in the `__add__` docstring
  tensorflow/python/ops/math_ops.py
Labels: cla: yes, ready to pull, comp:ops, size:S

#50140 [PluggableDevice] Add TF_OpKernelConstruction_GetAttrTensor and TF_OpKernelConstruction_GetAttrTensorList
  tensorflow/c/kernels.cc
  tensorflow/c/kernels.h
  tensorflow/c/kernels_test.cc
Labels: cla: yes, kokoro:force-run, ready to pull, size:M

#52120 Update release notes for TensorFlow 2.7.0
  RELEASE.md
Labels: cla: yes, size:XS

#52172 Add better determinism error messages to some random ops.
  tensorflow/python/kernel_tests/fractional_max_pool_op_test.py
  tensorflow/python/ops/image_ops_impl.py
  tensorflow/python/ops/image_ops_test.py
  tensorflow/python/ops/nn_ops.py
Labels: cla: yes, ready to pull, size:M

#52189 Mark fail test as nopip..merging to r2.7
  tensorflow/compiler/xla/service/BUILD
Labels: cla: yes

#52191 Removes dependency of resource_var.h in stateful_random_ops_cpu_gpu.h…merge to 2.7
  tensorflow/core/kernels/stateful_random_ops_cpu_gpu.h
Labels: cla: yes

#51475 [TF:TRT] Enable dynamic shape for "slice" and "strided slice" operations.
  tensorflow/compiler/tf2tensorrt/BUILD
  tensorflow/compiler/tf2tensorrt/common/utils.h
  tensorflow/compiler/tf2tensorrt/convert/convert_nodes.cc
  tensorflow/compiler/tf2tensorrt/convert/convert_nodes_test.cc
  tensorflow/compiler/tf2tensorrt/convert/ops/layer_utils.h
  tensorflow/compiler/tf2tensorrt/convert/ops/slice_ops.cc
  tensorflow/compiler/tf2tensorrt/convert/ops/slice_ops.h
  tensorflow/compiler/tf2tensorrt/convert/utils.cc
  tensorflow/compiler/tf2tensorrt/convert/utils.h
Labels: cla: yes, ready to pull, size:L, comp:gpu:tensorrt

#52202 Fix MacOS TF build by reverting an LLVM commit locally.
  third_party/llvm/macos_build_fix.patch
  third_party/llvm/workspace.bzl
Labels: cla: yes
