Repository tensorflow/tensorflow, pull requests merged in 2021-01, with the labels that each got.

#46013 Adjust error message of tf.debugging.assert_type
  tensorflow/python/kernel_tests/check_ops_test.py
  tensorflow/python/ops/check_ops.py
Labels: cla: yes, prtype:bugfix, ready to pull, size:XS

#46152 Update SQLite to the lastest sqlite-amalgamation-3340000
  tensorflow/workspace.bzl
Labels: cla: no, waiting for patch release

#46153 Update SQLite to the lastest sqlite-amalgamation-3340000
  tensorflow/workspace.bzl
Labels: cla: no, waiting for patch release

#46154 Update SQLite to the lastest sqlite-amalgamation-3340000
  tensorflow/workspace.bzl
Labels: cla: no, waiting for patch release

#46155 Update SQLite to the lastest sqlite-amalgamation-3340000
  tensorflow/workspace.bzl
Labels: cla: no, waiting for patch release

#46156 Update SQLite to the lastest sqlite-amalgamation-3340000
  tensorflow/workspace.bzl
Labels: cla: no, waiting for patch release

#46157 Update SQLite to the lastest sqlite-amalgamation-3340000
  tensorflow/workspace.bzl
Labels: cla: no, waiting for patch release

#45763 Update release notes for TensorFlow 1.15.5
  RELEASE.md
Labels: cla: yes, size:XS

#45767 Update release notes for TensorFlow 2.0.4
  RELEASE.md
Labels: cla: yes, size:XS

#45766 Update release notes for TensorFlow 2.1.3
  RELEASE.md
Labels: cla: yes, size:XS

#45768 Update release notes for TensorFlow 2.2.2
  RELEASE.md
Labels: cla: yes, size:XS

#45769 Update release notes for TensorFlow 2.3.2
  RELEASE.md
Labels: cla: yes, size:XS

#44823 [INTEL MKL] DNN 0.x code cleanup - forward conv ops
  tensorflow/core/kernels/mkl/mkl_conv_ops.cc
  tensorflow/core/kernels/mkl/mkl_conv_ops.h
Labels: cla: yes, comp:mkl, ready to pull, size:L

#45133 [Intel-MKL] Adding support to use Icelake compilation options.
  tensorflow/tools/ci_build/linux/mkl/Dockerfile.devel-mkl
  tensorflow/tools/ci_build/linux/mkl/build-dev-container.sh
  tensorflow/tools/ci_build/linux/mkl/install_openmpi_horovod.sh
  tensorflow/tools/ci_build/linux/mkl/set-build-env.py
Labels: cla: yes, comp:mkl, ready to pull, size:M

#45694 Fix for TensorFlow Lite to parse tensor shape signature safely on big endian machines
  tensorflow/lite/core/subgraph.h
  tensorflow/lite/interpreter_builder.cc
Labels: cla: yes, comp:lite, ready to pull, size:S

#46024 Extract reference for op SPACE_TO_DEPTH to standalone header
  tensorflow/lite/kernels/internal/BUILD
  tensorflow/lite/kernels/internal/reference/reference_ops.h
  tensorflow/lite/kernels/internal/reference/space_to_depth.h
Labels: cla: yes, comp:micro, ready to pull, size:M

#46021 Extract a function for parsing op SPACE_TO_DEPTH
  tensorflow/lite/core/api/flatbuffer_conversions.cc
  tensorflow/lite/core/api/flatbuffer_conversions.h
Labels: cla: yes, comp:micro, ready to pull, size:S

#46097 [INTEL MKL] Change order for remapper
  tensorflow/core/grappler/optimizers/meta_optimizer.cc
Labels: cla: yes, comp:grappler, ready to pull, size:XS

#45989 Fix some message typos
  tensorflow/lite/kernels/concatenation.cc
  tensorflow/lite/kernels/unidirectional_sequence_lstm.cc
Labels: cla: yes, comp:lite, ready to pull, size:XS

#46004 Normalizing checkpoint path for Windows File System in Saver.py
  tensorflow/python/training/checkpoint_management_test.py
  tensorflow/python/training/saver.py
Labels: cla: yes, ready to pull, size:XS

#46138 Only use pthread_getname on glibc and FreeBSD
  tensorflow/core/platform/default/env.cc
Labels: cla: yes, comp:core, ready to pull, size:XS

#46149 micro: in CONTRIBUTING.md, fix path to test script
  tensorflow/lite/micro/CONTRIBUTING.md
Labels: cla: yes, comp:micro, ready to pull, size:XS

#45620 [TFTRT] Disable non TRT optimization fix
  tensorflow/python/compiler/tensorrt/BUILD
  tensorflow/python/compiler/tensorrt/test/tf_trt_integration_test_base.py
  tensorflow/python/compiler/tensorrt/trt_convert.py
  tensorflow/python/compiler/tensorrt/utils.py
Labels: cla: yes, comp:gpu:tensorrt, size:M, stat:awaiting response

#45115 [INTEL MKL] MKL DNN 0.x code clean -- common_runtime and ops modules
  tensorflow/core/common_runtime/mkl_layout_pass.cc
  tensorflow/core/common_runtime/mkl_layout_pass_test.cc
  tensorflow/core/ops/nn_ops.cc
Labels: cla: yes, comp:mkl, ready to pull, size:S

#46141 [tf.data service] test zipped datasets with different processing modes
  tensorflow/python/data/experimental/kernel_tests/data_service_ops_test.py
Labels: cla: yes, comp:data, ready to pull, size:S

#46139 [tf.data] fix the example in DispatchServer docstring
  tensorflow/python/data/experimental/service/server_lib.py
Labels: cla: yes, comp:data, ready to pull, size:S

#45554 [INTEL MKL] Enable DNNL cpu dispatch control
  third_party/mkl_dnn/mkldnn_v1.BUILD
Labels: cla: yes, comp:mkl, ready to pull, size:XS

#46184 Remove `-march=native`. Testing for #45744, #45866, #44701
  configure.py
Labels: cla: yes

#46185 Continue removing `-march=native`
  configure.py
Labels: cla: yes

#45868 Extract reference for operator FLOOR_MOD to standalone header
  tensorflow/lite/kernels/internal/BUILD
  tensorflow/lite/kernels/internal/reference/floor_mod.h
  tensorflow/lite/kernels/internal/reference/reference_ops.h
Labels: cla: yes, comp:lite, comp:micro, prtype:bugfix, ready to pull, size:M

#46147 Failed to build wheel on MacOS Big Sur
  tensorflow/tools/pip_package/build_pip_package.sh
Labels: cla: yes, ready to pull, size:S

#45655 Use a raw string for docstring with TeX
  tensorflow/python/ops/signal/mel_ops.py
Labels: awaiting review, cla: yes, comp:ops, ready to pull, size:XS

#46122 Update README.md
  tensorflow/lite/tools/benchmark/README.md
Labels: awaiting review, cla: yes, comp:lite, ready to pull, size:XS

#45939 Support OpenCL 1.1 properly by forcing buffer usage in kernels that don't check .SupportsImageBuffer()
  tensorflow/lite/delegates/gpu/common/tasks/depthwise_conv.cc
  tensorflow/lite/delegates/gpu/common/tasks/depthwise_conv_3x3.cc
  tensorflow/lite/delegates/gpu/common/tasks/fully_connected.cc
Labels: cla: yes, comp:lite, ready to pull, size:XS

#46193 Path fix for local build of openssh
  tensorflow/tools/ci_build/linux/mkl/install_openmpi_horovod.sh
Labels: cla: yes, comp:mkl, ready to pull, size:S

#44104 Avoid doing reset when position is still in buffer in BufferedInputStream.
  tensorflow/core/lib/io/buffered_inputstream.cc
  tensorflow/core/lib/io/buffered_inputstream_test.cc
Labels: cla: yes, comp:core, prtype:bugfix, ready to pull, size:S

#46190 [Dockerfile] move stubs to the end of LD_LIBRARY_PATH
  tensorflow/tools/dockerfiles/dockerfiles/devel-gpu-jupyter.Dockerfile
  tensorflow/tools/dockerfiles/dockerfiles/devel-gpu.Dockerfile
  tensorflow/tools/dockerfiles/dockerfiles/onednn/ubuntu-20.04-devel-mpich-horovod.Dockerfile
  tensorflow/tools/dockerfiles/dockerfiles/ppc64le/devel-gpu-ppc64le-jupyter.Dockerfile
  tensorflow/tools/dockerfiles/dockerfiles/ppc64le/devel-gpu-ppc64le.Dockerfile
  tensorflow/tools/dockerfiles/partials/ubuntu/devel-nvidia.partial.Dockerfile
Labels: cla: yes, ready to pull, size:S

#46187 Add target and pass_string parameters to the renode test script to fix #46186
  tensorflow/lite/micro/testing/test_with_renode.sh
  tensorflow/lite/micro/tools/make/Makefile
  tensorflow/lite/micro/tools/make/helper_functions.inc
  tensorflow/lite/micro/tools/make/targets/bluepill_makefile.inc
  tensorflow/lite/micro/tools/make/targets/stm32f4_makefile.inc
Labels: cla: yes, comp:micro, ready to pull, size:S

#46238 Include and build xa_nnlib with TARGET_ARCH=fusion_f1.
  tensorflow/lite/micro/tools/make/ext_libs/xtensa.inc
Labels: cla: yes, comp:micro, ready to pull, size:S

#45161 [ROCm] Adding ROCm support for the `run_pip_tests.sh` script
  tensorflow/tools/ci_build/builds/run_pip_tests.sh
Labels: awaiting review, cla: yes, comp:gpu, ready to pull, size:S

#45850 [INTEL MKL] Graph pattern matcher for grappler.
  tensorflow/core/grappler/utils/BUILD
  tensorflow/core/grappler/utils/pattern_utils.cc
  tensorflow/core/grappler/utils/pattern_utils.h
  tensorflow/core/grappler/utils/pattern_utils_test.cc
Labels: cla: yes, comp:grappler, ready to pull, size:L

#46220 Tensorflow Lite Micro micro_speech example suppress warning on MacOS build
  tensorflow/lite/micro/examples/micro_speech/osx/audio_provider.cc
Labels: cla: yes, comp:micro, ready to pull, size:XS

#46200 Extract reference for operator ADD_N to standalone header
  tensorflow/lite/kernels/internal/BUILD
  tensorflow/lite/kernels/internal/reference/add_n.h
  tensorflow/lite/kernels/internal/reference/reference_ops.h
Labels: cla: yes, comp:lite, comp:micro, prtype:bugfix, ready to pull, size:M

#45867 Extract a function for parsing operator FLOOR_MOD
  tensorflow/lite/core/api/flatbuffer_conversions.cc
  tensorflow/lite/core/api/flatbuffer_conversions.h
Labels: cla: yes, comp:lite, comp:micro, prtype:bugfix, ready to pull, size:S

#45754 fix infinite loop when using fuel for multi-output fusion
  tensorflow/compiler/xla/service/gpu/multi_output_fusion.cc
Labels: cla: yes, comp:xla, ready to pull, size:XS

#46204 Update custom_gradient.py
  tensorflow/python/ops/custom_gradient.py
Labels: cla: yes, comp:ops, ready to pull, size:XS

#45204 Keras TB callback: Fix write_steps_per_second when profile_batch=0
  tensorflow/python/keras/callbacks.py
  tensorflow/python/keras/callbacks_test.py
Labels: cla: yes, comp:keras, ready to pull, size:XS

#46183 tflite-nnapi Handle version 2 of transpose conv
  tensorflow/lite/delegates/nnapi/nnapi_delegate.cc
Labels: cla: yes, comp:lite, prtype:bugfix, ready to pull, size:XS

#46221 [ROCm] Raising the memory allocation cap for GPU unit tests from 1GB to 2GB
  tensorflow/python/ops/numpy_ops/BUILD
  tensorflow/tools/ci_build/gpu_build/parallel_gpu_execute.sh
Labels: cla: yes, comp:gpu, ready to pull, size:S

#46219 [ROCm] Fix for breakage in XLA Conv Op functionality
  tensorflow/compiler/xla/service/gpu/ir_emitter_unnested.cc
Labels: cla: yes, comp:gpu, ready to pull, size:XS

#45798 Cleanup `tensorflow/c/experimental/gradients/` part 2
  tensorflow/c/eager/mnist_gradients_test.cc
  tensorflow/c/eager/mnist_gradients_testutil.cc
  tensorflow/c/eager/mnist_gradients_testutil.h
  tensorflow/c/experimental/gradients/grad_test_helper.cc
  tensorflow/c/experimental/gradients/grad_test_helper.h
  tensorflow/c/experimental/gradients/nn_grad_test.cc
Labels: cla: yes, ready to pull, size:M

#41341 Use copy instead of deepcopy for sklearn wrapper
  tensorflow/python/keras/wrappers/scikit_learn.py
Labels: cla: yes, comp:keras, ready to pull, size:XS

#46198 Move CMSIS downloads to a separate script.
  tensorflow/lite/micro/tools/make/bash_helpers.sh
  tensorflow/lite/micro/tools/make/ext_libs/cmsis_download.sh
  tensorflow/lite/micro/tools/make/ext_libs/cmsis_nn.inc
  tensorflow/lite/micro/tools/make/ext_libs/ethosu.inc
  tensorflow/lite/micro/tools/make/flatbuffers_download.sh
  tensorflow/lite/micro/tools/make/renode_download.sh
  tensorflow/lite/micro/tools/make/targets/apollo3evb_makefile.inc
  tensorflow/lite/micro/tools/make/targets/bluepill_makefile.inc
  tensorflow/lite/micro/tools/make/targets/stm32f4_makefile.inc
  tensorflow/lite/micro/tools/make/third_party_downloads.inc
Labels: cla: yes, comp:micro, prtype:bugfix, ready to pull, size:M

#46263 Fix a minor formatting error in lite/kernels/expand_dims.cc
  tensorflow/lite/kernels/expand_dims.cc
Labels: cla: yes, comp:lite, ready to pull, size:M

#46160 micro: copy op SPACE_TO_DEPTH kernel from lite
  tensorflow/lite/micro/kernels/space_to_depth.cc
  tensorflow/lite/micro/kernels/space_to_depth_test.cc
Labels: cla: yes, comp:micro, ready to pull, size:L

#45567 Update README.md
  tensorflow/lite/tools/benchmark/README.md
Labels: cla: yes, comp:lite, ready to pull, size:XS

#46159 micro: copy op DEPTH_TO_SPACE kernel from lite
  tensorflow/lite/micro/kernels/depth_to_space.cc
  tensorflow/lite/micro/kernels/depth_to_space_test.cc
Labels: cla: yes, comp:micro, ready to pull, size:L

#46259 [ROCm] Misc XLA updates for the ROCm platform - 210107
  tensorflow/compiler/tests/image_ops_test.py
  tensorflow/compiler/xla/tests/BUILD
  tensorflow/compiler/xla/tests/convolution_test.cc
  tensorflow/compiler/xla/tests/dot_operation_test.cc
Labels: cla: yes, comp:gpu, ready to pull, size:S

#44991 [INTEL MKL] MKL DNN 0.x code clean -- pooling ops
  tensorflow/core/kernels/mkl/mkl_avgpooling_op.cc
  tensorflow/core/kernels/mkl/mkl_maxpooling_op.cc
  tensorflow/core/kernels/mkl/mkl_pooling_ops_common.cc
  tensorflow/core/kernels/mkl/mkl_pooling_ops_common.h
Labels: cla: yes, comp:mkl, ready to pull, size:L

#45817 [INTEL MKL] DNN 0.x code cleanup - Fused Matmul op
  tensorflow/core/kernels/mkl/mkl_matmul_op_fused.cc
  tensorflow/core/kernels/mkl/mkl_quantize_op.cc
Labels: cla: yes, comp:mkl, ready to pull, size:M

#46267 Remove unneccessary define.
  tensorflow/lite/micro/tools/make/ext_libs/xtensa.inc
Labels: cla: yes, comp:micro, ready to pull, size:XS

#46063 Fix conv layer for partially unknown spatial shape
  tensorflow/python/keras/layers/convolutional.py
  tensorflow/python/keras/layers/convolutional_test.py
Labels: cla: yes, comp:keras, ready to pull, size:S

#46105 Fix MobileNetV3 Preprocess
  tensorflow/python/keras/applications/mobilenet_v3.py
Labels: cla: yes, comp:keras, ready to pull, size:XS

#46228 NFC - minor spelling tweaks under lite directory
  tensorflow/lite/delegates/gpu/common/testing/feature_parity/utils.h
  tensorflow/lite/experimental/examples/lstm/input_data.py
  tensorflow/lite/g3doc/guide/ops_version.md
  tensorflow/lite/g3doc/performance/delegates.md
  tensorflow/lite/micro/examples/micro_speech/apollo3/compare_1k.py
  tensorflow/lite/python/lite_test.py
  tensorflow/lite/python/schema_util.py
  tensorflow/lite/python/tflite_keras_util.py
  tensorflow/lite/schema/schema_utils.h
  tensorflow/lite/special_rules.bzl
  tensorflow/lite/testing/model_coverage/model_coverage_lib.py
  tensorflow/lite/testing/op_tests/not_equal.py
  tensorflow/lite/toco/python/toco_from_protos.py
  tensorflow/lite/tools/benchmark/android/README.md
Labels: cla: yes, comp:lite, ready to pull, size:S

#46271 TFLite: iOS: Ensure we use the iOS mktemp
  tensorflow/lite/ios/hide_symbols_with_allowlist.sh
Labels: cla: yes, comp:lite, ready to pull, size:S

#45022 [XLA] Lower TF/XLA overhead by creating less objects
  tensorflow/compiler/xla/service/executable.h
  tensorflow/compiler/xla/service/gpu/gpu_executable.cc
  tensorflow/compiler/xla/service/gpu/gpu_executable.h
Labels: cla: yes, comp:xla, ready to pull, size:M

#45457 micro: copy operator FILL kernel from lite
  tensorflow/lite/micro/kernels/fill.cc
  tensorflow/lite/micro/kernels/fill_test.cc
Labels: cla: yes, comp:micro, prtype:bugfix, ready to pull, size:L

#45818 Add GPU kernels for SparseApply[Proximal]Adagrad
  tensorflow/core/kernels/training_ops.cc
  tensorflow/core/kernels/training_ops_gpu.cu.cc
  tensorflow/python/training/training_ops_test.py
Labels: cla: yes, comp:core, ready to pull, size:L

#46202 Extract a function for parsing operator ADD_N
  tensorflow/lite/core/api/flatbuffer_conversions.cc
  tensorflow/lite/core/api/flatbuffer_conversions.h
Labels: cla: yes, comp:lite, comp:micro, prtype:bugfix, ready to pull, size:S

#46298 Allow more of the internal checks to have open-source counterparts.
  tensorflow/lite/micro/kernels/detection_postprocess.cc
  tensorflow/lite/micro/tools/ci_build/helper_functions.sh
  tensorflow/lite/micro/tools/ci_build/test_code_style.sh
Labels: cla: yes, comp:micro, ready to pull, size:M

#46287 TFLu: Update downloaded GCC version to 10
  tensorflow/lite/micro/tools/make/arm_gcc_download.sh
  tensorflow/lite/micro/tools/make/targets/apollo3evb_makefile.inc
  tensorflow/lite/micro/tools/make/targets/bluepill_makefile.inc
  tensorflow/lite/micro/tools/make/targets/cortex_m_generic_makefile.inc
  tensorflow/lite/micro/tools/make/targets/mbed_makefile.inc
  tensorflow/lite/micro/tools/make/targets/stm32f4_makefile.inc
  tensorflow/lite/micro/tools/make/third_party_downloads.inc
Labels: cla: yes, comp:micro, ready to pull, size:M

#46265 Have artifcat directory be different for different build_types.
  tensorflow/lite/micro/tools/ci_build/test_arduino.sh
  tensorflow/lite/micro/tools/make/Makefile
Labels: cla: yes, comp:micro, ready to pull, size:XS

#40849 changed EarlyStopping so best weights are also loaded at the end of training
  tensorflow/python/keras/callbacks.py
Labels: cla: yes, comp:keras, ready to pull, size:XS

#46232 [ROCm] Update ROCm XLA backend to use GCN Arch Name
  tensorflow/compiler/mlir/tools/kernel_gen/transforms/gpu_kernel_to_blob_pass.cc
  tensorflow/compiler/xla/service/gpu/amdgpu_compiler.cc
  tensorflow/compiler/xla/service/gpu/gpu_executable.cc
  tensorflow/compiler/xla/service/gpu/gpu_types.h
  tensorflow/compiler/xla/service/gpu/llvm_gpu_backend/gpu_backend_lib.cc
  tensorflow/compiler/xla/tests/llvm_compiler_test.cc
  tensorflow/core/common_runtime/gpu/gpu_device.cc
  tensorflow/stream_executor/cuda/cuda_driver.cc
  tensorflow/stream_executor/device_description.cc
  tensorflow/stream_executor/device_description.h
  tensorflow/stream_executor/gpu/gpu_driver.h
  tensorflow/stream_executor/rocm/rocm_driver.cc
  tensorflow/stream_executor/rocm/rocm_gpu_executor.cc
  tensorflow/stream_executor/tpu/c_api_decl.h
Labels: cla: yes, comp:gpu, ready to pull, size:M

#46216 Extract reference for operator LEAKY_RELU to standalone header
  tensorflow/lite/kernels/internal/BUILD
  tensorflow/lite/kernels/internal/reference/leaky_relu.h
  tensorflow/lite/kernels/internal/reference/reference_ops.h
Labels: cla: yes, comp:lite, comp:micro, prtype:bugfix, ready to pull, size:M

#44370 Add GPU headers to //tensorflow/core:headers
  tensorflow/core/BUILD
Labels: awaiting review, cla: yes, comp:core, size:XS

#45934 [Intel MKL] CNMS performance optimization by using priority queue
  tensorflow/core/kernels/image/non_max_suppression_op.cc
Labels: cla: yes, comp:mkl, ready to pull, size:S

#46302 Include C env API into part of the libtensorflow_framework.so
  tensorflow/BUILD
  tensorflow/c/BUILD
  tensorflow/c/env.cc
  tensorflow/c/env.h
Labels: cla: yes, ready to pull, size:S

#46350 Explicitly disable layering check for TFLM bazel packages.
  tensorflow/lite/micro/BUILD
  tensorflow/lite/micro/benchmarks/BUILD
  tensorflow/lite/micro/examples/hello_world/BUILD
  tensorflow/lite/micro/examples/image_recognition_experimental/BUILD
  tensorflow/lite/micro/examples/magic_wand/BUILD
  tensorflow/lite/micro/examples/micro_speech/BUILD
  tensorflow/lite/micro/examples/micro_speech/micro_features/BUILD
  tensorflow/lite/micro/examples/person_detection/BUILD
  tensorflow/lite/micro/examples/person_detection/utils/BUILD
  tensorflow/lite/micro/kernels/BUILD
  tensorflow/lite/micro/kernels/test_data_generation/BUILD
  tensorflow/lite/micro/memory_planner/BUILD
  tensorflow/lite/micro/testing/BUILD
Labels: cla: yes, comp:micro, ready to pull, size:M

#44827 Adding the description corresponding to subset=validation, added raises section and modified save_format
  tensorflow/python/keras/preprocessing/image.py
Labels: cla: yes, comp:keras, ready to pull, size:XS, type:docs-bug

#46237 [tf.data] enhance encapsulation for IteratorResource State
  tensorflow/core/kernels/data/iterator_ops.cc
  tensorflow/core/kernels/data/iterator_ops.h
Labels: cla: yes, comp:data, ready to pull, size:M

#45862 [TFTRT - Dynamic Shape Phase 3] Add Dynamic Shape Testing for ConvertArgMinMax
  tensorflow/compiler/tf2tensorrt/convert/convert_nodes.cc
  tensorflow/compiler/tf2tensorrt/convert/convert_nodes_test.cc
Labels: cla: yes, comp:gpu:tensorrt, ready to pull, size:L

#46313 Add tf.qint32 support for tf.zeros
  tensorflow/core/kernels/constant_op.cc
  tensorflow/core/kernels/fill_functor.cc
  tensorflow/python/kernel_tests/constant_op_test.py
Labels: cla: yes, prtype:bugfix, ready to pull, size:S

#46242 Refactoring fully_connected to share code between reference and optimized kernels.
  tensorflow/lite/micro/kernels/BUILD
  tensorflow/lite/micro/kernels/cmsis-nn/fully_connected.cc
  tensorflow/lite/micro/kernels/fully_connected.cc
  tensorflow/lite/micro/kernels/fully_connected.h
  tensorflow/lite/micro/kernels/fully_connected_common.cc
  tensorflow/lite/micro/kernels/xtensa/fully_connected.cc
  tensorflow/lite/micro/tools/make/Makefile
Labels: cla: yes, comp:micro, ready to pull, size:L

#46351 Lower Size to Prod(Shape)
  tensorflow/compiler/mlir/tensorflow/tests/lower_tf.mlir
  tensorflow/compiler/mlir/tensorflow/transforms/lower_tf.td
  tensorflow/compiler/mlir/xla/tests/legalize-tf.mlir
  tensorflow/compiler/mlir/xla/transforms/legalize_tf.cc
Labels: cla: yes, ready to pull, size:M

#46215 Extract a function for parsing operator LEAKY_RELU
  tensorflow/lite/core/api/flatbuffer_conversions.cc
  tensorflow/lite/core/api/flatbuffer_conversions.h
Labels: cla: yes, comp:lite, comp:micro, prtype:bugfix, ready to pull, size:S

#46158 Extract reference for op DEPTH_TO_SPACE to standalone header
  tensorflow/lite/kernels/internal/BUILD
  tensorflow/lite/kernels/internal/reference/depth_to_space.h
  tensorflow/lite/kernels/internal/reference/reference_ops.h
Labels: cla: yes, comp:micro, ready to pull, size:M

#46360 added double braces to initialization
  tensorflow/lite/micro/examples/network_tester/expected_output_data.h
Labels: cla: yes, comp:micro, ready to pull, size:XS

#40062 [TF-TRT] Fix TopK Combined NMS
  tensorflow/compiler/tf2tensorrt/convert/convert_nodes.cc
  tensorflow/compiler/tf2tensorrt/convert/convert_nodes_test.cc
  tensorflow/python/compiler/tensorrt/test/combined_nms_test.py
Labels: cla: yes, comp:gpu:tensorrt, ready to pull, size:XS

#45815 Copy TFL kernel CAST and cast_test into TFLM kernel without changes
  tensorflow/lite/micro/kernels/cast.cc
Labels: cla: yes, comp:lite, comp:micro, ready to pull, size:L

#46026 Extract a function for parsing op DEPTH_TO_SPACE
  tensorflow/lite/core/api/flatbuffer_conversions.cc
  tensorflow/lite/core/api/flatbuffer_conversions.h
Labels: cla: yes, comp:micro, ready to pull, size:S

#46398 Switching to Cadence HiFi 4 NN Library v2.3.0
  tensorflow/lite/micro/tools/make/ext_libs/xtensa_download.sh
Labels: cla: yes, comp:micro, ready to pull, size:XS

#46224 Add int8 and int16x8 support for BROADCAST_TO operator
  tensorflow/lite/kernels/register.cc
  tensorflow/lite/kernels/register_ref.cc
  tensorflow/lite/tools/optimize/BUILD
  tensorflow/lite/tools/optimize/operator_property.cc
  tensorflow/lite/tools/optimize/quantize_model_test.cc
  tensorflow/lite/tools/optimize/test_util.cc
  tensorflow/lite/tools/optimize/test_util.h
  tensorflow/lite/tools/optimize/testdata/broadcast_to.bin
  tensorflow/lite/tools/versioning/op_version.cc
  tensorflow/lite/tools/versioning/op_version_test.cc
  tensorflow/lite/tools/versioning/runtime_version.cc
Labels: cla: yes, comp:lite, ready to pull, size:M

#46299 TF-TRT Test ConvertTopK in dynamic shape mode
  tensorflow/compiler/tf2tensorrt/convert/convert_nodes_test.cc
Labels: cla: yes, comp:gpu:tensorrt, ready to pull, size:M

#46381 TF-TRT improve documentation of execution context handling
  tensorflow/compiler/tf2tensorrt/utils/trt_lru_cache.h
Labels: cla: yes, comp:gpu:tensorrt, ready to pull, size:XS

#45404 Make TensorFlow build on Apple Silicon
  .bazelrc
  tensorflow/BUILD
  tensorflow/compiler/aot/tfcompile.bzl
  tensorflow/lite/kernels/internal/BUILD
  tensorflow/tensorflow.bzl
  tensorflow/tools/pip_package/build_pip_package.sh
  third_party/cpuinfo/BUILD.bazel
  third_party/llvm/llvm.bzl
  third_party/nccl/archive.BUILD
  third_party/remote_config/remote_platform_configure.bzl
Labels: cla: yes, ready to pull, size:M

#46433 [Cherrypick:r2.4] Pass cc_opt_flags to host_copt
  configure.py
Labels: cla: yes

#45049 docs(tflite): remove '--linkopt' flag
  tensorflow/lite/delegates/gpu/BUILD
Labels: awaiting review, cla: yes, comp:lite, ready to pull, size:XS

#46239 Refactor case BuiltinOperator_GATHER in flatbuffer_conversions
  tensorflow/lite/core/api/flatbuffer_conversions.cc
  tensorflow/lite/core/api/flatbuffer_conversions.h
Labels: cla: yes, comp:lite, comp:micro, ready to pull, size:S

#46439 [Cherrypick:r2.4] Install bazelisk in `docker_cpu_pip.sh`
  tensorflow/tools/ci_build/builds/docker_cpu_pip.sh
Labels: cla: yes

#46372 Change from model.predict_proba to using model.predict
  tensorflow/python/keras/wrappers/scikit_learn.py
Labels: cla: yes, comp:keras, ready to pull, size:XS

#45870 Extract reference for operator FLOOR_DIV to standalone header
  tensorflow/lite/kernels/floor_div.cc
  tensorflow/lite/kernels/internal/BUILD
  tensorflow/lite/kernels/internal/reference/floor_div.h
  tensorflow/lite/kernels/internal/reference/reference_ops.h
Labels: cla: yes, comp:lite, comp:micro, prtype:bugfix, ready to pull, size:S

#46264 Minor improvement in _NormalizingCombiner to use MEAN_IDX and VAR_IDX
  tensorflow/python/keras/layers/preprocessing/normalization.py
Labels: cla: yes, comp:keras, ready to pull, size:XS

#46397 Dynamic shape for block3 to support input_shape (None, None, 3)
  tensorflow/python/keras/applications/resnet.py
Labels: cla: yes, comp:keras, ready to pull, size:XS

#46468 [CherryPick:r2.4] Don't use `$HOME`, use `~`.
  tensorflow/tools/ci_build/builds/docker_cpu_pip.sh
Labels: cla: yes

#46438 Move schema version into micro_interpreter.h
  tensorflow/lite/micro/benchmarks/BUILD
  tensorflow/lite/micro/benchmarks/person_detection_benchmark.cc
  tensorflow/lite/micro/examples/hello_world/BUILD
  tensorflow/lite/micro/examples/hello_world/hello_world_test.cc
  tensorflow/lite/micro/examples/hello_world/main_functions.cc
  tensorflow/lite/micro/examples/image_recognition_experimental/BUILD
  tensorflow/lite/micro/examples/image_recognition_experimental/image_recognition_test.cc
  tensorflow/lite/micro/examples/image_recognition_experimental/main.cc
  tensorflow/lite/micro/examples/magic_wand/BUILD
  tensorflow/lite/micro/examples/magic_wand/magic_wand_test.cc
  tensorflow/lite/micro/examples/magic_wand/main_functions.cc
  tensorflow/lite/micro/examples/micro_speech/BUILD
  tensorflow/lite/micro/examples/micro_speech/apollo3/pushbutton_test.cc
  tensorflow/lite/micro/examples/micro_speech/ceva/main_functions.cc
  tensorflow/lite/micro/examples/micro_speech/main_functions.cc
  tensorflow/lite/micro/examples/micro_speech/micro_speech_test.cc
  tensorflow/lite/micro/examples/network_tester/network_tester_test.cc
  tensorflow/lite/micro/examples/person_detection/BUILD
  tensorflow/lite/micro/examples/person_detection/main_functions.cc
  tensorflow/lite/micro/examples/person_detection/person_detection_test.cc
  tensorflow/lite/micro/micro_interpreter.h
  tensorflow/lite/micro/tools/make/Makefile
Labels: cla: yes, comp:micro, ready to pull, size:S

#46470 Update the TFLM CI docs based on the new way to build a docker image.
  tensorflow/lite/micro/CONTRIBUTING.md
Labels: cla: yes, comp:micro, ready to pull, size:M

#46410 Use CudnnRNNV3 for the GRU and LSTM
  tensorflow/python/keras/layers/recurrent_v2.py
Labels: cla: yes, comp:keras, ready to pull, size:M

#46440 Remove 'Z' because it's a local time
  tensorflow/python/training/evaluation.py
Labels: cla: yes, ready to pull, size:XS

#45597 TF-TRT ConvertPad in dynamic shape mode
  tensorflow/compiler/tf2tensorrt/convert/convert_nodes.cc
  tensorflow/compiler/tf2tensorrt/convert/convert_nodes_test.cc
Labels: cla: yes, comp:gpu:tensorrt, ready to pull, size:M

#46179 Fix release notes
  RELEASE.md
Labels: cla: yes, waiting for patch release

#46338 [cherry-pick:r2.4] Keras SavedModel: Ignore custom metrics failure when compile=False
  tensorflow/python/keras/saving/saved_model/load.py
  tensorflow/python/keras/saving/saved_model/saved_model_test.py
Labels: cla: yes, size:S, waiting for patch release

#46346 [CherryPick:r2.4] Update build_pip_package.sh
  tensorflow/tools/pip_package/build_pip_package.sh
Labels: cla: yes, waiting for patch release

#46349 [Cherrypick:r2.4] Fix issue when using mixed precision with RMSprop.
  tensorflow/python/keras/mixed_precision/autocast_variable.py
  tensorflow/python/keras/mixed_precision/autocast_variable_test.py
Labels: cla: yes, waiting for patch release

#46375 [Cherrypick:2.4] Fix an exception when profiler is stopped twice
  tensorflow/python/kernel_tests/summary_ops_test.py
  tensorflow/python/ops/summary_ops_v2.py
Labels: cla: yes, waiting for patch release

#46045 [r2.4 cherry-pick]: fix `modular_filesystem` call itself
  tensorflow/c/experimental/filesystem/modular_filesystem.cc
Labels: cla: yes, size:S, waiting for patch release

#45896 Merge pull request #43269 from rhdong:Mutablehashtable lookup support…
  tensorflow/core/framework/lookup_interface.cc
  tensorflow/core/framework/lookup_interface.h
  tensorflow/core/kernels/lookup_table_op.cc
  tensorflow/core/ops/lookup_ops.cc
  tensorflow/core/ops/lookup_ops_test.cc
  tensorflow/python/kernel_tests/lookup_ops_test.py
  tensorflow/python/ops/lookup_ops.py
Labels: cla: yes, size:M, waiting for patch release

#45808 [INTEL MKL] cherry-pick peg docker version to '<=4.3.0' for partials
  tensorflow/tools/dockerfiles/tools.Dockerfile
Labels: cla: yes, size:XS, waiting for patch release

#45806 [INTEL MKL] cherry-pick fixes for 'Horovod>0.19.5' installation
  tensorflow/tools/dockerfiles/dockerfiles/onednn/ubuntu-18.04-mpi-horovod-jupyter.Dockerfile
  tensorflow/tools/dockerfiles/dockerfiles/onednn/ubuntu-18.04-mpi-horovod.Dockerfile
  tensorflow/tools/dockerfiles/dockerfiles/onednn/ubuntu-18.04-mpich-horovod-jupyter.Dockerfile
  tensorflow/tools/dockerfiles/dockerfiles/onednn/ubuntu-18.04-mpich-horovod.Dockerfile
  tensorflow/tools/dockerfiles/dockerfiles/onednn/ubuntu-20.04-mpi-horovod-jupyter.Dockerfile
  tensorflow/tools/dockerfiles/dockerfiles/onednn/ubuntu-20.04-mpi-horovod.Dockerfile
  tensorflow/tools/dockerfiles/dockerfiles/onednn/ubuntu-20.04-mpich-horovod-jupyter.Dockerfile
  tensorflow/tools/dockerfiles/dockerfiles/onednn/ubuntu-20.04-mpich-horovod.Dockerfile
  tensorflow/tools/dockerfiles/partials/onednn/ubuntu/2004-horovod.partial.Dockerfile
  tensorflow/tools/dockerfiles/partials/onednn/ubuntu/horovod.partial.Dockerfile
  tensorflow/tools/dockerfiles/spec.yml
Labels: cla: yes, size:S, waiting for patch release

#45715 Add Cuda 11 custom-op Dockerfile
  tensorflow/tools/ci_build/Dockerfile.custom_op_ubuntu_16_cuda11.0
Labels: cla: yes, waiting for patch release

#45614 Only use site.USER_SITE if site.ENABLE_USER_SITE is set
  tensorflow/api_template.__init__.py
Labels: cla: yes, size:XS, waiting for patch release

#46229 No longer compile with `-march=native`.
  configure.py
Labels: cla: yes, size:S, waiting for patch release

#46469 Update arm_gcc_download.sh
  tensorflow/lite/micro/tools/make/arm_gcc_download.sh
Labels: cla: yes, comp:micro, ready to pull, size:XS

#46404 Add support of tf.qint16 and tf.quint16 for tf.stack
  tensorflow/core/kernels/cwise_op_equal_to_1.cc
  tensorflow/core/kernels/cwise_op_not_equal_to_1.cc
  tensorflow/core/kernels/pack_op.cc
  tensorflow/python/kernel_tests/array_ops/stack_op_test.py
  tensorflow/python/kernel_tests/cwise_ops_binary_test.py
Labels: cla: yes, comp:core, ready to pull, size:S

#46364 add support for concatenated gzip in ZlibInputStream
  tensorflow/core/lib/io/zlib_inputstream.cc
Labels: cla: yes, comp:core, prtype:bugfix, ready to pull, size:XS

#46542 [CherryPick:r2.4] Pass cc_opt_flags to host_copt.
  configure.py
Labels: cla: yes

#46466 Add cuda 11.2 driver and runtime inc files
  tensorflow/stream_executor/cuda/cuda_11_2.inc
  tensorflow/stream_executor/cuda/cuda_runtime_11_2.inc
  tensorflow/stream_executor/cuda/cuda_stub.cc
  tensorflow/stream_executor/cuda/cudart_stub.cc
Labels: cla: yes, ready to pull, size:XL

#46399 Add RFC for pre-allocated tensors.
  tensorflow/lite/micro/README.md
  tensorflow/lite/micro/docs/images/preallocated_tensors/preallocated_tensors_bg_1.png
  tensorflow/lite/micro/docs/images/preallocated_tensors/preallocated_tensors_bg_2.png
  tensorflow/lite/micro/docs/images/preallocated_tensors/preallocated_tensors_impl1.png
  tensorflow/lite/micro/docs/preallocated_tensors.md
Labels: cla: yes, comp:micro, ready to pull, size:M

#46509 TFLM: Fix GCC unsafe pointer conversions
  tensorflow/lite/micro/kernels/ethos-u/ethosu.cc
Labels: cla: yes, comp:micro, prtype:bugfix, ready to pull, size:XS

#46411 Update xtensa fully_connected kernel to call into xa_nnlib.
  tensorflow/lite/micro/kernels/xtensa/fully_connected.cc
  tensorflow/lite/micro/kernels/xtensa/xtensa.h
  tensorflow/lite/micro/tools/make/ext_libs/xtensa.inc
Labels: cla: yes, comp:micro, ready to pull, size:S

#46260 Refactor case BuiltinOperator_EXPAND_DIMS in flatbuffer_conversions
  tensorflow/lite/core/api/flatbuffer_conversions.cc
  tensorflow/lite/core/api/flatbuffer_conversions.h
Labels: cla: yes, comp:lite, comp:micro, ready to pull, size:S

#46406 Cleanup `c/experimental/gradients/` part 3
  tensorflow/c/eager/gradients_test.cc
  tensorflow/c/experimental/gradients/BUILD
  tensorflow/c/experimental/gradients/grad_test_helper.cc
  tensorflow/c/experimental/gradients/grad_test_helper.h
  tensorflow/c/experimental/gradients/math_grad_test.cc
Labels: cla: yes, ready to pull, size:L

#46383 Port micro operator EXP and its test code
  tensorflow/lite/micro/kernels/BUILD
  tensorflow/lite/micro/kernels/exp.cc
  tensorflow/lite/micro/kernels/exp_test.cc
  tensorflow/lite/micro/kernels/micro_ops.h
  tensorflow/lite/micro/micro_mutable_op_resolver.h
Labels: cla: yes, comp:micro, prtype:bugfix, ready to pull, size:M

#46262 [tf.data service] Test split provider failures with distributed and zipped datasets
  tensorflow/python/data/experimental/kernel_tests/data_service_ops_test.py
Labels: cla: yes, comp:data, ready to pull, size:M

#46557 Update release notes for TensorFlow 2.4.1
  RELEASE.md
Labels: cla: yes

#46473 Switch cmsis-nn and ethos-u to using OPTIMIZED_KERNEL_DIR.
  tensorflow/lite/micro/cortex_m_generic/README.md
  tensorflow/lite/micro/tools/ci_build/test_all.sh
  tensorflow/lite/micro/tools/ci_build/test_arduino.sh
  tensorflow/lite/micro/tools/ci_build/test_cortex_m_generic.sh
  tensorflow/lite/micro/tools/ci_build/test_sparkfun.sh
  tensorflow/lite/micro/tools/ci_build/test_stm32f4.sh
  tensorflow/lite/micro/tools/ci_build/test_x86.sh
  tensorflow/lite/micro/tools/make/Makefile
  tensorflow/lite/micro/tools/make/ext_libs/cmsis-nn.inc
  tensorflow/lite/micro/tools/make/ext_libs/cmsis_nn.inc
  tensorflow/lite/micro/tools/make/ext_libs/ethos-u.inc
  tensorflow/lite/micro/tools/make/ext_libs/ethosu.inc
Labels: awaiting review, cla: yes, comp:micro, ready to pull, size:L

#46584 Rename directories to have underscores instead of dashes (cmsis-nn -> cmsis_nn and ethos-u -> ethos_u)
  tensorflow/lite/micro/cortex_m_generic/README.md
  tensorflow/lite/micro/examples/micro_speech/README.md
  tensorflow/lite/micro/kernels/cmsis_nn/README.md
  tensorflow/lite/micro/kernels/cmsis_nn/add.cc
  tensorflow/lite/micro/kernels/cmsis_nn/conv.cc
  tensorflow/lite/micro/kernels/cmsis_nn/depthwise_conv.cc
  tensorflow/lite/micro/kernels/cmsis_nn/fully_connected.cc
  tensorflow/lite/micro/kernels/cmsis_nn/mul.cc
  tensorflow/lite/micro/kernels/cmsis_nn/pooling.cc
  tensorflow/lite/micro/kernels/cmsis_nn/softmax.cc
  tensorflow/lite/micro/kernels/cmsis_nn/svdf.cc
  tensorflow/lite/micro/kernels/ethos_u/README.md
  tensorflow/lite/micro/kernels/ethos_u/ethosu.cc
  tensorflow/lite/micro/kernels/fully_connected.h
  tensorflow/lite/micro/tools/ci_build/test_all.sh
  tensorflow/lite/micro/tools/ci_build/test_arduino.sh
  tensorflow/lite/micro/tools/ci_build/test_cortex_m_generic.sh
  tensorflow/lite/micro/tools/ci_build/test_sparkfun.sh
  tensorflow/lite/micro/tools/ci_build/test_stm32f4.sh
  tensorflow/lite/micro/tools/make/Makefile
  tensorflow/lite/micro/tools/make/ext_libs/cmsis_nn.inc
  tensorflow/lite/micro/tools/make/ext_libs/ethos_u.inc
Labels: cla: yes, comp:micro, ready to pull, size:M

#46452 [BugFix] Fix bug when reduce dimension becomes empty in reduction_degenerate_dim_remover pass
  tensorflow/compiler/xla/service/gpu/reduction_degenerate_dim_remover.cc
  tensorflow/compiler/xla/service/gpu/tests/reduction_degenerate_dim_remover_test.cc
Labels: cla: yes, comp:xla, ready to pull, size:XS

#46150 Rewrite 1D dilated convolution
  tensorflow/compiler/mlir/lite/tests/dilated-conv.mlir
  tensorflow/compiler/mlir/lite/transforms/dilated_conv.h
Labels: cla: yes, ready to pull, size:M

#46545 [ROCm] Enabling/Disabling some unit tests (via no_rocm tag) on the ROCm platform
  tensorflow/compiler/tests/BUILD
  tensorflow/compiler/xla/client/lib/BUILD
  tensorflow/compiler/xla/service/gpu/BUILD
  tensorflow/compiler/xla/service/gpu/tests/BUILD
  tensorflow/compiler/xla/tests/BUILD
  tensorflow/python/BUILD
  tensorflow/python/distribute/BUILD
  tensorflow/python/keras/distribute/BUILD
  tensorflow/python/keras/integration_test/BUILD
  tensorflow/python/keras/layers/BUILD
  tensorflow/python/keras/optimizer_v2/BUILD
  tensorflow/python/profiler/integration_test/BUILD
  tensorflow/tools/docs/BUILD
Labels: awaiting review, cla: yes, comp:gpu, ready to pull, size:S

#46558 [Intel MKL] Re-enable Conv2D+Squeeze+BiasAdd fusion
  tensorflow/core/grappler/optimizers/remapper.cc
  tensorflow/core/grappler/optimizers/remapper_test.cc
Labels: cla: yes, comp:grappler, ready to pull, size:S

#46341 [XLA:GPU] Add a check to help prevent future bug
  tensorflow/compiler/xla/service/gpu/ir_emitter_unnested.cc
  tensorflow/compiler/xla/service/gpu/ir_emitter_unnested.h
Labels: cla: yes, comp:xla, ready to pull, size:S

#46590 Fix the source specialization for the examples (and minor fixes to the documentation).
  tensorflow/lite/micro/benchmarks/README.md
  tensorflow/lite/micro/kernels/cmsis_nn/README.md
  tensorflow/lite/micro/tools/make/helper_functions.inc
Labels: cla: yes, comp:micro, ready to pull, size:S

#46290 Add int8 and int16x8 support for GATHER_ND operator
  tensorflow/compiler/mlir/lite/ir/tfl_ops.td
  tensorflow/lite/kernels/gather_nd.cc
  tensorflow/lite/kernels/gather_nd_test.cc
  tensorflow/lite/kernels/register.cc
  tensorflow/lite/kernels/register_ref.cc
  tensorflow/lite/tools/optimize/BUILD
  tensorflow/lite/tools/optimize/operator_property.cc
  tensorflow/lite/tools/optimize/quantize_model_test.cc
  tensorflow/lite/tools/optimize/test_util.cc
  tensorflow/lite/tools/optimize/test_util.h
  tensorflow/lite/tools/optimize/testdata/gather_nd.bin
  tensorflow/lite/tools/versioning/op_version.cc
  tensorflow/lite/tools/versioning/op_version_test.cc
  tensorflow/lite/tools/versioning/runtime_version.cc
Labels: cla: yes, ready to pull, size:M

#46321 Fix InvalidArgumentError error when mixed precision policy is used in Attention/AdditiveAttention layer
  tensorflow/python/keras/layers/dense_attention.py
  tensorflow/python/keras/layers/dense_attention_test.py
  tensorflow/python/keras/mixed_precision/layer_correctness_test.py
Labels: cla: yes, comp:keras, prtype:bugfix, ready to pull, size:S

#46570 Update merge.py
  tensorflow/python/keras/layers/merge.py
Labels: cla: yes, comp:keras, ready to pull, size:XS

#46435 fix offset datatype for philox random kernel
  tensorflow/core/kernels/random_op_gpu.h
  tensorflow/core/kernels/scatter_functor_gpu.cu.h
Labels: cla: yes, comp:core, ready to pull, size:XS

#46550 Allow environment variables to execution of flatc command
  third_party/flatbuffers/build_defs.bzl
Labels: cla: yes, ready to pull, size:XS

#38214 Updated categorical_hinge loss docs in losses.py
  tensorflow/python/keras/losses.py
Labels: cla: yes, comp:keras, prtype:bugfix, ready to pull, size:XS

#46369 Add missing space in error message
  tensorflow/python/keras/callbacks.py
Labels: cla: yes, comp:keras, ready to pull, size:XS
