Repository tensorflow/tensorflow, pull requests merged in 2021-03, with the labels that each got.

#46046 Pylint upgrade 2.6.2
  tensorflow/tools/ci_build/install/install_centos_pip_packages.sh
  tensorflow/tools/ci_build/install/install_pip_packages.sh
  tensorflow/tools/ci_build/presubmit/ubuntu_16/sanity/build.sh
  tensorflow/tools/ci_build/pylint_allowlist
  tensorflow/tools/ci_build/rel/ubuntu/sanity.sh
  tensorflow/tools/ci_build/release/ubuntu_16/sanity/build.sh
Labels: cla: yes, ready to pull, size:S

#43884 Update Keras 2D convolution docs
  tensorflow/python/keras/layers/convolutional.py
Labels: cla: yes, comp:keras, ready to pull, size:XS

#47434 Add link to presentation, minor fixes
  tensorflow/lite/micro/docs/renode.md
Labels: cla: yes, comp:micro, ready to pull, size:S

#47367 Add a status badge for Arduino examples
  tensorflow/lite/micro/README.md
Labels: cla: yes, comp:micro, ready to pull, size:XS

#46562 [Intel MKL] Fixing threadpool bug
  tensorflow/core/kernels/mkl/mkl_aggregate_ops.cc
  tensorflow/core/kernels/mkl/mkl_avgpooling_op.cc
  tensorflow/core/kernels/mkl/mkl_batch_matmul_op.cc
  tensorflow/core/kernels/mkl/mkl_concat_op.cc
  tensorflow/core/kernels/mkl/mkl_conv_grad_filter_ops.cc
  tensorflow/core/kernels/mkl/mkl_conv_grad_input_ops.cc
  tensorflow/core/kernels/mkl/mkl_conv_ops.cc
  tensorflow/core/kernels/mkl/mkl_dequantize_op.cc
  tensorflow/core/kernels/mkl/mkl_fused_batch_norm_op.cc
  tensorflow/core/kernels/mkl/mkl_lrn_op.cc
  tensorflow/core/kernels/mkl/mkl_matmul_op.cc
  tensorflow/core/kernels/mkl/mkl_matmul_op_fused.cc
  tensorflow/core/kernels/mkl/mkl_matmul_ops_common.h
  tensorflow/core/kernels/mkl/mkl_maxpooling_op.cc
  tensorflow/core/kernels/mkl/mkl_qmatmul_op.cc
  tensorflow/core/kernels/mkl/mkl_quantize_op.cc
  tensorflow/core/kernels/mkl/mkl_relu_op.cc
  tensorflow/core/kernels/mkl/mkl_requantize_per_channel_op.cc
  tensorflow/core/kernels/mkl/mkl_slice_op.cc
  tensorflow/core/kernels/mkl/mkl_softmax_op.cc
  tensorflow/core/kernels/mkl/mkl_transpose_op.cc
  tensorflow/core/util/mkl_threadpool.h
  tensorflow/core/util/mkl_util.h
Labels: cla: yes, comp:mkl, ready to pull, size:M

#47374 Fixed docstring formatting for api_docs
  tensorflow/python/ops/nn_ops.py
Labels: cla: yes, comp:ops, ready to pull, size:XS

#47438 Correctly close file descriptors when loading saved models
  tensorflow/python/framework/meta_graph.py
  tensorflow/python/saved_model/loader_impl.py
  tensorflow/python/tools/saved_model_utils.py
Labels: cla: yes, ready to pull, size:S

#47483 Convert Pack to Reshape when there is only one operand to be packed.
  tensorflow/compiler/mlir/tensorflow/ir/tf_generated_ops.td
  tensorflow/compiler/mlir/tensorflow/ir/tf_ops_n_z.cc
  tensorflow/compiler/mlir/tensorflow/tests/canonicalize.mlir
Labels: TFLiteConverter, cla: yes, comp:lite, ready to pull, size:M

#47084 Fix a bug where reordering tf.Transpose is not done correctly
  tensorflow/compiler/mlir/tensorflow/tests/layout_optimization_move_transposes_end.mlir
  tensorflow/compiler/mlir/tensorflow/transforms/layout_optimization.cc
Labels: awaiting review, cla: yes, ready to pull, size:S

#47318 [tf.data] refactor serialization tests based on CheckpointTestBase in kernel_tests
  tensorflow/python/data/experimental/kernel_tests/serialization/BUILD
  tensorflow/python/data/experimental/kernel_tests/serialization/assert_cardinality_dataset_serialization_test.py
  tensorflow/python/data/experimental/kernel_tests/serialization/auto_shard_dataset_serialization_test.py
  tensorflow/python/data/experimental/kernel_tests/serialization/batch_dataset_serialization_test.py
  tensorflow/python/data/experimental/kernel_tests/serialization/cache_dataset_serialization_test.py
  tensorflow/python/data/experimental/kernel_tests/serialization/choose_fastest_branch_dataset_serialization_test.py
  tensorflow/python/data/experimental/kernel_tests/serialization/choose_fastest_dataset_serialization_test.py
  tensorflow/python/data/experimental/kernel_tests/serialization/concatenate_dataset_serialization_test.py
  tensorflow/python/data/experimental/kernel_tests/serialization/csv_dataset_serialization_test.py
  tensorflow/python/data/experimental/kernel_tests/serialization/dataset_constructor_serialization_test.py
  tensorflow/python/data/experimental/kernel_tests/serialization/filter_dataset_serialization_test.py
  tensorflow/python/data/experimental/kernel_tests/serialization/fixed_length_record_dataset_serialization_test.py
  tensorflow/python/data/experimental/kernel_tests/serialization/flat_map_dataset_serialization_test.py
  tensorflow/python/data/experimental/kernel_tests/serialization/group_by_reducer_serialization_test.py
  tensorflow/python/data/experimental/kernel_tests/serialization/group_by_window_serialization_test.py
  tensorflow/python/data/experimental/kernel_tests/serialization/ignore_errors_serialization_test.py
  tensorflow/python/data/experimental/kernel_tests/serialization/interleave_dataset_serialization_test.py
  tensorflow/python/data/experimental/kernel_tests/serialization/map_and_batch_dataset_serialization_test.py
  tensorflow/python/data/experimental/kernel_tests/serialization/map_dataset_serialization_test.py
  tensorflow/python/data/experimental/kernel_tests/serialization/matching_files_dataset_serialization_test.py
  tensorflow/python/data/experimental/kernel_tests/serialization/optimize_dataset_serialization_test.py
  tensorflow/python/data/experimental/kernel_tests/serialization/padded_batch_dataset_serialization_test.py
  tensorflow/python/data/experimental/kernel_tests/serialization/parallel_interleave_dataset_serialization_test.py
  tensorflow/python/data/experimental/kernel_tests/serialization/parallel_map_dataset_serialization_test.py
  tensorflow/python/data/experimental/kernel_tests/serialization/parse_example_dataset_serialization_test.py
  tensorflow/python/data/experimental/kernel_tests/serialization/prefetch_dataset_serialization_test.py
  tensorflow/python/data/experimental/kernel_tests/serialization/range_dataset_serialization_test.py
  tensorflow/python/data/experimental/kernel_tests/serialization/rebatch_dataset_serialization_test.py
  tensorflow/python/data/experimental/kernel_tests/serialization/sample_from_datasets_serialization_test.py
  tensorflow/python/data/experimental/kernel_tests/serialization/scan_dataset_serialization_test.py
  tensorflow/python/data/experimental/kernel_tests/serialization/sequence_dataset_serialization_test.py
  tensorflow/python/data/experimental/kernel_tests/serialization/shard_dataset_serialization_test.py
  tensorflow/python/data/experimental/kernel_tests/serialization/shuffle_and_repeat_dataset_serialization_test.py
  tensorflow/python/data/experimental/kernel_tests/serialization/shuffle_dataset_serialization_test.py
  tensorflow/python/data/experimental/kernel_tests/serialization/snapshot_dataset_serialization_test.py
  tensorflow/python/data/experimental/kernel_tests/serialization/sql_dataset_serialization_test.py
  tensorflow/python/data/experimental/kernel_tests/serialization/stats_dataset_serialization_test.py
  tensorflow/python/data/experimental/kernel_tests/serialization/take_while_dataset_serialization_test.py
  tensorflow/python/data/experimental/kernel_tests/serialization/textline_dataset_serialization_test.py
  tensorflow/python/data/experimental/kernel_tests/serialization/tf_record_dataset_serialization_test.py
  tensorflow/python/data/experimental/kernel_tests/serialization/unbatch_dataset_serialization_test.py
  tensorflow/python/data/experimental/kernel_tests/serialization/unique_dataset_serialization_test.py
  tensorflow/python/data/experimental/kernel_tests/serialization/zip_dataset_serialization_test.py
  tensorflow/python/data/kernel_tests/BUILD
  tensorflow/python/data/kernel_tests/checkpoint_test_base.py
  tensorflow/tools/pip_package/BUILD
Labels: cla: yes, comp:data, ready to pull, size:L

#47165 Update input parameter validation for advanced activation layers.
  tensorflow/python/keras/layers/advanced_activations.py
  tensorflow/python/keras/layers/advanced_activations_test.py
  tensorflow/python/keras/layers/convolutional.py
Labels: cla: yes, comp:keras, ready to pull, size:M

#45647 micro: port operator FILL from lite
  tensorflow/lite/micro/kernels/BUILD
  tensorflow/lite/micro/kernels/fill.cc
  tensorflow/lite/micro/kernels/fill_test.cc
  tensorflow/lite/micro/kernels/micro_ops.h
  tensorflow/lite/micro/tools/make/Makefile
Labels: awaiting review, cla: yes, comp:micro, ready to pull, size:L

#47510 [TFL] Enhance MoveBinaryOpBeforeReshape pattern to enable fusion of 2D bias.
  tensorflow/compiler/mlir/lite/tests/optimize.mlir
  tensorflow/compiler/mlir/lite/transforms/optimize_patterns.td
Labels: cla: yes, ready to pull, size:M

#47500 Fix comment
  tensorflow/compiler/mlir/tosa/transforms/legalize_tf.cc
Labels: cla: yes, ready to pull, size:XS

#47506 Upgrade pylint 2.7.2
  tensorflow/tools/ci_build/install/install_centos_pip_packages.sh
  tensorflow/tools/ci_build/install/install_pip_packages.sh
  tensorflow/tools/ci_build/presubmit/ubuntu_16/sanity/build.sh
  tensorflow/tools/ci_build/rel/ubuntu/sanity.sh
  tensorflow/tools/ci_build/release/ubuntu_16/sanity/build.sh
Labels: cla: yes, ready to pull, size:S

#46541 Go: Deallocate large TF_TString on Tensor finalization
  tensorflow/go/tensor.go
Labels: cla: yes, ready to pull, size:S

#47484 Update wrappers.py
  tensorflow/python/keras/layers/wrappers.py
Labels: cla: yes, comp:keras, ready to pull, size:XS

#47512 Fix AbcTest.testAbstract assertion
  tensorflow/python/module/module_test.py
Labels: cla: yes, ready to pull, size:XS

#47481 micro: LOG_SOFTMAX PR1
  tensorflow/lite/core/api/flatbuffer_conversions.cc
  tensorflow/lite/core/api/flatbuffer_conversions.h
Labels: cla: yes, comp:lite, comp:micro, prtype:bugfix, ready to pull, size:S

#46717 Add relevant shape check for tf.reshape to prevent crash
  tensorflow/core/kernels/reshape_op.h
  tensorflow/python/kernel_tests/reshape_op_test.py
Labels: cla: yes, comp:core, prtype:bugfix, ready to pull, size:S

#47317 Add cmake build for tflite label_image example.
  tensorflow/lite/CMakeLists.txt
  tensorflow/lite/examples/label_image/CMakeLists.txt
  tensorflow/lite/examples/label_image/label_image.cc
  tensorflow/lite/g3doc/guide/build_cmake.md
  tensorflow/lite/tools/benchmark/CMakeLists.txt
Labels: cla: yes, comp:lite, ready to pull, size:M, type:build/install

#47476 [Intel MKL] update public CI with gcc7
  tensorflow/tools/ci_build/Dockerfile.cpu-py36
Labels: cla: yes, ready to pull, size:XS

#46723 Adjust types of loop counters
  tensorflow/compiler/mlir/hlo/lib/Dialect/mhlo/IR/hlo_ops.cc
  tensorflow/compiler/mlir/hlo/lib/Dialect/mhlo/transforms/legalize_to_linalg.cc
Labels: cla: yes, ready to pull, size:XS

#47444 fix erroneous assign in Env::StartTransaction()
  tensorflow/core/platform/env.h
Labels: cla: yes, comp:core, ready to pull, size:XS

#47437 Building TensorFlow Lite - macos_arm64 support using cmake
  tensorflow/lite/tools/cmake/modules/xnnpack.cmake
  tensorflow/workspace2.bzl
Labels: cla: yes, comp:lite, ready to pull, size:S

#46736 fix conjugate-transpose for matrices of certain sizes (issue #19200)
  tensorflow/core/kernels/conv_2d_gpu.h
  tensorflow/python/kernel_tests/array_ops_test.py
Labels: cla: yes, comp:core, ready to pull, size:M

#47304 Remove incorrect test in batch_to_space_nd.cc and space_to_batch_nd.cc
  tensorflow/lite/micro/kernels/batch_to_space_nd.cc
  tensorflow/lite/micro/kernels/batch_to_space_nd_test.cc
  tensorflow/lite/micro/kernels/space_to_batch_nd.cc
  tensorflow/lite/micro/kernels/space_to_batch_nd_test.cc
Labels: cla: yes, comp:micro, ready to pull, size:XS

#46446 Optimize RunLineHelper in BufferedInputStream
  tensorflow/core/lib/io/buffered_inputstream.cc
Labels: cla: yes, comp:core, ready to pull, size:S

#45144 TFLu: Port squeeze op from TFLite
  tensorflow/lite/core/api/flatbuffer_conversions.cc
  tensorflow/lite/core/api/flatbuffer_conversions.h
  tensorflow/lite/micro/all_ops_resolver.cc
  tensorflow/lite/micro/kernels/BUILD
  tensorflow/lite/micro/kernels/micro_ops.h
  tensorflow/lite/micro/kernels/squeeze.cc
  tensorflow/lite/micro/kernels/squeeze_test.cc
  tensorflow/lite/micro/micro_mutable_op_resolver.h
  tensorflow/lite/micro/tools/make/Makefile
Labels: cla: yes, comp:lite, comp:micro, comp:micro:arm, ready to pull, size:L

#47314 [tf.data] move map, map_and_batch serialization tests to kernel_tests
  tensorflow/python/data/experimental/kernel_tests/BUILD
  tensorflow/python/data/experimental/kernel_tests/map_and_batch_test.py
  tensorflow/python/data/experimental/kernel_tests/serialization/BUILD
  tensorflow/python/data/experimental/kernel_tests/serialization/map_and_batch_dataset_serialization_test.py
  tensorflow/python/data/experimental/kernel_tests/serialization/map_dataset_serialization_test.py
  tensorflow/python/data/kernel_tests/BUILD
  tensorflow/python/data/kernel_tests/map_test.py
Labels: cla: yes, comp:data, ready to pull, size:L

#47519 Fix API compatibility test under Python 3.9
  tensorflow/tools/api/golden/v1/tensorflow.train.-looper-thread.pbtxt
  tensorflow/tools/api/lib/python_object_to_proto_visitor.py
Labels: cla: yes, ready to pull, size:XS

#47541 Update docs for bucket_by_sequence_length api.
  tensorflow/python/data/experimental/ops/grouping.py
Labels: cla: yes, comp:data, ready to pull, size:M

#47279 [INTEL MKL] Refactoring code related to compiling oneDNN with threadpool.
  .bazelrc
  tensorflow/core/common_runtime/mkl_threadpool_device_test.cc
  tensorflow/core/common_runtime/process_util.cc
  tensorflow/core/common_runtime/threadpool_device.cc
  tensorflow/core/kernels/mkl/mkl_concat_op.cc
  tensorflow/core/kernels/mkl/mkl_conv_grad_filter_ops.cc
  tensorflow/core/kernels/mkl/mkl_conv_grad_input_ops.cc
  tensorflow/core/kernels/mkl/mkl_conv_ops.cc
  tensorflow/core/kernels/mkl/mkl_fused_batch_norm_op.cc
  tensorflow/core/kernels/mkl/mkl_fused_ops_test.cc
  tensorflow/core/kernels/mkl/mkl_matmul_op.cc
  tensorflow/core/kernels/mkl/mkl_matmul_ops_common.h
  tensorflow/core/kernels/mkl/mkl_pooling_ops_common.cc
  tensorflow/core/kernels/mkl/mkl_qmatmul_op.cc
  tensorflow/core/kernels/mkl/mkl_quantize_op.cc
  tensorflow/core/kernels/mkl/mkl_quantized_conv_ops.h
  tensorflow/core/kernels/mkl/mkl_relu_op.cc
  tensorflow/core/kernels/mkl/mkl_requantization_range_per_channel_op.cc
  tensorflow/core/kernels/mkl/mkl_slice_op.cc
  tensorflow/core/kernels/mkl/mkl_softmax_op.cc
  tensorflow/core/util/mkl_threadpool.h
  tensorflow/core/util/mkl_util.h
  tensorflow/tensorflow.bzl
  third_party/mkl_dnn/BUILD
  third_party/mkl_dnn/build_defs.bzl
  third_party/mkl_dnn/mkldnn_v1.BUILD
Labels: cla: yes, comp:mkl, ready to pull, size:M

#47576 Make circular buffer op configurable via flatbuffers.
  tensorflow/lite/micro/kernels/BUILD
  tensorflow/lite/micro/kernels/circular_buffer.cc
  tensorflow/lite/micro/kernels/circular_buffer_flexbuffers_generated_data.cc
  tensorflow/lite/micro/kernels/circular_buffer_flexbuffers_generated_data.h
  tensorflow/lite/micro/kernels/circular_buffer_test.cc
  tensorflow/lite/micro/kernels/detection_postprocess_flexbuffers_generated_data.cc
  tensorflow/lite/micro/kernels/detection_postprocess_flexbuffers_generated_data.h
  tensorflow/lite/micro/kernels/detection_postprocess_test.cc
  tensorflow/lite/micro/kernels/test_data_generation/BUILD
  tensorflow/lite/micro/kernels/test_data_generation/generate_circular_buffer_flexbuffers_data.cc
  tensorflow/lite/micro/kernels/test_data_generation/generate_detection_postprocess_flexbuffers_data.cc
  tensorflow/lite/micro/tools/make/Makefile
  tensorflow/lite/micro/tools/make/targets/bluepill_makefile.inc
  tensorflow/lite/micro/tools/make/targets/stm32f4_makefile.inc
Labels: cla: yes, comp:micro, ready to pull, size:L

#47202 [MLIR] Remove hardcoded element type in lowering of SpaceToBatchND
  tensorflow/compiler/mlir/tensorflow/tests/lower_tf.mlir
  tensorflow/compiler/mlir/tensorflow/transforms/lower_tf.cc
Labels: cla: yes, ready to pull, size:S

#47527 expose c `env` headers
  tensorflow/c/BUILD
Labels: cla: yes, ready to pull, size:XS

#47397 Add missing closing backtick
  tensorflow/python/keras/mixed_precision/loss_scale_optimizer.py
Labels: cla: yes, comp:keras, ready to pull, size:XS

#47567 Update resize_bilinear_op.cc
  tensorflow/core/kernels/image/resize_bilinear_op.cc
Labels: cla: yes, comp:core, ready to pull, size:M

#47219 Add reminder on MacOS Catalina
  tensorflow/lite/micro/examples/micro_speech/README.md
Labels: cla: yes, comp:micro, ready to pull, size:XS

#47012 Simplify tf.keras.activations.softmax codepath
  tensorflow/python/keras/activations.py
  tensorflow/python/keras/activations_test.py
Labels: cla: yes, comp:keras, prtype:bugfix, ready to pull, size:M

#47511 [INTEL MKL] Fix BF16 regression - failures with unit tests and BF16 model execution.
  tensorflow/core/common_runtime/mkl_layout_pass.cc
  tensorflow/core/common_runtime/mkl_layout_pass_test.cc
  tensorflow/core/graph/mkl_graph_util.h
  tensorflow/core/grappler/optimizers/mkl_remapper_test.cc
  tensorflow/core/kernels/l2loss_op.cc
  tensorflow/core/util/mkl_util.h
  tensorflow/tensorflow.bzl
Labels: cla: yes, ready to pull, size:S

#47429 Simplify Huber Loss implementation
  tensorflow/python/keras/losses.py
Labels: cla: yes, comp:keras, ready to pull, size:XS

#46214 micro: port operator LEAKY_RELU kernel from lite with test
  tensorflow/lite/micro/all_ops_resolver.cc
  tensorflow/lite/micro/kernels/BUILD
  tensorflow/lite/micro/kernels/leaky_relu.cc
  tensorflow/lite/micro/kernels/leaky_relu_test.cc
  tensorflow/lite/micro/kernels/micro_ops.h
  tensorflow/lite/micro/micro_mutable_op_resolver.h
  tensorflow/lite/micro/tools/make/Makefile
Labels: awaiting review, cla: yes, comp:lite, comp:micro, kokoro:force-run, prtype:bugfix, ready to pull, size:L

#46207 micro: prepare to port operator ADD_N kernel from lite with test
  tensorflow/lite/micro/kernels/add_n.cc
  tensorflow/lite/micro/kernels/add_n_test.cc
Labels: cla: yes, comp:lite, comp:micro, prtype:bugfix, ready to pull, size:M

#47605 [tflite] Enable CoreML/GPU delegate on m1
  tensorflow/lite/delegates/coreml/BUILD
  tensorflow/lite/delegates/coreml/coreml_executor.h
  tensorflow/lite/tools/delegates/BUILD
  tensorflow/lite/tools/delegates/coreml_delegate_provider.cc
  tensorflow/lite/tools/delegates/gpu_delegate_provider.cc
Labels: cla: yes, comp:lite, ready to pull, size:S

#47592 [tf.data] move csv, assert cardinality and auto shard checkpoint tests to kernel tests
  tensorflow/python/data/experimental/kernel_tests/BUILD
  tensorflow/python/data/experimental/kernel_tests/assert_cardinality_test.py
  tensorflow/python/data/experimental/kernel_tests/auto_shard_dataset_test.py
  tensorflow/python/data/experimental/kernel_tests/csv_dataset_test.py
  tensorflow/python/data/experimental/kernel_tests/serialization/BUILD
  tensorflow/python/data/experimental/kernel_tests/serialization/assert_cardinality_dataset_serialization_test.py
  tensorflow/python/data/experimental/kernel_tests/serialization/auto_shard_dataset_serialization_test.py
  tensorflow/python/data/experimental/kernel_tests/serialization/csv_dataset_serialization_test.py
Labels: cla: yes, comp:data, ready to pull, size:L

#47052 Prefer std::copy_n to naive for loop
  tensorflow/core/kernels/ragged_gather_op.cc
  tensorflow/core/kernels/ragged_tensor_from_variant_op.cc
  tensorflow/core/kernels/ragged_tensor_to_tensor_op.cc
  tensorflow/core/kernels/ragged_tensor_to_variant_op.cc
Labels: cla: yes, comp:core, ready to pull, size:M

#47614 micro: Add ELU to AllOpsResolver
  tensorflow/lite/micro/all_ops_resolver.cc
Labels: cla: yes, comp:lite, comp:micro, prtype:bugfix, ready to pull

#47581 [StreamExecutor C API] Lazy getting device count to provide more feasibility
  tensorflow/c/experimental/stream_executor/stream_executor.cc
  tensorflow/c/experimental/stream_executor/stream_executor.h
  tensorflow/c/experimental/stream_executor/stream_executor_internal.h
  tensorflow/c/experimental/stream_executor/stream_executor_test.cc
Labels: cla: yes, ready to pull, size:S

#47600 Update TOSA MLIR legalization documentation for current code
  tensorflow/compiler/mlir/tosa/g3doc/legalization.md
Labels: cla: yes, ready to pull, size:XL

#47653 Use -stdlib=libc++ and -fno-rtti with Xtensa.
  tensorflow/lite/micro/tools/make/targets/xtensa_makefile.inc
Labels: cla: yes, comp:micro, ready to pull, size:XS

#47648 [tf.data] move checkpoint tests to kernel tests part 3
  tensorflow/python/data/experimental/kernel_tests/BUILD
  tensorflow/python/data/experimental/kernel_tests/group_by_reducer_test.py
  tensorflow/python/data/experimental/kernel_tests/group_by_window_test.py
  tensorflow/python/data/experimental/kernel_tests/ignore_errors_test.py
  tensorflow/python/data/experimental/kernel_tests/matching_files_test.py
  tensorflow/python/data/experimental/kernel_tests/optimize_dataset_test.py
  tensorflow/python/data/experimental/kernel_tests/parallel_interleave_test.py
  tensorflow/python/data/experimental/kernel_tests/parse_example_dataset_test.py
  tensorflow/python/data/experimental/kernel_tests/serialization/BUILD
  tensorflow/python/data/experimental/kernel_tests/serialization/group_by_reducer_serialization_test.py
  tensorflow/python/data/experimental/kernel_tests/serialization/group_by_window_serialization_test.py
  tensorflow/python/data/experimental/kernel_tests/serialization/ignore_errors_serialization_test.py
  tensorflow/python/data/experimental/kernel_tests/serialization/matching_files_dataset_serialization_test.py
  tensorflow/python/data/experimental/kernel_tests/serialization/optimize_dataset_serialization_test.py
  tensorflow/python/data/experimental/kernel_tests/serialization/parallel_interleave_dataset_serialization_test.py
  tensorflow/python/data/experimental/kernel_tests/serialization/parse_example_dataset_serialization_test.py
Labels: cla: yes, ready to pull, size:L

#47419 Support all fp types in GPU SparseTensorDenseMatMul
  tensorflow/core/kernels/sparse_tensor_dense_matmul_op.cc
  tensorflow/core/kernels/sparse_tensor_dense_matmul_op.h
  tensorflow/core/kernels/sparse_tensor_dense_matmul_op_gpu.cu.cc
  tensorflow/python/kernel_tests/sparse_tensor_dense_matmul_grad_test.py
  tensorflow/python/kernel_tests/sparse_tensor_dense_matmul_op_test.py
Labels: cla: yes, comp:core, ready to pull, size:S

#47656 Fix the TFLM github CI bazel build.
  tensorflow/lite/micro/tools/ci_build/test_bazel.sh
  tensorflow/lite/micro/tools/ci_build/tflm_bazel/dot_bazelrc
Labels: cla: yes, comp:micro, ready to pull, size:S

#46331 Remove cusparseDnVecDescr_t from cusparse_10_1.inc
  tensorflow/stream_executor/cuda/cusparse_10_1.inc
Labels: cla: yes, ready to pull, size:M

#47658 Change Xtensa softmax kernel to only support int8 inputs and int16 outputs
  tensorflow/lite/micro/kernels/xtensa/softmax.cc
Labels: cla: yes, comp:micro, ready to pull, size:M

#47443 First step towards prototyping v2 of TFLM integration with external IDEs.
  tensorflow/lite/micro/kernels/BUILD
  tensorflow/lite/micro/tools/ci_build/test_all.sh
  tensorflow/lite/micro/tools/ci_build/test_project_generation.sh
  tensorflow/lite/micro/tools/make/Makefile
  tensorflow/lite/micro/tools/project_generation/Makefile
  tensorflow/lite/micro/tools/project_generation/create_tflm_tree.py
Labels: awaiting review, cla: yes, comp:micro, ready to pull, size:L

#47681 Add command line option to select `-stdlib=libc++` with Xtensa.
  tensorflow/lite/micro/tools/make/targets/xtensa_makefile.inc
Labels: cla: yes, comp:micro, ready to pull, size:S

#47668 [tf.data] move checkpoint tests to kernel tests part 4
  tensorflow/python/data/experimental/kernel_tests/BUILD
  tensorflow/python/data/experimental/kernel_tests/scan_test.py
  tensorflow/python/data/experimental/kernel_tests/serialization/BUILD
  tensorflow/python/data/experimental/kernel_tests/serialization/scan_dataset_serialization_test.py
  tensorflow/python/data/experimental/kernel_tests/serialization/shuffle_and_repeat_dataset_serialization_test.py
  tensorflow/python/data/experimental/kernel_tests/serialization/snapshot_dataset_serialization_test.py
  tensorflow/python/data/experimental/kernel_tests/serialization/sql_dataset_serialization_test.py
  tensorflow/python/data/experimental/kernel_tests/serialization/stats_dataset_serialization_test.py
  tensorflow/python/data/experimental/kernel_tests/serialization/take_while_dataset_serialization_test.py
  tensorflow/python/data/experimental/kernel_tests/serialization/unique_dataset_serialization_test.py
  tensorflow/python/data/experimental/kernel_tests/shuffle_and_repeat_test.py
  tensorflow/python/data/experimental/kernel_tests/snapshot_test.py
  tensorflow/python/data/experimental/kernel_tests/sql_dataset_test.py
  tensorflow/python/data/experimental/kernel_tests/stats_dataset_ops_test.py
  tensorflow/python/data/experimental/kernel_tests/take_while_test.py
  tensorflow/python/data/experimental/kernel_tests/unique_test.py
Labels: cla: yes, comp:data, ready to pull, size:XL

#46208 micro: port operator ADD_N kernel from lite with test
  tensorflow/lite/kernels/internal/reference/add_n.h
  tensorflow/lite/micro/all_ops_resolver.cc
  tensorflow/lite/micro/kernels/BUILD
  tensorflow/lite/micro/kernels/add_n.cc
  tensorflow/lite/micro/kernels/add_n_test.cc
  tensorflow/lite/micro/kernels/micro_ops.h
  tensorflow/lite/micro/micro_mutable_op_resolver.h
  tensorflow/lite/micro/tools/make/Makefile
Labels: cla: yes, comp:lite, comp:micro, prtype:bugfix, ready to pull, size:L

#47104 Do not rely on ADL when invoking std::sort
  tensorflow/core/grappler/optimizers/scoped_allocator_optimizer.cc
  tensorflow/lite/toco/tensorflow_graph_matching/resolve_svdf.cc
Labels: cla: yes, ready to pull, size:XS

#47128 Fix `tf.keras.initializers.get`: convert provided type object to object
  tensorflow/python/keras/initializers/__init__.py
  tensorflow/python/keras/utils/generic_utils_test.py
Labels: cla: yes, comp:keras, prtype:bugfix, ready to pull, size:S

#47601 Add missing includes to ensure that we export all the required headers.
  tensorflow/lite/micro/tools/make/ext_libs/cmsis_nn.inc
  tensorflow/lite/micro/tools/make/targets/cortex_m_generic_makefile.inc
Labels: cla: yes, comp:micro, ready to pull, size:L

#47698 TF-TRT CombinedNMS: fix top_k parameter max value
  tensorflow/compiler/tf2tensorrt/convert/convert_nodes.cc
  tensorflow/compiler/tf2tensorrt/convert/convert_nodes_test.cc
  tensorflow/python/compiler/tensorrt/test/combined_nms_test.py
Labels: cla: yes, comp:gpu:tensorrt, prtype:bugfix, ready to pull, size:M

#45640 activation, kernel, bias are all attributes in Dense
  tensorflow/python/keras/layers/core.py
Labels: awaiting review, cla: yes, comp:keras, ready to pull, size:XS

#43918 Allow custom image size for NASNet models
  tensorflow/python/keras/applications/applications_test.py
  tensorflow/python/keras/applications/nasnet.py
Labels: awaiting review, cla: yes, comp:keras, ready to pull, size:XS

#44741 Fix wrong path separator in error message when saved model does not exist
  tensorflow/python/saved_model/loader_impl.py
  tensorflow/python/saved_model/loader_test.py
Labels: cla: yes, comp:keras, prtype:bugfix, ready to pull, size:XS, stat:awaiting tensorflower

#47735 Update normalization_v2.py
  tensorflow/python/keras/layers/normalization_v2.py
Labels: cla: yes, comp:keras, ready to pull, size:XS, type:docs-bug

#47740 Update core.py
  tensorflow/python/keras/layers/core.py
Labels: cla: yes, comp:keras, ready to pull, size:XS, type:docs-bug

#47385 Port micro op EXPAND_DIMS for it to pass the tests
  tensorflow/lite/micro/kernels/BUILD
  tensorflow/lite/micro/kernels/expand_dims.cc
  tensorflow/lite/micro/kernels/expand_dims_test.cc
  tensorflow/lite/micro/kernels/micro_ops.h
  tensorflow/lite/micro/micro_mutable_op_resolver.h
  tensorflow/lite/micro/tools/make/Makefile
Labels: cla: yes, comp:micro, ready to pull, size:L

#47731 micro: CUMSUM PR1
  tensorflow/lite/core/api/flatbuffer_conversions.cc
  tensorflow/lite/core/api/flatbuffer_conversions.h
Labels: cla: yes, comp:lite, comp:micro, prtype:bugfix, ready to pull, size:S

#47572 Use nn.softmax in keras.activations.softmax
  tensorflow/python/keras/activations.py
  tensorflow/python/keras/activations_test.py
Labels: cla: yes, comp:keras, ready to pull, size:S

#47693 [tf.data] move checkpoint tests to kernel tests part 5
  tensorflow/python/data/experimental/kernel_tests/BUILD
  tensorflow/python/data/experimental/kernel_tests/rebatch_dataset_test.py
  tensorflow/python/data/experimental/kernel_tests/serialization/BUILD
  tensorflow/python/data/experimental/kernel_tests/serialization/batch_dataset_serialization_test.py
  tensorflow/python/data/experimental/kernel_tests/serialization/cache_dataset_serialization_test.py
  tensorflow/python/data/experimental/kernel_tests/serialization/concatenate_dataset_serialization_test.py
  tensorflow/python/data/experimental/kernel_tests/serialization/filter_dataset_serialization_test.py
  tensorflow/python/data/experimental/kernel_tests/serialization/fixed_length_record_dataset_serialization_test.py
  tensorflow/python/data/experimental/kernel_tests/serialization/flat_map_dataset_serialization_test.py
  tensorflow/python/data/experimental/kernel_tests/serialization/interleave_dataset_serialization_test.py
  tensorflow/python/data/experimental/kernel_tests/serialization/padded_batch_dataset_serialization_test.py
  tensorflow/python/data/experimental/kernel_tests/serialization/prefetch_dataset_serialization_test.py
  tensorflow/python/data/experimental/kernel_tests/serialization/range_dataset_serialization_test.py
  tensorflow/python/data/experimental/kernel_tests/serialization/rebatch_dataset_serialization_test.py
  tensorflow/python/data/experimental/kernel_tests/serialization/shard_dataset_serialization_test.py
  tensorflow/python/data/experimental/kernel_tests/serialization/shuffle_dataset_serialization_test.py
  tensorflow/python/data/experimental/kernel_tests/serialization/textline_dataset_serialization_test.py
  tensorflow/python/data/experimental/kernel_tests/serialization/tf_record_dataset_serialization_test.py
  tensorflow/python/data/experimental/kernel_tests/serialization/unbatch_dataset_serialization_test.py
  tensorflow/python/data/experimental/kernel_tests/serialization/zip_dataset_serialization_test.py
  tensorflow/python/data/kernel_tests/BUILD
  tensorflow/python/data/kernel_tests/batch_test.py
  tensorflow/python/data/kernel_tests/cache_test.py
  tensorflow/python/data/kernel_tests/concatenate_test.py
  tensorflow/python/data/kernel_tests/filter_test.py
  tensorflow/python/data/kernel_tests/fixed_length_record_dataset_test.py
  tensorflow/python/data/kernel_tests/flat_map_test.py
  tensorflow/python/data/kernel_tests/interleave_test.py
  tensorflow/python/data/kernel_tests/padded_batch_test.py
  tensorflow/python/data/kernel_tests/prefetch_test.py
  tensorflow/python/data/kernel_tests/range_test.py
  tensorflow/python/data/kernel_tests/shard_test.py
  tensorflow/python/data/kernel_tests/shuffle_test.py
  tensorflow/python/data/kernel_tests/text_line_dataset_test.py
  tensorflow/python/data/kernel_tests/tf_record_dataset_test.py
  tensorflow/python/data/kernel_tests/unbatch_test.py
  tensorflow/python/data/kernel_tests/zip_test.py
Labels: cla: yes, comp:data, ready to pull, size:XL

#45339 Fix Const op tensor_content on s390x during save/load
  tensorflow/cc/saved_model/BUILD
  tensorflow/cc/saved_model/reader.cc
  tensorflow/python/saved_model/load.py
  tensorflow/python/saved_model/save.py
  tensorflow/python/saved_model/utils_impl.py
Labels: cla: yes, ready to pull, size:M

#44769 Fix class_names in image_dataset_from_directory
  tensorflow/python/keras/preprocessing/image_dataset.py
Labels: cla: yes, comp:keras, prtype:bugfix, ready to pull, size:XS

#47598 Add use_bfc_allocator parameter to StreamExecutor C API
  tensorflow/c/experimental/stream_executor/stream_executor.cc
  tensorflow/c/experimental/stream_executor/stream_executor.h
Labels: cla: yes, ready to pull, size:S

#47435 Remove unnecessary model parsing from keras.model.load_model
  tensorflow/python/keras/saving/save.py
Labels: cla: yes, comp:keras, ready to pull, size:XS

#47743 [Intel MKL] Upgrading to oneDNN 2.1
  tensorflow/core/graph/mkl_graph_util.h
  tensorflow/core/kernels/mkl/mkl_matmul_op.cc
  tensorflow/core/util/mkl_threadpool.h
  tensorflow/core/util/mkl_util.h
  tensorflow/workspace2.bzl
  third_party/mkl_dnn/build_fix.patch
  third_party/mkl_dnn/mkldnn_v1.BUILD
Labels: cla: yes, comp:mkl, ready to pull, size:M

#47677 [ROCm] Fix for ROCm CSB breakage - 210309
  tensorflow/core/util/gpu_device_functions.h
Labels: cla: yes, comp:gpu, ready to pull, size:XS

#47773 Update dockerfiles to CUDA 11.2
  tensorflow/tools/dockerfiles/dockerfiles/devel-gpu-jupyter.Dockerfile
  tensorflow/tools/dockerfiles/dockerfiles/devel-gpu.Dockerfile
  tensorflow/tools/dockerfiles/dockerfiles/gpu-jupyter.Dockerfile
  tensorflow/tools/dockerfiles/dockerfiles/gpu.Dockerfile
  tensorflow/tools/dockerfiles/dockerfiles/ppc64le/devel-gpu-ppc64le-jupyter.Dockerfile
  tensorflow/tools/dockerfiles/dockerfiles/ppc64le/devel-gpu-ppc64le.Dockerfile
  tensorflow/tools/dockerfiles/dockerfiles/ppc64le/gpu-ppc64le-jupyter.Dockerfile
  tensorflow/tools/dockerfiles/dockerfiles/ppc64le/gpu-ppc64le.Dockerfile
  tensorflow/tools/dockerfiles/partials/ubuntu/devel-nvidia.partial.Dockerfile
  tensorflow/tools/dockerfiles/partials/ubuntu/nvidia.partial.Dockerfile
Labels: cla: yes, ready to pull, size:M

#47620 tf.saved_model.load does not export SavedModels
  tensorflow/python/saved_model/load.py
Labels: cla: yes, comp:keras, ready to pull, size:XS

#45599 TF-TRT Test ConvertQuantize in dynamic shape mode
  tensorflow/compiler/tf2tensorrt/convert/convert_nodes_test.cc
Labels: cla: yes, comp:gpu:tensorrt, ready to pull, size:S, stalled, stat:awaiting response

#43034 XLA Asynchronous compilation
  tensorflow/compiler/jit/flags.cc
  tensorflow/compiler/jit/flags.h
  tensorflow/compiler/jit/get_compiler_ir.cc
  tensorflow/compiler/jit/kernels/xla_ops.cc
  tensorflow/compiler/jit/xla_compilation_cache.cc
  tensorflow/compiler/jit/xla_compilation_cache.h
  tensorflow/compiler/jit/xla_compile_on_demand_op.cc
  tensorflow/compiler/jit/xla_platform_info.cc
  tensorflow/compiler/jit/xla_platform_info.h
  tensorflow/compiler/tests/BUILD
  tensorflow/compiler/tests/async_comp_test.py
  tensorflow/compiler/tf2xla/xla_compiler.h
  tensorflow/compiler/xla/service/backend.cc
  tensorflow/compiler/xla/service/backend.h
Labels: cla: yes, ready to pull, size:L

#47811 Stabilize the order of definitions in schema_py_generated.py
  third_party/flatbuffers/build_defs.bzl
Labels: cla: yes, ready to pull, size:XS

#47039 TF-TRT Dynamic shape mode test for Softmax op converter
  tensorflow/compiler/tf2tensorrt/convert/convert_nodes.cc
  tensorflow/compiler/tf2tensorrt/convert/convert_nodes_test.cc
Labels: cla: yes, ready to pull, size:S

#47810 Sort and deduplicate generated _names_with_underscore
  tensorflow/python/tools/api/generator/create_python_api.py
Labels: cla: yes, ready to pull, size:XS

#47708 [TFLM] Added ceva.inc file in ext_libs so optimized kernels get pulled in
  tensorflow/lite/micro/tools/make/ext_libs/ceva.inc
Labels: cla: yes, comp:micro, comp:micro:ceva, ready to pull, size:XS

#47645 fix **highlighting** of remarks in docstrings
  tensorflow/python/keras/losses.py
Labels: cla: yes, comp:keras, ready to pull, size:XS

#47768 Do not specialize eigen convolution classes for ppc64le arch
  tensorflow/core/kernels/eigen_cuboid_convolution.h
  tensorflow/core/kernels/eigen_spatial_convolutions-inl.h
Labels: cla: yes, comp:core, ready to pull, size:S

#40736 TF-TRT Slice op converters explicit batch mode
  tensorflow/compiler/tf2tensorrt/convert/convert_nodes.cc
  tensorflow/compiler/tf2tensorrt/convert/convert_nodes_test.cc
  tensorflow/compiler/tf2tensorrt/convert/utils.h
Labels: cla: yes, comp:gpu:tensorrt, ready to pull, size:XL

#47830 Remove uint8 support from conv and depthwise conv.
  tensorflow/lite/micro/examples/image_recognition_experimental/BUILD
  tensorflow/lite/micro/kernels/cmsis_nn/conv.cc
  tensorflow/lite/micro/kernels/cmsis_nn/depthwise_conv.cc
  tensorflow/lite/micro/kernels/conv.cc
  tensorflow/lite/micro/kernels/conv_test.cc
  tensorflow/lite/micro/kernels/conv_test_common.cc
  tensorflow/lite/micro/kernels/depthwise_conv.cc
  tensorflow/lite/micro/kernels/depthwise_conv_test.cc
  tensorflow/lite/micro/tools/make/Makefile
Labels: cla: yes, comp:micro, prtype:bugfix, ready to pull, size:L

#47847 Fix incorrect CUDA version specification in Dockerfiles
  tensorflow/tools/dockerfiles/dockerfiles/devel-gpu-jupyter.Dockerfile
  tensorflow/tools/dockerfiles/dockerfiles/devel-gpu.Dockerfile
  tensorflow/tools/dockerfiles/dockerfiles/gpu-jupyter.Dockerfile
  tensorflow/tools/dockerfiles/dockerfiles/gpu.Dockerfile
  tensorflow/tools/dockerfiles/dockerfiles/ppc64le/devel-gpu-ppc64le-jupyter.Dockerfile
  tensorflow/tools/dockerfiles/dockerfiles/ppc64le/devel-gpu-ppc64le.Dockerfile
  tensorflow/tools/dockerfiles/dockerfiles/ppc64le/gpu-ppc64le-jupyter.Dockerfile
  tensorflow/tools/dockerfiles/dockerfiles/ppc64le/gpu-ppc64le.Dockerfile
  tensorflow/tools/dockerfiles/partials/ubuntu/devel-nvidia.partial.Dockerfile
  tensorflow/tools/dockerfiles/partials/ubuntu/nvidia.partial.Dockerfile
Labels: cla: yes, ready to pull, size:S

#47727 Fix typo on post_training_float16_quant.ipynb
  tensorflow/lite/g3doc/performance/post_training_float16_quant.ipynb
Labels: cla: yes, comp:lite, ready to pull, size:XS

#47840 TF-TRT Enable Conv2DBackpropInput conversion in explicit batch mode
  tensorflow/compiler/tf2tensorrt/convert/convert_nodes.cc
  tensorflow/compiler/tf2tensorrt/convert/convert_nodes_test.cc
Labels: cla: yes, ready to pull, size:M

#45190 Disable _FusedConv2D generation in grappler if XLA is on (GPU only).
  tensorflow/core/grappler/optimizers/meta_optimizer.cc
  tensorflow/core/grappler/optimizers/meta_optimizer.h
  tensorflow/core/grappler/optimizers/remapper.cc
  tensorflow/core/grappler/optimizers/remapper.h
Labels: cla: yes, comp:grappler, ready to pull, size:S

#47762 Fix build failure undefined reference to hwloc_linuxio_component on aarch64
  third_party/hwloc/BUILD.bazel
Labels: cla: yes, ready to pull, size:XS

#47823 Fix AddExpandDims() in lite/micro/micro_mutable_op_resolver.h
  tensorflow/lite/micro/micro_mutable_op_resolver.h
Labels: cla: yes, comp:micro, ready to pull, size:XS

#47703 TFLM: Exclude micro speech example
  tensorflow/lite/micro/tools/make/targets/cortex_m_corstone_300_makefile.inc
  tensorflow/lite/micro/tools/make/targets/cortex_m_generic_makefile.inc
Labels: cla: yes, comp:micro, ready to pull, size:S

#46842 Use vectorized load/store in GatherOpKernel
  tensorflow/core/kernels/dynamic_partition_op_gpu.cu.cc
  tensorflow/core/kernels/gather_functor_batched_gpu.cu.h
  tensorflow/core/kernels/gather_functor_gpu.cu.h
  tensorflow/core/util/gpu_kernel_helper.h
Labels: cla: yes, comp:core, size:L

#47869 [TFLM] Removed uint8 support from Softmax
  tensorflow/lite/micro/kernels/softmax.cc
  tensorflow/lite/micro/kernels/softmax_common.cc
  tensorflow/lite/micro/kernels/softmax_test.cc
Labels: cla: yes, comp:micro, ready to pull, size:M

#47865 [TFLM] Remove uint8 support from Quantize
  tensorflow/lite/micro/kernels/quantize.cc
  tensorflow/lite/micro/kernels/quantize.h
  tensorflow/lite/micro/kernels/quantize_common.cc
  tensorflow/lite/micro/kernels/quantize_test.cc
Labels: cla: yes, comp:micro, comp:micro:ceva, prtype:bugfix, ready to pull, size:M

#47867 [Intel MKL] Upgrading to oneDNN 2.1
  tensorflow/core/graph/mkl_graph_util.h
  tensorflow/core/kernels/mkl/mkl_matmul_op.cc
  tensorflow/core/util/mkl_threadpool.h
  tensorflow/core/util/mkl_util.h
  tensorflow/workspace2.bzl
  third_party/mkl_dnn/build_fix.patch
  third_party/mkl_dnn/mkldnn_v1.BUILD
Labels: cla: yes, comp:mkl, ready to pull, size:XL

#39997 Clarify documentation of output shape from DepthwiseConv2D
  tensorflow/python/keras/layers/convolutional.py
Labels: cla: yes, comp:keras, ready to pull, size:S

#47826 Prefer tf.ones and tf.zeros over tf.fill
  tensorflow/python/keras/layers/normalization.py
  tensorflow/python/ops/array_grad.py
  tensorflow/python/ops/embedding_ops.py
  tensorflow/python/ops/gradients_util.py
  tensorflow/python/ops/image_ops_impl.py
  tensorflow/python/ops/math_grad.py
  tensorflow/python/ops/math_ops.py
Labels: cla: yes, ready to pull, size:S

#43161 Uses of the new rocm skip test decorator.
  tensorflow/python/keras/layers/convolutional_recurrent_test.py
  tensorflow/python/keras/layers/gru_test.py
  tensorflow/python/keras/layers/gru_v2_test.py
  tensorflow/python/keras/layers/lstm_test.py
  tensorflow/python/keras/layers/lstm_v2_test.py
  tensorflow/python/keras/layers/wrappers_test.py
  tensorflow/python/kernel_tests/banded_triangular_solve_op_test.py
  tensorflow/python/kernel_tests/linalg/sparse/csr_sparse_matrix_grad_test.py
  tensorflow/python/kernel_tests/linalg/sparse/csr_sparse_matrix_ops_test.py
  tensorflow/python/kernel_tests/signal/fft_ops_test.py
  tensorflow/python/kernel_tests/signal/spectral_ops_test.py
  tensorflow/python/ops/init_ops_test.py
  tensorflow/python/ops/parallel_for/control_flow_ops_test.py
  tensorflow/python/ops/parallel_for/math_test.py
  tensorflow/python/platform/test.py
  tensorflow/python/profiler/internal/run_metadata_test.py
  tensorflow/tools/api/golden/v1/tensorflow.test.pbtxt
  tensorflow/tools/api/golden/v2/tensorflow.test.pbtxt
Labels: cla: yes, size:L

#47772 [determinism] Add segment reduction op exceptions for GPU determinism
  tensorflow/core/kernels/segment_reduction_ops.h
  tensorflow/core/kernels/segment_reduction_ops_gpu.cu.cc
  tensorflow/core/kernels/segment_reduction_ops_impl.h
  tensorflow/python/kernel_tests/BUILD
  tensorflow/python/kernel_tests/segment_reduction_ops_deterministic_test.py
Labels: cla: yes, ready to pull, size:L

#47679 [Intel MKL] Make Vanilla TF and MKL-based TF use common oneDNN build
  tensorflow/core/kernels/BUILD
  third_party/mkl_dnn/mkldnn_v1.BUILD
Labels: cla: yes, comp:mkl, ready to pull, size:M

#47842 TFLM: download a specific version of renode
  tensorflow/lite/micro/tools/make/renode_download.sh
Labels: cla: yes, comp:micro, comp:micro:arm, ready to pull, size:S

#47781 [TFLM] Added support for optimized quantize kernel, CEVA-BX1 & SP500
  tensorflow/lite/micro/kernels/ceva/quantize.cc
Labels: cla: yes, comp:micro, comp:micro:ceva, prtype:bugfix, ready to pull, size:M

#47783 [TFLM] Added optimized softmax kernel (int32 and float) for CEVA-BX1 and CEVA SP500
  tensorflow/lite/micro/kernels/ceva/ceva_common.h
  tensorflow/lite/micro/kernels/ceva/softmax.cc
Labels: cla: yes, comp:micro, comp:micro:ceva, ready to pull, size:M

#47707 [XLA:GPU]: Re-47398 + AMD fix + missing commits.
  tensorflow/compiler/xla/service/gpu/nvptx_compiler.cc
  tensorflow/compiler/xla/service/gpu/nvptx_compiler.h
  tensorflow/compiler/xla/service/gpu/tests/BUILD
  tensorflow/compiler/xla/service/gpu/tests/hlo_to_llvm_ir.cc
  tensorflow/compiler/xla/service/gpu/tests/reduction_vectorization_sm_all.hlo
  tensorflow/compiler/xla/service/gpu/tests/reduction_vectorization_test.cc
Labels: cla: yes, ready to pull, size:L

#47767 lite: nnapi: Check memory mapping errors after NNMemory()
  tensorflow/lite/delegates/nnapi/nnapi_delegate.cc
Labels: TFLiteNNAPIDelegate, cla: yes, comp:lite, ready to pull, size:S

#47699 [ROCm] Re-enabling unit-tests that are now passing on the ROCm platform
  tensorflow/python/kernel_tests/linalg/linear_operator_adjoint_test.py
  tensorflow/python/kernel_tests/matrix_solve_ls_op_test.py
  tensorflow/python/kernel_tests/matrix_triangular_solve_op_test.py
  tensorflow/python/ops/nn_test.py
Labels: cla: yes, comp:gpu, ready to pull, size:S

#47860 Mark header-implemented functions as inline
  tensorflow/python/lib/core/pybind11_lib.h
Labels: cla: yes, ready to pull, size:XS

#47833 Lazy load optional modules to speedup pip package import
  tensorflow/python/distribute/cluster_resolver/kubernetes_cluster_resolver.py
  tensorflow/python/keras/engine/data_adapter.py
Labels: cla: yes, ready to pull, size:M

#47839 Update CMSIS ref kernel wrappers.
  tensorflow/lite/micro/kernels/cmsis_nn/add.cc
  tensorflow/lite/micro/kernels/cmsis_nn/conv.cc
  tensorflow/lite/micro/kernels/cmsis_nn/depthwise_conv.cc
  tensorflow/lite/micro/kernels/cmsis_nn/fully_connected.cc
  tensorflow/lite/micro/kernels/cmsis_nn/mul.cc
  tensorflow/lite/micro/kernels/cmsis_nn/pooling.cc
  tensorflow/lite/micro/kernels/cmsis_nn/svdf.cc
Labels: cla: yes, comp:micro, comp:micro:arm, ready to pull, size:M

#45995 micro: port operator DIV kernel from lite with test
  tensorflow/lite/kernels/internal/reference/div.h
  tensorflow/lite/micro/all_ops_resolver.cc
  tensorflow/lite/micro/kernels/BUILD
  tensorflow/lite/micro/kernels/div.cc
  tensorflow/lite/micro/kernels/div_test.cc
  tensorflow/lite/micro/kernels/micro_ops.h
  tensorflow/lite/micro/micro_mutable_op_resolver.h
  tensorflow/lite/micro/tools/make/Makefile
Labels: cla: yes, comp:lite, comp:micro, prtype:bugfix, ready to pull, size:L

#46965 Integrate CUDNN v8 frontend API for convolution
  tensorflow/core/BUILD
  tensorflow/core/kernels/BUILD
  tensorflow/core/kernels/conv_grad_filter_ops.cc
  tensorflow/core/kernels/conv_grad_input_ops.cc
  tensorflow/core/kernels/conv_grad_ops_3d.cc
  tensorflow/core/kernels/conv_ops.cc
  tensorflow/core/kernels/conv_ops_3d.cc
  tensorflow/core/kernels/conv_ops_fused_impl.h
  tensorflow/core/kernels/gpu_utils.cc
  tensorflow/core/kernels/gpu_utils.h
  tensorflow/core/protobuf/autotuning.proto
  tensorflow/core/util/use_cudnn.cc
  tensorflow/core/util/use_cudnn.h
  tensorflow/stream_executor/BUILD
  tensorflow/stream_executor/cuda/BUILD
  tensorflow/stream_executor/cuda/cuda_dnn.cc
  tensorflow/stream_executor/cuda/cuda_dnn.h
  tensorflow/stream_executor/cuda/cudnn_8_0.inc
  tensorflow/stream_executor/dnn.cc
  tensorflow/stream_executor/dnn.h
  tensorflow/stream_executor/dnn.proto
  tensorflow/stream_executor/stream.h
  tensorflow/stream_executor/stream_executor_pimpl.cc
  tensorflow/stream_executor/stream_executor_pimpl.h
  tensorflow/tensorflow.bzl
  tensorflow/workspace2.bzl
  third_party/cudnn_frontend.BUILD
  third_party/cudnn_frontend_header_fix.patch
Labels: cla: yes, comp:core, ready to pull, size:XL

#47950 Filter out legacy checks in xtensa xa_nnlib
  tensorflow/lite/micro/kernels/depthwise_conv_test.cc
  tensorflow/lite/micro/tools/make/ext_libs/xtensa_download.sh
Labels: cla: yes, ready to pull, size:M

#47763 Clarify behavior of array_to_img(scale=True)
  tensorflow/python/keras/preprocessing/image.py
Labels: cla: yes, comp:keras, ready to pull, size:XS

#47864 micro: L2_POOL_2D PR3-5
  tensorflow/lite/micro/all_ops_resolver.cc
  tensorflow/lite/micro/kernels/BUILD
  tensorflow/lite/micro/kernels/l2_pool_2d.cc
  tensorflow/lite/micro/kernels/l2_pool_2d_test.cc
  tensorflow/lite/micro/kernels/micro_ops.h
  tensorflow/lite/micro/micro_mutable_op_resolver.h
  tensorflow/lite/micro/tools/make/Makefile
Labels: cla: yes, comp:lite, comp:micro, prtype:bugfix, ready to pull, size:L

#47690 build_pip_package_with_bazel: add support of Bazel startup option
  tensorflow/lite/tools/pip_package/build_pip_package_with_bazel.sh
Labels: cla: yes, comp:lite, ready to pull, size:XS

#47907 [TFLM] For CEVA-DSP Makefiles: Added ceva_dsp_lib to linker, added ceva_common.h to headers list
  tensorflow/lite/micro/tools/make/targets/ceva_makefile.inc
  tensorflow/lite/micro/tools/make/templates/ceva/ceva_app_makefile_v18.0.5.tpl
Labels: cla: yes, comp:micro, comp:micro:ceva, ready to pull, size:XS

#47919 [ROCm] Fix for ROCm CSB breakages - 210319
  tensorflow/compiler/xla/service/gpu/infeed_manager.cc
  tensorflow/python/kernel_tests/segment_reduction_ops_deterministic_test.py
Labels: cla: yes, comp:gpu, ready to pull, size:S

#47911 [TFLM] SVDF kernel refactoring
  tensorflow/lite/micro/kernels/svdf.cc
  tensorflow/lite/micro/kernels/svdf.h
  tensorflow/lite/micro/kernels/svdf_common.cc
Labels: cla: yes, comp:micro, ready to pull, size:L

#47921 [Pluggable Device] Add custom device mem allocator for Pluggable device.
  tensorflow/c/experimental/stream_executor/stream_executor_internal.h
  tensorflow/core/common_runtime/pluggable_device/BUILD
  tensorflow/core/common_runtime/pluggable_device/pluggable_device_process_state.cc
  tensorflow/core/common_runtime/pluggable_device/pluggable_device_process_state.h
  tensorflow/core/common_runtime/pluggable_device/pluggable_device_simple_allocator.cc
  tensorflow/core/common_runtime/pluggable_device/pluggable_device_simple_allocator.h
Labels: cla: yes, ready to pull, size:M

#47899 Add documentation for numeric_column api.
  tensorflow/python/feature_column/feature_column_v2.py
Labels: cla: yes, ready to pull, size:M, type:docs-bug

#47747 Fix Non max suppression float16 kernel
  tensorflow/core/kernels/image/non_max_suppression_op.cc
  tensorflow/python/ops/image_ops_test.py
Labels: cla: yes, comp:core, ready to pull, size:M

#47967 Fix typo in comment
  tensorflow/lite/examples/minimal/minimal.cc
Labels: cla: yes, comp:lite, ready to pull, size:XS

#47982 TF-TRT Fix batch dim for unit test with scalar input
  tensorflow/compiler/tf2tensorrt/convert/convert_nodes_test.cc
Labels: cla: yes, comp:gpu:tensorrt, ready to pull, size:XS

#46804 Expose TString related C API #46803
  tensorflow/c/BUILD
  tensorflow/c/tf_tstring.cc
  tensorflow/c/tf_tstring.h
Labels: cla: yes, ready to pull, size:M

#47639 [tflite] use newer xnnpack related source for M1 bazel build
  tensorflow/workspace2.bzl
  third_party/cpuinfo/cpuinfo.patch
  third_party/cpuinfo/workspace.bzl
Labels: cla: yes, comp:lite, ready to pull, size:M, subtype:macOS, type:build/install

#47697 Improve notebooks for tflite-model-maker
  tensorflow/lite/g3doc/tutorials/model_maker_image_classification.ipynb
  tensorflow/lite/g3doc/tutorials/model_maker_text_classification.ipynb
Labels: cla: yes, comp:lite-support, ready to pull, size:S, type:docs-feature

#47953 [tf.data] break down and parameterize FromSparseTensorSlicesTest
  tensorflow/python/data/kernel_tests/from_sparse_tensor_slices_test.py
Labels: cla: yes, comp:data, ready to pull, size:S

#47590 TF-TRT SpaceToDepth and DepthToSpace op converters for dynamic shape mode.
  tensorflow/compiler/tf2tensorrt/convert/convert_nodes.cc
  tensorflow/compiler/tf2tensorrt/convert/convert_nodes_test.cc
Labels: cla: yes, comp:gpu:tensorrt, ready to pull, size:XL

#47900 [PluggableDevice] New device type support in python front-end
  tensorflow/core/framework/device_factory.cc
  tensorflow/core/framework/device_factory.h
  tensorflow/python/framework/device_spec.py
  tensorflow/python/framework/device_test.py
  tensorflow/python/tfe_wrapper.cc
Labels: cla: yes, ready to pull, size:M

#47247 Switch gcs to modular file system on tensorflow/io
  tensorflow/core/platform/cloud/gcs_file_system.cc
Labels: cla: yes, comp:core, ready to pull, size:XS

#47997 [INTEL MKL] Disable group conv test.
  tensorflow/python/kernel_tests/conv_ops_test.py
Labels: cla: yes, comp:mkl, ready to pull, size:XS

#48029 Fix hexagon build and add option for -G0 compiler flag.
  tensorflow/lite/micro/benchmarks/keyword_benchmark.cc
  tensorflow/lite/micro/tools/make/ext_libs/hexagon.inc
  tensorflow/lite/micro/tools/make/targets/hexagon/download_hexagon.sh
  tensorflow/lite/micro/tools/make/targets/hexagon_makefile.inc
Labels: cla: yes, comp:micro, ready to pull, size:M

#47993 [Intel MKL] scope_alloctor bug fix with One binary support for v2.5
  tensorflow/core/grappler/optimizers/BUILD
  tensorflow/core/grappler/optimizers/meta_optimizer.cc
  tensorflow/core/grappler/optimizers/scoped_allocator_optimizer_test.cc
Labels: cla: yes, comp:mkl, prtype:bugfix, ready to pull, size:S

#48030 [INTEL MKL] Fix a build error within mkl_util
  tensorflow/core/util/mkl_util.h
Labels: cla: yes, comp:mkl, ready to pull, size:XS

#47577 [INTEL MKL] Execute small gemm's single threaded.
  tensorflow/core/kernels/mkl/mkl_matmul_op.cc
  tensorflow/core/kernels/mkl/mkl_matmul_ops_common.h
Labels: cla: yes, comp:mkl, ready to pull, size:S

#47594 make native bazel build work on Apple Silicon
  tensorflow/compiler/xla/service/cpu/BUILD
  tensorflow/core/kernels/BUILD
Labels: cla: yes, ready to pull, size:XS

#47892 Nit: Fix listing formats for inline docs.
  tensorflow/python/keras/engine/training.py
  tensorflow/python/keras/preprocessing/dataset_utils.py
  tensorflow/python/keras/preprocessing/image.py
Labels: cla: yes, comp:keras, ready to pull, size:M

#47234 Add GPU support for SparseToDense Op
  tensorflow/core/kernels/BUILD
  tensorflow/core/kernels/sparse_to_dense_op.cc
  tensorflow/core/kernels/sparse_to_dense_op_gpu.cu.cc
  tensorflow/core/kernels/sparse_to_dense_op_gpu.h
  tensorflow/python/kernel_tests/sparse_to_dense_op_py_test.py
Labels: cla: yes, comp:core, ready to pull, size:L

#48050 Temporarily delete Resize lowering ops for TOSA
  tensorflow/compiler/mlir/tosa/transforms/legalize_common.cc
  tensorflow/compiler/mlir/tosa/transforms/legalize_tf.cc
  tensorflow/compiler/mlir/tosa/transforms/legalize_tfl.cc
Labels: cla: yes, ready to pull, size:M

#48035 [INTEL MKL] Updated the DNNL version from v2.1 to v2.2 release candidate
  tensorflow/workspace2.bzl
  third_party/mkl_dnn/build_fix.patch
  third_party/mkl_dnn/mkldnn_v1.BUILD
Labels: cla: yes, comp:mkl, ready to pull, size:S

#47984 Delete TOSA gather op legalizations temporarily.
  tensorflow/compiler/mlir/tosa/tests/tf-to-tosa-pipeline.mlir
  tensorflow/compiler/mlir/tosa/tests/tfl-to-tosa-pipeline.mlir
  tensorflow/compiler/mlir/tosa/transforms/legalize_tf.cc
  tensorflow/compiler/mlir/tosa/transforms/tfl_legalize_patterns.td
Labels: cla: yes, ready to pull, size:M

#47828 [Intel MKL] Enable Conv2D plus FusedBatchNorm and optional activation fusion
  tensorflow/core/common_runtime/mkl_layout_pass.cc
  tensorflow/core/grappler/optimizers/remapper.cc
  tensorflow/core/grappler/optimizers/remapper_test.cc
  tensorflow/core/kernels/mkl/mkl_conv_ops.cc
Labels: cla: yes, comp:mkl, ready to pull, size:L

#48045 Remove the redundant #include "tensorflow/c/tf_tensor.h" in tf_tstring.cc
  tensorflow/c/tf_tstring.cc
Labels: cla: yes, ready to pull, size:XS
