Repository tensorflow/tensorflow, pull requests merged in 2021-07, with the labels that each got.

#50468 Update release notes for TensorFlow 2.7.0
  RELEASE.md
Labels: cla: yes, ready to pull, size:S

#50528 Fix -Wunreachable-code-aggressive.
  tensorflow/lite/kernels/activations.cc
  tensorflow/lite/kernels/basic_rnn.cc
  tensorflow/lite/kernels/bidirectional_sequence_lstm.cc
  tensorflow/lite/kernels/bidirectional_sequence_rnn.cc
  tensorflow/lite/kernels/cast.cc
  tensorflow/lite/kernels/lstm.cc
  tensorflow/lite/kernels/pack.cc
  tensorflow/lite/kernels/reduce.cc
  tensorflow/lite/kernels/reverse_sequence.cc
  tensorflow/lite/kernels/svdf.cc
  tensorflow/lite/kernels/unidirectional_sequence_lstm.cc
  tensorflow/lite/kernels/unidirectional_sequence_rnn.cc
Labels: cla: yes, comp:lite, ready to pull, size:M

#50563 Cherry-pick: Disable the cudnn frontend for cudnn 8.1.0
  tensorflow/core/util/use_cudnn.cc
Labels: cla: yes, comp:core, size:S

#50564 Cherry-pick: Fix deprecation notice.
  tensorflow/python/ops/array_ops.py
  tensorflow/python/util/deprecation.py
Labels: cla: yes, size:XS

#50566 Update release notes with a more explicit "Breaking changes" section …
  RELEASE.md
Labels: cla: yes, size:XS

#50561 BFloat16 ROCM implementation for GEMM.
  tensorflow/stream_executor/rocm/rocm_blas.cc
Labels: cla: yes, comp:gpu, ready to pull, size:S

#50548 Describe the behavior on the false branch.
  tensorflow/python/framework/config.py
Labels: cla: yes, ready to pull, size:XS

#50434 [MLIR][DISC] legalize disc to llvm
  tensorflow/compiler/mlir/hlo/BUILD
  tensorflow/compiler/mlir/hlo/include/mlir-hlo/Dialect/mhlo/transforms/disc_ral_passes.td
  tensorflow/compiler/mlir/hlo/include/mlir-hlo/Dialect/mhlo/transforms/passes.h
  tensorflow/compiler/mlir/hlo/include/mlir-hlo/Dialect/mhlo/transforms/rewriters.h
  tensorflow/compiler/mlir/hlo/lib/Dialect/mhlo/transforms/CMakeLists.txt
  tensorflow/compiler/mlir/hlo/lib/Dialect/mhlo/transforms/ral_legalize_to_llvm.cc
  tensorflow/compiler/mlir/hlo/tests/disc_ral_legalize_to_llvm.mlir
Labels: cla: yes, ready to pull, size:L

#50588 Fix equations in Adam docs
  tensorflow/core/api_def/base_api/api_def_ApplyAdam.pbtxt
  tensorflow/core/api_def/base_api/api_def_ResourceApplyAdam.pbtxt
Labels: cla: yes, comp:core, ready to pull, size:S

#50565 Be explicit about the type signature of map_func
  tensorflow/python/data/ops/dataset_ops.py
Labels: cla: yes, comp:data, ready to pull, size:XS

#50153 [XLA] Bitcast lift + exp not expensive.
  tensorflow/compiler/xla/service/gpu/BUILD
  tensorflow/compiler/xla/service/gpu/fusion_bitcast_lift.cc
  tensorflow/compiler/xla/service/gpu/fusion_bitcast_lift.h
  tensorflow/compiler/xla/service/gpu/fusion_bitcast_lift_test.cc
  tensorflow/compiler/xla/service/gpu/gpu_compiler.cc
  tensorflow/compiler/xla/service/gpu/ir_emitter_unnested.cc
  tensorflow/compiler/xla/service/hlo_computation.cc
  tensorflow/compiler/xla/service/hlo_computation.h
  tensorflow/compiler/xla/service/platform_util.cc
Labels: cla: yes, ready to pull, size:L

#50640 [determinism] Enhance r2.6 release notes
  RELEASE.md
Labels: cla: yes, size:S

#50664 r2.6 cherry-pick request: tflite: Update CMake 3rd party libraries hash
  tensorflow/lite/tools/cmake/modules/eigen.cmake
  tensorflow/lite/tools/cmake/modules/fft2d.cmake
  tensorflow/lite/tools/cmake/modules/neon2sse.cmake
  tensorflow/lite/tools/cmake/modules/vulkan_headers.cmake
Labels: cla: yes, comp:lite, size:S

#50657 [oneDNN] Upgrade onednn to official version v2.3
  tensorflow/workspace2.bzl
Labels: cla: yes, ready to pull, size:XS

#50505 [determinism] Add d9m-unimplemented exception-throwing to fused batch-norm
  tensorflow/core/kernels/fused_batch_norm_op.cu.cc
  tensorflow/python/BUILD
  tensorflow/python/ops/nn_fused_batchnorm_deterministic_test.py
Labels: cla: yes, ready to pull, size:M

#50671 [MLIR][DISC] consider result types of func when checking legality
  tensorflow/compiler/mlir/hlo/lib/Dialect/mhlo/transforms/hlo_legalize_to_lhlo.cc
  tensorflow/compiler/mlir/hlo/tests/hlo-legalize-to-lhlo.mlir
Labels: cla: yes, ready to pull, size:S

#49277 Re-enable Fused BatchNorm + Add + Activation for the backprop
  tensorflow/compiler/xla/service/gpu/cudnn_batchnorm_runner.cc
  tensorflow/core/grappler/optimizers/remapper.cc
  tensorflow/core/grappler/optimizers/remapper_test.cc
  tensorflow/core/kernels/fused_batch_norm_ex_op_test.cc
  tensorflow/core/kernels/fused_batch_norm_op.cc
  tensorflow/core/ops/nn_ops.cc
  tensorflow/stream_executor/cuda/cuda_dnn.cc
  tensorflow/stream_executor/cuda/cuda_dnn.h
  tensorflow/stream_executor/dnn.h
  tensorflow/stream_executor/rocm/rocm_dnn.cc
  tensorflow/stream_executor/rocm/rocm_dnn.h
  tensorflow/stream_executor/stream.cc
  tensorflow/stream_executor/stream.h
Labels: cla: yes, ready to pull, size:XL

#50680 [CherryPick2.6][TF XLA AOT] Assume aarch64 is always available.
  tensorflow/core/platform/default/build_config.bzl
  tensorflow/python/tools/BUILD
  tensorflow/python/tools/saved_model_aot_compile.py
  tensorflow/python/tools/saved_model_cli_test.py
Labels: cla: yes, comp:core

#50700 [CherryPick 2.6]Disable GPU kernel for SparseSegmentMeanGrad
  tensorflow/core/kernels/segment_reduction_ops_impl_5.cc
Labels: cla: yes

#50703 Update version numbers for TensorFlow 2.6.0-rc1
  tensorflow/core/public/version.h
  tensorflow/tools/pip_package/setup.py
Labels: cla: yes

#50550 add 11 missing out-of-class definitions
  tensorflow/core/kernels/data/experimental/io_ops.cc
Labels: cla: yes, comp:core, ready to pull, size:S

#50570 Cudnn frontend v0.4: Support of int8x4, API updates
  tensorflow/stream_executor/cuda/cuda_dnn.cc
  tensorflow/stream_executor/dnn.cc
  tensorflow/stream_executor/dnn.h
  tensorflow/workspace2.bzl
  third_party/cudnn_frontend_header_fix.patch
Labels: cla: yes, ready to pull, size:L

#50547 Improve BiasAdd GPU performance with more threads
  tensorflow/core/kernels/bias_op_gpu.cu.cc
Labels: cla: yes, comp:core, ready to pull, size:XS

#50269 Caching of Pointers to Redzone Checker Kernel
  tensorflow/stream_executor/gpu/BUILD
  tensorflow/stream_executor/gpu/asm_compiler.cc
  tensorflow/stream_executor/gpu/asm_compiler.h
  tensorflow/stream_executor/gpu/redzone_allocator.cc
Labels: cla: yes, ready to pull, size:S

#50362 [Go] use GOOS to distinguish between platforms
  tensorflow/go/genop/generate.sh
  tensorflow/go/genop/generate.win.go
Labels: cla: yes, ready to pull, size:S

#50465 Fix indices rank in decompose ResourceScatterOp
  tensorflow/compiler/mlir/tensorflow/tests/decompose_resource_ops.mlir
  tensorflow/compiler/mlir/tensorflow/transforms/decompose_resource_ops.td
Labels: cla: yes, ready to pull, size:S

#50708 r2.6 cherry-pick request: Upgrade oneDNN version to v2.3
  tensorflow/workspace2.bzl
Labels: cla: yes, size:XS

#50508 [Go] Fix segfault on string tensors with mismatched dimensions
  tensorflow/go/tensor.go
Labels: cla: yes, ready to pull, size:S

#50677 Disable ppc64le custom gemm_pack_rhs to use the convolution specialization
  tensorflow/core/kernels/BUILD
  tensorflow/core/kernels/eigen_backward_cuboid_convolutions.h
  tensorflow/core/kernels/eigen_backward_spatial_convolutions.h
  tensorflow/core/kernels/eigen_cuboid_convolution.h
  tensorflow/core/kernels/eigen_spatial_convolutions-inl.h
Labels: cla: yes, comp:core, ready to pull, size:S

#50639 [INTEL MKL] Fixed a unit test failure when both cuda and oneDNN are enabled.
  tensorflow/python/grappler/auto_mixed_precision_test.py
Labels: cla: yes, comp:mkl, ready to pull, size:L

#50757 Update of Compute Library and oneDNN versions in mkl_aarch64 build config
  tensorflow/tensorflow.bzl
  tensorflow/workspace2.bzl
  third_party/compute_library/BUILD
  third_party/compute_library/compute_library.patch
  third_party/mkl_dnn/mkldnn_acl.BUILD
Labels: cla: yes, comp:mkl, ready to pull, size:S

#50615 [TFLite] Avoid passing negative quantized multipliers to MultiplyByQuantizedMultiplier
  tensorflow/lite/kernels/internal/optimized/optimized_ops.h
  tensorflow/lite/kernels/internal/reference/div.h
  tensorflow/lite/kernels/internal/reference/sub.h
  tensorflow/lite/kernels/sub.cc
  tensorflow/lite/kernels/sub_test.cc
Labels: cla: yes, comp:lite, ready to pull, size:L

#50759 [determinism] Fix line-wrap in r2.6 release notes
  RELEASE.md
Labels: cla: yes, size:S

#50491 WAR a bazel cache corruption issue.
  .bazelrc
Labels: cla: yes, ready to pull, size:XS

#50553 Fix configure.py when using bazelisk on Windows
  configure.py
Labels: cla: yes, ready to pull, size:XS

#50690 Fix some 'Access Denied' errors for RenameFile on Windows
  tensorflow/core/platform/windows/windows_file_system.cc
Labels: cla: yes, comp:core, ready to pull, size:S

#50742 Update URLs in Get started with microcontrollers
  tensorflow/lite/g3doc/microcontrollers/get_started_low_level.md
Labels: cla: yes, comp:lite, ready to pull, size:S

#50773 Fix segmentation fault in shape inference logic.
  tensorflow/core/common_runtime/shape_refiner.cc
Labels: cla: yes

#50775 Fix build after previous cherrypick (#50773).
  tensorflow/core/common_runtime/shape_refiner.cc
Labels: cla: yes

#50760 [ROCm] Enable xlogy and xlog1py for HIP GPU.
  tensorflow/core/kernels/cwise_op_gpu_xlog1py.cu.cc
  tensorflow/core/kernels/cwise_op_gpu_xlogy.cu.cc
  tensorflow/core/kernels/cwise_op_xlog1py.cc
  tensorflow/core/kernels/cwise_op_xlogy.cc
  tensorflow/core/kernels/mlir_generated/gpu_binary_ops_test.cc
Labels: cla: yes, comp:gpu, ready to pull, size:S

#50723 Fix missing image on Android download in README.md
  README.md
Labels: cla: yes, ready to pull, size:XS

#50698 cudaMallocAsync: Check return value
  tensorflow/core/common_runtime/gpu/gpu_cudamallocasync_allocator.cc
Labels: cla: yes, comp:core, ready to pull, size:S

#50560 Update resource_handle.h
  tensorflow/core/framework/resource_handle.h
Labels: cla: yes, comp:core, ready to pull, size:XS, type:docs-bug

#50770 Bump curl dependency to 7.77.0
  tensorflow/workspace2.bzl
  third_party/curl.BUILD
Labels: cla: yes, size:S

#50772 r2.6 cherry-pick request: Update ACL and oneDNN versions in mkl_aarch64 build
  tensorflow/tensorflow.bzl
  tensorflow/workspace2.bzl
  third_party/compute_library/BUILD
  third_party/compute_library/compute_library.patch
  third_party/mkl_dnn/mkldnn_acl.BUILD
Labels: cla: yes, size:S

#45298 Fix can't get a replica variable bug when use recompute_grad
  tensorflow/python/BUILD
  tensorflow/python/distribute/mirrored_variable_test.py
  tensorflow/python/ops/custom_gradient.py
  tensorflow/python/ops/gradients_test.py
Labels: cla: yes, ready to pull, size:S

#48944 Expose TF_NewOperationLocked, TF_FinishOperationLocked, and ToOperation
  tensorflow/c/c_api.cc
  tensorflow/c/c_api.h
Labels: cla: yes, prtype:bugfix, ready to pull, size:S

#50778 Delete curl-to-sh
  tensorflow/tools/dockerfiles/tools.Dockerfile
Labels: cla: yes, ready to pull, size:XS

#50552 [TF-TRT] testTrtGraphConverter_AllowEngineNativeSegmentExecution skipped with TRT8
  tensorflow/python/compiler/tensorrt/trt_convert_test.py
Labels: cla: yes, comp:gpu:tensorrt, ready to pull, size:S

#50792 Add missing dep on MLIRMhloUtils
  tensorflow/compiler/mlir/hlo/lib/Dialect/mhlo/transforms/CMakeLists.txt
Labels: cla: yes, ready to pull, size:XS

#50331 Adding no_rocm tags to current tests that are broken on ROCm.
  tensorflow/compiler/xla/service/gpu/tests/BUILD
  tensorflow/core/grappler/optimizers/BUILD
  tensorflow/python/distribute/BUILD
  tensorflow/python/keras/distribute/BUILD
  tensorflow/python/keras/layers/preprocessing/BUILD
  tensorflow/python/keras/layers/preprocessing/text_vectorization_distribution_test.py
  tensorflow/python/kernel_tests/cwise_ops_unary_test.py
Labels: cla: yes, ready to pull, size:S

#50327 Prevent glGetError infinity
  tensorflow/lite/delegates/gpu/gl/gl_errors.cc
Labels: cla: yes, comp:lite, ready to pull, size:XS

#49219 Added tf_logging for deprecated 'experimental_run_v2' (Tf 1.x)
  tensorflow/python/distribute/distribute_lib.py
Labels: cla: yes, prtype:bugfix, ready to pull, size:XS

#50794 [tf.data] Fix a performance regression for input pipelines that creat…
  tensorflow/core/data/snapshot_utils.cc
  tensorflow/core/kernels/data/window_dataset.cc
Labels: cla: yes, comp:data, size:S

#50489 Adding mhlo Einsum to LinalgGeneric Lowering
  tensorflow/compiler/mlir/hlo/lib/Dialect/mhlo/transforms/legalize_to_linalg.cc
  tensorflow/compiler/mlir/hlo/tests/hlo-legalize-to-linalg.mlir
Labels: cla: yes, ready to pull, size:L

#50810 r2.6 cherry-pick request: Downgrade oneDNN version from v2.3 back to v2.3-rc2
  tensorflow/workspace2.bzl
Labels: cla: yes

#50811 Adding mhlo Einsum to LinalgGeneric Lowering
  tensorflow/compiler/mlir/hlo/lib/Dialect/mhlo/transforms/legalize_to_linalg.cc
  tensorflow/compiler/mlir/hlo/tests/hlo-legalize-to-linalg.mlir
Labels: cla: yes, ready to pull, size:L

#50651 cudaMallocAsync: better VLOG and error message.
  tensorflow/core/common_runtime/bfc_allocator.cc
  tensorflow/core/common_runtime/gpu/gpu_cudamalloc_allocator.cc
  tensorflow/core/common_runtime/gpu/gpu_cudamallocasync_allocator.cc
  tensorflow/core/common_runtime/gpu/gpu_cudamallocasync_allocator.h
Labels: cla: yes, comp:core, ready to pull, size:M

#50780 [TF-TRT] ActivationLayer inaccuracy in TRT 8 - Unittest fix
  tensorflow/compiler/tf2tensorrt/convert/convert_nodes_test.cc
Labels: cla: yes, comp:gpu:tensorrt, ready to pull, size:S

#50830 Update stale.yml
  .github/stale.yml
Labels: cla: yes, ready to pull, size:XS

#50876 [ROCm] Proper fix for XLA unit test seg fault issue.
  tensorflow/compiler/xla/service/gpu/amdgpu_compiler.cc
  tensorflow/compiler/xla/service/gpu/gpu_compiler.cc
Labels: cla: yes, comp:gpu, ready to pull, size:S

#50782 [TF-TRT] Removing TRT 5 & 6 from the code base - Large Cleanup
  tensorflow/compiler/tf2tensorrt/convert/convert_nodes.cc
  tensorflow/compiler/tf2tensorrt/convert/convert_nodes.h
  tensorflow/compiler/tf2tensorrt/convert/convert_nodes_test.cc
  tensorflow/compiler/tf2tensorrt/convert/utils.cc
  tensorflow/compiler/tf2tensorrt/kernels/trt_engine_op.cc
  tensorflow/compiler/tf2tensorrt/kernels/trt_engine_op_test.cc
  tensorflow/compiler/tf2tensorrt/kernels/trt_engine_resource_ops_test.cc
  tensorflow/compiler/tf2tensorrt/plugin/trt_plugin.h
  tensorflow/compiler/tf2tensorrt/stub/NvInferPlugin_7_0.inc
  tensorflow/compiler/tf2tensorrt/stub/NvInferPlugin_7_1.inc
  tensorflow/compiler/tf2tensorrt/stub/NvInferPlugin_7_2.inc
  tensorflow/compiler/tf2tensorrt/stub/NvInferPlugin_8_0.inc
  tensorflow/compiler/tf2tensorrt/stub/NvInfer_7_0.inc
  tensorflow/compiler/tf2tensorrt/stub/NvInfer_7_1.inc
  tensorflow/compiler/tf2tensorrt/stub/NvInfer_7_2.inc
  tensorflow/compiler/tf2tensorrt/stub/NvInfer_8_0.inc
  tensorflow/compiler/tf2tensorrt/stub/nvinfer_plugin_stub.cc
  tensorflow/compiler/tf2tensorrt/stub/nvinfer_stub.cc
  tensorflow/compiler/tf2tensorrt/tensorrt_test.cc
  tensorflow/compiler/tf2tensorrt/utils/trt_engine_utils.cc
  tensorflow/compiler/tf2tensorrt/utils/trt_int8_calibrator.h
  tensorflow/compiler/tf2tensorrt/utils/trt_logger.cc
  tensorflow/compiler/tf2tensorrt/utils/trt_lru_cache.h
  tensorflow/compiler/tf2tensorrt/utils/trt_shape_optimization_profiles.cc
  tensorflow/compiler/tf2tensorrt/utils/trt_shape_optimization_profiles.h
  tensorflow/compiler/tf2tensorrt/utils/trt_shape_optimization_profiles_test.cc
  tensorflow/compiler/tf2tensorrt/utils/trt_tensor_proxy.h
  tensorflow/python/compiler/tensorrt/BUILD
  tensorflow/python/compiler/tensorrt/test/binary_tensor_weight_broadcast_test.py
  tensorflow/python/compiler/tensorrt/test/combined_nms_test.py
  tensorflow/python/compiler/tensorrt/test/quantization_mnist_test.py
  tensorflow/python/compiler/tensorrt/test/quantization_test.py
  tensorflow/python/compiler/tensorrt/test/tf_trt_integration_test_base.py
  tensorflow/python/compiler/tensorrt/test/trt_mode_test.py
  tensorflow/python/compiler/tensorrt/trt_convert.py
  tensorflow/python/compiler/tensorrt/trt_convert_test.py
  tensorflow/python/compiler/tensorrt/utils.py
  third_party/gpus/find_cuda_config.py
Labels: cla: yes, comp:gpu:tensorrt, ready to pull, size:L

#50767 profiling: memory_info: add support for new mallinfo API
  tensorflow/lite/profiling/memory_info.cc
  tensorflow/lite/profiling/memory_info.h
Labels: cla: yes, comp:lite, ready to pull, size:S

#49313 [TFLite] Support GPU buffer binding with C API
  tensorflow/lite/c/c_api_experimental.cc
  tensorflow/lite/c/c_api_experimental.h
  tensorflow/lite/delegates/gpu/metal_delegate.h
  tensorflow/lite/delegates/gpu/metal_delegate_internal.h
  tensorflow/lite/ios/BUILD.apple
  tensorflow/lite/ios/allowlist_TensorFlowLiteCMetal.txt
Labels: TFLiteGpuDelegate, cla: yes, comp:lite, ready to pull, size:M

#50851 [MLIR][TF] Canonicalize tf.DivNoNan and tf.MulNoNan
  tensorflow/compiler/mlir/tensorflow/ir/tf_generated_ops.td
  tensorflow/compiler/mlir/tensorflow/ir/tf_ops_a_m.cc
  tensorflow/compiler/mlir/tensorflow/tests/canonicalize.mlir
Labels: cla: yes, ready to pull, size:M

#50805 Fix TF_DEVICE_MIN_SYS_MEMORY_IN_MB for big size
  tensorflow/core/common_runtime/gpu/gpu_device.cc
Labels: awaiting review, cla: yes, comp:core, kokoro:force-run, ready to pull, size:XS

#50799 add device_vendor to the GpuDevice in JAX runtime
  tensorflow/compiler/xla/pjrt/gpu_device.cc
  tensorflow/compiler/xla/pjrt/gpu_device.h
  tensorflow/compiler/xla/python/xla.cc
  tensorflow/compiler/xla/python/xla_extension/__init__.pyi
Labels: cla: yes, ready to pull, size:S

#50846 [CherryPick2.6]Disallow division by zero FPE in tf.raw_ops.SparseDenseCwiseDiv
  tensorflow/core/kernels/sparse_dense_binary_op_shared.cc
Labels: cla: yes, comp:core, size:S

#50900 Disallow division by zero FPE in tf.raw_ops.SparseDenseCwiseDiv
  tensorflow/core/kernels/sparse_dense_binary_op_shared.cc
Labels: cla: yes, comp:core, size:S

#50899 Disallow division by zero FPE in tf.raw_ops.SparseDenseCwiseDiv
  tensorflow/core/kernels/sparse_dense_binary_op_shared.cc
Labels: cla: yes, comp:core, size:S

#50898 Disallow division by zero FPE in tf.raw_ops.SparseDenseCwiseDiv
  tensorflow/core/kernels/sparse_dense_binary_op_shared.cc
Labels: cla: yes, comp:core, size:S

#50901 Fix accessing possible nullptr in tensorflow::data::CompressElement and UncompressElement which are used in tf.data.service.
  tensorflow/core/data/compression_utils.cc
Labels: cla: yes, comp:core, size:S

#50902 Fix accessing possible nullptr in tensorflow::data::CompressElement and UncompressElement which are used in tf.data.service.
  tensorflow/core/data/compression_utils.cc
Labels: cla: yes, comp:core, size:S

#50903 Fix accessing possible nullptr in tensorflow::data::CompressElement and UncompressElement which are used in tf.data.service.
  tensorflow/core/data/compression_utils.cc
Labels: cla: yes, comp:core, size:S

#50904 Fix null ptr deref in tf.raw_ops.RaggedTensorToTensor
  tensorflow/core/kernels/ragged_tensor_to_tensor_op.cc
Labels: cla: yes, comp:core, size:S

#50905 Fix null ptr deref in tf.raw_ops.RaggedTensorToTensor
  tensorflow/core/kernels/ragged_tensor_to_tensor_op.cc
Labels: cla: yes, comp:core, size:XS

#50906 Fix null ptr deref in tf.raw_ops.RaggedTensorToTensor
  tensorflow/core/kernels/ragged_tensor_to_tensor_op.cc
Labels: cla: yes, comp:core, size:XS

#50847 [CherryPick2.6]Fix null ptr deref in tf.raw_ops.RaggedTensorToTensor
  tensorflow/core/kernels/ragged_tensor_to_tensor_op.cc
Labels: cla: yes, comp:core, size:XS

#50907 Validate num_elements input in tf.raw_ops.TensorListReserve
  tensorflow/core/kernels/list_kernels.cc
Labels: cla: yes, comp:core, size:XS

#50908 Validate num_elements input in tf.raw_ops.TensorListReserve
  tensorflow/core/kernels/list_kernels.cc
Labels: cla: yes, comp:core, size:XS

#50909 Validate num_elements input in tf.raw_ops.TensorListReserve
  tensorflow/core/kernels/list_kernels.cc
Labels: cla: yes, comp:core, size:XS

#50848 [CherryPick2.6]Validate num_elements input in tf.raw_ops.TensorListReserve
  tensorflow/core/kernels/list_kernels.cc
Labels: awaiting review, cla: yes, comp:core, size:XS

#50910 Ensure non-empty compressed input in tf.raw_ops.UncompressElement
  tensorflow/core/kernels/data/experimental/compression_ops.cc
Labels: cla: yes, comp:core, size:XS

#50911 Ensure non-empty compressed input in tf.raw_ops.UncompressElement
  tensorflow/core/kernels/data/experimental/compression_ops.cc
Labels: cla: yes, comp:core, size:XS

#50912 Ensure non-empty compressed input in tf.raw_ops.UncompressElement
  tensorflow/core/kernels/data/experimental/compression_ops.cc
Labels: cla: yes, comp:core, size:XS

#50849 [CherryPick2.6]Ensure non-empty compressed input in tf.raw_ops.UncompressElement
  tensorflow/core/kernels/data/experimental/compression_ops.cc
Labels: cla: yes, comp:core, size:XS

#50895 Added Python 3.9 support for "Building TensorFlow Lite Standalone Pip"
  tensorflow/lite/tools/pip_package/README.md
  tensorflow/tools/ci_build/Dockerfile.pi-python39
  tensorflow/tools/ci_build/install/install_pi_python3x_toolchain.sh
Labels: cla: yes, comp:lite, ready to pull, size:S

#50931 [INTEL MKL] Update mkl auto_mixed_precision_lists
  tensorflow/core/grappler/optimizers/auto_mixed_precision_lists.h
Labels: cla: yes, comp:grappler, ready to pull, size:M

#50929 use `std::make_tuple` instead of non-empty braced-init-lists
  tensorflow/stream_executor/gpu/asm_compiler.cc
Labels: cla: yes, comp:core, ready to pull, size:M

#50858 [Cherrypick:2.6]Disallow dims input of 0 in tf.raw_ops.UnravelIndex
  tensorflow/core/kernels/unravel_index_op.cc
  tensorflow/python/kernel_tests/array_ops_test.py
Labels: cla: yes, comp:core, size:S

#50861 [CherryPick2.6]Prevent division by 0 in `fully_connected.cc`
  tensorflow/lite/kernels/fully_connected.cc
Labels: cla: yes, comp:lite, size:XS

#50862 [CherryPick:2.6]Fix a null pointer exception in SVDF
  tensorflow/lite/kernels/kernel_util.cc
  tensorflow/lite/kernels/svdf.cc
Labels: cla: yes, comp:lite, size:XS

#50863 [CherryPick2.6]Fix a null pointer exception caused by branching on uninitialized data.
  tensorflow/lite/kernels/svdf.cc
Labels: cla: yes, comp:lite, size:XS

#50864 [CherryPick2.6]Fix a null pointer exception caused by branching on uninitialized data.
  tensorflow/lite/kernels/unidirectional_sequence_lstm.cc
Labels: cla: yes, comp:lite, size:XS

#50865 [CHerryPick2.6]Fix a null pointer exception caused by branching on uninitialized data.
  tensorflow/lite/kernels/depthwise_conv.cc
Labels: cla: yes, comp:lite, size:XS

#50866 [CherryPick2.6]Prevent a division by 0 in division ops.
  tensorflow/lite/kernels/div.cc
Labels: cla: yes, comp:lite, size:XS

#50867 [CherryPick2.6]Prevent a division by 0 in average ops.
  tensorflow/lite/kernels/internal/averagepool_quantized_test.cc
  tensorflow/lite/kernels/internal/optimized/integer_ops/pooling.h
  tensorflow/lite/kernels/internal/optimized/legacy_optimized_ops.h
  tensorflow/lite/kernels/internal/optimized/optimized_ops.h
  tensorflow/lite/kernels/internal/reference/integer_ops/pooling.h
  tensorflow/lite/kernels/internal/reference/legacy_reference_ops.h
  tensorflow/lite/kernels/internal/reference/pooling.h
  tensorflow/lite/kernels/pooling.cc
Labels: cla: yes, comp:lite, size:M

#50868 [CherryPick2.6]Prevent infinite loop in strided slice implementation
  tensorflow/lite/kernels/strided_slice.cc
  tensorflow/lite/kernels/strided_slice_test.cc
Labels: cla: yes, comp:lite, size:S

#50878 [CherryPick2.6]Fix segfault on string tensors with mismatched dimensions
  tensorflow/go/tensor.go
Labels: cla: yes, size:S

#50879 2.6rc2 cherry-pick request: Fix issue where disabling TensorFloat-32 had no effect.
  tensorflow/core/common_runtime/pluggable_device/BUILD
Labels: cla: yes, comp:core, size:XS

#50893 Enable '--distinct_host_configuration' for arm builds
  .bazelrc
Labels: cla: yes, size:XS

#50312 [Go] replace deprecated protocol buffers module
  tensorflow/go/genop/generate.sh
  tensorflow/go/genop/internal/api_def_map.go
  tensorflow/go/genop/internal/genop.go
  tensorflow/go/genop/internal/genop_test.go
  tensorflow/go/saved_model.go
Labels: cla: yes, ready to pull, size:S

#50930 Fix numpy 1.20 deprecation warnings (round two)
  tensorflow/lite/testing/zip_test_utils.py
  tensorflow/python/client/session.py
  tensorflow/python/framework/dtypes.py
  tensorflow/python/framework/tensor_util.py
  tensorflow/python/keras/feature_column/sequence_feature_column_test.py
  tensorflow/python/keras/layers/gru_v2_test.py
  tensorflow/python/keras/layers/lstm_v2_test.py
  tensorflow/python/keras/saving/save_test.py
  tensorflow/python/keras/utils/conv_utils.py
  tensorflow/python/keras/utils/conv_utils_test.py
Labels: cla: yes, ready to pull, size:S

#50976 Add missing closing backtick in parse_sequence_example docstring
  tensorflow/python/ops/parsing_ops.py
Labels: cla: yes, comp:ops, ready to pull, size:XS

#50983 Fix segmentation fault in shape inference logic.
  tensorflow/core/common_runtime/shape_refiner.cc
Labels: cla: yes, comp:core, size:S

#50984 Fix segmentation fault in shape inference logic.
  tensorflow/core/common_runtime/shape_refiner.cc
Labels: cla: yes, comp:core, size:S

#50985 Fix segmentation fault in shape inference logic.
  tensorflow/core/common_runtime/shape_refiner.cc
Labels: cla: yes, comp:core, size:S

#50996 Revert "Update shape_refiner.cc"
  tensorflow/core/common_runtime/shape_refiner.cc
Labels: cla: yes

#50991 [oneDNN] Fix for build failure.
  third_party/llvm_openmp/BUILD
Labels: cla: yes, ready to pull, size:S

#50987 use `std::make_tuple` in `cupti_tracer.cc`
  tensorflow/core/profiler/internal/gpu/cupti_tracer.cc
Labels: cla: yes, comp:core, ready to pull, size:M

#50882 Update gast mirror URL
  tensorflow/workspace2.bzl
Labels: awaiting review, cla: yes, ready to pull, size:XS, type:docs-bug

#50947 TF-TRT Apply batch size check for FC conversion path of MatMul
  tensorflow/compiler/tf2tensorrt/convert/convert_nodes.cc
  tensorflow/compiler/tf2tensorrt/convert/convert_nodes_test.cc
Labels: cla: yes, comp:gpu:tensorrt, ready to pull, size:S

#51000 [Cherrypick2.5] Disallow empty node_id_range in tf.raw_ops.BoostedTreesCalculateBestFeatureSplitV2 and tf.raw_ops.BoostedTreesCalculateBestGainsPerFeature
  tensorflow/core/kernels/boosted_trees/stats_ops.cc
Labels: cla: yes, comp:core, size:S

#50999 [Cherrypick2.4] Disallow empty node_id_range in tf.raw_ops.BoostedTreesCalculateBestFeatureSplitV2 and tf.raw_ops.BoostedTreesCalculateBestGainsPerFeature
  tensorflow/core/kernels/boosted_trees/stats_ops.cc
Labels: cla: yes, comp:core, size:S

#50998 [Cherrypick2.3] Disallow empty node_id_range in tf.raw_ops.BoostedTreesCalculateBestFeatureSplitV2 and tf.raw_ops.BoostedTreesCalculateBestGainsPerFeature
  tensorflow/core/kernels/boosted_trees/stats_ops.cc
Labels: cla: yes, comp:core, size:S

#50997 [Cherrypick2.6] Disallow empty node_id_range in tf.raw_ops.BoostedTreesCalculateBestFeatureSplitV2 and tf.raw_ops.BoostedTreesCalculateBestGainsPerFeature
  tensorflow/core/kernels/boosted_trees/stats_ops.cc
Labels: cla: yes, comp:core, size:S

#51001 [Cherrypick2.3] In tf.raw_ops.BoostedTreesSparseCalculateBestFeatureSplit, limit stat_dim in stats_summary_indices to under stats_dims in stats_summary_shape
  tensorflow/core/kernels/boosted_trees/stats_ops.cc
Labels: cla: yes, comp:core, size:XS

#51002 [Cherrypick2.4] In tf.raw_ops.BoostedTreesSparseCalculateBestFeatureSplit, limit stat_dim in stats_summary_indices to under stats_dims in stats_summary_shape
  tensorflow/core/kernels/boosted_trees/stats_ops.cc
Labels: cla: yes, comp:core, size:XS

#51003 [Cherrypick2.5] In tf.raw_ops.BoostedTreesSparseCalculateBestFeatureSplit, limit stat_dim in stats_summary_indices to under stats_dims in stats_summary_shape
  tensorflow/core/kernels/boosted_trees/stats_ops.cc
Labels: cla: yes, comp:core, size:XS

#51004 [Cherrypick2.6] In tf.raw_ops.BoostedTreesSparseCalculateBestFeatureSplit, limit stat_dim in stats_summary_indices to under stats_dims in stats_summary_shape
  tensorflow/core/kernels/boosted_trees/stats_ops.cc
Labels: cla: yes, comp:core, size:XS

#51050 [CherryPick2.6]Fix bug that could cause map_fn to produce incorrect results (rather than an error) when mapping over a ragged tensor with an inappropriate fn_output_signature. (Note: there are cases where the default value for fn_output_signature is not appropriate, so the user needs to explicitly specify the correct output signature.)
  tensorflow/core/kernels/ragged_tensor_from_variant_op.cc
  tensorflow/python/ops/ragged/ragged_map_fn_op_test.py
Labels: cla: yes

#51005 Secure tf.raw_ops.QuantizeV2
  tensorflow/core/kernels/quantize_op.cc
Labels: cla: yes, comp:core, size:S

#51006 Secure tf.raw_ops.QuantizeV2
  tensorflow/core/kernels/quantize_op.cc
Labels: cla: yes, comp:core, size:S

#51007 Secure tf.raw_ops.QuantizeV2
  tensorflow/core/kernels/quantize_op.cc
Labels: cla: yes, comp:core, size:S

#51008 Secure tf.raw_ops.QuantizeV2
  tensorflow/core/kernels/quantize_op.cc
Labels: cla: yes, comp:core, size:S

#51009 Ensure non-empty input_splits in tf.raw_ops.UnicodeEncode
  tensorflow/core/kernels/unicode_ops.cc
Labels: cla: yes, comp:core, size:XS

#51010 Ensure non-empty input_splits in tf.raw_ops.UnicodeEncode
  tensorflow/core/kernels/unicode_ops.cc
Labels: cla: yes, comp:core, size:XS

#51011 Ensure non-empty input_splits in tf.raw_ops.UnicodeEncode
  tensorflow/core/kernels/unicode_ops.cc
Labels: cla: yes, comp:core, size:XS

#51012 Ensure non-empty input_splits in tf.raw_ops.UnicodeEncode
  tensorflow/core/kernels/unicode_ops.cc
Labels: cla: yes, comp:core, size:XS

#51019 Disallow negative ngram_widths values in tf.raw_ops.StringNGrams
  tensorflow/core/kernels/string_ngrams_op.cc
Labels: cla: yes, comp:core, size:XS

#51020 Disallow negative ngram_widths values in tf.raw_ops.StringNGrams
  tensorflow/core/kernels/string_ngrams_op.cc
Labels: cla: yes, comp:core, size:XS

#51021 Disallow negative ngram_widths values in tf.raw_ops.StringNGrams
  tensorflow/core/kernels/string_ngrams_op.cc
Labels: cla: yes, comp:core, size:XS

#51022 Disallow negative ngram_widths values in tf.raw_ops.StringNGrams
  tensorflow/core/kernels/string_ngrams_op.cc
Labels: cla: yes, comp:core, size:XS

#51013 Prevent an OOB read in `expand_dims.cc`
  tensorflow/lite/kernels/expand_dims.cc
Labels: cla: yes, comp:lite, size:XS

#51014 Prevent heap OOB read in TFLite's `gather_nd.cc`.
  tensorflow/lite/kernels/gather_nd.cc
Labels: cla: yes, comp:lite, size:S

#51016 Prevent nullptr dereference in MLIR TFLite dialect/optimizer.
  tensorflow/compiler/mlir/lite/transforms/optimize.cc
Labels: cla: yes, size:XS

#51017 Prevent division by 0 in LSH projection.
  tensorflow/lite/kernels/lsh_projection.cc
Labels: cla: yes, comp:lite, size:XS

#51018 Prevent heap OOB read in TFLite's `gather.cc`.
  tensorflow/lite/kernels/gather.cc
Labels: cla: yes, comp:lite, size:M
