Repository tensorflow/tensorflow, pull requests merged in 2022-07, with the labels that each got.

#56254 Fix legalization of SplitV by handling negative axis values
  tensorflow/compiler/mlir/tosa/tests/tfl-to-tosa-pipeline.mlir
  tensorflow/compiler/mlir/tosa/transforms/legalize_common.cc
Labels: size:S

#56632 Fixes for formatting
  tensorflow/lite/g3doc/performance/coreml_delegate.md
Labels: comp:lite, ready to pull, size:XS

#56641 update flags and test skip list
  tensorflow/tools/ci_build/Dockerfile.cpu.arm64
  tensorflow/tools/ci_build/rel/ubuntu/cpu_arm64_pip.sh
Labels: ready to pull, size:S

#56465 [TF-TRT] TraceMe instrumentation for TRTEngineOp
  tensorflow/compiler/tf2tensorrt/BUILD
  tensorflow/compiler/tf2tensorrt/common/utils.cc
  tensorflow/compiler/tf2tensorrt/kernels/trt_engine_op.cc
  tensorflow/compiler/tf2tensorrt/utils/trt_engine_utils.cc
  tensorflow/compiler/tf2tensorrt/utils/trt_lru_cache.h
  tensorflow/compiler/tf2tensorrt/utils/trt_shape_optimization_profiles.cc
Labels: awaiting review, ready to pull, size:M, comp:gpu:tensorrt

#56682 [ROCm] Upstream rocm fixes 2
  tensorflow/compiler/xla/tests/convolution_test.cc
  tensorflow/python/kernel_tests/linalg/BUILD
  tensorflow/tools/ci_build/linux/rocm/run_cpu.sh
Labels: awaiting review, ready to pull, comp:gpu, size:XS

#56620 Remove references to no_oss_py2 tag
  tensorflow/python/autograph/pyct/BUILD
  tensorflow/python/distribute/BUILD
  tensorflow/python/tpu/BUILD
  tensorflow/python/tpu/client/BUILD
  tensorflow/tensorflow.bzl
  tensorflow/tools/ci_build/linux/cpu/run_mkl.sh
  tensorflow/tools/ci_build/presubmit/macos/py37_cc/build.sh
  tensorflow/tools/docs/BUILD
Labels: ready to pull, size:S

#56614 Converter for Range operator with mixed type parameters.
  tensorflow/compiler/tf2tensorrt/convert/convert_nodes_test.cc
  tensorflow/compiler/tf2tensorrt/convert/ops/fill_ops.cc
  tensorflow/compiler/tf2tensorrt/convert/ops/layer_utils.h
Labels: ready to pull, size:L, comp:gpu:tensorrt

#56701 Bump JAX libs for CI
  tensorflow/tools/ci_build/release/requirements_mac.txt
  tensorflow/tools/ci_build/release/requirements_ubuntu.txt
Labels: awaiting review, ready to pull, size:XS

#56486 [TF-TRT] Fix SUPER call in vgg_block_test.
  tensorflow/python/compiler/tensorrt/test/base_test.py
  tensorflow/python/compiler/tensorrt/test/biasadd_matmul_test.py
  tensorflow/python/compiler/tensorrt/test/binary_tensor_weight_broadcast_test.py
  tensorflow/python/compiler/tensorrt/test/dynamic_input_shapes_test.py
  tensorflow/python/compiler/tensorrt/test/int32_test.py
  tensorflow/python/compiler/tensorrt/test/shape_output_test.py
  tensorflow/python/compiler/tensorrt/test/tf_trt_integration_test_base.py
  tensorflow/python/compiler/tensorrt/test/vgg_block_nchw_test.py
  tensorflow/python/compiler/tensorrt/test/vgg_block_test.py
Labels: awaiting review, ready to pull, size:XS, comp:gpu:tensorrt

#56528 Fix filter shape checking in grappler remapping pass
  tensorflow/core/grappler/optimizers/remapper.cc
Labels: awaiting review, ready to pull, comp:grappler, size:XS

#56526 Support fp16 for conv-bias-relu on GPU
  tensorflow/core/grappler/optimizers/remapper.cc
  tensorflow/core/kernels/conv_ops_fused_half.cc
  tensorflow/core/kernels/conv_ops_fused_impl.h
  tensorflow/core/kernels/conv_ops_gpu.cc
  tensorflow/core/ops/nn_ops.cc
  tensorflow/python/grappler/remapper_test.py
Labels: awaiting review, ready to pull, comp:grappler, size:M

#56452 [TF-TRT] Export TRT engines to filesystem
  tensorflow/compiler/tf2tensorrt/kernels/trt_engine_resource_ops.cc
Labels: awaiting review, ready to pull, size:S, comp:gpu:tensorrt

#56704 [NVIDIA TF:XLA:JAX] Add NVIDIA as a Trusted Partner and assign reviewers
  .github/workflows/trusted-partners.yml
  .github/workflows/trusted_partners.js
Labels: ready to pull, size:XS

#55808 Disable where ops in xla auto-clustering
  tensorflow/compiler/jit/compilability_check_util.cc
  tensorflow/compiler/jit/compilability_check_util.h
  tensorflow/compiler/jit/flags.cc
  tensorflow/compiler/jit/flags.h
  tensorflow/compiler/jit/mark_for_compilation_pass.cc
  tensorflow/compiler/jit/mark_for_compilation_pass_test.cc
Labels: ready to pull, comp:xla, size:M

#55761 Support NHWC for Tensor_Float_32 + Ampere GPUs
  tensorflow/core/grappler/optimizers/BUILD
  tensorflow/core/grappler/optimizers/generic_layout_optimizer.cc
Labels: ready to pull, comp:grappler, size:M

#56716 Update compat.py
  tensorflow/python/compat/compat.py
Labels: ready to pull, size:XS

#55966 Support matmul+bias+gelu fusion on GPUs
  tensorflow/core/grappler/optimizers/remapper.cc
  tensorflow/core/kernels/conv_ops_fused_impl.h
  tensorflow/core/kernels/fused_eigen_output_kernels.cc
  tensorflow/core/kernels/fused_eigen_output_kernels.h
  tensorflow/core/kernels/matmul_op_fused.cc
  tensorflow/python/grappler/remapper_test.py
  tensorflow/stream_executor/cuda/cuda_blas_lt.cc
  tensorflow/stream_executor/cuda/cuda_blas_lt.h
Labels: ready to pull, comp:grappler, size:M

#56821 Use FP32 in DepthwiseConv2D tests on TF32 capable devices
  tensorflow/compiler/tests/depthwise_conv_op_test.py
Labels: awaiting review, ready to pull, size:S

#56809 [XLA] Keep the metadata during optimization for dot operation.
  tensorflow/compiler/xla/service/dot_decomposer.cc
  tensorflow/compiler/xla/service/dot_merger.cc
  tensorflow/compiler/xla/service/hlo_computation.h
  tensorflow/compiler/xla/service/hlo_instruction.h
Labels: awaiting review, ready to pull, comp:xla, size:XS

#56816 Update cpuinfo
  tensorflow/lite/tools/cmake/modules/clog.cmake
  tensorflow/lite/tools/cmake/modules/cpuinfo.cmake
  tensorflow/workspace2.bzl
Labels: awaiting review, ready to pull, size:S

#56823 [TF-TRT] Disable combined_nms_test with no_oss tag.
  tensorflow/python/compiler/tensorrt/test/BUILD
Labels: awaiting review, ready to pull, size:XS, comp:gpu:tensorrt

#56831 Fix compilation issue when building mhlo as an external project.
  tensorflow/compiler/mlir/hlo/CMakeLists.txt
Labels: awaiting review, ready to pull, size:XS

#56617 [TF:TRT] Refactor einsum converter to use IEinsumLayer
  tensorflow/compiler/tf2tensorrt/convert/convert_nodes_test.cc
  tensorflow/compiler/tf2tensorrt/convert/op_converter.h
  tensorflow/compiler/tf2tensorrt/convert/ops/einsum.cc
Labels: ready to pull, size:M, comp:gpu:tensorrt

#56829 update skip test list
  tensorflow/tools/ci_build/rel/ubuntu/cpu_arm64_pip.sh
Labels: ready to pull, size:XS

#56219 Patch Compute Library to pass correctly arguments to activation function
  tensorflow/workspace2.bzl
  third_party/compute_library/activation_func_correct_args.patch
Labels: ready to pull, size:S

#56139 [oneDNN] Shape inference fix for int8 convolutions.
  tensorflow/core/framework/common_shape_fns.cc
Labels: ready to pull, size:S

#55314 [oneDNN] bug fix in optimize_for_inference
  tensorflow/python/tools/optimize_for_inference_lib.py
Labels: ready to pull, size:XS

#56788 Fix unit tests for ROCm
  tensorflow/python/grappler/auto_mixed_precision_test.py
  tensorflow/python/kernel_tests/nn_ops/conv_ops_3d_test.py
Labels: awaiting review, ready to pull, comp:gpu, size:S

#56841 Cache size is too small for machines with more than 49 CPU cores
  tensorflow/python/data/experimental/kernel_tests/service/cross_trainer_cache_test.py
Labels: awaiting review, type:bug, ready to pull, comp:data, size:XS

#56844 [mhlo] Add missing dependency to the MhloDialect
  tensorflow/compiler/mlir/hlo/CMakeLists.txt
  tensorflow/compiler/mlir/hlo/lib/Dialect/mhlo/IR/CMakeLists.txt
Labels: ready to pull, size:S

#56824 [oneDNN] Upgrading oneDNN version to 2.6.1
  tensorflow/workspace2.bzl
Labels: ready to pull, size:XS

#54379 [INTEL oneDNN] Fix mkl_fused_ops_test failure and disable blocked format
  tensorflow/core/common_runtime/mkl_layout_pass.cc
  tensorflow/core/kernels/mkl/mkl_fused_ops_test.cc
Labels: ready to pull, comp:mkl, size:L

#56086 Fix (de)quantisation scale factor formula in MKL kernels
  tensorflow/core/common_runtime/mkl_layout_pass.cc
  tensorflow/core/kernels/mkl/mkl_dequantize_op.cc
  tensorflow/core/kernels/mkl/mkl_quantize_op.cc
  tensorflow/core/kernels/mkl/mkl_quantize_op_test.cc
Labels: ready to pull, size:M, comp:core

#56901 Update aarch64 skip-test list
  tensorflow/tools/ci_build/rel/ubuntu/cpu_arm64_pip.sh
Labels: ready to pull, size:XS

#56896 [mhlo] specify the include dirs are from build
  tensorflow/compiler/mlir/hlo/lib/Dialect/mhlo/IR/CMakeLists.txt
Labels: ready to pull, size:XS

#56642 [INTEL ONEDNN] - Added name of the primitive as key of mkl primitive …
  tensorflow/core/kernels/mkl/mkl_batch_matmul_helper.h
  tensorflow/core/kernels/mkl/mkl_batch_matmul_op.cc
  tensorflow/core/kernels/mkl/mkl_einsum_op.cc
  tensorflow/core/kernels/mkl/mkl_matmul_ops_common.h
Labels: ready to pull, size:S

#55645 [PluggableDevice] Add TF_AddNVariant and TF_ZerosLikeVariant
  tensorflow/c/BUILD
  tensorflow/c/kernels_experimental.cc
  tensorflow/c/kernels_experimental.h
  tensorflow/core/kernels/BUILD
  tensorflow/core/kernels/aggregate_ops.cc
  tensorflow/core/kernels/data/BUILD
  tensorflow/core/kernels/data/optional_ops.h
  tensorflow/core/kernels/data/optional_ops_util.cc
  tensorflow/core/kernels/data/optional_ops_util.h
  tensorflow/core/kernels/list_kernels.cc
  tensorflow/core/kernels/list_kernels.h
  tensorflow/core/kernels/tensor_list.cc
  tensorflow/core/kernels/tensor_list_util.cc
  tensorflow/core/kernels/tensor_list_util.h
  tensorflow/core/kernels/variant_ops_util.cc
  tensorflow/core/kernels/variant_ops_util.h
Labels: awaiting review, ready to pull, size:XL

#56791 [oneDNN] rename config auto_mixed_precision_mkl
  tensorflow/c/experimental/grappler/grappler.cc
  tensorflow/c/experimental/grappler/grappler.h
  tensorflow/core/grappler/optimizers/auto_mixed_precision.cc
  tensorflow/core/grappler/optimizers/auto_mixed_precision.h
  tensorflow/core/grappler/optimizers/auto_mixed_precision_test.cc
  tensorflow/core/grappler/optimizers/custom_graph_optimizer_registry.cc
  tensorflow/core/grappler/optimizers/meta_optimizer.cc
  tensorflow/core/grappler/utils/grappler_test.cc
  tensorflow/core/protobuf/rewriter_config.proto
  tensorflow/python/eager/context.py
  tensorflow/python/grappler/auto_mixed_precision_test.py
Labels: awaiting review, ready to pull, size:M

#56790 Updates Compute Library version to 22.05 and add mkl_aarch64_threadpool option
  .bazelrc
  tensorflow/tensorflow.bzl
  tensorflow/workspace2.bzl
  third_party/compute_library/BUILD
  third_party/compute_library/compute_library.patch
  third_party/mkl_dnn/BUILD
  third_party/mkl_dnn/build_defs.bzl
  third_party/mkl_dnn/mkldnn_acl.BUILD
  third_party/mkl_dnn/onednn_acl_threadpool_support.patch
Labels: ready to pull, size:M

#56914 Fix failing unit tests quantization_ops:quantization_ops_test
  tensorflow/core/kernels/mkl/mkl_avgpooling_op.cc
  tensorflow/core/kernels/mkl/mkl_maxpooling_op.cc
  tensorflow/core/kernels/mkl/mkl_quantized_pooling_ops_test.cc
Labels: type:docs-bug, ready to pull, comp:mkl, size:S

#56905 Change XLA bincount determinism string rationale
  tensorflow/core/kernels/bincount_op_gpu.cu.cc
  tensorflow/python/kernel_tests/math_ops/bincount_op_test.py
Labels: awaiting review, ready to pull, size:XS, comp:core

#55558 Add DEVICE_DEFAULT registration for DataFormatDimMap and DataFormatVecPermute
  tensorflow/core/kernels/data_format_ops.cc
Labels: ready to pull, size:S

#56523 TF-TRT Only set binding dimensions if needed
  tensorflow/compiler/tf2tensorrt/utils/trt_engine_utils.cc
Labels: ready to pull, size:S, comp:gpu:tensorrt

#56911 Correction of some minor errors in the Tile Converter testing procedure.
  tensorflow/compiler/tf2tensorrt/convert/convert_nodes_test.cc
Labels: awaiting review, ready to pull, size:M, comp:gpu:tensorrt

#55493 Adding option `--output_filepath` for tflite benchmark
  tensorflow/lite/tools/benchmark/benchmark_tflite_model.cc
Labels: comp:lite, ready to pull, size:S

#56933 Some unit tests are fixed and should be removed from exclude list
  tensorflow/tools/ci_build/rel/ubuntu/cpu_arm64_pip.sh
Labels: ready to pull, size:S

#55935 Update sparse_ops.py
  tensorflow/python/ops/sparse_ops.py
Labels: ready to pull, comp:ops, size:XS

#56730 Fix PyLint error where line is too long
  tensorflow/python/ops/array_ops.py
Labels: ready to pull, comp:ops, size:XS

#56092 Fix typo error of foldl and foldr
  tensorflow/python/ops/functional_ops.py
Labels: ready to pull, comp:ops, size:XS

#56864 Add support to int64 input type for benchmark tool
  tensorflow/tools/benchmark/benchmark_model.cc
Labels: ready to pull, size:XS

#56870 Fix markdown files in security.md
  SECURITY.md
Labels: ready to pull, size:S

#56891 [DOC, XLA] Now TF use int64_t, not int64.
  tensorflow/compiler/xla/g3doc/custom_call.md
Labels: ready to pull, comp:xla, size:XS

#56915 [ROCM] Enable bfloat16 unit test case
  tensorflow/compiler/tests/binary_ops_test.py
Labels: ready to pull, comp:gpu, size:XS
