Repository tensorflow/tensorflow, pull requests merged in 2022-05, with the labels that each got.

#55628 Support GPU fusion of matmal+bias+(activation)
  tensorflow/core/grappler/optimizers/remapper.cc
  tensorflow/core/grappler/optimizers/remapper_test.cc
  tensorflow/core/kernels/BUILD
  tensorflow/core/kernels/matmul_op_fused.cc
  tensorflow/core/kernels/matmul_op_impl.h
  tensorflow/core/kernels/matmul_op_test.cc
  tensorflow/core/ops/math_ops.cc
  tensorflow/stream_executor/matmul_util.cc
  tensorflow/stream_executor/matmul_util.h
Labels: ready to pull, size:L

#55790 Ensure there are more elements in the dataset than twice CPU core count
  tensorflow/python/data/experimental/kernel_tests/service/fault_tolerance_test.py
Labels: ready to pull, size:XS

#55655 TFTRT: Respect device placement requested by user
  tensorflow/python/compiler/tensorrt/trt_convert.py
  tensorflow/python/compiler/tensorrt/trt_convert_test.py
Labels: awaiting review, ready to pull, size:M, comp:gpu:tensorrt

#54399 Add nnapi/sl/SupportLibrary.cc to TFLITE_NNAPI_SRCS
  tensorflow/lite/CMakeLists.txt
Labels: comp:lite, ready to pull, size:XS

#54650 [TF:TRT] Add in-memory timing cache registry
  tensorflow/compiler/tf2tensorrt/BUILD
  tensorflow/compiler/tf2tensorrt/convert/convert_nodes.cc
  tensorflow/compiler/tf2tensorrt/convert/timing_cache.cc
  tensorflow/compiler/tf2tensorrt/convert/timing_cache.h
Labels: ready to pull, size:L, comp:gpu:tensorrt

#55762 Refactoring of the converter for Activation operators
  tensorflow/compiler/tf2tensorrt/convert/convert_nodes.cc
  tensorflow/compiler/tf2tensorrt/convert/convert_nodes_test.cc
  tensorflow/compiler/tf2tensorrt/convert/ops/unary_ops.cc
Labels: awaiting review, ready to pull, size:L, comp:gpu:tensorrt

#55831 Fix Autograph crashing on windows
  tensorflow/python/autograph/utils/ag_logging.py
Labels: ready to pull, size:XS

#55863 r2.7 cherry-pick: cff267650c6 "Fix tf.raw_ops.DeleteSessionTensor vulnerability with invalid `handle`."
  tensorflow/core/kernels/session_ops.cc
Labels: comp:core

#55862 r2.8 cherry-pick: cff267650c6 "Fix tf.raw_ops.DeleteSessionTensor vulnerability with invalid `handle`."
  tensorflow/core/kernels/session_ops.cc
Labels: comp:core

#55861 r2.9 cherry-pick: cff267650c6 "Fix tf.raw_ops.DeleteSessionTensor vulnerability with invalid `handle`."
  tensorflow/core/kernels/session_ops.cc
Labels: comp:core

#55860 r2.6 cherry-pick: 098e7762d90 "Fix tf.raw_ops.QuantizeAndDequantizeV4Grad vulnerability with invalid input_min or input_max."
  tensorflow/core/kernels/quantize_and_dequantize_op.cc
Labels: comp:core

#55859 r2.7 cherry-pick: 098e7762d90 "Fix tf.raw_ops.QuantizeAndDequantizeV4Grad vulnerability with invalid input_min or input_max."
  tensorflow/core/kernels/quantize_and_dequantize_op.cc
Labels: comp:core

#55858 r2.8 cherry-pick: 098e7762d90 "Fix tf.raw_ops.QuantizeAndDequantizeV4Grad vulnerability with invalid input_min or input_max."
  tensorflow/core/kernels/quantize_and_dequantize_op.cc
Labels: comp:core

#55857 r2.9 cherry-pick: 098e7762d90 "Fix tf.raw_ops.QuantizeAndDequantizeV4Grad vulnerability with invalid input_min or input_max."
  tensorflow/core/kernels/quantize_and_dequantize_op.cc
Labels: comp:core

#55856 r2.6 cherry-pick: 290bb05c80c "Fix tf.raw_ops.TensorSummaryV2 vulnerability with invalid serialized_summary_metadata."
  tensorflow/core/kernels/summary_tensor_op.cc
Labels: comp:core

#55854 r2.8 cherry-pick: 290bb05c80c "Fix tf.raw_ops.TensorSummaryV2 vulnerability with invalid serialized_summary_metadata."
  tensorflow/core/kernels/summary_tensor_op.cc
Labels: comp:core

#55852 r2.9 cherry-pick: 290bb05c80c "Fix tf.raw_ops.TensorSummaryV2 vulnerability with invalid serialized_summary_metadata."
  tensorflow/core/kernels/summary_tensor_op.cc
Labels: comp:core

#55922 [TFTRT]: Revert "Merge pull request #55655"
  tensorflow/python/compiler/tensorrt/trt_convert.py
  tensorflow/python/compiler/tensorrt/trt_convert_test.py
Labels: ready to pull, size:M

#55751 Improve the depthwise Conv2DBackpropFilterNCHW GPU kernel
  tensorflow/core/kernels/BUILD
  tensorflow/core/kernels/depthwise_conv_op_gpu.h
  tensorflow/python/kernel_tests/nn_ops/depthwise_conv_op_base.py
Labels: ready to pull, size:M, comp:core

#55752 [mhlo] modify rng algrothim attr declare as enum
  tensorflow/compiler/mlir/hlo/include/mlir-hlo-c/Attributes.h
  tensorflow/compiler/mlir/hlo/include/mlir-hlo/Dialect/mhlo/IR/hlo_ops.td
  tensorflow/compiler/mlir/hlo/include/mlir-hlo/Dialect/mhlo/IR/hlo_ops_base_enums.td
  tensorflow/compiler/mlir/hlo/lib/CAPI/Attributes.cpp
  tensorflow/compiler/mlir/hlo/python/MlirHloModule.cpp
  tensorflow/compiler/mlir/hlo/tests/Dialect/mhlo/ops.mlir
  tensorflow/compiler/mlir/hlo/tests/python/attributes.py
  tensorflow/compiler/mlir/xla/hlo_function_importer.cc
  tensorflow/compiler/mlir/xla/ir/mlir_hlo_builder.cc
  tensorflow/compiler/mlir/xla/tests/legalize-tf.mlir
  tensorflow/compiler/mlir/xla/tests/translate/export.mlir
  tensorflow/compiler/mlir/xla/tests/translate/import.hlotxt
  tensorflow/compiler/mlir/xla/transforms/legalize_tf.cc
  tensorflow/compiler/xla/python/xla_client.py
Labels: ready to pull, size:S

#55429 Removing the static tpu initializer for JAX altogether, and returning Status when it is not successful.
  tensorflow/compiler/xla/pjrt/BUILD
  tensorflow/compiler/xla/pjrt/tpu_client.cc
  tensorflow/compiler/xla/python/BUILD
  tensorflow/core/profiler/backends/tpu/tpu_tracer.cc
  tensorflow/core/tpu/tpu_api_dlsym_initializer.cc
  tensorflow/core/tpu/tpu_initializer_helper.cc
  tensorflow/core/tpu/tpu_initializer_helper.h
Labels: awaiting review, ready to pull, size:L

#55739 Improve cuDNN (and XLA) deterministic convolution testing
  tensorflow/python/kernel_tests/nn_ops/BUILD
  tensorflow/python/kernel_tests/nn_ops/cudnn_deterministic_base.py
Labels: awaiting review, ready to pull, size:M

#55849 Converter for LogicalOr and LogicalAnd operations.
  tensorflow/compiler/tf2tensorrt/convert/convert_nodes.h
  tensorflow/compiler/tf2tensorrt/convert/convert_nodes_test.cc
  tensorflow/compiler/tf2tensorrt/convert/ops/binary_ops.cc
Labels: ready to pull, size:M, comp:gpu:tensorrt

#55838 Rename IsCudnnSupportedFilterSize for grouped convolution
  tensorflow/core/kernels/depthwise_conv_grad_op.cc
  tensorflow/core/kernels/depthwise_conv_op.cc
  tensorflow/core/util/use_cudnn.cc
  tensorflow/core/util/use_cudnn.h
Labels: awaiting review, ready to pull, size:S, comp:core

#55773 Fix some typos for the, for, recieve, retrive.
  tensorflow/core/common_runtime/gpu/gpu_cudamallocasync_allocator.cc
  tensorflow/core/framework/full_type.proto
  tensorflow/core/grappler/optimizers/arithmetic_optimizer.cc
  tensorflow/core/kernels/data/experimental/snapshot_dataset_op.cc
  tensorflow/core/kernels/sparse/kernels_gpu.cu.cc
  tensorflow/core/ops/dataset_ops.cc
  tensorflow/core/runtime_fallback/util/tensor_util.h
  tensorflow/core/transforms/consolidate_attrs/pass.cc
  tensorflow/core/transforms/passes.td
Labels: ready to pull, size:S, comp:core

#55940 [oneDNN] Fix conv3d_backprop_filter_v2_grad_test_cpu test failure when oneDNN …
  tensorflow/core/kernels/mkl/mkl_conv_grad_filter_ops.cc
Labels: ready to pull, size:XS

#55491 [TF-TRT] Cast Converter Re-Engineered
  tensorflow/compiler/tf2tensorrt/convert/convert_nodes.cc
  tensorflow/compiler/tf2tensorrt/convert/utils.cc
  tensorflow/compiler/tf2tensorrt/convert/utils.h
  tensorflow/python/compiler/tensorrt/test/cast_test.py
  tensorflow/python/compiler/tensorrt/test/quantization_mnist_test.py
  tensorflow/python/compiler/tensorrt/test/testdata/gen_tftrt_model.py
  tensorflow/python/compiler/tensorrt/test/tf_trt_integration_test_base.py
Labels: stat:awaiting response, ready to pull, size:M, comp:gpu:tensorrt

#55820 Force ops without inputs to the start of the pseudo-topological order in `lift_to_graph`
  tensorflow/python/eager/lift_to_graph.py
Labels: awaiting review, comp:eager, ready to pull, size:XS

#55937 r2.9 cherrypick: Restore the original r2.9 setting of `TF_RUN_EAGER_OP_AS_FUNCTION`
  tensorflow/python/eager/context.py
Labels: comp:eager

#55775 Fix some typos for the, to, futher, indicies, ouput, retrive, in.
  tensorflow/lite/delegates/gpu/common/model_builder_internal.h
  tensorflow/lite/experimental/acceleration/configuration/configuration.proto
  tensorflow/lite/g3doc/examples/on_device_training/overview.ipynb
  tensorflow/lite/g3doc/performance/quantization_debugger.ipynb
  tensorflow/lite/interpreter_test.cc
  tensorflow/lite/kernels/activations.cc
  tensorflow/lite/kernels/arg_min_max.cc
  tensorflow/lite/kernels/gradient/bcast_grad_args.cc
  tensorflow/lite/kernels/kernel_util.h
  tensorflow/lite/optional_debug_tools.cc
  tensorflow/lite/python/optimize/calibration_wrapper.h
Labels: comp:lite, ready to pull, size:S

#55273 EIGEN_DEVICE_FUNC annotation cleanup
  tensorflow/core/kernels/cwise_ops.h
  tensorflow/core/kernels/eigen_spatial_convolutions-inl.h
  tensorflow/core/kernels/image/mirror_pad_op.h
Labels: awaiting review, ready to pull, size:S, comp:core

#55925 Use global cache for MKL primitives
  tensorflow/core/kernels/mkl/mkl_batch_matmul_op.cc
  tensorflow/core/kernels/mkl/mkl_concat_op.cc
  tensorflow/core/kernels/mkl/mkl_conv_grad_filter_ops.cc
  tensorflow/core/kernels/mkl/mkl_conv_grad_input_ops.cc
  tensorflow/core/kernels/mkl/mkl_conv_ops.cc
  tensorflow/core/kernels/mkl/mkl_eltwise_activation_base_op.h
  tensorflow/core/kernels/mkl/mkl_fused_batch_norm_op.cc
  tensorflow/core/kernels/mkl/mkl_matmul_ops_common.h
  tensorflow/core/kernels/mkl/mkl_pooling_ops_common.cc
  tensorflow/core/kernels/mkl/mkl_pooling_ops_common.h
  tensorflow/core/kernels/mkl/mkl_quantize_op.cc
  tensorflow/core/kernels/mkl/mkl_relu_op.cc
  tensorflow/core/kernels/mkl/mkl_slice_op.cc
  tensorflow/core/kernels/mkl/mkl_softmax_op.cc
  tensorflow/core/util/mkl_util.h
Labels: ready to pull, size:L

#55836 Add missing NVIDIA repository key
  tensorflow/tools/dockerfiles/dockerfiles/devel-gpu-jupyter.Dockerfile
  tensorflow/tools/dockerfiles/dockerfiles/devel-gpu.Dockerfile
  tensorflow/tools/dockerfiles/dockerfiles/gpu-jupyter.Dockerfile
  tensorflow/tools/dockerfiles/dockerfiles/gpu.Dockerfile
  tensorflow/tools/dockerfiles/dockerfiles/ppc64le/devel-gpu-ppc64le-jupyter.Dockerfile
  tensorflow/tools/dockerfiles/dockerfiles/ppc64le/devel-gpu-ppc64le.Dockerfile
  tensorflow/tools/dockerfiles/dockerfiles/ppc64le/gpu-ppc64le-jupyter.Dockerfile
  tensorflow/tools/dockerfiles/dockerfiles/ppc64le/gpu-ppc64le.Dockerfile
  tensorflow/tools/dockerfiles/partials/ubuntu/devel-nvidia.partial.Dockerfile
  tensorflow/tools/dockerfiles/partials/ubuntu/nvidia.partial.Dockerfile
Labels: awaiting review, ready to pull, size:S

#55875 Fix swapped cuda and cuDNN versions
  tensorflow/tools/toolchains/remote_config/configs.bzl
Labels: ready to pull, size:XS

#55963 [XLA] Multi-worker add a warning feedback for the user
  tensorflow/python/distribute/collective_all_reduce_strategy.py
Labels: awaiting review, ready to pull, size:XS

#55777 build: add `ios_arm_64` configuration, fix build issues for TFLite
  .bazelrc
  third_party/cpuinfo/cpuinfo.BUILD
Labels: ready to pull

#55888 [mhlo] Clean up C-API references to CPP
  tensorflow/compiler/mlir/hlo/include/mlir-hlo-c/Attributes.h
  tensorflow/compiler/mlir/hlo/lib/CAPI/Attributes.cpp
  tensorflow/compiler/mlir/hlo/python/MlirHloModule.cpp
Labels: awaiting review, ready to pull, size:M

#55844 Fix typo in MLIR-HLO's bazel BUILD file
  tensorflow/compiler/mlir/hlo/BUILD
Labels: ready to pull, size:XS

#55807 Remove no_oss tag for depthwise conv tests
  tensorflow/python/kernel_tests/nn_ops/BUILD
  tensorflow/python/kernel_tests/nn_ops/depthwise_conv_op_base.py
Labels: awaiting review, ready to pull, size:XS

#55923 Fix GPU conv-bias-relu fusion
  tensorflow/core/grappler/optimizers/remapper.cc
  tensorflow/python/grappler/remapper_test.py
Labels: awaiting review, ready to pull, comp:grappler, size:S

#55806 Support NHWC for Tensor_Float_32 + Ampere GPUs (Part 2)
  tensorflow/core/kernels/conv_grad_filter_ops.cc
  tensorflow/core/kernels/conv_grad_input_ops.cc
  tensorflow/core/kernels/conv_grad_ops_3d.cc
  tensorflow/core/kernels/conv_ops.cc
  tensorflow/core/kernels/conv_ops_3d.cc
  tensorflow/core/kernels/conv_ops_gpu.cc
  tensorflow/core/kernels/conv_ops_gpu.h
Labels: ready to pull, size:M, comp:core

#56031 Bump up cudnn frontend to v0.6.2
  tensorflow/workspace2.bzl
  third_party/cudnn_frontend_header_fix.patch
Labels: awaiting review, ready to pull, size:S

#56052 [TF:TRT] Remove dead code from TrtEngineOp implementation
  tensorflow/compiler/tf2tensorrt/kernels/trt_engine_op.cc
Labels: awaiting review, ready to pull, size:XS, comp:gpu:tensorrt

#56060 Update curl to latest 7.83.1
  tensorflow/workspace2.bzl
Labels: awaiting review, ready to pull, size:XS

#56090 [oneDNN] Bug fix: /tensorflow/python/grappler:remapper_test_gpu on GPU with oneDNN enabled
  tensorflow/core/grappler/optimizers/remapper.cc
Labels: ready to pull, size:XS

#55768 Fix typos for occured, appearence, this, is, a, for, agressiveness, t…
  tensorflow/compiler/xla/python/jax_jit.cc
  tensorflow/compiler/xla/python/pmap_lib.cc
  tensorflow/compiler/xla/service/all_reduce_combiner_test.cc
  tensorflow/compiler/xla/service/cpu/cpu_runtime.cc
  tensorflow/compiler/xla/service/gpu/gpu_fusible.h
  tensorflow/compiler/xla/service/gpu/ir_emitter_unnested.cc
  tensorflow/compiler/xla/service/memory_space_assignment.h
  tensorflow/compiler/xla/service/sharding_propagation.cc
  tensorflow/compiler/xla/service/space_to_batch_converter.cc
Labels: ready to pull, comp:xla, size:S

#55402 TFLite evaluation utils: Fix `elinux_armhf` build
  tensorflow/lite/tools/evaluation/BUILD
Labels: awaiting review, comp:lite, ready to pull, size:XS

#54078 [TFLite] Restrict inputs and outputs scaling/zero-point to be the same for the EXPAND_DIMS op
  tensorflow/lite/kernels/expand_dims.cc
  tensorflow/lite/tools/optimize/operator_property.cc
Labels: comp:lite, ready to pull, size:S

#56040 Converter for Range operator.
  tensorflow/compiler/tf2tensorrt/convert/convert_nodes.h
  tensorflow/compiler/tf2tensorrt/convert/convert_nodes_test.cc
  tensorflow/compiler/tf2tensorrt/convert/ops/fill_ops.cc
  tensorflow/compiler/tf2tensorrt/convert/ops/layer_utils.h
  tensorflow/compiler/tf2tensorrt/convert/ops/like_ops.cc
Labels: awaiting review, ready to pull, size:L, comp:gpu:tensorrt

#56056 TFTRT: Respect device placement requested by user
  tensorflow/python/compiler/tensorrt/trt_convert.py
  tensorflow/python/compiler/tensorrt/trt_convert_test.py
Labels: awaiting review, ready to pull, size:M, comp:gpu:tensorrt

#55805 [TF-TRT] Calling garbage collector in `tearDown()` to unittest base function.
  tensorflow/python/compiler/tensorrt/test/tf_trt_integration_test_base.py
Labels: awaiting review, ready to pull, size:XS, comp:gpu:tensorrt

#56106 [Autograph] Enable loop_scoping_test
  tensorflow/python/autograph/tests/BUILD
  tensorflow/python/autograph/tests/loop_scoping_test.py
Labels: awaiting review, ready to pull, size:XS

#56066 [TF:TRT] Temporarily disable tile conversion
  tensorflow/compiler/tf2tensorrt/convert/convert_nodes_test.cc
  tensorflow/compiler/tf2tensorrt/convert/ops/tile.cc
Labels: awaiting review, ready to pull, size:M, comp:gpu:tensorrt

#55969 Remove duplicate code block in remapper
  tensorflow/core/grappler/optimizers/remapper.cc
Labels: awaiting review, ready to pull, comp:grappler, size:S

#55613 Store PTX for highest compute capability only, when using old x.y format
  third_party/gpus/cuda_configure.bzl
Labels: awaiting review, ready to pull, size:XS

#56097 Add CI/CD for ARM64 using GitHub Actions
  .github/workflows/arm-cd.yml
  .github/workflows/arm-ci.yml
  tensorflow/tools/ci_build/Dockerfile.cpu.arm64
  tensorflow/tools/ci_build/builds/pip_new.sh
  tensorflow/tools/ci_build/builds/with_the_same_user
  tensorflow/tools/ci_build/install/install_bazel.sh
  tensorflow/tools/ci_build/rel/ubuntu/cpu_arm64_pip.sh
  tensorflow/tools/ci_build/release/common.sh
Labels: awaiting review, ready to pull, size:L

#56227 Update reviewers on RBE commits
  .github/workflows/update-rbe.yml
Labels: awaiting review, ready to pull, size:XS

#56221 Remove debug logs from saver.py
  tensorflow/python/training/saver.py
Labels: awaiting review, ready to pull, size:XS

#56156 Fix build of hwloc for --config=numa
  third_party/hwloc/hwloc.BUILD
Labels: ready to pull, size:S

#55670 ppc64le: eigen: using the new flag to enable MMA dynamic dispatch
  configure.py
Labels: ready to pull, size:XS

#56047 [MHLO] add EliminateRedundantConvert canonicalize pattern
  tensorflow/compiler/mlir/hlo/lib/Dialect/mhlo/IR/hlo_ops.cc
  tensorflow/compiler/mlir/hlo/tests/Dialect/mhlo/canonicalize/convert.mlir
Labels: ready to pull, size:S

#56267 update arm pypi project name
  .github/workflows/arm-cd.yml
  tensorflow/tools/ci_build/Dockerfile.cpu.arm64
  tensorflow/tools/ci_build/rel/ubuntu/cpu_arm64_pip.sh
Labels: ready to pull, size:S

#55619 Use faster sort in TopK kernel when num_rows==1
  tensorflow/core/kernels/BUILD
  tensorflow/core/kernels/gpu_prim_helpers.h
  tensorflow/core/kernels/topk_op_gpu.h
Labels: ready to pull, size:M, comp:core

#55231 Fix softmax bug for ragged tensors
  tensorflow/python/ops/nn_test.py
  tensorflow/python/ops/ragged/ragged_math_ops.py
  tensorflow/python/ops/ragged/ragged_math_ops_test.py
Labels: ready to pull, comp:ops, size:S

#55590 Link to Resource Variables
  tensorflow/lite/python/lite.py
Labels: comp:lite, ready to pull, size:XS
