Repository tensorflow/tensorflow, pull requests merged in 2022-03, with the labels that each got.

#54508 [TF-TRT] Converter Summary Improved with number of IO nodes
  tensorflow/python/compiler/tensorrt/trt_convert.py
Labels: awaiting review, ready to pull, size:S, comp:gpu:tensorrt

#54301 [TF:TRT] Cleanup TRTOptimizer and convert_graph
  tensorflow/compiler/tf2tensorrt/convert/convert_graph.cc
  tensorflow/compiler/tf2tensorrt/convert/convert_graph.h
  tensorflow/compiler/tf2tensorrt/convert/convert_graph_test.cc
  tensorflow/compiler/tf2tensorrt/convert/trt_optimization_pass.cc
  tensorflow/compiler/tf2tensorrt/convert/trt_optimization_pass.h
  tensorflow/compiler/tf2tensorrt/kernels/trt_engine_op_test.cc
Labels: awaiting review, ready to pull, size:L, comp:gpu:tensorrt

#54547 Remove java-related flags from .bazelrc that are ignored by Bazel 5.
  .bazelrc
Labels: ready to pull, size:S

#54486 Updated Random_ops tests
  tensorflow/lite/kernels/CMakeLists.txt
Labels: comp:lite, ready to pull, size:XS

#54599 [TF:TRT] Elide log messages when qdq mode is off
  tensorflow/compiler/tf2tensorrt/convert/trt_optimization_pass.cc
  tensorflow/compiler/tf2tensorrt/kernels/trt_engine_op.cc
Labels: ready to pull, size:XS, comp:gpu:tensorrt

#54236 [ROCm] Fixes to make //tensorflow/compiler/xla/service/gpu/tests:mlir_gemm_t…
  tensorflow/compiler/mlir/tfrt/transforms/lmhlo_to_gpu/cholesky_pattern.cc
  tensorflow/compiler/mlir/tfrt/transforms/lmhlo_to_gpu/convolution_pattern.cc
  tensorflow/compiler/mlir/tfrt/transforms/lmhlo_to_gpu/gemm_pattern.cc
  tensorflow/compiler/mlir/tfrt/transforms/lmhlo_to_gpu/pass_utils.cc
  tensorflow/compiler/mlir/tfrt/transforms/lmhlo_to_gpu/pattern_utils.cc
  tensorflow/compiler/mlir/tfrt/transforms/lmhlo_to_gpu/pattern_utils.h
  tensorflow/compiler/mlir/tfrt/transforms/lmhlo_to_gpu/triangular_solve_pattern.cc
  tensorflow/compiler/xla/service/gpu/bef_thunk.cc
  tensorflow/compiler/xla/service/gpu/gpu_executable.cc
Labels: awaiting review, comp:gpu, size:M

#54306 [ROCm] Fix to enable the following unit tests for BEF thunk on ROCm:
  tensorflow/compiler/xla/service/gpu/bef_thunk.cc
  tensorflow/compiler/xla/service/gpu/xlir_kernels.cc
  tensorflow/compiler/xla/service/gpu/xlir_ops.h
Labels: awaiting review, comp:gpu, size:S

#53769 i64 index def in build_defs
  tensorflow/compiler/mlir/tools/kernel_gen/kernel_creator.cc
  tensorflow/compiler/mlir/tools/kernel_gen/tf_to_kernel.cc
  tensorflow/core/kernels/mlir_generated/BUILD
  tensorflow/core/kernels/mlir_generated/build_defs.bzl
Labels: awaiting review, ready to pull, size:S, comp:core

#54885 Create workflow to automate RBE image updates
  .github/workflows/update-rbe.yml
Labels: awaiting review, ready to pull, size:M

#52007 Refactor SparseSliceGradOp to use a functor
  tensorflow/core/kernels/sparse_slice_grad_op.cc
  tensorflow/core/kernels/sparse_slice_grad_op.h
  tensorflow/python/kernel_tests/sparse_ops/sparse_slice_op_test.py
Labels: cla: yes, ready to pull, size:M, comp:core

#54504 [ROCm] Syncing contents of the rocm configuration files with the ROCm fork
  third_party/gpus/crosstool/clang/bin/crosstool_wrapper_driver_rocm.tpl
  third_party/gpus/find_rocm_config.py
  third_party/gpus/find_rocm_config.py.gz.base64
  third_party/gpus/rocm/BUILD.tpl
  third_party/gpus/rocm/build_defs.bzl.tpl
  third_party/gpus/rocm_configure.bzl
Labels: ready to pull, comp:gpu, size:M

#54740 Updated arguments of acos function
  tensorflow/python/ops/math_ops.py
Labels: awaiting review, ready to pull, comp:ops, size:XS

#54954 Update the RBE images to the latest container versions
  tensorflow/tools/toolchains/remote_config/configs.bzl
Labels: awaiting review, ready to pull, size:S

#54433 Use tensor create function for cudnn frontend APIs
  tensorflow/stream_executor/cuda/cuda_dnn.cc
Labels: ready to pull, size:M

#54926 [ROCm] ROCm bef thunk blasgemm refactor
  tensorflow/compiler/mlir/tfrt/transforms/lmhlo_to_gpu/gemm_pattern.cc
  tensorflow/compiler/mlir/tfrt/transforms/lmhlo_to_gpu/pattern_utils.cc
  tensorflow/compiler/mlir/tfrt/transforms/lmhlo_to_gpu/pattern_utils.h
Labels: ready to pull, comp:gpu, size:M

#54820 Correct typo in documentation
  tensorflow/python/ops/summary_ops_v2.py
Labels: ready to pull, comp:ops, size:XS

#54432 Add appropriate dtype check for `tf.boolean_mask`'s mask
  tensorflow/python/kernel_tests/array_ops/array_ops_test.py
  tensorflow/python/ops/array_ops.py
Labels: ready to pull, size:S, prtype:bugfix

#54490 Fix typo in examples for tf.linalg.pinv
  tensorflow/python/ops/linalg/linalg_impl.py
Labels: ready to pull, comp:ops, size:XS

#54972 Add float16 and bfloat16 support for tf.image.rgb_to_hsv/tf.image.hsv_to_rgb
  tensorflow/core/kernels/image/colorspace_op.cc
  tensorflow/python/ops/image_ops_test.py
Labels: ready to pull, size:S, prtype:bugfix

#54810 [MKL BUG fix]fix a minor bug of IsContractionWithAdd
  tensorflow/core/grappler/optimizers/remapper.cc
  tensorflow/core/grappler/optimizers/remapper_test.cc
Labels: ready to pull, comp:grappler, size:M

#55031 Remove unused proto import
  tensorflow/core/protobuf/worker.proto
Labels: ready to pull, size:XS, comp:core

#54924 Add Arm Ltd to AUTHORS
  AUTHORS
Labels: awaiting review, ready to pull, size:XS

#55039 Update the RBE images to the latest container versions
  tensorflow/tools/toolchains/remote_config/configs.bzl
Labels: ready to pull, size:S

#53860 [oneDNN] Fixing node_file_writer_test
  tensorflow/core/common_runtime/eager/mkl_eager_op_rewrite.cc
Labels: awaiting review, ready to pull, size:XS, comp:core

#55097 [oneDNN] Fix Windows build failure due to OpenMP linking error in Bazel 5
  third_party/llvm_openmp/openmp.bzl
Labels: ready to pull, size:XS

#54801 [TF-TRT] Changing Engine Name to TRTEngineOp_ABC_XYZ
  tensorflow/compiler/tf2tensorrt/convert/convert_graph.cc
  tensorflow/compiler/tf2tensorrt/convert/convert_graph_test.cc
  tensorflow/compiler/tf2tensorrt/convert/convert_nodes_test.cc
  tensorflow/compiler/tf2tensorrt/kernels/trt_engine_op_test.cc
  tensorflow/python/compiler/tensorrt/test/annotate_max_batch_sizes_test.py
  tensorflow/python/compiler/tensorrt/test/base_test.py
  tensorflow/python/compiler/tensorrt/test/batch_matmul_test.py
  tensorflow/python/compiler/tensorrt/test/biasadd_matmul_test.py
  tensorflow/python/compiler/tensorrt/test/binary_tensor_weight_broadcast_test.py
  tensorflow/python/compiler/tensorrt/test/cast_test.py
  tensorflow/python/compiler/tensorrt/test/combined_nms_test.py
  tensorflow/python/compiler/tensorrt/test/concatenation_test.py
  tensorflow/python/compiler/tensorrt/test/const_broadcast_test.py
  tensorflow/python/compiler/tensorrt/test/conv2d_test.py
  tensorflow/python/compiler/tensorrt/test/dynamic_input_shapes_test.py
  tensorflow/python/compiler/tensorrt/test/identity_output_test.py
  tensorflow/python/compiler/tensorrt/test/int32_test.py
  tensorflow/python/compiler/tensorrt/test/lru_cache_test.py
  tensorflow/python/compiler/tensorrt/test/memory_alignment_test.py
  tensorflow/python/compiler/tensorrt/test/multi_connection_neighbor_engine_test.py
  tensorflow/python/compiler/tensorrt/test/neighboring_engine_test.py
  tensorflow/python/compiler/tensorrt/test/quantization_test.py
  tensorflow/python/compiler/tensorrt/test/rank_two_test.py
  tensorflow/python/compiler/tensorrt/test/reshape_transpose_test.py
  tensorflow/python/compiler/tensorrt/test/shape_output_test.py
  tensorflow/python/compiler/tensorrt/test/tf_function_test.py
  tensorflow/python/compiler/tensorrt/test/topk_test.py
  tensorflow/python/compiler/tensorrt/test/trt_engine_op_shape_test.py
  tensorflow/python/compiler/tensorrt/test/trt_mode_test.py
  tensorflow/python/compiler/tensorrt/test/unary_test.py
  tensorflow/python/compiler/tensorrt/test/vgg_block_nchw_test.py
  tensorflow/python/compiler/tensorrt/test/vgg_block_test.py
  tensorflow/python/compiler/tensorrt/trt_convert_test.py
Labels: ready to pull, size:S, comp:gpu:tensorrt

#54505 [TF-TRT] TF_TRT_MAX_ALLOWED_ENGINES env var added to limit the number of TRT Engines
  tensorflow/compiler/tf2tensorrt/segment/segment.cc
Labels: awaiting review, ready to pull, size:M, comp:gpu:tensorrt

#55136 [ROCm] Fixes to enable triangular solve and cholesky BEF thunk unit tests for ROCm.
  tensorflow/compiler/mlir/tfrt/transforms/lmhlo_to_gpu/cholesky_pattern.cc
  tensorflow/compiler/mlir/tfrt/transforms/lmhlo_to_gpu/triangular_solve_pattern.cc
Labels: awaiting review, ready to pull, comp:gpu, size:S

#54976 Update get_started_low_level.md
  tensorflow/lite/g3doc/microcontrollers/get_started_low_level.md
Labels: ready to pull, size:XS, comp:micro

#54240 checking pid of the process using tpu
  tensorflow/core/tpu/tpu_initializer_helper.cc
Labels: ready to pull, size:M, comp:core

#55173 [PluggableDevice] Add DEVICE_DEFAULT registration for ZerosLike and OnesLike
  tensorflow/core/kernels/constant_op.cc
Labels: ready to pull, size:XS, comp:core

#54381 Changes to add user scratch pad for matmul primitive to fix OOM issue in Transformer LT
  tensorflow/core/kernels/mkl/mkl_batch_matmul_op.cc
  tensorflow/core/kernels/mkl/mkl_einsum_op.cc
  tensorflow/core/kernels/mkl/mkl_matmul_ops_common.h
  tensorflow/core/util/mkl_util.h
Labels: ready to pull, comp:mkl, size:M

#54468 [PluggableDevice] Enable tensor list kernels on Windows
  tensorflow/core/kernels/list_kernels.h
Labels: ready to pull, size:XS, comp:core

#53937 [oneDNN] Enable auto_mixed_precision_mkl for saved_model
  tensorflow/python/eager/context.py
Labels: comp:eager, ready to pull, size:XS

#54100 [oneDNN] Removing eager check for mkl specific passes
  tensorflow/core/grappler/optimizers/remapper.cc
Labels: ready to pull, size:XS, comp:core

#53760 [TF:TRT] Fix the AlgorithmSelector
  tensorflow/compiler/tf2tensorrt/BUILD
  tensorflow/compiler/tf2tensorrt/common/utils.cc
  tensorflow/compiler/tf2tensorrt/common/utils.h
  tensorflow/compiler/tf2tensorrt/convert/algorithm_selector.cc
  tensorflow/compiler/tf2tensorrt/convert/algorithm_selector.h
  tensorflow/compiler/tf2tensorrt/convert/algorithm_selector_test.cc
  tensorflow/compiler/tf2tensorrt/convert/convert_nodes.cc
Labels: ready to pull, size:M, comp:gpu:tensorrt

#54788 [TF-TRT] Removing tensor name from error message to clean non conversion report
  tensorflow/compiler/tf2tensorrt/convert/convert_nodes.cc
  tensorflow/compiler/tf2tensorrt/convert/convert_nodes_test.cc
Labels: ready to pull, size:S, comp:gpu:tensorrt

#55233 Enhancements to allow BEF unit tests to work on CUDA and ROCm.
  tensorflow/compiler/xla/service/gpu/BUILD
Labels: awaiting review, comp:gpu, size:S

#55225 Minor fix to mlir function name symbol lookup for BEF lowering.
  tensorflow/compiler/xla/service/gpu/gpu_compiler.cc
Labels: awaiting review, ready to pull, comp:xla, size:XS

#53504 [ROCm] Explicitly setting the `__launch_bounds__` attribute to 1024 for MLIR generated kernels (for ROCm only)
  tensorflow/compiler/mlir/tools/kernel_gen/kernel_creator.cc
Labels: ready to pull, comp:gpu, size:S

#55247 [TF-TRT] Einsum debug message moved to VLOG(2)
  tensorflow/compiler/tf2tensorrt/convert/ops/einsum.cc
Labels: ready to pull, size:XS, comp:gpu:tensorrt

#53269 docs: Removed incorrect note in ctc_beam_search_decoder
  tensorflow/python/ops/ctc_ops.py
Labels: cla: yes, awaiting review, kokoro:force-run, ready to pull, comp:ops, size:XS

#55258 Update Compute Library to version 22.02
  tensorflow/workspace2.bzl
  third_party/compute_library/BUILD
  third_party/compute_library/compute_library.patch
Labels: ready to pull, size:L

#55288 Update the RBE images to the latest container versions
  tensorflow/tools/toolchains/remote_config/configs.bzl
Labels: awaiting review, ready to pull, size:S

#55196 [TF-TRT] Add engine device to `converter.summary()`
  tensorflow/python/compiler/tensorrt/trt_convert.py
Labels: ready to pull, size:S, comp:gpu:tensorrt

#54482 [oneDNN] Optimize CNMS implementation
  tensorflow/core/kernels/image/non_max_suppression_op.cc
Labels: ready to pull, size:M, comp:core

#55255 Remove calls to `rules_cc_toolchains`
  tensorflow/workspace0.bzl
Labels: awaiting review, ready to pull, size:XS

#54444 Fixed using invalid iterator (CID:20570650)
  tensorflow/lite/tools/delegates/delegate_provider.cc
Labels: comp:lite, ready to pull, size:XS

#55253 Allow some tolerance in equality test by using EXPECT_FLOAT_EQ
  tensorflow/core/framework/model_test.cc
Labels: ready to pull, size:XS, prtype:bugfix, comp:core

#54466 [mhlo]: add select canonicalization pattern
  tensorflow/compiler/mlir/hlo/include/mlir-hlo/Dialect/mhlo/IR/hlo_ops.td
  tensorflow/compiler/mlir/hlo/lib/Dialect/mhlo/IR/hlo_ops.cc
  tensorflow/compiler/mlir/hlo/tests/Dialect/mhlo/canonicalize/canonicalize.mlir
Labels: awaiting review, ready to pull, size:S

#55232 [ROCm] Fixes for vector data type collision in BEF thunk for ROCm.
  tensorflow/compiler/mlir/tfrt/transforms/lmhlo_to_gpu/pattern_utils.cc
  tensorflow/compiler/mlir/tfrt/transforms/lmhlo_to_gpu/pattern_utils.h
Labels: ready to pull, comp:gpu, size:S

#55238 Fix to enable mlir unit tests to run with BEF thunk/executable.
  tensorflow/compiler/xla/service/gpu/tests/mlir_gpu_test_base.cc
Labels: awaiting review, ready to pull, comp:xla, size:XS

#51758 [PluggableDevice] Add range checks to TF_ExpectedOutputDataType in non-debug builds
  tensorflow/c/kernels.cc
  tensorflow/c/kernels_test.cc
Labels: cla: yes, ready to pull, size:S

#54434 [INTEL oneDNN] Added BF16 support for Inv and InvGrad
  tensorflow/core/kernels/cwise_op_reciprocal.cc
Labels: awaiting review, ready to pull, size:XS, comp:core

#55333 [TF-TRT] Fix `quantization_ops_test` build error
  tensorflow/compiler/tf2tensorrt/BUILD
  tensorflow/compiler/tf2tensorrt/convert/ops/quantization_ops_test.cc
Labels: ready to pull, size:XS, comp:gpu:tensorrt

#54904 Added additional compiler `-mfp16-format=ieee`
  tensorflow/lite/g3doc/guide/build_cmake_arm.md
Labels: comp:lite, ready to pull, size:XS

#53480 [oneDNN] Enable Pad+Conv3D/_FusedConv3D fusion
  tensorflow/core/BUILD
  tensorflow/core/grappler/optimizers/remapper.cc
  tensorflow/core/grappler/optimizers/remapper_test.cc
  tensorflow/core/kernels/mkl/BUILD
  tensorflow/core/kernels/mkl/mkl_conv_ops.cc
  tensorflow/core/kernels/mkl/mkl_conv_ops.h
  tensorflow/core/kernels/mkl/mkl_fused_mish_op.cc
  tensorflow/core/ops/mkl_nn_ops.cc
Labels: ready to pull, size:L

#55254 Updates Error log in `subprocess.cc`
  tensorflow/core/platform/windows/subprocess.cc
Labels: ready to pull, size:XS, comp:core

#55256 [INTEL oneDNN] Resubmitting scratch pad optimization for matmul primitive : PR number :54381
  tensorflow/core/kernels/mkl/mkl_batch_matmul_op.cc
  tensorflow/core/kernels/mkl/mkl_einsum_op.cc
  tensorflow/core/kernels/mkl/mkl_matmul_ops_common.h
  tensorflow/core/util/mkl_util.h
Labels: ready to pull, comp:mkl, size:M

#55378 Update the RBE images to the latest container versions
  tensorflow/tools/toolchains/remote_config/configs.bzl
Labels: awaiting review, ready to pull, size:S

#55354 [oneDNN] Upgrade oneDNN to 2.6-rc
  tensorflow/workspace2.bzl
  third_party/mkl_dnn/mkldnn_v1.BUILD
Labels: ready to pull, comp:mkl, size:S

#55235 [INTEL oneDNN] user mode scratchpad implementation for conv op
  tensorflow/core/kernels/mkl/mkl_conv_ops.cc
  tensorflow/core/util/mkl_util.h
Labels: ready to pull, comp:mkl, size:M

#55352 Update oneDNN version for mkl_dnn_acl_compatible.
  tensorflow/workspace2.bzl
  third_party/mkl_dnn/mkldnn_acl.BUILD
Labels: ready to pull, comp:mkl, size:S

#53848 [oneDNN] optimized implementation for eigen LeakyRelu
  tensorflow/core/kernels/BUILD
  tensorflow/core/kernels/cwise_op_leakyrelu_bf16.cc
  tensorflow/core/kernels/cwise_ops.h
  tensorflow/core/kernels/cwise_ops_common.h
  tensorflow/core/kernels/cwise_ops_test.cc
  tensorflow/core/kernels/relu_op.cc
  tensorflow/python/kernel_tests/nn_ops/relu_op_test.py
Labels: awaiting review, ready to pull, size:M, comp:core

#55310 Avoid loss of precision from using reciprocal
  tensorflow/core/kernels/fake_quant_ops_functor.h
Labels: ready to pull, size:XS, comp:core

#54169 [oneDNN] Add env variable to MKL allocator to control mem allocation.
  tensorflow/core/common_runtime/BUILD
  tensorflow/core/common_runtime/mkl_cpu_allocator.cc
  tensorflow/core/common_runtime/mkl_cpu_allocator.h
  tensorflow/core/kernels/mkl/BUILD
  tensorflow/core/kernels/mkl/mkl_conv_ops.h
  tensorflow/core/kernels/mkl/mkl_matmul_ops_common.h
  tensorflow/core/util/BUILD
  tensorflow/core/util/mkl_util.h
  tensorflow/core/util/onednn_env_vars.cc
  tensorflow/core/util/onednn_env_vars.h
Labels: ready to pull, size:S, comp:core

#55381 [PluggableDevice] Add DEVICE_DEFAULT int32 registration for Pack
  tensorflow/core/kernels/pack_op.cc
Labels: ready to pull, size:XS

#55392 [PluggableDevice] Move Min DEVICE_DEFAULT registration outside of CUDA ifdef
  tensorflow/core/kernels/reduction_ops_min.cc
Labels: ready to pull, size:XS

#55384 [PluggableDevice] Add DEVICE_DEFAULT int32 registration for Slice
  tensorflow/core/kernels/slice_op.cc
Labels: ready to pull, size:S

#55387 [PluggableDevice] Move Unpack DEVICE_DEFAULT registration outside of CUDA ifdef
  tensorflow/core/kernels/unpack_op.cc
Labels: ready to pull, size:XS

#55393 [PluggableDevice] Move Max DEVICE_DEFAULT registration outside of CUDA ifdef
  tensorflow/core/kernels/reduction_ops_max.cc
Labels: ready to pull, size:XS

#55386 [PluggableDevice] Move ZerosLike DEVICE_DEFAULT registration outside of CUDA ifdef
  tensorflow/core/kernels/constant_op.cc
Labels: ready to pull, size:XS

#55385 [PluggableDevice] Add DEVICE_DEFAULT int32 registration for Concat and ConcatV2
  tensorflow/core/kernels/concat_op.cc
Labels: ready to pull, size:S

#55265 [ROCm] Correcting the output size for the RFFT call in `//tensorflow/compiler/xla/service/gpu/tests:mlir_fft_test`
  tensorflow/compiler/xla/service/gpu/tests/mlir_fft_test.cc
Labels: ready to pull, comp:gpu, size:XS

#55401 Removes third_party/mkl_dnn/onednn-acl-bf16.patch
  third_party/mkl_dnn/onednn-acl-bf16.patch
Labels: ready to pull, comp:mkl, size:S

#55245 Refactoring of the Converter for Binary Operations
  tensorflow/compiler/tf2tensorrt/BUILD
  tensorflow/compiler/tf2tensorrt/convert/convert_nodes.cc
  tensorflow/compiler/tf2tensorrt/convert/convert_nodes.h
  tensorflow/compiler/tf2tensorrt/convert/convert_nodes_test.cc
  tensorflow/compiler/tf2tensorrt/convert/ops/binary_ops.cc
Labels: ready to pull, size:L, comp:gpu:tensorrt

#55404 Fix training accuracy on AArch64 in FC layers
  tensorflow/core/kernels/mkl/mkl_matmul_op_fused.cc
  tensorflow/core/kernels/mkl/mkl_matmul_ops_common.h
  tensorflow/workspace2.bzl
  third_party/mkl_dnn/onednn_acl.patch
Labels: ready to pull, size:S

#55410 Use `_shape` annotation in ReadVariableOp shape inference if found
  tensorflow/core/ops/resource_variable_ops.cc
Labels: ready to pull, size:S, comp:gpu:tensorrt

#55103 fix broken microcontroller link.
  tensorflow/lite/g3doc/microcontrollers/library.md
Labels: awaiting review, comp:lite, ready to pull, size:XS

#55342 fix typos
  tensorflow/compiler/mlir/g3doc/_includes/tf_passes.md
  tensorflow/compiler/mlir/hlo/include/mlir-hlo/Dialect/gml_st/README.md
  tensorflow/compiler/mlir/lite/experimental/tac/README.md
  tensorflow/compiler/mlir/tfr/README.md
  tensorflow/compiler/mlir/tfrt/benchmarks/README.md
  tensorflow/compiler/mlir/tosa/g3doc/legalization.md
  tensorflow/lite/g3doc/android/play_services.md
  tensorflow/lite/g3doc/convert/metadata.md
  tensorflow/lite/g3doc/convert/rnn.md
  tensorflow/lite/g3doc/examples/audio_classification/overview.md
  tensorflow/lite/g3doc/examples/optical_character_recognition/overview.md
  tensorflow/lite/g3doc/guide/op_select_allowlist.md
  tensorflow/lite/g3doc/inference_with_metadata/codegen.md
  tensorflow/lite/g3doc/inference_with_metadata/lite_support.md
  tensorflow/lite/g3doc/inference_with_metadata/task_library/image_classifier.md
  tensorflow/lite/g3doc/inference_with_metadata/task_library/nl_classifier.md
  tensorflow/lite/g3doc/inference_with_metadata/task_library/overview.md
Labels: comp:lite, ready to pull, size:XS

#55272 Enabling Bazelisk to be used when Bazel is not present during install build from source
  configure.py
Labels: ready to pull, size:XS

#55339 [TF-TRT] Make TF-TRT respect TF32 ON/OFF TF Flag
  tensorflow/compiler/tf2tensorrt/convert/convert_nodes.cc
Labels: ready to pull, size:XS, comp:gpu:tensorrt

#54746 [PluggableDevice] Add int32 DEVICE_DEFAULT registration for Where
  tensorflow/core/kernels/where_op.cc
Labels: ready to pull, size:S, comp:core

#55286 [oneDNN] Fix gru_v2_test_gpu and layer_correctness_test_gpu tests
  tensorflow/core/grappler/optimizers/remapper.cc
Labels: ready to pull, size:S, comp:core

#55395 [PluggableDevice] Add TF_IsRefInput
  tensorflow/c/kernels_experimental.cc
  tensorflow/c/kernels_experimental.h
Labels: awaiting review, ready to pull, size:S

#55396 Enable pylint warnings
  tensorflow/tools/ci_build/pylintrc
Labels: ready to pull, size:XS

#54311 Fix build windows
  tensorflow/core/lib/random/random_distributions_utils.h
  tensorflow/lite/delegates/external/external_delegate.cc
Labels: comp:lite, ready to pull, size:S

#55434 Updates mkl_aarch64 build to use oneDNN v2.6.
  tensorflow/workspace2.bzl
Labels: ready to pull, size:XS

#55350 Fix pfor defunc issue
  tensorflow/python/ops/parallel_for/control_flow_ops.py
  tensorflow/python/ops/parallel_for/control_flow_ops_test.py
Labels: ready to pull, comp:ops, size:S

#55320 [TF-TRT] Remove dependency on einsum kernel
  tensorflow/compiler/tf2tensorrt/BUILD
  tensorflow/compiler/tf2tensorrt/convert/ops/einsum.cc
  tensorflow/core/framework/common_shape_fns.cc
  tensorflow/core/kernels/linalg/einsum_op_impl.h
  tensorflow/core/kernels/mkl/mkl_einsum_op.cc
  tensorflow/core/util/BUILD
  tensorflow/core/util/einsum_op_util.cc
  tensorflow/core/util/einsum_op_util.h
Labels: ready to pull, size:L, comp:gpu:tensorrt

#55353 [TF-TRT] Slice OP BugFix
  tensorflow/compiler/tf2tensorrt/convert/convert_nodes_test.cc
  tensorflow/compiler/tf2tensorrt/convert/ops/slice_ops.cc
Labels: awaiting review, ready to pull, size:S, comp:gpu:tensorrt

#55459 Create cherry-pick helper GA workflow
  .github/workflows/release-branch-cherrypick.yml
Labels: awaiting review, ready to pull, size:M
