Repository tensorflow/tensorflow, pull requests merged in 2022-08, with the labels that each got.

#56856 [mhlo] Fix warnings emited by `-Wsign-compare`
  tensorflow/compiler/xla/mlir_hlo/include/mlir-hlo/Dialect/mhlo/transforms/map_mhlo_to_scalar_op.h
  tensorflow/compiler/xla/mlir_hlo/lib/Dialect/gml_st/IR/gml_st_ops.cc
  tensorflow/compiler/xla/mlir_hlo/lib/Dialect/gml_st/transforms/fusion_interface_impl.cc
  tensorflow/compiler/xla/mlir_hlo/lib/Dialect/gml_st/transforms/legalize_mhlo_to_gml.cc
  tensorflow/compiler/xla/mlir_hlo/lib/Dialect/gml_st/transforms/tiling.cc
  tensorflow/compiler/xla/mlir_hlo/lib/Dialect/lhlo/IR/lhlo_ops.cc
  tensorflow/compiler/xla/mlir_hlo/lib/Dialect/mhlo/IR/chlo_ops.cc
  tensorflow/compiler/xla/mlir_hlo/lib/Dialect/mhlo/IR/hlo_ops.cc
  tensorflow/compiler/xla/mlir_hlo/lib/Dialect/mhlo/IR/hlo_ops_common.cc
  tensorflow/compiler/xla/mlir_hlo/lib/Dialect/mhlo/transforms/broadcast_propagation.cc
  tensorflow/compiler/xla/mlir_hlo/lib/Dialect/mhlo/transforms/constraint_fusion_pass.cc
  tensorflow/compiler/xla/mlir_hlo/lib/Dialect/mhlo/transforms/group_reduction_dimensions.cc
  tensorflow/compiler/xla/mlir_hlo/lib/Dialect/mhlo/transforms/legalize_control_flow.cc
  tensorflow/compiler/xla/mlir_hlo/lib/Dialect/mhlo/transforms/legalize_gather_to_torch_index_select.cc
  tensorflow/compiler/xla/mlir_hlo/lib/Dialect/mhlo/transforms/legalize_sort.cc
  tensorflow/compiler/xla/mlir_hlo/lib/Dialect/mhlo/transforms/legalize_to_linalg.cc
  tensorflow/compiler/xla/mlir_hlo/lib/Dialect/mhlo/transforms/legalize_to_standard.cc
  tensorflow/compiler/xla/mlir_hlo/lib/Dialect/mhlo/transforms/legalize_trigonometric_to_approximation.cc
  tensorflow/compiler/xla/mlir_hlo/lib/Dialect/mhlo/transforms/lower_general_dot.cc
  tensorflow/compiler/xla/mlir_hlo/lib/Dialect/mhlo/transforms/optimize_mhlo.cc
  tensorflow/compiler/xla/mlir_hlo/lib/Dialect/mhlo/transforms/type_conversion.cc
  tensorflow/compiler/xla/mlir_hlo/lib/Transforms/bufferize.cc
  tensorflow/compiler/xla/mlir_hlo/lib/Transforms/propagate_static_shapes_to_kernel.cc
  tensorflow/compiler/xla/mlir_hlo/lib/Transforms/symbolic_shape_optimization.cc
  tensorflow/compiler/xla/mlir_hlo/lib/Transforms/tile_loops_pass.cc
Labels: awaiting review, ready to pull, size:M

#56956 [XLA] [Docs] Add a known issue: must-be-constant inputs as functions of induction variables
  tensorflow/compiler/xla/g3doc/known_issues.md
Labels: awaiting review, ready to pull, comp:xla, size:S

#56136 Properly handle CUDA stream setting in GpuCudaMallocAsyncAllocator
  tensorflow/core/common_runtime/gpu/gpu_cudamallocasync_allocator.cc
Labels: ready to pull, size:XS, prtype:bugfix, comp:core

#56147 Fixing typo
  tensorflow/python/distribute/parameter_server_strategy_v2.py
  tensorflow/python/util/compat.py
Labels: ready to pull, size:XS

#56167 Fix for incorrect type and size calculated in ctstring_test on s390x
  tensorflow/core/platform/ctstring_internal.h
  tensorflow/core/platform/ctstring_test.cc
Labels: ready to pull, size:S, prtype:bugfix, comp:core

#56633 Enhance NumSchedulableCPUs to allow for nodes with more than 1024 cores
  tensorflow/core/platform/default/port.cc
Labels: awaiting review, ready to pull, size:S, comp:core

#56948 [oneDNN] Fix failing test //tensorflow/python/kernel_tests/nn_ops:conv_ops_test_cpu
  tensorflow/core/kernels/mkl/mkl_conv_grad_input_ops.cc
Labels: ready to pull, comp:mkl, size:XS

#56119 Add lamba var loop test
  tensorflow/python/autograph/g3doc/reference/limitations.md
  tensorflow/python/autograph/pyct/static_analysis/activity.py
  tensorflow/python/autograph/pyct/static_analysis/liveness.py
  tensorflow/python/autograph/pyct/static_analysis/liveness_test.py
  tensorflow/python/autograph/tests/loop_scoping_test.py
  tensorflow/python/ops/image_ops_impl.py
Labels: ready to pull, size:S

#56811 Remove incorrect test tags so that all expected pip tests are run
  tensorflow/tools/ci_build/rel/ubuntu/cpu_arm64_pip.sh
Labels: ready to pull, size:XS

#51759 [PluggableDevice] Add TF_IsHostMemoryInput and TF_IsHostMemoryOutput to the C API
  tensorflow/c/kernels.cc
  tensorflow/c/kernels.h
  tensorflow/c/kernels_test.cc
Labels: cla: yes, ready to pull, size:M

#55579 Remove TF_CAPI_EXPORT from TF_InitGraph
  tensorflow/c/experimental/grappler/grappler.h
Labels: ready to pull, size:XS

#55557 [PluggableDevice] Add TF_KernelBuilder_Label
  tensorflow/c/kernels.cc
  tensorflow/c/kernels.h
Labels: awaiting review, ready to pull, size:S

#56591 Fix interleave_test in CGroup restricted CPU envs
  tensorflow/python/data/kernel_tests/interleave_test.py
Labels: ready to pull, size:XS

#55544 [PluggableDevice] Make graph_buf argument in TF_NewFunctionLibraryDefinition constant
  tensorflow/c/experimental/grappler/grappler.cc
  tensorflow/c/experimental/grappler/grappler.h
Labels: ready to pull, size:XS

#56806 Resubmission of #55619 (faster sort in GPU TopK)
  tensorflow/core/kernels/BUILD
  tensorflow/core/kernels/gpu_prim_helpers.h
  tensorflow/core/kernels/topk_op_gpu.h
Labels: ready to pull, size:M

#56375 [Intel oneDNN] Fusing Mul-Maximum pattern into LeakyRelu
  tensorflow/core/grappler/optimizers/remapper.cc
  tensorflow/core/grappler/optimizers/remapper_test.cc
Labels: ready to pull, comp:grappler, size:M

#56218 Use partial content of tensor as part of key to cache primitive
  tensorflow/core/kernels/mkl/mkl_conv_ops.cc
  tensorflow/core/kernels/mkl/mkl_matmul_op_fused.cc
  tensorflow/core/kernels/mkl/mkl_matmul_ops_common.h
Labels: ready to pull, size:S

#56975 Updates oneDNN version for AArch64 builds.
  tensorflow/tools/ci_build/rel/ubuntu/cpu_arm64_pip.sh
  tensorflow/workspace2.bzl
  third_party/mkl_dnn/onednn_acl.patch
  third_party/mkl_dnn/onednn_acl_threadpool_support.patch
Labels: ready to pull, comp:mkl, size:L

#56972 remove unused test flags for arm builds
  tensorflow/tools/ci_build/rel/ubuntu/cpu_arm64_pip.sh
Labels: awaiting review, ready to pull, size:XS

#56939 Fix out of range index error.
  tensorflow/c/ops.cc
Labels: ready to pull, comp:runtime, size:XS, prtype:bugfix

#57008 [TF C API] Add TF_SetShape C API
  tensorflow/c/tf_tensor.cc
  tensorflow/c/tf_tensor.h
  tensorflow/c/tf_tensor_internal.h
  tensorflow/core/framework/tensor.h
Labels: awaiting review, ready to pull, size:S

#57009 Remove more unit tests from exclude list as they now pass
  tensorflow/tools/ci_build/rel/ubuntu/cpu_arm64_pip.sh
Labels: ready to pull, size:S

#56371 MklEltwiseFwdPrimitive implemented twice (same class name used)
  tensorflow/core/kernels/mkl/mkl_eltwise_activation_base_op.h
Labels: ready to pull, comp:mkl, size:M

#56971 [ROCm] The following commit enabled MLIR generation for fusion ops by…
  tensorflow/compiler/xla/mlir_hlo/lib/Transforms/hlo_to_gpu_pipeline.cc
Labels: awaiting review, ready to pull, comp:gpu, size:XS

#56656 [NVIDIA TF] Preload Cudnn Sub Libraries for Frontend APIs
  tensorflow/stream_executor/cuda/cuda_dnn.cc
Labels: awaiting review, ready to pull, size:M

#56926 Added a legalization for the TFL schema operator RELU_N1_TO_1 to TOSA…
  tensorflow/compiler/mlir/tosa/tests/tfl-to-tosa-pipeline.mlir
  tensorflow/compiler/mlir/tosa/transforms/legalize_tfl.cc
Labels: awaiting review, ready to pull, size:M

#56461 Update script_ops.py
  tensorflow/python/ops/script_ops.py
Labels: cla: yes, awaiting review, ready to pull, comp:ops, size:XS

#56223 Move `std::wstring_convert` under ifdef
  tensorflow/lite/delegates/external/external_delegate.cc
Labels: comp:lite, ready to pull, size:XS

#56807 [ROCm] Fix for auto mixed precision simulated GPU unit test failure.
  tensorflow/core/grappler/optimizers/auto_mixed_precision.cc
Labels: awaiting review, ready to pull, comp:gpu, size:XS

#52157 [PluggableDevice] Add `TF_OpKernelConstruction_GetNodeDef`
  tensorflow/c/kernels.cc
  tensorflow/c/kernels.h
  tensorflow/c/kernels_test.cc
Labels: cla: yes, ready to pull, size:S

#56978 [ROCm] Enable fusion ops to be MLIR generated on ROCm.
  tensorflow/compiler/mlir/hlo/lib/Transforms/hlo_to_gpu_pipeline.cc
Labels: ready to pull

#57044 [oneDNN] Disabling onednn side primitive cache
  third_party/mkl_dnn/mkldnn_v1.BUILD
Labels: ready to pull, comp:mkl, size:XS

#57059 Disable optimising batch norm as sequence of post ops on AArch64
  tensorflow/core/grappler/optimizers/remapper.cc
Labels: ready to pull, size:XS

#57042 [XLA] Add debug print to all tests
  tensorflow/compiler/xla/service/copy_insertion_test.cc
Labels: awaiting review, ready to pull, comp:xla, size:XS

#56627 Describe `tf.squeeze`'s None shape behavior.
  tensorflow/python/ops/array_ops.py
Labels: awaiting review, ready to pull, comp:ops, size:S

#57054 Don't set MLIR_TABLEGEN_EXE
  tensorflow/compiler/xla/mlir_hlo/CMakeLists.txt
Labels: awaiting review, ready to pull, comp:xla, size:XS

#56612 [oneDNN] Unblocking Matmul+Add(Bias) fusion
  tensorflow/core/grappler/optimizers/remapper.cc
  tensorflow/core/grappler/optimizers/remapper_test.cc
  tensorflow/core/kernels/mkl/mkl_matmul_op_fused.cc
Labels: awaiting review, ready to pull, comp:grappler, size:M

#56691 [NVIDIA TF] Fix cublas build issues and update stub
  tensorflow/compiler/xla/service/gpu/BUILD
  tensorflow/core/kernels/BUILD
  tensorflow/stream_executor/cuda/BUILD
  tensorflow/stream_executor/cuda/cublas_11_0.inc
Labels: ready to pull, comp:xla, size:M

#56705 Update the RBE images to the latest container versions
  tensorflow/tools/toolchains/remote_config/configs.bzl
Labels: awaiting review, ready to pull, size:S

#57053 Remove logging of mac count to stdout during flatbuffer_export phase.
  tensorflow/compiler/mlir/lite/flatbuffer_export.cc
Labels: awaiting review, ready to pull, size:S

#56919 Suppression of the logger messages.
  tensorflow/compiler/tf2tensorrt/convert/convert_nodes_test.cc
  tensorflow/compiler/tf2tensorrt/utils/trt_logger.cc
  tensorflow/compiler/tf2tensorrt/utils/trt_logger.h
Labels: awaiting review, ready to pull, size:M

#56487 [TF-TRT] Use tf_cuda_cc_test instead of tf_cc_test to define two unit tests.
  tensorflow/compiler/tf2tensorrt/BUILD
Labels: ready to pull, size:XS, comp:gpu:tensorrt

#56993 [TF-TRT] Fail gracefully if calibration error occurs
  tensorflow/compiler/tf2tensorrt/kernels/trt_engine_op.cc
  tensorflow/python/compiler/tensorrt/trt_convert.py
Labels: awaiting review, ready to pull, size:S, comp:gpu:tensorrt

#57088 r2.10 cherry-pick: Fix XLA CPU build breakages when building with ACL
  tensorflow/compiler/xla/BUILD
  tensorflow/compiler/xla/service/cpu/BUILD
  tensorflow/compiler/xla/service/cpu/cpu_runtime_test.cc
  tensorflow/compiler/xla/service/cpu/runtime_matmul_acl.h
  tensorflow/python/tools/BUILD
  tensorflow/tensorflow.bzl
Labels: cla: yes

#57100 Add dep to MLIRGmlStComposeSetInterfaceIncGen
  tensorflow/compiler/xla/mlir_hlo/lib/Dialect/thlo/IR/CMakeLists.txt
Labels: awaiting review, ready to pull, comp:xla, size:XS

#56601 Fixes byte order for uint16 and bfloat variables based on endianness
  tensorflow/python/lib/core/bfloat16_test.py
Labels: ready to pull, size:S

#57096 [TF-TRT] DEFAULT_TRT_MAX_WORKSPACE_SIZE_BYTES fixed to `LLONG_MAX - 512`
  tensorflow/compiler/tf2tensorrt/trt_convert_api.h
  tensorflow/python/compiler/tensorrt/test/quantization_mnist_test.py
  tensorflow/python/compiler/tensorrt/test/tf_function_test.py
  tensorflow/python/compiler/tensorrt/test/tf_trt_integration_test_base.py
  tensorflow/python/compiler/tensorrt/trt_convert.py
  tensorflow/python/compiler/tensorrt/trt_convert_test.py
Labels: ready to pull, size:S, comp:gpu:tensorrt

#57090 [TF-TRT] Not Calling `getMaxBatchSize()` with NetworkDefinitionCreationFlag::kEXPLICIT_BATCH
  tensorflow/compiler/tf2tensorrt/kernels/trt_engine_op.cc
Labels: awaiting review, ready to pull, size:S, comp:gpu:tensorrt

#57091 [TF-TRT] Adding TRT Logger Filtering to remove unnecessary logs
  tensorflow/compiler/tf2tensorrt/BUILD
  tensorflow/compiler/tf2tensorrt/convert/convert_nodes.cc
  tensorflow/compiler/tf2tensorrt/convert/utils.cc
  tensorflow/compiler/tf2tensorrt/convert/utils.h
  tensorflow/compiler/tf2tensorrt/utils/trt_experimental_features.cc
  tensorflow/compiler/tf2tensorrt/utils/trt_experimental_features.h
  tensorflow/compiler/tf2tensorrt/utils/trt_logger.cc
Labels: awaiting review, ready to pull, size:M, comp:gpu:tensorrt

#57110 Reduce verbose logging
  tensorflow/core/distributed_runtime/rpc/grpc_channel.cc
Labels: awaiting review, kokoro:force-run, ready to pull, size:XS, comp:core

#57119 Updated README for MacOS users
  README.md
Labels: awaiting review, ready to pull, size:S

#57109 Make target "gpu_device_array" publicly visible.
  tensorflow/core/kernels/BUILD
Labels: awaiting review, ready to pull, size:S, comp:core

#57138 [ROCm] Fix for //tensorflow/python/distribute:collective_all_reduce_strategy…
  tensorflow/python/distribute/collective_all_reduce_strategy_test.py
Labels: ready to pull, comp:gpu, size:XS

#57157 Don't set MLIR_PDLL_TABLEGEN_EXE
  tensorflow/compiler/xla/mlir_hlo/CMakeLists.txt
Labels: awaiting review, ready to pull, comp:xla, size:XS

#57085 Fix Python 3.11 compatibility problems for JAX/XLA.
  tensorflow/compiler/xla/python/traceback.cc
  tensorflow/python/lib/core/bfloat16.cc
  tensorflow/python/profiler/internal/python_hooks.cc
Labels: ready to pull, size:S

#56667 Added missing close bracket
  tensorflow/lite/python/lite.py
Labels: comp:lite, ready to pull, size:XS

#56572 Support Cudnn Runtime Fusion (Conv+Bias+Relu6/Elu/LeakyRelu)
  tensorflow/compiler/xla/service/gpu/gpu_conv_algorithm_picker.cc
  tensorflow/compiler/xla/service/gpu/gpu_conv_runner.cc
  tensorflow/compiler/xla/stream_executor/cuda/cuda_dnn.cc
  tensorflow/compiler/xla/stream_executor/cuda/cuda_dnn.h
  tensorflow/compiler/xla/stream_executor/dnn.cc
  tensorflow/compiler/xla/stream_executor/dnn.h
  tensorflow/compiler/xla/stream_executor/dnn.proto
  tensorflow/compiler/xla/stream_executor/lazy_op_runner.h
  tensorflow/compiler/xla/stream_executor/stream.h
  tensorflow/compiler/xla/stream_executor/stream_executor_pimpl.cc
  tensorflow/compiler/xla/stream_executor/stream_executor_pimpl.h
  tensorflow/core/grappler/optimizers/remapper.cc
  tensorflow/core/kernels/conv_ops_fused_impl.h
  tensorflow/core/kernels/conv_ops_gpu.cc
  tensorflow/core/kernels/conv_ops_gpu.h
  tensorflow/core/util/autotune_maps/autotune_serialize_test.cc
  tensorflow/core/util/autotune_maps/conv_parameters.h
  tensorflow/core/util/use_cudnn.cc
  tensorflow/core/util/use_cudnn.h
  tensorflow/python/grappler/remapper_test.py
Labels: awaiting review, kokoro:force-run, ready to pull, size:L

#56336 Update TFL_MINIMUM_OS_VERSION
  tensorflow/lite/ios/TensorFlowLiteC.podspec.template
  tensorflow/lite/ios/TensorFlowLiteSelectTfOps.podspec
  tensorflow/lite/ios/ios.bzl
Labels: awaiting review, comp:lite, ready to pull, size:XS

#56744 [NVIDIA TF] Revert TF32+NHWC changes
  tensorflow/compiler/xla/service/gpu/BUILD
  tensorflow/compiler/xla/service/gpu/gpu_layout_assignment.cc
  tensorflow/compiler/xla/service/gpu/gpu_layout_assignment.h
  tensorflow/core/grappler/optimizers/BUILD
  tensorflow/core/grappler/optimizers/generic_layout_optimizer.cc
  tensorflow/core/kernels/conv_grad_filter_ops.cc
  tensorflow/core/kernels/conv_grad_input_ops.cc
  tensorflow/core/kernels/conv_grad_ops_3d.cc
  tensorflow/core/kernels/conv_ops.cc
  tensorflow/core/kernels/conv_ops_3d.cc
  tensorflow/core/kernels/conv_ops_gpu.cc
  tensorflow/core/kernels/conv_ops_gpu.h
Labels: awaiting review, ready to pull, size:M

#57186 Remove `tf_copts` that were added by XLA ACL changes
  tensorflow/compiler/xla/BUILD
  tensorflow/compiler/xla/service/cpu/BUILD
Labels: ready to pull, comp:xla, size:XS

#57190 Fixing typos
  tensorflow/core/grappler/costs/graph_properties.cc
  tensorflow/python/ops/image_ops_impl.py
Labels: type:docs-bug, awaiting review, ready to pull, size:XS

#56989 [TF C API] Added TF_GetMutableOutput C API
  tensorflow/c/kernels.cc
  tensorflow/c/kernels.h
Labels: cla: yes, awaiting review, ready to pull, size:S

#57178 [TF-TRT] Fix pylint error (line too long)
  tensorflow/python/compiler/tensorrt/trt_convert_test.py
Labels: awaiting review, ready to pull, size:XS, comp:gpu:tensorrt

#57217 Update scorecard-action to v2:alpha
  .github/workflows/scorecards-analysis.yml
Labels: ready to pull, size:XS

#56471 Fix a potential wrong operator bug
  tensorflow/python/autograph/pyct/cfg.py
Labels: awaiting review, ready to pull, size:XS, comp:autograph

#56881 Added a resource
  README.md
Labels: awaiting review, ready to pull, size:XS

#57182 Fix LLVM target detection when cross-compiling.
  third_party/llvm/toolchains.patch
  third_party/llvm/workspace.bzl
Labels: awaiting review, ready to pull, size:M

#57161 Updated the 8-bit SoftmaxOp exponent calculation with 4 16-bit tables to avoid extreme large/small slope errors
  tensorflow/compiler/mlir/tosa/tests/tfl-to-tosa-pipeline.mlir
  tensorflow/compiler/mlir/tosa/transforms/legalize_common.cc
  tensorflow/compiler/mlir/tosa/transforms/legalize_utils.cc
  tensorflow/compiler/mlir/tosa/transforms/legalize_utils.h
Labels: ready to pull, size:M

#55608 [TF-TRT] Support resource variables (ReadVariableOp)
  tensorflow/compiler/tf2tensorrt/convert/convert_nodes.cc
  tensorflow/compiler/tf2tensorrt/convert/convert_nodes.h
  tensorflow/compiler/tf2tensorrt/convert/convert_nodes_test.cc
  tensorflow/compiler/tf2tensorrt/convert/op_converter.h
  tensorflow/compiler/tf2tensorrt/convert/ops/variable_ops.cc
  tensorflow/compiler/tf2tensorrt/convert/weights.cc
  tensorflow/compiler/tf2tensorrt/convert/weights.h
  tensorflow/compiler/tf2tensorrt/kernels/trt_engine_op.cc
  tensorflow/compiler/tf2tensorrt/kernels/trt_engine_op_test.cc
  tensorflow/compiler/tf2tensorrt/kernels/trt_engine_resource_ops_test.cc
  tensorflow/compiler/tf2tensorrt/ops/trt_engine_op.cc
  tensorflow/compiler/tf2tensorrt/utils/trt_engine_utils.cc
  tensorflow/compiler/tf2tensorrt/utils/trt_shape_optimization_profiles.cc
  tensorflow/compiler/tf2tensorrt/utils/trt_shape_optimization_profiles.h
  tensorflow/compiler/tf2tensorrt/utils/trt_shape_optimization_profiles_test.cc
  tensorflow/python/compiler/tensorrt/test/BUILD
  tensorflow/python/compiler/tensorrt/test/testdata/gen_tf_readvariableop_model.py
  tensorflow/python/compiler/tensorrt/test/testdata/tf_readvariableop_saved_model/saved_model.pb
  tensorflow/python/compiler/tensorrt/test/testdata/tf_readvariableop_saved_model/variables/variables.data-00000-of-00001
  tensorflow/python/compiler/tensorrt/test/testdata/tf_readvariableop_saved_model/variables/variables.index
  tensorflow/python/compiler/tensorrt/trt_convert.py
  tensorflow/python/compiler/tensorrt/trt_convert_test.py
Labels: awaiting review, ready to pull, size:XL, comp:gpu:tensorrt

#57108 [XLA:GPU] Fix performance regression when enabling multi-threading for compilation
  tensorflow/compiler/xla/service/gpu/BUILD
  tensorflow/compiler/xla/service/gpu/gpu_compiler.cc
  tensorflow/compiler/xla/service/gpu/tests/BUILD
  tensorflow/compiler/xla/service/gpu/tests/gpu_compilation_parallelism_test.cc
Labels: awaiting review, ready to pull, comp:xla, size:S

#57342 Fix MLIRTosaDialect ref in CMake
  tensorflow/compiler/xla/mlir_hlo/tosa/CMakeLists.txt
Labels: awaiting review, ready to pull, comp:xla, size:XS

#57249 [XLA] Allow to prefix fusion kernel name.
  tensorflow/compiler/xla/service/gpu/horizontal_loop_fusion.cc
  tensorflow/compiler/xla/service/gpu/horizontal_loop_fusion.h
  tensorflow/compiler/xla/service/hlo_instruction.cc
  tensorflow/compiler/xla/service/hlo_instruction.h
  tensorflow/compiler/xla/service/hlo_instructions.cc
  tensorflow/compiler/xla/service/hlo_instructions.h
Labels: awaiting review, ready to pull, comp:xla, size:S

#56936 Register more types to DEVICE_DEFAULT for AssignVariableOp
  tensorflow/core/kernels/resource_variable_ops.cc
Labels: ready to pull, size:S, comp:core

#56787 Update bazel apple rules
  tensorflow/workspace2.bzl
Labels: awaiting review, ready to pull, size:S

#57134 Patch for building on Windows
  tensorflow/lite/CMakeLists.txt
  tensorflow/lite/c/CMakeLists.txt
  tensorflow/lite/tools/cmake/modules/fft2d/CMakeLists.txt
Labels: awaiting review, comp:lite, ready to pull, size:XS, prtype:bugfix

#56942 Fix NodeDefDataTypeAttributeName for Unary and Binary op converters.
  tensorflow/compiler/tf2tensorrt/convert/convert_nodes.cc
  tensorflow/compiler/tf2tensorrt/convert/convert_nodes.h
  tensorflow/compiler/tf2tensorrt/convert/convert_nodes_test.cc
  tensorflow/compiler/tf2tensorrt/convert/op_converter.h
  tensorflow/compiler/tf2tensorrt/convert/op_converter_registry_test.cc
  tensorflow/compiler/tf2tensorrt/convert/op_converter_test.cc
  tensorflow/compiler/tf2tensorrt/convert/ops/binary_ops.cc
  tensorflow/compiler/tf2tensorrt/convert/ops/data_format_vec_permute.cc
  tensorflow/compiler/tf2tensorrt/convert/ops/einsum.cc
  tensorflow/compiler/tf2tensorrt/convert/ops/fill_ops.cc
  tensorflow/compiler/tf2tensorrt/convert/ops/like_ops.cc
  tensorflow/compiler/tf2tensorrt/convert/ops/log_softmax.cc
  tensorflow/compiler/tf2tensorrt/convert/ops/quantization_ops.cc
  tensorflow/compiler/tf2tensorrt/convert/ops/slice_ops.cc
  tensorflow/compiler/tf2tensorrt/convert/ops/slice_ops.h
  tensorflow/compiler/tf2tensorrt/convert/ops/tile.cc
  tensorflow/compiler/tf2tensorrt/convert/ops/unary_ops.cc
  tensorflow/compiler/tf2tensorrt/convert/ops/variable_ops.cc
Labels: awaiting review, ready to pull, size:XS, comp:gpu:tensorrt

#57139 Refactoring TRT tests for Python.
  tensorflow/python/compiler/tensorrt/tensorrt.bzl
  tensorflow/python/compiler/tensorrt/test/BUILD
Labels: awaiting review, ready to pull, size:L, comp:gpu:tensorrt

#57221 [TF-TRT]: Fix tile converter for dynamic shape mode
  tensorflow/compiler/tf2tensorrt/convert/ops/tile.cc
Labels: awaiting review, ready to pull, size:XS, comp:gpu:tensorrt

#57223 Added working links for Object detection
  tensorflow/lite/g3doc/models/modify/model_maker/object_detection.ipynb
Labels: awaiting review, comp:lite, ready to pull, size:XS

#57114 [TF-TRT] Refactor Softmax converter to use OpConverterBase
  tensorflow/compiler/tf2tensorrt/BUILD
  tensorflow/compiler/tf2tensorrt/convert/convert_nodes.cc
  tensorflow/compiler/tf2tensorrt/convert/ops/softmax.cc
Labels: awaiting review, ready to pull, size:M, comp:gpu:tensorrt

#56653 Converter for SelectV2 operation.
  tensorflow/compiler/tf2tensorrt/BUILD
  tensorflow/compiler/tf2tensorrt/convert/convert_nodes.cc
  tensorflow/compiler/tf2tensorrt/convert/convert_nodes.h
  tensorflow/compiler/tf2tensorrt/convert/convert_nodes_test.cc
  tensorflow/compiler/tf2tensorrt/convert/ops/layer_utils.h
  tensorflow/compiler/tf2tensorrt/convert/ops/selectv2.cc
  tensorflow/compiler/tf2tensorrt/convert/ops/tile.cc
Labels: awaiting review, ready to pull, size:L, comp:gpu:tensorrt

#57367 [mhlo] fix warnings from upstream MLIR changes and from comparisons
  tensorflow/compiler/xla/mlir_hlo/lib/CAPI/Attributes.cc
  tensorflow/compiler/xla/mlir_hlo/lib/Dialect/mhlo/IR/hlo_ops.cc
  tensorflow/compiler/xla/mlir_hlo/lib/Dialect/mhlo/transforms/legalize_mhlo_to_thlo.cc
  tensorflow/compiler/xla/mlir_hlo/lib/utils/convert_op_folder.cc
  tensorflow/compiler/xla/mlir_hlo/stablehlo/stablehlo/dialect/ChloOps.cpp
  tensorflow/compiler/xla/mlir_hlo/tosa/lib/Transforms/legalize_mhlo.cc
Labels: awaiting review, ready to pull, comp:xla, size:M

#53419 Use the same variable
  tensorflow/core/kernels/conv_ops.cc
Labels: ready to pull, size:XS, comp:core

#56825 [NVIDIA TF] Part 1: Stream executor supports cudnn matmul fusion
  tensorflow/compiler/xla/stream_executor/cuda/cuda_dnn.cc
  tensorflow/compiler/xla/stream_executor/cuda/cuda_dnn.h
  tensorflow/compiler/xla/stream_executor/dnn.cc
  tensorflow/compiler/xla/stream_executor/dnn.h
  tensorflow/compiler/xla/stream_executor/dnn.proto
  tensorflow/compiler/xla/stream_executor/lazy_op_runner.h
  tensorflow/compiler/xla/stream_executor/stream_executor_pimpl.cc
  tensorflow/compiler/xla/stream_executor/stream_executor_pimpl.h
Labels: awaiting review, ready to pull, size:L

#57398 [XLA:GPU] Replace LOG(ERROR) with VLOG in cublas_pad_for_gemms
  tensorflow/compiler/xla/service/gpu/cublas_pad_for_gemms.cc
Labels: awaiting review, ready to pull, comp:xla, size:S

#57370 [ROCm] For RoundNearestEven op use LLVM rint intrinsic instead of nearbyint …
  tensorflow/compiler/xla/service/elemental_ir_emitter.cc
Labels: awaiting review, ready to pull, comp:xla, size:XS

#57468 Add cpp version info/flag
  tensorflow/python/client/pywrap_tf_session.py
  tensorflow/python/client/tf_session_wrapper.cc
  tensorflow/python/framework/versions.py
  tensorflow/python/platform/sysconfig.py
  tensorflow/python/platform/sysconfig_test.py
  tensorflow/tools/api/golden/v1/tensorflow.pbtxt
  tensorflow/tools/api/golden/v1/tensorflow.sysconfig.pbtxt
  tensorflow/tools/api/golden/v2/tensorflow.sysconfig.pbtxt
  tensorflow/tools/git/gen_git_source.py
Labels: ready to pull, size:XS

#56995 Fix Failing XLA GEMM Rewrite Test
  tensorflow/compiler/xla/service/gpu/tests/gemm_rewrite_test.cc
Labels: awaiting review, ready to pull, comp:xla, size:M

#57271 [XLA] Make replay_computation print the total run time.
  tensorflow/compiler/xla/tools/replay_computation.cc
Labels: awaiting review, ready to pull, size:XS

#57020 [XLA:GPU] HorizontalLoopFusion now generates a cleaner graph
  tensorflow/compiler/xla/service/gpu/horizontal_loop_fusion.cc
  tensorflow/compiler/xla/service/gpu/horizontal_loop_fusion.h
  tensorflow/compiler/xla/service/gpu/horizontal_loop_fusion_test.cc
Labels: ready to pull, comp:xla, size:M
