Repository tensorflow/tensorflow, pull requests merged in 2022-11, with the labels that each got.

#58331 Updated list of apis in ops_compatibility.md
  tensorflow/lite/g3doc/guide/ops_compatibility.md
Labels: awaiting review, comp:lite, ready to pull, size:XS

#57628 [oneDNN] [tfg] [remapper] Add Mish MLIR fusion
  tensorflow/core/ir/tf_op_names.cc
  tensorflow/core/ir/tf_op_names.inc
  tensorflow/core/transforms/remapper/pass.cc
  tensorflow/core/transforms/remapper/tests/onednn_mish.mlir
Labels: ready to pull, size:M, comp:core

#58381 Fix aarch64 build.
  third_party/absl/com_google_absl_fix_mac_and_nvcc_build.patch
Labels: ready to pull, size:S

#58289 [tosa] [refactor] Remove DenseElementAttr with DenseArrayAttr
  tensorflow/compiler/mlir/tosa/transforms/legalize_tf.cc
  tensorflow/compiler/mlir/tosa/transforms/legalize_tfl.cc
Labels: awaiting review, size:S

#58325 [NVIDIA TF] Add GPU BF16 implementations for reduction ops
  tensorflow/core/kernels/reduction_gpu_kernels.cu.h
  tensorflow/core/kernels/reduction_ops.h
  tensorflow/core/kernels/reduction_ops_gpu_bfloat16.cu.cc
  tensorflow/core/kernels/reduction_ops_max.cc
  tensorflow/core/kernels/reduction_ops_mean.cc
  tensorflow/core/kernels/reduction_ops_min.cc
  tensorflow/core/kernels/reduction_ops_prod.cc
  tensorflow/core/kernels/reduction_ops_sum.cc
  tensorflow/core/kernels/softmax_op_gpu.cu.cc
  tensorflow/python/kernel_tests/math_ops/reduction_ops_test.py
Labels: awaiting review, ready to pull, size:L, comp:core

#58054 [NVIDIA TF] Use NHWC for TF32 (Inference only)
  tensorflow/core/grappler/optimizers/BUILD
  tensorflow/core/grappler/optimizers/generic_layout_optimizer.cc
  tensorflow/core/kernels/conv_grad_filter_ops.cc
  tensorflow/core/kernels/conv_grad_input_ops.cc
  tensorflow/core/kernels/conv_grad_ops_3d.cc
  tensorflow/core/kernels/conv_ops.cc
  tensorflow/core/kernels/conv_ops_3d.cc
  tensorflow/core/kernels/conv_ops_gpu.cc
  tensorflow/core/kernels/conv_ops_gpu.h
Labels: ready to pull, comp:grappler, size:M

#58335 Update curl to 7.86.0
  tensorflow/workspace2.bzl
  third_party/curl.BUILD
Labels: awaiting review, ready to pull, size:S

#58403 Make ARM_CI trigger on kokoro:force-run label
  .github/workflows/arm-ci.yml
Labels: awaiting review, ready to pull, size:XS

#58388 Allow for prefetch of elements on high CPU core count machines
  tensorflow/python/data/experimental/kernel_tests/service/local_workers_test.py
  tensorflow/python/data/experimental/kernel_tests/service/worker_tags_test.py
Labels: awaiting review, ready to pull, size:S, prtype:bugfix

#58188 Add CustomCallWithComputation to the xla_client ops.
  tensorflow/compiler/xla/client/xla_builder.h
  tensorflow/compiler/xla/python/ops.cc
Labels: ready to pull, comp:xla, size:S

#58191 [ROCm] Fix for JAX build breakage on ROCm.
  tensorflow/core/platform/BUILD
Labels: ready to pull, comp:gpu, size:S

#58321 [ROCm] Fixed the rocm all_runtime alias to point to the new XLA folder.
  tensorflow/compiler/xla/stream_executor/BUILD
Labels: ready to pull, comp:xla, size:XS

#57653 [XLA] When dumping the html files, also dump a version without the fusion details.
  tensorflow/compiler/xla/service/cpu/cpu_compiler.cc
  tensorflow/compiler/xla/service/dump.cc
  tensorflow/compiler/xla/service/dump.h
  tensorflow/compiler/xla/service/gpu/gpu_compiler.cc
  tensorflow/compiler/xla/service/service.cc
Labels: awaiting review, ready to pull, comp:xla, size:S

#57638 Fix code_check_full fails on aarch64
  tensorflow/tools/lib_package/BUILD
  tensorflow/tools/pip_package/BUILD
Labels: awaiting review, ready to pull, size:S

#57687 Fix issues discovered during TensorRT 8.5 QA
  tensorflow/compiler/tf2tensorrt/convert/convert_nodes.cc
  tensorflow/python/compiler/tensorrt/model_tests/model_handler.py
  tensorflow/python/compiler/tensorrt/model_tests/result_analyzer.py
  tensorflow/python/compiler/tensorrt/model_tests/run_models.py
  tensorflow/python/compiler/tensorrt/test/tf_trt_integration_test_base.py
  third_party/tensorrt/tensorrt_configure.bzl
Labels: ready to pull, size:M, comp:gpu:tensorrt

#58150 [TF-TRT] Fix native fallback issue in StridedSlice with dynamic input indices and shrink_axis_mask
  tensorflow/compiler/tf2tensorrt/convert/convert_nodes_test.cc
  tensorflow/compiler/tf2tensorrt/convert/ops/slice_ops.cc
Labels: awaiting review, ready to pull, size:M, comp.gpu.tensorrt

#58430 Doc Negative Sysfs numa node
  tensorflow/compiler/xla/stream_executor/cuda/cuda_gpu_executor.cc
Labels: awaiting review, ready to pull, comp:xla, size:XS

#58118 Fix for TensorArray example
  tensorflow/python/ops/tensor_array_ops.py
Labels: awaiting review, ready to pull, comp:ops, size:XS

#58414 Enable h-loop-fusion when control flow in the graph.
  tensorflow/compiler/xla/service/gpu/gpu_compiler.cc
  tensorflow/compiler/xla/service/gpu/horizontal_loop_fusion.cc
  tensorflow/compiler/xla/service/gpu/horizontal_loop_fusion_test.cc
Labels: ready to pull, comp:xla, size:M

#58440 [Windows] fix long path issues in unit tests
  tensorflow/core/framework/model_test.cc
  tensorflow/tsl/platform/windows/windows_file_system.cc
  tensorflow/tsl/platform/windows/windows_file_system.h
Labels: awaiting review, ready to pull, size:M, comp:core

#58283 [NVIDIA TF] Use new heuristics query from v0.7.3
  tensorflow/compiler/xla/stream_executor/cuda/cuda_dnn.cc
  tensorflow/workspace2.bzl
  third_party/cudnn_frontend_header_fix.patch
Labels: awaiting review, ready to pull, comp:xla, size:M

#58207 Pull the DEVICE_DEFAULT registration for Fill out of the CUDA ifdefs
  tensorflow/core/kernels/constant_op.cc
Labels: awaiting review, ready to pull, size:XS, comp:core

#58328 Dataset concatenate - replace AddDim with AddDimWithStatus
  tensorflow/core/kernels/data/concatenate_dataset_op.cc
Labels: awaiting review, ready to pull, size:S, comp:core

#58147 Ubsan fixes
  tensorflow/core/common_runtime/graph_constructor.cc
  tensorflow/tsl/platform/BUILD
  tensorflow/tsl/platform/strcat.cc
  tensorflow/tsl/platform/strcat_test.cc
Labels: awaiting review, size:XS, comp:core

#57846 TFLite documentation additions
  tensorflow/lite/tools/benchmark/README.md
Labels: comp:lite, ready to pull, size:S

#58456 r2.10 cherry-pick: oneDNN 2.6.3 Fix
  tensorflow/workspace2.bzl
  third_party/mkl_dnn/mkldnn_v1.BUILD
Labels: ready to pull

#58500 [XLA:GPU] Add back the profiling information
  tensorflow/compiler/xla/service/gpu/ir_emitter_unnested.cc
  tensorflow/compiler/xla/service/gpu/ir_emitter_unnested.h
Labels: awaiting review, ready to pull, comp:xla, size:XS

#58526 Clarify potential loss of precision in tf.cast to tf.float64 or tf.complex128
  tensorflow/python/ops/math_ops.py
Labels: awaiting review, ready to pull, comp:ops, size:XS, prtype:bugfix

#57674 [NVIDIA TF] Enable BF16 Conv Ops
  tensorflow/core/kernels/BUILD
  tensorflow/core/kernels/conv_2d_gpu_bfloat16.cu.cc
  tensorflow/core/kernels/conv_grad_filter_ops.cc
  tensorflow/core/kernels/conv_grad_input_ops.cc
  tensorflow/core/kernels/conv_grad_ops_3d.cc
  tensorflow/core/kernels/conv_ops.cc
  tensorflow/core/kernels/conv_ops_3d.cc
  tensorflow/core/kernels/conv_ops_gpu.cc
  tensorflow/core/kernels/depthwise_conv_grad_op.cc
  tensorflow/core/kernels/depthwise_conv_op.cc
  tensorflow/core/kernels/depthwise_conv_op.h
  tensorflow/core/kernels/depthwise_conv_op_gpu.h
  tensorflow/core/kernels/depthwise_conv_op_gpu_bfloat16.cu.cc
  tensorflow/core/util/gpu_device_functions.h
  tensorflow/python/kernel_tests/nn_ops/conv_ops_test.py
  tensorflow/python/kernel_tests/nn_ops/depthwise_conv_op_base.py
Labels: ready to pull, size:L, comp:core

#58438 [NVIDIA TF] Enable BF16 Pad ops
  tensorflow/core/kernels/image/mirror_pad_op.cc
  tensorflow/core/kernels/image/mirror_pad_op_gpu.cu.cc
  tensorflow/core/kernels/pad_op.cc
  tensorflow/core/kernels/pad_op_gpu.cu.cc
  tensorflow/python/kernel_tests/array_ops/pad_op_test.py
Labels: awaiting review, ready to pull, size:S, comp:core

#57870 Update example docstring
  tensorflow/core/api_def/base_api/api_def_UniqueWithCountsV2.pbtxt
Labels: awaiting review, ready to pull, size:XS, comp:core

#58600 Move plugin rule to the XLA directory
  tensorflow/compiler/xla/pjrt/BUILD
  tensorflow/compiler/xla/pjrt/plugin/BUILD
Labels: awaiting review, ready to pull, comp:xla, size:M

#58608 [NVIDIA TF] Enable BF16 L2Loss
  tensorflow/core/kernels/l2loss_op_gpu.cu.cc
  tensorflow/python/ops/nn_test.py
Labels: awaiting review, ready to pull, size:XS

#56762 [ROCM] Move ROCm builds to 5.3; Fix build failures
  configure.py
  tensorflow/compiler/xla/backends/profiler/gpu/rocm_tracer.cc
  tensorflow/compiler/xla/service/gpu/nccl_utils.h
  tensorflow/compiler/xla/stream_executor/rocm/hipsparse_wrapper.h
  tensorflow/compiler/xla/stream_executor/rocm/rocm_fft.h
  tensorflow/compiler/xla/stream_executor/rocm/rocsolver_wrapper.h
  tensorflow/compiler/xla/stream_executor/rocm/roctracer_wrapper.h
  tensorflow/core/kernels/gpu_prim.h
  tensorflow/core/kernels/nccl_ops.cc
  tensorflow/core/kernels/sparse/mat_mul_op.cc
  tensorflow/core/nccl/nccl_manager.h
  tensorflow/core/util/BUILD
  tensorflow/core/util/cuda_solvers.cc
  tensorflow/core/util/cuda_sparse.h
  tensorflow/core/util/gpu_solvers.h
  tensorflow/core/util/rocm_solvers.cc
  tensorflow/core/util/rocm_sparse.cc
  tensorflow/tools/ci_build/Dockerfile.rocm
  tensorflow/tools/ci_build/install/install_bazel.sh
  tensorflow/tools/ci_build/linux/rocm/run_gpu_multi.sh
  tensorflow/tools/ci_build/linux/rocm/run_gpu_single.sh
  third_party/gpus/find_rocm_config.py
  third_party/gpus/find_rocm_config.py.gz.base64
  third_party/gpus/rocm_configure.bzl
Labels: awaiting review, ready to pull, comp:gpu, size:L

#58512 [NVIDIA TF] Enable BF16 FusedBatchNorm
  tensorflow/compiler/xla/stream_executor/cuda/cuda_dnn.cc
  tensorflow/compiler/xla/stream_executor/cuda/cuda_dnn.h
  tensorflow/compiler/xla/stream_executor/dnn.h
  tensorflow/compiler/xla/stream_executor/stream.cc
  tensorflow/compiler/xla/stream_executor/stream.h
  tensorflow/core/kernels/BUILD
  tensorflow/core/kernels/fused_batch_norm_op.cc
  tensorflow/core/kernels/fused_batch_norm_op.cu.cc
  tensorflow/python/ops/nn_fused_batchnorm_test.py
Labels: awaiting review, ready to pull, comp:xla, size:L

#58416 [NVIDIA TF] Enable BF16 BiasAdd
  tensorflow/core/kernels/bias_op.cc
  tensorflow/core/kernels/bias_op_gpu.cu.cc
  tensorflow/python/kernel_tests/nn_ops/bias_op_base.py
Labels: ready to pull, size:M, comp:core

#57506 Fixes tensorflow/tensorflow#57390
  tensorflow/python/ops/numpy_ops/np_math_ops.py
Labels: ready to pull, comp:ops, size:XS

#57984 Fix crash of Conv2DBackpropFilter
  tensorflow/core/kernels/mkl/mkl_conv_grad_filter_ops.cc
Labels: ready to pull, size:S, prtype:bugfix, comp:core

#58417 Enhance readability of the contribution unit testing points.
  tensorflow/python/autograph/CONTRIBUTING.md
Labels: ready to pull, size:XS, comp:autograph

#58671 Updated IOS guide
  tensorflow/lite/g3doc/guide/ios.md
Labels: comp:lite, ready to pull, size:XS

#58477 Add missing link library for MhloDialect
  tensorflow/compiler/xla/mlir_hlo/mhlo/IR/CMakeLists.txt
Labels: awaiting review, ready to pull, comp:xla, size:XS

#57788 Fix crash in tf.linalg.diag when input is too large
  tensorflow/core/kernels/linalg/matrix_diag_op.cc
  tensorflow/python/kernel_tests/array_ops/diag_op_test.py
Labels: ready to pull, size:S, prtype:bugfix, comp:core

#58525 [oneDNN] UT failure fix: //tensorflow/python/kernel_tests/nn_ops:pooling_ops_3d_test_cpu
  tensorflow/core/kernels/mkl/mkl_avgpooling_op.cc
  tensorflow/tools/ci_build/build_scripts/ARM_SKIP_TESTS.sh
Labels: ready to pull, comp:mkl, size:XS

#58632 [ROCm] Fixed gpu_kernel_tiling_test on RowReductionCorrectShmemUsage
  tensorflow/compiler/xla/service/gpu/tests/gpu_kernel_tiling_test.cc
Labels: awaiting review, ready to pull, comp:gpu, size:XS

#58625 [FIX] Fix integer overflow in XLA nccl thunks (cont.)
  tensorflow/compiler/xla/service/gpu/nccl_all_reduce_thunk.cc
  tensorflow/compiler/xla/service/gpu/nccl_all_to_all_thunk.cc
Labels: awaiting review, ready to pull, comp:xla, size:XS

#58638 Change per-process mem to use total memory as base
  tensorflow/compiler/xla/pjrt/gpu/gpu_helpers.cc
  tensorflow/compiler/xla/pjrt/gpu/se_gpu_pjrt_client.cc
  tensorflow/core/protobuf/config.proto
Labels: awaiting review, ready to pull, comp:xla, size:XS

#58405 update math_ops.py docstring
  tensorflow/python/ops/math_ops.py
Labels: ready to pull, size:XS

#58288 [tosa] Add TFL.Relu0To1Op definition and Legalize to TOSA with Lit Test
  tensorflow/compiler/mlir/lite/ir/tfl_ops.td
  tensorflow/compiler/mlir/lite/tests/ops.mlir
  tensorflow/compiler/mlir/tosa/tests/tfl-to-tosa-pipeline.mlir
  tensorflow/compiler/mlir/tosa/transforms/legalize_tfl.cc
Labels: awaiting review, size:M

#58202 [ROCM] Fix gpu_atomic_test for ROCm
  tensorflow/compiler/xla/service/gpu/tests/gpu_atomic_test.cc
Labels: awaiting review, ready to pull, comp:gpu, size:XS

#56869 Add AMD/ROCm build dependency for grapper/optimizer
  tensorflow/core/grappler/optimizers/BUILD
Labels: ready to pull, comp:grappler, size:S

#58719 [NVIDIA TF] Enable BF16 Softmax, SoftmaxCrossEntropyWithLogits
  tensorflow/core/kernels/softmax_op_gpu.cu.cc
  tensorflow/core/kernels/sparse_xent_op.cc
  tensorflow/core/kernels/sparse_xent_op_gpu.cu.cc
  tensorflow/core/kernels/xent_op.cc
  tensorflow/core/kernels/xent_op_gpu.cu.cc
  tensorflow/python/kernel_tests/nn_ops/softmax_op_test.py
  tensorflow/python/kernel_tests/nn_ops/xent_op_test_base.py
  tensorflow/python/kernel_tests/sparse_ops/sparse_xent_op_test_base.py
Labels: awaiting review, kokoro:force-run, ready to pull, size:M, comp:core
