Repository tensorflow/tensorflow, pull requests merged in 2022-04, with the labels that each got.

#55453 Pylint: Revert W + TODO
  tensorflow/tools/ci_build/Pylint revert W + TODO for outdated chwcks
Labels: ready to pull, size:XS

#55176 Fix out size eqn in atrous_conv2d doc
  tensorflow/python/ops/nn_ops.py
Labels: ready to pull, comp:ops, size:XS

#55430 Add ndmin check
  tensorflow/python/ops/numpy_ops/np_array_ops.py
Labels: awaiting review, ready to pull, comp:ops, size:XS

#55380 Add error handling to TF_GetInputTensorFromVariable
  tensorflow/c/kernels_experimental.cc
Labels: ready to pull, size:XS

#55175 Add link to padding notes to depthwise_conv2d doc
  tensorflow/python/ops/nn_impl.py
Labels: ready to pull, comp:ops, size:XS

#55379 Add TF_AssignRefVariable
  tensorflow/c/kernels_experimental.cc
  tensorflow/c/kernels_experimental.h
  tensorflow/core/BUILD
  tensorflow/core/framework/BUILD
  tensorflow/core/framework/ref_var.cc
  tensorflow/core/framework/ref_var.h
  tensorflow/core/kernels/assign_op.h
Labels: ready to pull, size:L

#55055 Add GPU implementation of SparseSliceGrad
  tensorflow/core/kernels/BUILD
  tensorflow/core/kernels/sparse_slice_grad_op.cc
  tensorflow/core/kernels/sparse_slice_grad_op_gpu.cu.cc
  tensorflow/core/util/gpu_kernel_helper.h
  tensorflow/python/kernel_tests/sparse_ops/sparse_slice_op_test.py
Labels: ready to pull, size:L, comp:core

#55431 [TF-TRT] Slice Instance_OP Bug Fix and Cleaning
  tensorflow/compiler/tf2tensorrt/convert/convert_nodes.cc
  tensorflow/compiler/tf2tensorrt/convert/convert_nodes.h
Labels: ready to pull, size:M, comp:gpu:tensorrt

#55464 [hotfix] rename pylintrc
  tensorflow/tools/ci_build/pylintrc
Labels: ready to pull, size:XS

#55351 Integrating cuBLASLt into XLA
  tensorflow/compiler/tests/matrix_solve_op_test.py
  tensorflow/compiler/tests/qr_op_test.py
  tensorflow/compiler/xla/debug_options_flags.cc
  tensorflow/compiler/xla/service/gpu/BUILD
  tensorflow/compiler/xla/service/gpu/gemm_algorithm_picker.cc
  tensorflow/compiler/xla/service/gpu/gemm_thunk.cc
  tensorflow/compiler/xla/service/gpu/gemm_thunk.h
  tensorflow/compiler/xla/service/gpu/ir_emitter_unnested.cc
  tensorflow/compiler/xla/service/gpu/tests/gemm_rewrite_test.cc
  tensorflow/compiler/xla/xla.proto
  tensorflow/core/BUILD
  tensorflow/core/kernels/gpu_utils.h
  tensorflow/core/platform/BUILD
  tensorflow/stream_executor/BUILD
  tensorflow/stream_executor/blas.h
  tensorflow/stream_executor/cuda/cuda_blas.h
  tensorflow/stream_executor/cuda/cuda_gpu_executor.cc
  tensorflow/stream_executor/gpu/gpu_executor.h
  tensorflow/stream_executor/matmul_util.cc
  tensorflow/stream_executor/matmul_util.h
  tensorflow/stream_executor/rocm/rocm_gpu_executor.cc
  tensorflow/stream_executor/stream.cc
  tensorflow/stream_executor/stream_executor_internal.h
  tensorflow/stream_executor/stream_executor_pimpl.cc
  tensorflow/stream_executor/stream_executor_pimpl.h
Labels: ready to pull, size:XL

#55439 [ROCm] Rocm bef executable fixes
  tensorflow/compiler/mlir/tfrt/transforms/lmhlo_to_gpu/kernel_ops_pattern.cc
  tensorflow/compiler/xla/service/gpu/tests/BUILD
  tensorflow/compiler/xla/service/gpu/tests/gpu_atomic_test.cc
  tensorflow/compiler/xla/service/gpu/tests/gpu_kernel_tiling_test.cc
Labels: awaiting review, comp:gpu, size:M

#55192 Add a root cause arg to the fallback converter
  tensorflow/python/ops/parallel_for/pfor.py
Labels: awaiting review, ready to pull, comp:ops, size:S

#55467 [ROCm] Switch ROCm TF builds to use ROCm 5.1.0
  tensorflow/tools/ci_build/Dockerfile.rocm
  tensorflow/tools/ci_build/linux/rocm/run_gpu_multi.sh
  tensorflow/tools/ci_build/linux/rocm/run_gpu_single.sh
Labels: ready to pull, comp:gpu, size:XS

#55397 Grammar Correction
  tensorflow/core/api_def/base_api/api_def_DepthToSpace.pbtxt
Labels: ready to pull, size:XS, comp:core

#52241 Add mlir-hlo unfuse-batch-norm-training pattern
  tensorflow/compiler/mlir/hlo/include/mlir-hlo/Dialect/mhlo/transforms/rewriters.h
  tensorflow/compiler/mlir/hlo/lib/Dialect/mhlo/transforms/unfuse_batch_norm.cc
  tensorflow/compiler/mlir/hlo/tests/Dialect/mhlo/unfuse_batch_norm.mlir
Labels: cla: yes, ready to pull, size:L

#54491 Fix mhlo.concatenate pattern when operand has unknown rank
  tensorflow/compiler/mlir/hlo/lib/Dialect/mhlo/IR/hlo_ops.cc
  tensorflow/compiler/mlir/hlo/tests/Dialect/mhlo/canonicalize/concatenate.mlir
Labels: ready to pull, size:S

#55306 Ppc build fix
  third_party/cpuinfo/cpuinfo.BUILD
  third_party/llvm/fix_ppc64le.patch
  third_party/llvm/workspace.bzl
Labels: ready to pull, size:S

#55460 Fix tf.scatter_nd documentation
  tensorflow/core/api_def/base_api/api_def_ScatterNd.pbtxt
Labels: awaiting review, ready to pull, size:S, comp:core

#55504 Enable XLA test of tf.tensor_scatter_nd_update
  tensorflow/python/kernel_tests/array_ops/scatter_nd_ops_test.py
Labels: ready to pull, comp:xla, size:XS

#55409 Increase timeout on join for preemption test
  tensorflow/python/distribute/failure_handling/failure_handler_test.py
Labels: awaiting review, ready to pull, size:XS

#55281 Simplify the DoPoolForward/Backward
  tensorflow/core/kernels/cudnn_pooling_gpu.cc
  tensorflow/core/kernels/pooling_ops_common.cc
  tensorflow/stream_executor/cuda/cuda_dnn.cc
  tensorflow/stream_executor/cuda/cuda_dnn.h
  tensorflow/stream_executor/dnn.h
  tensorflow/stream_executor/rocm/rocm_dnn.cc
  tensorflow/stream_executor/rocm/rocm_dnn.h
  tensorflow/stream_executor/stream.cc
  tensorflow/stream_executor/stream.h
Labels: ready to pull, size:XL, comp:core

#55363 [Autograph] add min max builtins
  tensorflow/python/autograph/operators/py_builtins.py
  tensorflow/python/autograph/operators/py_builtins_test.py
Labels: awaiting review, ready to pull, comp:autograph

#55523 [oneDNN] Windows CI Set python path env vars if not already set
  tensorflow/tools/ci_build/windows/bazel/common_env.sh
Labels: awaiting review, size:XS

#55555 Revert "[oneDNN] Windows CI Set python path env vars if not already set"
  tensorflow/tools/ci_build/windows/bazel/common_env.sh
Labels: size:XS

#55200 Test to cover the `import_meta_graph` error on MutableHashTable
  tensorflow/python/kernel_tests/data_structures/lookup_ops_test.py
Labels: awaiting review, ready to pull, size:S

#54104 adding additional support for completions related to lazy-loaded modules
  tensorflow/api_template.__init__.py
  tensorflow/api_template_v1.__init__.py
  tensorflow/compat_template.__init__.py
  tensorflow/compat_template_v1.__init__.py
Labels: ready to pull, size:M, prtype:bugfix

#55559 [oneDNN] Windows CI Set python path env vars if not already set
  tensorflow/tools/ci_build/windows/bazel/common_env.sh
Labels: ready to pull, size:XS

#55508 Fix Issue #53164 : Multiple matches are not allowed unless one is unambiguously more specialized
  tensorflow/core/platform/default/build_config.bzl
  tensorflow/tools/pip_package/BUILD
Labels: ready to pull, size:XS

#55562 [Pfor] Improve the fallback cause
  tensorflow/python/ops/parallel_for/pfor.py
Labels: awaiting review, ready to pull, comp:ops, size:XS

#55547 Fix typos in core/data/service
  tensorflow/core/data/service/credentials_factory.h
  tensorflow/core/data/service/dispatcher.proto
  tensorflow/core/data/service/dispatcher_impl.h
  tensorflow/core/data/service/journal_test.cc
  tensorflow/core/data/service/server_lib.h
  tensorflow/core/data/service/task_runner.h
  tensorflow/core/data/service/thread_safe_buffer.h
  tensorflow/core/data/service/worker.proto
Labels: ready to pull, comp:data, size:S

#55332 [TF-TRT] Adding `TF_TRT_EXPERIMENTAL_FEATURES` environment variable controller
  tensorflow/python/compiler/tensorrt/test/test_utils.py
  tensorflow/python/compiler/tensorrt/utils.py
Labels: ready to pull, size:S, comp:gpu:tensorrt

#54358 lite: Update tflite_runtime builds
  tensorflow/lite/g3doc/guide/build_cmake_pip.md
  tensorflow/lite/tools/pip_package/Dockerfile
  tensorflow/lite/tools/pip_package/Dockerfile.py3
  tensorflow/lite/tools/pip_package/Makefile
  tensorflow/lite/tools/pip_package/build_pip_package_with_bazel.sh
  tensorflow/lite/tools/pip_package/build_pip_package_with_cmake.sh
  tensorflow/lite/tools/pip_package/setup_with_binary.py
  tensorflow/lite/tools/pip_package/with_the_same_user
Labels: waiting for patch release

#54330 Constrain pytree type annotations to produce lists
  tensorflow/compiler/xla/python/xla_extension/pytree.pyi
Labels: awaiting review, ready to pull, comp:xla, size:XS

#55316 Fix eigen's headers to use 'std' instead of Eigen::internals
  tensorflow/core/kernels/eigen_attention.h
  tensorflow/core/kernels/eigen_backward_cuboid_convolutions.h
  tensorflow/core/kernels/eigen_backward_spatial_convolutions.h
  tensorflow/core/kernels/eigen_cuboid_convolution.h
  tensorflow/core/kernels/eigen_pooling.h
  tensorflow/core/kernels/eigen_spatial_convolutions-inl.h
  tensorflow/core/kernels/image/mirror_pad_op.h
Labels: ready to pull, size:M, comp:core

#55577 Fix for adapting to the moved FuncOp.
  tensorflow/compiler/mlir/tfrt/transforms/lmhlo_to_gpu/kernel_ops_pattern.cc
Labels: ready to pull, size:XS

#55603 Add reference to ResourceVariables
  tensorflow/python/ops/custom_gradient.py
Labels: awaiting review, ready to pull, size:XS

#53782 Fix casting in vdotq_four_lane_s32() in TFLite
  tensorflow/lite/kernels/internal/optimized/depthwiseconv_3x3_filter_common.h
Labels: comp:lite, ready to pull, size:S

#54253 TensorFlow Lite kernel tests CMake build fix - duplicated symbols
  tensorflow/lite/kernels/CMakeLists.txt
Labels: comp:lite, ready to pull, size:XS

#54377 fix msvc build break on non en-US codepage (#53219)
  tensorflow/lite/python/analyzer_test.py
  tensorflow/lite/python/analyzer_wrapper/model_analyzer.cc
Labels: comp:lite, ready to pull, size:XS

#55412 [TF-TRT] Fix two problems in python tests.
  tensorflow/python/compiler/tensorrt/test/binary_tensor_weight_broadcast_test.py
  tensorflow/python/compiler/tensorrt/test/trt_engine_op_shape_test.py
Labels: ready to pull, size:S, comp:gpu:tensorrt

#55637 r2.9 cherry-pick: Disable oneDNN by default on Windows
  tensorflow/core/util/util.cc
Labels: comp:core

#55443 Create `tensorflow_issue_template.yaml`
  .github/ISSUE_TEMPLATE/00-bug-issue.md
  .github/ISSUE_TEMPLATE/10-build-installation-issue.md
  .github/ISSUE_TEMPLATE/100-tflite-in-play-services.md
  .github/ISSUE_TEMPLATE/20-documentation-issue.md
  .github/ISSUE_TEMPLATE/30-feature-request.md
  .github/ISSUE_TEMPLATE/40-tflite-op-request.md
  .github/ISSUE_TEMPLATE/50-other-issues.md
  .github/ISSUE_TEMPLATE/60-tflite-converter-issue.md
  .github/ISSUE_TEMPLATE/80-performance-issue.md
  .github/ISSUE_TEMPLATE/90-keras-issue.md
  .github/ISSUE_TEMPLATE/tensorflow_issue_template.yaml
Labels: ready to pull, size:M

#55611 Avoid redundant PTX generation during nvcc compilation
  third_party/gpus/crosstool/clang/bin/crosstool_wrapper_driver_is_not_gcc.tpl
Labels: awaiting review, ready to pull, size:S

#54419 Check is redudant, use `state_->code`
  tensorflow/core/platform/status.cc
Labels: awaiting review, ready to pull, size:XS, comp:core

#55640 Add TF_AssignRefVariable
  tensorflow/c/kernels_experimental.cc
  tensorflow/c/kernels_experimental.h
  tensorflow/core/BUILD
  tensorflow/core/framework/BUILD
  tensorflow/core/framework/ref_var.cc
  tensorflow/core/framework/ref_var.h
  tensorflow/core/kernels/assign_op.h
  tensorflow/python/kernel_tests/variables/variable_ops_test.py
Labels: awaiting review, ready to pull, size:L

#55552 [PluggableDevice] Fix tf.config.set_visible_device for PluggableDevice
  tensorflow/python/eager/context.py
Labels: comp:eager, ready to pull, size:S

#54771 [ROCm] fix triangular solve
  tensorflow/compiler/xla/service/gpu/BUILD
  tensorflow/compiler/xla/service/gpu/amdgpu_compiler.cc
  tensorflow/compiler/xla/service/gpu/amdgpu_compiler.h
  tensorflow/compiler/xla/service/gpu/precompiled_kernels.cc
  tensorflow/stream_executor/rocm/BUILD
  tensorflow/stream_executor/rocm/rocblas_wrapper.h
  tensorflow/stream_executor/rocm/rocm_blas.cc
  tensorflow/stream_executor/rocm/rocm_helpers.cu.cc
Labels: ready to pull, comp:gpu, size:M

#55578 Bump up cudnn frontend to v0.6.1
  tensorflow/workspace2.bzl
  third_party/cudnn_frontend_header_fix.patch
Labels: ready to pull, size:M

#55415 Removing the executor file and link jax to use tpu_api_dlsym_initializer
  tensorflow/compiler/xla/python/BUILD
  tensorflow/core/profiler/backends/tpu/BUILD
  tensorflow/core/tpu/BUILD
  tensorflow/core/tpu/tpu_executor_dlsym_initializer.cc
  tensorflow/core/tpu/tpu_executor_dlsym_initializer_windows.cc
Labels: awaiting review, ready to pull, size:L

#55540 [TF:TRT] Make default dynamic shape profile strategy to implicit batch compatible
  tensorflow/python/compiler/tensorrt/trt_convert.py
Labels: awaiting review, ready to pull, size:XS, comp:gpu:tensorrt

#55667 Update LATEST_BAZEL_VERSION from 5.1.0 to 5.1.1
  tensorflow/tools/ci_build/install/install_bazel.sh
  tensorflow/tools/ci_build/install/install_bazel_from_source.sh
  tensorflow/tools/ci_build/release/common.sh
Labels: ready to pull, size:XS

#54905 [TF:TRT] Enable out-of-tree op converter registration
  tensorflow/BUILD
  tensorflow/compiler/tf2tensorrt/BUILD
  tensorflow/compiler/tf2tensorrt/convert/op_converter.h
  tensorflow/compiler/tf2tensorrt/convert/op_converter_registry.cc
  tensorflow/compiler/tf2tensorrt/convert/op_converter_registry.h
  tensorflow/compiler/tf2tensorrt/utils/py_utils.cc
  tensorflow/compiler/tf2tensorrt/utils/py_utils.h
  tensorflow/compiler/tf2tensorrt/utils/py_utils_wrapper.cc
Labels: ready to pull, size:M, comp:gpu:tensorrt

#55691 r2.9 cherry-pick: Fix crash in TF Lite Java API on Android API <= 19
  tensorflow/lite/java/src/main/native/op_resolver_lazy_delegate_proxy.cc
Labels: comp:lite

#55694 [oneDNN] Upgrade oneDNN to v2.6
  tensorflow/workspace2.bzl
Labels: ready to pull, size:XS

#55480 Avoid unnecessary instantiations in DispatchToVectorized
  tensorflow/core/util/gpu_kernel_helper.h
Labels: awaiting review, ready to pull, size:S, comp:core

#55673 [oneDNN] Fixing a failure in node_file_writer_test
  tensorflow/core/common_runtime/eager/execute.cc
  tensorflow/core/common_runtime/eager/mkl_eager_op_rewrite.cc
Labels: ready to pull, size:XS, comp:core

#55687 [oneDNN] Blocking MatMul+Add(bias) fusion until it is properly tested
  tensorflow/core/grappler/optimizers/remapper.cc
Labels: ready to pull, comp:grappler, size:S

#54453 [oneDNN] Enable BF16 for DepthwiseConv2D* ops
  tensorflow/core/kernels/conv_grad_input_ops.cc
  tensorflow/core/kernels/depthwise_conv_grad_op.cc
  tensorflow/core/kernels/depthwise_conv_op.cc
  tensorflow/core/kernels/depthwise_conv_ops_test.cc
  tensorflow/core/kernels/mkl/mkl_conv_ops.cc
  tensorflow/core/kernels/nn_ops_test.cc
  tensorflow/python/kernel_tests/nn_ops/depthwise_conv_op_test.py
Labels: ready to pull, size:M, comp:core

#55700 Removes unnecessary MKL contraction kernel flag from mkl_aarch64 build
  .bazelrc
Labels: ready to pull, size:XS

#55657 Add GPU-determinism to tf.nn.depthwise_conv2d
  RELEASE.md
  tensorflow/core/kernels/BUILD
  tensorflow/core/kernels/depthwise_conv_grad_op.cc
  tensorflow/core/kernels/depthwise_conv_op.cc
  tensorflow/core/kernels/depthwise_conv_op.h
  tensorflow/core/kernels/depthwise_conv_op_gpu.h
  tensorflow/python/kernel_tests/nn_ops/BUILD
  tensorflow/python/kernel_tests/nn_ops/depthwise_conv_op_base.py
  tensorflow/python/kernel_tests/nn_ops/depthwise_conv_op_d9m_test.py
  tensorflow/python/kernel_tests/nn_ops/depthwise_conv_op_test.py
  tensorflow/tools/pip_package/BUILD
Labels: ready to pull, size:M

#55678 Add a validate_shape argument to `TF_AssignVariable`
  tensorflow/c/kernels_experimental.cc
  tensorflow/c/kernels_experimental.h
Labels: ready to pull, size:S

#55726 Missing `f` prefix on f-strings fix
  tensorflow/python/data/experimental/ops/lookup_ops.py
  tensorflow/python/distribute/tpu_strategy.py
  tensorflow/python/ops/critical_section_ops.py
  tensorflow/python/ops/lookup_ops.py
  tensorflow/python/ops/resource_variable_ops.py
  tensorflow/python/tpu/tpu_sharding.py
Labels: awaiting review, ready to pull, size:S

#55166 [TF:TRT] INT8 calibration in dynamic shape mode
  tensorflow/compiler/tf2tensorrt/convert/convert_nodes.cc
  tensorflow/compiler/tf2tensorrt/kernels/trt_engine_op.cc
  tensorflow/compiler/tf2tensorrt/utils/trt_shape_optimization_profiles.cc
  tensorflow/compiler/tf2tensorrt/utils/trt_shape_optimization_profiles.h
  tensorflow/python/compiler/tensorrt/test/shape_output_test.py
  tensorflow/python/compiler/tensorrt/test/tf_trt_integration_test_base.py
  tensorflow/python/compiler/tensorrt/trt_convert.py
Labels: ready to pull, size:L, comp:gpu:tensorrt

#55542 Converter for LogicalNot operation
  tensorflow/compiler/tf2tensorrt/convert/convert_nodes.cc
  tensorflow/compiler/tf2tensorrt/convert/convert_nodes.h
  tensorflow/compiler/tf2tensorrt/convert/convert_nodes_test.cc
  tensorflow/compiler/tf2tensorrt/convert/ops/unary_ops.cc
Labels: awaiting review, ready to pull, size:L, comp:gpu:tensorrt

#53158 Update documentation of `DataFormatVecPermute` operation
  tensorflow/core/api_def/base_api/api_def_DataFormatVecPermute.pbtxt
Labels: type:docs-bug, cla: yes, ready to pull, size:S, comp:core

#55665 [TF-TRT] Change default max workspace size to INT_MAX, as recommended by TRT
  tensorflow/compiler/tf2tensorrt/trt_convert_api.h
  tensorflow/python/compiler/tensorrt/trt_convert.py
Labels: awaiting review, ready to pull, size:XS, comp:gpu:tensorrt

#55774 Fix some typos for is, for, have, one, from, to, ouput.
  tensorflow/dtensor/cc/tensor_layout.h
  tensorflow/dtensor/mlir/Passes.td
  tensorflow/dtensor/mlir/expansions/control_flow_spmd_expander.cc
  tensorflow/dtensor/mlir/expansions/matmul_spmd_expander.cc
  tensorflow/dtensor/mlir/layout_propagation_v2.cc
  tensorflow/dtensor/mlir/mesh_propagation.cc
  tensorflow/dtensor/mlir/move_compilation_to_host.cc
Labels: ready to pull, size:S

#55767 Fix some typos for do, the, for, to.
  RELEASE.md
  tensorflow/compiler/jit/partially_decluster_pass.cc
  tensorflow/compiler/tf2tensorrt/convert/algorithm_selector.h
  tensorflow/compiler/tf2tensorrt/utils/trt_shape_optimization_profiles.cc
  tensorflow/compiler/tf2xla/xla_compiler.cc
Labels: ready to pull, size:S

#55770 Fix some typos for occurence, the, in, environment, recieve.
  tensorflow/security/advisory/tfsa-2021-185.md
  tensorflow/stream_executor/gpu/gpu_driver.h
  tensorflow/tools/ci_build/Dockerfile.local-toolchain-ubuntu20.04-manylinux2014
  tensorflow/tools/ci_build/Dockerfile.rbe.cuda11.2-cudnn8.1-ubuntu20.04-manylinux2014-multipython
  tensorflow/tools/ci_build/release/common.sh
  tensorflow/tools/ci_build/release/requirements_common.txt
  tensorflow/tools/consistency_integration_test/BUILD
  tensorflow/tools/consistency_integration_test/consistency_test_base.py
  tensorflow/tools/consistency_integration_test/consistency_test_base_tests.py
  tensorflow/tools/docs/fenced_doctest_lib.py
  tensorflow/tools/toolchains/cpus/arm/template.BUILD
Labels: awaiting review, ready to pull, size:S

#55730 Fix `size_t` vs int logic in `CHECK_OP`
  tensorflow/core/platform/default/logging.h
Labels: ready to pull, size:M, comp:core

#55800 Update the RBE images to the latest container versions
  tensorflow/tools/toolchains/remote_config/configs.bzl
Labels: awaiting review, ready to pull, size:S
