Repository tensorflow/tensorflow, pull requests merged in 2022-02, with the labels that each got.

#54238 Fix bazelisk installation paths
  tensorflow/tools/dockerfiles/dockerfiles/arm64v8/devel-cpu-arm64v8-jupyter.Dockerfile
  tensorflow/tools/dockerfiles/dockerfiles/arm64v8/devel-cpu-arm64v8.Dockerfile
  tensorflow/tools/dockerfiles/dockerfiles/devel-cpu-jupyter.Dockerfile
  tensorflow/tools/dockerfiles/dockerfiles/devel-cpu.Dockerfile
  tensorflow/tools/dockerfiles/dockerfiles/devel-gpu-jupyter.Dockerfile
  tensorflow/tools/dockerfiles/dockerfiles/devel-gpu.Dockerfile
  tensorflow/tools/dockerfiles/dockerfiles/onednn/ubuntu-16.04-devel-jupyter.Dockerfile
  tensorflow/tools/dockerfiles/dockerfiles/onednn/ubuntu-16.04-devel-mpi-horovod-jupyter.Dockerfile
  tensorflow/tools/dockerfiles/dockerfiles/onednn/ubuntu-16.04-devel-mpi-horovod.Dockerfile
  tensorflow/tools/dockerfiles/dockerfiles/onednn/ubuntu-16.04-devel-mpich-horovod-jupyter.Dockerfile
  tensorflow/tools/dockerfiles/dockerfiles/onednn/ubuntu-16.04-devel-mpich-horovod.Dockerfile
  tensorflow/tools/dockerfiles/dockerfiles/onednn/ubuntu-16.04-devel.Dockerfile
  tensorflow/tools/dockerfiles/dockerfiles/ppc64le/devel-cpu-ppc64le-jupyter.Dockerfile
  tensorflow/tools/dockerfiles/dockerfiles/ppc64le/devel-cpu-ppc64le.Dockerfile
  tensorflow/tools/dockerfiles/dockerfiles/ppc64le/devel-gpu-ppc64le-jupyter.Dockerfile
  tensorflow/tools/dockerfiles/dockerfiles/ppc64le/devel-gpu-ppc64le.Dockerfile
  tensorflow/tools/dockerfiles/dockerfiles/ppc64le/gpu-ppc64le-jupyter.Dockerfile
  tensorflow/tools/dockerfiles/dockerfiles/ppc64le/gpu-ppc64le.Dockerfile
  tensorflow/tools/dockerfiles/partials/ubuntu/bazel.partial.Dockerfile
  tensorflow/tools/dockerfiles/partials/ubuntu/bazelbuild-arm64v8.partial.Dockerfile
  tensorflow/tools/dockerfiles/partials/ubuntu/bazelbuild.partial.Dockerfile
Labels: awaiting review, ready to pull, size:M

#54119 Add disable for depthwise-conv d9m-unimplemented exception
  tensorflow/core/kernels/BUILD
  tensorflow/core/kernels/depthwise_conv_op.cc
  tensorflow/core/kernels/depthwise_conv_op.h
  tensorflow/core/kernels/depthwise_conv_op_gpu.h
Labels: ready to pull, size:S, comp:core

#54093 [ROCm] Switching Dockerfile.rocm to use python3.9
  tensorflow/tools/ci_build/Dockerfile.rocm
  tensorflow/tools/ci_build/install/install_pi_python3.9_toolchain.sh
Labels: ready to pull, comp:gpu, size:M

#54082 [TF:TRT] Add NHWC layout support to FusedBatchNorm converter
  tensorflow/compiler/tf2tensorrt/convert/convert_nodes.cc
  tensorflow/compiler/tf2tensorrt/convert/convert_nodes_test.cc
Labels: ready to pull, size:M, comp:gpu:tensorrt

#53338 Add GPU kernel for SparseSplit
  tensorflow/core/kernels/BUILD
  tensorflow/core/kernels/sparse_split_op.cc
  tensorflow/core/kernels/sparse_split_op_gpu.cu.cc
  tensorflow/python/kernel_tests/sparse_ops/BUILD
Labels: ready to pull, size:L, comp:core

#54228 TF->TOSA: Ignore stride if shrink axis mask is set
  tensorflow/compiler/mlir/tosa/tests/tfl-to-tosa-pipeline.mlir
  tensorflow/compiler/mlir/tosa/transforms/legalize_common.cc
Labels: awaiting review, size:S

#54229 Avoid dequantizing with qi16 convolution
  tensorflow/compiler/mlir/lite/tests/decompose-hybrid-quantization.mlir
  tensorflow/compiler/mlir/lite/transforms/decompose_hybrid_quantization.cc
  tensorflow/compiler/mlir/tosa/tests/tfl-to-tosa-pipeline.mlir
  tensorflow/compiler/mlir/tosa/transforms/legalize_utils.cc
Labels: awaiting review, size:S

#53823 [ROCm] Turn off SwapConvOperands on ROCm gpu
  tensorflow/compiler/xla/service/gpu/gpu_compiler.cc
  tensorflow/compiler/xla/service/gpu/tests/BUILD
Labels: ready to pull, comp:gpu, size:XS

#53909 [ROCm] Fix for MI200 related performance issue with Resnet50 model.
  tensorflow/compiler/xla/service/gpu/ir_emitter.cc
  tensorflow/compiler/xla/service/gpu/ir_emitter.h
Labels: ready to pull, comp:gpu, size:M

#54216 fft2d/fftsg.c needs the math library
  tensorflow/lite/tools/cmake/modules/fft2d/CMakeLists.txt
Labels: comp:lite, ready to pull, size:XS

#53331 [TF-TRT] Add Layout + ConstFold optimization on the TRT engine op
  tensorflow/compiler/tf2tensorrt/convert/convert_graph.cc
  tensorflow/compiler/tf2tensorrt/convert/convert_graph.h
  tensorflow/compiler/tf2tensorrt/convert/convert_graph_test.cc
  tensorflow/compiler/tf2tensorrt/convert/convert_nodes.cc
  tensorflow/compiler/tf2tensorrt/convert/convert_nodes.h
  tensorflow/compiler/tf2tensorrt/convert/trt_optimization_pass.cc
  tensorflow/compiler/tf2tensorrt/kernels/trt_engine_op.cc
  tensorflow/compiler/tf2tensorrt/kernels/trt_engine_op_test.cc
Labels: ready to pull, size:M, comp:gpu:tensorrt

#54275 Do not run scorecards analysis in forks
  .github/workflows/scorecards-analysis.yml
Labels: awaiting review, ready to pull, size:XS

#53853 [MLIR][LMHLO-Affine] Add PadOp lowering from lmhlo to Affine + Add verifier for lmhlo.Pad op
  tensorflow/compiler/mlir/hlo/include/mlir-hlo/Dialect/lhlo/IR/lhlo_ops.td
  tensorflow/compiler/mlir/hlo/lib/Dialect/lhlo/IR/lhlo_ops.cc
  tensorflow/compiler/mlir/hlo/lib/Dialect/lhlo/transforms/lhlo_legalize_to_affine.cc
  tensorflow/compiler/mlir/hlo/tests/Dialect/lhlo/lhlo-legalize-to-affine.mlir
  tensorflow/compiler/mlir/hlo/tests/Dialect/lhlo/ops.mlir
Labels: ready to pull, size:M

#54272 [TF:TRT] Remove warning message about missing TRTEngineCacheResource
  tensorflow/compiler/tf2tensorrt/kernels/trt_engine_resource_ops.cc
Labels: ready to pull, size:S, comp:gpu:tensorrt

#54293 Remove duplicated lines in RELEASE.md
  RELEASE.md
Labels: awaiting review, ready to pull, size:XS

#54292 Use distutils.sysconfig to detect python include
  third_party/py/python_configure.bzl
Labels: awaiting review, ready to pull, size:S

#54191 Check for negative `nbins` in histogram ops
  tensorflow/python/ops/histogram_ops.py
  tensorflow/python/ops/histogram_ops_test.py
Labels: ready to pull, comp:ops, size:XS, prtype:bugfix

#54302 [ROCm] Disable Kronecker linalg test
  tensorflow/python/kernel_tests/linalg/BUILD
Labels: ready to pull, comp:gpu, size:XS

#54312 [ROCm] Updating the implementation of TryToReadNumaNode in rocm_gpu_executor.cc
  tensorflow/stream_executor/rocm/rocm_gpu_executor.cc
Labels: ready to pull, comp:gpu, size:M

#54291 Automatic validation of your citation metadata
  .github/workflows/cffconvert.yml
Labels: awaiting review, ready to pull, size:S

#54192 Fix missing commas in `excluded_ops` list.
  tensorflow/core/api_def/excluded_ops.cc
Labels: ready to pull, size:XS, comp:core

#53864 Add basic TensorRT support on Windows
  configure.py
  tensorflow/compiler/tf2tensorrt/BUILD
  tensorflow/compiler/tf2tensorrt/common/utils.cc
  tensorflow/compiler/tf2tensorrt/convert/convert_nodes.cc
  tensorflow/compiler/tf2tensorrt/segment/segment.cc
  tensorflow/core/platform/default/rules_cc.bzl
  tensorflow/python/compiler/BUILD
  tensorflow/python/compiler/tensorrt/BUILD
  tensorflow/python/compiler/tensorrt/trt_convert.py
  tensorflow/python/compiler/tensorrt/trt_convert_windows.py
  tensorflow/python/ops/standard_ops.py
  tensorflow/stream_executor/platform/default/dso_loader.cc
  tensorflow/tensorflow.bzl
Labels: ready to pull, size:M, comp:gpu:tensorrt

#54332 Allow gather batch_dims attribute in TOSA legalization
  tensorflow/compiler/mlir/tosa/tests/tfl-to-tosa-pipeline.mlir
  tensorflow/compiler/mlir/tosa/transforms/legalize_tfl.cc
Labels: awaiting review, size:S

#54333 Align average pool between TFL and TOSA
  tensorflow/compiler/mlir/tosa/tests/tfl-to-tosa-pipeline.mlir
  tensorflow/compiler/mlir/tosa/transforms/legalize_tfl.cc
Labels: awaiting review, size:S

#53591 [TF:TRT] refactor einsum converter
  tensorflow/compiler/tf2tensorrt/BUILD
  tensorflow/compiler/tf2tensorrt/common/utils.h
  tensorflow/compiler/tf2tensorrt/convert/convert_nodes.cc
  tensorflow/compiler/tf2tensorrt/convert/convert_nodes.h
  tensorflow/compiler/tf2tensorrt/convert/convert_nodes_test.cc
  tensorflow/compiler/tf2tensorrt/convert/ops/einsum.cc
  tensorflow/compiler/tf2tensorrt/convert/ops/layer_utils.h
Labels: ready to pull, size:XL, comp:gpu:tensorrt

#54320 [refactor] Use std::set::lower_bound instead of std::lower_bound for improved performance
  tensorflow/lite/toco/allocate_transient_arrays.cc
Labels: comp:lite, ready to pull, size:XS

#54394 abseil: wyhash is now called low_level_hash
  third_party/absl/system.absl.hash.BUILD
Labels: ready to pull, size:XS

#54356 Add complex support for `tf.math.asin`
  tensorflow/core/kernels/cwise_op_asin.cc
  tensorflow/python/kernel_tests/math_ops/cwise_ops_unary_test.py
Labels: ready to pull, size:XS, prtype:bugfix

#54366 [oneDNN] Parallelize UnsortedSegmentOp by simpler method
  tensorflow/core/kernels/segment_reduction_ops_impl.h
  tensorflow/core/kernels/segment_reduction_ops_test.cc
  tensorflow/python/kernel_tests/math_ops/segment_reduction_ops_test.py
Labels: ready to pull, size:M

#54194 [ROCm] Fix to enable TFRT BEF Thunk unit tests to pass on ROCm.
  tensorflow/stream_executor/gpu/BUILD
Labels: ready to pull, comp:gpu, size:XS

#54395 Use assertEqual instead of asserTrue
  tensorflow/python/autograph/pyct/cfg_test.py
  tensorflow/python/distribute/distributed_variable_test.py
  tensorflow/python/eager/def_function_xla_jit_test.py
  tensorflow/python/keras/mixed_precision/loss_scale_optimizer_test.py
  tensorflow/python/ops/parallel_for/control_flow_ops_test.py
Labels: awaiting review, ready to pull, size:S, prtype:bugfix

#54376 [TF-TRT] Fix pylint error in `trt_convert.py`
  tensorflow/python/compiler/tensorrt/trt_convert.py
Labels: ready to pull, size:XS, comp:gpu:tensorrt

#52815 Do not pass adjoint to real-valued CSR Sparse MatMul Op.
  tensorflow/core/kernels/sparse/mat_mul_op.cc
Labels: ready to pull, size:S

#54441 Add appropriate PyObject type check for bool
  tensorflow/python/eager/pywrap_tfe_src.cc
Labels: comp:eager, ready to pull, size:S

#54365 C compatible for external delegate
  tensorflow/lite/delegates/external/external_delegate.cc
  tensorflow/lite/delegates/external/external_delegate.h
Labels: comp:lite, ready to pull, size:XS

#53310 Freeze ReadVariableOp if the handle name is forwarded by Identity
  tensorflow/cc/tools/freeze_saved_model.cc
  tensorflow/cc/tools/freeze_saved_model_test.cc
Labels: cla: yes, ready to pull, size:M

#54350 [ROCm] Switch Dockerfile.rocm to use ROCm 5.0.0
  tensorflow/tools/ci_build/Dockerfile.rocm
  tensorflow/tools/ci_build/linux/rocm/run_gpu_multi.sh
  tensorflow/tools/ci_build/linux/rocm/run_gpu_single.sh
  third_party/gpus/rocm_configure.bzl
Labels: ready to pull, comp:gpu, size:S

#53670 [PluggableDevice] Add DEVICE_DEFAULT registration to MakeWeakResourceHandle
  tensorflow/python/framework/test_ops.cc
Labels: ready to pull, size:XS

#54429 Add appropriate error check for nbins in `tf.histogram_fixed_width_bins`
  tensorflow/python/ops/histogram_ops.py
  tensorflow/python/ops/histogram_ops_test.py
Labels: ready to pull, comp:ops, size:S, prtype:bugfix

#53561 [PluggableDevice] Add DEVICE_DEFAULT registration for strided slice ops
  tensorflow/core/kernels/strided_slice_op.cc
Labels: ready to pull, size:S, comp:core

#53687 [PluggableDevice] Add Variant DEVICE_DEFAULT registration for ResourceScatterUpdate and ResourceGather
  tensorflow/core/kernels/resource_variable_ops.cc
Labels: ready to pull, size:S, comp:core

#53596 [PluggableDevice] Add DEVICE_DEFAULT registration for Min and Max
  tensorflow/core/kernels/reduction_ops_max.cc
  tensorflow/core/kernels/reduction_ops_min.cc
Labels: ready to pull, size:S, comp:core

#54142 [PluggableDevice] Add int32 `DEVICE_DEFAULT` registration for Range
  tensorflow/core/kernels/sequence_ops.cc
Labels: ready to pull, size:XS, comp:core

#54315 [INTEL oneDNN] Added bf16 support for SoftmaxCrossEntropyWithLogits
  tensorflow/core/kernels/xent_op.cc
  tensorflow/core/kernels/xent_op_test.cc
  tensorflow/python/kernel_tests/nn_ops/xent_op_d9m_test.py
Labels: ready to pull, size:M, comp:core

#54297 [PluggableDevice] Add `DEVICE_DEFAULT` registrations for ScatterNd kernels
  tensorflow/core/kernels/scatter_nd_op.cc
Labels: awaiting review, ready to pull, size:S, comp:core

#51705 [PluggableDevice] Add the option to force memory growth
  tensorflow/c/experimental/stream_executor/stream_executor.h
  tensorflow/c/experimental/stream_executor/stream_executor_internal.h
  tensorflow/core/common_runtime/pluggable_device/pluggable_device_bfc_allocator.cc
  tensorflow/core/common_runtime/pluggable_device/pluggable_device_bfc_allocator.h
  tensorflow/core/common_runtime/pluggable_device/pluggable_device_process_state.cc
Labels: cla: yes, ready to pull, size:M

#54438 Fix typo in docstring for `make_csv_dataset_v2`
  tensorflow/python/data/experimental/ops/readers.py
Labels: ready to pull, comp:data, size:XS

#54329 add c++17/1z support for cuda 11 and above
  third_party/gpus/crosstool/clang/bin/crosstool_wrapper_driver_is_not_gcc.tpl
Labels: cla: yes, awaiting review, kokoro:force-run, ready to pull, size:XS

#53617 Update sqlite to 3.37.1 (sqlite-amalgamation-3370100)
  tensorflow/workspace2.bzl
Labels: awaiting review, kokoro:force-run, ready to pull, size:XS

#54170 [TF-TRT] Add converter for tf.fill
  tensorflow/compiler/tf2tensorrt/BUILD
  tensorflow/compiler/tf2tensorrt/convert/convert_nodes.h
  tensorflow/compiler/tf2tensorrt/convert/convert_nodes_test.cc
  tensorflow/compiler/tf2tensorrt/convert/ops/fill_ops.cc
  tensorflow/compiler/tf2tensorrt/convert/ops/layer_utils.h
  tensorflow/compiler/tf2tensorrt/convert/trt_layout_optimization_pass.cc
  tensorflow/compiler/tf2tensorrt/convert/trt_layout_optimization_pass.h
  tensorflow/compiler/tf2tensorrt/convert/weights.h
Labels: awaiting review, ready to pull, size:L, comp:gpu:tensorrt

#54181 Implementation of converters for unary operators "Round" and "Sign"
  tensorflow/compiler/tf2tensorrt/convert/convert_nodes.cc
  tensorflow/compiler/tf2tensorrt/convert/convert_nodes_test.cc
Labels: ready to pull, size:S, comp:gpu:tensorrt

#54141 Add some tolerance to linear_operator_circulant_test so it will pass …
  tensorflow/python/kernel_tests/linalg/linear_operator_circulant_test.py
Labels: ready to pull, size:XS

#54493 [mhlo] declare the minimum version 3.15.0 of cmake
  tensorflow/compiler/mlir/hlo/CMakeLists.txt
Labels: awaiting review, ready to pull, size:XS

#54524 Delete an ancient Dockerfile
  tensorflow/tools/ci_build/Dockerfile.rbe.cuda10.0-cudnn7-ubuntu14.04
Labels: awaiting review, ready to pull, size:M

#53843 Unify the Cudnn Execution Plan Runner
  tensorflow/compiler/xla/service/gpu/gpu_conv_runner.cc
  tensorflow/core/kernels/conv_ops_fused_impl.h
  tensorflow/core/kernels/conv_ops_gpu.cc
  tensorflow/core/kernels/conv_ops_gpu.h
  tensorflow/stream_executor/cuda/cuda_dnn.cc
  tensorflow/stream_executor/dnn.h
  tensorflow/stream_executor/rocm/rocm_dnn.cc
Labels: awaiting review, ready to pull, size:L

#54548 Delete another ancient Dockerfile
  tensorflow/tools/ci_build/Dockerfile.rbe.cuda10.0-cudnn7-ubuntu16.04-manylinux2010
Labels: awaiting review, ready to pull, size:M

#54515 Fix broken link in `image_retraining /README.md`
  tensorflow/examples/image_retraining/README.md
Labels: ready to pull, size:XS

#54522 [PluggableDevice] Add `DEVICE_DEFAULT` registration for EnsureShape
  tensorflow/core/kernels/shape_ops.cc
Labels: ready to pull, size:S, comp:core

#54503 Add appropriate encoding check for `tf.compat.as_bytes`/`as_text`
  tensorflow/python/util/BUILD
  tensorflow/python/util/compat.py
  tensorflow/python/util/compat_test.py
Labels: ready to pull, size:XS, prtype:bugfix

#54521 [PluggableDevice] Add `DEVICE_DEFAULT` registrations for Inplace ops
  tensorflow/core/kernels/inplace_ops.cc
Labels: ready to pull, size:S, comp:core
