Repository tensorflow/tensorflow, pull requests merged in 2022-09, with the labels that each got.

#57102 [ROCm] gpu solvers support
  tensorflow/compiler/xla/mlir_hlo/tests/Dialect/lhlo/BUILD~merged
  tensorflow/core/kernels/linalg/matrix_triangular_solve_op_impl.h
  tensorflow/core/kernels/linalg/svd_op_gpu.cu.cc
  tensorflow/core/util/gpu_solvers
  tensorflow/core/util/gpu_solvers.h
  tensorflow/core/util/rocm_solvers.cc
Labels: awaiting review, ready to pull, comp:gpu, size:L

#57537 Fix duplicate nodes as a result of graph freezing
  tensorflow/python/framework/convert_to_constants.py
Labels: ready to pull, size:S, comp:gpu:tensorrt

#57516 Removing the names of nodes from parameter lists.
  tensorflow/compiler/tf2tensorrt/common/utils.h
  tensorflow/compiler/tf2tensorrt/convert/convert_nodes.h
  tensorflow/compiler/tf2tensorrt/convert/convert_nodes_test.cc
Labels: awaiting review, ready to pull, size:M, comp:gpu:tensorrt

#57459 [TF-TRT] Fail gracefully if engine is uncalibrated
  tensorflow/python/compiler/tensorrt/trt_convert.py
Labels: awaiting review, ready to pull, size:XS, comp:gpu:tensorrt

#57474 [NVIDIA TF] Bump up cuDNN frontend to v0.7
  tensorflow/compiler/xla/stream_executor/cuda/cuda_dnn.cc
  tensorflow/workspace2.bzl
  third_party/cudnn_frontend_header_fix.patch
Labels: awaiting review, ready to pull, size:M

#55365 Update GPU details for ctc_loss
  tensorflow/python/ops/ctc_ops.py
Labels: awaiting review, ready to pull, comp:ops, size:XS

#56827 [NVIDIA TF] Part 3: Grappler graph pass supports matmul+bias+gelu_exact
  tensorflow/core/grappler/optimizers/remapper.cc
  tensorflow/python/grappler/remapper_test.py
Labels: awaiting review, ready to pull, comp:grappler, size:XL

#56514 Fixed link error on MSVC(2019).
  tensorflow/lite/tools/cmake/modules/fft2d/CMakeLists.txt
Labels: comp:lite, ready to pull, size:XS

#57588 Prevent actions from running in forks
  .github/workflows/cffconvert.yml
  .github/workflows/sigbuild-docker-branch.yml
  .github/workflows/sigbuild-docker-presubmit.yml
  .github/workflows/sigbuild-docker.yml
Labels: awaiting review, ready to pull, size:XS

#57564 Document PR life cycle
  CONTRIBUTING.md
Labels: awaiting review, ready to pull, size:S

#56929 Enable BF16 for Conv3DBackpropFilterV2 and Conv3DBackpropFilterV2
  tensorflow/core/kernels/conv_grad_ops_3d.cc
  tensorflow/python/kernel_tests/nn_ops/conv_ops_3d_test.py
Labels: ready to pull, size:M, comp:core

#57568 [TF-TRT] Allow `bool` dtype as IO of TRTEngineOps
  tensorflow/compiler/tf2tensorrt/ops/trt_engine_op.cc
Labels: awaiting review, ready to pull, size:XS, comp:gpu:tensorrt

#57530 [mhlo] fix segfault from dereferencing a non-existent value
  tensorflow/compiler/xla/mlir_hlo/lib/Dialect/mhlo/transforms/legalize_to_linalg.cc
  tensorflow/compiler/xla/mlir_hlo/tests/Dialect/mhlo/hlo-legalize-to-linalg.mlir
Labels: awaiting review, ready to pull, comp:xla, size:XS

#56854 [NVIDIA TF] Support MatMul+BiasAdd+Tanh/Sigmoid cuDNN runtime fusion
  tensorflow/compiler/xla/stream_executor/cuda/cuda_dnn.cc
  tensorflow/core/grappler/optimizers/remapper.cc
  tensorflow/core/kernels/fused_eigen_output_kernels.cc
  tensorflow/core/kernels/fused_eigen_output_kernels.h
  tensorflow/core/kernels/matmul_op_fused.cc
  tensorflow/python/grappler/remapper_test.py
Labels: awaiting review, ready to pull, size:XL, comp:core

#57616 [FIX] Fix integer overflow in XLA nccl thunks
  tensorflow/compiler/xla/service/gpu/nccl_all_gather_thunk.cc
  tensorflow/compiler/xla/service/gpu/nccl_all_reduce_thunk.cc
  tensorflow/compiler/xla/service/gpu/nccl_all_to_all_thunk.cc
  tensorflow/compiler/xla/service/gpu/nccl_collective_permute_thunk.cc
Labels: awaiting review, ready to pull, comp:xla, size:XS

#57056 Add support for int8 for SplitV and OneHot
  tensorflow/core/kernels/one_hot_op.cc
  tensorflow/core/kernels/one_hot_op_gpu.cu.cc
  tensorflow/core/kernels/split_lib_gpu.cu.cc
  tensorflow/core/kernels/split_lib_gpu.h
  tensorflow/core/kernels/split_v_op.cc
  tensorflow/core/ops/array_ops.cc
  tensorflow/python/kernel_tests/array_ops/one_hot_op_test.py
  tensorflow/python/kernel_tests/array_ops/split_op_test.py
Labels: awaiting review, ready to pull, size:S, comp:core

#57184 Print a useful warning if we can't find a directory for temporary files.
  tensorflow/tsl/platform/default/env.cc
Labels: awaiting review, ready to pull, size:S, comp:core

#57594 [TF-TRT] CUDA Lazy Loading Warning Filtered
  tensorflow/compiler/tf2tensorrt/utils/trt_logger.cc
Labels: ready to pull, size:S, comp:gpu:tensorrt

#57567 [TFTRT]: Remove shape optimization profile WAR for new TRT versions
  tensorflow/compiler/tf2tensorrt/utils/trt_shape_optimization_profiles.cc
  tensorflow/compiler/tf2tensorrt/utils/trt_shape_optimization_profiles.h
Labels: ready to pull, size:S, comp:gpu:tensorrt

#57193 Add a pjrt plugin device client to the XLA client.
  tensorflow/compiler/xla/pjrt/BUILD
  tensorflow/compiler/xla/pjrt/pjrt_plugin_device_client.h
  tensorflow/compiler/xla/python/BUILD
  tensorflow/compiler/xla/python/xla.cc
  tensorflow/compiler/xla/python/xla_client.py
  tensorflow/compiler/xla/python/xla_client.pyi
Labels: ready to pull, comp:xla, size:M

#57378 [TF:TRT] Refactor IBuilder holder in convert_node_test.
  tensorflow/compiler/tf2tensorrt/BUILD
  tensorflow/compiler/tf2tensorrt/convert/convert_nodes_test.cc
Labels: ready to pull, size:S, comp:gpu:tensorrt

#57651 Updated depreciated api of tf.QueueBase
  tensorflow/python/framework/errors_impl.py
Labels: ready to pull, size:S

#57646 TFLite documentation fix
  tensorflow/lite/g3doc/performance/measurement.md
Labels: comp:lite, ready to pull, size:XS

#57457 [oneDNN] Adding BF16 unit tests for ReLU, ELU, CReLU, SELU
  tensorflow/python/kernel_tests/nn_ops/relu_op_test.py
Labels: ready to pull, size:S

#57405 Refactor all op->emitOpError with notifyMatchFailure
  tensorflow/compiler/mlir/tosa/transforms/legalize_common.cc
  tensorflow/compiler/mlir/tosa/transforms/legalize_tf.cc
  tensorflow/compiler/mlir/tosa/transforms/legalize_tfl.cc
Labels: ready to pull, size:L

#57665 Fix Lite Documentation
  tensorflow/lite/g3doc/examples/object_detection/overview.md
Labels: awaiting review, comp:lite, ready to pull, size:XS

#57589 Refactoring of the CombinedNMS converter.
  tensorflow/compiler/tf2tensorrt/convert/convert_nodes.cc
  tensorflow/compiler/tf2tensorrt/convert/convert_nodes_test.cc
Labels: awaiting review, ready to pull, size:L, comp:gpu:tensorrt

#57563 Update curl to 7.85.0
  .bazelrc
  tensorflow/workspace2.bzl
Labels: ready to pull, size:S

#57644 Re-enable FusionBitcastLift
  tensorflow/compiler/xla/service/gpu/gpu_compiler.cc
Labels: ready to pull, comp:xla, size:XS

#57684 [ROCm] Disable mhlo llvm.roundeven op for ROCm.
  tensorflow/compiler/xla/mlir_hlo/lib/Transforms/gpu_fusion_rewrite.cc
Labels: awaiting review, ready to pull, comp:gpu, size:XS

#56604 Update float_t to float for consistent behavior across platforms
  tensorflow/lite/delegates/flex/util_test.cc
Labels: comp:lite, ready to pull, size:XS

#57515 [oneDNN][grappler:remapper] Bug fix: LeakyRelu in the fusion: Pad + Conv3D + <BiasAdd> + Activation
  tensorflow/core/grappler/optimizers/remapper.cc
  tensorflow/core/grappler/optimizers/remapper_test.cc
Labels: ready to pull, comp:grappler, size:M

#54884 [oneDNN] Redesigning the API of quantized convolution ops/fusions
  tensorflow/core/framework/common_shape_fns.cc
  tensorflow/core/framework/common_shape_fns.h
  tensorflow/core/kernels/mkl/BUILD
  tensorflow/core/kernels/mkl/mkl_conv_ops.cc
  tensorflow/core/kernels/mkl/mkl_fused_ops_test.cc
  tensorflow/core/kernels/mkl/mkl_kernel_util.h
  tensorflow/core/kernels/mkl/mkl_quantized_conv_ops_perchannel_test.cc
  tensorflow/core/kernels/mkl/mkl_quantized_conv_ops_test.cc
  tensorflow/core/ops/mkl_nn_ops.cc
Labels: ready to pull, size:XL, comp:core

#56606 Link libdl in core/platform/default/stacktrace
  tensorflow/tsl/platform/default/BUILD
Labels: ready to pull, size:XS, comp:core

#57116 Python integration test for boolean operations.
  tensorflow/compiler/tf2tensorrt/kernels/trt_engine_op.cc
  tensorflow/python/compiler/tensorrt/test/BUILD
  tensorflow/python/compiler/tensorrt/test/bool_test.py
  tensorflow/python/compiler/tensorrt/test/tf_trt_integration_test_base.py
Labels: ready to pull, size:L, comp.gpu.tensorrt

#57629 activating experimental 64 bit indexing
  tensorflow/core/kernels/mlir_generated/BUILD
Labels: ready to pull, size:S, comp:core

#57655 [mhlo] add missing dependency
  tensorflow/compiler/xla/mlir_hlo/lib/utils/CMakeLists.txt
Labels: awaiting review, ready to pull, comp:xla, size:S

#56850 Updated iOS Documentation for Task Library v4.2.0
  tensorflow/lite/g3doc/inference_with_metadata/task_library/audio_classifier.md
  tensorflow/lite/g3doc/inference_with_metadata/task_library/image_classifier.md
  tensorflow/lite/g3doc/inference_with_metadata/task_library/image_segmenter.md
  tensorflow/lite/g3doc/inference_with_metadata/task_library/object_detector.md
Labels: awaiting review, comp:lite, ready to pull, size:M

#57692 Fix typos in einsum.cc
  tensorflow/compiler/mlir/tensorflow/transforms/einsum.cc
Labels: ready to pull, size:XS

#57727 Lint TensorFlow 2.10 release notes
  RELEASE.md
Labels: ready to pull, size:S

#57639 Improving handling of data passed from input_fn.
  tensorflow/python/compiler/tensorrt/test/tf_trt_integration_test_base.py
  tensorflow/python/compiler/tensorrt/trt_convert.py
  tensorflow/python/compiler/tensorrt/trt_convert_test.py
Labels: awaiting review, ready to pull, size:S, comp:gpu:tensorrt

#57648 Extended Pattern Matching for Unary XLA Ops
  tensorflow/compiler/xla/service/pattern_matcher.h
  tensorflow/compiler/xla/service/pattern_matcher_test.cc
Labels: ready to pull, comp:xla, size:M

#57389 fix: adjust iOS flag for loading TensorFlowLiteSelectTfOps based on tf version
  tensorflow/lite/g3doc/guide/ops_select.md
Labels: comp:lite, ready to pull, size:XS

#57595 [TFTRT] Additional ConvertPool validation
  tensorflow/compiler/tf2tensorrt/convert/convert_nodes.cc
  tensorflow/compiler/tf2tensorrt/convert/convert_nodes_test.cc
Labels: ready to pull, size:S, comp:gpu:tensorrt

#57791 [oneDNN] Fix _FusedConv2D crash in oneDNN enabled build
  tensorflow/core/common_runtime/mkl_layout_pass.cc
  tensorflow/core/grappler/optimizers/remapper.cc
Labels: awaiting review, ready to pull, size:M, comp:core

#53741 Add float16 support for tf.sparse.softmax
  tensorflow/core/kernels/sparse_softmax_op.cc
  tensorflow/core/ops/sparse_ops.cc
  tensorflow/python/kernel_tests/sparse_ops/sparse_ops_test.py
Labels: awaiting review, ready to pull, size:XS, prtype:bugfix, comp:core

#57785 Fix crash in tf.math.unsorted_segment_min/max/sum caused by invalid num_segments
  tensorflow/core/kernels/segment_reduction_ops_impl.h
  tensorflow/python/kernel_tests/math_ops/segment_reduction_ops_test.py
Labels: ready to pull, size:S, prtype:bugfix, comp:core

#57787 Fix crash in tf.nn.conv2d_transpose when shape is negative
  tensorflow/core/kernels/conv_grad_shape_utils.cc
  tensorflow/python/kernel_tests/nn_ops/conv2d_transpose_test.py
Labels: ready to pull, size:S, prtype:bugfix, comp:core

#57827 Fix Typo
  tensorflow/python/distribute/cluster_resolver/slurm_cluster_resolver.py
Labels: awaiting review, ready to pull, size:XS

#57813 [ROCm]: Update ROCm Dockerfile to Ubuntu 20.04
  tensorflow/tools/ci_build/Dockerfile.rocm
Labels: ready to pull, comp:gpu, size:XS

#57478 Add lambda support in loop
  tensorflow/python/autograph/g3doc/reference/limitations.md
  tensorflow/python/autograph/pyct/static_analysis/activity.py
  tensorflow/python/autograph/pyct/static_analysis/liveness.py
  tensorflow/python/autograph/pyct/static_analysis/liveness_test.py
  tensorflow/python/autograph/tests/loop_scoping_test.py
  tensorflow/python/ops/image_ops_impl.py
Labels: ready to pull, size:M

#57815 [MHLO] Add simplifyDynamicGather pattern
  tensorflow/compiler/xla/mlir_hlo/include/mlir-hlo/Dialect/mhlo/IR/hlo_ops.td
  tensorflow/compiler/xla/mlir_hlo/lib/Dialect/mhlo/IR/hlo_ops.cc
  tensorflow/compiler/xla/mlir_hlo/tests/Dialect/mhlo/canonicalize/canonicalize.mlir
Labels: ready to pull, comp:xla, size:S

#57841 Do not defer deallocations in EigenGpuStreamDevice
  tensorflow/core/common_runtime/gpu/gpu_device.cc
Labels: awaiting review, ready to pull, size:S, comp:core

#57656 [XLA] Speed up col reduction for dtype smaller then 32 bits.
  tensorflow/compiler/xla/service/gpu/ir_emitter_unnested.cc
  tensorflow/compiler/xla/service/gpu/tests/gpu_kernel_tiling_test.cc
Labels: ready to pull, comp:xla, size:S

#57855 Enable deterministic segment reductions on Windows
  tensorflow/core/kernels/segment_reduction_ops_gpu.cu.h
  tensorflow/core/kernels/segment_reduction_ops_gpu_0.cu.cc
  tensorflow/core/kernels/segment_reduction_ops_gpu_1.cu.cc
  tensorflow/core/kernels/segment_reduction_ops_impl.h
  tensorflow/core/kernels/segment_reduction_ops_impl_5.cc
  tensorflow/python/kernel_tests/math_ops/segment_reduction_ops_d9m_test.py
Labels: ready to pull, size:M

#57884 enabling atanh expermintal
  tensorflow/core/kernels/mlir_generated/BUILD
Labels: awaiting review, ready to pull, size:XS, comp:core

#57087 [XLA:GPU] Fuse copy added by copy-insertion
  tensorflow/compiler/xla/service/gpu/BUILD
  tensorflow/compiler/xla/service/gpu/gpu_compiler.cc
  tensorflow/compiler/xla/service/gpu/gpu_compiler_test.cc
  tensorflow/compiler/xla/service/gpu/horizontal_loop_fusion.cc
Labels: ready to pull, comp:xla, size:M

#57793 Add qint support for tf.sparse.to_dense
  tensorflow/core/kernels/sparse_to_dense_op.cc
  tensorflow/python/ops/sparse_ops_test.py
Labels: awaiting review, ready to pull, size:S, prtype:bugfix

#57854 Fix crash in tf.nn.atrous_conv2d with large rate
  tensorflow/core/kernels/spacetobatch_op.cc
  tensorflow/python/kernel_tests/nn_ops/atrous_conv2d_test.py
Labels: awaiting review, ready to pull, size:S, comp:core

#57852 Fix crash of tf.random.poisson when total shards is larger than 2^31
  tensorflow/core/kernels/random_poisson_op.cc
  tensorflow/core/kernels/random_poisson_op.h
Labels: awaiting review, ready to pull, size:XS, comp:core

#57789 [TF:TRT] Refactor IBuilder holder in covert_node_test.
  tensorflow/compiler/tf2tensorrt/BUILD
  tensorflow/compiler/tf2tensorrt/convert/convert_nodes_test.cc
Labels: awaiting review, ready to pull, size:S, comp:gpu:tensorrt

#57851 [TFTRT]: Deprecate ImplicitBatchModeCompatible dynamic shape strategy
  tensorflow/python/compiler/tensorrt/trt_convert.py
Labels: awaiting review, ready to pull, size:XS, comp:gpu:tensorrt

#57654 [oneDNN][Bug-Fix] Fix unit test failure //tensorflow/python/grappler:remapper_test
  tensorflow/core/grappler/optimizers/remapper.cc
  tensorflow/python/grappler/remapper_test.py
Labels: awaiting review, ready to pull, comp:grappler, size:M

#57871 [TF-TRT] Change profile strategy for unit tests
  tensorflow/compiler/tf2tensorrt/convert/convert_nodes_test.cc
  tensorflow/compiler/tf2tensorrt/kernels/trt_engine_resource_ops_test.cc
Labels: awaiting review, ready to pull, size:XS, comp:gpu:tensorrt
