Repository tensorflow/tensorflow, pull requests merged in 2022-12, with the labels that each got.

#58733 [NVIDIA TF] Enable BF16 Gather and Scatter ops
  tensorflow/core/kernels/gather_functor.cc
  tensorflow/core/kernels/gather_functor_batched.cc
  tensorflow/core/kernels/gather_functor_batched_gpu.cu.cc
  tensorflow/core/kernels/gather_functor_gpu.cu.cc
  tensorflow/core/kernels/gather_nd_op.cc
  tensorflow/core/kernels/gather_nd_op_gpu.cu.cc
  tensorflow/core/kernels/gather_op.cc
  tensorflow/core/kernels/resource_variable_ops.cc
  tensorflow/core/kernels/scatter_functor.cc
  tensorflow/core/kernels/scatter_functor_gpu.cu.cc
  tensorflow/core/kernels/scatter_nd_op.cc
  tensorflow/core/kernels/scatter_nd_op_gpu.cu.cc
  tensorflow/core/kernels/scatter_op.cc
  tensorflow/core/kernels/scatter_op_gpu.cu.cc
  tensorflow/core/util/gpu_device_functions.h
  tensorflow/python/kernel_tests/array_ops/gather_nd_op_test.py
  tensorflow/python/kernel_tests/array_ops/gather_op_test.py
  tensorflow/python/kernel_tests/array_ops/scatter_nd_ops_test.py
  tensorflow/python/kernel_tests/array_ops/scatter_ops_test.py
  tensorflow/python/kernel_tests/variables/resource_variable_ops_test.py
Labels: awaiting review, ready to pull, size:M, comp:core

#58097 Pull the Variant registration for ResourceGather and ResourceScatterUpdate out of the CUDA ifdefs
  tensorflow/core/kernels/resource_variable_ops.cc
Labels: ready to pull, size:S, comp:core

#58658 [XLA:GPU] Skip a test on Maxwell GPUs
  tensorflow/compiler/xla/service/gpu/tests/reduction_vectorization_test.cc
Labels: awaiting review, ready to pull, comp:xla, size:XS

#57983 Fix crash in tf.nn.conv2d_transpose when output shape is invalid
  tensorflow/core/kernels/avgpooling_op.cc
  tensorflow/core/kernels/conv_grad_filter_ops.cc
  tensorflow/core/kernels/conv_grad_input_ops.cc
  tensorflow/core/kernels/conv_grad_ops_3d.cc
  tensorflow/core/kernels/conv_grad_shape_utils.cc
  tensorflow/core/kernels/conv_ops.cc
  tensorflow/core/kernels/conv_ops_3d.cc
  tensorflow/core/kernels/conv_ops_fused_image_transform.cc
  tensorflow/core/kernels/conv_ops_fused_impl.h
  tensorflow/core/kernels/conv_ops_fused_int8.cc
  tensorflow/core/kernels/conv_ops_test.cc
  tensorflow/core/kernels/conv_ops_using_gemm.cc
  tensorflow/core/kernels/cudnn_pooling_gpu.cc
  tensorflow/core/kernels/depthtospace_op.cc
  tensorflow/core/kernels/depthwise_conv_op.cc
  tensorflow/core/kernels/fused_batch_norm_op.cc
  tensorflow/core/kernels/lrn_op.cc
  tensorflow/core/kernels/maxpooling_op.cc
  tensorflow/core/kernels/mkl/mkl_conv_ops.h
  tensorflow/core/kernels/pooling_ops_3d.cc
  tensorflow/core/kernels/pooling_ops_3d.h
  tensorflow/core/kernels/pooling_ops_common.cc
  tensorflow/core/kernels/pooling_ops_common.h
  tensorflow/core/kernels/quantized_pooling_ops.cc
  tensorflow/core/kernels/spacetodepth_op.cc
  tensorflow/core/util/tensor_format.h
  tensorflow/python/kernel_tests/nn_ops/conv2d_transpose_test.py
Labels: ready to pull, size:S, comp:core

#58770 Add dependency entries for package manages to parse
  tensorflow/tools/pip_package/setup.py
Labels: ready to pull, size:S

#58767 [Linaro:XLA] fix fail to build graphviz_interactive
  tensorflow/compiler/xla/tools/BUILD
Labels: awaiting review, ready to pull, comp:xla, size:XS

#58794 Extend NVIDIA Trusted Partner config to include TF-TRT
  .github/workflows/trusted_partners.js
Labels: ready to pull, size:XS

#57801 [ROCm] Fixed all unused and ignored warnings and status in ROCm build
  .bazelrc
  tensorflow/compiler/xla/backends/profiler/gpu/device_tracer_rocm.cc
  tensorflow/compiler/xla/backends/profiler/gpu/rocm_tracer.cc
  tensorflow/compiler/xla/backends/profiler/gpu/rocm_tracer.h
  tensorflow/compiler/xla/stream_executor/rocm/rocm_dnn.cc
  tensorflow/compiler/xla/stream_executor/rocm/roctracer_wrapper.h
  tensorflow/core/common_runtime/gpu/gpu_device.cc
  tensorflow/core/kernels/dynamic_partition_op_gpu.cu.cc
  tensorflow/core/kernels/image/non_max_suppression_op.cu.cc
  tensorflow/core/util/gpu_kernel_helper.h
  tensorflow/core/util/gpu_kernel_helper_test.cu.cc
  tensorflow/core/util/gpu_launch_config.h
  tensorflow/tools/ci_build/linux/rocm/run_gpu_single.sh
Labels: ready to pull, comp:gpu, size:M

#58811 [ROCm] Fixed another warnings check on custom_call_test
  tensorflow/compiler/xla/service/gpu/custom_call_test.cc
Labels: awaiting review, ready to pull, size:S

#58734 [NVIDIA TF] Rollforward Dynamic Pywrap PR #55941
  tensorflow/BUILD
  tensorflow/c/BUILD
  tensorflow/compiler/aot/BUILD
  tensorflow/compiler/mlir/lite/metrics/BUILD
  tensorflow/compiler/mlir/lite/python/BUILD
  tensorflow/compiler/mlir/lite/quantization/BUILD
  tensorflow/compiler/mlir/lite/quantization/lite/BUILD
  tensorflow/compiler/mlir/lite/sparsity/BUILD
  tensorflow/compiler/mlir/quantization/tensorflow/BUILD
  tensorflow/compiler/mlir/quantization/tensorflow/calibrator/BUILD
  tensorflow/compiler/mlir/quantization/tensorflow/python/BUILD
  tensorflow/compiler/mlir/tensorflow/BUILD
  tensorflow/core/profiler/convert/BUILD
  tensorflow/core/profiler/rpc/BUILD
  tensorflow/core/profiler/rpc/client/BUILD
  tensorflow/core/util/BUILD
  tensorflow/dtensor/cc/BUILD
  tensorflow/python/BUILD
  tensorflow/python/client/BUILD
  tensorflow/tensorflow.bzl
  tensorflow/tf_exported_symbols.lds
  tensorflow/tf_version_script.lds
Labels: awaiting review, ready to pull, size:L

#58832 Flip --incompatible_enforce_config_setting_visibility in .bazelrc to prevent regression
  .bazelrc
  tensorflow/tsl/BUILD
Labels: awaiting review, ready to pull, size:XS

#58343 [ROCm] xla_gpu_enable_cublaslst and matrix_ops_simple_test is cuda only
  tensorflow/compiler/xla/tests/dot_operation_test.cc
  tensorflow/compiler/xla/tests/matrix_ops_simple_test.cc
Labels: awaiting review, ready to pull, comp:gpu, size:S

#58340 [oneDNN] Update AMP lists : add Sum and Square ops to Infer list
  tensorflow/core/grappler/optimizers/auto_mixed_precision_lists.h
Labels: ready to pull, comp:grappler, size:XS

#58892 [NVIDIA TF] Fix an issue of empty output tensor when using bf16
  tensorflow/core/kernels/conv_grad_filter_ops.cc
  tensorflow/core/kernels/conv_grad_input_ops.cc
  tensorflow/core/kernels/conv_grad_ops_3d.cc
  tensorflow/core/kernels/conv_ops.cc
  tensorflow/core/kernels/conv_ops_3d.cc
Labels: awaiting review, ready to pull, size:S, comp:core

#53639 [tflite] Add ruy header for profile in gather
  tensorflow/lite/kernels/internal/reference/gather.h
Labels: comp:lite, ready to pull, size:XS

#58882 define near use
  tensorflow/core/kernels/lrn_op.cc
Labels: awaiting review, ready to pull, size:XS, comp:core

#58792 [NVIDIA TF] Enable BF16 Einsum
  tensorflow/core/kernels/linalg/einsum_op_gpu.cu.cc
  tensorflow/core/kernels/linalg/einsum_op_impl.h
  tensorflow/core/kernels/linalg/einsum_op_impl_bfloat16.cc
Labels: awaiting review, ready to pull, size:S, comp:core

#57634 Create toolchain for AARCH64 builds in Docker container
  tensorflow/tools/toolchains/cpus/aarch64/README.md
  tensorflow/tools/toolchains/cpus/aarch64/aarch64.bzl
  tensorflow/tools/toolchains/cpus/aarch64/aarch64_compiler_configure.bzl
  tensorflow/tools/toolchains/cpus/aarch64/crosstool/BUILD
  tensorflow/tools/toolchains/cpus/aarch64/crosstool/BUILD.tpl
  tensorflow/tools/toolchains/cpus/aarch64/crosstool/cc_toolchain_config.bzl.tpl
  tensorflow/workspace2.bzl
Labels: ready to pull, size:XL

#58793 [NVIDIA TF] Enable BF16 Inplace ops
  tensorflow/core/kernels/inplace_ops.cc
  tensorflow/core/kernels/inplace_ops_functor_gpu.cu.cc
  tensorflow/python/kernel_tests/array_ops/inplace_ops_test.py
Labels: awaiting review, ready to pull, size:S, comp:core

#58675 [GPU] Add NVTX to XLA
  tensorflow/BUILD
  tensorflow/compiler/xla/service/gpu/BUILD
  tensorflow/compiler/xla/service/gpu/gpu_executable.cc
  tensorflow/compiler/xla/service/gpu/ir_emitter_unnested.cc
  tensorflow/python/BUILD
  tensorflow/tsl/profiler/lib/BUILD
  tensorflow/tsl/profiler/lib/nvtx_utils.h
  tensorflow/tsl/profiler/lib/scoped_annotation.h
  tensorflow/workspace2.bzl
  third_party/nvtx.BUILD
Labels: awaiting review, ready to pull, comp:xla, size:M

#58880 build: tell CMake about dependency on MhloToArithmeticConversion
  tensorflow/compiler/xla/mlir_hlo/mhlo/transforms/CMakeLists.txt
Labels: awaiting review, ready to pull, comp:xla, size:XS

#58647 [NVIDIA TF] Enable BF16 Reverse/ReverseV2 and ReverseSequence
  tensorflow/core/kernels/reverse_op.cc
  tensorflow/core/kernels/reverse_op_gpu.cu.cc
  tensorflow/core/kernels/reverse_sequence_op.cc
  tensorflow/core/kernels/reverse_sequence_op_gpu.cu.cc
  tensorflow/python/kernel_tests/array_ops/array_ops_test.py
  tensorflow/python/kernel_tests/array_ops/reverse_sequence_op_test.py
Labels: awaiting review, ready to pull, size:S, comp:core

#58649 [NVIDIA TF] Enable BF16 for AssignAddVariableOp/AssignSubVariableOp and DenseUpdate
  tensorflow/core/kernels/dense_update_functor.cc
  tensorflow/core/kernels/dense_update_functor_gpu.cu.cc
  tensorflow/core/kernels/dense_update_ops.cc
  tensorflow/core/kernels/resource_variable_ops.cc
  tensorflow/core/kernels/variable_ops.cc
  tensorflow/python/kernel_tests/variables/dense_update_ops_test.py
  tensorflow/python/kernel_tests/variables/variable_ops_test.py
Labels: awaiting review, ready to pull, size:S, comp:core

#58905 Fix up CUDA
  tensorflow/tools/dockerfiles/dockerfiles/arm64v8/devel-cpu-arm64v8-jupyter.Dockerfile
  tensorflow/tools/dockerfiles/dockerfiles/arm64v8/devel-cpu-arm64v8.Dockerfile
  tensorflow/tools/dockerfiles/dockerfiles/devel-cpu-jupyter.Dockerfile
  tensorflow/tools/dockerfiles/dockerfiles/devel-cpu.Dockerfile
  tensorflow/tools/dockerfiles/dockerfiles/devel-gpu-jupyter.Dockerfile
  tensorflow/tools/dockerfiles/dockerfiles/devel-gpu.Dockerfile
  tensorflow/tools/dockerfiles/dockerfiles/gpu-jupyter.Dockerfile
  tensorflow/tools/dockerfiles/dockerfiles/gpu.Dockerfile
  tensorflow/tools/dockerfiles/dockerfiles/ppc64le/devel-cpu-ppc64le-jupyter.Dockerfile
  tensorflow/tools/dockerfiles/dockerfiles/ppc64le/devel-cpu-ppc64le.Dockerfile
  tensorflow/tools/dockerfiles/dockerfiles/ppc64le/devel-gpu-ppc64le-jupyter.Dockerfile
  tensorflow/tools/dockerfiles/dockerfiles/ppc64le/devel-gpu-ppc64le.Dockerfile
  tensorflow/tools/dockerfiles/dockerfiles/ppc64le/gpu-ppc64le-jupyter.Dockerfile
  tensorflow/tools/dockerfiles/dockerfiles/ppc64le/gpu-ppc64le.Dockerfile
  tensorflow/tools/dockerfiles/partials/ubuntu/devel-nvidia.partial.Dockerfile
  tensorflow/tools/dockerfiles/partials/ubuntu/nvidia.partial.Dockerfile
Labels: awaiting review, ready to pull, size:M

#58586 TfLite: adds generate-pc.sh
  tensorflow/lite/generate-pc.sh
Labels: comp:lite, ready to pull, size:M

#58911 Handle error properly in NodeDefBuilder::Finalize
  tensorflow/core/framework/node_def_builder.cc
Labels: awaiting review, ready to pull, size:XS, comp:core

#58917 Fix null dereference in quantization_utils
  tensorflow/compiler/mlir/lite/quantization/quantization_utils.h
Labels: awaiting review, comp:lite, ready to pull, size:XS

#58895 [TF-TRT] Fix AddN for const layer inputs in non implicit batch cases.
  tensorflow/compiler/tf2tensorrt/convert/convert_nodes.cc
Labels: awaiting review, ready to pull, size:XS, comp:gpu:tensorrt

#58847 Select a convolution algorithm that does not use tensor cores when tensor cores are disabled and autotuning is disabled.
  tensorflow/compiler/xla/stream_executor/cuda/cuda_dnn.cc
  tensorflow/compiler/xla/stream_executor/cuda/cuda_dnn.h
  tensorflow/compiler/xla/stream_executor/dnn.cc
  tensorflow/compiler/xla/stream_executor/dnn.h
  tensorflow/compiler/xla/stream_executor/rocm/rocm_dnn.cc
  tensorflow/compiler/xla/stream_executor/rocm/rocm_dnn.h
  tensorflow/compiler/xla/stream_executor/stream_executor_pimpl.cc
  tensorflow/compiler/xla/stream_executor/stream_executor_pimpl.h
Labels: awaiting review, ready to pull, comp:xla, size:M, prtype:bugfix

#58948 Re-fix nvidia; remove "devel" images
  tensorflow/tools/dockerfiles/dockerfiles/gpu-jupyter.Dockerfile
  tensorflow/tools/dockerfiles/dockerfiles/gpu.Dockerfile
  tensorflow/tools/dockerfiles/dockerfiles/ppc64le/gpu-ppc64le-jupyter.Dockerfile
  tensorflow/tools/dockerfiles/dockerfiles/ppc64le/gpu-ppc64le.Dockerfile
  tensorflow/tools/dockerfiles/partials/ubuntu/nvidia.partial.Dockerfile
  tensorflow/tools/dockerfiles/spec.yml
Labels: awaiting review, ready to pull, size:M

#58968 Update the RBE images to the latest container versions
  tensorflow/tools/toolchains/remote_config/configs.bzl
Labels: awaiting review, ready to pull, size:S

#58841 [NVIDIA TF] Enable BF16 TensorArray scatter, split, unpack
  tensorflow/core/kernels/tensor_array.cc
  tensorflow/core/kernels/tensor_array.h
  tensorflow/core/kernels/tensor_array_ops.cc
  tensorflow/python/kernel_tests/data_structures/tensor_array_ops_test.py
Labels: ready to pull, size:S, comp:core

#57578 Updated Documentation on CoreML delegate
  tensorflow/lite/delegates/coreml/README.md
Labels: comp:lite, ready to pull, size:S

#58949 LHLO Translation Tests for GEMM Custom Calls
  tensorflow/compiler/xla/translate/mhlo_to_lhlo_with_xla/tests/hlo_text_to_lhlo_no_opt.hlotxt
Labels: awaiting review, ready to pull, size:M

#58984 [Linaro:ARM_CI] Drop Python 3.7 build as not supported
  .github/workflows/arm-cd.yml
Labels: ready to pull, size:XS

#58959 [xla:gpu:runtime] Fix integer overflow in GetDeviceBufferPairs
  tensorflow/compiler/xla/service/gpu/runtime/collectives.cc
Labels: awaiting review, ready to pull, comp:xla, size:XS

#58838 [NVIDIA TF] Enable BF16 for Dilation
  tensorflow/core/kernels/dilation_ops.cc
  tensorflow/core/kernels/dilation_ops_gpu.cu.cc
  tensorflow/python/kernel_tests/nn_ops/morphological_ops_test.py
Labels: ready to pull, size:S, comp:core

#58836 [NVIDIA TF] Enable BF16 ArgMax/ArgMin
  tensorflow/core/kernels/argmax_op.cc
  tensorflow/core/kernels/argmax_op_gpu.cu.cc
  tensorflow/python/kernel_tests/math_ops/argmax_op_test.py
Labels: ready to pull, size:S, comp:core

#58976 [NVIDIA TF] Fix missing cuda headers in pip wheel
  tensorflow/tools/pip_package/build_pip_package.sh
  tensorflow/tools/pip_package/setup.py
Labels: awaiting review, ready to pull, size:XS

#58916 Fix copy-paste error with possible null dereference
  tensorflow/c/c_api_function.cc
Labels: awaiting review, ready to pull, size:XS, comp:core

#58963 Remove tf.contrib mentions.
  tensorflow/python/framework/ops.py
Labels: awaiting review, ready to pull, size:S

#58977 [XLA:GPU] Add basic NVTX support to XLA Runtime
  tensorflow/tsl/profiler/lib/BUILD
  tensorflow/tsl/profiler/lib/scoped_annotation_stack.h
Labels: ready to pull, size:S

#58827 [TOSA]Add wrapping of TFL CustomOp attributes to TOSA
  tensorflow/compiler/mlir/tosa/tests/tfl-to-tosa-pipeline.mlir
  tensorflow/compiler/mlir/tosa/transforms/legalize_tfl.cc
Labels: ready to pull, size:S

#58922 Fix possible null dereference in xla_launch_util.cc
  tensorflow/compiler/jit/xla_launch_util.cc
Labels: awaiting review, ready to pull, size:XS

#58913 Fix buffer overflow in summary_db_writer
  tensorflow/core/summary/summary_db_writer.cc
Labels: awaiting review, ready to pull, size:XS, comp:core

#58788 [NVIDIA TF] Enable BF16 BatchToSpace, DepthToSpace ops
  tensorflow/core/kernels/batchtospace_op.cc
  tensorflow/core/kernels/depthtospace_op.cc
  tensorflow/core/kernels/depthtospace_op_gpu.cu.cc
  tensorflow/core/kernels/spacetobatch_functor_gpu.cu.cc
  tensorflow/core/kernels/spacetobatch_op.cc
  tensorflow/core/kernels/spacetodepth_op.cc
  tensorflow/core/kernels/spacetodepth_op_gpu.cu.cc
  tensorflow/python/kernel_tests/array_ops/batchtospace_op_test.py
  tensorflow/python/kernel_tests/array_ops/depthtospace_op_test.py
  tensorflow/python/kernel_tests/array_ops/spacetobatch_op_test.py
  tensorflow/python/kernel_tests/array_ops/spacetodepth_op_test.py
Labels: awaiting review, ready to pull, size:M, comp:core

#58970 Fix memory leak in xla::SlowOperationAlarm
  tensorflow/compiler/xla/service/slow_operation_alarm.cc
Labels: awaiting review, ready to pull, comp:xla, size:M

#59031 Update GitHub Actions to avoid `set-output` deprecation
  .github/workflows/release-branch-cherrypick.yml
  .github/workflows/sigbuild-docker-branch.yml
  .github/workflows/sigbuild-docker-presubmit.yml
  .github/workflows/sigbuild-docker.yml
Labels: awaiting review, ready to pull, size:S

#58878 [oneDNN] Bug-fix: Threadpool interface to LayerNorm.
  tensorflow/core/kernels/mkl/mkl_layer_norm_op.cc
Labels: cla: yes, ready to pull, comp:core

#58672 Updated the deprecated API to new API
  tensorflow/python/data/experimental/ops/snapshot.py
Labels: awaiting review, ready to pull, comp:data, size:XS

#58039 Add Raises section to the documentation of tf.nn.max_pool and tf.nn.max_pool2d
  tensorflow/python/ops/nn_ops.py
Labels: ready to pull, comp:ops, size:XS, prtype:bugfix

#58486 Bug Fixed in tf.custom_gradient API Document
  tensorflow/python/ops/custom_gradient.py
Labels: cla: yes, ready to pull, comp:ops, size:XS

#53574 Update post_training_quantization.md
  tensorflow/lite/g3doc/performance/post_training_quantization.md
Labels: cla: yes, comp:lite, ready to pull, size:XS

#51599 `third_party/py/BUILD.tpl`: add `stub_shebang` for `py_runtime`
  third_party/py/BUILD.tpl
Labels: cla: yes, ready to pull, size:XS

#58104 Fix segfault for multiframe gifs.
  tensorflow/core/kernels/image/decode_image_op.cc
  tensorflow/core/lib/gif/gif_io.cc
  tensorflow/core/lib/gif/gif_io_test.cc
  tensorflow/core/lib/gif/testdata/3g_multiframe.gif
  tensorflow/core/lib/gif/testdata/BUILD
Labels: awaiting review, ready to pull, size:S, comp:core

#53750 #undef some macros with generic names to prevent -Wmacro-redefined from being triggered
  tensorflow/tsl/platform/default/logging.h
Labels: awaiting review, ready to pull, size:S, comp:core

#58942 [AMD-ZENDNN] Environment variable to enable AMD-ZENDNN plugin
  tensorflow/core/util/port.cc
  tensorflow/core/util/port.h
  tensorflow/tensorflow.bzl
Labels: ready to pull, size:S, comp:core

#56360 resolve gcc_host_compiler_path in a symlink directory
  configure.py
Labels: awaiting review, ready to pull, size:XS

#58357 [ISSUE TEMPLATE] Suggest to users to report TF nightly reproducibility
  .github/ISSUE_TEMPLATE/tensorflow_issue_template.yaml
Labels: awaiting review, ready to pull, size:XS

#58265 Create .github/ISSUE_TEMPLATE/tflite-other.md
  .github/ISSUE_TEMPLATE/tflite-other.md
Labels: awaiting review, ready to pull, size:M

#58879 Switch to skylib expand_template
  third_party/hwloc/hwloc.BUILD
Labels: awaiting review, ready to pull, size:S

#56913 ppc64le: set 'gold' linker in the configure.py to fix ppc build
  configure.py
Labels: awaiting review, ready to pull, size:XS

#53469 [Go] Improve tests: fix test issues, add cases and locate assets
  tensorflow/go/example_inception_inference_test.go
  tensorflow/go/graph_test.go
  tensorflow/go/saved_model_test.go
  tensorflow/go/tensor_handle_test.go
  tensorflow/go/testdata/label_image/grace_hopper.jpg
  tensorflow/go/testdata/saved_model/half_plus_two/00000123/assets/foo.txt
  tensorflow/go/testdata/saved_model/half_plus_two/00000123/saved_model.pb
  tensorflow/go/testdata/saved_model/half_plus_two/00000123/variables/variables.data-00000-of-00001
  tensorflow/go/testdata/saved_model/half_plus_two/00000123/variables/variables.index
Labels: ready to pull, size:M

#57585 Update Embedded Linux toolchains to GCC 11.3.1
  tensorflow/tools/toolchains/embedded/arm-linux/aarch64-linux-toolchain.BUILD
  tensorflow/tools/toolchains/embedded/arm-linux/armhf-linux-toolchain.BUILD
  tensorflow/tools/toolchains/embedded/arm-linux/cc_config.bzl.tpl
  tensorflow/workspace2.bzl
Labels: awaiting review, ready to pull, size:M

#58753 Updated C++ version and CMake cloning target in microcontroller guide
  tensorflow/lite/g3doc/microcontrollers/get_started_low_level.md
  tensorflow/lite/g3doc/microcontrollers/index.md
  tensorflow/lite/g3doc/microcontrollers/library.md
Labels: awaiting review, comp:lite, ready to pull, size:XS

#58894 Detect AVX512 on Windows
  tensorflow/core/platform/cpu_feature_guard.cc
Labels: awaiting review, ready to pull, size:S, comp:core

#58834 [Linaro:ARM_CI] Enable running of tests tagged with oss_serial
  tensorflow/python/eager/benchmarks/resnet50/BUILD
  tensorflow/tools/ci_build/build_scripts/ARM_SKIP_TESTS.sh
  tensorflow/tools/ci_build/builds/pip_new.sh
  tensorflow/tools/ci_build/rel/ubuntu/cpu_arm64_pip.sh
Labels: awaiting review, ready to pull, size:XS, prtype:bugfix

#57985 Various Google C++ style guide fixes
  tensorflow/cc/client/client_session_test.cc
  tensorflow/cc/framework/cc_op_gen.cc
  tensorflow/cc/framework/cc_op_gen.h
  tensorflow/cc/framework/cc_op_gen_util.h
  tensorflow/cc/framework/grad_op_registry.h
  tensorflow/cc/framework/gradient_checker.cc
  tensorflow/cc/framework/gradient_checker.h
  tensorflow/cc/framework/gradients.cc
  tensorflow/cc/framework/gradients.h
  tensorflow/cc/framework/ops.h
  tensorflow/cc/framework/scope_internal.h
  tensorflow/cc/framework/testutil.h
  tensorflow/cc/framework/while_gradients.cc
  tensorflow/cc/framework/while_gradients.h
Labels: awaiting review, ready to pull, size:M

#57799 Fix typos and grammar/syntax in ops.td
  tensorflow/core/ir/ops.td
Labels: ready to pull, size:XS, comp:core

#58920 Fix copy-paste error in promote_resources_to_args
  tensorflow/compiler/mlir/tensorflow/transforms/promote_resources_to_args.cc
Labels: awaiting review, ready to pull, size:XS

#59027 Fixed wrong data in embedding_lookup op test
  tensorflow/lite/kernels/embedding_lookup_test.cc
Labels: comp:lite, ready to pull, size:S

#58924 Fix TIMEOUT issue in `label_image_test` on s390x
  tensorflow/lite/examples/label_image/BUILD
  tensorflow/lite/examples/label_image/bitmap_helpers.cc
Labels: awaiting review, comp:lite, ready to pull, size:S

#59040 Remove unused but set variable.
  tensorflow/lite/kernels/internal/optimized/optimized_ops.h
Labels: comp:lite, ready to pull, size:XS

#58915 Fix null dereference in optional_debug_tools
  tensorflow/lite/optional_debug_tools.cc
Labels: awaiting review, comp:lite, ready to pull, size:S

#58803 Fix the endianness issue in lite/kernels:bucketize_test on s390x
  tensorflow/lite/kernels/bucketize.cc
  tensorflow/lite/tools/evaluation/BUILD
Labels: awaiting review, comp:lite, ready to pull, size:S

#58495 Fix quantization_utils_test failure on BE machines
  tensorflow/lite/tools/optimize/quantization_utils_test.cc
Labels: awaiting review, comp:lite, ready to pull, size:S

#58978 [tflite] Add rank checking for MEAN, ADD, MUL, and DIV
  tensorflow/lite/delegates/nnapi/nnapi_delegate.cc
Labels: awaiting review, comp:lite, ready to pull, size:S

#58914 Add checkers before derefence in conv Prepare()
  tensorflow/lite/kernels/conv.cc
Labels: awaiting review, comp:lite, ready to pull, size:XS

#58735 Remove completed TODO bugs.
  tensorflow/lite/BUILD
  tensorflow/lite/core/interpreter.cc
Labels: awaiting review, comp:lite, ready to pull, size:XS

#58779 Fix bug in bi-directional RNN
  tensorflow/lite/kernels/bidirectional_sequence_rnn.cc
Labels: comp:lite, ready to pull, size:XS

#58505 Propagate EIGEN_NEON_GEBP_NR define
  tensorflow/lite/CMakeLists.txt
Labels: awaiting review, comp:lite, ready to pull, size:XS

#58724 Add SYSTEM_FARMHASH cmake config flag
  tensorflow/lite/g3doc/guide/build_cmake.md
  tensorflow/lite/tools/cmake/modules/Findfarmhash.cmake
Labels: awaiting review, comp:lite, ready to pull, size:S

#58923 Fix the endianness issue in `prepare-composite-functions-tf.mlir.test` on s390x
  tensorflow/compiler/mlir/lite/utils/perception_ops_utils.cc
Labels: awaiting review, comp:lite, ready to pull, size:XS

#59034 Fix memory leaks in xla::HloProfileTest
  tensorflow/compiler/xla/tests/xla_hlo_profile_test.cc
Labels: awaiting review, ready to pull, comp:xla, size:S

#59038 Fix memory leaks in xla::CpuGpuFusionTest
  tensorflow/compiler/xla/tests/cpu_gpu_fusion_test.cc
Labels: awaiting review, ready to pull, comp:xla, size:XS

#58890 [tosa] Fix wrong intermediate datatype for genericReduceOps
  tensorflow/compiler/mlir/tosa/tests/tf-to-tosa-pipeline.mlir
  tensorflow/compiler/mlir/tosa/tests/tfl-to-tosa-pipeline.mlir
  tensorflow/compiler/mlir/tosa/transforms/legalize_common.cc
Labels: awaiting review, ready to pull, size:XS

#59019 build: fix CMake rules for the MHLOTOSATransforms target
  tensorflow/compiler/xla/mlir_hlo/tosa/lib/Transforms/CMakeLists.txt
Labels: awaiting review, ready to pull, comp:xla, size:XS
