Repository tensorflow/tensorflow, pull requests merged in 2022-01, with the labels that each got.

#53416 Fixed pip package build with cmake due to missing numpy include path
  tensorflow/lite/tools/pip_package/build_pip_package_with_cmake.sh
Labels: awaiting review, comp:lite, ready to pull, size:S

#53495 [ROCm] Switch to ROCm 4.5.2
  tensorflow/python/kernel_tests/nn_ops/conv2d_transpose_test.py
  tensorflow/python/kernel_tests/signal/BUILD
  tensorflow/tools/ci_build/Dockerfile.rocm
  tensorflow/tools/ci_build/linux/rocm/run_gpu_multi.sh
  tensorflow/tools/ci_build/linux/rocm/run_gpu_single.sh
Labels: awaiting review, ready to pull, comp:gpu, size:S

#53527 [oneDNN] updating oneDNN to v2.5.1
  tensorflow/workspace2.bzl
  third_party/mkl_dnn/mkldnn_v1.BUILD
Labels: ready to pull, size:S

#53479 [oneDNN] Remove is_filter_const attr from _FusedConv3D registeration
  tensorflow/core/ops/mkl_nn_ops.cc
Labels: ready to pull, size:XS, comp:core

#53537 [jax] Factor out GetJitArgumentStickyDevice function
  tensorflow/compiler/xla/python/jax_jit.cc
Labels: ready to pull, comp:xla, size:M

#53172 Update documentation of the tf.nn.softmax function
  tensorflow/python/ops/nn_ops.py
Labels: cla: yes, ready to pull, comp:ops, size:XS

#52651 GPU DynamicPartition support int32&int64
  tensorflow/core/kernels/dynamic_partition_op_gpu.cu.cc
  tensorflow/core/kernels/dynamic_partition_op_test.cc
  tensorflow/python/kernel_tests/data_structures/dynamic_partition_op_test.py
Labels: cla: yes, awaiting review, ready to pull, size:XS, comp:core

#53630 Remove meta support for aarch64.
  tensorflow/core/kernels/meta_support.cc
Labels: awaiting review, ready to pull, size:XS, comp:core

#53619 [PluggableDevice] Add DEVICE_DEFAULT registration for Fill
  tensorflow/core/kernels/constant_op.cc
Labels: awaiting review, ready to pull, size:XS, comp:core

#53523 [TF-TRT] Fix a bug in getting the DType string representation for the conversion report.
  tensorflow/python/compiler/tensorrt/trt_convert.py
Labels: ready to pull, size:XS, comp:gpu:tensorrt

#53474 Fixed a minor logging issue in fused batch norm
  tensorflow/core/kernels/fused_batch_norm_op.cc
Labels: awaiting review, ready to pull, size:XS, comp:core

#53623 [TF:TRT] Fix access to TRT_ShapedWeights shape_ member, temp weights creation
  tensorflow/compiler/tf2tensorrt/convert/convert_nodes.cc
  tensorflow/compiler/tf2tensorrt/convert/convert_nodes_test.cc
  tensorflow/compiler/tf2tensorrt/convert/ops/data_format_vec_permute.cc
  tensorflow/compiler/tf2tensorrt/convert/ops/layer_utils.h
  tensorflow/compiler/tf2tensorrt/convert/ops/quantization_ops.cc
  tensorflow/compiler/tf2tensorrt/convert/weights.cc
  tensorflow/compiler/tf2tensorrt/convert/weights.h
  tensorflow/compiler/tf2tensorrt/utils/trt_testutils.h
Labels: awaiting review, ready to pull, size:L, comp:gpu:tensorrt

#53667 r2.8 cherry-pick request: Updating oneDNN to v2.5.1
  tensorflow/workspace2.bzl
  third_party/mkl_dnn/mkldnn_v1.BUILD
Labels: comp:mkl

#53666 r2.8 cherry-pick request: [oneDNN] Remove is_filter_const attr from _FusedConv3D registration
  tensorflow/core/ops/mkl_nn_ops.cc
Labels: comp:mkl

#53468 [tflite] fix coreml delegate tmp peak memory issue
  tensorflow/lite/delegates/coreml/coreml_delegate_kernel.mm
Labels: comp:lite, ready to pull, size:S, prtype:bugfix

#53253 Support CUDNN_HEUR_MODE_B
  tensorflow/stream_executor/cuda/cuda_dnn.cc
Labels: cla: yes, awaiting review, ready to pull, size:XS

#53624 Fix time_major=False for Hybrid Bidirectional LSTM
  tensorflow/lite/kernels/bidirectional_sequence_lstm.cc
Labels: comp:lite, ready to pull, size:XS

#53603 [TF:TRT] Remove dead code from convert_nodes.cc
  tensorflow/compiler/tf2tensorrt/convert/convert_nodes.cc
Labels: ready to pull, size:S, comp:gpu:tensorrt

#53532 eliminate broadcast_in_dim + transpose to broadcast_in_dim
  tensorflow/compiler/mlir/hlo/lib/Dialect/mhlo/IR/hlo_ops.cc
  tensorflow/compiler/mlir/hlo/tests/Dialect/mhlo/canonicalize/transpose.mlir
Labels: ready to pull, size:M

#53678 [TF:TRT] Remove dead conversion helpers
  tensorflow/compiler/tf2tensorrt/convert/convert_nodes.cc
Labels: ready to pull, size:M, comp:gpu:tensorrt

#53681 [TF:TRT] Fix oss build
  tensorflow/compiler/tf2tensorrt/BUILD
  tensorflow/compiler/tf2tensorrt/tensorrt_test.cc
  third_party/tensorrt/BUILD.tpl
Labels: ready to pull, size:M, comp:gpu:tensorrt

#53695 Fix crash of tf.sparse.split when axis is not a scalar.
  tensorflow/core/kernels/sparse_split_op.cc
  tensorflow/python/kernel_tests/sparse_ops/sparse_split_op_test.py
Labels: ready to pull, size:S, comp:core

#53694 Add complex data type support to tf.sparse.to_dense
  tensorflow/core/kernels/sparse_to_dense_op.cc
  tensorflow/python/kernel_tests/sparse_ops/sparse_to_dense_op_py_test.py
Labels: ready to pull, size:S, prtype:bugfix, comp:core

#53656 [jax] Add default_device config to JitState
  tensorflow/compiler/xla/python/jax_jit.cc
  tensorflow/compiler/xla/python/jax_jit.h
  tensorflow/compiler/xla/python/xla_client.py
  tensorflow/compiler/xla/python/xla_extension/jax_jit.pyi
Labels: awaiting review, ready to pull, comp:xla, size:M

#53677 Update c_api.h
  tensorflow/lite/c/c_api.h
Labels: type:docs-bug, awaiting review, comp:lite, ready to pull, size:XS

#53715 ci_build: update check_system_libs for numbered workspace files
  tensorflow/tools/ci_build/builds/check_system_libs.py
Labels: awaiting review, ready to pull, size:XS

#53518 Update backprop.py
  tensorflow/python/eager/backprop.py
Labels: comp:eager, ready to pull, size:XS

#53679 [TF:TRT] Remove redundant NodeDef attr helpers
  tensorflow/compiler/tf2tensorrt/common/utils.h
  tensorflow/compiler/tf2tensorrt/convert/convert_nodes.cc
Labels: awaiting review, ready to pull, size:L, comp:gpu:tensorrt

#53592 update `is_numeric_tensor` with new dtypes
  tensorflow/python/ops/check_ops.py
Labels: awaiting review, ready to pull, comp:ops, size:S

#47990 enh: add stateless flag to numpy_function
  RELEASE.md
  tensorflow/python/ops/script_ops.py
  tensorflow/python/ops/script_ops_test.py
  tensorflow/tools/api/golden/v1/tensorflow.pbtxt
  tensorflow/tools/api/golden/v2/tensorflow.pbtxt
Labels: cla: yes, API review, ready to pull, comp:ops, size:M

#53421 Add a Legalization Enable Option to the TFLite to TOSA pass in order …
  tensorflow/compiler/mlir/tosa/BUILD
  tensorflow/compiler/mlir/tosa/tests/tfl-to-tosa-pipeline-filtered.mlir
  tensorflow/compiler/mlir/tosa/tfl_passes.cc
  tensorflow/compiler/mlir/tosa/tfl_passes.h
  tensorflow/compiler/mlir/tosa/transforms/legalize_tfl.cc
  tensorflow/compiler/mlir/tosa/transforms/passes.h
  tensorflow/compiler/mlir/tosa/transforms/passes.td
  tensorflow/compiler/mlir/tosa/transforms/tfl_legalize_patterns.td
Labels: ready to pull, size:L

#53323 Add tolerance to ragged square root test so it passes on AARCH64
  tensorflow/python/ops/ragged/ragged_dispatch_test.py
Labels: cla: yes, ready to pull, comp:ops, size:XS

#53622 Jit index64
  tensorflow/compiler/mlir/tools/kernel_gen/ir/tf_framework_ops.td
  tensorflow/compiler/mlir/tools/kernel_gen/kernel_creator.cc
  tensorflow/compiler/mlir/tools/kernel_gen/kernel_creator.h
  tensorflow/compiler/mlir/tools/kernel_gen/tests/embed_tf_framework.mlir
  tensorflow/compiler/mlir/tools/kernel_gen/tests/jit_i64_indexed_for_large_tensors.mlir
  tensorflow/compiler/mlir/tools/kernel_gen/tests/ops.mlir
  tensorflow/compiler/mlir/tools/kernel_gen/tests/tf_framework_legalize_to_llvm.mlir
  tensorflow/compiler/mlir/tools/kernel_gen/tf_framework_c_interface.cc
  tensorflow/compiler/mlir/tools/kernel_gen/tf_framework_c_interface.h
  tensorflow/compiler/mlir/tools/kernel_gen/tf_to_kernel.cc
  tensorflow/compiler/mlir/tools/kernel_gen/transforms/passes.h
  tensorflow/compiler/mlir/tools/kernel_gen/transforms/passes.td
  tensorflow/compiler/mlir/tools/kernel_gen/transforms/rewriters.h
  tensorflow/compiler/mlir/tools/kernel_gen/transforms/tf_framework_legalize_to_llvm.cc
  tensorflow/compiler/mlir/tools/kernel_gen/transforms/tf_to_jit_invocations.cc
Labels: awaiting review, ready to pull, size:L

#53368 [Grappler] Add enforced_layout parameter for LayoutOptimizer
  tensorflow/core/grappler/optimizers/generic_layout_optimizer.cc
  tensorflow/core/grappler/optimizers/generic_layout_optimizer.h
  tensorflow/core/grappler/optimizers/generic_layout_optimizer_transposer.h
Labels: ready to pull, comp:grappler, size:S

#53773 Setup OSSF Security scorecards
  .github/workflows/scorecards-analysis.yml
Labels: ready to pull, size:M

#53765 systemlibs: unbundle abseil-cpp
  third_party/absl/system.BUILD
  third_party/absl/system.absl.algorithm.BUILD
  third_party/absl/system.absl.base.BUILD
  third_party/absl/system.absl.cleanup.BUILD
  third_party/absl/system.absl.container.BUILD
  third_party/absl/system.absl.debugging.BUILD
  third_party/absl/system.absl.flags.BUILD
  third_party/absl/system.absl.functional.BUILD
  third_party/absl/system.absl.hash.BUILD
  third_party/absl/system.absl.memory.BUILD
  third_party/absl/system.absl.meta.BUILD
  third_party/absl/system.absl.numeric.BUILD
  third_party/absl/system.absl.random.BUILD
  third_party/absl/system.absl.status.BUILD
  third_party/absl/system.absl.strings.BUILD
  third_party/absl/system.absl.synchronization.BUILD
  third_party/absl/system.absl.time.BUILD
  third_party/absl/system.absl.types.BUILD
  third_party/absl/system.absl.utility.BUILD
  third_party/absl/workspace.bzl
  third_party/systemlibs/syslibs_configure.bzl
Labels: awaiting review, ready to pull, size:L

#53727 [INTEL oneDNN] Adding bf16 support for complementary Erf op
  tensorflow/core/kernels/cwise_op_erfc.cc
  tensorflow/python/kernel_tests/math_ops/cwise_ops_unary_test.py
Labels: ready to pull, size:XS, comp:core

#53803 lite: Update Subgraph::RemoveUnusedInputs()
  tensorflow/lite/core/subgraph.cc
  tensorflow/lite/core/subgraph_test.cc
Labels: comp:lite

#53171 [TF-TRT] Add Grappler optimizers to converter
  tensorflow/python/compiler/tensorrt/test/base_test.py
  tensorflow/python/compiler/tensorrt/test/combined_nms_test.py
  tensorflow/python/compiler/tensorrt/test/quantization_test.py
  tensorflow/python/compiler/tensorrt/test/reshape_transpose_test.py
  tensorflow/python/compiler/tensorrt/test/tf_function_test.py
  tensorflow/python/compiler/tensorrt/test/tf_trt_integration_test_base.py
  tensorflow/python/compiler/tensorrt/trt_convert.py
  tensorflow/python/compiler/tensorrt/trt_convert_test.py
Labels: cla: yes, ready to pull, size:S, comp:gpu:tensorrt

#53799 Update curl dependency to 7.81.0
  tensorflow/workspace2.bzl
Labels: awaiting review, ready to pull, size:XS

#53652 [TF:TRT] Remove redundant helpers from trt_optimization_pass
  tensorflow/compiler/tf2tensorrt/convert/trt_optimization_pass.cc
Labels: ready to pull, size:M, comp:gpu:tensorrt

#53821 Delete MklDnnData::operator= to prevent memory leaks in the future
  tensorflow/core/util/mkl_util.h
Labels: awaiting review, ready to pull, size:XS

#53654 [TF:TRT] Update Rejected Algorithms for Newer TRT Versions
  tensorflow/compiler/tf2tensorrt/convert/convert_nodes.cc
Labels: stat:awaiting response, ready to pull, size:XS, comp:gpu:tensorrt

#53820 Declare Go import path in distributed XLA service protocol
  tensorflow/compiler/xla/pjrt/distributed/protocol.proto
  tensorflow/go/genop/generate.sh
Labels: awaiting review, ready to pull, size:XS

#53832 Remove FunctionPass, use OperationPass<FuncOp> instead
  tensorflow/compiler/mlir/hlo/include/mlir-hlo/Dialect/lhlo/transforms/lmhlo_passes.td
  tensorflow/compiler/mlir/hlo/include/mlir-hlo/Dialect/lhlo/transforms/passes.h
  tensorflow/compiler/mlir/hlo/include/mlir-hlo/Dialect/mhlo/transforms/mhlo_passes.td
  tensorflow/compiler/mlir/hlo/include/mlir-hlo/Dialect/mhlo/transforms/passes.h
  tensorflow/compiler/mlir/hlo/include/mlir-hlo/Dialect/mhlo/transforms/register_passes.h
  tensorflow/compiler/mlir/hlo/include/mlir-hlo/Transforms/passes.h
  tensorflow/compiler/mlir/hlo/include/mlir-hlo/Transforms/passes.td
  tensorflow/compiler/mlir/hlo/lib/Analysis/test_shape_component_analysis.cc
  tensorflow/compiler/mlir/hlo/lib/Analysis/test_userange_analysis.cc
  tensorflow/compiler/mlir/hlo/lib/Dialect/lhlo/transforms/legalize_to_tensor_op.cc
  tensorflow/compiler/mlir/hlo/lib/Dialect/lhlo/transforms/lhlo_fuse_linalg.cc
  tensorflow/compiler/mlir/hlo/lib/Dialect/lhlo/transforms/lhlo_legalize_to_affine.cc
  tensorflow/compiler/mlir/hlo/lib/Dialect/lhlo/transforms/lhlo_legalize_to_gpu.cc
  tensorflow/compiler/mlir/hlo/lib/Dialect/lhlo/transforms/lhlo_legalize_to_parallel_loops.cc
  tensorflow/compiler/mlir/hlo/lib/Dialect/mhlo/transforms/broadcast_propagation.cc
  tensorflow/compiler/mlir/hlo/lib/Dialect/mhlo/transforms/chlo_legalize_to_hlo_pass.cc
  tensorflow/compiler/mlir/hlo/lib/Dialect/mhlo/transforms/group_reduction_dimensions.cc
  tensorflow/compiler/mlir/hlo/lib/Dialect/mhlo/transforms/hlo_legalize_shape_ops_to_standard.cc
  tensorflow/compiler/mlir/hlo/lib/Dialect/mhlo/transforms/hlo_legalize_to_memref.cc
  tensorflow/compiler/mlir/hlo/lib/Dialect/mhlo/transforms/legalize_control_flow.cc
  tensorflow/compiler/mlir/hlo/lib/Dialect/mhlo/transforms/legalize_einsum_to_dot_general.cc
  tensorflow/compiler/mlir/hlo/lib/Dialect/mhlo/transforms/legalize_gather_to_torch_index_select.cc
  tensorflow/compiler/mlir/hlo/lib/Dialect/mhlo/transforms/legalize_to_linalg.cc
  tensorflow/compiler/mlir/hlo/lib/Dialect/mhlo/transforms/legalize_to_standard.cc
  tensorflow/compiler/mlir/hlo/lib/Dialect/mhlo/transforms/legalize_trigonometric_to_approximation.cc
  tensorflow/compiler/mlir/hlo/lib/Dialect/mhlo/transforms/lower_complex.cc
  tensorflow/compiler/mlir/hlo/lib/Dialect/mhlo/transforms/lower_general_dot.cc
  tensorflow/compiler/mlir/hlo/lib/Dialect/mhlo/transforms/materialize_broadcasts_pass.cc
  tensorflow/compiler/mlir/hlo/lib/Dialect/mhlo/transforms/merge_assuming_ops.cc
  tensorflow/compiler/mlir/hlo/lib/Dialect/mhlo/transforms/mhlo_canonicalize_reduction.cc
  tensorflow/compiler/mlir/hlo/lib/Dialect/mhlo/transforms/mhlo_flatten_tuple.cc
  tensorflow/compiler/mlir/hlo/lib/Dialect/mhlo/transforms/mhlo_fusion.cc
  tensorflow/compiler/mlir/hlo/lib/Dialect/mhlo/transforms/optimize_mhlo_pass.cc
  tensorflow/compiler/mlir/hlo/lib/Dialect/mhlo/transforms/rank_specialization.cc
  tensorflow/compiler/mlir/hlo/lib/Dialect/mhlo/transforms/sink_constants_to_control_flow.cc
  tensorflow/compiler/mlir/hlo/lib/Dialect/mhlo/transforms/test_infer_shaped_type_pass.cc
  tensorflow/compiler/mlir/hlo/lib/Transforms/buffer_packing.cc
  tensorflow/compiler/mlir/hlo/lib/Transforms/buffer_reuse.cc
  tensorflow/compiler/mlir/hlo/lib/Transforms/copy_removal.cc
  tensorflow/compiler/mlir/hlo/lib/Transforms/reshape_simplifier.cc
Labels: awaiting review, ready to pull, size:L

#53737 Fix several grammar mistakes in c_api.h
  tensorflow/c/c_api.h
Labels: ready to pull, size:XS

#53484 [PluggableDevice] Export Grappler symbols for Windows' C API
  tensorflow/c/experimental/grappler/grappler.h
Labels: ready to pull, size:M

#53824 [MHLO:Linalg] Dummy slice tensor for torchIndexSelect
  tensorflow/compiler/mlir/hlo/lib/Dialect/mhlo/transforms/legalize_to_linalg.cc
  tensorflow/compiler/mlir/hlo/tests/Dialect/mhlo/hlo-legalize-to-linalg.mlir
Labels: awaiting review, ready to pull, size:M

#53378 [oneDNN] Making a slight tweak to the cost model based on benchmarking.
  tensorflow/core/kernels/mkl/mkl_matmul_ops_common.h
Labels: ready to pull, size:S, comp:core

#53719 [mhlo] Fix Linalg lowering for DotOp and add a verifier to enforce shape compatibility
  tensorflow/compiler/mlir/hlo/lib/Dialect/mhlo/transforms/legalize_to_linalg.cc
  tensorflow/compiler/mlir/hlo/tests/Dialect/mhlo/hlo-legalize-to-linalg.mlir
Labels: awaiting review, ready to pull, size:S

#53841 [ROCM] pass `HIP_PLATFORM` to bazel
  configure.py
  tensorflow/tensorflow.bzl
Labels: awaiting review, ready to pull, comp:gpu, size:XS

#53669 [PluggableDevice] Link `pywrap_tensorflow_internal` with `kernels_experimental`
  tensorflow/python/BUILD
Labels: kokoro:force-run, ready to pull, size:XS

#52099 [ROCM] enable lu_op (#1433)
  tensorflow/core/kernels/linalg/BUILD
  tensorflow/core/kernels/linalg/lu_op_gpu.cu.cc
Labels: cla: yes, ready to pull, comp:gpu, size:S

#53716 [ROCm] Enable unique_op for ROCm
  tensorflow/core/kernels/unique_op_gpu.cu.h
  tensorflow/core/kernels/unique_op_gpu_2.cu.cc
  tensorflow/core/kernels/unique_op_gpu_3.cu.cc
Labels: ready to pull, comp:gpu, size:S

#53872 Remove `setuptools` upper bound.
  tensorflow/tools/ci_build/builds/pip_new.sh
  tensorflow/tools/ci_build/release/common.sh
  tensorflow/tools/ci_build/release/common_win.bat
  tensorflow/tools/pip_package/setup.py
Labels: ready to pull, size:S

#53854 Properly initialize data_ member of MklDnnShape
  tensorflow/core/util/mkl_util.h
Labels: ready to pull, size:XS, comp:core

#53867 [oneDNN] Prevent errors due to conv2d + fbnv2/v3 fusion for bf16
  tensorflow/core/grappler/optimizers/remapper.cc
Labels: ready to pull, comp:grappler, size:XS

#53994 Add cmake configuration to mlir-hlo for external projects
  tensorflow/compiler/mlir/hlo/CMakeLists.txt
  tensorflow/compiler/mlir/hlo/README.md
  tensorflow/compiler/mlir/hlo/cmake/modules/CMakeLists.txt
  tensorflow/compiler/mlir/hlo/cmake/modules/MHLOConfig.cmake.in
Labels: awaiting review, ready to pull, size:M

#53675 [2.7 backport] Resolve bug with re-saving Estimator-exported SavedModel
  tensorflow/python/saved_model/load_v1_in_v2.py
  tensorflow/python/saved_model/load_v1_in_v2_test.py
Labels: waiting for patch release

#53674 [2.6 backport] Resolve bug with re-saving Estimator-exported SavedModel
  tensorflow/python/saved_model/load_v1_in_v2.py
  tensorflow/python/saved_model/load_v1_in_v2_test.py
Labels: waiting for patch release

#53673 [2.5 backport] Resolve bug with re-saving Estimator-exported SavedModel
  tensorflow/python/saved_model/load_v1_in_v2.py
  tensorflow/python/saved_model/load_v1_in_v2_test.py
Labels: waiting for patch release

#53182 tflite_runtime: Loosen numpy requirement
  tensorflow/lite/tools/pip_package/setup_with_binary.py
Labels: cla: yes, comp:lite, size:XS, waiting for patch release

#53250 🔧 Loosen version constraints on `typing-extensions`
  tensorflow/tools/pip_package/setup.py
Labels: cla: yes, size:XS, waiting for patch release

#53348 [lite] Add flag TFLITE_ENABLE_HEXAGON and update build rules to only …
  tensorflow/lite/delegates/hexagon/BUILD
  tensorflow/lite/tools/delegates/hexagon_delegate_provider.cc
  tensorflow/lite/tools/evaluation/utils.cc
  tensorflow/lite/tools/evaluation/utils.h
Labels: waiting for patch release

#53349 [lite] Remove explicit #define for TFLITE_ENABLE_HEXAGON. This shoul…
  tensorflow/lite/tools/benchmark/BUILD
  tensorflow/lite/tools/benchmark/benchmark_performance_options.cc
Labels: comp:lite, size:XS, waiting for patch release

#53350 R2.7 cherry-picks to fix TFLite ARM PIP build
  tensorflow/lite/tools/pip_package/build_pip_package_with_bazel.sh
  tensorflow/lite/tools/pip_package/build_pip_package_with_cmake.sh
Labels: waiting for patch release

#54120 Requires a newer version of the libclang package.
  tensorflow/tools/pip_package/setup.py
Labels: awaiting review, ready to pull, size:XS

#53712 [MHLO-LINALG] Add lowering of MHLO.RealDynamicSliceOp to Linalg
  tensorflow/compiler/mlir/hlo/lib/Dialect/mhlo/transforms/legalize_to_linalg.cc
  tensorflow/compiler/mlir/hlo/tests/Dialect/mhlo/hlo-legalize-to-linalg.mlir
Labels: ready to pull, size:M

#53627 GPU const output cache on GPU
  tensorflow/compiler/jit/kernels/xla_ops.cc
  tensorflow/compiler/jit/kernels/xla_ops.h
  tensorflow/compiler/jit/xla_compile_on_demand_op.cc
  tensorflow/compiler/jit/xla_compile_on_demand_op.h
  tensorflow/compiler/jit/xla_launch_util.cc
  tensorflow/compiler/jit/xla_launch_util.h
Labels: ready to pull, size:M, prtype:bugfix

#54145 [MHLO]: add ReduceWindow and Clamp support in hlo-legalize-to-lhlo
  tensorflow/compiler/mlir/hlo/include/mlir-hlo/Dialect/lhlo/transforms/map_hlo_to_lhlo_op.h
  tensorflow/compiler/mlir/hlo/lib/Dialect/mhlo/transforms/hlo_legalize_to_lhlo.cc
  tensorflow/compiler/mlir/hlo/tests/Dialect/mhlo/hlo-legalize-to-lhlo.mlir
Labels: ready to pull, size:M
