Repository tensorflow/tensorflow, pull requests merged in 2022-06, with the labels that each got.

#56246 Make cuda header version check flexible w.r.t. whitespace.
  third_party/gpus/find_cuda_config.py
Labels: ready to pull, size:XS

#56165 [TF-TRT] Change default max workspace size to INT_MAX (fixed)
  tensorflow/compiler/tf2tensorrt/trt_convert_api.h
  tensorflow/python/compiler/tensorrt/trt_convert.py
Labels: awaiting review, ready to pull, size:S, comp:gpu:tensorrt

#55967 Enable the matmul autotune switch for matmul fusion ops
  tensorflow/core/kernels/matmul_op_fused.cc
Labels: ready to pull, size:S, comp:core

#56321 Add dequantize-softmax option to TFL-to-TOSA pass
  tensorflow/compiler/mlir/tosa/BUILD
  tensorflow/compiler/mlir/tosa/tests/tfl-to-tosa-dequantize_softmax.mlir
  tensorflow/compiler/mlir/tosa/tf_tfl_passes.cc
  tensorflow/compiler/mlir/tosa/tf_tfl_passes.h
  tensorflow/compiler/mlir/tosa/tfl_passes.cc
  tensorflow/compiler/mlir/tosa/tfl_passes.h
  tensorflow/compiler/mlir/tosa/transforms/convert_tfl_uint8.cc
  tensorflow/compiler/mlir/tosa/transforms/dequantize_tfl_softmax.cc
  tensorflow/compiler/mlir/tosa/transforms/fuse_bias_tf.cc
  tensorflow/compiler/mlir/tosa/transforms/legalize_tf.cc
  tensorflow/compiler/mlir/tosa/transforms/legalize_tf_tfl.cc
  tensorflow/compiler/mlir/tosa/transforms/legalize_tfl.cc
  tensorflow/compiler/mlir/tosa/transforms/passes.h
  tensorflow/compiler/mlir/tosa/transforms/passes.td
  tensorflow/compiler/mlir/tosa/transforms/strip_quant_types.cc
Labels: ready to pull, size:M

#56357 update arm dockerfile arg name
  .github/workflows/arm-cd.yml
Labels: ready to pull, size:XS

#55938 Fix typo "Unkown" in `interpreter.py`
  tensorflow/lite/python/interpreter.py
Labels: comp:lite, ready to pull, size:XS

#55337 [TF-TRT] Add support for non-frozen models with legacy reference variables (VariableV2)
  tensorflow/compiler/tf2tensorrt/BUILD
  tensorflow/compiler/tf2tensorrt/convert/convert_graph.cc
  tensorflow/compiler/tf2tensorrt/convert/convert_nodes.cc
  tensorflow/compiler/tf2tensorrt/convert/convert_nodes.h
  tensorflow/compiler/tf2tensorrt/convert/convert_nodes_test.cc
  tensorflow/compiler/tf2tensorrt/convert/ops/variable_ops.cc
  tensorflow/compiler/tf2tensorrt/kernels/trt_engine_op.cc
  tensorflow/python/compiler/tensorrt/BUILD
  tensorflow/python/compiler/tensorrt/test/BUILD
  tensorflow/python/compiler/tensorrt/test/testdata/gen_tf_variablev2_model.py
  tensorflow/python/compiler/tensorrt/test/testdata/tf_variablev2_saved_model/saved_model.pb
  tensorflow/python/compiler/tensorrt/test/testdata/tf_variablev2_saved_model/variables/variables.data-00000-of-00001
  tensorflow/python/compiler/tensorrt/test/testdata/tf_variablev2_saved_model/variables/variables.index
  tensorflow/python/compiler/tensorrt/trt_convert.py
  tensorflow/python/compiler/tensorrt/trt_convert_test.py
Labels: ready to pull, size:L, comp:gpu:tensorrt

#55634 add tensorrt 8.4 support
  tensorflow/compiler/tf2tensorrt/stub/nvinfer_plugin_stub.cc
  tensorflow/compiler/tf2tensorrt/stub/nvinfer_stub.cc
Labels: ready to pull, size:XS, comp:gpu:tensorrt

#56364 Prevent ARM CD/CI actions from being run in forks
  .github/workflows/arm-cd.yml
  .github/workflows/arm-ci.yml
Labels: awaiting review, ready to pull, size:XS

#56340 Pin pylint in CI
  .github/workflows/pylint-presubmit.yml
Labels: ready to pull, size:XS

#56342 [ROCm] Add ROCm support for XLA python GPU callback.
  tensorflow/compiler/xla/python/BUILD
  tensorflow/compiler/xla/python/py_client.cc
  tensorflow/compiler/xla/python/py_client_gpu.cc
  tensorflow/compiler/xla/python/py_client_gpu.h
Labels: ready to pull, comp:gpu, size:M

#56392 [TF-TRT] Simplify redundant TensorRT version stubs
  tensorflow/compiler/tf2tensorrt/stub/NvInferPlugin_7_1.inc
  tensorflow/compiler/tf2tensorrt/stub/NvInferPlugin_7_2.inc
  tensorflow/compiler/tf2tensorrt/stub/NvInferPlugin_8_0.inc
  tensorflow/compiler/tf2tensorrt/stub/NvInferPlugin_8_2.inc
  tensorflow/compiler/tf2tensorrt/stub/NvInfer_7_1.inc
  tensorflow/compiler/tf2tensorrt/stub/NvInfer_7_2.inc
  tensorflow/compiler/tf2tensorrt/stub/NvInfer_8_2.inc
  tensorflow/compiler/tf2tensorrt/stub/nvinfer_plugin_stub.cc
  tensorflow/compiler/tf2tensorrt/stub/nvinfer_stub.cc
Labels: awaiting review, ready to pull, size:L, comp:gpu:tensorrt

#55249 Add mhlo.transpose splat constant folding
  tensorflow/compiler/mlir/hlo/lib/Dialect/mhlo/IR/hlo_ops.cc
  tensorflow/compiler/mlir/hlo/tests/Dialect/mhlo/canonicalize/transpose.mlir
Labels: awaiting review, ready to pull, size:S

#56394 [tf-mlir-translate] fixed bug in parsing command line input data types
  tensorflow/compiler/mlir/tensorflow/tests/graphdef2mlir/arg-multi-data-type-with-subtype.pbtxt
  tensorflow/compiler/mlir/tensorflow/translate/mlir_roundtrip_flags.cc
Labels: awaiting review, ready to pull, size:M

#52879 [MHLO]: add BatchNormTraining and BatchNormGrad support in hlo-legalize-to-lhlo
  tensorflow/compiler/mlir/hlo/include/mlir-hlo/Dialect/lhlo/transforms/map_hlo_to_lhlo_op.h
  tensorflow/compiler/mlir/hlo/lib/Dialect/mhlo/transforms/hlo_legalize_to_lhlo.cc
  tensorflow/compiler/mlir/hlo/tests/Dialect/mhlo/hlo-legalize-to-lhlo.mlir
Labels: cla: yes, ready to pull, size:M

#56339 [Intel oneDNN] Enhancing the Pattern Matcher
  tensorflow/core/grappler/utils/pattern_utils.cc
Labels: ready to pull, comp:grappler, size:S

#55704 Make it explicit that TRTEngineOp names have three digits
  tensorflow/python/compiler/tensorrt/test/rank_two_test.py
  tensorflow/python/compiler/tensorrt/test/tf_trt_integration_test_base.py
  tensorflow/python/compiler/tensorrt/trt_convert_test.py
Labels: awaiting review, ready to pull, size:XS, comp:gpu:tensorrt

#56295 Converter for Comparison operators
  tensorflow/compiler/tf2tensorrt/convert/convert_nodes.h
  tensorflow/compiler/tf2tensorrt/convert/convert_nodes_test.cc
  tensorflow/compiler/tf2tensorrt/convert/ops/binary_ops.cc
Labels: ready to pull, size:M, comp:gpu:tensorrt

#56369 Fixed a bug in the xnnpack delegate option for label_image.
  tensorflow/lite/examples/label_image/label_image.cc
Labels: comp:lite, ready to pull, size:XS, prtype:bugfix

#56209 Fix spelling mistakes
  RELEASE.md
Labels: ready to pull, size:S

#56436 Fix compilation failure that prevents JAX from building on ROCm.
  tensorflow/compiler/xla/pjrt/pjrt_client.cc
Labels: ready to pull, size:XS

#55788 [ROCm] Reenable previously disabled subtests for ROCm in triangular_solve_te…
  tensorflow/compiler/xla/tests/triangular_solve_test.cc
Labels: awaiting review, ready to pull, comp:gpu, size:S

#56440 update version for nightly arm wheel
  .github/workflows/arm-cd.yml
  tensorflow/tools/ci_build/Dockerfile.cpu.arm64
  tensorflow/tools/ci_build/rel/ubuntu/cpu_arm64_pip.sh
Labels: awaiting review, ready to pull, size:S

#55783 [ROCm] Fix to enable many BEF executable unit tests to build.
  tensorflow/compiler/xla/service/gpu/tests/BUILD
Labels: awaiting review, ready to pull, comp:gpu, size:XS

#53714 Add transpose => reshape simplifier
  tensorflow/compiler/mlir/hlo/lib/Dialect/mhlo/IR/hlo_ops.cc
  tensorflow/compiler/mlir/hlo/tests/Dialect/mhlo/canonicalize/transpose.mlir
Labels: ready to pull, size:S

#56408 MSVC Compatibility Changes
  tensorflow/lite/delegates/external/external_delegate.cc
  tensorflow/lite/kernels/internal/compatibility.h
  tensorflow/lite/kernels/internal/optimized/depthwiseconv_float.h
  tensorflow/lite/kernels/internal/optimized/depthwiseconv_uint8.h
  tensorflow/lite/kernels/internal/optimized/integer_ops/depthwise_conv.h
Labels: comp:lite, ready to pull, size:S

#56480 Add macos_minimum_version to the bazelrc.
  .bazelrc
Labels: awaiting review, ready to pull, size:XS

#56072 [TF-TRT] Unittest Logging Double Print Fix
  tensorflow/python/compiler/tensorrt/model_tests/BUILD
  tensorflow/python/compiler/tensorrt/model_tests/model_handler.py
  tensorflow/python/compiler/tensorrt/model_tests/result_analyzer.py
  tensorflow/python/compiler/tensorrt/model_tests/run_models.py
  tensorflow/python/compiler/tensorrt/test/tf_trt_integration_test_base.py
Labels: ready to pull, size:XS, comp:gpu:tensorrt

#56126 Add fast int division for GPU kernels
  tensorflow/core/kernels/depthwise_conv_op_gpu.h
  tensorflow/core/util/gpu_kernel_helper.h
Labels: awaiting review, ready to pull, size:M, comp:core

#56202 PyTree: Pass node_data to tree walkers
  tensorflow/compiler/xla/python/pytree.cc
  tensorflow/compiler/xla/python/pytree.h
  tensorflow/compiler/xla/python/xla_client.py
  tensorflow/compiler/xla/python/xla_extension/pytree.pyi
Labels: ready to pull, comp:xla, size:M

#56478 Updated iOS and Python docs of TFLite Task Library
  tensorflow/lite/g3doc/inference_with_metadata/task_library/image_classifier.md
  tensorflow/lite/g3doc/inference_with_metadata/task_library/image_segmenter.md
  tensorflow/lite/g3doc/inference_with_metadata/task_library/object_detector.md
  tensorflow/lite/g3doc/inference_with_metadata/task_library/overview.md
Labels: comp:lite, ready to pull, size:S

#56494 Fix typo error of @tf.experimental.dispatch_for_api
  tensorflow/python/util/dispatch.py
Labels: ready to pull, size:XS

#56524 fixing the alloc dealloc behavior of jit execute
  tensorflow/compiler/mlir/tools/kernel_gen/ir/tf_framework_ops.cc
  tensorflow/compiler/mlir/tools/kernel_gen/ir/tf_framework_ops.td
Labels: awaiting review, ready to pull, size:S

#56551 Allow to use cudaMallocAsync with PJRT.
  tensorflow/compiler/xla/pjrt/BUILD
  tensorflow/compiler/xla/pjrt/gpu_device.cc
  tensorflow/core/common_runtime/gpu/BUILD
  tensorflow/core/common_runtime/gpu/gpu_cudamallocasync_allocator.cc
  tensorflow/stream_executor/cuda/cuda_driver.cc
Labels: awaiting review, ready to pull, size:M

#55556 Added support for big tensor pooling
  tensorflow/stream_executor/cuda/cuda_dnn.cc
Labels: ready to pull, size:M

#56570 [MLIR/XLA] not lowering tf.Reshape with non-HLOTensorType, like tf_ty…
  tensorflow/compiler/mlir/xla/tests/legalize-tf.mlir
  tensorflow/compiler/mlir/xla/transforms/legalize_tf_patterns.td
Labels: ready to pull, size:S

#56018 Include stdlib.h instead of malloc.h
  tensorflow/lite/tensorflow_profiler_logger.cc
Labels: comp:lite, ready to pull, size:XS

#56460 Re-applying the Jit indexing build path
  tensorflow/compiler/mlir/tools/kernel_gen/kernel_creator.cc
  tensorflow/compiler/mlir/tools/kernel_gen/tf_to_kernel.cc
  tensorflow/core/kernels/mlir_generated/BUILD
  tensorflow/core/kernels/mlir_generated/build_defs.bzl
Labels: ready to pull, size:M

#56479 [ROCm] Fix unit test for ROCm.
  tensorflow/compiler/xla/service/gpu/tests/fusion_logical_index_test.cc
Labels: ready to pull, comp:gpu, size:XS

#55781 Fix device index issue with XLA + Horovod
  tensorflow/compiler/xla/service/platform_util.cc
Labels: ready to pull, comp:xla, size:M

#56455 Fix endless loop in DecodeLin16WaveAsFloatVector
  tensorflow/core/lib/wav/wav_io.cc
  tensorflow/core/lib/wav/wav_io.h
Labels: awaiting review, ready to pull, size:XS, comp:core

#56611 [TF-TRT] Converter Typo BugFix
  tensorflow/python/compiler/tensorrt/trt_convert.py
Labels: ready to pull, size:XS, comp:gpu:tensorrt

#56625 [TF-TRT] s/absl::make_unique/std::make_unique
  tensorflow/compiler/tf2tensorrt/convert/convert_nodes_test.cc
  tensorflow/compiler/tf2tensorrt/kernels/trt_engine_op.cc
  tensorflow/compiler/tf2tensorrt/kernels/trt_engine_resource_ops.cc
  tensorflow/compiler/tf2tensorrt/kernels/trt_engine_resource_ops_test.cc
Labels: awaiting review, ready to pull, size:S, comp:gpu:tensorrt

#56594 Update curl library to 7.84.0
  tensorflow/workspace2.bzl
  third_party/curl.BUILD
Labels: ready to pull, size:XS

#56354 Updated find_cuda_config.py.gz.base64
  third_party/gpus/compress_find_cuda_config.py
  third_party/gpus/find_cuda_config.py.gz.base64
Labels: ready to pull, size:XS

#56161 Reimplementation of the Converter for Tile Operation.
  tensorflow/compiler/tf2tensorrt/convert/convert_nodes_test.cc
  tensorflow/compiler/tf2tensorrt/convert/ops/tile.cc
Labels: ready to pull, size:M, comp:gpu:tensorrt
