Repository tensorflow/tensorflow, pull requests merged in 2023-06, with the labels that each got.

#60725 Fix mkl build dependency issue
  tensorflow/core/common_runtime/eager/BUILD
Labels: awaiting review, ready to pull, size:XS, prtype:bugfix

#60728 Update SetNumThreads() link in faq.md
  tensorflow/lite/g3doc/guide/faq.md
Labels: awaiting review, comp:lite, ready to pull, size:XS

#60475 [oneDNN v3.x]: Enabled weight caching in convolution
  tensorflow/core/kernels/mkl/BUILD
  tensorflow/core/kernels/mkl/mkl_conv_ops.cc
  tensorflow/core/kernels/mkl/mkl_kernel_util.h
Labels: awaiting review, ready to pull, comp:mkl, size:M

#60740 [Linaro:ARM_CI] Update the container tag used to build aarch64
  tensorflow/tools/ci_build/Dockerfile.cpu.arm64
Labels: ready to pull, size:XS

#59320 enable a oneDNN ITT feature
  third_party/mkl_dnn/mkldnn_v1.BUILD
Labels: awaiting review, ready to pull, comp:mkl, size:XS

#60782 skip comparison if input is already a boolean tensor for count_nonzero
  tensorflow/python/ops/math_ops.py
  tensorflow/python/ops/math_ops_test.py
Labels: awaiting review, ready to pull, comp:ops, size:S

#58830 [oneDNN] Update oneDNN fused conv2d op signature to align with generic fused conv2d
  tensorflow/core/common_runtime/mkl_layout_pass.cc
  tensorflow/core/grappler/optimizers/remapper_test.cc
  tensorflow/core/kernels/mkl/mkl_fused_ops_test.cc
  tensorflow/core/ops/mkl_nn_ops.cc
Labels: ready to pull, comp:mkl, size:M

#60372 Update training information in get_started_low_level.md
  tensorflow/lite/g3doc/microcontrollers/get_started_low_level.md
Labels: awaiting review, comp:lite, ready to pull, size:S

#60352 Added Arm NN Settings for Arm NN delegate
  tensorflow/lite/acceleration/configuration/configuration.proto
  tensorflow/lite/acceleration/configuration/configuration_generated.h
  tensorflow/lite/acceleration/configuration/flatbuffer_to_proto.cc
  tensorflow/lite/acceleration/configuration/proto_to_flatbuffer.cc
  tensorflow/lite/acceleration/configuration/testdata/configuration.proto_prev
  tensorflow/lite/experimental/acceleration/configuration/configuration_generated.h
Labels: awaiting review, comp:lite, ready to pull, size:M

#51794 [TFLite] Change rounding mode of the quantized RESIZE_BILINEAR op for coherence with MultiplyByQuantizedMultiplier
  tensorflow/lite/kernels/internal/BUILD
  tensorflow/lite/kernels/internal/reference/resize_bilinear.h
  tensorflow/lite/kernels/resize_bilinear_test.cc
Labels: cla: yes, awaiting review, comp:lite, ready to pull, size:XS

#60252 Fixed the broken link in overview.md file
  tensorflow/lite/g3doc/examples/image_classification/overview.md
Labels: awaiting review, comp:lite, ready to pull, size:XS

#59297 [oneDNN] Adding BF16 support for FusedPadConv2D
  tensorflow/core/common_runtime/mkl_layout_pass.cc
  tensorflow/core/grappler/optimizers/auto_mixed_precision_lists.h
  tensorflow/core/kernels/conv_ops_fused_image_transform.cc
  tensorflow/core/kernels/conv_ops_test.cc
  tensorflow/core/kernels/nn_ops_test.cc
  tensorflow/core/ops/nn_ops.cc
Labels: ready to pull, comp:mkl, size:S

#60182 tflite-runtime wheels for Python 3.11
  tensorflow/lite/tools/cmake/download_toolchains.sh
  tensorflow/lite/tools/pip_package/Makefile
  tensorflow/lite/tools/pip_package/setup_with_binary.py
Labels: awaiting review, comp:lite, ready to pull, size:S

#60837 Add `--features=-force_no_whole_archive` by default
  .bazelrc
Labels: awaiting review, ready to pull, size:XS

#60818 [AMD-ZENDNN] Blocked format support with new env variable
  tensorflow/core/util/zen_util.h
Labels: awaiting review, ready to pull, size:XS, comp:core

#60593 update gtest version to 1.12.1
  tensorflow/lite/tools/cmake/modules/Findgoogletest.cmake
Labels: awaiting review, comp:lite, ready to pull, size:XS

#60852 Restore use of py_strict_test to dtensor unit tests
  tensorflow/dtensor/build_defs.bzl
Labels: ready to pull, size:XS

#60383 [NVIDIA TF] Optimize embedding_lookup_sparse using new grad op [PART 1/3]
  tensorflow/core/api_def/base_api/api_def_SparseSegmentMeanGradV2.pbtxt
  tensorflow/core/api_def/base_api/api_def_SparseSegmentSqrtNGradV2.pbtxt
  tensorflow/core/api_def/base_api/api_def_SparseSegmentSumGradV2.pbtxt
  tensorflow/core/api_def/python_api/api_def_SparseSegmentMeanGradV2.pbtxt
  tensorflow/core/api_def/python_api/api_def_SparseSegmentSqrtNGradV2.pbtxt
  tensorflow/core/api_def/python_api/api_def_SparseSegmentSumGradV2.pbtxt
  tensorflow/core/kernels/segment_reduction_ops.h
  tensorflow/core/kernels/segment_reduction_ops_impl.h
  tensorflow/core/kernels/segment_reduction_ops_impl_5.cc
  tensorflow/core/ops/math_ops.cc
  tensorflow/python/kernel_tests/math_ops/segment_reduction_ops_test.py
  tensorflow/tools/api/golden/v1/tensorflow.raw_ops.pbtxt
  tensorflow/tools/api/golden/v2/tensorflow.raw_ops.pbtxt
Labels: awaiting review, ready to pull, size:L, comp:core

#60771 make building //tensorflow/lite/c:tensorflowlite_c works again
  tensorflow/lite/build_def.bzl
Labels: awaiting review, comp:lite, ready to pull, size:S

#60885 [Linaro:ARM_CI] Stop running pip tests on AARCH64
  .github/workflows/arm-cd.yml
  .github/workflows/arm-ci-extended.yml
  .github/workflows/arm-ci.yml
  tensorflow/tools/ci_build/Dockerfile.cpu.arm64
  tensorflow/tools/ci_build/rel/ubuntu/cpu_arm64_nonpip.sh
  tensorflow/tools/ci_build/rel/ubuntu/cpu_arm64_pip.sh
Labels: ready to pull, size:M

#60378 [oneDNN v3.x]: Added support for matmul for fp32/bf16/int8 and einsum for fp32/bf16
  tensorflow/core/common_runtime/mkl_layout_pass.cc
  tensorflow/core/kernels/mkl/mkl_batch_matmul_helper.h
  tensorflow/core/kernels/mkl/mkl_batch_matmul_op.cc
  tensorflow/core/kernels/mkl/mkl_einsum_op.cc
  tensorflow/core/kernels/mkl/mkl_fused_ops_test.cc
  tensorflow/core/kernels/mkl/mkl_matmul_op.cc
  tensorflow/core/kernels/mkl/mkl_matmul_op_fused.cc
  tensorflow/core/kernels/mkl/mkl_matmul_ops_common.h
  tensorflow/core/kernels/mkl/mkl_qmatmul_op.cc
  tensorflow/core/kernels/mkl/mkl_qmatmul_op_test.cc
Labels: ready to pull, comp:mkl, size:L

#60879 tflite: `make docker-build` reads `PYTHON_VERSION` and not `PYTHON`
  tensorflow/lite/tools/pip_package/README.md
Labels: awaiting review, comp:lite, ready to pull, size:S

#60899 [Linaro:ARM_CI] Fix running nonpip tests
  tensorflow/tools/ci_build/rel/ubuntu/cpu_arm64_nonpip.sh
Labels: ready to pull, size:XS

#59529 [oneDNN] [tfg] [remapper] Add AsString + StringToHasBucketFast fusion in MLIR
  tensorflow/core/transforms/remapper/pass.cc
  tensorflow/core/transforms/remapper/tests/tensor_to_hashbucket.mlir
Labels: awaiting review, ready to pull, size:M, comp:core

#60931 Fixed the broken link
  tensorflow/compiler/xla/mlir_hlo/README.md
Labels: ready to pull, comp:xla, size:XS

#60937 [ROCM] Fix fallout from More consistent/safer GpuTimer API changes
  tensorflow/compiler/xla/stream_executor/rocm/rocm_dnn.cc
  tensorflow/core/kernels/bias_op.cc
  tensorflow/tools/ci_build/builds/configured
Labels: awaiting review, ready to pull, comp:gpu, size:M

#61061 Allow RocmRoot to be set via ROCM_PATH env var
  tensorflow/compiler/xla/service/gpu/gpu_conv_algorithm_picker.h
  tensorflow/compiler/xla/stream_executor/rocm/rocm_gpu_executor.cc
  tensorflow/tsl/platform/default/rocm_rocdl_path.cc
Labels: awaiting review, ready to pull, comp:xla, size:S

#61073 [TOSA] Change to use new style of dyn_cast
  tensorflow/compiler/mlir/tosa/transforms/convert_tfl_uint8.cc
  tensorflow/compiler/mlir/tosa/transforms/fuse_bias_tf.cc
  tensorflow/compiler/mlir/tosa/transforms/legalize_common.cc
  tensorflow/compiler/mlir/tosa/transforms/legalize_tf.cc
  tensorflow/compiler/mlir/tosa/transforms/legalize_tfl.cc
  tensorflow/compiler/mlir/tosa/transforms/legalize_utils.cc
  tensorflow/compiler/mlir/tosa/transforms/lower_complex_types.cc
  tensorflow/compiler/mlir/tosa/transforms/strip_quant_types.cc
Labels: awaiting review, size:L

#56908 Make source compilable in debug with -Og flag
  tensorflow/compiler/xla/python/pjit.cc
  third_party/gpus/crosstool/clang/bin/crosstool_wrapper_driver_is_not_gcc.tpl
Labels: awaiting review, ready to pull, comp:xla, size:XS

#61081 Fix ambiguity in use of overloaded functions in XLA
  tensorflow/compiler/xla/hlo/utils/hlo_sharding_util_test.cc
  tensorflow/compiler/xla/service/hlo_parser_test.cc
  tensorflow/compiler/xla/service/hlo_sharding_test.cc
Labels: awaiting review, ready to pull, comp:xla, size:S, prtype:bugfix

#61071 [CMake] Add dependency for MhloTestAnalysis.
  tensorflow/compiler/xla/mlir_hlo/mhlo/analysis/CMakeLists.txt
Labels: awaiting review, ready to pull, comp:xla, size:XS

#60146 Make tfcompile more friendly on other archs.
  tensorflow/compiler/aot/tfcompile_main.cc
  tensorflow/python/tfcompile_wrapper.cc
  tensorflow/python/tools/saved_model_cli.py
  tensorflow/python/tools/saved_model_cli_test.py
Labels: ready to pull, size:S

#60357 [oneDNN v3.x]: Added support for pooling for fp32 and bf16
  tensorflow/core/common_runtime/mkl_layout_pass.cc
  tensorflow/core/kernels/mkl/mkl_avgpooling_op.cc
  tensorflow/core/kernels/mkl/mkl_maxpooling_op.cc
  tensorflow/core/kernels/mkl/mkl_pooling_ops_common.cc
  tensorflow/core/kernels/mkl/mkl_pooling_ops_common.h
Labels: awaiting review, ready to pull, size:M, comp:core

#61103 [NVIDIA TF] Fix version guards for cuLaunchKernelEx
  tensorflow/compiler/xla/backends/profiler/gpu/cupti_tracer.cc
  tensorflow/compiler/xla/backends/profiler/gpu/device_tracer_cuda.cc
Labels: awaiting review, ready to pull, comp:xla, size:S

#61124 Remove Python 3.9 and 3.10 silicon CI tests
  tensorflow/tools/ci_build/osx/arm64/tensorflow_as_test_ci.Jenkinsfile
Labels: awaiting review, ready to pull, size:M

#61099 Numerous improvements made to the tensorflow_issue_template
  .github/ISSUE_TEMPLATE/tensorflow_issue_template.yaml
Labels: awaiting review, ready to pull, size:M
