Repository tensorflow/tensorflow, pull requests merged in 2023-01, with the labels that each got.

#58974 Removes unnecessary libgomp linkopt from oneDNN build on AArch64
  third_party/mkl_dnn/mkldnn_acl.BUILD
Labels: ready to pull, comp:mkl, size:XS

#58358 Fix unigram assert
  tensorflow/core/kernels/candidate_sampler_ops.cc
  tensorflow/core/kernels/range_sampler.cc
  tensorflow/core/kernels/range_sampler.h
  tensorflow/core/kernels/range_sampler_test.cc
Labels: awaiting review, ready to pull, size:S, comp:core

#58391 OP_REQUIRES for dtype check in AssignAddVariableOp
  tensorflow/core/kernels/resource_variable_ops.cc
  tensorflow/python/kernel_tests/variables/resource_variable_ops_test.py
Labels: awaiting review, ready to pull, size:S, prtype:bugfix, comp:core

#58727 Replace many calls to eval() with self.evaluate()
  tensorflow/compiler/mlir/quantization/tensorflow/calibrator/integration_test/custom_aggregator_op_test.py
  tensorflow/compiler/tests/fifo_queue_test.py
  tensorflow/lite/experimental/microfrontend/python/kernel_tests/audio_microfrontend_op_test.py
  tensorflow/python/checkpoint/checkpoint_management_test.py
  tensorflow/python/client/session_test.py
  tensorflow/python/eager/polymorphic_function/polymorphic_function_test.py
  tensorflow/python/framework/smart_cond_test.py
  tensorflow/python/kernel_tests/math_ops/clip_ops_test.py
Labels: awaiting review, ready to pull, size:M

#55180 [oneDNN] Fuse conv2d+biasAdd/FusedBatchNorm+sigmoid+mul into fusedConv2D
  tensorflow/core/common_runtime/mkl_layout_pass.cc
  tensorflow/core/grappler/optimizers/mkl_remapper_test.cc
  tensorflow/core/grappler/optimizers/remapper.cc
  tensorflow/core/kernels/mkl/mkl_conv_ops.cc
Labels: awaiting review, ready to pull, comp:grappler, size:L

#57929 Fix crash in tf.image.resize when antialias is True and size is large
  tensorflow/core/kernels/image/scale_and_translate_op.cc
  tensorflow/python/ops/image_ops_test.py
Labels: awaiting review, ready to pull, size:S, prtype:bugfix, comp:core

#58033 Fixed missing leading zero issue on SlurmClusterResolver
  tensorflow/python/distribute/cluster_resolver/slurm_cluster_resolver.py
  tensorflow/python/distribute/cluster_resolver/slurm_cluster_resolver_test.py
Labels: awaiting review, ready to pull, size:XS, prtype:bugfix

#59097 Register 'MklEinsum' kernel for aarch64 platform
  tensorflow/core/grappler/optimizers/auto_mixed_precision_lists.h
  tensorflow/core/kernels/mkl/mkl_einsum_op.cc
Labels: ready to pull, comp:mkl, size:XS

#59096 Fixedunigram assert
  tensorflow/core/kernels/candidate_sampler_ops.cc
  tensorflow/core/kernels/range_sampler.cc
  tensorflow/core/kernels/range_sampler.h
  tensorflow/core/kernels/range_sampler_test.cc
Labels: ready to pull, size:M, prtype:bugfix, comp:core

#59071 [AMD-ZENDNN] Modifications to support ZenDNN mempool optimizations
  tensorflow/python/lib/core/ndarray_tensor.cc
Labels: ready to pull, size:S

#59118 [ROCm] Enable roundeven LLVM op for AMDGPU.
  tensorflow/compiler/xla/mlir_hlo/transforms/gpu_fusion_rewrite.cc
Labels: awaiting review, ready to pull, comp:gpu, size:XS

#59144 [NVIDIA TF] Enable BF16 Roll op
  tensorflow/core/kernels/roll_op.cc
  tensorflow/core/kernels/roll_op_gpu.cu.cc
  tensorflow/python/kernel_tests/array_ops/manip_ops_test.py
Labels: ready to pull, size:XS, comp:core

#59145 [NVIDIA TF] Enable BF16 EuclideanNorm
  tensorflow/core/kernels/reduction_ops_euclidean.cc
  tensorflow/python/kernel_tests/math_ops/reduction_ops_test.py
Labels: awaiting review, ready to pull, size:S

#59194 [NVIDIA TF] Enable BF16 Softsign, Softplus, and Relu ops
  tensorflow/core/kernels/relu_op.cc
  tensorflow/core/kernels/relu_op_gpu.cu.cc
  tensorflow/core/kernels/softplus_op.cc
  tensorflow/core/kernels/softplus_op_gpu.cu.cc
  tensorflow/core/kernels/softsign_op.cc
  tensorflow/core/kernels/softsign_op_gpu.cu.cc
  tensorflow/python/kernel_tests/nn_ops/relu_op_test.py
  tensorflow/python/kernel_tests/nn_ops/softplus_op_test.py
  tensorflow/python/kernel_tests/nn_ops/softsign_op_test.py
Labels: ready to pull, size:M, comp:core

#59082 [MHLO] fold mhlo.clamp
  tensorflow/compiler/xla/mlir_hlo/mhlo/IR/hlo_ops.cc
  tensorflow/compiler/xla/mlir_hlo/mhlo/IR/hlo_ops.td
  tensorflow/compiler/xla/mlir_hlo/tests/Dialect/mhlo/canonicalize/canonicalize.mlir
Labels: awaiting review, ready to pull, comp:xla, size:M

#59155 [MklEinsumop] reorder the weights into mkl primitive requested format
  tensorflow/core/kernels/mkl/mkl_einsum_op.cc
Labels: ready to pull, comp:mkl, size:S

#56947 [oneDNN] Enable BF16 for AvgPool3D, MaxPool3D, AvgPool3DGrad, MaxPool3DGrad
  tensorflow/core/common_runtime/eager/mkl_eager_op_rewrite.cc
  tensorflow/core/kernels/eigen_pooling.h
  tensorflow/core/kernels/mkl/mkl_avgpooling_op.cc
  tensorflow/core/kernels/pooling_ops_3d.cc
  tensorflow/python/kernel_tests/nn_ops/pooling_ops_3d_test.py
Labels: ready to pull, size:M, comp:core

#55411 [oneDNN] Enable Softmax with oneDNN library
  tensorflow/core/graph/mkl_graph_util.h
  tensorflow/core/graph/mkl_testlib.cc
  tensorflow/core/graph/mkl_testlib.h
  tensorflow/core/kernels/mkl/BUILD
  tensorflow/core/kernels/mkl/mkl_softmax_op.cc
  tensorflow/core/kernels/mkl/onednn_nn_ops_benchmark.cc
  tensorflow/core/ops/mkl_nn_ops.cc
  tensorflow/core/ops/nn_ops.cc
Labels: awaiting review, ready to pull, comp:mkl, size:L

#58071 [oneDNN] Improve threadpool task scheduling
  tensorflow/core/util/mkl_threadpool.h
  tensorflow/core/util/onednn_env_vars.cc
  tensorflow/core/util/onednn_env_vars.h
Labels: ready to pull, comp:mkl, size:M

#59164 Update curl to 7.87.0
  tensorflow/workspace2.bzl
  third_party/curl.BUILD
Labels: awaiting review, ready to pull, size:S

#59141 Corrects DNNL_VERSION_MINOR set in mkldnn_acl.BUILD
  third_party/mkl_dnn/mkldnn_acl.BUILD
Labels: ready to pull, comp:mkl, size:XS

#59149 [NVIDIA TF] Enable BF16 MatrixBandPart, MatrixDiagPart, MatrixSetDiag
  tensorflow/core/kernels/linalg/matrix_band_part_op.cc
  tensorflow/core/kernels/linalg/matrix_band_part_op_gpu.cu.cc
  tensorflow/core/kernels/linalg/matrix_diag_op.cc
  tensorflow/core/kernels/linalg/matrix_diag_op_gpu.cu.cc
  tensorflow/core/kernels/linalg/matrix_set_diag_op.cc
  tensorflow/core/kernels/linalg/matrix_set_diag_op_gpu.cu.cc
  tensorflow/python/kernel_tests/array_ops/diag_op_test.py
Labels: ready to pull, size:S, comp:core

#59147 [NVIDIA TF] Enable BF16 SparseReorder and SparseToDense
  tensorflow/core/kernels/sparse_reorder_op.cc
  tensorflow/core/kernels/sparse_reorder_op_gpu.cu.cc
  tensorflow/core/kernels/sparse_to_dense_op.cc
  tensorflow/core/kernels/sparse_to_dense_op_gpu.cu.cc
  tensorflow/python/kernel_tests/sparse_ops/sparse_reorder_op_test.py
  tensorflow/python/kernel_tests/sparse_ops/sparse_to_dense_op_py_test.py
Labels: awaiting review, ready to pull, size:S, comp:core

#59151 [NVIDIA TF] Enable BF16 OneHot
  tensorflow/core/kernels/one_hot_op.cc
  tensorflow/core/kernels/one_hot_op_gpu.cu.cc
  tensorflow/python/kernel_tests/array_ops/one_hot_op_test.py
Labels: ready to pull, size:M, comp:core

#59143 [NVIDIA TF] Enable BF16 DynamicPartition and DynamicStitch ops
  tensorflow/core/kernels/dynamic_partition_op_gpu.cu.cc
  tensorflow/core/kernels/dynamic_stitch_op.cc
  tensorflow/core/kernels/dynamic_stitch_op_gpu.cu.cc
  tensorflow/python/kernel_tests/data_structures/dynamic_partition_op_test.py
  tensorflow/python/kernel_tests/data_structures/dynamic_stitch_op_test.py
Labels: awaiting review, ready to pull, size:S, comp:core

#57909 [oneDNN] Add cpu BF16 kernel registration for Eigen FusedBatchNormV2
  tensorflow/core/kernels/fused_batch_norm_op.cc
Labels: awaiting review, ready to pull, size:S, comp:core

#59222 [Linaro:ARM_CI] Add Python 3.11 to test runs
  .github/workflows/arm-cd.yml
Labels: awaiting review, ready to pull, size:XS

#59193 [NVIDIA TF] Enable BF16 Image and Resize ops
  tensorflow/core/kernels/image/crop_and_resize_op.cc
  tensorflow/core/kernels/image/crop_and_resize_op_gpu.cu.cc
  tensorflow/core/kernels/image/extract_image_patches_op.cc
  tensorflow/core/kernels/image/extract_image_patches_op_gpu.cu.cc
  tensorflow/core/kernels/image/extract_volume_patches_op.cc
  tensorflow/core/kernels/image/extract_volume_patches_op_gpu.cu.cc
  tensorflow/core/kernels/image/resize_bilinear_op.cc
  tensorflow/core/kernels/image/resize_bilinear_op_gpu.cu.cc
  tensorflow/core/kernels/image/resize_nearest_neighbor_op.cc
  tensorflow/core/kernels/image/resize_nearest_neighbor_op_gpu.cu.cc
  tensorflow/python/kernel_tests/image_ops/extract_image_patches_op_test.py
  tensorflow/python/kernel_tests/image_ops/extract_volume_patches_op_test.py
Labels: awaiting review, ready to pull, size:S, comp:core

#59230 Fix leak in extract_stacktrace.
  tensorflow/python/framework/ops.py
  tensorflow/python/util/stack_trace.h
Labels: awaiting review, size:S

#59152 [NVIDIA TF] Enable BF16 Histogram
  tensorflow/core/kernels/histogram_op.cc
  tensorflow/core/kernels/histogram_op_gpu.cu.cc
  tensorflow/python/kernel_tests/histogram_ops_test.py
Labels: ready to pull, size:S, comp:core

#59139 Continuation of #58868
  tensorflow/security/fuzzing/cc/ops/BUILD
  tensorflow/security/fuzzing/cc/ops/bincount_fuzz.cc
Labels: awaiting review, ready to pull, size:M

#59216 [ROCm] fixed batch matmul in bf16
  tensorflow/compiler/xla/stream_executor/rocm/rocm_blas.cc
Labels: ready to pull, comp:gpu

#59176 Fix stats bug in cuda_malloc_async allocator
  tensorflow/compiler/xla/stream_executor/gpu/gpu_cudamallocasync_allocator.cc
  tensorflow/compiler/xla/stream_executor/gpu/gpu_cudamallocasync_allocator.h
Labels: awaiting review, ready to pull, comp:xla, size:S

#58898 [NVIDIA TF-TRT] Adding TF_TRT_OP_FAKELIST env var to allow TF-TRT segmentation experimentation
  tensorflow/compiler/tf2tensorrt/BUILD
  tensorflow/compiler/tf2tensorrt/convert/convert_graph.cc
  tensorflow/compiler/tf2tensorrt/convert/convert_nodes.cc
  tensorflow/compiler/tf2tensorrt/convert/op_converter_registry.cc
Labels: awaiting review, ready to pull, size:M, comp:gpu:tensorrt

#59098 [NVIDIA XLA] Add a new debug flag to turn off mlir pretty print form
  tensorflow/compiler/xla/debug_options_flags.cc
  tensorflow/compiler/xla/service/dump.cc
  tensorflow/compiler/xla/xla.proto
  tensorflow/compiler/xrt/xrt_util.cc
Labels: awaiting review, ready to pull, comp:xla, size:S

#58870 [NVIDIA XLA] add a new mode that hlo_parser can parse computations without module header.
  tensorflow/compiler/xla/service/hlo_parser.cc
  tensorflow/compiler/xla/service/hlo_parser_test.cc
  tensorflow/compiler/xla/tools/replay_computation.cc
Labels: awaiting review, ready to pull, comp:xla, size:M

#58868 bincount fuzzer
  tensorflow/security/fuzzing/cc/ops/BUILD
Labels: awaiting review, ready to pull, size:M

#59244 Update the RBE images to the latest container versions
  tensorflow/tools/toolchains/remote_config/configs.bzl
Labels: awaiting review, ready to pull, size:S

#59227 keep colocated identity node in remove_training_nodes
  tensorflow/python/framework/graph_util_impl.py
  tensorflow/python/framework/graph_util_test.py
Labels: awaiting review, ready to pull, size:S

#59243 [Linaro:ARM_CI] Do not abort ARM_CD action for failure on Python 3.11
  .github/workflows/arm-cd.yml
Labels: ready to pull, size:XS

#59110 [oneDNN] Increasing mkl mem alloc threshold
  tensorflow/core/common_runtime/mkl_cpu_allocator.h
Labels: awaiting review, ready to pull, comp:mkl, size:XS

#59116 Always flush after each log.
  tensorflow/tsl/platform/default/logging.cc
Labels: awaiting review, ready to pull, size:XS, prtype:bugfix

#56783 [oneDNN] fuse gelu subgraph with MatMul and Biasadd
  tensorflow/core/grappler/optimizers/auto_mixed_precision_lists.h
  tensorflow/core/grappler/optimizers/mkl_remapper_test.cc
  tensorflow/core/grappler/optimizers/remapper.cc
  tensorflow/python/grappler/remapper_test.py
Labels: awaiting review, ready to pull, comp:grappler, size:M

#59048 Removing enable eager execution
  tensorflow/compiler/xla/g3doc/tutorials/jit_compile.ipynb
Labels: awaiting review, ready to pull, comp:xla, size:XS

#59228 [ROCm] enable potrfBatched for ROCm
  tensorflow/core/kernels/linalg/cholesky_op_gpu.cu.cc
Labels: awaiting review, ready to pull, comp:gpu, size:XS

#59249 Update sqlite to sqlite-amalgamation-3400100
  tensorflow/workspace2.bzl
Labels: awaiting review, ready to pull, size:XS

#58954 [tosa] Legalize tf.sin and tf.cos to tosa.table
  tensorflow/compiler/mlir/tosa/tests/tf-to-tosa-pipeline.mlir
  tensorflow/compiler/mlir/tosa/transforms/legalize_common.cc
  tensorflow/compiler/mlir/tosa/transforms/legalize_common.h
  tensorflow/compiler/mlir/tosa/transforms/legalize_tf.cc
  tensorflow/compiler/mlir/tosa/transforms/legalize_tfl.cc
Labels: awaiting review, size:L

#58867 [NVIDIA TF] Support building against CUDA 12.0
  tensorflow/compiler/xla/service/gpu/runtime/graph_launch.cc
  tensorflow/core/kernels/sparse/mat_mul_op.cc
  tensorflow/core/kernels/sparse/sparse_mat_mul_op.cc
  tensorflow/core/util/BUILD
  tensorflow/core/util/cuda_sparse.cc
  tensorflow/core/util/cuda_sparse.h
  tensorflow/tsl/cuda/cuda_12_0.inc
  tensorflow/tsl/cuda/cuda_runtime_11_8.inc
  tensorflow/tsl/cuda/cuda_runtime_12_0.inc
  tensorflow/tsl/cuda/cuda_stub.cc
  tensorflow/tsl/cuda/cudart_stub.cc
  tensorflow/tsl/cuda/cusparse_12_0.inc
  tensorflow/tsl/cuda/cusparse_stub.cc
  tensorflow/tsl/platform/default/dso_loader.cc
  tensorflow/workspace2.bzl
  third_party/gpus/cuda/cuda_config.h.tpl
  third_party/gpus/cuda_configure.bzl
Labels: awaiting review, ready to pull, size:XL, comp:core

#56634 Fix crash during shutdown in distributed training
  tensorflow/python/client/tf_session_wrapper.cc
Labels: ready to pull, size:XS, prtype:bugfix

#58862 [oneDNN] pooling fix
  tensorflow/core/kernels/mkl/mkl_avgpooling_op.cc
  tensorflow/core/kernels/mkl/mkl_maxpooling_op.cc
Labels: ready to pull, comp:mkl, size:M

#59233 Fix crash in stateless_random_binomial when shape type is int64
  tensorflow/core/kernels/random_binomial_op.cc
  tensorflow/python/kernel_tests/random/random_binomial_test.py
Labels: awaiting review, ready to pull, size:S, prtype:bugfix, comp:core

#59292 [oneDNN] Fix the collective_test python failure with tensorflow:devel container
  tensorflow/dtensor/python/tests/test_util.py
Labels: ready to pull, size:XS

#59148 [NVIDIA TF] Incrase default GPU HOST MEM LIMIT to 128GB
  tensorflow/core/common_runtime/gpu/gpu_process_state.cc
  tensorflow/core/common_runtime/pluggable_device/pluggable_device_process_state.cc
Labels: awaiting review, ready to pull, size:XS, comp:core

#59246 [NVIDIA TF] Avoid cudaSetDevice to "invisible" GPU in CreateDevices
  tensorflow/core/common_runtime/gpu/gpu_device.cc
Labels: awaiting review, ready to pull, size:XS, comp:core

#58284 Disable rocBLAS atomics when asked
  tensorflow/compiler/xla/stream_executor/rocm/BUILD
  tensorflow/compiler/xla/stream_executor/rocm/rocblas_wrapper.h
  tensorflow/compiler/xla/stream_executor/rocm/rocm_blas.cc
Labels: awaiting review, ready to pull, comp:xla, size:S

#58795 [NVIDIA TF] Enable BF16 Scan ops
  tensorflow/compiler/mlir/tensorflow/ir/tf_generated_ops.td
  tensorflow/core/kernels/BUILD
  tensorflow/core/kernels/scan_ops.cc
  tensorflow/core/kernels/scan_ops_gpu_bfloat16.cu.cc
  tensorflow/core/ops/math_ops.cc
  tensorflow/core/ops/ops.pbtxt
  tensorflow/python/kernel_tests/control_flow/scan_ops_test.py
  tensorflow/python/kernel_tests/math_ops/cumulative_logsumexp_test.py
Labels: awaiting review, ready to pull, size:M, comp:core

#59142 [NVIDIA TF] Enable BF16 SegmentReduction ops
  tensorflow/core/kernels/segment_reduction_ops_gpu.cu.h
  tensorflow/core/kernels/segment_reduction_ops_gpu_0.cu.cc
  tensorflow/core/kernels/segment_reduction_ops_gpu_1.cu.cc
  tensorflow/core/kernels/segment_reduction_ops_impl_1.cc
  tensorflow/core/kernels/segment_reduction_ops_impl_2.cc
  tensorflow/core/kernels/segment_reduction_ops_impl_3.cc
  tensorflow/core/kernels/segment_reduction_ops_impl_4.cc
  tensorflow/core/kernels/segment_reduction_ops_impl_5.cc
  tensorflow/python/kernel_tests/array_ops/gather_op_test.py
  tensorflow/python/kernel_tests/math_ops/segment_reduction_ops_test.py
Labels: ready to pull, size:M, comp:core

#59304 [tosa] Legalize tfl.while_loop to tosa.while_loop and add its Lit test case
  tensorflow/compiler/mlir/tosa/tests/tfl-to-tosa-pipeline.mlir
  tensorflow/compiler/mlir/tosa/transforms/legalize_tfl.cc
Labels: awaiting review, size:M

#59226 Fix docstring typo
  tensorflow/python/debug/cli/curses_widgets.py
Labels: ready to pull, size:XS

#59278 [oneDNN][AArch64] Updates oneDNN and Compute Library versions
  tensorflow/workspace2.bzl
  third_party/compute_library/acl_depthwise_updateable_weights.patch
  third_party/compute_library/acl_fixup_SVE_merges.patch
  third_party/compute_library/acl_openmp_fix.patch
  third_party/compute_library/compute_library.patch
  third_party/mkl_dnn/mkldnn_acl.BUILD
Labels: awaiting review, ready to pull, size:XL

#55383 Print error message when failed to load external delegate.
  tensorflow/lite/delegates/external/external_delegate.cc
Labels: awaiting review, comp:lite, ready to pull, size:XS

#59296 [oneDNN] Update oneDNN version to 2.7.3
  tensorflow/workspace2.bzl
  third_party/mkl_dnn/mkldnn_v1.BUILD
Labels: ready to pull, comp:mkl, size:XS

#59202 Fix crash in BlockLSTM
  tensorflow/core/kernels/rnn/lstm_ops.cc
  tensorflow/python/kernel_tests/nn_ops/BUILD
  tensorflow/python/kernel_tests/nn_ops/rnn_cell_test.py
Labels: awaiting review, ready to pull, size:XS, prtype:bugfix, comp:core

#59303 Batched FP8 GEMMs in XLA
  tensorflow/compiler/xla/service/gpu/gemm_rewriter.cc
  tensorflow/compiler/xla/service/gpu/tests/gemm_rewrite_test.cc
Labels: awaiting review, ready to pull, comp:xla, size:L

#59418 [aarch64] enable acl linking for cpu xla for mkl_aarch64_threadpool config
  .bazelrc
Labels: ready to pull, comp:mkl, size:XS

#59238 [oneDNN] fix matmul dest memory initialization
  tensorflow/core/kernels/mkl/mkl_matmul_ops_common.h
Labels: awaiting review, ready to pull, comp:mkl, size:XS

#59282 Fix possible buffer underflow in hlo_parser
  tensorflow/compiler/xla/service/hlo_parser.cc
  tensorflow/compiler/xla/service/hlo_parser_test.cc
Labels: awaiting review, ready to pull, comp:xla, size:XS

#59421 [mlir-hlo][cmake] Add dependencies missing for building shared libraries
  tensorflow/compiler/xla/mlir_hlo/mhlo/analysis/CMakeLists.txt
  tensorflow/compiler/xla/mlir_hlo/mhlo/transforms/CMakeLists.txt
Labels: awaiting review, ready to pull, comp:xla, size:S

#58865 [oneDNN] Bug-fix: Add epsilon and leakyrelu alpha attribute to fused batchmatmul.
  tensorflow/core/ops/mkl_nn_ops.cc
Labels: ready to pull, comp:mkl, size:XS

#59140 TensorFloat32 Test Fixes for TensorFlow core and python tests
  tensorflow/compiler/xla/tests/BUILD
  tensorflow/compiler/xla/tests/convolution_variants_test.cc
  tensorflow/core/grappler/optimizers/auto_mixed_precision_test.cc
  tensorflow/python/kernel_tests/array_ops/slice_op_test.py
  tensorflow/python/kernel_tests/linalg/matrix_exponential_op_test.py
  tensorflow/python/ops/linalg/linear_operator_test_util.py
Labels: ready to pull, comp:xla, size:S

#59137 [AMD-ZENDNN] Code changes to support TF-Plugin for AMD CPU Inference
  tensorflow/core/common_runtime/BUILD
  tensorflow/core/common_runtime/layout_pass_util.cc
  tensorflow/core/common_runtime/layout_pass_util.h
  tensorflow/core/common_runtime/zen_layout_pass.cc
  tensorflow/core/graph/BUILD
  tensorflow/core/graph/zen_graph_util.h
  tensorflow/core/util/BUILD
  tensorflow/core/util/zen_util.h
Labels: awaiting review, ready to pull, size:XL, comp:core

#59326 Fix missing symbols on PPC caused by jit_compiler
  tensorflow/compiler/xla/mlir/runtime/transforms/BUILD
Labels: awaiting review, ready to pull, comp:xla, size:S

#59315 [MacOS][Pluggable Device] Fixes for macos pluggable device.
  tensorflow/core/common_runtime/eager/execute.cc
  tensorflow/core/framework/tensor.h
  tensorflow/core/kernels/list_kernels.cc
Labels: awaiting review, ready to pull, size:XS, comp:core

#52014 [TFLite] Use integer-only operations for the quantized reference REDUCE_MEAN and REDUCE_SUM kernels
  tensorflow/lite/kernels/internal/common.h
  tensorflow/lite/kernels/internal/reference/integer_ops/mean.h
  tensorflow/lite/kernels/internal/reference/reduce.h
  tensorflow/lite/kernels/reduce.cc
  tensorflow/lite/kernels/reduce_test.cc
Labels: cla: yes, awaiting review, comp:lite, ready to pull, size:L

#59314 [AMD-ZENDNN] Modifications to support eager op rewrite for AMD CPU Inference
  tensorflow/core/common_runtime/eager/BUILD
  tensorflow/core/common_runtime/eager/zen_eager_op_rewrite.cc
Labels: ready to pull, size:M, comp:core

#59317 Move MHLO transforms to own BUILD file & fix cmake
  tensorflow/compiler/xla/mlir_hlo/tosa/BUILD
  tensorflow/compiler/xla/mlir_hlo/tosa/CMakeLists.txt
  tensorflow/compiler/xla/mlir_hlo/tosa/transforms/BUILD
  tensorflow/compiler/xla/mlir_hlo/tosa/transforms/legalize_mhlo/legalize_mhlo.cc
  tensorflow/compiler/xla/mlir_hlo/tosa/transforms/passes.h
  tensorflow/compiler/xla/mlir_hlo/tosa/transforms/prepare_mhlo/prepare_mhlo.cc
Labels: awaiting review, ready to pull, comp:xla, size:M

#59430 [Linaro:ARM_CI] Limit the version of h5py that is allowed to prevent ftb
  tensorflow/tools/ci_build/Dockerfile.cpu.arm64
  tensorflow/tools/ci_build/rel/ubuntu/cpu_arm64_pip.sh
Labels: awaiting review, ready to pull, size:XS

#59256 Clean up CUDA and oneDNN warnings.
  tensorflow/compiler/tf2tensorrt/utils/py_utils.cc
  tensorflow/compiler/xla/stream_executor/cuda/cuda_diagnostics.cc
  tensorflow/compiler/xla/stream_executor/cuda/cuda_driver.cc
  tensorflow/core/platform/cpu_feature_guard.cc
  tensorflow/tsl/cuda/cudart_stub.cc
  tensorflow/tsl/platform/default/dso_loader.cc
Labels: ready to pull, size:S, comp:gpu:tensorrt

#59285 Update rocblas import path
  tensorflow/compiler/xla/stream_executor/rocm/rocblas_wrapper.h
Labels: awaiting review, comp:xla, size:XS

#59437 [oneDNN][Bug-fix] Add check for min-max tensors in quantized matmul OpKernel.
  tensorflow/core/kernels/mkl/mkl_qmatmul_op.cc
  tensorflow/core/kernels/mkl/mkl_qmatmul_op_test.cc
Labels: awaiting review, ready to pull, comp:mkl, size:M

#59457 [Linaro:ARM_CI] Fix unit test numeric_utils_test fails to build
  tensorflow/tensorflow.bzl
Labels: cla: yes, ready to pull, size:S

#59436 Add to_ordinal utility
  RELEASE.md
Labels: awaiting review, ready to pull, size:XS

#58769 Fix `graphdef2mlir:const-values.pbtxt` test failure on s390x
  tensorflow/cc/saved_model/bundle_v2.cc
  tensorflow/cc/saved_model/reader.cc
  tensorflow/compiler/mlir/tensorflow/BUILD
  tensorflow/compiler/mlir/tensorflow/translate/tf_mlir_translate.cc
  tensorflow/core/util/tensor_bundle/byte_swap_tensor.cc
  tensorflow/core/util/tensor_bundle/byte_swap_tensor.h
Labels: ready to pull, size:M

#59100 [tosa] Legalize tfl.atan2 to tosa.table operation
  tensorflow/compiler/mlir/tosa/tests/tfl-to-tosa-pipeline.mlir
  tensorflow/compiler/mlir/tosa/transforms/legalize_tfl.cc
  tensorflow/compiler/mlir/tosa/transforms/legalize_utils.cc
Labels: ready to pull, size:M

#59455 [Linaro:ARM_CI] Exclude tests that fail due to mismatch with tf-io
  tensorflow/tools/ci_build/build_scripts/ARM_SKIP_TESTS.sh
Labels: awaiting review, ready to pull, size:XS

#58919 Fix possible null dereference in hlo_module_util
  tensorflow/compiler/xla/service/hlo_module_util.cc
Labels: awaiting review, ready to pull, comp:xla, size:S

#58519 [TFLite] Remove deprecated gen_lut function
  tensorflow/lite/kernels/internal/common.h
Labels: comp:lite, ready to pull, size:S

#59493 Fix missing symbols on S390x caused by jit_compiler
  tensorflow/compiler/xla/mlir/runtime/transforms/BUILD
Labels: awaiting review, ready to pull, comp:xla, size:XS

#59478 Fix segfault caused by registering duplicate numpy float8 casts
  tensorflow/tsl/python/lib/core/float8.cc
Labels: awaiting review, ready to pull, size:S
