Repository tensorflow/tensorflow, pull requests merged in 2023-04, with the labels that each got.

#59923 [NVIDIA TF] Optimize mixed-precision finite check for sparse tensors.
  tensorflow/python/keras/mixed_precision/loss_scale_optimizer.py
  tensorflow/python/training/experimental/loss_scale.py
Labels: awaiting review, ready to pull, size:S

#59860 use list intialization for AsynSubgraph::next_buffer_handle_
  tensorflow/lite/core/async/async_subgraph.h
Labels: awaiting review, comp:lite, ready to pull, size:XS

#59916 Update link to Hexagon delegate guide
  tensorflow/lite/examples/label_image/README.md
Labels: awaiting review, comp:lite, ready to pull, size:XS

#60108 [NVIDIA TF] Register BF16 CudnnRnn kernel
  tensorflow/core/kernels/BUILD
  tensorflow/core/kernels/cudnn_rnn_ops.cc
  tensorflow/core/ops/cudnn_rnn_ops.cc
Labels: ready to pull, comp:xla, size:L

#59534 Fix LSTMBlockCell Check Fail
  tensorflow/core/kernels/rnn/lstm_ops.cc
  tensorflow/core/kernels/rnn/lstm_ops_gpu.cu.cc
  tensorflow/core/ops/cudnn_rnn_ops_test.cc
  tensorflow/python/kernel_tests/nn_ops/rnn_cell_test.py
Labels: awaiting review, ready to pull, size:XS, prtype:bugfix, comp:core

#60075 [NVIDIA TF] Add DTensorAllToAll and relayout implementation
  tensorflow/core/common_runtime/graph_execution_state.cc
  tensorflow/dtensor/cc/BUILD
  tensorflow/dtensor/cc/dtensor_meta_ops.cc
  tensorflow/dtensor/cc/dtensor_utils.cc
  tensorflow/dtensor/cc/dtensor_utils.h
  tensorflow/dtensor/mlir/BUILD
  tensorflow/dtensor/mlir/Passes.td
  tensorflow/dtensor/mlir/collectives.cc
  tensorflow/dtensor/mlir/create_dtensor_mlir_passes.h
  tensorflow/dtensor/mlir/dtensor_mlir_passes.cc
  tensorflow/dtensor/mlir/ir/tf_dtensor.cc
  tensorflow/dtensor/mlir/ir/tf_dtensor.td
  tensorflow/dtensor/mlir/tests/dtensor_alltoall_lowering.mlir
  tensorflow/dtensor/mlir/tests/spmd_expansion.mlir
  tensorflow/dtensor/mlir/utils/collective_lowering.cc
  tensorflow/dtensor/python/tests/spmd_test.py
Labels: awaiting review, ready to pull, size:L

#60238 [Linaro:ARM_CI] Stop using ambe config as not needed
  tensorflow/tools/ci_build/rel/ubuntu/cpu_arm64_nonpip.sh
  tensorflow/tools/ci_build/rel/ubuntu/cpu_arm64_pip.sh
Labels: awaiting review, ready to pull, size:S

#59614 [NVIDIA XLA] Support Conv-Bias-Relu6/LeakyRelu fusion in XLA using cuDNN runtime fusion
  tensorflow/compiler/xla/mlir/backends/gpu/transforms/lmhlo_gpu_to_gpu_runtime.cc
  tensorflow/compiler/xla/mlir/backends/gpu/transforms/tests/lmhlo_gpu_conv.mlir
  tensorflow/compiler/xla/mlir/backends/gpu/transforms/tests/outline_cuda_graphs.mlir
  tensorflow/compiler/xla/mlir_hlo/lhlo_gpu/IR/lhlo_gpu_ops.td
  tensorflow/compiler/xla/mlir_hlo/lhlo_gpu/IR/lhlo_gpu_ops_enums.td
  tensorflow/compiler/xla/mlir_hlo/tests/Dialect/lhlo_gpu/lhlo_gpu_ops.mlir
  tensorflow/compiler/xla/service/gpu/backend_configs.proto
  tensorflow/compiler/xla/service/gpu/cudnn_fused_conv_rewriter.cc
  tensorflow/compiler/xla/service/gpu/cudnn_fused_conv_rewriter_test.cc
  tensorflow/compiler/xla/service/gpu/gpu_conv_algorithm_picker.cc
  tensorflow/compiler/xla/service/gpu/gpu_conv_runner.cc
  tensorflow/compiler/xla/service/gpu/gpu_conv_runner.h
  tensorflow/compiler/xla/service/gpu/ir_emitter_unnested.cc
  tensorflow/compiler/xla/service/gpu/runtime/conv.cc
  tensorflow/compiler/xla/service/xla_aot_compile_test_autotune_results.prototxt
  tensorflow/compiler/xla/stream_executor/dnn.cc
  tensorflow/compiler/xla/translate/mhlo_to_hlo/attribute_exporter.cc
  tensorflow/compiler/xla/translate/mhlo_to_lhlo_with_xla/mhlo_to_lhlo_with_xla.cc
Labels: awaiting review, ready to pull, size:L

#60132 [NVIDIA XLA] Cover D_amax output fusion for FP8 GEMM when Relu is present in epilogue
  tensorflow/compiler/xla/service/gpu/gemm_rewriter.cc
  tensorflow/compiler/xla/service/gpu/tests/gemm_rewrite_test.cc
Labels: awaiting review, ready to pull, comp:xla, size:XL

#60231 Fix null pointer dereference in FuseMhloMulAndConvolutionPattern::matchAndRewrite
  tensorflow/compiler/mlir/lite/stablehlo/transforms/fuse_convolution_pass.cc
Labels: ready to pull, size:XS

#60221 Fix null pointer dereference in tsl::profiler::CreateStub
  tensorflow/tsl/profiler/rpc/client/profiler_client.cc
Labels: ready to pull, size:XS

#60225 Fix null pointer dereference in grappler::GetInputs
  tensorflow/core/grappler/optimizers/scoped_allocator_optimizer.cc
Labels: awaiting review, ready to pull, comp:grappler, size:XS

#58912 Fix null dereference from sharding_util
  tensorflow/core/graph/graph.cc
  tensorflow/core/graph/graph.h
  tensorflow/core/graph/graph_test.cc
Labels: awaiting review, ready to pull, size:XS, comp:core

#59999 [oneDNN] Fixing a failure in mkl_fused_batch_norm_op_test
  tensorflow/core/kernels/mkl/mkl_fused_batch_norm_op_test.cc
Labels: ready to pull, size:XS

#58394 Adding Sum, Square Op BF16 Test
  tensorflow/python/kernel_tests/math_ops/cwise_ops_unary_test.py
  tensorflow/python/kernel_tests/math_ops/reduction_ops_test.py
Labels: ready to pull, size:M

#60180 Use a custom rule for API files generation
  tensorflow/python/tools/api/generator/api_gen.bzl
Labels: ready to pull, size:M

#59607 [tosa] Legalize tfl.rfft2d to tosa.rfft2d
  tensorflow/compiler/mlir/tosa/tests/tfl-to-tosa-pipeline.mlir
  tensorflow/compiler/mlir/tosa/transforms/legalize_tfl.cc
Labels: awaiting review, ready to pull, size:L

#59837 [INTEL oneDNN][Bug Fix] Fix an AvgPoolGrad unit test failure caused by a newly added test
  tensorflow/core/kernels/mkl/mkl_avgpooling_op.cc
  tensorflow/core/kernels/mkl/mkl_pooling_ops_common.h
  tensorflow/tools/ci_build/build_scripts/ARM_SKIP_TESTS.sh
Labels: awaiting review, ready to pull, comp:mkl, size:M

#59949 [oneDNN] Fix for failures while fusing Mul-Maximum into LeakyRelu
  tensorflow/core/grappler/optimizers/remapper.cc
Labels: ready to pull, comp:grappler, size:M

#60296 Validate null pointer dereference
  tensorflow/core/kernels/conv_ops_fused_int8.cc
Labels: ready to pull, size:XS, comp:core

#59113 [oneDNN]Implement setting max_num_threads hint to oneDNN at primitive creation time.
  tensorflow/core/kernels/mkl/mkl_avgpooling_op.cc
  tensorflow/core/kernels/mkl/mkl_batch_matmul_op.cc
  tensorflow/core/kernels/mkl/mkl_concat_op.cc
  tensorflow/core/kernels/mkl/mkl_conv_grad_filter_ops.cc
  tensorflow/core/kernels/mkl/mkl_conv_grad_input_ops.cc
  tensorflow/core/kernels/mkl/mkl_conv_ops.cc
  tensorflow/core/kernels/mkl/mkl_einsum_op.cc
  tensorflow/core/kernels/mkl/mkl_fused_batch_norm_op.cc
  tensorflow/core/kernels/mkl/mkl_matmul_op_fused.cc
  tensorflow/core/kernels/mkl/mkl_matmul_ops_common.h
  tensorflow/core/kernels/mkl/mkl_maxpooling_op.cc
  tensorflow/core/kernels/mkl/mkl_qmatmul_op.cc
  tensorflow/core/kernels/mkl/mkl_quantize_op.cc
  tensorflow/core/kernels/mkl/mkl_relu_op.cc
  tensorflow/core/kernels/mkl/mkl_requantize_per_channel_op.cc
  tensorflow/core/kernels/mkl/mkl_softmax_op.cc
  tensorflow/core/kernels/mkl/mkl_transpose_op.cc
  tensorflow/core/util/mkl_threadpool.h
Labels: awaiting review, ready to pull, comp:mkl, size:M

#60304 Update build_config.bzl
  tensorflow/tsl/platform/default/build_config.bzl
Labels: size:XS

#60046 Add handling of TensorRT's new enumeration value `nvinfer1::DataType::kFP8`
  tensorflow/compiler/tf2tensorrt/convert/utils.cc
  tensorflow/compiler/tf2tensorrt/utils/trt_engine_utils.cc
Labels: awaiting review, ready to pull, size:S

#59898 [NextPluggableDevice]fix NextPluggableDevice allocator(use pjrt allocator) and Sync()
  tensorflow/core/common_runtime/next_pluggable_device/BUILD
  tensorflow/core/common_runtime/next_pluggable_device/next_pluggable_device.cc
  tensorflow/core/common_runtime/next_pluggable_device/next_pluggable_device.h
Labels: awaiting review, ready to pull, size:S, comp:core

#60307 [oneDNN v3.x]: Support for convolution (fwd + bwd) and transpose
  tensorflow/core/common_runtime/mkl_layout_pass.cc
  tensorflow/core/kernels/mkl/mkl_avgpooling_op.cc
  tensorflow/core/kernels/mkl/mkl_batch_matmul_helper.h
  tensorflow/core/kernels/mkl/mkl_batch_matmul_op.cc
  tensorflow/core/kernels/mkl/mkl_concat_op.cc
  tensorflow/core/kernels/mkl/mkl_conv_grad_filter_ops.cc
  tensorflow/core/kernels/mkl/mkl_conv_grad_input_ops.cc
  tensorflow/core/kernels/mkl/mkl_conv_ops.cc
  tensorflow/core/kernels/mkl/mkl_conv_ops.h
  tensorflow/core/kernels/mkl/mkl_dequantize_op.cc
  tensorflow/core/kernels/mkl/mkl_dequantize_op_test.cc
  tensorflow/core/kernels/mkl/mkl_einsum_op.cc
  tensorflow/core/kernels/mkl/mkl_eltwise_activation_base_op.h
  tensorflow/core/kernels/mkl/mkl_fused_batch_norm_op.cc
  tensorflow/core/kernels/mkl/mkl_fused_batch_norm_op_test.cc
  tensorflow/core/kernels/mkl/mkl_fused_mish_op.cc
  tensorflow/core/kernels/mkl/mkl_fused_ops_test.cc
  tensorflow/core/kernels/mkl/mkl_layer_norm_op.cc
  tensorflow/core/kernels/mkl/mkl_matmul_op.cc
  tensorflow/core/kernels/mkl/mkl_matmul_op_benchmark.cc
  tensorflow/core/kernels/mkl/mkl_matmul_op_fused.cc
  tensorflow/core/kernels/mkl/mkl_matmul_ops_common.h
  tensorflow/core/kernels/mkl/mkl_maxpooling_op.cc
  tensorflow/core/kernels/mkl/mkl_pooling_ops_common.cc
  tensorflow/core/kernels/mkl/mkl_pooling_ops_common.h
  tensorflow/core/kernels/mkl/mkl_qmatmul_op.cc
  tensorflow/core/kernels/mkl/mkl_qmatmul_op_test.cc
  tensorflow/core/kernels/mkl/mkl_quantize_op.cc
  tensorflow/core/kernels/mkl/mkl_quantize_op_test.cc
  tensorflow/core/kernels/mkl/mkl_quantized_concat_op_test.cc
  tensorflow/core/kernels/mkl/mkl_quantized_conv_ops_perchannel_test.cc
  tensorflow/core/kernels/mkl/mkl_quantized_conv_ops_test.cc
  tensorflow/core/kernels/mkl/mkl_quantized_pooling_ops_test.cc
  tensorflow/core/kernels/mkl/mkl_relu_op.cc
  tensorflow/core/kernels/mkl/mkl_relu_op_test.cc
  tensorflow/core/kernels/mkl/mkl_requantization_range_per_channel_op.cc
  tensorflow/core/kernels/mkl/mkl_requantize_ops_test.cc
  tensorflow/core/kernels/mkl/mkl_requantize_per_channel_op.cc
  tensorflow/core/kernels/mkl/mkl_softmax_op.cc
  tensorflow/core/kernels/mkl/mkl_swish_op.cc
  tensorflow/core/kernels/mkl/mkl_swish_op_test.cc
  tensorflow/core/kernels/mkl/onednn_nn_ops_benchmark.cc
Labels: awaiting review, ready to pull, comp:mkl, size:L

#60342 [Linaro:ARM_CI] Fix version of tb-nightly used in CI
  tensorflow/tools/ci_build/release/requirements_common.txt
  tensorflow/tools/tf_sig_build_dockerfiles/devel.requirements.txt
Labels: awaiting review, ready to pull, size:XS

#59305 [oneDNN] Enable oneDNN reduced precision floating point arithmetic mode with new TF_SE…
  tensorflow/core/kernels/mkl/mkl_batch_matmul_op.cc
  tensorflow/core/kernels/mkl/mkl_conv_grad_filter_ops.cc
  tensorflow/core/kernels/mkl/mkl_conv_grad_input_ops.cc
  tensorflow/core/kernels/mkl/mkl_conv_ops.cc
  tensorflow/core/kernels/mkl/mkl_einsum_op.cc
  tensorflow/core/kernels/mkl/mkl_matmul_op.cc
  tensorflow/core/kernels/mkl/mkl_matmul_op_fused.cc
  tensorflow/core/util/mkl_util.h
  tensorflow/core/util/onednn_env_vars.cc
  tensorflow/core/util/onednn_env_vars.h
Labels: awaiting review, ready to pull, comp:mkl, size:M

#59816 Updated broken link for lib_task_api
  tensorflow/lite/g3doc/examples/object_detection/overview.md
Labels: stat:awaiting response, stale, comp:lite, ready to pull, size:XS

#60347 [Linaro:ARM_CI] Fix use of is_nightly in CI
  .github/workflows/arm-ci-extended.yml
  .github/workflows/arm-ci.yml
Labels: awaiting review, ready to pull, size:XS

#59766 [C API][Fix] add recursively handling for AddN variant
  tensorflow/c/kernels_experimental.cc
Labels: ready to pull, size:M

#60359 [oneDNN v3.x]: Added support for softmax, layernorm, concat and element-wise ops for fp32 and bf16
  tensorflow/core/common_runtime/mkl_layout_pass.cc
  tensorflow/core/kernels/mkl/mkl_concat_op.cc
  tensorflow/core/kernels/mkl/mkl_eltwise_activation_base_op.h
  tensorflow/core/kernels/mkl/mkl_fused_mish_op.cc
  tensorflow/core/kernels/mkl/mkl_layer_norm_op.cc
  tensorflow/core/kernels/mkl/mkl_softmax_op.cc
  tensorflow/core/kernels/mkl/mkl_swish_op.cc
  tensorflow/core/kernels/mkl/mkl_swish_op_test.cc
Labels: ready to pull, comp:mkl, size:M

#60303 Adding large tensor mlir kernels, batch 1
  tensorflow/core/kernels/mlir_generated/BUILD
  tensorflow/core/kernels/mlir_generated/gpu_binary_ops_large_tensor_test.cc
Labels: awaiting review, ready to pull, size:L, comp:core

#60305 Optimize memory allocation and pair construction in ClientSession::Ru…
  tensorflow/cc/client/client_session.cc
Labels: ready to pull, size:S

#60349 Fixed build failure on Power
  third_party/jpeg/jpeg.BUILD
Labels: awaiting review, ready to pull, size:XS

#60374 Update the RBE images to the latest container versions
  tensorflow/tools/toolchains/remote_config/configs.bzl
Labels: awaiting review, ready to pull, size:S

#60306 [NVIDIA XLA] Fix Fp32 biasAdd fusion for FP8 cublasLt matmul
  tensorflow/compiler/xla/service/gpu/gemm_rewriter.cc
  tensorflow/compiler/xla/service/gpu/tests/gemm_rewrite_test.cc
Labels: awaiting review, ready to pull, comp:xla, size:S

#60370 [Linaro:ARM_CI] Clean the extended skip list
  tensorflow/tools/ci_build/build_scripts/ARM_SKIP_TESTS_EXTENDED.sh
Labels: ready to pull, size:S

#60390 Adds mkl_batch_matmul_op to mkl_matmul_op_benchmark build
  tensorflow/core/kernels/mkl/BUILD
Labels: awaiting review, ready to pull, comp:mkl, size:XS

#60360 [oneDNN v3.x]: Added support for quantize, dequantize and few other int8 ops
  tensorflow/core/common_runtime/mkl_layout_pass.cc
  tensorflow/core/kernels/mkl/mkl_dequantize_op.cc
  tensorflow/core/kernels/mkl/mkl_dequantize_op_test.cc
  tensorflow/core/kernels/mkl/mkl_quantize_op.cc
  tensorflow/core/kernels/mkl/mkl_quantize_op_test.cc
  tensorflow/core/kernels/mkl/mkl_quantized_concat_op_test.cc
  tensorflow/core/kernels/mkl/mkl_quantized_pooling_ops_test.cc
  tensorflow/core/kernels/mkl/mkl_requantization_range_per_channel_op.cc
  tensorflow/core/kernels/mkl/mkl_requantize_ops_test.cc
  tensorflow/core/kernels/mkl/mkl_requantize_per_channel_op.cc
Labels: ready to pull, comp:mkl, size:M

#60240 Fix cwise_ops_test import issue
  tensorflow/python/kernel_tests/math_ops/BUILD
Labels: awaiting review, ready to pull, size:XS

#60388 Standardize error messages from invalid shapes for Mkl MatMul and Bat…
  tensorflow/core/kernels/mkl/mkl_batch_matmul_op.cc
Labels: awaiting review, ready to pull, comp:mkl, size:S

#60293 build: add missing dependency on tablegen-generated files
  tensorflow/compiler/xla/mlir_hlo/transforms/CMakeLists.txt
Labels: awaiting review, ready to pull, comp:xla, size:XS

#60402 Fix xla operation semantics alltoall typo
  tensorflow/compiler/xla/g3doc/operation_semantics.md
Labels: awaiting review, ready to pull, comp:xla, size:XS

#60365 [Linaro:ARM_CI] Suppress verbose test time warnings
  tensorflow/tools/ci_build/rel/ubuntu/cpu_arm64_nonpip.sh
  tensorflow/tools/ci_build/rel/ubuntu/cpu_arm64_pip.sh
Labels: awaiting review, ready to pull, size:XS

#60160 Use MKL Rewrite pass in convolution microbenchmark
  tensorflow/core/kernels/conv_ops_benchmark_test.cc
Labels: awaiting review, ready to pull, size:M, comp:core

#56647 Update .bazelrc to allow building for ios_arm64e
  .bazelrc
Labels: cla: yes, awaiting review, ready to pull, size:XS

#59424 [NVIDIA XLA] Improve allreduce reassociation
  tensorflow/compiler/xla/debug_options_flags.cc
  tensorflow/compiler/xla/service/BUILD
  tensorflow/compiler/xla/service/all_reduce_reassociate.cc
  tensorflow/compiler/xla/service/all_reduce_reassociate.h
  tensorflow/compiler/xla/service/all_reduce_reassociate_test.cc
  tensorflow/compiler/xla/service/gpu/gpu_compiler.cc
  tensorflow/compiler/xla/xla.proto
Labels: awaiting review, ready to pull, comp:xla, size:M

#60242 Fix null pointer dereference in xla::cpu::CustomCallOpLowering::rewriteTypedCustomCall()
  tensorflow/compiler/xla/mlir/backends/cpu/transforms/lmhlo_to_cpu_runtime.cc
Labels: awaiting review, ready to pull, comp:xla, size:XS

#60045 [TF-TRT] Fix repeated layer name bug
  tensorflow/compiler/tf2tensorrt/convert/convert_nodes.cc
  tensorflow/compiler/tf2tensorrt/convert/convert_nodes_test.cc
Labels: ready to pull, size:XS, comp:gpu:tensorrt

#60432 Make fixed format ACL convolution able to handle NCHW input
  tensorflow/tools/ci_build/build_scripts/ARM_SKIP_TESTS.sh
  third_party/mkl_dnn/onednn_acl_depthwise_convolution.patch
  third_party/mkl_dnn/onednn_acl_fixed_format_kernels.patch
Labels: ready to pull, comp:mkl, size:L
