Repository tensorflow/tensorflow, pull requests merged in 2023-12, with the labels that each got.

#62529 [oneDNN] Adding a unit test for Conv + BiasAdd + Add + <activation> fusion
  tensorflow/core/grappler/optimizers/remapper_test.cc
Labels: awaiting review, ready to pull, comp:grappler, size:L

#58903 [oneDNN] Enabled {Conv2D, DepthwiseConv2D}+BiasAdd+FusedHardSwish for FP32/BF16
  tensorflow/core/common_runtime/mkl_layout_pass.cc
  tensorflow/core/grappler/optimizers/mkl_remapper_test.cc
  tensorflow/core/grappler/optimizers/remapper.cc
  tensorflow/core/kernels/mkl/mkl_conv_ops.cc
Labels: ready to pull, comp:grappler, size:L

#62536 Correct a mistake in matvec's docstring in math_ops.py
  tensorflow/python/ops/math_ops.py
Labels: awaiting review, ready to pull, comp:ops, size:XS

#62573 Update RELEASE.md
  RELEASE.md
Labels: ready to pull, size:S

#62242 Update the hello word example link in build_convert.md
  tensorflow/lite/g3doc/microcontrollers/build_convert.md
Labels: awaiting review, comp:lite, ready to pull, size:XS

#62516 [ROCM] activated bfloat16 tests for rocm platform
  tensorflow/core/kernels/BUILD
  tensorflow/core/kernels/batch_norm_op_test.cc
  tensorflow/core/kernels/conv_grad_filter_ops_3d.cc
  tensorflow/core/kernels/conv_grad_filter_ops_launcher.cc
  tensorflow/core/kernels/conv_grad_input_ops.cc
  tensorflow/core/kernels/conv_grad_input_ops_3d.cc
  tensorflow/core/kernels/conv_ops_3d.cc
  tensorflow/core/kernels/conv_ops_bfloat16.cc
  tensorflow/core/kernels/cudnn_pooling_gpu.cc
  tensorflow/core/kernels/depthwise_conv_op.cc
  tensorflow/core/kernels/fused_batch_norm_op.cc
  tensorflow/core/kernels/gpu_utils.cc
  tensorflow/core/kernels/gpu_utils.h
  tensorflow/core/kernels/matmul_util.cc
  tensorflow/core/kernels/pooling_ops_common.cc
  tensorflow/core/kernels/topk_op_gpu.h
  tensorflow/python/kernel_tests/nn_ops/conv_ops_test.py
  tensorflow/python/kernel_tests/nn_ops/depthwise_conv_op_base.py
  tensorflow/python/ops/BUILD
  tensorflow/python/ops/nn_fused_batchnorm_test.py
Labels: awaiting review, ready to pull, comp:gpu, size:L

#62401 [TOSA] Remove lower_global_tensors pass
  tensorflow/compiler/mlir/tosa/BUILD
  tensorflow/compiler/mlir/tosa/tests/lower_global_tensors.mlir
  tensorflow/compiler/mlir/tosa/tfl_passes.cc
  tensorflow/compiler/mlir/tosa/transforms/lower_global_tensors.cc
  tensorflow/compiler/mlir/tosa/transforms/passes.h
  tensorflow/compiler/mlir/tosa/transforms/passes.td
Labels: awaiting review, ready to pull, size:L

#62621 Remove ARM CI from PR Trigger in arm-ci.yml
  .github/workflows/arm-ci.yml
Labels: awaiting review, ready to pull, size:XS

#62446 Fix misuse of ArrayRef
  tensorflow/compiler/mlir/quantization/stablehlo/passes/bridge/convert_mhlo_quant_to_int.cc
Labels: awaiting review, ready to pull, size:M

#62589 remove unnecessary tests
  tensorflow/tools/ci_build/osx/arm64/tensorflow_as_build_nightly.Jenkinsfile
  tensorflow/tools/ci_build/osx/arm64/tensorflow_as_build_release.Jenkinsfile
Labels: awaiting review, ready to pull, size:M

#62084 [oneDNN] Identify new ISA
  tensorflow/core/platform/cpu_feature_guard.cc
  tensorflow/core/platform/cpu_info.h
  tensorflow/core/util/util.cc
Labels: awaiting review, ready to pull, size:M, comp:core

#58049 lite: Add C API for variable tensors
  tensorflow/lite/core/c/c_api_experimental.cc
  tensorflow/lite/core/c/c_api_experimental.h
Labels: awaiting review, comp:lite, ready to pull, size:S

#59129 Don't run some GPU tests redundantly
  tensorflow/tensorflow.bzl
Labels: awaiting review, ready to pull, size:S

#62051 [oneDNN] Add BFloat16 Specialization Functor for Mean Op
  tensorflow/core/grappler/optimizers/auto_mixed_precision_lists.h
  tensorflow/core/kernels/reduction_ops.h
  tensorflow/core/kernels/reduction_ops_test.cc
  tensorflow/python/kernel_tests/math_ops/reduction_ops_test_big.py
Labels: awaiting review, ready to pull, comp:grappler, size:S

#62408 Update supported dtypes of truncatediv Op in gpu_supported_ops.md
  tensorflow/compiler/tf2xla/g3doc/cpu_supported_ops.md
  tensorflow/compiler/tf2xla/g3doc/gpu_supported_ops.md
Labels: awaiting review, ready to pull, size:XS

#62608 Update flatbuffer_conversions.cc
  tensorflow/lite/core/api/flatbuffer_conversions.cc
Labels: awaiting review, comp:lite, ready to pull, size:M

#62417 Changes to add bfloat16 support for image rotation
  tensorflow/core/kernels/image/image_ops.cc
  tensorflow/core/ops/image_ops.cc
  tensorflow/python/ops/image_ops_test.py
Labels: awaiting review, ready to pull, size:S, comp:core

#62617 Simplify local reproduction instructions
  ci/official/README.md
  ci/official/any.sh
  ci/official/bisect.sh
  ci/official/envs/ci_default
  ci/official/envs/local_default
  ci/official/envs/local_multicache
  ci/official/envs/local_nodocker
  ci/official/envs/local_rbe
  ci/official/utilities/code_check_changed_files.bats
  ci/official/utilities/rename_and_verify_wheels.sh
  ci/official/utilities/setup.sh
  ci/official/utilities/setup_docker.sh
Labels: awaiting review, ready to pull, size:L

#62636 cmake: Disable the use of mmap on Windows
  tensorflow/lite/CMakeLists.txt
Labels: awaiting review, comp:lite, ready to pull, size:XS

#60021 lite: Add config option to enable label_image example
  tensorflow/lite/CMakeLists.txt
  tensorflow/lite/examples/label_image/CMakeLists.txt
Labels: awaiting review, comp:lite, ready to pull, size:S
