Repository tensorflow/tensorflow, pull requests merged in 2023-02, with the labels that each got.

#58763 [NVIDIA XLA] Add new pattern for horizontal fusing instructions whose output tensor has same output shape into kLoop fusion kernel.
  tensorflow/compiler/xla/service/gpu/gpu_compiler.cc
  tensorflow/compiler/xla/service/gpu/horizontal_loop_fusion.cc
  tensorflow/compiler/xla/service/gpu/horizontal_loop_fusion.h
  tensorflow/compiler/xla/service/gpu/horizontal_loop_fusion_test.cc
Labels: stat:awaiting response, awaiting review, ready to pull, comp:xla, size:L

#58329 Replace `template_rule` by Skylib `expand_template`
  tensorflow/opensource_only.files
  third_party/common.bzl
  third_party/mkl_dnn/mkldnn.BUILD
  third_party/mkl_dnn/mkldnn_acl.BUILD
  third_party/mkl_dnn/mkldnn_v1.BUILD
Labels: awaiting review, ready to pull, comp:mkl, size:M

#59459 [NVIDIA TF] NCCL implementation for all-to-all collective
  tensorflow/core/common_runtime/BUILD
  tensorflow/core/common_runtime/collective_param_resolver_local.cc
  tensorflow/core/common_runtime/collective_test_util.cc
  tensorflow/core/common_runtime/collective_test_util.h
  tensorflow/core/kernels/BUILD
  tensorflow/core/kernels/collective_nccl.cc
  tensorflow/core/kernels/collective_nccl_all_to_all.cc
  tensorflow/core/kernels/collective_nccl_all_to_all.h
  tensorflow/core/kernels/collective_nccl_test.cc
  tensorflow/core/nccl/collective_communicator.cc
  tensorflow/core/nccl/nccl_manager.cc
  tensorflow/core/nccl/nccl_manager.h
Labels: ready to pull, size:L

#58921 Fix possible null dereference in hlo_legalize_to_hlo
  tensorflow/compiler/xla/mlir_hlo/mhlo/transforms/hlo_legalize_to_lhlo/hlo_legalize_to_lhlo.cc
Labels: awaiting review, ready to pull, comp:xla, size:XS

#58518 [TFLite] Add support for passing extra parameters to the LUTPopulate transform function
  tensorflow/lite/kernels/activations.cc
  tensorflow/lite/kernels/internal/common.h
Labels: comp:lite, ready to pull, size:M

#59532 [XLA] Support big-endian in numpy-style type descriptor
  tensorflow/compiler/xla/python/types.cc
Labels: awaiting review, ready to pull, comp:xla, size:S

#59423 tflite-runtime wheels for Python 3.10
  tensorflow/lite/tools/pip_package/Dockerfile.py3
  tensorflow/lite/tools/pip_package/Makefile
  tensorflow/lite/tools/pip_package/setup_with_binary.py
Labels: awaiting review, comp:lite, ready to pull, size:S

#59237 [PJRT C API] fix bug for CApi Bypass path
  tensorflow/compiler/xla/pjrt/pjrt_c_api_client.cc
Labels: ready to pull, comp:xla, size:S

#59561 Update the RBE images to the latest container versions
  tensorflow/tools/toolchains/remote_config/configs.bzl
Labels: awaiting review, ready to pull, size:S

#59579 [ARM:TFMOT] Add ARM as trusted partner for TF-MOT PRs
  .github/workflows/trusted-partners.yml
  .github/workflows/trusted_partners.js
Labels: awaiting review, ready to pull, size:XS

#59213 Make Aarch64 not a legacy platform
  tensorflow/core/kernels/mkl/mkl_conv_grad_input_ops.cc
  tensorflow/core/util/mkl_util.h
Labels: ready to pull, comp:mkl, size:XS

#55617 keep restore and save op for functaion_optimizer
  tensorflow/core/grappler/optimizers/function_optimizer.cc
Labels: ready to pull, comp:grappler, size:XS

#58909 Added Autoparallel optimizer in config.py
  tensorflow/python/framework/config.py
Labels: type:docs-bug, ready to pull, size:XS

#58439 [TFTRT] Add device info to nodes in graphdef before building TRT engine
  tensorflow/compiler/tf2tensorrt/convert/convert_nodes.cc
  tensorflow/compiler/tf2tensorrt/convert/convert_nodes.h
  tensorflow/compiler/tf2tensorrt/kernels/trt_engine_op.cc
Labels: awaiting review, ready to pull, size:S, comp:gpu:tensorrt

#59645 [Linaro:ARM_CI] Fix use of updated protobuf
  tensorflow/tools/ci_build/builds/pip_new.sh
Labels: ready to pull, size:XS

#59628 Fix debug build failure in SnapshotStreamWriter::SnapshotStreamWriter
  tensorflow/core/data/service/snapshot/snapshot_stream_writer.cc
Labels: awaiting review, ready to pull, size:XS, comp:core

#59653 Update libpng to 1.6.39
  tensorflow/workspace2.bzl
Labels: awaiting review, ready to pull, size:XS

#59625 Clean up in tpu kernels
  tensorflow/core/tpu/kernels/tpu_functional_ops.cc
  tensorflow/core/tpu/kernels/tpu_pod_state.cc
  tensorflow/core/tpu/kernels/xla/host_compute_ops.cc
Labels: awaiting review, ready to pull, size:M, comp:core

#59668 [Linaro:ARM_CI] Use IS_NIGHTLY to determine which tensorboard to install
  tensorflow/tools/ci_build/builds/pip_new.sh
Labels: awaiting review, ready to pull, size:XS

#59664 [Linaro:ARM_CI] Add tag filters to exclude tests tagged no_oss_py3x
  tensorflow/tools/ci_build/rel/ubuntu/cpu_arm64_pip.sh
Labels: awaiting review, ready to pull, size:XS

#59639 [Linaro:ARM_CI] Revert adding install of tensorflow-io
  tensorflow/tools/ci_build/rel/ubuntu/cpu_arm64_pip.sh
Labels: awaiting review, ready to pull, size:XS

#59661 Fix record_input bug when file_parallelism is less than 0
  tensorflow/core/kernels/record_input_op.cc
  tensorflow/python/kernel_tests/io_ops/record_input_test.py
Labels: awaiting review, ready to pull, size:S, prtype:bugfix, comp:core

#59658 Fix crash in ragged_cross where the ragged tensor input is invalid
  tensorflow/core/kernels/ragged_cross_op.cc
  tensorflow/python/ops/ragged/ragged_cross_op_test.py
Labels: awaiting review, ready to pull, size:S, prtype:bugfix, comp:core

#59673 [NVIDIA TF] Enable GPU BF16 Relu unconditionally
  tensorflow/core/kernels/relu_op.cc
  tensorflow/core/kernels/relu_op_gpu.cu.cc
Labels: awaiting review, ready to pull, size:S, comp:core

#59670 Bump NCCL version to v2.16.5, which is the latest release.
  tensorflow/workspace2.bzl
Labels: awaiting review, ready to pull, size:XS

#59267 Rewrite check in SubBuffer() constructor to satisfy ASAN checks
  tensorflow/core/framework/tensor.cc
Labels: awaiting review, ready to pull, size:XS, comp:core

#59598 [NVIDIA TF] Add CollectiveAllToAllV2 op
  tensorflow/core/api_def/base_api/api_def_CollectiveAllToAllV2.pbtxt
  tensorflow/core/kernels/collective_ops.cc
  tensorflow/core/ops/collective_ops.cc
  tensorflow/core/ops/compat/ops_history_v2/CollectiveAllToAllV2.pbtxt
  tensorflow/core/ops/ops.pbtxt
  tensorflow/python/kernel_tests/collective_ops_test.py
  tensorflow/python/ops/collective_ops.py
  tensorflow/tools/api/golden/v1/tensorflow.raw_ops.pbtxt
  tensorflow/tools/api/golden/v2/tensorflow.raw_ops.pbtxt
Labels: awaiting review, ready to pull, size:L, comp:core

#59674 Fix debug build failure in math_approximation.cc due to 'isnan' was not declared
  tensorflow/compiler/xla/mlir/math/transforms/math_approximation.cc
Labels: awaiting review, ready to pull, comp:xla, size:XS

#58393 [onednn][tfg][remapper] Add FusedBatchNormEx fusion
  tensorflow/core/transforms/remapper/pass.cc
  tensorflow/core/transforms/remapper/remapping_helper.h
  tensorflow/core/transforms/remapper/tests/fusedbatchnormEx_test.mlir
  tensorflow/core/transforms/remapper/tests/onednn_fusedbatchnormEx_test.mlir
Labels: ready to pull, size:L, comp:core

#59695 Update curl to 7.88.0
  tensorflow/workspace2.bzl
  third_party/curl.BUILD
Labels: awaiting review, ready to pull, size:S

#59536 [BUG FIX] Fix tensor_or_memref.h build error
  tensorflow/compiler/xla/mlir_hlo/tools/mlir_interpreter/framework/tensor_or_memref.h
Labels: awaiting review, ready to pull, comp:xla, size:XS

#59703 Fix GRUCellBlockOp message for invalid rank of x
  tensorflow/core/kernels/rnn/gru_ops.cc
Labels: awaiting review, ready to pull, size:XS, prtype:bugfix, comp:core

#57989 [oneDNN] Adding AddN unit test for bfloat16
  tensorflow/python/kernel_tests/math_ops/aggregate_ops_test.py
Labels: ready to pull, comp:ops, size:S

#59656 Fix MapPeek crash when key is not a scaler
  tensorflow/core/kernels/map_stage_op.cc
  tensorflow/python/kernel_tests/data_structures/map_stage_op_test.py
Labels: awaiting review, kokoro:force-run, ready to pull, size:S, comp:core

#59718 [NVIDIA XLA] Add SMs 87-90 to llvm gpu backend supported_versions
  tensorflow/compiler/xla/service/gpu/llvm_gpu_backend/gpu_backend_lib.cc
Labels: awaiting review, ready to pull, comp:xla, size:XS

#59407 reducing vulnerabilities
  tensorflow/tools/ci_build/Dockerfile.debian.bullseye.cpu
  tensorflow/tools/ci_build/Dockerfile.micro
Labels: awaiting review, ready to pull, size:XS

#59681 [Linaro:Neon] For Neon nr must be 4
  tensorflow/tsl/framework/fixedpoint/FixedPoint.h
  tensorflow/tsl/framework/fixedpoint/MatMatProduct.h
  tensorflow/tsl/framework/fixedpoint/MatMatProductNEON.h
Labels: awaiting review, ready to pull, size:M, prtype:bugfix

#58677 Fix FindFlatBuffers cmake file
  tensorflow/lite/CMakeLists.txt
  tensorflow/lite/g3doc/guide/build_cmake.md
  tensorflow/lite/tools/cmake/modules/FindFlatBuffers.cmake
Labels: comp:lite, ready to pull, size:XS

#56155 Fix typo in GL converter error log
  tensorflow/lite/delegates/gpu/gl/kernels/converter.cc
Labels: comp:lite, ready to pull, size:XS

#59742 Add OSSRank Badge
  README.md
Labels: awaiting review, ready to pull, size:XS

#53244 [PluggableDevice] AsyncOpKernel
  tensorflow/c/kernels.cc
  tensorflow/c/kernels.h
  tensorflow/c/kernels_test.cc
Labels: cla: yes, awaiting review, ready to pull, size:L

#58918 Fix null dereference in grpc_worker_service
  tensorflow/core/distributed_runtime/rpc/grpc_worker_service.cc
Labels: ready to pull, size:S, comp:core

#58800 [tosa] Add TFLite reduce all operation to TOSA
  tensorflow/compiler/mlir/tosa/tests/tfl-to-tosa-pipeline.mlir
  tensorflow/compiler/mlir/tosa/transforms/legalize_tfl.cc
Labels: awaiting review, size:S

#58539 [tosa] Extend legalization for tfl.prelu to support the quantized type.
  tensorflow/compiler/mlir/tosa/tests/tfl-to-tosa-pipeline.mlir
  tensorflow/compiler/mlir/tosa/transforms/legalize_tfl.cc
Labels: awaiting review, size:M

#59782 [Linaro:ARM_CI] Skip failing test until it can be resolved
  tensorflow/tools/ci_build/build_scripts/ARM_SKIP_TESTS.sh
Labels: awaiting review, ready to pull, size:XS

#59435 parallel_for control flow ops - change for_loop output to match pfor when run with 0 iters
  tensorflow/python/eager/backprop_test.py
  tensorflow/python/ops/parallel_for/control_flow_ops.py
  tensorflow/python/ops/parallel_for/control_flow_ops_test.py
Labels: awaiting review, ready to pull, comp:ops, size:M

#59768 VLOG Warnings for FP8 Custom Calls
  tensorflow/compiler/xla/service/gpu/gemm_rewriter.cc
Labels: awaiting review, ready to pull, comp:xla, size:M

#59758 Fix dtype in code comment in constants_test.cc
  tensorflow/compiler/xla/tests/constants_test.cc
Labels: type:docs-bug, awaiting review, ready to pull, size:XS

#59802 Update the issue template for security vulnerability issue reports
  .github/ISSUE_TEMPLATE/tensorflow_issue_template.yaml
Labels: awaiting review, ready to pull, size:XS

#59523 Update hsplit in np_array_ops.py
  tensorflow/python/ops/numpy_ops/np_array_ops.py
  tensorflow/python/ops/numpy_ops/np_array_ops_test.py
Labels: awaiting review, ready to pull, comp:ops, size:XS

#59717 [NVIDIA TF] Drop support for CUDA 9.x and earlier
  tensorflow/compiler/xla/backends/profiler/gpu/cupti_tracer.cc
  tensorflow/compiler/xla/backends/profiler/gpu/device_tracer_cuda.cc
  tensorflow/compiler/xla/stream_executor/cuda/cuda_blas.cc
  tensorflow/core/kernels/linalg/cholesky_op_gpu.cu.cc
  tensorflow/core/kernels/scan_ops_gpu.h
  tensorflow/core/kernels/sparse/sparse_mat_mul_op.cc
  tensorflow/core/util/cuda_solvers.cc
  tensorflow/core/util/cuda_sparse.cc
  tensorflow/core/util/cuda_sparse.h
  tensorflow/core/util/gpu_device_functions.h
  tensorflow/core/util/gpu_solvers.h
  tensorflow/tools/ci_build/Dockerfile.rbe.cuda9.0-cudnn7-ubuntu14.04
  tensorflow/tsl/cuda/cublas_9_0.inc
  tensorflow/tsl/cuda/cublas_stub.cc
  tensorflow/tsl/cuda/cuda_9_0.inc
  tensorflow/tsl/cuda/cuda_stub.cc
  tensorflow/tsl/cuda/cusolver_dense_9_0.inc
  tensorflow/tsl/cuda/cusolver_stub.cc
Labels: awaiting review, ready to pull, comp:xla, size:XL

#59804 Bias Fusion for FP8 GEMMs in XLA
  tensorflow/compiler/xla/service/gpu/gemm_rewriter.cc
  tensorflow/compiler/xla/service/gpu/tests/gemm_rewrite_test.cc
Labels: awaiting review, ready to pull, comp:xla, size:M
