Repository tensorflow/tensorflow, pull requests merged in 2023-07, with the labels that each got.

#60371 [Linaro:ARM_CI] Add clang support to aarch64 toolchain
  .github/workflows/arm-ci.yml
  tensorflow/tools/ci_build/rel/ubuntu/cpu_arm64_nonpip.sh
  tensorflow/tools/ci_build/rel/ubuntu/cpu_arm64_pip.sh
  tensorflow/tools/toolchains/cpus/aarch64/aarch64.bzl
  tensorflow/tools/toolchains/cpus/aarch64/aarch64_compiler_configure.bzl
  tensorflow/tools/toolchains/cpus/aarch64/crosstool/cc_toolchain_config.bzl.tpl
Labels: awaiting review, ready to pull, size:M

#61134 unpin gast dependency for pip_package
  tensorflow/tools/pip_package/setup.py
Labels: ready to pull, size:XS

#61078 Add text reader fuzzer
  tensorflow/security/fuzzing/cc/BUILD
  tensorflow/security/fuzzing/cc/text_literal_reader_fuzz.cc
Labels: ready to pull, comp:xla, size:M

#60933 Unsigned integer overflow in `wav_io.cc:297`
  tensorflow/core/lib/wav/wav_io.cc
Labels: awaiting review, ready to pull, size:XS, comp:core

#61108 Legalization for quantized int8 tfl.squared_difference operator
  tensorflow/compiler/mlir/tosa/tests/tfl-to-tosa-pipeline.mlir
  tensorflow/compiler/mlir/tosa/transforms/legalize_common.cc
Labels: awaiting review, size:M

#61205 Fix doc rendering error for TFLite inference
  tensorflow/lite/g3doc/guide/inference.md
Labels: awaiting review, comp:lite, ready to pull, size:XS

#61230 Fix ambiguity in use of overloaded functions in XLA
  tensorflow/compiler/xla/python/pjrt_ifrt/xla_sharding_test.cc
Labels: ready to pull, comp:xla, size:S

#61229 [Linaro:ARM_CI] Drop building with Python 3.8 as not supported
  .github/workflows/arm-cd.yml
  .github/workflows/arm-ci-extended.yml
  tensorflow/tools/toolchains/cpus/aarch64/aarch64_compiler_configure.bzl
Labels: ready to pull, size:XS

#60723 Improving the performance of TF models for aarch64.
  tensorflow/core/common_runtime/mkl_layout_pass.cc
  tensorflow/core/grappler/optimizers/remapper.cc
Labels: awaiting review, ready to pull, comp:mkl, size:S

#57143 Fix Tensor constructor with DataType
  tensorflow/core/framework/tensor.cc
Labels: ready to pull, size:XS, comp:core

#61262 [Linaro:ARM_CI] Add broken test to skip list
  tensorflow/tools/ci_build/build_scripts/ARM_SKIP_TESTS.sh
Labels: ready to pull, size:XS

#60393 Added missing const and ensure proper resource management with unique_ptr
  tensorflow/cc/experimental/libexport/load.h
Labels: awaiting review, ready to pull, size:XS

#60498 [BUG]Add nullptr check
  tensorflow/c/kernels.cc
Labels: awaiting review, ready to pull, size:XS

#61261 Run AARCH64 CI builds on pushes to release branches
  .github/workflows/arm-cd.yml
Labels: ready to pull, size:XS

#60410 [PluggableDevice] Reduce the log times when plugin is enabled
  tensorflow/core/grappler/optimizers/custom_graph_optimizer_registry.cc
Labels: awaiting review, ready to pull, comp:grappler, size:XS

#60376 [oneDNN v3.1] Enabled INT8 Conv op/fusions with oneDNN v3.1
  tensorflow/core/kernels/mkl/mkl_conv_ops.cc
  tensorflow/core/kernels/mkl/mkl_fused_ops_test.cc
  tensorflow/core/kernels/mkl/mkl_quantized_conv_ops_test.cc
  tensorflow/core/util/mkl_util.h
Labels: awaiting review, ready to pull, comp:mkl, size:L

#60611 [oneDNN v3.x] Update fused instance norm kernel to support oneDNN v3.x
  tensorflow/core/kernels/mkl/mkl_fused_instance_norm_op.cc
Labels: awaiting review, ready to pull, size:M

#60189 Enable secure grpc++/grpc deps and ssl features on s390x
  configure.py
  tensorflow/BUILD
  tensorflow/tsl/BUILD
  tensorflow/tsl/platform/default/build_config.bzl
Labels: ready to pull, size:S

#61236 [XLA:CPU] Moving oneDNN threadpool wrapper to tsl
  tensorflow/core/kernels/mkl/mkl_avgpooling_op.cc
  tensorflow/core/kernels/mkl/mkl_batch_matmul_op.cc
  tensorflow/core/kernels/mkl/mkl_concat_op.cc
  tensorflow/core/kernels/mkl/mkl_conv_grad_filter_ops.cc
  tensorflow/core/kernels/mkl/mkl_conv_grad_input_ops.cc
  tensorflow/core/kernels/mkl/mkl_conv_ops.cc
  tensorflow/core/kernels/mkl/mkl_dequantize_op.cc
  tensorflow/core/kernels/mkl/mkl_einsum_op.cc
  tensorflow/core/kernels/mkl/mkl_fused_batch_norm_op.cc
  tensorflow/core/kernels/mkl/mkl_fused_instance_norm_op.cc
  tensorflow/core/kernels/mkl/mkl_layer_norm_op.cc
  tensorflow/core/kernels/mkl/mkl_matmul_op.cc
  tensorflow/core/kernels/mkl/mkl_matmul_op_fused.cc
  tensorflow/core/kernels/mkl/mkl_matmul_ops_common.h
  tensorflow/core/kernels/mkl/mkl_maxpooling_op.cc
  tensorflow/core/kernels/mkl/mkl_qmatmul_op.cc
  tensorflow/core/kernels/mkl/mkl_quantize_op.cc
  tensorflow/core/kernels/mkl/mkl_relu_op.cc
  tensorflow/core/kernels/mkl/mkl_requantization_range_per_channel_op.cc
  tensorflow/core/kernels/mkl/mkl_requantize_per_channel_op.cc
  tensorflow/core/kernels/mkl/mkl_softmax_op.cc
  tensorflow/core/kernels/mkl/mkl_transpose_op.cc
  tensorflow/core/util/BUILD
  tensorflow/core/util/mkl_util.h
  tensorflow/tsl/util/BUILD
  tensorflow/tsl/util/onednn_threadpool.h
Labels: ready to pull, comp:mkl, size:L

#61292 Prevent callback copies. Make lambda as mutable.
  tensorflow/core/kernels/collective_ops.cc
Labels: ready to pull, size:S, comp:core

#61295 Update oneDNN reorder
  tensorflow/workspace2.bzl
  third_party/mkl_dnn/onednn_acl_reorder_padded.patch
Labels: ready to pull, comp:mkl, size:L

#60752 Add directory instructions for windows build
  tensorflow/lite/g3doc/guide/build_cmake.md
Labels: comp:lite, ready to pull, size:XS

#60375 [oneDNN v3.x]: Added support for batchnorm fwd and bwd for fp32 and bf16
  tensorflow/core/common_runtime/mkl_layout_pass.cc
  tensorflow/core/kernels/mkl/mkl_concat_op.cc
  tensorflow/core/kernels/mkl/mkl_dequantize_op.cc
  tensorflow/core/kernels/mkl/mkl_fused_batch_norm_op.cc
  tensorflow/core/kernels/mkl/mkl_fused_batch_norm_op_test.cc
  tensorflow/core/kernels/mkl/mkl_kernel_util.h
  tensorflow/core/kernels/mkl/mkl_requantize_per_channel_op.cc
Labels: awaiting review, ready to pull, comp:mkl, size:L

#61244 [NextPluggableDevice] Enable DtoD Copy ViaDMA
  tensorflow/compiler/jit/pjrt_device_context.cc
  tensorflow/compiler/jit/pjrt_device_context.h
  tensorflow/core/common_runtime/pluggable_device/BUILD
  tensorflow/core/common_runtime/pluggable_device/pluggable_device_plugin_init.cc
Labels: ready to pull, size:M

#60486 [oneDNN v3.x]: Enabled reorder primitive cache and some misc. changes
  tensorflow/core/common_runtime/mkl_layout_pass.cc
  tensorflow/core/kernels/mkl/mkl_conv_grad_filter_ops.cc
  tensorflow/core/kernels/mkl/mkl_conv_ops.cc
  tensorflow/core/kernels/mkl/mkl_matmul_op_benchmark.cc
  tensorflow/core/kernels/mkl/mkl_quantize_op.cc
  tensorflow/core/kernels/mkl/mkl_softmax_op.cc
  tensorflow/core/kernels/mkl/onednn_nn_ops_benchmark.cc
  tensorflow/core/util/mkl_util.h
Labels: ready to pull, comp:mkl, size:M

#60735 [oneDNN] Use original Threadpool scheduling approach if use_caller_thread is enabled
  tensorflow/tsl/util/onednn_threadpool.h
Labels: ready to pull, comp:mkl, size:M

#61335 [oneDNN] Fix failing resnet50 benchmark tests with V2
  tensorflow/core/kernels/mkl/mkl_avgpooling_op.cc
Labels: awaiting review, ready to pull, comp:mkl, size:S

#61221 Migrate ops fuzzers to FuzzTest format
  tensorflow/security/fuzzing/cc/ops/BUILD
  tensorflow/security/fuzzing/cc/ops/general_ops_fuzz.cc
Labels: awaiting review, ready to pull, size:M

#61296 Support for jit-ed block reorder on AArch64
  tensorflow/workspace2.bzl
  third_party/mkl_dnn/onednn_acl_reorder_update.patch
Labels: ready to pull, comp:mkl, size:XL

#61171 Set weights to any for matmul and ip oneDNN primitives
  tensorflow/core/kernels/mkl/mkl_batch_matmul_op.cc
  tensorflow/core/kernels/mkl/mkl_matmul_ops_common.h
Labels: awaiting review, ready to pull, comp:mkl, size:M

#61334 [oneDNN] Fix for swish and mish fusion
  tensorflow/core/grappler/optimizers/remapper.cc
Labels: awaiting review, ready to pull, comp:grappler, size:S

#60692 [Tosa] Add legalization of BroadcastTo
  tensorflow/compiler/mlir/tosa/tests/tf-to-tosa-pipeline.mlir
  tensorflow/compiler/mlir/tosa/tests/tfl-to-tosa-pipeline.mlir
  tensorflow/compiler/mlir/tosa/transforms/legalize_common.cc
  tensorflow/compiler/mlir/tosa/transforms/legalize_common.h
  tensorflow/compiler/mlir/tosa/transforms/legalize_tf.cc
  tensorflow/compiler/mlir/tosa/transforms/legalize_tfl.cc
Labels: awaiting review, ready to pull, size:L

#61350 Update to ACL 23.05.1, add ACL reorders
  tensorflow/workspace2.bzl
  third_party/compute_library/BUILD
  third_party/compute_library/acl_fixed_format_kernels_striding.patch
  third_party/compute_library/acl_openmp_fix.patch
  third_party/compute_library/compute_library.patch
  third_party/mkl_dnn/onednn_acl_depthwise_convolution.patch
  third_party/mkl_dnn/onednn_acl_fixed_format_kernels.patch
  third_party/mkl_dnn/onednn_acl_remove_winograd.patch
  third_party/mkl_dnn/onednn_acl_reorder.patch
  third_party/mkl_dnn/onednn_acl_threadpool_scheduler.patch
Labels: awaiting review, ready to pull, comp:mkl, size:XL

#59659 Updated Install libffi7 package step
  tensorflow/lite/examples/minimal/README.md
Labels: awaiting review, comp:lite, ready to pull, size:S

#60413 [oneDNN] Enable bf16 kernels for FusedBatchNormV3
  tensorflow/core/kernels/fused_batch_norm_op.cc
  tensorflow/core/kernels/fused_batch_norm_op_test.cc
  tensorflow/core/kernels/mkl/mkl_conv_ops.cc
  tensorflow/core/kernels/mkl/mkl_tmp_bf16_ops.cc
  tensorflow/python/ops/nn_fused_batchnorm_test.py
Labels: awaiting review, ready to pull, size:S, comp:core

#60851 Simplified tflite::transpose_utils::Flatten function
  tensorflow/lite/kernels/internal/transpose_utils.cc
Labels: comp:lite, ready to pull, size:S

#61339 PR https://github.com/tensorflow/tensorflow/pull/61309: Fix MSVC compile errors
  tensorflow/core/kernels/reduction_gpu_kernels.cu.h
  tensorflow/core/kernels/segment_reduction_ops_gpu.cu.h
  tensorflow/core/util/gpu_kernel_helper.h
Labels: ready to pull, size:S, comp:core

#61387 Limit the version of wrapt to be used to prevent unit test failures
  tensorflow/tools/pip_package/setup.py
Labels: awaiting review, ready to pull, size:XS

#61389 Add TF_PYTHON_VERSION env var to set Python version in macOS arm64 CI
  tensorflow/tools/ci_build/osx/arm64/tensorflow_as_build_nightly.Jenkinsfile
  tensorflow/tools/ci_build/osx/arm64/tensorflow_as_build_release.Jenkinsfile
  tensorflow/tools/ci_build/osx/arm64/tensorflow_as_test_ci.Jenkinsfile
  tensorflow/tools/ci_build/osx/arm64/tensorflow_as_test_nightly.Jenkinsfile
  tensorflow/tools/ci_build/osx/arm64/tensorflow_as_test_release.Jenkinsfile
Labels: awaiting review, ready to pull, size:S

#61365 [oneDNN]: Update oneDNN from v2.7.3 to v3.2 on Linux and Windows x86 builds
  .bazelrc
  tensorflow/BUILD
  tensorflow/compiler/mlir/lite/experimental/tac/py_wrapper/BUILD
  tensorflow/core/common_runtime/mkl_layout_pass.cc
  tensorflow/core/kernels/BUILD
  tensorflow/core/kernels/mkl/mkl_avgpooling_op.cc
  tensorflow/core/kernels/mkl/mkl_maxpooling_op.cc
  tensorflow/core/kernels/mkl/mkl_pooling_ops_common.cc
  tensorflow/core/kernels/mkl/mkl_qmatmul_op.cc
  tensorflow/core/kernels/mkl/mkl_quantized_conv_ops_perchannel_test.cc
  tensorflow/core/kernels/mkl/mkl_relu_op.cc
  tensorflow/core/kernels/mkl/mkl_relu_op_test.cc
  tensorflow/core/util/mkl_util_test.cc
  tensorflow/python/BUILD
  tensorflow/tensorflow.bzl
  tensorflow/tsl/BUILD
  tensorflow/tsl/framework/contraction/BUILD
  tensorflow/tsl/mkl/build_defs.bzl
  tensorflow/tsl/tsl.bzl
  tensorflow/workspace2.bzl
  third_party/mkl_dnn/BUILD
  third_party/mkl_dnn/build_defs.bzl
  third_party/mkl_dnn/mkldnn_v1.BUILD
Labels: awaiting review, ready to pull, comp:mkl, size:L

#61176 Fix aligned alloc feature condition on C++14 compiler
  tensorflow/lite/core/interpreter_builder.cc
  tensorflow/lite/kernels/internal/optimized/neon_tensor_utils.cc
Labels: awaiting review, comp:lite, ready to pull, size:XS, prtype:bugfix

#61384 [Linaro:ARM_CI] Reduce number of jobs run in parallel for testing
  tensorflow/tools/ci_build/rel/ubuntu/cpu_arm64_nonpip.sh
  tensorflow/tools/ci_build/rel/ubuntu/cpu_arm64_pip.sh
Labels: ready to pull, size:XS

#56813 [oneDNN] Add 3D support to layout optimizer
  tensorflow/core/grappler/optimizers/generic_layout_optimizer_test.cc
  tensorflow/core/grappler/optimizers/generic_layout_optimizer_transposer.cc
  tensorflow/core/grappler/optimizers/generic_layout_optimizer_transposer.h
  tensorflow/core/grappler/optimizers/generic_layout_optimizer_transposer_factory.cc
Labels: awaiting review, ready to pull, comp:grappler, size:M

#60436 [oneDNN][BUG FIX] Fix to mkl_eager_op_rewrite_test
  tensorflow/core/common_runtime/eager/mkl_eager_op_rewrite_test.cc
Labels: awaiting review, ready to pull, comp:mkl, size:XS

#61391 [oneDNN] Making hash map allocation a unique_ptr
  tensorflow/core/graph/mkl_graph_util.h
Labels: awaiting review, ready to pull, comp:mkl, size:XS

#61385 curl upgrade to 8.1.2
  tensorflow/workspace2.bzl
  third_party/curl.BUILD
Labels: ready to pull, size:S

#61417 Fix comments in .bazelrc
  .bazelrc
Labels: ready to pull, size:XS

#61414 [Linaro:ARM_CI] Retry flaky tests on AARCH64 as temp measure
  tensorflow/tools/ci_build/rel/ubuntu/cpu_arm64_nonpip.sh
  tensorflow/tools/ci_build/rel/ubuntu/cpu_arm64_pip.sh
Labels: ready to pull, size:XS

#61412 [FTLite] Fix pthreadpool CMake integration
  tensorflow/lite/CMakeLists.txt
  tensorflow/lite/g3doc/guide/build_cmake.md
Labels: awaiting review, comp:lite, ready to pull, size:S

#61413 [Linaro:ARM_CI] Stop using python venv for building and testing
  tensorflow/tools/ci_build/rel/ubuntu/cpu_arm64_nonpip.sh
  tensorflow/tools/ci_build/rel/ubuntu/cpu_arm64_pip.sh
Labels: ready to pull, size:S

#61415 Increase gemm rewrite tests tolerance
  tensorflow/compiler/xla/service/gpu/tests/gemm_rewrite_test.cc
Labels: ready to pull, comp:xla, size:XS

#60353 Make oneDNN ACL default on Neoverse V1 cores
  tensorflow/core/util/port.cc
Labels: ready to pull, size:M, comp:core

#61400 [NVIDIA TF] Avoid nullptr as row offsets to cusparseCreateCsr when rows != 0
  tensorflow/core/kernels/sparse/sparse_mat_mul_op.cc
Labels: awaiting review, ready to pull, size:XS, comp:core

#61418 Target Monterey (12.0) as the minimum compatible os for arm64 wheels
  tensorflow/tools/ci_build/osx/arm64/.macos.bazelrc
Labels: awaiting review, ready to pull, size:S

#60807 FP8 Convolutions in XLA
  tensorflow/compiler/xla/mlir_hlo/lhlo_gpu/IR/lhlo_gpu_ops.td
  tensorflow/compiler/xla/service/gpu/BUILD
  tensorflow/compiler/xla/service/gpu/backend_configs.proto
  tensorflow/compiler/xla/service/gpu/buffer_comparator.cc
  tensorflow/compiler/xla/service/gpu/buffer_comparator_test.cc
  tensorflow/compiler/xla/service/gpu/conv_algorithm_picker.cc
  tensorflow/compiler/xla/service/gpu/conv_algorithm_picker.h
  tensorflow/compiler/xla/service/gpu/conv_layout_normalization.cc
  tensorflow/compiler/xla/service/gpu/convolution_thunk.cc
  tensorflow/compiler/xla/service/gpu/convolution_thunk.h
  tensorflow/compiler/xla/service/gpu/cublas_cudnn.cc
  tensorflow/compiler/xla/service/gpu/cublas_cudnn.h
  tensorflow/compiler/xla/service/gpu/cudnn_fused_conv_rewriter.cc
  tensorflow/compiler/xla/service/gpu/cudnn_fused_conv_rewriter_test.cc
  tensorflow/compiler/xla/service/gpu/cudnn_pad_for_convolutions.cc
  tensorflow/compiler/xla/service/gpu/gpu_conv_padding_legalization.cc
  tensorflow/compiler/xla/service/gpu/gpu_conv_runner.cc
  tensorflow/compiler/xla/service/gpu/gpu_conv_runner.h
  tensorflow/compiler/xla/service/gpu/gpu_layout_assignment.cc
  tensorflow/compiler/xla/service/gpu/gpu_layout_assignment_test.cc
  tensorflow/compiler/xla/service/gpu/ir_emitter_unnested.cc
  tensorflow/compiler/xla/service/gpu/runtime/conv.h
  tensorflow/compiler/xla/service/gpu/stream_executor_util.cc
  tensorflow/compiler/xla/service/layout_assignment.cc
  tensorflow/compiler/xla/stream_executor/cuda/cuda_dnn.cc
  tensorflow/compiler/xla/stream_executor/cuda/cuda_dnn.h
  tensorflow/compiler/xla/stream_executor/dnn.cc
  tensorflow/compiler/xla/stream_executor/dnn.h
  tensorflow/compiler/xla/stream_executor/lazy_op_runner.h
  tensorflow/compiler/xla/stream_executor/stream.h
  tensorflow/compiler/xla/stream_executor/stream_executor_pimpl.cc
  tensorflow/compiler/xla/stream_executor/stream_executor_pimpl.h
  tensorflow/compiler/xla/translate/mhlo_to_lhlo_with_xla/mhlo_to_lhlo_with_xla.cc
  tensorflow/core/kernels/conv_ops_gpu.cc
  tensorflow/tsl/protobuf/dnn.proto
Labels: awaiting review, ready to pull, comp:xla, size:XL

#61416 Update the task library version in the examples
  tensorflow/lite/g3doc/inference_with_metadata/task_library/audio_classifier.md
  tensorflow/lite/g3doc/inference_with_metadata/task_library/bert_nl_classifier.md
  tensorflow/lite/g3doc/inference_with_metadata/task_library/bert_question_answerer.md
  tensorflow/lite/g3doc/inference_with_metadata/task_library/image_searcher.md
  tensorflow/lite/g3doc/inference_with_metadata/task_library/nl_classifier.md
  tensorflow/lite/g3doc/inference_with_metadata/task_library/text_searcher.md
Labels: awaiting review, comp:lite, ready to pull, size:S

#60319 [NVIDIA XLA] FP8 Matmul BiasAdd fusion for high rank input
  tensorflow/compiler/xla/service/gpu/gemm_rewriter.cc
  tensorflow/compiler/xla/service/gpu/tests/gemm_rewrite_test.cc
Labels: awaiting review, ready to pull, comp:xla, size:M

#61399 [TFLite] Fix FlatBuffers package name in installed CMake files
  tensorflow/lite/tools/cmake/tensorflow-liteConfig.cmake.in
Labels: awaiting review, comp:lite, ready to pull, size:XS

#60898 [tosa] legalize matmul with quantized output
  tensorflow/compiler/mlir/tosa/tests/tfl-to-tosa-pipeline.mlir
  tensorflow/compiler/mlir/tosa/transforms/legalize_tfl.cc
Labels: awaiting review, size:M

#61428 Fix unable to find lit module for xla unit tests
  tensorflow/compiler/xla/glob_lit_test.bzl
Labels: awaiting review, ready to pull, comp:xla, size:XS
