Repository tensorflow/tensorflow, pull requests merged in 2024-04, with the labels that each got.

#63995 Update the Configure.py to set CLANG as compiler
  configure.py
Labels: awaiting review, ready to pull, size:S

#63398 Fix checkfail in UnicodeEncode Op
  tensorflow/core/kernels/unicode_ops.cc
Labels: ready to pull, size:XS, comp:core

#62624 Fixed typo in text_searcher tflite docs
  tensorflow/lite/g3doc/models/modify/model_maker/text_searcher.ipynb
Labels: comp:lite, ready to pull, size:XS

#65476 [oneDNN] Removed deprecated oneDNN ops
  tensorflow/core/BUILD
  tensorflow/core/common_runtime/mkl_layout_pass.cc
  tensorflow/core/kernels/mkl/BUILD
  tensorflow/core/kernels/mkl/mkl_deprecated_ops.cc
  tensorflow/core/ops/array_ops.cc
  tensorflow/core/ops/math_ops.cc
  tensorflow/core/ops/nn_ops.cc
Labels: awaiting review, ready to pull, size:L

#63344 Fix Checkfail in MatrixDiagV3
  tensorflow/core/kernels/linalg/matrix_diag_op.cc
Labels: ready to pull, size:S, prtype:bugfix, comp:core

#65726 Fix check fail in crop_and_resize_op
  tensorflow/core/kernels/image/crop_and_resize_op.cc
Labels: awaiting review, ready to pull, size:XS, prtype:bugfix, comp:core

#58818 Support string custom attributes
  tensorflow/compiler/mlir/lite/tests/prepare-composite-functions-tf.mlir
  tensorflow/compiler/mlir/lite/transforms/prepare_composite_functions_tf.cc
Labels: awaiting review, comp:lite, ready to pull, size:XS

#65538 [oneDNN] Remove MKL blocked format test code
  tensorflow/core/grappler/costs/graph_properties_test.cc
  tensorflow/core/util/mkl_util_test.cc
Labels: awaiting review, ready to pull, size:S, comp:core

#64520 [TF-XLA:CPU][oneDNN] Disable grappler remapper fusions on TF->XLA CPU JIT compilation
  tensorflow/core/grappler/optimizers/remapper.cc
  tensorflow/core/grappler/optimizers/remapper_test.cc
Labels: awaiting review, ready to pull, comp:grappler, size:M
