Repository tensorflow/tensorflow, pull requests merged in 2024-07, with the labels that each got.

#62310 [tosa] legalize tfl.fully_connected to tosa.conv2d
  tensorflow/compiler/mlir/tosa/tests/tfl-to-tosa-pipeline-filtered.mlir
  tensorflow/compiler/mlir/tosa/tests/tfl-to-tosa-pipeline.mlir
  tensorflow/compiler/mlir/tosa/transforms/legalize_tfl.cc
Labels: awaiting review, ready to pull, size:M

#63850 update cpuinfo
  tensorflow/lite/tools/cmake/modules/cpuinfo.cmake
  tensorflow/workspace2.bzl
Labels: comp:lite, ready to pull, size:XS

#64660 Fixed typos in TFLite metadata_writer_tutorial.ipynb
  tensorflow/lite/g3doc/models/convert/metadata_writer_tutorial.ipynb
Labels: awaiting review, comp:lite, ready to pull, size:S

#67557 Remove null pointer from error message
  tensorflow/compiler/mlir/lite/stablehlo/transforms/compose_uniform_quantized_type_pass.cc
Labels: awaiting review, comp:lite, ready to pull, size:XS, prtype:bugfix

#70959 fix: remove distutils leftovers
  tensorflow/api_template.__init__.py
  tensorflow/lite/python/convert.py
Labels: comp:lite, ready to pull, size:S, prtype:bugfix

#63359 Fix SegFault in Python InterpreterWrapper
  tensorflow/lite/python/interpreter_wrapper/interpreter_wrapper.cc
Labels: awaiting review, comp:lite, ready to pull, size:XS, prtype:bugfix

#64028 Fixed typos in post_training_quant.ipynb
  tensorflow/lite/g3doc/performance/post_training_quant.ipynb
Labels: awaiting review, comp:lite, ready to pull, size:S

#71976 Improve load time on serialized entries.
  tensorflow/lite/delegates/serialization.cc
Labels: awaiting review, comp:lite, ready to pull, size:S

#68866 Fixed description of num_threads in `tf.lite.interpreter` doc
  tensorflow/lite/python/interpreter.py
Labels: comp:lite, ready to pull, size:XS

#67635 Change kMaxDims value to TFLITE_STABLEHLO_PAD_PARAMS_MAX_DIMENSION_COUNT to avoid buffer size mismatch in tensorflow/lite/kernels/stablehlo_pad.cc
  tensorflow/lite/kernels/stablehlo_pad.cc
Labels: awaiting review, comp:lite, ready to pull, size:XS

#69756 Updated tensorflow/tensorflow/lite/python/lite.py with grammatical a…
  tensorflow/lite/python/lite.py
Labels: comp:lite, ready to pull, size:M

#72617 Enable quantized Argmin for toco
  tensorflow/lite/toco/graph_transformations/quantize.cc
Labels: comp:lite, ready to pull, size:XS

#65125 Updated on-device-training overview.ipynb
  tensorflow/lite/g3doc/examples/on_device_training/overview.ipynb
Labels: awaiting review, comp:lite, ready to pull, size:S
