Repository tensorflow/tensorflow, pull requests merged in 2024-01, with the labels that each got.

#62591 Add float16 inference option for TFLite benchmark app
  tensorflow/lite/tools/benchmark/README.md
  tensorflow/lite/tools/benchmark/benchmark_performance_options.cc
  tensorflow/lite/tools/benchmark/experimental/delegate_performance/android/src/main/native/latency_benchmark.cc
  tensorflow/lite/tools/delegates/README.md
  tensorflow/lite/tools/delegates/xnnpack_delegate_provider.cc
  tensorflow/lite/tools/evaluation/evaluation_delegate_provider.cc
  tensorflow/lite/tools/evaluation/utils.cc
  tensorflow/lite/tools/evaluation/utils.h
Labels: comp:lite, ready to pull, size:S

#60797 TFLITE fix inconsistencies in using std/absl for variant/any_cast functions.
  tensorflow/lite/delegates/gpu/api.h
  tensorflow/lite/delegates/gpu/common/operations.h
  tensorflow/lite/delegates/gpu/common/selectors/operation_selector.cc
  tensorflow/lite/delegates/gpu/gl/object.h
  tensorflow/lite/delegates/gpu/gl/variable.h
  tensorflow/lite/kernels/shim/tensor_view.h
  tensorflow/lite/kernels/shim/tflite_op_wrapper.h
Labels: comp:lite, ready to pull, size:S

#62682 [AMD-ZENDNN] Enable CPU allocator for plugin
  tensorflow/core/common_runtime/threadpool_device.cc
Labels: ready to pull, size:XS, comp:core

#62720 Fix grammar inside `tensorflow/python/ops/script_ops.py` docstrings documentation.
  tensorflow/python/ops/script_ops.py
Labels: ready to pull, size:S

#62748 fixed multiple spelling errors
  tensorflow/examples/custom_ops_doc/sleep/README.md
Labels: ready to pull, size:S

#62768 Fixing a small typo
  tensorflow/python/data/ops/dataset_ops.py
Labels: ready to pull, comp:data, size:XS, prtype:bugfix

#60585 [oneDNN] Make cross_entropy calculations parallel on CPU
  tensorflow/core/kernels/xent_op.cc
Labels: stat:awaiting response, ready to pull, size:M, comp:core

#62724 [AMD-ZENDNN] Remove Zen layout pass from TF Proper
  tensorflow/core/common_runtime/BUILD
  tensorflow/core/common_runtime/eager/zen_eager_op_rewrite.cc
  tensorflow/core/common_runtime/zen_layout_pass.cc
  tensorflow/core/util/BUILD
  tensorflow/core/util/zen_util.h
Labels: awaiting review, ready to pull, size:XL, comp:core

#61841 add empty file test cases to utils_test.cc
  tensorflow/lite/tools/evaluation/utils_test.cc
Labels: awaiting review, comp:lite, ready to pull, size:S

#62791 fixed typo
  CONTRIBUTING.md
Labels: ready to pull, size:XS

#62734 Add a caution note for embedding_lookup for CPU vs GPU behaviour
  tensorflow/python/ops/embedding_ops.py
Labels: awaiting review, ready to pull, comp:ops, size:XS

#62813 Show a bit more work in custom_gradient docstring
  tensorflow/python/ops/custom_gradient.py
Labels: awaiting review, ready to pull, comp:ops, size:XS

#59465 [OneDNN] Optimize unsorted segment sum on 1 dim
  tensorflow/core/kernels/segment_reduction_ops_impl.h
Labels: awaiting review, ready to pull, size:S, comp:core

#62646 [oneDNN] Changes to add non-blocked weights
  tensorflow/core/kernels/mkl/mkl_conv_ops.cc
Labels: awaiting review, ready to pull, comp:mkl, size:S

#62819 [oneDNN][Bug Fix]Fix a pooling ops primitive caching problem
  tensorflow/core/kernels/mkl/mkl_pooling_ops_common.h
Labels: awaiting review, ready to pull, comp:mkl, size:XS

#62812 [oneDNN]: Added fp16 support for some training ops
  tensorflow/core/grappler/optimizers/remapper.cc
  tensorflow/core/ops/mkl_nn_ops.cc
  tensorflow/core/ops/nn_ops.cc
Labels: awaiting review, ready to pull, size:S, comp:core

#61208 Fix: Define iOS Symbol List in Bazel to Avoid Linker Crash on Tflite Build
  tensorflow/lite/BUILD
Labels: comp:lite, ready to pull, size:XS

#62619 [oneDNN]: Added support for quantized types in Enter and Exit ops on CPU
  tensorflow/core/kernels/control_flow_ops.cc
  tensorflow/core/kernels/control_flow_ops_test.cc
Labels: awaiting review, ready to pull, size:XS, prtype:bugfix, comp:core

#62844 [ROCm] Tensorflow build fixes
  tensorflow/compiler/mlir/tools/kernel_gen/tf_gpu_runtime_wrappers.cc
  tensorflow/compiler/mlir/tools/kernel_gen/transforms/gpu_kernel_to_blob_pass.cc
Labels: ready to pull, comp:gpu, size:XS

#62874 Include missing tsl/xla folders on Windows
  tensorflow/tools/pip_package/setup.py
Labels: ready to pull, size:XS

#62851 [TFLite] Add check in Softmax reference function to ensure exponent is within valid range
  tensorflow/lite/kernels/internal/reference/softmax.h
Labels: awaiting review, comp:lite, ready to pull, size:XS
