Repository tensorflow/tensorflow, pull requests merged in 2024-05, with the labels that each got.

#61773 [oneDNN] Remove StopGradient op seen in some LayerNorm patterns
  tensorflow/python/framework/graph_util_impl.py
Labels: ready to pull, size:XS

#62750 Implement sampled addmm
  tensorflow/python/ops/BUILD
  tensorflow/python/ops/math_ops.py
  tensorflow/python/ops/math_ops_test.py
  tensorflow/tools/api/golden/v2/tensorflow.sparse.pbtxt
Labels: awaiting review, ready to pull, comp:ops, size:M

#44950 [oneDNN] Fuse group of primitive ops for batch normalization to Fu…
  tensorflow/python/tools/BUILD
  tensorflow/python/tools/optimize_for_inference.py
  tensorflow/python/tools/optimize_for_inference_lib.py
  tensorflow/python/tools/optimize_for_inference_test.py
Labels: cla: yes, kokoro:force-run, ready to pull, comp:mkl, size:M

#66087 [oneDNN] Quantized MatMul with new API and features
  tensorflow/core/kernels/mkl/BUILD
  tensorflow/core/kernels/mkl/mkl_fused_ops_test.cc
  tensorflow/core/kernels/mkl/mkl_kernel_util.cc
  tensorflow/core/kernels/mkl/mkl_kernel_util.h
  tensorflow/core/kernels/mkl/mkl_matmul_op_fused.cc
  tensorflow/core/kernels/mkl/mkl_matmul_ops_common.h
  tensorflow/core/kernels/mkl/mkl_qmatmul_op.cc
  tensorflow/core/kernels/mkl/mkl_qmatmul_op_test.cc
  tensorflow/core/kernels/mkl/onednn_fused_matmul_ops_test.cc
  tensorflow/core/ops/mkl_nn_ops.cc
Labels: awaiting review, ready to pull, comp:mkl, size:XL

#66023 [oneDNN] Add accidentally removed ops back to MklList for auto_mixed_precision
  tensorflow/core/grappler/optimizers/auto_mixed_precision_lists.h
Labels: awaiting review, ready to pull, comp:grappler, size:XS

#67751 [onednn CPU] Update onednn mkl bf16 lists
  tensorflow/core/grappler/optimizers/auto_mixed_precision_lists.h
Labels: awaiting review, ready to pull, comp:grappler, size:XS

#65936 Fix checkfail in GatherV2
  tensorflow/core/kernels/gather_op.cc
Labels: awaiting review, ready to pull, size:XS, prtype:bugfix, comp:core
