Repository tensorflow/tensorflow, pull requests merged in 2024-03, with the labels that each got.

#63105 Fix checkfail in tf.raw_ops.DrawBoundingBoxesV2
  tensorflow/core/kernels/image/draw_bounding_box_op.cc
Labels: ready to pull, size:XS, comp:core

#62990 validate batch_size arg of tf.raw_ops.RecordInput
  tensorflow/core/kernels/record_input_op.cc
Labels: awaiting review, ready to pull, size:XS, prtype:bugfix, comp:core

#62684 Fix protobuf errors when using system protobuf
  tensorflow/api_template.__init__.py
Labels: awaiting review, ready to pull, size:XS

#61693 Update SignatureRunner support information for C API
  tensorflow/lite/g3doc/guide/signatures.ipynb
Labels: comp:lite, ready to pull, size:XS

#63122 shlo_ref: Add status matchers
  tensorflow/lite/experimental/shlo/BUILD
  tensorflow/lite/experimental/shlo/dispatch_test.cc
  tensorflow/lite/experimental/shlo/ops/BUILD
  tensorflow/lite/experimental/shlo/ops/is_finite_test.cc
  tensorflow/lite/experimental/shlo/status_matcher.h
Labels: awaiting review, comp:lite, ready to pull, size:M

#63110 Update Python example of matrix_diag from Tf1.x to TF2.x
  tensorflow/python/ops/array_ops.py
Labels: awaiting review, ready to pull, comp:ops, size:S

#63129 shlo_ref: Add -llog linkopt on Android builds
  tensorflow/lite/experimental/shlo/BUILD
  tensorflow/lite/experimental/shlo/build_def.bzl
  tensorflow/lite/experimental/shlo/ops/BUILD
Labels: awaiting review, ready to pull, size:S

#63124 [ARM_CI:Linaro] Add Python 3.12 to build list in Actions
  .github/workflows/arm-cd.yml
  .github/workflows/arm-ci-extended.yml
Labels: ready to pull, size:S

#63101 Fix checkfail in Conv2DBackpropFilter
  tensorflow/core/kernels/conv_grad_filter_ops.cc
Labels: ready to pull, size:XS, prtype:bugfix, comp:core

#63092 Fix checkfail in tf.raw_ops.UnravelIndex
  tensorflow/core/kernels/unravel_index_op.cc
Labels: ready to pull, size:XS, comp:core

#63131 Update 'inputCount' as 'outputCount' in the output tensor for loop in experimental Unity Plugin HelloTFLite.cs Sample Code
  tensorflow/lite/experimental/examples/unity/TensorFlowLitePlugin/Assets/TensorFlowLite/Examples/HelloTFLite/Scripts/HelloTFLite.cs
Labels: awaiting review, comp:lite, ready to pull, size:XS

#63125 Update serialization.cc - std::ofstream needs a binary flag for win32
  tensorflow/lite/delegates/serialization.cc
Labels: comp:lite, ready to pull, size:XS

#63203 [Linaro:ARM_CI] Need to use correct Python lib path
  tensorflow/tools/ci_build/rel/ubuntu/cpu_arm64_test.sh
  tensorflow/tools/ci_build/rel/ubuntu/cpu_arm64_test_build.sh
  tensorflow/tools/ci_build/rel/ubuntu/cpu_arm64_test_cpp.sh
Labels: ready to pull, size:S

#63204 [Linaro:ARM_CI] Update docker container for AARCH64
  tensorflow/tools/ci_build/Dockerfile.cpu.arm64
Labels: ready to pull, size:XS

#63088 Fix check fail in SparseApplyAdaDelta Op
  tensorflow/core/ops/training_ops.cc
Labels: ready to pull, size:XS, comp:core

#63182 [Linaro:ARM_CI] Update to new wheel target
  tensorflow/tools/ci_build/rel/ubuntu/cpu_arm64_test_build.sh
Labels: ready to pull, size:XS

#63424 Typo and Grammatical changes in data_flow_ops.py
  tensorflow/python/ops/data_flow_ops.py
Labels: awaiting review, ready to pull, comp:ops, size:XS

#63565 shlo_ref: Fix OSS and Android builds
  tensorflow/lite/experimental/shlo/ops/BUILD
  tensorflow/lite/experimental/shlo/ops/abs_test.cc
  tensorflow/lite/experimental/shlo/ops/cbrt_test.cc
  tensorflow/lite/experimental/shlo/ops/ceil_test.cc
  tensorflow/lite/experimental/shlo/ops/unary_elementwise_test.cc
  tensorflow/lite/experimental/shlo/ops/util_test.cc
  tensorflow/lite/experimental/shlo/quantized_tensor_element_type.h
Labels: awaiting review, comp:lite, ready to pull, size:S

#62647 [oneDNN] Relaxed constraints for control input/output check in the pattern matcher
  tensorflow/core/grappler/optimizers/remapper.cc
  tensorflow/core/grappler/optimizers/remapper_test.cc
  tensorflow/core/grappler/utils/pattern_utils.cc
Labels: awaiting review, ready to pull, comp:grappler, size:M

#63288 Fix checkfail in QuantizedConv2D with invalid input shape dimensions
  tensorflow/core/kernels/quantized_conv_ops.cc
Labels: ready to pull, size:XS, comp:core

#63619 [Linaro:ARM_CI] Fix typo PACAKGES to PACKAGES
  tensorflow/tools/ci_build/rel/ubuntu/cpu_arm64_test.sh
  tensorflow/tools/ci_build/rel/ubuntu/cpu_arm64_test_build.sh
  tensorflow/tools/ci_build/rel/ubuntu/cpu_arm64_test_cpp.sh
Labels: ready to pull, size:XS

#62020 【Go】remove ioutil pkg
  tensorflow/go/example_inception_inference_test.go
  tensorflow/go/genop/internal/genop.go
  tensorflow/go/genop/main.go
Labels: awaiting review, ready to pull, size:S

#63954 [Linaro:ARM_CI] Fix Python 3.12 ARM_CD builds
  tensorflow/tools/ci_build/rel/ubuntu/cpu_arm64_test_build.sh
Labels: ready to pull, size:XS

#63091 Fix checkfail in tf.raw_ops.Substr
  tensorflow/core/kernels/substr_op.cc
Labels: stat:awaiting response, ready to pull, size:XS, comp:core

#64038 Remove missing `cuda.h` header from `mat_mul_op.cc`
  tensorflow/core/kernels/sparse/mat_mul_op.cc
Labels: awaiting review, ready to pull, size:XS

#64021 Fix typo in [png_io.h]
  tensorflow/core/lib/png/png_io.h
Labels: ready to pull, size:XS, comp:core

#64155 Update lifetime of a PR diagram image
  CONTRIBUTING.md
Labels: ready to pull, size:XS

#63950 Bounding box coordinates terminology updated in detection_postprocess.cc
  tensorflow/lite/kernels/detection_postprocess.cc
Labels: awaiting review, comp:lite, ready to pull, size:XS, prtype:bugfix

#63114 Fix checkfail in raw_ops.DenseBincount
  tensorflow/core/kernels/bincount_op.cc
  tensorflow/core/ops/math_ops.cc
Labels: ready to pull, comp:ops, size:XS, prtype:bugfix

#64539 shlo_ref: Add doc links for contributing & iOS
  tensorflow/lite/experimental/shlo/README.md
Labels: awaiting review, ready to pull, size:S

#64619 shlo_ref: Disable legacy code build
  tensorflow/lite/experimental/shlo/legacy/BUILD
  tensorflow/lite/experimental/shlo/legacy/bench/BUILD
  tensorflow/lite/experimental/shlo/legacy/test/BUILD
Labels: awaiting review, ready to pull, size:S

#64567 Additional overflow test for sobol_sample
  tensorflow/python/ops/sobol_ops_test.py
Labels: ready to pull, comp:ops, size:S, prtype:bugfix

#64633 shlo_ref: Move template specializations
  tensorflow/lite/experimental/shlo/ops/cbrt.cc
  tensorflow/lite/experimental/shlo/ops/cbrt_test.cc
  tensorflow/lite/experimental/shlo/ops/ceil.cc
  tensorflow/lite/experimental/shlo/ops/ceil_test.cc
  tensorflow/lite/experimental/shlo/ops/cosine.cc
  tensorflow/lite/experimental/shlo/ops/cosine_test.cc
  tensorflow/lite/experimental/shlo/ops/exponential.cc
  tensorflow/lite/experimental/shlo/ops/exponential_minus_one.cc
  tensorflow/lite/experimental/shlo/ops/exponential_minus_one_test.cc
  tensorflow/lite/experimental/shlo/ops/exponential_test.cc
  tensorflow/lite/experimental/shlo/ops/floor.cc
  tensorflow/lite/experimental/shlo/ops/floor_test.cc
  tensorflow/lite/experimental/shlo/ops/log.cc
  tensorflow/lite/experimental/shlo/ops/log_plus_one.cc
  tensorflow/lite/experimental/shlo/ops/log_plus_one_test.cc
  tensorflow/lite/experimental/shlo/ops/log_test.cc
  tensorflow/lite/experimental/shlo/ops/logistic.cc
  tensorflow/lite/experimental/shlo/ops/logistic_test.cc
  tensorflow/lite/experimental/shlo/ops/not.cc
  tensorflow/lite/experimental/shlo/ops/not_test.cc
  tensorflow/lite/experimental/shlo/ops/sign.cc
  tensorflow/lite/experimental/shlo/ops/sign_test.cc
  tensorflow/lite/experimental/shlo/ops/sine.cc
  tensorflow/lite/experimental/shlo/ops/sine_test.cc
  tensorflow/lite/experimental/shlo/ops/sqrt.cc
  tensorflow/lite/experimental/shlo/ops/sqrt_test.cc
  tensorflow/lite/experimental/shlo/ops/tanh.cc
  tensorflow/lite/experimental/shlo/ops/tanh_test.cc
Labels: awaiting review, comp:lite, ready to pull, size:L
