Repository tensorflow/tensorflow, pull requests merged in 2024-02, with the labels that each got.

#62870 Correct tag to exclude on AARCH64 to be no_aarch64
  tensorflow/core/kernels/BUILD
Labels: awaiting review, ready to pull, size:XS, comp:core

#62152 Add threadpool threadcap for AArch64 builds
  third_party/xla/third_party/tsl/tsl/platform/default/BUILD
  third_party/xla/third_party/tsl/tsl/platform/threadpool.cc
Labels: awaiting review, ready to pull, comp:xla, size:XS

#62879 [oneDNN] Fix macro titles in TF CPU feature guard
  tensorflow/core/platform/cpu_feature_guard.cc
Labels: awaiting review, ready to pull, size:S, comp:core

#58204 [oneDNN] Quantized batch-matmul and fusions
  tensorflow/core/kernels/mkl/BUILD
  tensorflow/core/kernels/mkl/mkl_batch_matmul_op.cc
  tensorflow/core/kernels/mkl/mkl_einsum_op.cc
  tensorflow/core/kernels/mkl/mkl_kernel_util.cc
  tensorflow/core/kernels/mkl/mkl_kernel_util.h
  tensorflow/core/kernels/mkl/mkl_matmul_ops_common.h
  tensorflow/core/kernels/mkl/onednn_fused_batchmatmul_op_test.cc
  tensorflow/core/ops/mkl_nn_ops.cc
Labels: awaiting review, ready to pull, comp:mkl, size:L

#62887 Multiple func definitions with TFLITE_SINGLE_ROUNDING
  tensorflow/lite/kernels/internal/common.cc
  tensorflow/lite/kernels/internal/common.h
Labels: awaiting review, comp:lite, ready to pull, size:M

#62904 Clang on Windows and Keras 3.0 Updates
  RELEASE.md
Labels: ready to pull, size:S

#62897 Skip those parts of tests that do not pass on AARCH64
  tensorflow/core/grappler/optimizers/mkl_remapper_test.cc
  tensorflow/core/grappler/optimizers/remapper_test.cc
Labels: awaiting review, ready to pull, comp:grappler, size:S, prtype:bugfix

#62390 TFLite GPU: Remove all 16-component vectors
  tensorflow/lite/delegates/gpu/cl/cl_operation.cc
  tensorflow/lite/delegates/gpu/common/task/buffer_desc.cc
  tensorflow/lite/delegates/gpu/common/tasks/convolution_transposed.cc
  tensorflow/lite/delegates/gpu/common/tasks/convolution_transposed.h
  tensorflow/lite/delegates/gpu/common/tasks/fully_connected.cc
  tensorflow/lite/delegates/gpu/common/tasks/fully_connected.h
  tensorflow/lite/delegates/gpu/common/tasks/special/fc_fc_add.cc
  tensorflow/lite/delegates/gpu/common/tasks/special/fc_fc_add.h
  tensorflow/lite/delegates/gpu/metal/compute_task.cc
Labels: awaiting review, comp:lite, ready to pull, size:M

#62919 [Linaro:ARM_CI] Update checkout action
  .github/workflows/arm-cd.yml
  .github/workflows/arm-ci-extended-cpp.yml
  .github/workflows/arm-ci-extended.yml
  .github/workflows/arm-ci.yml
Labels: ready to pull, size:S

#62921 Do not rely on string conversion of anonymous namespace
  tensorflow/compiler/mlir/lite/debug/debug_test.cc
  tensorflow/compiler/mlir/quantization/tensorflow/debugging/mlir_dump_test.cc
Labels: awaiting review, comp:lite, ready to pull, size:S

#62936 Fix native Flatbuffers build
  tensorflow/lite/tools/cmake/native_tools/flatbuffers/CMakeLists.txt
Labels: awaiting review, comp:lite, ready to pull, size:XS

#62934 Enable external delegate for the label_image example
  tensorflow/lite/examples/label_image/CMakeLists.txt
Labels: awaiting review, comp:lite, ready to pull, size:XS

#62943 🐛 fix undefined symbols (TensorFlowLiteCMetal)
  tensorflow/lite/ios/allowlist_TensorFlowLiteCMetal.txt
Labels: awaiting review, comp:lite, ready to pull, size:XS

#62993 Avoid deprecated `std::iterator`
  tensorflow/core/graph/graph.h
Labels: awaiting review, ready to pull, size:S, comp:core

#63011 [Linaro:ARM_CI] Tests now pass
  tensorflow/tools/ci_build/build_scripts/ARM_SKIP_TESTS_EXTENDED.sh
Labels: ready to pull, size:XS

#63049 Define BUILD_NUM_JOBS in TFLite Cmake script to prevent crash
  tensorflow/lite/tools/pip_package/build_pip_package_with_cmake.sh
Labels: awaiting review, comp:lite, ready to pull, size:XS

#63059 [oneDNN] Adding a check to verify if gamma and beta are Const
  tensorflow/core/grappler/optimizers/remapper.cc
Labels: awaiting review, ready to pull, comp:grappler, size:XS

#63060 Fixing the typos, repetitions in interpreter.py
  tensorflow/lite/python/interpreter.py
Labels: awaiting review, comp:lite, ready to pull, size:S

#63083 Prevent out of scope access when clearing an object
  tensorflow/python/client/tf_session_wrapper.cc
Labels: ready to pull, size:S

#62997 Fix typos in multiple files
  tensorflow/compiler/tests/async_comp_test.py
  tensorflow/compiler/tests/ftrl_test.py
  tensorflow/compiler/tests/giant_const_op_test.py
  tensorflow/compiler/tests/matrix_triangular_solve_op_test.py
  tensorflow/compiler/tests/randomized_tests.cc
  tensorflow/compiler/tests/unary_ops_test.py
  tensorflow/compiler/tests/xla_call_module_test.py
  tensorflow/compiler/tests/xla_test.py
  tensorflow/compiler/tf2tensorrt/convert/algorithm_selector.cc
  tensorflow/compiler/tf2tensorrt/convert/algorithm_selector.h
  tensorflow/compiler/tf2tensorrt/convert/convert_nodes.cc
  tensorflow/compiler/tf2tensorrt/convert/convert_nodes.h
  tensorflow/compiler/tf2tensorrt/convert/convert_nodes_test.cc
  tensorflow/compiler/tf2tensorrt/convert/op_converter_registry.cc
  tensorflow/compiler/tf2tensorrt/convert/ops/einsum.cc
  tensorflow/compiler/tf2tensorrt/convert/ops/layer_utils.h
  tensorflow/compiler/tf2tensorrt/convert/ops/quantization_ops_test.cc
  tensorflow/compiler/tf2tensorrt/convert/ops/slice_ops.cc
  tensorflow/compiler/tf2tensorrt/convert/utils.h
  tensorflow/compiler/tf2tensorrt/kernels/trt_engine_resource_ops_test.cc
  tensorflow/compiler/tf2tensorrt/segment/segment.cc
  tensorflow/compiler/tf2tensorrt/segment/segment_test.cc
  tensorflow/compiler/tf2tensorrt/segment/union_find.h
  tensorflow/compiler/tf2tensorrt/trt_convert_api.cc
  tensorflow/compiler/tf2tensorrt/trt_convert_api.h
  tensorflow/compiler/tf2tensorrt/trt_convert_api_test.cc
  tensorflow/compiler/tf2tensorrt/utils/trt_logger.cc
  tensorflow/compiler/tf2tensorrt/utils/trt_lru_cache.h
  tensorflow/compiler/tf2tensorrt/utils/trt_shape_optimization_profiles.cc
  tensorflow/examples/custom_ops_doc/multiplex_3/BUILD
  tensorflow/examples/custom_ops_doc/multiplex_3/README.md
  tensorflow/examples/custom_ops_doc/multiplex_3/multiplex_3_kernel.cc
  tensorflow/examples/custom_ops_doc/multiplex_4/README.md
  tensorflow/examples/custom_ops_doc/multiplex_4/multiplex_4_op.py
  tensorflow/examples/custom_ops_doc/simple_hash_table/simple_hash_table.py
  tensorflow/examples/custom_ops_doc/sleep/sleep_op.py
Labels: ready to pull, size:M

#62842 Update broken link in documentation
  tensorflow/examples/speech_commands/train.py
Labels: awaiting review, ready to pull, size:XS
