Repository tensorflow/tensorflow, pull requests merged in 2024-08, with the labels that each got.

#73107 Fix typos in portable_tensor_utils.h
  tensorflow/lite/kernels/internal/portable_tensor_utils.h
Labels: comp:lite, ready to pull, size:XS

#73148 Fixed typos in the documentation strings
  tensorflow/python/autograph/g3doc/pyct_tutorial.ipynb
  tensorflow/python/autograph/pyct/origin_info.py
  tensorflow/python/autograph/pyct/static_analysis/activity.py
  tensorflow/python/autograph/pyct/static_analysis/reaching_definitions_test.py
  tensorflow/python/autograph/pyct/static_analysis/type_inference.py
  tensorflow/python/autograph/pyct/transformer.py
  tensorflow/python/autograph/pyct/transpiler.py
Labels: awaiting review, ready to pull, size:XS

#70742 Fix tensorflow lite label_image cmake build error.
  tensorflow/lite/examples/label_image/CMakeLists.txt
Labels: awaiting review, comp:lite, ready to pull, size:XS, prtype:bugfix

#69087 [oneDNN][BugFix] Fix dtype utility function for F16 AVX2 DL extension
  tensorflow/core/util/util.cc
Labels: awaiting review, ready to pull, size:S, comp:core

#73240 Build and push to Artifact Registry in parallel with gcr.io so we can verify the workflow
  .github/workflows/sigbuild-docker-presubmit.yml
Labels: awaiting review, ready to pull, size:S, build and push to gcr.io for staging

#62960 Fix calculation in resize_bicubic_op_test
  tensorflow/core/kernels/image/resize_bicubic_op_test.cc
  tensorflow/tools/ci_build/build_scripts/ARM_SKIP_TESTS.sh
Labels: awaiting review, ready to pull, size:S, comp:core

#73329 Build and push to Artifact Registry in parallel with gcr.io for weekly build
  .github/workflows/sigbuild-docker.yml
Labels: awaiting review, ready to pull, size:S

#68714 tf-lite CMake: add headers into sources to correctly install them
  tensorflow/lite/CMakeLists.txt
Labels: awaiting review, comp:lite, ready to pull, size:XS

#72936 Add float16 and bfloat16 to tf.range
  tensorflow/core/kernels/sequence_ops.cc
  tensorflow/core/kernels/sequence_ops_gpu.cu.cc
  tensorflow/core/kernels/sequence_ops_test.cc
  tensorflow/python/ops/math_ops.py
Labels: awaiting review, ready to pull, size:S

#73790 Wrap OpRegistry singleton in unique_ptr
  tensorflow/core/framework/op.cc
Labels: awaiting review, ready to pull, size:XS, comp:core

#73875 bugfix of hang since EventMgr::PollEvents mutex contention
  tensorflow/core/common_runtime/device/device_event_mgr.cc
  tensorflow/core/common_runtime/device/device_event_mgr.h
  tensorflow/core/common_runtime/device/device_event_mgr_test.cc
Labels: awaiting review, ready to pull, size:S, prtype:bugfix, comp:core
