Repository tensorflow/tensorflow, pull requests merged in 2024-12, with the labels that each got.

#81671 Add venv to .gitignore
  .gitignore
Labels: ready to pull, size:XS

#82141 Add ppc64le support and improve linker version handling
  configure.py
  tensorflow/tools/pip_package/BUILD
Labels: awaiting review, ready to pull, size:S

#64651 Update multinomial_op logits invalid arguments check description
  tensorflow/core/kernels/multinomial_op.cc
Labels: awaiting review, ready to pull, size:S, comp:core

#82466 Example is added to tf.math.truediv function
  tensorflow/python/ops/math_ops.py
Labels: awaiting review, ready to pull, comp:ops, size:S

#80133 Fix integer overflow in range
  tensorflow/core/kernels/ragged_range_op.cc
  tensorflow/core/kernels/ragged_range_op_test.cc
  tensorflow/core/kernels/sequence_ops.cc
  tensorflow/core/kernels/sequence_ops_test.cc
  tensorflow/core/ops/math_ops.cc
  tensorflow/python/ops/math_ops_test.py
  tensorflow/python/ops/ragged/BUILD
  tensorflow/python/ops/ragged/ragged_range_op_test.py
Labels: awaiting review, ready to pull, size:M, prtype:bugfix, comp:core

#81030 Fix typos in cumulative_logsumexp
  tensorflow/python/ops/math_ops.py
Labels: awaiting review, ready to pull, comp:ops, size:S

#82845 Fix 02 broken links in bert_nl_classifier.md
  tensorflow/lite/g3doc/inference_with_metadata/task_library/bert_nl_classifier.md
Labels: comp:lite, ready to pull, size:XS

#80998 Fix typos in multiple documentation strings
  tensorflow/python/autograph/STYLE_GUIDE.md
Labels: ready to pull, size:S

#80626 The CheckPaddingOverflow function missed checking some padding values
  tensorflow/lite/kernels/pad.cc
  tensorflow/lite/kernels/pad_test.cc
Labels: awaiting review, comp:lite, ready to pull, size:XS

#83338 Fix typos in documentation strings
  tensorflow/core/kernels/batching_util/batch_resource_base.h
  tensorflow/core/kernels/batching_util/batch_scheduler_test.cc
  tensorflow/core/kernels/batching_util/shared_batch_scheduler.h
  tensorflow/core/kernels/batching_util/shared_batch_scheduler_test.cc
  tensorflow/core/kernels/collective_ops.cc
Labels: ready to pull, size:S, comp:core

#83283 Adding missing count_exclude_pattern usage message and fixed typos
  tensorflow/python/tools/inspect_checkpoint.py
Labels: ready to pull, size:XS

#82192 Fix broken link in video classification overview.md
  tensorflow/lite/g3doc/examples/video_classification/overview.md
Labels: awaiting review, comp:lite, ready to pull, size:XS

#82188 Fix 04 broken links in text classification overview.md
  tensorflow/lite/g3doc/examples/text_classification/overview.md
Labels: awaiting review, comp:lite, ready to pull, size:XS

#83720 Fix 06 broken links in ops_compatibility.md
  tensorflow/lite/g3doc/guide/ops_compatibility.md
Labels: comp:lite, ready to pull, size:S
