Repository tensorflow/tensorflow, pull requests merged in 2025-07, with the labels that each got.

#86172 [oneDNN][CPU] fuse a matmul pattern
  tensorflow/core/grappler/optimizers/mkl_remapper_test.cc
  tensorflow/core/grappler/optimizers/remapper.cc
Labels: awaiting review, ready to pull, size:L, comp:core

#96906 avoid failure when docstrings have been stripped (python -OO)
  tensorflow/python/distribute/one_device_strategy.py
  tensorflow/python/keras/backend.py
  tensorflow/python/ops/array_ops.py
  tensorflow/python/ops/distributions/distribution.py
  tensorflow/python/ops/math_ops.py
  tensorflow/python/ops/signal/fft_ops.py
  tensorflow/python/ops/sparse_ops.py
  tensorflow/python/ops/variables.py
  tensorflow/python/saved_model/builder_impl.py
  tensorflow/python/util/all_util.py
  tensorflow/python/util/deprecation.py
Labels: awaiting review, ready to pull, size:M

#97484 Remove unused variable in ResizeBilinear888Uint8
  tensorflow/lite/kernels/internal/optimized/resize_bilinear.h
Labels: awaiting review, ready to pull, size:XS

#96702 [TFLite] Support 16KB page sizes alignment for libtensorflowlite_gpu_gl.so
  tensorflow/lite/delegates/gpu/BUILD
Labels: awaiting review, comp:lite, ready to pull, size:XS
