Repository tensorflow/tensorflow, pull requests merged in 2025-08, with the labels that each got.

#98001 Fix typos in documentation strings
  tensorflow/python/ops/ragged/ragged_array_ops.py
  tensorflow/python/ops/ragged/ragged_dispatch.py
  tensorflow/python/ops/ragged/ragged_math_ops.py
  tensorflow/python/ops/structured/structured_tensor.py
  tensorflow/python/ops/structured/structured_tensor_test.py
  tensorflow/python/ops/weak_tensor_ops_test.py
Labels: awaiting review, ready to pull, size:S, python

#98643 FIX(tensorflow-lite) system path is prefered over TFLITE_HOST_TOOLS_DIR
  tensorflow/lite/CMakeLists.txt
Labels: ready to pull, size:XS

#98644 Fix logic error in _none_to_default function
  tensorflow/python/keras/regularizers.py
Labels: ready to pull, size:XS, python

#97680 [FIX] multi_process_runner_test times out after 2400 seconds on gfx11xx and gfx12xx GPUs
  tensorflow/python/distribute/multi_process_runner.py
Labels: awaiting review, ready to pull, comp:dist-strat, size:M

#99092 Parameter dtype is also optional for `tf.constant()`
  tensorflow/python/framework/constant_op.py
Labels: ready to pull, size:XS, python

#99207 Fix typos in documentation strings
  tensorflow/python/ops/array_ops_stack.py
  tensorflow/python/ops/image_ops_impl.py
  tensorflow/python/ops/parsing_ops.py
  tensorflow/python/ops/ragged/dynamic_ragged_shape.py
  tensorflow/python/ops/special_math_ops.py
Labels: awaiting review, ready to pull, comp:ops, size:S
