Repository tensorflow/tensorflow, pull requests merged in 2025-02, with the labels that each got.

#86439 Fixed broken link in create.md
  tensorflow/lite/g3doc/api_docs/python/tflite_model_maker/text_classifier/create.md
Labels: awaiting review, comp:lite, ready to pull, size:XS

#85408 numpy copy fix
  tensorflow/python/util/BUILD
  tensorflow/python/util/numpy_compat.py
  tensorflow/python/util/numpy_compat_test.py
Labels: ready to pull, size:XS, python

#86653 Use nested namespace
  tensorflow/compiler/mlir/README.md
  tensorflow/compiler/mlir/tosa/tf_passes.h
Labels: awaiting review, kokoro:force-run, ready to pull, size:XS

#86734 Fix typos in documentation strings
  tensorflow/python/data/experimental/benchmarks/parameter_value_benchmark.py
  tensorflow/python/data/experimental/ops/data_service_ops.py
  tensorflow/python/data/experimental/ops/snapshot.py
  tensorflow/python/data/experimental/ops/testing.py
  tensorflow/python/data/experimental/service/server_lib.py
  tensorflow/python/data/kernel_tests/flat_map_test.py
  tensorflow/python/data/kernel_tests/placement_test.py
  tensorflow/python/data/kernel_tests/rebatch_test.py
  tensorflow/python/data/ops/dataset_autograph.py
  tensorflow/python/data/ops/dataset_ops.py
  tensorflow/python/data/ops/iterator_autograph.py
  tensorflow/python/data/ops/options.py
Labels: ready to pull, size:S

#86307 [mlir][tosa] Update Tensorflow to match TOSA v1.0 specification (part 2)
  tensorflow/compiler/mlir/tosa/tests/tf-to-tosa-pipeline.mlir
  tensorflow/compiler/mlir/tosa/tests/tfl-to-tosa-pipeline.mlir
  tensorflow/compiler/mlir/tosa/transforms/legalize_common.cc
  tensorflow/compiler/mlir/tosa/transforms/legalize_common.h
  tensorflow/compiler/mlir/tosa/transforms/legalize_tf.cc
  tensorflow/compiler/mlir/tosa/transforms/legalize_tfl.cc
  tensorflow/compiler/mlir/tosa/transforms/legalize_utils.cc
  tensorflow/compiler/mlir/tosa/transforms/legalize_utils.h
Labels: awaiting review, kokoro:force-run, ready to pull, size:L, comp:lite-tosa

#84497 Replacement PR for #76210 Add support for quint8 type for uniform_quantize and uniform_ dequantize ops
  tensorflow/compiler/mlir/quantization/stablehlo/passes/bridge/convert_tf_quant_ops_to_mhlo.cc
  tensorflow/compiler/mlir/quantization/stablehlo/passes/bridge/convert_tf_quant_to_mhlo_int_test.cc
  tensorflow/compiler/mlir/tensorflow/ir/tf_generated_ops.td
  tensorflow/compiler/mlir/tensorflow/ir/tf_ops.td
  tensorflow/core/kernels/uniform_quant_ops/uniform_dequantize_op.cc
  tensorflow/core/kernels/uniform_quant_ops/uniform_dequantize_op_test.cc
  tensorflow/core/kernels/uniform_quant_ops/uniform_quantize_op.cc
  tensorflow/core/kernels/uniform_quant_ops/uniform_quantize_op_test.cc
  tensorflow/core/ops/uniform_quant_ops.cc
Labels: awaiting review, ready to pull, size:L

#62149 [TOSA ] Add GELU approximate attr and transform to Tosa
  tensorflow/compiler/mlir/tosa/transforms/legalize_tfl.cc
Labels: awaiting review, stale, kokoro:force-run, ready to pull, size:S, comp:lite-tosa

#86977 [mlir][tosa] Add missing dependencies from tflite kernels
  tensorflow/compiler/mlir/tosa/BUILD
Labels: awaiting review, ready to pull, size:XS

#61994 [TOSA] On BatchToSpace legalization, use slice input shape to fix slicing dynamic size
  tensorflow/compiler/mlir/tosa/tests/tfl-to-tosa-pipeline.mlir
  tensorflow/compiler/mlir/tosa/transforms/legalize_common.cc
Labels: kokoro:force-run, ready to pull, size:S, comp:lite-tosa

#86630 Qualcomm AI Engine Direct - Support DUS and Pack Op in LiteRT
  tensorflow/lite/experimental/litert/vendors/qualcomm/compiler/BUILD
  tensorflow/lite/experimental/litert/vendors/qualcomm/compiler/qnn_compiler_plugin_test.cc
  tensorflow/lite/experimental/litert/vendors/qualcomm/compiler/qnn_compose_graph.cc
  tensorflow/lite/experimental/litert/vendors/qualcomm/core/builders/BUILD
  tensorflow/lite/experimental/litert/vendors/qualcomm/core/builders/dynamic_update_slice_op_builder.cc
  tensorflow/lite/experimental/litert/vendors/qualcomm/core/builders/dynamic_update_slice_op_builder.h
  tensorflow/lite/experimental/litert/vendors/qualcomm/core/builders/pack_op_builder.cc
  tensorflow/lite/experimental/litert/vendors/qualcomm/core/builders/pack_op_builder.h
  tensorflow/lite/experimental/litert/vendors/qualcomm/core/wrappers/BUILD
  tensorflow/lite/experimental/litert/vendors/qualcomm/core/wrappers/quantize_params_wrapper.cc
  tensorflow/lite/experimental/litert/vendors/qualcomm/core/wrappers/quantize_params_wrapper.h
Labels: awaiting review, comp:lite, ready to pull, size:XL

#87313 Fix typos in documentation strings
  tensorflow/python/distribute/collective_all_reduce_strategy.py
  tensorflow/python/distribute/combinations.py
  tensorflow/python/distribute/cross_device_ops.py
  tensorflow/python/distribute/distribute_lib.py
  tensorflow/python/distribute/distributed_variable_test.py
  tensorflow/python/distribute/failure_handling/failure_handling.py
  tensorflow/python/distribute/failure_handling/preemption_watcher.py
  tensorflow/python/distribute/mirrored_run.py
  tensorflow/python/distribute/parameter_server_strategy_v2.py
  tensorflow/python/distribute/strategy_combinations.py
  tensorflow/python/distribute/vars_test.py
Labels: ready to pull, size:S

#86942 Add use_default_shell_env = True to ctx.actions.run
  tensorflow/lite/build_def.bzl
  tensorflow/python/tools/api/generator2/generate_api.bzl
  tensorflow/tensorflow.bzl
Labels: awaiting review, comp:lite, ready to pull, size:XS

#86715 Qualcomm AI Engine Direct - Validate and update soc table
  tensorflow/lite/experimental/litert/vendors/qualcomm/supported_soc.csv
Labels: awaiting review, comp:lite, ready to pull, size:S

#87645 Fix typos in documentation strings
  tensorflow/python/eager/imperative_grad.py
  tensorflow/python/eager/polymorphic_function/atomic_function.py
  tensorflow/python/eager/polymorphic_function/compiler_ir.py
  tensorflow/python/eager/polymorphic_function/polymorphic_function.py
  tensorflow/python/eager/polymorphic_function/polymorphic_function_test.py
  tensorflow/python/eager/polymorphic_function/polymorphic_function_xla_jit_test.py
  tensorflow/python/eager/pywrap_tfe.h
  tensorflow/python/eager/summary_optimizer_test.py
  tensorflow/python/eager/tape.py
  tensorflow/python/eager/tensor_test.py
Labels: awaiting review, ready to pull, size:S

#87613 Explicit print options while dumping HLO
  tensorflow/compiler/aot/tests/tfcompile_test.cc
  tensorflow/compiler/jit/get_compiler_ir.cc
  tensorflow/compiler/mlir/tensorflow/utils/tf_xla_mlir_translate.cc
Labels: awaiting review, ready to pull, comp:xla, size:XS

#87568 Fix build error on s390x due to missing hwloc headers
  third_party/hwloc/hwloc.BUILD
  third_party/xla/third_party/tsl/third_party/hwloc/hwloc.BUILD
Labels: awaiting review, ready to pull, comp:xla, size:XS

#87273 [mlir][tosa] Update Tensorflow to match TOSA v1.0 specification (part 3)
  tensorflow/compiler/mlir/tosa/tests/tf-to-tosa-pipeline.mlir
  tensorflow/compiler/mlir/tosa/tests/tfl-to-tosa-pipeline-filtered.mlir
  tensorflow/compiler/mlir/tosa/tests/tfl-to-tosa-pipeline.mlir
  tensorflow/compiler/mlir/tosa/transforms/legalize_common.cc
  tensorflow/compiler/mlir/tosa/transforms/legalize_tf.cc
  tensorflow/compiler/mlir/tosa/transforms/legalize_tfl.cc
  tensorflow/compiler/mlir/tosa/transforms/legalize_utils.cc
Labels: awaiting review, kokoro:force-run, ready to pull, size:XL, comp:lite-tosa

#87937 Qualcomm AI Engine Direct - Add log utils for core module
  tensorflow/lite/experimental/litert/vendors/qualcomm/core/BUILD
  tensorflow/lite/experimental/litert/vendors/qualcomm/core/builders/BUILD
  tensorflow/lite/experimental/litert/vendors/qualcomm/core/builders/gather_op_builder.cc
  tensorflow/lite/experimental/litert/vendors/qualcomm/core/builders/mean_op_builder.cc
  tensorflow/lite/experimental/litert/vendors/qualcomm/core/builders/reduce_op_builder.cc
  tensorflow/lite/experimental/litert/vendors/qualcomm/core/builders/slice_op_builder.cc
  tensorflow/lite/experimental/litert/vendors/qualcomm/core/builders/transpose_op_builder.cc
  tensorflow/lite/experimental/litert/vendors/qualcomm/core/common.h
  tensorflow/lite/experimental/litert/vendors/qualcomm/core/utils/BUILD
  tensorflow/lite/experimental/litert/vendors/qualcomm/core/utils/log.h
  tensorflow/lite/experimental/litert/vendors/qualcomm/core/utils/log_android.cc
  tensorflow/lite/experimental/litert/vendors/qualcomm/core/utils/log_default.cc
  tensorflow/lite/experimental/litert/vendors/qualcomm/core/utils/utils_test.cc
  tensorflow/lite/experimental/litert/vendors/qualcomm/core/wrappers/BUILD
  tensorflow/lite/experimental/litert/vendors/qualcomm/core/wrappers/param_wrapper.h
  tensorflow/lite/experimental/litert/vendors/qualcomm/core/wrappers/tensor_wrapper.cc
Labels: ready to pull, size:L

#67859 [tosa] Fix lowering of tf/tfl expand_dims for negative dim
  tensorflow/compiler/mlir/tosa/tests/tf-to-tosa-pipeline.mlir
  tensorflow/compiler/mlir/tosa/tests/tfl-to-tosa-pipeline.mlir
  tensorflow/compiler/mlir/tosa/transforms/legalize_common.cc
Labels: awaiting review, kokoro:force-run, ready to pull, size:M

#60701 [TOSA] bug fix convert-tfl-uint8 and TFL Cast legalization
  tensorflow/compiler/mlir/tosa/tests/convert-tfl-uint8.mlir
  tensorflow/compiler/mlir/tosa/tests/tfl-to-tosa-pipeline.mlir
  tensorflow/compiler/mlir/tosa/transforms/convert_tfl_uint8.cc
  tensorflow/compiler/mlir/tosa/transforms/legalize_common.cc
  tensorflow/compiler/mlir/tosa/transforms/legalize_common.h
  tensorflow/compiler/mlir/tosa/transforms/legalize_tfl.cc
  tensorflow/compiler/mlir/tosa/transforms/tfl_legalize_patterns.td
Labels: awaiting review, kokoro:force-run, ready to pull, size:L, comp:lite-tosa

#88127 Qualcomm AI Engine Direct - Graph O3 Optimization
  tensorflow/lite/experimental/litert/vendors/qualcomm/compiler/graph_mapper.cc
  tensorflow/lite/experimental/litert/vendors/qualcomm/compiler/graph_mapper.h
Labels: awaiting review, ready to pull, size:M

#87759 Fix 08 broken links in development.md
  tensorflow/lite/g3doc/android/development.md
Labels: comp:lite, ready to pull, size:S

#87655 Fix the broken link in index.md
  tensorflow/lite/g3doc/models/modify/model_maker/index.md
Labels: comp:lite, ready to pull, size:XS

#87246 Fix a broken link in java.md
  tensorflow/lite/g3doc/android/java.md
Labels: comp:lite, ready to pull, size:XS

#88172 [mlir][tosa] Remove specialized 5d reduction legalization and Change Transpose perms operand to attribute
  tensorflow/compiler/mlir/tosa/tests/fuse-bias-tf.mlir
  tensorflow/compiler/mlir/tosa/tests/tf-to-tosa-pipeline.mlir
  tensorflow/compiler/mlir/tosa/tests/tfl-to-tosa-pipeline-filtered.mlir
  tensorflow/compiler/mlir/tosa/tests/tfl-to-tosa-pipeline.mlir
  tensorflow/compiler/mlir/tosa/transforms/legalize_common.cc
  tensorflow/compiler/mlir/tosa/transforms/legalize_tf.cc
  tensorflow/compiler/mlir/tosa/transforms/legalize_tfl.cc
  tensorflow/compiler/mlir/tosa/transforms/legalize_utils.cc
Labels: awaiting review, ready to pull, size:L, comp:lite-tosa

#88314 Fix typos in documentation strings
  tensorflow/python/framework/config.py
  tensorflow/python/framework/func_graph.py
  tensorflow/python/framework/immutable_dict.py
  tensorflow/python/framework/python_api_dispatcher.cc
  tensorflow/python/framework/type_utils.py
  tensorflow/python/framework/weak_tensor.py
Labels: ready to pull, size:S
