Repository tensorflow/tensorflow, pull requests merged in 2025-09, with the labels that each got.

#100135 Note and Clarify the Error Raised in tf.raw_ops.ExtractGlimpse() and tf.raw_ops.ExtractGlimpseV2()
  tensorflow/core/api_def/base_api/api_def_ExtractGlimpse.pbtxt
  tensorflow/core/api_def/base_api/api_def_ExtractGlimpseV2.pbtxt
  tensorflow/core/ops/image_ops.cc
Labels: ready to pull, size:XS, prtype:bugfix, comp:core

#100235 Clarify the range of action of select_cols in tf.io.decode_csv() and tf.raw_ops.DecodeCSV()
  tensorflow/core/api_def/base_api/api_def_DecodeCSV.pbtxt
  tensorflow/python/ops/parsing_ops.py
Labels: ready to pull, size:S, prtype:bugfix, comp:core

#99500 [mlir][tosa] Update rounding mode, nan propagation and resize mode to enums
  tensorflow/compiler/mlir/tosa/tests/convert-tfl-uint8.mlir
  tensorflow/compiler/mlir/tosa/tests/tfl-to-tosa-pipeline.mlir
  tensorflow/compiler/mlir/tosa/tests/tfl-to-tosa-stateful.mlir
  tensorflow/compiler/mlir/tosa/transforms/convert_tfl_uint8.cc
  tensorflow/compiler/mlir/tosa/transforms/legalize_common.cc
  tensorflow/compiler/mlir/tosa/transforms/legalize_common.h
  tensorflow/compiler/mlir/tosa/transforms/legalize_tf.cc
  tensorflow/compiler/mlir/tosa/transforms/legalize_tfl.cc
  tensorflow/compiler/mlir/tosa/transforms/legalize_utils.cc
  tensorflow/compiler/mlir/tosa/transforms/legalize_utils.h
Labels: awaiting review, kokoro:force-run, ready to pull, size:L

#100501 Clarify the error raised between `pad_values` and `padding_width` in func `tf.strings.ngrams()`
  tensorflow/python/ops/ragged/ragged_string_ops.py
Labels: ready to pull, comp:ops, size:XS, prtype:bugfix

#100523 Fix some definition in func `tf.raw_ops.ExperimentalThreadPoolHandle`
  tensorflow/core/api_def/base_api/api_def_ExperimentalThreadPoolHandle.pbtxt
Labels: ready to pull, size:S, prtype:bugfix, comp:core

#100606 Compile tensorflow shared library with -Bsymbolic-functions
  tensorflow/BUILD
  tensorflow/python/BUILD
  tensorflow/tf_framework_version_script.lds
Labels: ready to pull, size:S, prtype:bugfix

#99287 Fix the Doc and Error Format of `round_mode` in func `tf.quantization.quantize()`
  tensorflow/core/api_def/base_api/api_def_QuantizeV2.pbtxt
  tensorflow/core/kernels/quantize_op.cc
Labels: ready to pull, size:XS, prtype:bugfix, comp:core
