Repository tensorflow/tensorflow, pull requests merged in 2025-01, with the labels that each got.

#84158 Fix 08 broken links in best_practices.md
  tensorflow/lite/g3doc/performance/best_practices.md
Labels: comp:lite, ready to pull, size:S

#82798 fix to export symbol correctly on shared library for windows ( fix to bug )
  tensorflow/lite/CMakeLists.txt
  tensorflow/lite/c/CMakeLists.txt
Labels: awaiting review, comp:lite, ready to pull, size:XS

#73926 [NFC][ROCM] Replaced DoMatmul with ExecuteOnStream call for gpu_blas_lt
  tensorflow/core/kernels/matmul_op_fused.cc
  tensorflow/core/kernels/matmul_op_impl.h
  tensorflow/core/kernels/matmul_util.cc
  tensorflow/core/kernels/matmul_util.h
Labels: ready to pull, size:M, comp:core

#83753 Add numpy compliant mul operator override for bool-val tensor.
  tensorflow/python/ops/BUILD
  tensorflow/python/ops/tensor_math_operator_overrides.py
  tensorflow/python/ops/tensor_math_operator_overrides_test.py
Labels: awaiting review, ready to pull, comp:ops, size:S

#81920 Fix issue #70730
  tensorflow/lite/CMakeLists.txt
Labels: awaiting review, comp:lite, ready to pull, size:XS

#77208 Fix label_image cmake cross-compile error
  tensorflow/lite/examples/label_image/CMakeLists.txt
Labels: awaiting review, comp:lite, ready to pull, size:XS, prtype:bugfix

#59851 Fix endianness issues in arithmetic_optimizer_test.cc tests
  tensorflow/core/grappler/optimizers/arithmetic_optimizer_test.cc
  tensorflow/core/util/tensor_bundle/byte_swap_tensor.cc
  tensorflow/core/util/tensor_bundle/byte_swap_tensor.h
Labels: ready to pull, comp:grappler, size:S

#84463 Fix typos in multiple documentation strings
  tensorflow/python/distribute/input_lib.py
  tensorflow/python/distribute/integration_test/saved_model_test.py
Labels: ready to pull, size:S

#56525 Fix cuDNN LSTM implementation selection with LoadSavedModel C++ API.
  tensorflow/core/grappler/optimizers/BUILD
  tensorflow/core/grappler/optimizers/function_optimizer.cc
  tensorflow/core/grappler/optimizers/implementation_selector.cc
  tensorflow/core/grappler/optimizers/implementation_selector.h
  tensorflow/core/grappler/optimizers/meta_optimizer.cc
  tensorflow/core/grappler/optimizers/meta_optimizer_test.cc
Labels: awaiting review, ready to pull, comp:grappler, size:L

#79330 TfLite. Fix of issue 79317
  tensorflow/lite/core/c/c_api_types.h
Labels: awaiting review, comp:lite, ready to pull, size:XS

#79380 export tensoflow lite c symbols on windows
  tensorflow/lite/CMakeLists.txt
  tensorflow/lite/c/CMakeLists.txt
Labels: comp:lite, ready to pull, size:XS

#84648 Adjust the build config to an existing value defined in .bazelrc
  CONTRIBUTING.md
Labels: ready to pull, size:XS

#84966 Bump ml-dtypes upper bound
  tensorflow/tools/pip_package/setup.py
Labels: TF 2.18

#85339 Fix Bug in XSpace to StepStats Conversion for GPU Tracing to Keep Compatibility with RunMetadata
  tensorflow/core/profiler/convert/xplane_to_step_stats.cc
  tensorflow/core/profiler/utils/xplane_schema.h
Labels: awaiting review, ready to pull, size:S, comp:core

#85367 Fix incorrect implementation of parallel matmul
  tensorflow/python/ops/parallel_for/pfor.py
Labels: awaiting review, ready to pull, size:XS

#85581 Fixed the typos in multiple files
  tensorflow/compiler/mlir/lite/experimental/common/outline_operations.cc
  tensorflow/core/framework/full_type_util.h
  tensorflow/core/protobuf/config.proto
Labels: ready to pull, size:XS

#85608 [mlir][tosa] Update Tensorflow to match TOSA v1.0 specification
  tensorflow/compiler/mlir/tosa/tests/tf-to-tosa-pipeline.mlir
  tensorflow/compiler/mlir/tosa/tests/tf-unequal-ranks.mlir
  tensorflow/compiler/mlir/tosa/tests/tfl-to-tosa-pipeline-filtered.mlir
  tensorflow/compiler/mlir/tosa/tests/tfl-to-tosa-pipeline.mlir
  tensorflow/compiler/mlir/tosa/tests/tfl-unequal-ranks.mlir
  tensorflow/compiler/mlir/tosa/transforms/legalize_common.cc
  tensorflow/compiler/mlir/tosa/transforms/legalize_common.h
  tensorflow/compiler/mlir/tosa/transforms/legalize_tf.cc
  tensorflow/compiler/mlir/tosa/transforms/legalize_tfl.cc
  tensorflow/compiler/mlir/tosa/transforms/legalize_utils.cc
  tensorflow/compiler/mlir/tosa/transforms/legalize_utils.h
  tensorflow/compiler/mlir/tosa/transforms/tf_legalize_patterns.td
  tensorflow/compiler/mlir/tosa/transforms/tfl_legalize_patterns.td
Labels: awaiting review, size:L

#83343 Fix MapUnstage crash when key is not a scaler
  tensorflow/core/kernels/map_stage_op.cc
  tensorflow/python/kernel_tests/data_structures/map_stage_op_test.py
Labels: awaiting review, ready to pull, size:S, prtype:bugfix, comp:core

#80498 Modify regular expression pattern for kernels filter in CMakeLists.txt
  tensorflow/lite/CMakeLists.txt
Labels: awaiting review, comp:lite, ready to pull, size:XS, prtype:bugfix

#82210 Align num_threads parameter validation with documentation
  tensorflow/lite/python/interpreter.py
Labels: awaiting review, comp:lite, ready to pull, size:S

#86164 Disable creation of issues that don't follow the template
  .github/ISSUE_TEMPLATE/config.yml
Labels: ready to pull, size:XS

#86234 Fix 03 broken links in index.md
  tensorflow/lite/g3doc/models/build/index.md
Labels: ready to pull, size:XS
