Repository tensorflow/tensorflow, pull requests merged in 2025-04, with the labels that each got.

#87709 [oneDNN][XLA:CPU] Add NonmaxsuppresionV3/V4 in slow ops
  tensorflow/compiler/jit/compilability_check_util.cc
  tensorflow/compiler/jit/compilability_check_util_test.cc
Labels: awaiting review, ready to pull, size:XS

#61989 [TOSA] Add int8 and int16 legalization of the EXP op
  tensorflow/compiler/mlir/tosa/tests/tfl-to-tosa-pipeline.mlir
  tensorflow/compiler/mlir/tosa/transforms/legalize_common.cc
  tensorflow/compiler/mlir/tosa/transforms/legalize_tfl.cc
  tensorflow/compiler/mlir/tosa/transforms/legalize_utils.cc
  tensorflow/compiler/mlir/tosa/transforms/legalize_utils.h
  tensorflow/compiler/mlir/tosa/transforms/tfl_legalize_patterns.td
Labels: stale, kokoro:force-run, ready to pull, size:M

#88803 Fix 03 broken links in object_detection.md
  tensorflow/lite/g3doc/android/tutorials/object_detection.md
Labels: comp:lite, ready to pull, size:XS

#90182 Update 04 broken links in gpu_native.md
  tensorflow/lite/g3doc/android/delegates/gpu_native.md
Labels: comp:lite, ready to pull, size:S

#89671 Update 07 broken links in text_classification.md
  tensorflow/lite/g3doc/android/tutorials/text_classification.md
Labels: awaiting review, comp:lite, ready to pull, size:S

#90573 [mlir][tosa] Fix up lit tests
  tensorflow/compiler/mlir/tosa/tests/tf-to-tosa-pipeline.mlir
  tensorflow/compiler/mlir/tosa/tests/tfl-to-tosa-pipeline.mlir
Labels: kokoro:force-run, ready to pull, size:S

#72370 [Tosa] Add support for legalizing scatter_nd
  tensorflow/compiler/mlir/tosa/tests/tf-to-tosa-pipeline.mlir
  tensorflow/compiler/mlir/tosa/tests/tfl-to-tosa-pipeline.mlir
  tensorflow/compiler/mlir/tosa/transforms/legalize_common.cc
  tensorflow/compiler/mlir/tosa/transforms/legalize_common.h
  tensorflow/compiler/mlir/tosa/transforms/legalize_tf.cc
  tensorflow/compiler/mlir/tosa/transforms/legalize_tfl.cc
  tensorflow/compiler/mlir/tosa/transforms/legalize_utils.cc
  tensorflow/compiler/mlir/tosa/transforms/legalize_utils.h
Labels: kokoro:force-run, ready to pull, size:L, comp:lite-tosa

#90456 [mlir][tosa] Add int8 and int16 legalization of the LOG op
  tensorflow/compiler/mlir/tosa/tests/tfl-to-tosa-pipeline.mlir
  tensorflow/compiler/mlir/tosa/transforms/legalize_tfl.cc
  tensorflow/compiler/mlir/tosa/transforms/tfl_legalize_patterns.td
Labels: awaiting review, kokoro:force-run, ready to pull, size:M, comp:lite-tosa

#90579 Fix NVCC+Clang build failure
  tensorflow/core/util/gpu_device_functions.h
Labels: ready to pull, size:XS, comp:core

#90551 Fix typos in documentation strings
  tensorflow/python/keras/engine/base_layer_utils.py
  tensorflow/python/keras/engine/compile_utils.py
  tensorflow/python/keras/engine/data_adapter.py
  tensorflow/python/keras/engine/sequential.py
  tensorflow/python/keras/engine/training_utils.py
  tensorflow/python/keras/layers/core.py
  tensorflow/python/keras/models.py
Labels: ready to pull, size:S, python

#90494 Fix compilation error due to overloads of cub::ThreadLoadVolatilePointer
  tensorflow/core/kernels/gpu_prim.h
Labels: ready to pull, size:S, comp:core

#91088 [mlir][tosa] Fix log lit tests
  tensorflow/compiler/mlir/tosa/tests/tfl-to-tosa-pipeline.mlir
Labels: ready to pull, size:XL

#90985 [mlir][tosa] Slice maxpool2d input to tosa expected size
  tensorflow/compiler/mlir/tosa/tests/tfl-to-tosa-pipeline.mlir
  tensorflow/compiler/mlir/tosa/transforms/legalize_tfl.cc
Labels: awaiting review, kokoro:force-run, ready to pull, size:S, comp:lite-tosa

#91223 [mlir][tosa] Fix transpose_conv2d lit test
  tensorflow/compiler/mlir/tosa/tests/tfl-to-tosa-pipeline.mlir
Labels: kokoro:force-run, ready to pull, size:S

#91226 [mlir][tosa] Add concat qi8 tests case
  tensorflow/compiler/mlir/tosa/tests/tfl-to-tosa-pipeline.mlir
Labels: ready to pull, size:S

#91179 Fix typos in documentation strings
  tensorflow/python/keras/callbacks.py
  tensorflow/python/keras/engine/compile_utils.py
  tensorflow/python/keras/engine/training_utils_v1.py
  tensorflow/python/keras/layers/merge.py
  tensorflow/python/keras/losses.py
  tensorflow/python/keras/metrics.py
  tensorflow/python/keras/optimizer_v2/optimizer_v2.py
Labels: ready to pull, size:S, python

#90802 [mlir][tosa] Remove softmax legalization changes causing numerical divergence
  tensorflow/compiler/mlir/tosa/tests/tfl-to-tosa-pipeline.mlir
  tensorflow/compiler/mlir/tosa/transforms/legalize_common.cc
Labels: size:M, comp:lite-tosa

#90800 [mlir][tosa] Fix fully connected legalization when output shape is dynamic
  tensorflow/compiler/mlir/tosa/tests/tfl-to-tosa-pipeline.mlir
  tensorflow/compiler/mlir/tosa/transforms/legalize_tfl.cc
Labels: awaiting review, kokoro:force-run, ready to pull, size:M, comp:lite-tosa

#62829 [TOSA] HardSwish Table generation for int8 inputs
  tensorflow/compiler/mlir/tosa/BUILD
  tensorflow/compiler/mlir/tosa/transforms/legalize_tfl.cc
  tensorflow/compiler/mlir/tosa/transforms/legalize_utils.cc
  tensorflow/compiler/mlir/tosa/transforms/legalize_utils.h
Labels: kokoro:force-run, ready to pull, size:M, comp:lite-tosa

#90801 [mlir][tosa] Fix reduction legalization when output is dynamic
  tensorflow/compiler/mlir/tosa/tests/tfl-to-tosa-pipeline.mlir
  tensorflow/compiler/mlir/tosa/transforms/legalize_common.cc
  tensorflow/compiler/mlir/tosa/transforms/legalize_common.h
  tensorflow/compiler/mlir/tosa/transforms/legalize_tf.cc
  tensorflow/compiler/mlir/tosa/transforms/legalize_tfl.cc
Labels: awaiting review, kokoro:force-run, ready to pull, size:M, comp:lite-tosa

#91416 Fix C compatibility issue in TfLiteQuantizationType enum
  tensorflow/lite/core/c/common.h
Labels: ready to pull, size:XS

#91520 Add Python 3.13 classifier
  tensorflow/tools/pip_package/setup.py.tpl
Labels: ready to pull, size:XS

#91501 Add `use_default_shell_env = True` to `build_pip_package_py` rule
  tensorflow/tools/pip_package/utils/tf_wheel.bzl
Labels: ready to pull, size:XS

#91897 Fix wrong supported types for tanh and logistic for xnnpack delegate
  tensorflow/lite/delegates/xnnpack/xnnpack_delegate.cc
Labels: comp:lite, ready to pull, size:S

#92199 [mlir][tosa] Add legalization for tfl.bitwise_xor
  tensorflow/compiler/mlir/tosa/tests/tfl-to-tosa-pipeline.mlir
  tensorflow/compiler/mlir/tosa/transforms/legalize_tfl.cc
Labels: ready to pull, size:S

#92240 Fix pointer stability
  tensorflow/core/kernels/matmul_util.cc
Labels: ready to pull, size:S, comp:core

#86943 Remove unused `LIBDIR` and `INCLUDEDIR` build variables
  .bazelrc
  configure.py
Labels: ready to pull, size:XS
