Repository tensorflow/tensorflow, pull requests merged in 2025-06, with the labels that each got.

#93811 Eigen SVE build fix.
  tensorflow/core/kernels/sparse_matmul_op.h
  tensorflow/lite/kernels/cast.cc
Labels: awaiting review, ready to pull, size:S, comp:core

#94385 [tosa] Infer unknown input or output dimensions in tfl.Pack legalization
  tensorflow/compiler/mlir/tosa/tests/tfl-to-tosa-pipeline.mlir
  tensorflow/compiler/mlir/tosa/transforms/legalize_common.cc
Labels: awaiting review, kokoro:force-run, ready to pull, size:L, comp:lite-tosa

#94438 [tosa] Support variable bias for convolutional ops
  tensorflow/compiler/mlir/tosa/tests/tfl-to-tosa-pipeline.mlir
  tensorflow/compiler/mlir/tosa/transforms/legalize_tfl.cc
Labels: kokoro:force-run, ready to pull, size:L, comp:lite-tosa

#94854 Remove tensorflow-intel from Linux wheel metadata
  tensorflow/tools/pip_package/setup.py.tpl
Labels: awaiting review, ready to pull, size:XS

#95506 Fixed the issue when accessing paddings_data in VisitPadNode
  tensorflow/lite/delegates/xnnpack/xnnpack_delegate.cc
Labels: ready to pull, size:XS

#95205 Allow TFL to TOSA pipeline to load TFL dialect
  tensorflow/compiler/mlir/tosa/tf_tosa_opt.cc
Labels: ready to pull, size:XS, comp:lite-tosa

#95627 Fix typos in documentation strings
  tensorflow/python/ops/collective_ops.py
  tensorflow/python/ops/image_grad_d9m_test.py
  tensorflow/python/ops/nn_ops.py
  tensorflow/python/ops/ragged/ragged_bincount_ops.py
  tensorflow/python/ops/ragged/ragged_gather_op_test.py
  tensorflow/python/ops/ragged/ragged_tensor_test.py
  tensorflow/python/ops/weak_tensor_constant_op_test.py
Labels: awaiting review, ready to pull, size:S, python

#95844 [tosa] Re-register the quantization dialect
  tensorflow/compiler/mlir/tosa/tf_tosa_opt.cc
Labels: awaiting review, ready to pull, size:XS

#95868 Fix typos in documentation strings
  tensorflow/python/ops/collective_ops.py
  tensorflow/python/ops/ctc_ops.py
  tensorflow/python/ops/gradients_test.py
  tensorflow/python/ops/list_ops.py
  tensorflow/python/ops/ragged/ragged_tensor.py
  tensorflow/python/ops/ragged/row_partition.py
Labels: awaiting review, ready to pull, size:S
