Repository tensorflow/tensorflow, pull requests merged in 2025-05, with the labels that each got.

#92336 fix(WeakTrackableReference): correct weak reference type handling
  tensorflow/python/trackable/base.py
Labels: awaiting review, ready to pull, size:XS

#92969 [tosa] Fix member access post-MLIR upstream 0c61b24
  tensorflow/compiler/mlir/tosa/transforms/legalize_utils.cc
Labels: kokoro:force-run, ready to pull, size:XS

#92911 [mlir][tosa] Update variable read/write names to align with v1.0 spec
  tensorflow/compiler/mlir/tosa/tests/tfl-to-tosa-stateful.mlir
Labels: kokoro:force-run, ready to pull, size:XS, comp:lite-tosa

#92956 Fix an error in the doc of `tf.strided_slice`
  tensorflow/python/ops/array_ops.py
Labels: awaiting review, ready to pull, comp:ops, size:XS

#92987 [tosa] Fix `obj.isa` -> `mlir::isa` in an assertion
  tensorflow/compiler/mlir/tosa/transforms/legalize_utils.cc
Labels: awaiting review, ready to pull, size:XS, comp:lite-tosa

#94291 Fix model save sparsecore
  tensorflow/python/checkpoint/checkpoint_adapter.py
  tensorflow/python/tpu/BUILD
  tensorflow/python/tpu/tpu_embedding_for_serving.py
  tensorflow/python/tpu/tpu_embedding_v3_additional_test.py
  tensorflow/python/tpu/tpu_embedding_v3_checkpoint_adapter.py
  tensorflow/python/tpu/tpu_embedding_v3_checkpoint_adapter_test.py
Labels: size:L

#87946 TfLite. Fix of issue 61269
  tensorflow/lite/delegates/gpu/common/tasks/special/conv_pointwise.cc
Labels: awaiting review, comp:lite, ready to pull, size:XS

#93941 Tflite wheel armcortexa9 armv7 vfpv3
  tensorflow/lite/tools/cmake/download_toolchains.sh
  tensorflow/lite/tools/pip_package/build_pip_package_with_cmake.sh
Labels: awaiting review, comp:lite, ready to pull, size:S
